[2013-05-06 16:44] samreid opened #1 "Quick review and minor fixes"
I'm going to take a quick look through the current balloons-and-static-electricity code and make review comments and minor fixes in this ticket.

[2013-05-08 21:26] podolefsky opened #2 "Change background from white to blue"
The background is currently white. It should be changed to the same shade of blue as in the mock up. RGB = (157,220,248)  #9ddcf8

[2013-05-08 21:33] podolefsky opened #3 "Show radio button circle icons on the "show all charges" and adjacent radio buttons"
The "show all charges" and adjacent radio buttons should have ratio button circle icons, as shown in the mock up.

[2013-05-08 21:33] podolefsky opened #4 "Text for the "show all charges" and adjacent buttons should be left aligned"
Text for the "show all charges" and adjacent buttons should be left aligned as shown in the mock up.

[2013-05-08 21:34] podolefsky opened #5 "Make the "1" vs "2" balloons buttons using scenery paths and images"
Instead of bootstrap, make the “1” vs “2” balloons buttons using scenery paths & images, as shown in the mockup, so that the selected button looks “pressed in” and the unselected button looks “popped up” with a drop shadow.

[2013-05-08 21:35] podolefsky opened #6 "Add the "reset balloon" button"
The "reset balloon" button only resets the charges to their initial state. This is different from "reset all", which resets the entire sim back to the initial state.

[2013-05-08 21:36] podolefsky opened #7 "Make the button colors match the mockup"
The "Remove Wall" and "Add Wall" button colors should match the mock up (orange gradient for Remove Wall and greed gradient for Add Wall)

[2013-05-08 21:37] podolefsky opened #8 ""Add Wall" button text should be two lines"
The "Add Wall" button text should be two lines, as shown in the mock up. The "Add Wall" and "Remove Wall" buttons should be the same size and location.

[2013-05-10 05:13] samreid opened #9 "Balloon strings should not meet at the top of the title bar."
The balloon strings touch at the top of the title bar.  Instead, the point of intersection should be moved down below (behind) the title bar where it cannot be seen, as in the mockup.

[2013-05-10 05:13] samreid opened #10 "The sim should start with a single balloon (they yellow one) instead of both"
The sim should start with a single balloon (they yellow one) instead of both.

[2013-05-10 05:15] samreid opened #11 "On startup, the balloon string should be vertical."
When the sim starts, and just one balloon is showing (see #10 ) the string should be vertical, indicating that the balloon is pulling straight up instead of to the side.

[2013-05-10 05:15] samreid opened #12 "The sweater should not overlap the control buttons"
The sweater should not overlap the control buttons, as in the mockup.

[2013-05-10 05:15] samreid opened #13 "Balloons should be smaller in size to match mock up"
Balloons should be smaller in size to match mock up

[2013-05-10 05:16] samreid opened #14 "The wall charges oscillate too long"
When moving a charged balloon toward the wall, the wall charges oscillate quite a long time (several seconds) and it is distracting.  Can damping be added to its oscillation so it will won't oscillate too long?

[2013-05-12 11:46] #3 closed, assigned to nobody

[2013-05-13 07:59] #1 closed, assigned to samreid

[2013-05-13 08:00] #4 closed, assigned to nobody

[2013-05-13 08:41] #10 closed, assigned to nobody

[2013-05-13 08:58] #6 closed, assigned to nobody

[2013-05-13 09:00] #8 closed, assigned to nobody

[2013-05-13 09:02] #9 closed, assigned to nobody

[2013-05-13 09:42] #13 closed, assigned to nobody

[2013-05-13 09:44] #12 closed, assigned to nobody

[2013-05-13 09:49] #11 closed, assigned to nobody

[2013-05-13 10:37] #2 closed, assigned to nobody

[2013-05-13 10:55] #7 closed, assigned to nobody

[2013-05-13 11:40] #5 closed, assigned to nobody

[2013-05-13 11:54] #14 closed, assigned to nobody

[2013-05-13 12:16] vasily-shakhov opened #15 "need translations for new strings"
In html5 version new string appeared. Need translate them to all languages.
List below (from balloons-and-static-electricity-strings.js):

            "BalloonApplet.removeWall": "Remove<br/> Wall",
            "BalloonApplet.addWall": "Add<br/> Wall",
            "BalloonApplet.resetBalloon": "resetBalloon",
            "BalloonApplet.resetBalloons": "resetBalloons"

[2013-05-15 15:26] samreid opened #16 "require statements should have the var name equal the file name"
In SweaterModel.js, the require statement says `var PointCharge = require( 'model/PointChargeModel' );`.  In this case and others, the var name should match the required filename to facilitate searches and code navigation.

[2013-05-15 15:31] samreid opened #17 "Clarify comment in BalloonsAndStaticElectricityModel.js"
I didn't understand this comment in the aforementioned file `//if we write 0 instead of "0", then parameter becomes object, not number`, can you clarify or remove the comment if it is no longer applicable?

[2013-05-15 15:32] samreid opened #18 "Date.now in BalloonsAndStaticElectricityModel.js"
In BalloonsAndStaticElectricityModel.js line 48 do you think we could use

[code]

instead of

[code]

?

[2013-05-16 01:40] samreid opened #19 "Text for all buttons should be black instead of gray"
Text for all buttons should be black instead of gray, see screenshot.

![controls](https://f.cloud.github.com/assets/679486/510300/8d288932-bdc9-11e2-86c7-51ad3e429c17.png)

[2013-05-16 01:44] samreid opened #20 ""1 vs 2" balloon radio buttons should be swapped left to right"
"1 vs 2" balloon radio buttons should be swapped left to right, see the screen shot.

![balloons-buttons](https://f.cloud.github.com/assets/679486/510317/20a766a6-bdca-11e2-8f65-ee7531732460.png)

[2013-05-16 01:46] samreid opened #21 "Reduce the lineWidth stroke on the "1 vs 2" balloons radio buttons"
Please reduce the lineWidth of the “1 vs 2” balloons radio buttons border stroke to match the mockup more closely.  It looks like it may be 3 now but should be 2 or so like in the mockup.  Here is a comparison:

![balloons-buttons](https://f.cloud.github.com/assets/679486/510319/4d132518-bdca-11e2-9c29-b64493c3ac1a.png)

[2013-05-16 01:47] samreid opened #22 "The "1 vs 2" balloon radio button should be centered over the "reset balloon" button"
The "1 vs 2" balloon radio button should be centered over the "reset balloon" button.

![buttons-centered](https://f.cloud.github.com/assets/679486/510328/94af0e78-bdca-11e2-8f23-e540e33b8dff.png)

[2013-05-16 01:48] samreid opened #23 "Move the balloon string to the left so it does not overlap the "1 vs 2" balloon radio button"
Please move the balloon string to the left so it does not overlap the "1 vs 2" balloon radio button, and has some space to the left as in the mockup.

![buttons-centered](https://f.cloud.github.com/assets/679486/510333/b4e1ac28-bdca-11e2-8730-992de925b913.png)

[2013-05-16 01:50] samreid opened #24 "Add black stroke outline to Reset Balloon and Remove Wall buttons"
If it is easy, please add black stroke outline to Reset Balloon and Remove Wall bootstrap buttons.

![button-border](https://f.cloud.github.com/assets/679486/510336/e43e7c3a-bdca-11e2-93eb-c3e8d02e7083.png)

[2013-05-16 01:50] samreid opened #25 "Balloon should be exactly 20% larger in size to match mockup"
Balloon should be exactly 20% larger in size to match mockup

[2013-05-16 01:50] samreid opened #26 "Charges should be exactly 30% larger in size to match mockup"
Charges should be exactly 30% larger in size to match mockup

[2013-05-16 15:16] podolefsky opened #27 "Initial position of yellow balloon should be lower on the screen"
The initial position of the yellow balloon should be lower on the screen, as shown in the mockup. Approximately the middle of the sweater vertically.

[2013-05-16 15:17] podolefsky opened #28 "Charges should be easier to pick up from sweater"
It takes more swipes to remove more charges from the sweater than in the original Java version. Please make it easier for the balloon to pick up charges when dragged across the sweater, to match the behavior in the original Java version.

[2013-05-16 15:19] podolefsky opened #29 "The balloon should move only when the mouse cursor is on it"
If you move the balloon to the edge of the window, then hold down the mouse button and continue to move the cursor, then bring the cursor back to the window the balloon moves before the mouse cursor gets to it. This makes the balloon become detached from the mouse cursor.

The behavior should be as in the original Java version, where the balloon only moves when the mouse cursor is over it.

[2013-05-16 15:20] podolefsky opened #30 "Reduce balloon acceleration when released"
The balloon moves too quickly when it is charged and released. Reduce the acceleration of the balloon so that it moves more slowly, to match the behavior in the original Java version.

[2013-05-16 15:21] podolefsky opened #31 "Firefox: "show charges" radio buttons are not left aligned as they are in Chrome"
One of several layout issues in Firefox.

[2013-05-16 15:21] podolefsky opened #32 "Firefox: "show charges" radio buttons are too small, the text is going off the side"

[2013-05-16 15:22] podolefsky opened #33 "Firefox: The "1 vs 2" radio buttons have a problem where the button with 2 balloons has the balloons top to bottom instead of side to side"

[2013-05-16 15:22] podolefsky opened #34 "IE10: Button layout should match the mockup"

[2013-05-21 10:46] #17 closed, assigned to nobody

[2013-05-21 10:46] #18 closed, assigned to nobody

[2013-05-21 11:55] #19 closed, assigned to nobody

[2013-05-21 11:55] #20 closed, assigned to nobody

[2013-05-21 12:00] #22 closed, assigned to nobody

[2013-05-21 12:00] #24 closed, assigned to nobody

[2013-05-21 12:35] #25 closed, assigned to nobody

[2013-05-21 12:43] #23 closed, assigned to nobody

[2013-05-21 12:43] #27 closed, assigned to nobody

[2013-05-21 12:53] #21 closed, assigned to nobody

[2013-05-21 13:04] #30 closed, assigned to nobody

[2013-05-22 10:05] #16 closed, assigned to nobody

[2013-05-28 08:57] #33 closed, assigned to nobody

[2013-05-28 09:00] vasily-shakhov opened #35 "Wrong scaling in Firefox"
HTML elements not scales correctly in Firefox (they are added in ControlPanel.js).
In IE and Chrome its ok.

![untitled-2](https://f.cloud.github.com/assets/2444398/571361/03344468-c775-11e2-84d9-1a2c389868a9.png)

[2013-05-28 10:20] #32 closed, assigned to nobody

[2013-05-28 10:21] #31 closed, assigned to nobody

[2013-06-03 19:09] samreid opened #36 "Convert BalloonsAndStaticElectricityModel.bounds from array to object literal or DOT/Bounds2"
Currently bounds is declared as:

[code]

Which leads to code like:

[code]

I would recommend switching to an object literal or DOT/Bounds2 so code would read like bounds.maxY instead of bound[3] to make it easier to understand.

[2013-06-03 19:36] samreid opened #37 "Improvements for BalloonsAndStaticElectricityModel.getBalloonRestrictions"
This method in BalloonsAndStaticElectricityModel.getBalloonRestrictions would benefit from some code comments.  Also, it is a bit odd that it is a `get` function, but what it actually does is attaches a value to one of the arguments and returns the argument.  May be confusing.

[code]

[2013-06-03 19:45] samreid opened #38 "Documentation for BalloonModel.js"
Many of the methods in BalloonModel.js would benefit from more documentation (code comments) to explain what is happening and why.

[2013-06-04 10:17] #36 closed, assigned to nobody

[2013-06-04 10:17] #37 closed, assigned to nobody

[2013-06-04 10:17] #38 closed, assigned to nobody

[2013-06-04 20:32] samreid opened #39 "Use peer repos instead of repos nested within scenery"
Right now the simulation depends on submodules of scenery, but I think it should be changed so it is using peers for everything, including scenery's dependencies.  This will require developers to have all of the dependencies listed in the *config.js checked out in the same directory.

[2013-06-06 15:58] samreid opened #40 "Documentation for BalloonModel.js positions"
In BalloonModel.js please document the array of positions and positions of start changes (what do the values mean and where did they come from, what possible reasons might come up for regenerating the array in the future).

[2013-06-06 15:59] samreid opened #41 "Documentation for BalloonModel.xVelocityArray"
In BalloonModel.js, what is the xVelocityArray and why is it needed?  Please add code comments for it.

[2013-06-06 16:15] samreid opened #42 "BalloonModel.getSweaterForce should not take a balloon argument"
BalloonModel.getSweaterForce currently takes 2 arguments, the sweaterModel and the balloonModel.  Shouldn't it just take a sweaterModel argument and use the 'this' as the balloonModel, so you can call `balloon.getSweaterForce(sweater)`?

[2013-06-06 16:16] samreid opened #43 "The radio button div is blocking the UI events"
The buttons on the right (reset all and remove wall) cannot be pressed because the radio buttons div is too wide.  Can it be manually sized so it won't overlap them?

[2013-06-06 16:17] samreid opened #44 "SweaterModel.js constants need documentation"
Can you please add code comments to describe the positions in SweaterModel?  Where did these values come from, what do they mean, and what might cause them to change in the future?

[2013-06-06 16:25] samreid opened #45 "The "1 vs 2" balloon radio buttons should be written with scenery"
I believe it will be more maintainable and reusable if the "1 vs 2" balloon pushbutton radiobuttons were implemented in Scenery.  This was also requested in the original specification https://github.com/phetsims/balloons-and-static-electricity/tree/master/doc : `the 1 vs 2 balloon buttons should be created using Scenery`

[2013-06-13 02:28] #39 closed, assigned to jbphet

[2013-06-13 02:30] samreid opened #46 "Switch to the new sweater image"
Our artist gave us a new sweater, but it is not rendering the texture properly on iOS.   @jonathanolson helped fix rendering problems on IE but they did not solve it on iOS.  We should either (a) fix the SVG for iOS or (b) use a raster.

[2013-06-13 02:32] samreid opened #47 "Rewrite the radio buttons with sun"
The bootstrap radio buttons under the sweater look fuzzy on chrome, and get cropped in awkward ways depending on the zoom level of the browser.  At our 6/12/2013 review, Noah & I decided to rewrite them using sun components.

[2013-06-13 02:33] samreid opened #48 "Full screen caused background to turn white"
On Win8/Chrome, F11 full screen caused the background to turn from blue to white once.  Is this problem reproducible?

[2013-06-13 02:35] samreid opened #49 "Convert the "reset balloon" button to an icon or pictograph"
The reset all button gets overlapped when the text on the "reset balloon" button changes to "reset balloons".  Noah will see if he can come up with a sensible icon or pictograph to replace the text (which will also help with i18n layout issues).

[2013-06-13 02:36] samreid opened #50 "Balloon shouldn't be able to leave off the bottom of the screen"
When both balloons are charged, one balloon can chase the other off the bottom of the screen.  The bottom of the screen should have a boundary (like the top of the screen) so the balloons cannot escape.

[2013-06-13 02:38] samreid opened #51 "Balloon-Sweater friction is too low"
When both balloons are charged and one is stuck to the sweater, it is too easy to "chase" away the balloon on the sweater--it should have more friction like the Java version, where you must be very close to be able to change the balloon away.

[2013-06-13 02:39] samreid opened #52 "Balloon should stick to the sweater directly where it is placed"
If you charge a balloon and stick it to the sweater, it will not stay where it is placed, but it will move about on the sweater (to a new location on the sweater).  The balloon shouldn't move too much (or at all) if it is charged and placed on the sweater.

[2013-06-13 02:41] samreid opened #53 "The wall should just be a finite rectangle in all directions"
Currently the wall extends infinitely to the right and down, but not left or up, which is confusing because charges are only shown in a small region of the wall.  We should only show wall as a finite rectangle in all dimensions, roughly in the area where the charges are.  We will have to make certain however, that the wall extends far enough to the right so that a fully charged balloon cannot repe

[2013-06-13 02:42] samreid opened #54 "The navbar 'black' region should extend upwards"
Make a black rectangle black a little bit below the bottom of the buttons.  So that it is about the same level If you make the window wide, find the point where the tab bar ends at the top.

[2013-06-13 02:43] samreid opened #55 "Balloon not pickable in certain regions"
If you release a charged balloon in the air and it goes to stick on the sweater, the hit region for the balloon is truncated on the top side of the balloon (no cursor hand nor pickability).  Assigned to @samreid for investigation in case it is a scenery or common code issue.

[2013-06-14 14:56] samreid opened #56 "For performance, make charges and other nodes unpickable"
Scenery can efficiently prune subtrees in interaction if they have marked the 'pickable:false' flag, we should try that and see if it improves performance since there are so many charge nodes that could be slowing down the search.

[2013-06-14 20:01] #56 closed, assigned to samreid

[2013-06-14 20:04] #54 closed, assigned to samreid

[2013-06-14 20:05] #48 closed, assigned to samreid

[2013-06-14 20:07] samreid opened #57 "Convert the model from Fort to Axon"
Axon provides benefits beyond Fort, and it would be good to upgrade this sim.  I will look into it.

[2013-06-14 20:47] #57 closed, assigned to samreid

[2013-06-14 22:50] #47 closed, assigned to samreid

[2013-06-14 22:56] #55 closed, assigned to samreid

[2013-06-14 22:58] #35 closed, assigned to samreid

[2013-06-14 22:59] #34 closed, assigned to samreid

[2013-06-14 22:59] #43 closed, assigned to samreid

[2013-06-14 23:01] samreid opened #58 "The radio buttons look like check boxes"
The 'show all charges' and related radio buttons behave like radio buttons but use checkmarks to identify them.  Let's discuss changing that.

[2013-06-14 23:02] samreid opened #59 "Reset wall should use multiline text"
Reset wall should be multiline text.  Scenery currently does not support multiline Text nodes, so we may have to use a workaround for now.  One workaround that may allow us to use proper translations would be to select a line delimiter such as \n or </br> and parse the string into a VBox.

[2013-06-14 23:08] samreid opened #60 "The add/remove wall text should remain centered"
The add/remove wall text should remain centered

[2013-06-15 01:15] #59 closed, assigned to samreid

[2013-06-15 02:34] #58 closed, assigned to samreid

[2013-06-15 03:53] #45 closed, assigned to samreid

[2013-06-16 00:59] #29 closed, assigned to samreid

[2013-06-16 01:05] #46 closed, assigned to samreid

[2013-06-16 01:05] samreid opened #61 "New sweater doesn't render texture on iOS."

[2013-06-16 04:49] #61 closed, assigned to samreid

[2013-06-16 04:51] samreid opened #62 "Switch back to SVG for sweater artwork"
SVG has the advantages of smaller file size, gzippable, and looks crystal clear on every platform + resolution.  However, the last two sweater.svg files had problems that prevented the texture from rendering on IE or Safari.  I have converted to a JPG for now, but it would be good to figure out how to get cross platform SVG artwork working.

[2013-06-19 13:42] #40 closed, assigned to vasily-shakhov

[2013-06-19 13:42] #41 closed, assigned to vasily-shakhov

[2013-06-19 13:42] #44 closed, assigned to vasily-shakhov

[2013-06-19 13:42] #50 closed, assigned to vasily-shakhov

[2013-06-19 13:42] #53 closed, assigned to vasily-shakhov

[2013-06-19 13:57] #26 closed, assigned to vasily-shakhov

[2013-06-20 09:25] #51 closed, assigned to vasily-shakhov

[2013-06-20 09:25] #52 closed, assigned to vasily-shakhov

[2013-06-20 09:52] #42 closed, assigned to samreid

[2013-06-21 00:07] #28 closed, assigned to nobody

[2013-06-25 19:10] #60 closed, assigned to samreid

[2013-07-16 18:04] samreid opened #63 "A balloon can be "pushed" offscreen if the wall is off"
If the wall has been removed and both balloons are charged, one can push the other off the screen.

[2013-07-16 18:04] #63 closed, assigned to samreid

[2013-07-16 18:06] samreid opened #64 "Discrepancy between wall.width and wallWidth"
While I was resolving https://github.com/phetsims/balloons-and-static-electricity/issues/63, I noticed that model.wall.width = 600 whereas model.wallWidth = 80.  What is the reason for this discrepancy, and should it be resolved?

[2013-07-25 03:09] ariel-phet opened #65 "Negative space seems too small between navbar and controls"
The negative "blue" space seems awfully tight between the top of the navbar and the bottom of the show controls, reset balloon, and remove wall controls.

I would recommend vertically centering the show panel in the negative space between the navbar and the bottom right of the sweater, and then aligning the baseline of all controls.

[2013-08-08 04:15] #65 closed, assigned to samreid

[2013-08-15 17:10] jonathanolson opened #66 "Sometimes a radio button will stop working (Nexus 7)"
Unsure of precisely how to cause (and I can't tether and get any error reports right now), but a few times I've had the radio buttons stop responding to input. It usually happens one at a time (for instance, right now I can switch between the top two options, but not the third).

[2013-08-16 14:03] pixelzoom opened #67 "balloon jumps to a new location"
http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.0-rc2/balloons-and-static-electricity_en.html
All platforms.

Put the sim approximately in the state shown in the screenshot below: 2 ballons, both with charges, and no wall.  Then drag the yellow balloon directly on top of the green balloon.  The green balloon appears to jump to a new location without animating to that locatio

[2013-08-16 14:18] pixelzoom opened #68 "performance is sluggish on Firefox + Win7"
Dragging balloons feels sluggish, even with 'no charges' selected.

Here's the diagnostics info:

Troubleshooting information

Name: Balloons and Static Electricity

URL: http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.0-rc2/balloons-and-static-electricity_en.html

Version: 1.0.0-rc2

Features missing: flexbox, touch

User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:23.0)

[2013-08-16 14:25] pixelzoom opened #69 "performance is sluggish on Nexus7"
http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.0-rc2/balloons-and-static-electricity_en.html
Android 4.3
Chrome 28.0.1500.94
Firefox 23.0

Dragging the balloons is sluggish.

[2013-08-16 14:40] pixelzoom opened #70 "aesthetics of "Remove Wall" button"
http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.0-rc2/balloons-and-static-electricity_en.html
All platforms.

Aesthetically, there could be a bit of whitespace between the "Remove Wall" button and the left edge of the wall. Better yet, center the button in the wall.

Here's what it looks like now:

![wall-button](https://f.cloud.github.com/assets/3046552/975899/cdba33be-0681

[2013-08-28 19:06] jbphet opened #71 "Refactor to use PhetFont"
PhetFont should be used in all locations where fonts are specified.

[2013-08-28 21:24] #71 closed, assigned to nobody

[2013-09-05 17:36] pixelzoom opened #72 "missing images/license.txt and assets/"
All images in images/ must be accounted for in images/license.txt.

And any images that were created by PhET should have their original source files (.ai, .psd,...) checked in to assets/.

[2013-10-07 21:48] samreid opened #73 "Balloon gets stuck on a Samsung phone"
On a Samsung phone, it was reported that:

could move the Balloon across the sweater, but couldn't move it back towards the wall.

[2013-10-09 14:25] #62 closed, assigned to samreid

[2013-10-09 14:26] #49 closed, assigned to samreid

[2014-03-04 04:10] samreid opened #74 "Publish using new chipper"
At last week's meeting we decided this sim needed to be republished, since version 1.0.0 on the website isn't using the "single file" build strategy to simplify offline usage.

[2014-06-19 04:07] #73 closed, assigned to nobody

[2014-06-19 04:19] samreid opened #75 "Testing for "spring" redeploy"
I published a release candidate here which should be fully retested (in a testing matrix) for the "spring" redeploys:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.0-rc.4/balloons-and-static-electricity_en.html

[2014-06-19 04:45] samreid opened #76 "Renderer fixes should be made"
I see many things rendered in canvas, and some cssTransform that should be removed.

[2014-06-19 04:51] samreid opened #77 "Black bars on the sides!?"
Perhaps due to the change in default layout bounds, now there are black bars on the sides of this app on iPad3.  Doesn't look too great.

[2014-06-19 16:52] orejolaphet opened #78 "Moving the balloons slowly does not pick up any charge."
Moving the balloons slowly does not pick up any charge, and may instantly pick up charge from locations the balloon travel over.
Low priority.

[2014-06-19 17:02] orejolaphet opened #79 "# of picked up charge is not conserved."
The number of charges is not conserved when being picked up by balloons.

To reproduce select the two balloons option.
Take one balloon and pick up most of the charge and leave a few charges on the sweater(1-3 charges).
Take the second balloon and pick up the remaining charge.
The charges displayed on the balloon are less than the number of charges that were remaining on the sweater.

![untitled](

[2014-06-19 17:14] bryo5363 opened #80 "Difficult to grab certain balloon when both are close together"
Test device:

Operating System:

Browser:

Problem description:When both balloons are in close proximity on the sweater, it is difficult to grab the lower balloon.

Steps to reproduce
-Acquire a negative charge for both balloons (does not have to be equal)
-Set both on the sweater with one balloon higher than the other
-Align the cursor on the same horizontal axis as the bottom of the top balloon

[2014-06-24 22:18] bryo5363 opened #81 "Positions of balloons are not maintained when switching from one balloon to two"
Switching from two balloons to one balloon then back to two balloons will cause one of the balloons to move away from the original positions.

Steps to reproduce
-Distribute charges evenly (or relatively close) between the two balloons
-Place the two balloons in the same location (one overlapping the other)
-Make sure they do not deviate from the location
-Switch to one balloon and back to two bal

[2014-06-24 22:28] orejolaphet opened #82 "Selected balloon should move to the foreground"
I checked the original java sim, and the selected balloon moves to the foreground. This behavior is not present in the html version.

[2014-06-26 21:38] pixelzoom opened #83 "typo in credits"
Sharon's last name is "Siman-Tov".  Noted that this was wrong when addressing https://github.com/phetsims/graphing-lines/issues/10.

[2014-06-27 00:56] pixelzoom opened #84 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-07-29 20:50] pixelzoom opened #85 "website thumbnail is not checked in"
It should be assets/balloons-and-static-electricity-128.png

[2015-01-16 22:15] pixelzoom opened #86 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-01-16 23:34] pixelzoom commented on #86
Fixed, closing.

[2015-01-16 23:34] #86 closed

[2015-02-04 23:10] jonathanolson opened #87 "Assertion failure during fuzzing"
[code]

Looks like it's calling setVisible( undefined ), since 'moved' isn't yet defined on the PointChargeModel. It's not declared in the type itself, but added as a property by its clients?

[2015-02-11 02:20] #87 closed

[2015-02-11 02:21] samreid commented on #87
I reproduced the problem and solved it by !! casting to boolean.

[2015-05-26 17:38] orejolaphet opened #88 "Issue "?stringTest=double" clustered buttons"
Testing for Task https://github.com/phetsims/tasks/issues/245
Rest Balloon, Reset, Add Wall/Remove Wall buttons are all very clustered.
![screen shot 2015-05-26 at 11 35 32 am](https://cloud.githubusercontent.com/assets/5631059/7818904/a5f6f510-039b-11e5-8d9e-78e99190be11.png)

[2015-05-27 15:50] phet-steele opened #89 "MLL has too much credit"
MLL is listed in the credits under both "Software Development" and "Thanks". Their decision was to only be listed under "Thanks", so they should be removed from "Software Development".

[2015-05-27 16:31] phet-steele opened #90 "Name typo in credits"
I've been told it is spelled Sharon "Siman"-Tov, not Simon. It appears as Simon in the credits.

[2015-06-17 21:10] arnabp opened #91 "Right clicking a balloon causes it to stick"
https://drive.google.com/file/d/0BxerAx_XXHB2RE9laGNmUEVIanc/view?usp=sharing

Once I've right clicked on one of the balloons, no matter what I do I cannot let go of the balloon unless I refresh the entire page. I tested this on Mac El Capitan and Yosemite on Chrome and Safari and on a chromebook and all had the issue. When testing on Windows, however, the problem was not there on Chrome nor IE11.

[2015-06-18 17:12] samreid commented on #91
I recommend some investigation on this before 2015 redeploys, will label it as such.

[2015-07-27 19:07] oliver-phet opened #92 "Embedding Balloons and Static Electricity"

[2015-07-27 19:11] #92 closed

[2015-08-02 17:56] samreid commented on #78
Unassigning this for now. I'll reassign it when we start reworking this simulation for the Summer 2015 Redeploy.

[2015-08-02 18:31] samreid commented on #85
We should address this during summer 2015 redeploy, unassigning until then.

[2015-08-05 17:55] oliver-phet opened #93 "Embedding sim hangs at loading screen"
Via user:
The problem with opening the embed sim only appears in Internet Explorer; the sim loads fine with chrome, firefox, android browsers etc.  The sim also opens normally using the play button from the sims page - even in internet explorer

I have stripped things back to basics for the purpose of diagnostics, so the code I am using is:

<html>
<iframe src="http://phet.colorado.edu/sims/html/b

[2015-08-08 04:56] samreid commented on #93
I'll publish a fresh dev version and test the iframe on IE.

[2015-08-08 05:11] samreid commented on #93
I published here:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-dev.1/balloons-and-static-electricity_en-iframe.html

![image](https://cloud.githubusercontent.com/assets/679486/9149164/76528908-3d59-11e5-838a-8e138679c597.png)

So I am unable to reproduce the problem on IE11 with a fresh build.  @oliver-phet can you ask the client to test the link above and re

[2015-08-13 16:24] oliver-phet commented on #93
Email from user sent 8/13:
The link you sent me works fine.  Does this help us diagnose/fix the problem?

[2015-08-13 16:32] samreid commented on #93
If it is fixed in the latest version, perhaps we will have to wait for the upcoming S2015R redeploys before this fix will be published to our website.

[2015-08-13 18:35] oliver-phet commented on #93
Email to user sent 8/13... this fix will be apart of the S2015R.

[2015-08-21 01:09] pixelzoom opened #94 "'ar' and 'ar_SA' string files look wrong"
These are in babel. They look like they are for some other sim - different keys, title key is "balloons-and-buoyancy.name".

Assigning to @samreid to have a look since he was lead on this sim.

[2015-08-21 01:09] pixelzoom commented on #94
Is it possible that these were checked in incorrectly to SVN for the Java version?

[2015-08-25 16:50] pixelzoom commented on #94
These string files are indeed also incorrect for the Java version (in Unfuddle SVN).  The comment header in the Java string files is:

[code]

So they are for `ideal-gas`.  I'm guessing that someone was confused by the title "Balloons and Buoyancy" and thought that those translations belonged in the "balloons" project.

[2015-08-25 16:52] pixelzoom commented on #94
An issue for this should probably be created in Unfuddle.  The 'ar' and 'ar_SA' versions of "Balloons and Static Electricity" is likely deployed with the wrong string files.  And ideal-gas didn't get deployed with these string files.

[2015-08-26 22:27] samreid commented on #94
I checked those string files and confirmed they didn't have any balloons-and-static-electricity strings, so I deleted them from babel.  We'll get new ar and ar_sa translations when rosetta rolls out.  I'll take a look at the published java version next.

[2015-08-26 22:30] samreid commented on #94
Indeed, only the common strings are translated.  I'm somewhat inclined to leave this alone since (a) we have published the HTML version of the sim and (b) we have received no error reports about this and (c) I am uncertain how much work this would be to resolve on the website-- @aaronsamuel137 or @jonathanolson would know how to answer that.
![image](https://cloud.githubusercontent.com/assets/6794

[2015-08-27 13:58] aaronsamuel137 commented on #94
+1 to close as is.

[2015-08-27 16:18] pixelzoom commented on #94
No preference. Probably a management decision.

[2015-08-27 16:23] samreid commented on #94
I'll reopen to see if @kathy-phet @ariel-phet or @oliver-phet wants to comment.

[2015-08-27 16:52] samreid commented on #94
@kathy-phet suggested to reinstate the ar and ar_sa translations.

[2015-09-04 15:56] samreid commented on #94
I checked the history of svn and there are no ar or ar_SA submissions for balloons-and-static-electricity.  I checked and the ideal-gas subproject balloons-and-buoyancy has both translations.  So all that's left to do here is to (a) remove the ar and ar_SA translations of balloons-and-static-electricity from the website or (b) get a translator to retranslate them.   Reassigned to @aaronsamuel137 t

[2015-09-05 15:51] aaronsamuel137 commented on #94
I'm not totally sure what the best way of removing these from the website is... perhaps @jonathanolson can comment.

The easiest thing I can think of it to remove those locales from the balloons.xml file and resynchronize the project, and I guess delete the jar and jnlp files too if that won't cause issues. Does this sound like the right approach @jonathanolson?

[2015-10-06 17:29] ariel-phet opened #95 "Radio buttons are too large"
We now have much more reasonable sized radio buttons, the radio buttons in the sim should be reduced in visual size to aesthetically match our newer sims

[2015-10-08 04:22] kathy-phet opened #96 "Download file only 1kb and not working from main website"
I was just trying to provide some emergency access to the sims for tomorrows downtime, and found that the download of balloons and static electricity was not working. Assigning to Aaron to look into to see why it isn't a good download.

[2015-10-08 05:15] samreid commented on #96
For reference, here is the entire HTML file when you click download:

[code]

[2015-10-08 16:02] aaronsamuel137 commented on #96
Looks like balloons-and-static-electricity uses an old version of the build process?

Here's the files on the server:

[code]

Seems like it works live and not as a download because balloons-and-static-electricity_en.html depends on these other files, as opposed everything being bundled in one html file.

I don't know how to fix this except to redeploy with the sim with new build process. Can some

[2015-10-08 16:12] samreid commented on #96
Consensus: Increase priority for summer 2015 redeploys.

[2015-10-08 16:14] pixelzoom opened #97 "check for i18n layout issues"
... with stringTest=double and stringTest=SomeVeryLongStringThatMightCauseProblems.

[2015-10-08 16:15] samreid commented on #96
New consensus: inline the external files into the HTML so it will work with a single file.  @kathy-phet asked @jonathanolson to look into this.

[2015-10-08 16:17] samreid commented on #96
I marked this as High Priority since it is essentially a "will not launch" bug for people trying to use the download button for this sim.

[2015-10-08 16:23] samreid commented on #94
It looks like @aaronsamuel137 is awaiting feedback from @jonathanolson so I'll assign it to him.

[2015-10-08 16:25] samreid commented on #95
Since this shouldn't take too long, I recommend doing it before S2015R, I'll label the issue as such.

[2015-10-08 16:52] samreid commented on #76
I recommend to close this issue and just identify new issues that arise during testing.

[2015-10-08 16:52] #76 closed

[2015-10-08 16:53] samreid commented on #69
Closing until we have a bigger plan for Android.

[2015-10-08 16:53] #69 closed

[2015-10-08 16:53] samreid commented on #67
Since this is reported as fixed but needs testing, I'll mark it for S2015R.

[2015-10-08 16:53] samreid commented on #66
Closing until we have a bigger picture plan for Android.

[2015-10-08 16:53] #66 closed

[2015-10-08 16:54] samreid commented on #15
Marking for S2015R since that pertains to i18n.

[2015-10-08 17:27] jonathanolson commented on #96
Single-file solution prepared at http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.1/balloons-and-static-electricity_en.html (increased maintenance version number). @ariel-phet, do we want the testers to run through platforms with it?

I can talk with @aaronsamuel137 whenever we want to switch it over to this version.

[2015-10-08 17:37] jonathanolson commented on #96
Also, I'd like to point out that there are release candidates for 1.1.0 (http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.0-rc.5/balloons-and-static-electricity_en.html is the latest) that were never published. That's probably why I thought we had a newer version on the website.

We could alternatively test 1.1.0-rc.5 and deploy that.

[2015-10-08 17:48] samreid commented on #90
Fixed, closing.

[2015-10-08 17:48] #90 closed

[2015-10-08 17:53] ariel-phet commented on #96
I think we should just do this as part of the S2015R and just bump up priority of this redeploy, so we address issues and RC test properly. Considering that nobody has written phethelp about this particular sim, I think if we fix within a reasonable timeline we do not need to push an untested maintenance release immediately.

[2015-10-08 18:00] kathy-phet commented on #96
Ariel, Can you elaborate on what you are considering a reasonable
    timeline?
    K

    On 10/8/2015 11:53 AM, Ariel Paul
      wrote:

      I think we should just do this as part of the S2015R and just
        bump up priority of this redeploy, so we address issues and RC
        test properly. Considering that nobody has written phethelp
        about this particular sim, I think if we fix w

[2015-10-08 18:16] ariel-phet commented on #96
That depends on when @samreid has addressed open issues, but we can make it a high priority for RC testing once open issues are addressed. 1 month or so would be a guess.

It was unclear to me if we can just put a downloadable file that matches the one this currently up there or not? @jonathanolson @samreid can you comment?

[2015-10-08 18:28] jonathanolson commented on #96
I believe @samreid estimated about a weeks' worth of work to resolve open issues.

Nope, the same HTML file is used for online running and download.

[2015-10-08 18:35] pixelzoom commented on #96
@jonathanolson has manually patched the files that are currently on the website, it's version 1.0.1. @ariel-phet said to create a minimal test task.

[2015-10-08 20:04] jonathanolson commented on #96
(created minimal test task, linked above).

[2015-10-10 05:03] samreid commented on #96
Reassigning to @ariel-phet until https://github.com/phetsims/tasks/issues/386 is complete.

[2015-10-13 14:26] ariel-phet commented on #96
no going to fix at the moment...will fix upon redeploy of this sim.

[2015-10-13 14:26] #96 closed

[2015-10-13 15:37] aaronsamuel137 opened #98 "Add download button back on redeploy"
Because the download file for this sim doesn't work, @ariel-phet has suggested I remove the download button from the website. This was done in: https://github.com/phetsims/website/commit/ff4d2f6327b144acdf521d8451874008fc2714d4

Once this sim is redeployed, we'll want to revert that commit.

[2015-10-30 21:45] jessegreenberg commented on #77
Agreed that the black rectangles at the edge of the sim look strange on all platforms with screens that go beyond layout bounds.
![black bars](https://cloud.githubusercontent.com/assets/6396244/10858791/46fcb24a-7f1d-11e5-9aaf-32f01a32657c.PNG)

[2015-11-03 17:50] jessegreenberg opened #99 "DragListener does not call custom Translate function"
I notice in BalloonNode that there is a translate function in the instantiated DragListener, but translate is never called in balloons-and-static-electricity/view/DragListener.  It looks like the BalloonModel is trying to check model against position restrictions in the translation, but this is never happening.

[2015-11-03 17:54] jessegreenberg commented on #99
I am a little confused with the purpose of DragListener.  The top level comment is

[code]

Can't SimpleDragHandler handle such restrictions? Why is this separate and copied DragListener necessary?

[2015-11-04 19:46] jessegreenberg opened #100 "branch: accessible-instance"
A new branch was created for balloons-and-static-electricity called accessible-instance.  This branch contains the accessible content for the visual elements and associated changes.  The accessibility features (and their implementation) are experimental as we figure out what the designs should look like.  For this reason, universal design is maintained in a branch for this sim.

[2015-11-04 20:08] jessegreenberg opened #101 "Charges outside of wall for some resolutions"
Noticed that for some resolutions, the top charge is partially outside of the wall.  Not sure if this is an issue, but it looked strange to me.
![out of wall](https://cloud.githubusercontent.com/assets/6396244/10950497/2e7d9dde-82f5-11e5-87da-4d12b754e7e0.PNG)

[2015-11-09 22:07] samreid commented on #99
In the above commit, I'm using MovableDragHandler instead of a stale copy of SimpleDragHandler, it seems like it works perfectly.  Reassigning to @jessegreenberg to double check that the new behavior is good and in case he needs to do anything with other balloons-and-static-electricity branches.

[2015-11-18 17:36] jessegreenberg commented on #99
Thanks @samreid, replacing with MovableDragHandler works very well.  I merged the commit above into the accessible-instance branch.  Closing.

[2015-11-18 17:36] #99 closed

[2015-12-04 03:20] mattpen commented on #98
Has the download file for this sim been fixed yet?  I applied another workaround for this issue in https://github.com/phetsims/website/commit/fd1a9ab1f3600009d2b0d5460fa5092f7bbbad08

[2015-12-09 20:21] samreid commented on #93
Reopening until this is actually fixed.

[2015-12-11 18:27] jessegreenberg opened #102 "Structure of accessible fieldsets"
A prototype DOM representation of RadioButtonGroups looked like the following:

[code]

This issue is in balloons-and-static-electricity as that is the sim being used to experiment with accessibility.

The browser tends to 'combine' fieldsets, so that if there is more than one fieldset, the user will get loop through all inputs of every fieldset in the document instead of just the representative e

[2015-12-11 18:29] jessegreenberg opened #103 "Accessible content in balloons-and-static-electricity"
Balloons and Static Electricity is being used as a testing bed for accessible content, specifically keyboard navigation and auditory description through screen readers.  See issue #100.

Creating this issue to document progress and challenges faced in the implementation.

[2015-12-11 18:30] jessegreenberg commented on #103
See #102 for a description for challenges related to RadioButtonGroups.

[2015-12-11 18:36] jessegreenberg commented on #102
Scenery *could* be used to structure this, but it would involve creating new nodes just for accessibility structure and placing the RadioButtonGroupNodes under those as children.

A parent node could exist with accessible content containing the Fieldset and legend.
The RadioButtonGroup could exist as the un-ordered list, as a child of some AccessibleFieldsetNode

[2015-12-11 20:32] jessegreenberg commented on #102
Though the above is possible, and was done, it did not fix the problem in the case of the sim.

[2015-12-11 20:35] jessegreenberg commented on #102
Much ado about nothing.  Apparently, the ```name``` attribute is **required** for input elements of this type.  Web docs say that it can be used in a JavaScript or can be referenced in a form submission.  But it seems absolutely required for accessibility to correctly navigate the input elements.  Providing unique names solves this issue.  Committing shortly.

[2015-12-11 21:51] jessegreenberg commented on #102
Accessible radio buttons now have a name attribute associated with them.  Closing.

[2015-12-11 21:51] #102 closed

[2015-12-12 02:38] jessegreenberg commented on #103
Initial keyboard navigation for this sim is complete.  The following is the rendered accessibility tree:

[code]

[2015-12-12 02:56] jessegreenberg commented on #103
List of issues found while working today:
1) NVDA seems to cache the sim page in a way that prevents it from doing a full read through of the DOM after the page is refreshed.  I am not sure if this is an issue for other screen readers.

2) There is a delay as the page loads and NVDA doesn't wait for the page to load before starting to read.  This means that it reads through the entire URL because

[2015-12-14 17:31] jessegreenberg commented on #103
Notice two issues in above DOM:

Balloons and wall are out of order, and Wall 'aria-labelledby' id is invalid.  Will fix and then deploy a dev version.

[2015-12-14 23:44] terracoda commented on #103
@jessegreenberg
Re P-DOM and Balloon sliders. The title attribute for both balloons is the same. I don’t think you need the title attribute, but if you want to keep it, it should be “Yellow Balloon” and “Green Balloon”. This would provide extra information that is relevant to both visual and non-visual users and would connect "Balloon One" with “Yellow Balloon”.
Also, now that you are using a butt

[2015-12-15 17:47] jessegreenberg commented on #103
Good catch @terracoda.  I took the title from an example I found of ```role="slider"```, but I think it is unnecessary now.

I thought the ```H3``` for the balloon was still valuable because the user could quickly find the element and its description with the AT.  You are right, I don't think the button should have children.

Now that we are using the slider role, it may be interactive enough to c

[2015-12-15 18:04] jessegreenberg commented on #103
Other issues and feature requests noted by @terracoda:

- [ ] For an initial round of student testing, dynamic text descriptions should be removed.  'Wizard of Oz' testing method will be used.

- [ ] ChromeVox did not read screen description, only the H1 element for the screen view.

- [ ] Arrow Key movement of the balloon needs to be faster.

- [ ] Vertical rubbing of the balloon does not seem to

[2015-12-15 21:20] jessegreenberg opened #104 "Balloon leaves 'dragged' state if focused and then dragged with mouse"
Out of #103.  Keyboard and mouse interactions are not playing well together yet.  If the balloon receives focus by the browser/AT and then gets dragged by the mouse, it will prematurely be released by the mouse.

[2015-12-15 21:48] jessegreenberg opened #105 "Add invisible 'keyboard help' prototype to accessibility tree"
From https://github.com/phetsims/scenery/issues/450, @terracoda said:

[code]

@jessegreenberg said:

[2015-12-15 22:47] jessegreenberg commented on #103
698aeb13534cee35ec10b7ea9ca55dfe71c8b446 resolves https://github.com/phetsims/balloons-and-static-electricity/issues/103#issuecomment-164596237.

[2015-12-15 22:54] jessegreenberg commented on #103
By design, only the left side of the balloon picks up charges.

[code]

[2015-12-15 23:03] jessegreenberg commented on #103
Found references of innerText, not supported by some browsers.  Replaced with textContent.

[2015-12-16 22:48] jessegreenberg commented on #105
Accessible modals are tricky!  I have run into a few issues with the keyboard help menu.

1) Using `question mark` to bring up the dialog only works in forms mode.  This means that the user can only pull up the keyboard help menu if the balloon or radio buttons are selected.

2) Moving the focus to the dialog means that the screen reader is already in forms mode, and cannot read through headings a

[2015-12-16 22:49] jessegreenberg commented on #105
Forcing documents mode with various roles proves ineffective.

[2015-12-16 22:53] jessegreenberg commented on #105
I am not sure what the long term solution will be.  In the mean time, we have a few options:

1) Create a discrete button on the screen that pulls up the keyboard help menu, much like a modal.  This would allow us to remain in documents mode when the modal is up.

2) Inject the above HTML structure directly into the DOM, not hidden in any way.  The information would be available to the user, and c

[2015-12-16 23:02] jessegreenberg commented on #105
For now, I am a fan of option 2.  option 1 would take some time and might even pop the AT into forms mode anyway.

[2015-12-16 23:29] jessegreenberg commented on #105
Above commit is an initial implementation of the dialog.  Here it is, rendered in the DOM:
[code]

[2015-12-16 23:31] jessegreenberg commented on #103
Dialogs will be tricky.  See #105.

[2015-12-17 00:12] jessegreenberg commented on #105
Another temporary solution could be to place all of the content under the 'dialog' as the content for an aria description.  Feels unconventional, but could work.  Will be easy to try, I will take a stab at it.

[2015-12-17 00:14] jessegreenberg commented on #105
From https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_dialog_role:

This makes a lot of sense.  A combination of the above and https://github.com/phetsims/balloons-and-static-electricity/issues/105#issuecomment-165296324 should work nicely.

[2015-12-17 02:10] jessegreenberg commented on #105
In phetsims/scenery#450, @terracoda said:
[code]
@jessegreenberg said

[2015-12-17 19:16] jessegreenberg commented on #105
Made the change to sim code to produce the above structure.  Here it is, rendered by scenery:
[code]
Next step will be to test with a screen reader.  Will do this soon.

[2015-12-17 21:33] jessegreenberg commented on #105
The above seems to work well for Windows 7 Chrome and Firefox with NVDA.  Two issues are still present.

1) The AT is still in 'forms' mode.  The screen reader will read through the dialog HTML, but the user cannot go through it line by line unless they toggle back to document mode.

2) The dialog can still only be brought up if the AT is already in 'forms' mode.

[2015-12-17 21:39] jessegreenberg commented on #103
Invisible dialog for keyboard interactions added, with some caveats.  See #105.

[2015-12-17 21:58] jessegreenberg commented on #104
This is happening because the 'blur' event is being triggered when on mouse click.

[2015-12-17 22:07] jessegreenberg commented on #104
There is no way to preventDefault() for the mouse click event.  This is an order of operations issue.  On mouseclick, the balloon.isDragged = true.  But then the blur event occurs in the accessible DOM and balloon.isDragged = false.

[2015-12-17 22:20] jessegreenberg commented on #103
New dev version published.

[2015-12-18 01:35] jessegreenberg opened #106 "'aria-live' in balloons-and-static-electricity"
From #103, we are now starting to add 'aria-live' regions to balloons-and-static-electricity.

Dynamic descriptions have been the most difficult aspect of PhET a11y.  This issue will document some issues and challenges as they arise.

[2015-12-18 16:14] jessegreenberg commented on #106
Struggles with 'aria-live' well summarized here:

http://stackoverflow.com/questions/17977690/dynamically-added-elements-for-screen-reader-aria-live-vs-role-alert

[2015-12-18 16:22] jessegreenberg commented on #106
Test of aria-live in many browsers can be found here:
http://terrillthompson.com/tests/aria/live-scores.html

Results from that test:
JAWS 15.0 works perfectly in both Internet Explorer 11 and Firefox 36.
NVDA 2015.1 works perfectly in Firefox.
VoiceOver in iOS8 (Safari) works perfectly.
ChromeVox 43.x in Chrome 41.x works perfectly.

[2015-12-18 16:26] jessegreenberg commented on #106
From the Paciello group:

No mention of Crhome.

Testers from the W3C running through aria-live:
http://www.w3.org/WAI/PF/testharness/testresults?testsuite_id=1&testcase_id=107

Safari, Firefox, and IE tested.  Not even a mention of Chrome.

[2015-12-23 20:25] jessegreenberg opened #107 "Radio button navigation out of sync with focus"
In a recent test, @terracoda discovered that the navigation of radio buttons is out of sync with the focus highlight.  The visual focus can be off by one keystroke, and arrow keys do not focus the input element correctly.

I have not been able to reproduce this.  Here is a quick screen cast of my navigation with the radio buttons:
![balloons](https://cloud.githubusercontent.com/assets/6396244/1198

[2015-12-23 23:33] jessegreenberg commented on #107
Additional comments from @terracoda:

[2015-12-24 00:07] jessegreenberg opened #108 "Determine best accessible representation of Balloon"
The draggable balloon is the trickiest input element because there is no obvious 'native' html equivalent.  The first attempt was a div with aria role  'slider'.  This works for some screen readers, but most have trouble understanding this content.

The element must behave such that:
 - The screen reader allows arrow keys to control the balloon position
 - The element should toggle 'forms' mode fo

[2015-12-24 00:18] jessegreenberg commented on #108
Rendered HTML for the balloon as a range
[code]
Issues:
  - NVDA + Chrome still does not allow user to interact with the slider.  Examples in other contexts work just fine, there must be another issue here.
  - Screen reader announces value as it changes, which is undesirable in this context.

[2015-12-24 00:42] terracoda commented on #108
@jessegreenberg I was just reading up on [input type="image"]
(http://www.w3.org/TR/html-markup/input.image.html#input.image)
It might be more appropriate and more flexible.

[2015-12-24 00:45] terracoda commented on #108
The code would something like this:
[code]

[2015-12-24 00:51] terracoda commented on #108
@jessegreenberg I see in your snippet you have `draggable="true"`. That makes sense, my snippets is not fully complete, just thinking out load.

[2015-12-24 00:53] jessegreenberg commented on #108
Image seems like a great alternative.  Do we still have to use role='slider' now that it is just an image?  I just tried it out, here is the element in the DOM
[code]
I tested with Chrome and Firefox + NVDA:

 A. Chrome:
    * With role="application" arrow keys do not work at all
    * With role="slider" arrow keys only work with shift
B. Firefox:
    * Arrow keys work perfectly with both 'applica

[2015-12-24 00:55] terracoda commented on #108
@jessegreenberg I think we can try without the role slider.

[2015-12-24 00:59] terracoda commented on #108
Ok, cool, it works in Firefox. And that's interesting that it works with Shift in Chrome. Did you try without role application? What happens then?

[2015-12-24 01:03] terracoda commented on #108
@jessegreenberg In response to "Values are meaningless for this element. Can we get away with not using them?" I agree, but the attribute and required for the html to be valid. Without them, browsers and AT might try to make something up.

[2015-12-24 01:11] terracoda commented on #108
@jessegreenberg Chrome's support for ARIA is dicey according the [MDN documentation] (https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Web_applications_and_ARIA_FAQ). I think we might be ok without the role slider. We have the insert+3 work around for JAWS for now, if the arrow keys do not work with JAWS. We'll need to research more.

[2015-12-24 01:13] terracoda commented on #108
Bonus that `input type="image"` automatically brings up the hand cursor.

[2015-12-24 01:16] jessegreenberg commented on #108
Without a role, arrow keys do not work at all for either browser.  I just noticed that in Firefox, the 'alt' for the image is not read when role='application' is used.  I am wondering if a structure like the following might work? This is based off of https://github.com/terracoda/experimental-play/blob/master/balloons-pdom.html
[code]

[2015-12-24 01:17] jessegreenberg commented on #108
That is a good point.  When we use sliders, we will be sure to add min/max/value attributes.  Require these is more reason to not use as slider in this context.

[2015-12-24 01:21] terracoda commented on #108
If we label the image with an h3, we can use a null alt. The image only needs one accessible name.
[code]

[2015-12-24 01:26] terracoda commented on #108
Agree, it really does not look like "slider" can work for the balloon.

[2015-12-24 01:28] jessegreenberg commented on #108
Using null alt looks good.  If we use an h3 to label the balloon, the sweater, balloon, and wall will all be labeled with 'h3' which is nice.  The structure above also removes children from the input element, which as an issue in https://github.com/phetsims/balloons-and-static-electricity/issues/103.  This seems like a promising step forward.

I will need to change the structure of the sim a littl

[2015-12-24 01:30] terracoda commented on #108
Wonderful. I like the symmetry with the h3's as well. It gives it a logical hierarchy.
I've gotta stop baking code and go bake some Christmas brownies :-) I'll keep my eye on this thread and test with JAWS in the morning.

[2015-12-28 22:41] jessegreenberg commented on #108
Here is the balloon now represented in the parallel DOM:
[code]

Note that both the containing div and the input element have aria-labelledby and aria-describedby attributes.
After testing in google chrome, 'application' is announced when the user selects the balloon.  Arrow keys navigate the virtual cursor.  If the user forces 'forms' mode, the balloon is dragged exactly as expected.  Perhaps 'ap

[2015-12-29 00:10] jessegreenberg commented on #108
It is working perfectly with Firefox and NVDA!

[2015-12-29 00:16] jessegreenberg commented on #108
Aria-Live working correctly for NVDA + Firefox.

[2015-12-29 01:54] terracoda commented on #108
Thanks @jessegreenberg. Looking forward to tomorrow's test drive.

[2016-01-04 23:56] jessegreenberg opened #109 "Accessibility Assessment for Balloons and Static Electricity 1.2.0-accessible-instance.7"
@terracoda provided an assessment of accessible balloons-and-static-electricity after a student interview.  The assessment outlines some technical issues with the accessible content.  This is a compilation of the noted issues so that we can track progress and document comments and concerns.

[2016-01-05 00:10] jessegreenberg commented on #109
- [ ] Sim does not work with IE9 + JAWS 16.  Logo splashed but none of the visuals were rendered.

*Remaining issues are for Chrome 47, Windows 7, and JAWS 16*
- [ ] JAWS intercepted arrow keys for dragging the balloon, and spacebar for releasing
- [ ] Keys eventually worked after pressing 'Insert+3' to force JAWS to ignore the following keypress.  Beginner and intermediate JAWS users may not know

[2016-01-05 00:12] jessegreenberg commented on #109
Sim loads and runs correctly with NVDA +  IE11.  I will try test to make sure that IE9 runs the sim.

[2016-01-05 00:32] jessegreenberg commented on #109
Sim seems to run correctly in IE9 + NVDA, but I notice two things:
1) Load time is exceptionally long, I observe about 15 seconds to load
2) IE9 does not support the 'hidden' attribute.  Not supported until IE11.  According to http://www.html5accessibility.com/tests/hidden.html, IE9 (and many others!) do not support aria-hidden either.

[2016-01-05 00:34] jessegreenberg commented on #109
@terracoda pointed out that this could be confusing to users or screen readers.  With no links, they might not understand to 'tab navigate' through the page.

Hopefully users will understand how to use forms that do not contain links.

[2016-01-05 00:37] jessegreenberg commented on #109
This would mean overriding the default browser behavior.  This could be confusing or unconventional for users.  If this is implemented, we will have to design another way for the user to reach the navigation bar.

[2016-01-05 00:37] jessegreenberg commented on #109
I am unclear if this ocurred with 'tab' navigation or if the user used additional keys to encounter this behavior.

[2016-01-05 00:40] jessegreenberg commented on #109
Done.

[2016-01-05 01:18] jessegreenberg commented on #109
Done.

[2016-01-05 01:29] terracoda commented on #109
@jessegreenberg "I am unclear if this ocurred with 'tab' navigation or if the user used additional keys to encounter this behavior."
The user was pressing Shift Tab. He was going backwards. I think he went from Reset All, to Third Charge Radio, to Reset Balloons, to First Charge Radio. I'll double check the recording, again :-)

[2016-01-05 01:42] jessegreenberg commented on #109
This seems to be a Chrome specific accessibility issue at the moment.  Chrome 'counts' the legend and accessible description, adding these elements to the reported number of fieldset elements. For instance, NVDA + Chrome reads the following when navigating to the first input element:
[code]

*Remove green balloon, radio button, checked, two of four*

Occasionally in Chrome, the number of elements

[2016-01-05 01:42] jessegreenberg commented on #109
@terracoda, thanks for clarifying!  That makes sense.  I will try to recreate the issue.

[2016-01-05 01:55] jessegreenberg commented on #109
Looks like we need to add ```checked="checked"``` to the default radio button selection so that default choice will never read 'half-chekced' or 'partially-checked'.  ```aria-checked``` doesn't do this on its own.  See http://stackoverflow.com/questions/5592345/how-to-select-a-radio-button-by-default.  This will need to be done in common code.

[2016-01-05 01:55] terracoda commented on #109
@jessegreenberg "Screen reader pauses after screen summary"
To clarify: I meant to say "WITHOUT pausing". The screen reader does not pause at all after the Scene Summary. So, instead of interacting after the Navigation/Interaction cue, the user just kept listening. Personally, I think listening to the entire PDOM in one go is too much and not a good way to start off.

It seems screen readers and b

[2016-01-05 01:58] jessegreenberg commented on #109
@terracoda, OK sounds good.  I haven't found a way to do that yet, but we can take a look.

[2016-01-05 02:06] terracoda commented on #109
@jessegreenberg, I would use checked on its own in HTML5 instead of checked="checked". Both are allowed in HTML5, but checked="checked" is XHTML syntax, I think.
checked, on its own is cleaner, in my opinion. Of course, you still need aria-checked="true" as well.

[2016-01-05 02:16] terracoda commented on #109
@jessegreenberg I think it may be safe to remove the `<fieldset>` and just use an `<h3>` in place of the `<legend>`.

[2016-01-05 02:36] terracoda commented on #109
@jessegreenberg I quickly changed my static balloons-pdom in case that is helpful.
 https://github.com/terracoda/experimental-play/blob/master/balloons-pdom.html

[2016-01-05 17:15] jessegreenberg commented on #109
Sounds good.  I added 'checked' to the checked radio button, in addition to 'aria-checked' for the selected radio button.  Tested well with NVDA + Chrome, IE, and Firefox.

[2016-01-05 17:22] jessegreenberg commented on #109
Thank you for claryfing @terracoda!  I was able to reproduce this with NVDA + Chrome.  Commit https://github.com/phetsims/sun/commit/bf633233bf0f68771604c7f77829045153d8d2a7 fixed this issue as well.  Without the 'checked' attribute, there was no priority for the focus, so the highlight went to the closest radio button depending on direction of navigation.  The focus now correctly goes to the chec

[2016-01-05 17:31] jessegreenberg commented on #109
This works for buttons and the balloon, but not the radio button groups.  Likely an issue for the RadioButtonGroup accessible peers.

Should *non* focusable items also receive focus when the virtual cursor is navigating content?  For instance, the sweater has no input control, but would it be helpful for the focus highlight to surround the sweater when the user is exploring its descriptions?

[2016-01-05 21:35] terracoda commented on #109
@jessegreenberg

This is a great question. It's worth discussing. Virtual cursor focus would have to be a visually different than real cursor focus, if we wanted to do this. I actually brought this up a long time ago, when I suggested that the Sim title should have some visual indication on page load, but the discussion didn't progress. I certainly find knowing where I am in a long text document h

[2016-01-06 13:55] jobara commented on #109
@jessegreenberg and @terracoda, I was reading your above comments about adding a focus highlight when using the virtual cursor to navigate the sim. I'm not 100% sure what you are talking about, but I think you mean the situation when a user is exploring a sim using a screen readers virtual/browse mode; where the user can explore a page without actually interacting with it and not having to rely on

[2016-01-06 18:02] lukeadams commented on #98
Any word on this? I don't want to set up the build system but what would stop us from embedding all of the resources in the HTML file like all of the other (downloadable) HTML5 sims? Base64 encode images, etc.

[2016-01-06 19:14] jessegreenberg commented on #109
@jobara, thank you for this explanation and information!  It saved us lots of time.  Your understanding was exactly correct.  When I tried to change the SweaterNode so that it was represented by the description paragraph, it did not receive the focus event from interaction with the virtual cursor.  As you said, will have no way to track AT virtual focus since it is not passed to the browser.

Than

[2016-01-06 19:22] jessegreenberg commented on #107
I am wondering if https://github.com/phetsims/sun/commit/bf633233bf0f68771604c7f77829045153d8d2a7 also fixed this issue now that focus should first snap to the checked radio button?

[2016-01-06 19:49] jessegreenberg commented on #109
I am also unsure if this is possible to force.  It seems like it is up to the user to pause reading of the content after page load.  Going through some documentation, I found http://webaim.org/techniques/screenreader/#how, specifically:

This is the only reference I have found, and I can't find any information about stopping the read with html or another API.

[2016-01-06 21:38] jobara commented on #109
@jessegreenberg i believe that is correct. Also, there are users who like to orient themselves first by listening to the entire document being read out.

[2016-01-07 16:44] terracoda commented on #109
@jobara and @jessegreenberg Great discussion. I am very familiar with both of these articles, and I've shared the Léonie Watson's article before, here on github somewhere. Yes, it is correct that users can pause reading and go back and forth and they do. In fact, there are multiple ways to stop the screen reader from reading. I learned in my first interview that some users are very patient listene

[2016-01-07 18:05] jessegreenberg commented on #109
Taliesin, I remember you posted that resource now.  I didn't get a chance to go through it at that time, sorry about that!  From the resource, I found this section very interesting:

We have encountered this behavior and assumed that something was broken.  Interesting to understand that this is NVDA behavior.

I would be very interested to know how many users know how and when to switch modes auto

[2016-01-07 18:23] jessegreenberg commented on #109
Related to

From Léonie Watson's article, I don't think this is an issue to fix.

The virtual cursor alone will not interact with the radio button group correctly, and the browser will not know that virtual focus is over a radio button.

[2016-01-07 22:40] terracoda commented on #109
Wonderful! @jessegreenberg thank you for highlighting the key points of this article that point exactly to the "issues". I think, I understand more clearly how screen reader navigation behaviour is different. In ChromeVox, the virtual cursor highlighting is built-in when it is navigating PDOM. The PDOM is off-screen, and not invisibly placed on top of the actual widgets. So, this is the kind of th

[2016-01-08 01:43] terracoda commented on #109
Also, I'd like to re-share a link to a "course" on [The Accessibility Tree] (http://whatsock.com/training/) by Bryan Garavanta. I find this course difficult to read, but we should find some useful information in here, like the following:

[2016-01-08 02:58] terracoda commented on #109
@jessegreenberg regarding:

Both NVDA and JAWS have inelegant commands to "pass key through" to the application:
* Jaws: Insert+3
* NVDA: Insert+F2

And in JAWS 16 or higher, there is a setting a user can turn on to permanently set application keys to override JAWS shortcuts. The steps are explained in the following article [How to Bypass Navigation Quick Keys] (http://www.freedomscientific.com/tr

[2016-01-08 18:03] terracoda commented on #106
@jessegreenberg In my first interview, we used Windows 7, Jaws 16 and Chrome 47. We got currently implemented dynamic descriptions (Instance 7).

[2016-01-11 04:38] terracoda commented on #109
@jessegreenberg, @jobara  and @emily-phet  As per the the discussion on Accessibility APIs and the frustrations we are having with discrepancies and disparities across screen readers, this article by Bryan Garavanta, [How Browsers Interact with Screen Readers and Where ARIA Fits in the Mix] (http://www.ssbbartgroup.com/blog/how-browsers-interact-with-screen-readers-and-where-aria-fits-in-the-mix/)

[2016-01-11 18:38] pixelzoom opened #110 "unused strings"
[code]

[2016-01-11 20:27] jessegreenberg commented on #110
Strings removed, sim builds cleanly.  Closing.

[2016-01-11 20:27] #110 closed

[2016-01-11 23:19] jessegreenberg commented on #109
@terracoda, that is a great article, thank you for posting it.  It contains great information on why browsers have varying levels of accessibility with each screen reader. Hopefully complex interactive components will eventually be accessible for all screen readers and browsers eventually.  But for now this provides a more narrow scope for testing.

[2016-01-11 23:24] jessegreenberg commented on #109
We will have to see how JAWS presents this information, if at all.  I expect that the key value pairs will be read so hopefully we can describe the arrow keys in any way we wish.  But perhaps it literally maps the key to be passed in?  That would require key codes for things like the arrows, but I haven't found an example of that yet.  I am going to test all of this now.

[2016-01-11 23:26] jessegreenberg commented on #109
Regarding

This is fixed by removing the 'radiogroup' role.  NVDA + Firefox still correctly lists the number of input elements.  Chrome just does not provide that information.

[2016-01-12 01:16] terracoda commented on #109
@jessegreenberg I just had a meeting with David Best. It was very enlightening. We used skype to talk and then we connected with a tool called TeamViewer. He connected me to his computer. I could watch what he was doing on his computer and hear and see how he used JAWS.  I asked him about some of the technical problems we have been having: disparity, role application, screen reader user levels (wh

[2016-01-12 01:29] jessegreenberg opened #111 "Use 'data-at-shortcutkeys' to pass access keys to JAWS"
From https://github.com/phetsims/balloons-and-static-electricity/issues/109:
@terracoda said:

[code]

Some people posted that these work arounds are better than a developer using "role=application".

@jessegreenberg said:

Here are some results after playing around with this.

[2016-01-12 01:30] jessegreenberg commented on #111
Information from Freedom Scientific here:
http://www.freedomscientific.com/training/surfs-up/BypassNavigationQuickKeys.htm

[2016-01-12 01:30] jessegreenberg commented on #111
Testing their example, I notice that IE and FF both work.  Chrome does not seem to support this.

[2016-01-12 02:10] jessegreenberg commented on #111
The ```data-at-shortkeys``` attribute requires an object literal to be passed in with key value pairs, but the object cannot built outside of ```setAttribute``` because ```setAttribute``` seems to implicitly call ```setString``` on the object.  So the data needs to be passed in to ```setAttribute``` directly in a long string. It looks like this:
[code]

This seems to work very well for Firefox and

[2016-01-12 02:27] jessegreenberg commented on #111
In Firefox, ```data-at-shortcutkeys``` allows *any* key to be passed to the browser, even those that are not defined in the data object.  **Except for control, shift, and the arrow keys**.  At this time, I do not think it is possible for JAWS to pass these keys to the browser.

@terracoda provided another helpful piece of documentation: http://tink.uk/time-to-revisit-accesskey/

According to this

[2016-01-12 02:43] jessegreenberg commented on #109
See #111.

[2016-01-12 02:46] jessegreenberg commented on #109
I observed this as well. ```data-at-shortcutkeys``` could be used to fix this for the keyboard help menu.  Perhaps applying this to accessible peer of the screenViewContainer will allow `?` to be passed through.  Will test in #111.

[2016-01-12 03:06] terracoda commented on #111
@jessegreenberg

Interesting. JAWS is supposed to work best with IE. Btw, what version of JAWS and IE are you using?

[2016-01-12 03:14] terracoda commented on #111
@jessegreenberg as I mentioned earlier I spoke with David Best, an expert screen reader user and programmer. He seemed to think that it would be possible to put an id on a containing element (the Play Area, for example) and use an event listener to listen for the arrow keys and then with Javascript make the Arrow keys do something else in that context. Is something like this possible? Should we di

[2016-01-12 16:18] jessegreenberg commented on #109
@terracoda, that sounds like a great meeting.  Looking forward to discussing this further with you at accessibility meeting.

[2016-01-12 16:19] jessegreenberg commented on #111
That was my understanding as well, so I am surprised too.  I am using JAWS 17 with IE 11.

[2016-01-12 16:26] jessegreenberg commented on #111
Regarding

It would be great to discuss this further in case we are missing something.  That description sounds like what we are doing.  Here is an example of the JavaScript:

[code]
The event listener is added to the element.  The issue is that the AT grabs the event for itself without passing to to the DOM.

[2016-01-12 16:28] jessegreenberg commented on #111
I should specify that using the 'insert + 3' method will still work, but arrow keys will be intercepted for the aria roles that I am aware of.

[2016-01-12 16:36] terracoda commented on #111
@jessegreenberg regarding event listener and arrow keys, David mentioned passing "Insert+3" as an example (keep in mind this is a JAWS-only hack) in that context to prefix the key event. Is something like that possible?
```If focus on the balloon, all keystrokes are prefixed with the pass through.```

Some how I thought this would already happen naturally with the input element. It would be great

[2016-01-12 16:42] jessegreenberg commented on #111
Yes that is possible, that is what is happening now.  By pressing 'insert + 3' the event is passed to the browser, no matter what the element is.

Input elements naturally get certain keystrokes depending on the type.  For example, buttons get spacebar and enter.  All other keystrokes are intercepted.

[2016-01-12 16:45] terracoda commented on #111
Can the application send 'insert+3' for the user? Is that what you are describing?

[2016-01-12 17:15] jessegreenberg commented on #111
That is not what I was describing, I hadn't thought of that!  Perhaps that would be possible, maybe with something like dispatchEvent?  It feels a little hacky, but I will need to play with it and see if this could work.  I am not sure if we can dispatch events from the browser to the screen reader.

[2016-01-12 17:20] terracoda commented on #111
It is very hacky, but that is what David described. It would not be a long term solution. Garaventa's wise words are ringing in my ears :-)

I'd still like to see what David was thinking.

[2016-01-12 18:55] jessegreenberg commented on #111
I am curious about this approach as well, looking forward to discussion at the meeting.  Though I do not like the idea of forcing the device to do something that the user did not ask for.

[2016-01-12 21:42] terracoda commented on #111
@jessegreenberg Thinking back in history of this design idea. The original idea was to grab the balloon with Enter key. Since `<input type="image">` behaves like a button, the Enter key is a native interaction. maybe we should have an explicit grab interaction to activate, or "grab" the balloon. I wonder if that would help? What do you think?

[2016-01-12 22:07] jessegreenberg opened #112 "Balloon radio buttons should be replaced with an ABSwitch"
For accessibility, it makes more sense for the two balloon radio buttons to be represented as a toggle button.  This issue continues https://github.com/phetsims/balloons-and-static-electricity/issues/109.

To accomplish this, it would be best to replace the balloon radio buttons with an ABSwitch, since ABSwitches would be represented by an accessible toggle button.  Elements of the screen view sho

[2016-01-12 22:24] jessegreenberg commented on #112
Here is what it looks like now:
![abswitch](https://cloud.githubusercontent.com/assets/6396244/12278815/71916e08-b940-11e5-87a0-4ac8ac18662b.PNG)

It takes up a bit more real estate, but looks good overall.

[2016-01-12 23:05] jessegreenberg commented on #112
The accessible content for the toggle button should look something like this:

[code]

[2016-01-13 00:39] jessegreenberg commented on #112
Commit above replaces for the ABSwitch, and creates an AccesibleABSwitchNode, to structure the DOM as described above.  The element looks like this in the parallel DOM:

[code]

[2016-01-13 00:48] jessegreenberg commented on #111
That is an interesting idea @terracoda.  I can't picture yet how we could use this to solve the issue.  I believe keyboard interactions would still be intercepted after pressing the button and we can't use the button to toggle AT modes.  Were you thinking of a description design like

"Enter forms mode to grab the balloon"

or something like that?

[2016-01-13 00:52] jessegreenberg commented on #112
Works great with NVDA + Firefox and Chrome, and IE.  Testing JAWS next.

[2016-01-13 01:02] jessegreenberg commented on #112
Works great with JAWS + Firefox and Chrome.  I experience lots of issues with JAWS 17 + IE 11, I will need to investigate that in a separate issue.

[2016-01-13 01:17] terracoda commented on #111
Actually, @jessegreenberg, I was just thinking
"Enter to grab balloon."
I do not believe that an average screen reader has much awareness about what mode they are in. It is even less likely that they would know the name of the mode. A user is aware they are on a form element, but not necessarily that the screen has changed from browse mode to forms mode.

[2016-01-13 01:47] jessegreenberg commented on #112
Things seem to be working for accessibility, but I realize that the balloons colors were optimized so that they were most visible over the blue background.  Will need to verify and make changes to this design suggestion before merging with master.

[2016-01-13 01:54] jessegreenberg commented on #111
I see.  I think you are right, it should ultimately be up to us to seamlessly toggle the AT between forms and browse mode

Unfortunately, I don't think interacting with the button will help with this issue.  Nothing changes for the AT once the button has been pressed in terms of interaction modes.

[2016-01-13 01:55] jessegreenberg commented on #109
New dev version deployed: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.8/balloons-and-static-electricity_en.html?accessibility

[2016-01-13 02:47] terracoda commented on #111
This is frustrating. @jessegreenberg, I am grasping at straws here, but there may two HTML syntax issues with the code that might be causing issues:
1. It is not valid code for an input element to have a closing tag.
2. The parent of the `input` element is technically supposed to be an element that can contain *Phrasing content*. The parent element of the balloon input is a `<div>` element which i

[2016-01-13 03:10] terracoda commented on #111
@jessegreenberg one more thought. There is such a thing as a *double slider*, a slider with 2 values. Am I dreaming, or could one value represent the x-value and one represent the y-value, and still be one control? Hans Hillen discusses [ARIA Sliders] (https://www.paciellogroup.com/blog/2008/06/aria-slider-part-3/) in a 3-part series. He has [a page of examples] (http://files.paciellogroup.com/blo

[2016-01-13 17:49] jessegreenberg commented on #111
@terracoda, these are all great points, and I think they could be causing issues for the screen reader beyond just the key press interception.

To respond to your comments:

1) I see that a few input elements have child nodes, which is not valid HTML.  The closing tags must have been generated to contain this content.  I will restructure the sim slightly so that the ```<input>``` and its descripti

[2016-01-13 17:53] jessegreenberg commented on #108
In issue #111, we discussed using a double or range slider for to represent the balloon.  See https://github.com/phetsims/balloons-and-static-electricity/issues/111#issuecomment-171377717.

[2016-01-13 18:53] jessegreenberg commented on #108
What if the balloon were represented by an input of type *text*?  This would be unconventional and not an obvious translation from view to PDOM. It seems like a strong candidate because the accessibility API allows arrow keys, spacebar, enter, all letter keys, shift, and others to be passed to the browser for this element!

We could use preventDefault() to stop the text field from being populated

[2016-01-13 18:55] jessegreenberg commented on #111
What if the balloon were represented by an input of type *text*?  Continuing the conversation here:https://github.com/phetsims/balloons-and-static-electricity/issues/108#issuecomment-171396474 since it pertains to that issue.

[2016-01-13 19:20] jessegreenberg commented on #108
Just tried this. Here is the input element in the parallel DOM:

[code]

The good news: It seems to work!  The event is passed through to the browser for NVDA *and* JAWS for Chrome, IE, and Firefox!  This includes keydown events for all arrow keys, shift, spacebar, control, and all letter keys.

The bad news: Input of type text has quirk.  For arrow keys, the 'keyup' event is fired immediately aft

[2016-01-13 19:34] jessegreenberg commented on #108
```preventDefault``` ```stopPropagation``` won't help here, you cannot prevent one event from another.

```keyup``` is fired after the default action is complete, so it cannot be prevented in this way. http://stackoverflow.com/questions/6220300/jquery-keyup-how-do-i-prevent-the-default-behavior-of-the-arrow-up-down-an

[2016-01-13 21:45] jessegreenberg commented on #108
I was mistaken, this is not a quirk of text inputs, this is a quirk of screen readers and the accessibility API.  I can't quickly think of an easy way around this without sacrificing ```keyup```.  ```keyup``` is required to handle multiple key presses at once.

[2016-01-13 22:56] jessegreenberg commented on #108
At this time, there is no way to get around the accessibility API, and its interaction with the screen reader.  If the balloon is represented as a 'text' input, it can be dragged with the keyboard, and the user does not have to worry about toggling any modes.  But to do this, we will have to make one of two sacrifices:

1) Replace the arrow keys for another key set, such as the WASD keys.
2) Remov

[2016-01-13 23:20] jessegreenberg commented on #108
Example version implemented and deployed:

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.9/balloons-and-static-electricity_en.html?accessibility

This version replaces arrow keys for the WASD keys in interface and descriptions.  Tested with JAWS and NVDA with Chrome, Firefox, and IE.  All browsers work very well, and the AT toggles between

[2016-01-14 03:12] terracoda commented on #108
@jessegreenberg This is really wonderful news. Sorry, I was offline for most of the day.

[2016-01-14 15:35] jhung commented on #111
@jessegreenberg @terracoda
Justin and I have been following this discussions. We played with the demo and we can see the challenge you’re dealing with. Justin and I didn't know what would be the best solution in this case, so we’ve forwarded this issue to Joseph Scheuhammer here at the IDRC who is on the ARIA advisory board at the W3C. His initial impression was that using a text-field and button

[2016-01-14 15:49] jhung opened #113 "Balloon does not seem to get focus when mouse dragging"
When using the mouse to drag the balloon, it does not appear to gain focus. There is no focus box on the balloon when dragging. Also if using a combination of mouse and keyboard, dragging the balloon first with mouse then pressing tab puts focus on the balloon, when the focus should go onto the next focusable item (i.e. Remove wall button).

[2016-01-14 16:55] jessegreenberg commented on #111
@jhung, Thank you for reviewing this issue!  I agree with all concerns about the translation.  The draggable balloon is not a text field nor a button.  I considered the input text to be a short term workaround.  It  is just a way to get us up and running until accessibility API's and screen readers let us  pass all desired key events to the browser for application behavior.  A text field was the o

[2016-01-14 17:09] jessegreenberg commented on #107
This behavior is specific to the accessibility API, and it is up to screen readers to handle this focus.  I observed this issue in JAWS.  For JAWS, the radio button does not receive focus until selected by the user.  This is the behavior for native HTML radio groups as well.

Upon initial focus of the radio group, focus snaps to the currently selected radio button.  I am afraid that is all we can

[2016-01-14 17:09] #107 closed

[2016-01-14 19:43] jessegreenberg commented on #113
Good catch @jhung, thank you for creating the issue.  Integrating accessible mouse interaction is a feature that PhET will be working on  in the near future.

[2016-01-14 20:24] terracoda commented on #113
Yes, good catch @jhung. @jessegreenberg, I've noticed this, also, on all A11y sims (well FAMB and BASE). Mouse focus and keyboard focus are currently not synched. I made note of this when I tested FAMB. For FAMB there is an actual mouse focus in the original sim design, and these the styles are actually visually different - yellow circles for mouse focus rope knots and pink squares for keyboard fo

[2016-01-15 03:53] terracoda commented on #112
@jessegreenberg looks perfectly reasonable. In your _Common UI Elements_ doc, I used a `button` in the sample code, but `input type="button"` makes good sense.
Now that it's a switch, I think I the labels need to be "Single Balloon Experiment" and "Two Balloon Experiment", no rush. I want to listen to it in more environments first.

[2016-01-15 13:03] terracoda commented on #111
@jhung thanks for this initiative. I have also discussed this problem with Dr. Clayton Lewis, my thesis advisor, and was planning on reaching out to the Web Standards community. Maybe we could coordinate this effort. Jesse and I discussed this issue a lot, but not a direct face-to-face brain storming.

[2016-01-15 21:18] terracoda commented on #112
@jessegreenberg, I'm just looking a little more closely at the code for the new Balloon A-B Switch. It doesn't look like there is label.

[code]

[2016-01-19 16:01] jessegreenberg commented on #112
Excellent suggestion @terracoda, I will change the HTML of the PDOM to add an aria-label with the suggested strings.

[2016-01-19 21:41] jbphet opened #114 "dependencies.json file missing from 1.0 and 1.1 branches"
This sim doesn't seem to have the dependencies.json file checked in for previous releases.  This appears to be the case for both the 1.0 and 1.1 branches.  These should probably be pulled from the web site and checked in here so that maintenance releases can be done if needed.

[2016-01-19 21:50] jbphet commented on #114
Hmmm.  I just looked on the web site, and the live version is 1.0.0.  Looking on spot.colorado.edu shows what appears to be a number of 1.1 release candidates from around June 2014, but it doesn't appear that the 1.1 release process was ever finished.  I know that @samreid is a bit swamped right now, but someone should be assigned to sort this out and check in the dependencies so that maintenance

[2016-01-20 00:57] samreid commented on #114
Would an alternative be to do the S2105R republication?

[2016-01-20 17:33] jessegreenberg commented on #108
1/19/16 Meeting notes:

 - WASD keys are a convention of electronic media but use is not obvious for accessibility. WASD keys could potentially be used but will need better descriptions.

- We discussed an alternative representation for the balloon involving the aria menu role.  The menu role also allows arrow keys, enter, and spacebar to be passed through to the browser.  The interface could lend

[2016-01-20 22:10] elisemorgan opened #115 "Long, Double string tests"
Related to https://github.com/phetsims/tasks/issues/479

Test device: Personal Mac

Operating System: OS X 10.10.5

Browser: Chrome 47.0.2526.111

Problem description: Overlap w/ Long and Double string tests

Steps to reproduce: Perform string tests

Severity:

Screenshots:
Long:
![screen shot 2016-01-20 at 3 05 18 pm](https://cloud.githubusercontent.com/assets/12610678/12464755/cfcfad66-bf87-11e5

[2016-01-21 16:31] jessegreenberg opened #116 "Investigate problems role="application""
We need to investigate the aria application role.  Our understanding is that this role should allow all key events to be passed to the web application.  This has not been our experience.  The AT recognizes and announces the role, but does nothing with that information and continues to use 'a 'document' mode.

It is unclear is we are using the role incorrectly, or if something about the Parallel DO

[2016-01-21 17:23] jessegreenberg commented on #116
From W3: https://www.w3.org/TR/wai-aria/roles#application

[2016-01-21 17:41] jessegreenberg commented on #116
The following is an example of accessible drag and drop from Open Ajax:
http://oaa-accessibility.org/example/17/

This example uses the application role.  But the game also uses a ```grid``` role.  My understanding from W3 is that this role on its own allows for arrow key navigation:

I would like to test the above axample with a screen reader and with the application role removed.  My guess is th

[2016-01-21 17:42] jessegreenberg commented on #116
The next test would be to listen for events with the application role in a Prototype HTML context, removed from scenery.

[2016-01-21 18:19] oliver-phet opened #117 "In teacher tips address user reported issue: helium balloon"
User reported via PhEThelp on 1/21

Report a Problem: Balloons and Static Electricity

Please copy and paste the information below into an email to phethelp@colorado.edu, and then fill in the blanks.

Test device: iMac (27-inch, Late 2013), 3.2 GHz Intel Core i5

Operating System: Mac OS X 10.11.12

Browsers: Chrome, Safari

Problem description: **Ideally, assuming the balloon is filled with heliu

[2016-01-21 18:21] oliver-phet commented on #117
@ariel-phet Can you comment if this is something we are going to respond to?

[2016-01-21 19:54] ariel-phet commented on #117
@oliver-phet - this is a very intentional choice. We don't want to conflate the idea of a buoyant force on the balloon with the electric forces on the balloon. It would be a very confusing user experience if the uncharged balloon floated up. Nobody claimed the balloons were helium filled, but the string is assumed to be "magic" and keeps the correct tension to keep the balloon in place.

We will n

[2016-01-21 19:59] oliver-phet commented on #117
Thanks, I'll reply to the user.

[2016-01-21 20:00] ariel-phet commented on #117
Cool, please leave the issue open, I will assign it as a teaching resources enhancement

[2016-01-21 20:59] jessegreenberg commented on #112
Made the change to the parallel DOM, the code now looks like this.

[code]

[2016-01-21 21:16] jessegreenberg commented on #112
Now that there is no accessible description, it seems like the containing div can be removed.  This is beneficial, we no longer need a containing scenery node to structure the parallel DOM.

[2016-01-21 21:24] jessegreenberg commented on #112
Now I am confused about the state of the aria-label.  Now that the aria-label updates with the button state, it seems confusing because both the label and the toggle state are changing at the same time.

It seems like the aria-label should remain constant.  Otherwise, the screen reader would read something like 'Single Balloon Experiment, Pressed', when there are two balloons on screen.

@terracod

[2016-01-22 16:45] jessegreenberg opened #118 "Visibility controls should use the aria-controls property"
While looking through W3 documentation, I found this role.

A group of checkboxes may control what commodity prices are tracked live in a table or graph.
A tab controls the display of its associated tab panel.

Visibility controls are used throught PhET sims, this seems like an important role.

[2016-01-22 16:59] jessegreenberg commented on #116
Here is one example of the application role used for the balloon in balloons-and-static-electricity.  The following is the representation in the parallel DOM.

[code]

[2016-01-22 18:43] ariel-phet opened #119 "Sim needs teacher tips"
@arouinfar can we get rolling on updated teacher tips for this sim?

In the update, please address https://github.com/phetsims/balloons-and-static-electricity/issues/117

[2016-01-22 19:03] jessegreenberg commented on #112
After discussion at a 1/22/16 meeting:

The aria-label should not change with the toggle state.  When two balloons are on the screen, the description should be like 'Two balloon experiment, pressed'

[2016-01-22 19:20] terracoda commented on #112
Thanks @jessegreenberg for clarifying the way the "pressed" states on a toggle are read out!

[2016-01-22 23:18] terracoda opened #120 "Feature requests and changes"
Some Issues from Interviews 3 and 4:
- [x] Remove/hide Charge Setting Radios for now.
- [x] Changes to P-DOM. Scene Summary should be moved to `main` region, and have an `h2`. The `h1` in the `header` element now change to be the same as the sim/page title: Balloons and Static Electricity.
- [x] Remove `aria-describedby` attributes on Wall button, Sim Reset button and Balloons A-B switch. Leave th

[2016-01-22 23:22] terracoda commented on #120
@jessegreenberg, does #120 make sense? I don't know how to label it as an a11y issue.

[2016-01-23 00:24] jessegreenberg commented on #120
Thanks @terracoda, this all makes sense.  I will work on all of this before the next dev version.  Just to double check on the changes regarding the ```main``` region and ```header```,

The current header looks like this:
[code]

If I understand correctly, it should look something like this:
[code]

[2016-01-23 00:34] jessegreenberg commented on #120
In addition to the above feature list, I would like to investigate another issue

- [ ] Balloon cannot be dragged after being released.  User must navigate away from balloon after releasing to pick it up again.  (reported with JAWS14 + Firefox, Windows 7)

[2016-01-23 04:04] terracoda commented on #120
@jessegreenberg regarding structure, we won't need an aria-describedby attribute any more for the `header` since there is only an `h1` in it. Also, since the Page Title already has the sim title, the aria-labeledby may be unnecessary. We may be able to reduce verbosity by not including it. This is a _hunch_.
The actual *Scene Summary* container should be a section, same as the Play Area and Contro

[2016-01-23 04:14] terracoda commented on #120
@jessegreenberg if I find (or remember) more items, should I create new issues or add to the check list?

[2016-01-23 04:38] terracoda commented on #120
@jessegreenberg thanks for adding the issue from the testing document 'A11y Balloons: Testing Inst. 9'.

[2016-01-23 05:17] terracoda commented on #105
@jessegreenberg Here's new content for the Keyboard commands and help:
[code]

[2016-01-23 16:21] terracoda commented on #120
@jessegreenberg I realize now, you won't be able to check off the issues list. I will changed my check boxes to a normal list. I suppose you'll have to make a checkbox comment to which you have access.

[2016-01-23 17:35] terracoda commented on #120
@jessegreenberg I'm working in the google sheet _BASE Labels & Descriptions_. I'll try to keep an eye this issue page in case you have questions.

[2016-01-23 20:05] jessegreenberg commented on #120
@terracoda, thank you for clarifying, and pasting an example of the html.  I like the idea of the description being in its own section.

I had initially avoided using the ```main``` element for the screen view because we will eventually have sims with multiple screen views, and therefore multiple main elements, which is not valid html.  But I just found this statement from W3:

I will change the d

[2016-01-23 20:07] jessegreenberg commented on #120
@terracoda, this seems like a good place to document changes for the next dev version.  Please add any new change items to the list in this issue.

[2016-01-23 20:09] jessegreenberg commented on #120
I changed the issue list to a checkbox list, just so that it is easier to track the status of this issue. Hope that is OK!

[2016-01-23 21:07] terracoda commented on #120
@jessegreenberg  Re checkbox list - Awesome. I didn't realize you would have access to check things off. That's perfect. I will add issues to list above as I come across them.

[2016-01-23 21:21] terracoda commented on #120
@jessegreenberg In the _Scene Summary_ description above in the issue list, I put double square brackets around content that is dynamic. Hopefully, these strings will fit perfectly with the other strings, so things stay grammatical as they update (eventually update). I might have to tweak the sentences, so we can reduce the number of custom strings.

[2016-01-23 21:33] jessegreenberg commented on #112
Labels for the AccessibleABSwitchNode are now static, the aria-pressed state is the only variable.

[2016-01-23 21:39] jessegreenberg commented on #120
@terracoda, where should this description be located? Is this part of the balloon description?

[2016-01-23 21:40] jessegreenberg commented on #105
Thanks @terracoda, adding this now.

[2016-01-23 21:52] jessegreenberg commented on #105
@terracoda, this still does not work for iOS?

[2016-01-23 23:15] terracoda commented on #105
@jessegreenberg Just re-checked this and it works fine in Firefox 43 on Yosemite.

[2016-01-23 23:42] jessegreenberg commented on #105
Great!  Do you mind if I remove "(Windows-only)" from the description then?

[2016-01-23 23:44] jessegreenberg commented on #105
Here is the dialog now in the parallel DOM

[code]

[2016-01-24 03:08] terracoda commented on #105
@jessegreenberg of course not, and, I did so in my comment above right after my test, sorry, I didn't mention it.

[2016-01-24 03:11] terracoda commented on #105
@jessegreenberg I think we can also remove the colons...
[code]
Screen reader output may sound better.

[2016-01-24 03:21] terracoda commented on #120
@jessegreenberg Yes, the WASD key navigation cue is read out at the end of the balloon description, upon focus. Sorry the full navigation cure is _Use WASD keys to grab and drag balloon up, left, down and right. Tab for next object. Press question mark for keyboard commands and help._

[2016-01-24 19:08] jessegreenberg commented on #105
Sounds good, I removed the colons.

[2016-01-24 21:41] jessegreenberg commented on #120
Description for the scene summary has been changed, but it is not dynamic yet.  Making it dynamic will take a fair amount of time and further discussion.

[2016-01-24 21:41] jessegreenberg commented on #120
Ok, thanks @terracoda.  I updated the navigation cue for the balloon.

[2016-01-24 21:56] jessegreenberg commented on #120
New dev version deployed:

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.10/balloons-and-static-electricity_en.html?accessibility

The aria-live update for the ABSwitch *only* seems to work for NVDA + Firefox and JAWS + IE.  Other browsers do not receive any dynamic description for these.

[2016-01-24 22:06] jessegreenberg commented on #120
I was not able to reproduce this with JAWS 17.  We will have to keep watching for this issue.

[2016-01-25 01:09] terracoda commented on #120
@jessegreenberg, ok, I will test new sim on my available systems tomorrow.

[2016-01-25 16:24] jessegreenberg commented on #120
Since all items have been addressed, closing this issue.  New items will be added to new issues or version reviews.

[2016-01-25 16:24] #120 closed

[2016-01-25 16:56] jessegreenberg commented on #116
I am confused by the example from Open Ajax.  When removing the application role from the widget, the event goes on to the browser, but the X's and O's do not move to the board.

[2016-01-25 17:44] jessegreenberg commented on #116
I just gave a test of the application role with the WASD keys.  With the WASD keys, the application role works surprisingly well on most browsers!  Here are my results.

For this test, I used the following html to represent the balloon:
[code]

Here are my testing results using the WASD keys for drag and drop behavior:
- NVDA + Chrome:
  - Letter keys **do not** work, application role ignored

- N

[2016-01-25 17:52] jessegreenberg commented on #116
I wanted to double check the application role with the arrow keys.  The following test uses the same HTML as above, but with the arrow keys replacing the WASD keys in the event listener.

- NVDA + Chrome:
  - Arrow keys **do not** work with the application role.

- NVDA + Firefox:
 - Arrow keys **do not** work with the application role.

- NVDA +Edge:
  - Arrow keys *work* with the application rol

[2016-01-25 17:58] jessegreenberg commented on #116
So it looks like our main issue is with the arrow keys!

Back to the quote from W3:

Looks like we can (generally) get the behavior we want for accessible drag and drop as long as we avoid the arrow keys.

[2016-01-25 18:01] jessegreenberg commented on #116
With this information, I am inclined to avoid the ```text``` input hack suggested in issue #108.  For now, I will leave the balloon represented as a div.  We need to determine the best role for the balloon so that it is not announced as a ```section```.  For now, I will use a ```button``` role until further discussion.

[2016-01-25 18:20] jessegreenberg commented on #111
In Issue #116, it was determined that the application role works to specification in *most* browsers with the letter keys.  The arrow keys are generally intercepted regardless of the role.  See issue #116 for more information.

Considering this, I am inclined to replace the text input with a ```div``` for now to represent the balloon.  As long as we are OK with using WASD (or other) keys for drag

[2016-01-25 18:26] jobara commented on #116
@jessegreenberg i wonder if you'd consider supporting both the arrow keys and the letter keys. In that way the non-screenreader keyboard user could still use the arrow keys, and the screenreader user would also have a working keyboard solution.

[2016-01-25 18:26] jessegreenberg commented on #106
While testing #116, I noticed that the order of ```aria-live``` events is different for various screen reader and browser combinations.  In some browsers, the aria-live events did not fire at all.  In others, the order of ```polite``` updates were reversed.

[2016-01-25 18:33] jessegreenberg commented on #116
That is a great suggestion @jobara, this is something we can do.  I discussed this with @emily-phet and @terracoda and there was some concern that screen reader users and non-screen reader users would have a different experience, especially in collaboration.  If I understood correctly, there should eventually be a visual cue to non-screen reader users that the WASD keys can be used to drag the bal

[2016-01-25 18:37] jessegreenberg commented on #116
That being said, perhaps we should discuss again.  I don't particularly see any harm in enabling both arrow and WASD keys for convenience to non - screen reader users.

[2016-01-25 19:28] jessegreenberg commented on #116
That is great example @jobara, thank you for sharing!  Having both methods of interaction available makes it robust and convenient.

With the application role, sometimes arrow keys work just enough with the screen reader to pick up the balloon, but not to drag it.  It looks like in some cases the ```keyup``` event is fired immediately after ```keydown``` for the arrow keys.  Enabling both in this

[2016-01-26 00:59] terracoda commented on #116
@jessegreenberg, I agree with @jobara that supporting both letter keys and arrows is a good idea. I haven't given up on arrow keys and only thought the WASD keys were a temporary work around while we figured out how to best represent the balloon in code. I certainly see the balloon as a drag and drop, always have. I was more concerned about complicated interactions with the kinds of examples I see

[2016-01-26 01:08] terracoda commented on #116
@jessegreenberg Also, nice bunch of testing above. Great discussion and results over all!

[2016-01-26 01:13] terracoda commented on #116
@jessegreenberg @jobara In today's interview with Windows 10 and IE11 (Surface Pro 3 tablet with keyboard) the WASD keys worked sometimes and sometimes they didn't. In a few interactions, only every other key press moved the balloon. And in some cases, there was no movement and then the next press sent the balloon from the the bottom of the sweater all the way to the top in one go.

[2016-01-26 14:21] jobara commented on #116
@terracoda in regards to the drag and drop of the grid reorder demo. Yes the "ctrl" is what grabs and releases the item. This demo is specifically about moving an item around a grid. I believe you could have the drop targets be anything really. We have a few other demos as well [list](http://build.fluidproject.org/infusion/demos/reorderer/listReorderer/), [image](http://build.fluidproject.org/infu

[2016-01-26 16:23] terracoda commented on #116
@jobara thanks for more links to examples. The interaction I originally proposed is conceptually a drag and drop: one key to grab (and drag) and one key to drop (release). The only issue was technically implementing the simple interactions. And we got side tracked by application role and screen reader modes. This conversation has brought us back around to the essentials and this is great.

Re the

[2016-01-26 16:39] jessegreenberg commented on #116
More excellent examples @jobara.  These are very helpful, thank you!

I still think the application role will still be very important for us.  For example, I can't get these examples to work unless the screen reader is forced into 'forms' mode, which is exactly the issue we are facing in Balloons and Static Electricity. It seems like a new question is: How important is it that the screen reader to

[2016-01-26 17:38] terracoda commented on #116
@jessegreenberg I agree that this is a good question. We are investigating what things can be done implicitly and what has to be explicit. Usually switching to forms mode is an implicit thing that happens and the AT tells the user it has happened, usually with a pop (JAWS makes a popping sound).

[2016-01-26 17:41] terracoda commented on #116
By the way, the [whatsock website] (http://whatsock.com/training/) by Bryan Garaventa has had a red-design. It is much easier to read now.

[2016-01-26 17:59] terracoda commented on #116
@jessegreenberg I what we need is an

See section 2.5 of [whatsock website] (http://whatsock.com/training/).

[2016-01-26 22:32] jessegreenberg commented on #116
I agree @terracoda, the optimal solution would involve allowing the transition to occur implicitly.

[2016-01-26 23:03] terracoda commented on #116
@jessegreenberg, quoting Whatsock:

My question, is it possible we are not "conveying" the the relevant behaviours correctly?

My initial observations on comparison the with Whatsock code. In terms of roles, there is no talk of the application role for a draggable object, but a draggable object "must have a valid role".
Based on a comparison of the currently implemented code and the code from What

[2016-01-27 00:00] jessegreenberg commented on #116
@terracoda, thank you for going through this resource.  This code does fill some gaps.  We have not tried placing the ```draggable``` and ```aria-grabbed``` attributes on the container element.  I will give this a try and see how it behaves without the application role for the same platforms tested above.

[2016-01-27 00:05] terracoda commented on #116
Great! And I'm not sure what you are doing with the `class="balloon"`, but Whatsock says all the functionality has to

[2016-01-27 00:08] jessegreenberg commented on #116
I believe that is something that we can ignore in this context.  All functionality is programmed in advance with JavaScript and Scenery, which does not need to reference the class.

[2016-01-27 00:11] terracoda commented on #116
In section 2.4 on, Whatsock discusses techniques for binding CSS with ARIA Roles and States. This technique might be helpful for tying together some aspects of the content layer and the visual layer - not sure, though.

[2016-01-27 00:12] jessegreenberg commented on #116
Very cool, thank you @terracoda.  I will take a look after this.

[2016-01-27 00:48] terracoda commented on #116
@jessegreenberg regarding the movement of balloon and a grid, since in practice the balloon isn't really moving on a grid, do you think it is possible to use the current moving model to identify a set of drop targets that fill the Play Area with an invisible grid?

[2016-01-27 04:11] terracoda commented on #120
@jessegreenberg thanks :-)

[2016-01-27 04:21] terracoda commented on #116
@jessegreenberg , I just noticed, the Live Demos section on Whatsock (http://whatsock.com/). There is drag and drop, but it is quite different from our interaction.

[2016-01-27 17:23] jessegreenberg commented on #116
@terracoda, the current model does not include this, but we could add a grid structure of possible drop targets.  We should discuss this further, I am not quite sure what you have in mind for design and how this would work with the current balloon interaction to say for sure.

Thanks for pointing out that example.  It is a very different interaction, but still useful.  Unfortunately, no keyboard d

[2016-01-27 18:06] terracoda commented on #116
@jessegreenberg, great you started an issue for the AccDC API.

[2016-01-27 18:12] jessegreenberg commented on #116
Another example of drag and drop from whatsock using AccDC API:

http://whatsock.com/tsg/Coding%20Arena/Drag%20and%20Drop/demo.htm

[2016-01-27 18:26] jessegreenberg commented on #116
The above example is the closest in behavior to what we are attempting.  Here is the interaction interface for accessible drag and drop in that example:
[code]
After inspecting the html, I notice the follodwing:

Draggable elements are contained in lists with the following html:
[code]

To announce that an element is being 'dragged' (animated across the screen), the following aria-live region is u

[2016-01-27 20:20] terracoda commented on #116
@jessegreenberg We already use Tab and Shift+Tab between the balloons, so that is consistent with our application. Also, depending on how a user gets to the balloon, the Enter key is used to activate it. I saw this behaviour with P5. He used  the JAWS hotkey for Regions to navigate to the Balloon application Region. He immediately heard that he was in forms mode (from JAWS), then hit Enter to ente

[2016-01-27 22:42] terracoda commented on #116
@jessegreenberg, also what is important about the items being contained in a list is that by being in a list, they have the implicit role "listitem"! According to the ARIA documentation an element must have a valid role in order to be able to use aria-grabbed and aria-drop-effect.

For us, the role button should work, but in theory, even the role image should work. In the specification, there is n

[2016-01-28 19:03] jessegreenberg commented on #116
@terracoda I am going to create another issue for your comments in https://github.com/phetsims/balloons-and-static-electricity/issues/116#issuecomment-174755489

There are some issues there that I would like to discuss further.

[2016-01-28 19:11] jessegreenberg opened #121 "Should keyboard navigation loop in the simulation?"
From #116, @terracoda mentioned that

I am not sure if it id desirable for the navigation to loop through the sim.   This could be annoying to a user that is counting on 'tab' to leave the simulation area and get back to the browser interface.

@terracoda were users able to 'shift tab' to get away from the button?

[2016-01-28 19:27] jessegreenberg opened #122 "Determine graceful method for pulling up keyboard help dialog"
From #116, @terracoda mentioned that

The current method of bringing up the keyboard help dialog is to press the '?' key.  For most browsers and screen readers, '?' is intercepted by the AT unless in 'forms' mode.  The keyboard help dialog will only be accessible when the user has focus on a form element.

```application``` role will not be applied to the entire simulation element, so it will not

[2016-01-28 19:33] jessegreenberg opened #123 "Ensure that user cannot leave dialog while it is open"
@terracoda mentioned:

I will need to thoroughly test the keyboard help dialog to understand how the user was able to leave the dialog without hitting 'escape` or the close button.

[2016-01-29 23:50] jessegreenberg commented on #116
Very interesting!  That is good to know, thanks @terracoda.

Yes, that is true.  These examples do not require the arrow keys for functionality.  We have yet to encounter an example where the arrow keys are used to drag an element from one location to another outside of a grid.

That is what I expected too!  But that does not seem to happen.  When I navigate to a book in Bryan Garaventa's example

[2016-01-29 23:59] jessegreenberg commented on #116
Yes that is a good point.  Using a valid role in combination with aria drag and drop attributes will be important.

[2016-01-30 01:04] jessegreenberg commented on #116
I recently tested with the balloon represented by the following HTML:

[code]

I tested with the same platforms with both WASD and Arrow keys. The aria-grabbed makes it so that 'draggable' is read in almost every screen reader.  But keyboard dragging only worked for one platform.  Here is the summary of test results:

**Testing WASD keys**:
NVDA + Chrome:
	'Draggable' is read in description, WASD

[2016-01-30 01:10] jessegreenberg commented on #116
By switching the role to ```application```, we have the following html representation for the balloon:

[code]

With this representation, I observe the same results as https://github.com/phetsims/balloons-and-static-electricity/issues/116#issuecomment-174599496 and https://github.com/phetsims/balloons-and-static-electricity/issues/116#issuecomment-174601771

[2016-01-31 03:27] terracoda commented on #108
@jessegreenberg Just read [JAWS Support for ARIA] (https://www.paciellogroup.com/blog/2010/10/jaws-support-for-aria/) by Steve Faulkner. A lot of nuances between roles, states and properties are explained. The article contains a really detailed explanation of the Virtual Cursor, Forms mode and Auto Forms mode:

2. Forms Mode: JAWS turns over processing of the ARROW keys and letter keys to the form

[2016-02-01 00:32] terracoda commented on #116
@jessegreenberg Are you sure `aria-dragged` is a valid aria attribute? I can only find it on the MDN page, not in the spec.

[2016-02-01 00:43] terracoda commented on #121
@jessegreenberg In instance 10, on the Surface Pro 3, the user actually got stuck on the Reset button. I am not sure why, but it happened a few times. When he got stuck, he was actually stuck. He couldn't go forward or backward. He hit TAB and he just heard "Reset" again and then if he hit Shift-TAB and heard "Reset" again. To get unstuck, the user employed a completely different navigational stra

[2016-02-01 00:47] terracoda commented on #116
Also, @jessegreenberg that a lot of testing and sadly not a lot of working keys :(

[2016-02-01 03:49] terracoda opened #124 "Issues from Interview 5"
- [x] Need to clean-up some navigation cues: 1. First navigation cue in Scene Summary includes “Question mark for Keyboard Commands and Help”, but the Help dialog is only available when in forms mode, i.e. on the Balloon. Need to remove that Help nav cue from Scene Summary, until Help works from anywhere. 2. Navigation cue, after hitting Reset Balloons includes “Use WASD keys ...”. Need to remove.

[2016-02-01 16:35] jessegreenberg commented on #123
From #124, @terracoda mentioned that the user left dialog content without closing the dialog after using the ARROW keys.  She also provided useful resources that could solve this issue (Accessibility Questions Google Doc).

Very helpful information, thanks @terracoda!

[2016-02-01 16:40] jessegreenberg commented on #121
Thank you for describing what happened!  I will investigate this, see if I can reproduce on one of our platforms.

For your description of the way tab navigation should eventually behave, I completely agree.  That makes sense to me, and that navigation would be the default for the browser.  I don't think the user would encounter any surprises with that behavior.

[2016-02-01 16:55] jessegreenberg commented on #116
Great catch @terracoda!  Totally my mistake.  I initialized ```aria-grabbed``` correctly, but accidentally set ```aria-dragged``` when linking to the model.

I don't think that this will have changed the screen reader behavior too much, but I will fix and retest on the platforms listed above.

[2016-02-01 16:57] jessegreenberg commented on #116
Yes, unfortunately :(.  Our best results so far involve the application role and the WASD keys.  Application role and arrow keys work, but *only* with JAWS + IE.

[2016-02-01 17:54] jessegreenberg commented on #108
Very interesting, thank you for posting this summary.  Interesting to see that auto forms mode does not turn over arrow keys to the browser.

Concerning

Yes, this does apply to our representation of the balloon.  If the arrow keys are used to drag the balloon, they cannot be used to navigate the virtual cursor.

I am not sure what the alternative would be.  Any solution that I can think of would

[2016-02-01 19:09] jessegreenberg commented on #116
I just tested this.  The interaction with the keyboard behaves exactly as it does above.  However, there is one difference:

For NVDA + Firefox with ```role=application```, NVDA announces when the balloon toggles from ```aria-grabbed=true``` to ```aria-grabbed=false``` in exactly the way that @terracoda suggested in https://github.com/phetsims/balloons-and-static-electricity/issues/116#issuecommen

[2016-02-01 22:26] jessegreenberg commented on #124
Just had a discussion with @terracoda.  The following change list was also suggested:

- [ ] Break up balloon description to restrict aria-live updated text
- [ ] Add document role to keyboard help dialog
- [ ] Add aria live region for wall addition and removal
- [ ] ResetAll button should be labelled as 'reset all'
- [ ] Ensure that the aria-live descriptions for the balloon and sweater are behav

[2016-02-01 23:50] jessegreenberg commented on #124
@terracoda decided that this should stay as it is for the time being, navigation help will be filled in by the wizard for now.

[2016-02-02 01:50] terracoda commented on #116
Well, that's good that at least one browser/AT combo announces the state. As we learned today from Joseph, aria-grabbed and aria-dropeffect have not been implemented well.

[2016-02-02 04:41] jessegreenberg commented on #124
New dev version published with the changes listed in https://github.com/phetsims/balloons-and-static-electricity/issues/124#issuecomment-178227911.

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.11/balloons-and-static-electricity_en.html?accessibility

[2016-02-02 17:15] terracoda commented on #124
@jessegreenberg Thanks for all of this!
Regarding the help dialog, I noticed with Instance 10 with JAWS, that without using the arrow keys, the dialog was cut short after the list item with the "Use A Key to move left." It was not the user that accidentally got back into the main content, but that the Dialog stopped and virtual focus ended up in an unexpected place.

I'll check Instance 11 with JA

[2016-02-02 17:27] terracoda commented on #124
@jessegreenberg Regarding the Reset Button and version 10, I did get semi-stuck on it. I think it might have to do with the description and how the Accessibility Tree may be creating a nested structure from what we have in the DOM which is undesirable, but this is just a guess.
Behaviour:
I tab to the Reset Button, I get visual focus and the label text, then I tab again and visual focus goes away,

[2016-02-02 17:33] terracoda commented on #124
FYI, unfortunately, I am having serious computer performance issues which may be affecting the operation of the simulation. Rebooting to see if I get a fresh environment.

[2016-02-02 17:57] jessegreenberg commented on #124
Ahh I see, thank you for explaining.  I will look into this.

Very strange.  I will look into this as part of this issue.

I experienced this as well when I was testing last night.  Seems unlikely, but there may aspects from the above commits that introduced some performance issues that are causing the AT to struggle.  I will investigate this.  High priority.

[2016-02-02 18:42] terracoda commented on #124
@jessegreenberg With document role on Keyboard Commands and Help Dialog, I can read through line by line slowly! This is with JAWS and FireFox, and it seems to work as well with Internet Explorer, too!

[2016-02-04 17:23] jessegreenberg commented on #124
@terracoda, clad to hear it is working with platform consistency!  :+1:

[2016-02-04 21:10] terracoda opened #125 "Shift plus WASD keys"
In Instance 11, it appears that when adding Shift to one of the WASD keys doesn't make the balloon take bigger steps. Did something change? I've tested with JAWS 17 on Windows 10 and on Mac with no screen reader.

[2016-02-05 18:31] jessegreenberg commented on #125
In a previous issue, we found that the default drag speed was too slow on certain platforms to pick up charges.  Now that the default speed is increased, the difference between fast and slow dragging may seem negligible.  I will increase the 'fast' dragging speed a bit so that the difference is more apparent.

[2016-02-05 19:32] jessegreenberg commented on #125
Speed increased when shift pressed, closing.

[2016-02-05 19:32] #125 closed

[2016-02-05 23:26] terracoda commented on #125
Awesome @jessegreenberg, thank you!

[2016-02-08 18:30] oliver-phet opened #126 "User suggestion: uncharged balloon behavior"
I have one comment on the “Balloons and Static Electricity” simulation. It would be useful to improve upon the behavior of the balloons while uncharged. This behavior is no completely natural, eg. an uncharged balloon sticks to the wall and the sweater. This all the more unfortunate as this simulation is otherwise suited for younger children where “realism” is all the more important.

[2016-02-08 18:33] ariel-phet commented on #126
@oliver-phet there is nothing we can "improve" here in terms of the code. We could however make a not in the teacher tips if not already there.

The "uncharged" balloon does not stick to the wall. It just stays wherever you place it. Only when charged does it feel forces. Perhaps forward me this suggestion, because perhaps I do not fully understand the issue being raised?

[2016-02-08 18:41] ariel-phet commented on #126
Responded to user:

[2016-02-08 21:32] arouinfar commented on #117
This simplification has been documented in the teacher tips, which I'll finish up later today or sometime tomorrow. Since the tips document is being tracked in #119, I'll go ahead and close this issue.

[2016-02-09 13:58] terracoda commented on #117
@ariel-phet @oliver-phet @arouinfar This is an important detail to add to the scene description in the accessible version of this simulation. I thought I should describe the balloons as helium balloons, but I refrained because they do not behave like helium balloons.

Nice to know the string is "magic". Can we consider reversing the situation, so that the balloons are hanging from the ceiling? It

[2016-02-09 18:45] jessegreenberg commented on #121
One thing I noticed when testing with JAWS and IE is that the focus seems to get stuck around the 'Add wall' and 'Reset Balloon' button.  Focus moves around to the correct HTML element, but description and keyboard event callback are stuck on one of these two buttons.  It is as though the virtual cursor is getting out of sync with the HTML focus.

[2016-02-09 19:51] arouinfar commented on #117
Thanks for your insights @terracoda! I enjoyed looking through your installation photos. One thing I hadn't thought about until I read your comment is that we will probably need to create new teacher tips for sims when they are re-released with accessible features.

Here's the text from the model simplifications of the teacher tips

I like @terracoda's suggestion to hang the balloons from the ceil

[2016-02-09 20:07] arouinfar commented on #119
Uploaded! Closing.

[2016-02-09 20:07] #119 closed

[2016-02-09 22:10] terracoda commented on #117
Thanks for the descriptive note @arouinfar. And I am happy to contribute. Glad you like the hanging from the ceiling idea. In my installation, I suspended non-helium balloons with helium filled ones and it had a really nice effect. Hopefully, some day I'll get to do the installation again.

[2016-02-09 22:32] jessegreenberg commented on #123
This is not something I am able to reproduce with any screen reader or platform.  We have been using this source for accessible dialogs:
https://accessibility.oit.ncsu.edu/training/aria/modal-window/version-3/

The most important items from this are:
* When modal dialog is displayed an overlay is placed over the main pate so it is not clickable and visually grayed.
* When dialog is open, the main

[2016-02-09 22:39] jessegreenberg commented on #123
According to the Paciello Group (https://www.paciellogroup.com/blog/2016/01/the-state-of-hidden-content-support-in-2016/) :

* All major screen readers and browsers support ```aria-hidden``` to hide visible content from a screen reader
* All major screen readers and browsers support ```hidden``` to hide content from both AT and View.

See http://stevefaulkner.github.io/HTML5accessibility/tests/hid

[2016-02-09 22:40] jessegreenberg commented on #123
For this case, I think ```aria-hidden``` is more appropriate for hiding the screen view.  The ScreenView is still visible, though should be hidden from AT.   I will change this in BASE and verify.

[2016-02-09 22:54] jessegreenberg commented on #123
```aria-hidden``` does not fully remove elements from navigation in the same way ```hidden``` does.  Virtual cursor is limited to the dialog, but if user tabs out of dialog and back to the address bar, they can find the elements from there.  Going back to https://accessibility.oit.ncsu.edu/training/aria/modal-window/version-3/ we need to more aggressively control the tab navigation.

[2016-02-09 23:02] jessegreenberg commented on #123
The keyboard help dialog also receives focus.  I don't think it should.  The 'close' button is the only element that should receive focus in this case.  We can prevent default ```tab``` behavior on the button, and restrict focus to this window.

As in the example provided, this means that the user cannot get to the browser address bar if the pop up dialog is open.  Perhaps this is acceptable as lo

[2016-02-09 23:36] jessegreenberg commented on #123
If we restrict focus to a single button, or force the focus in any way, some screen readers automatically transition into forms mode.  I notice that in the example dialog above, NVDA must be in forms mode, the virtual cursor cannot be used.  We can try adding the ```document``` role to the close button, this may override this. This adds some complexity, I am hesitant to overload with aria attribut

[2016-02-09 23:55] jessegreenberg commented on #123
Adding the document role to a button does not help.  Perhaps if make the section in the popup dialog focusable?  This way, the user can navigate to the content and the close button.  The docuemtn role on the text should allow the user to navigate that content with the arrow keys and then close the dialog with the button.  This would also leave the dialog window out of focus, which is a good thing.

[2016-02-10 00:10] jessegreenberg commented on #123
We need a visual representation of the keyboard help content.  I will pull something together with text very quicly.  This content should receive focus as a document.  We can work on styling later in another issue.  This way, focus is restricted to content and the close button.

[2016-02-10 02:33] jessegreenberg commented on #123
The keyboard help dialog now

 - Uses JavaScript to restrict navigation to the tab navigation to the content and the close button
 - Uses ```aria-hidden``` on the screen view container to hide all other simulation components from the virtual cursor
 - Uses a document role so that content can be navigated with the arrow keys
 - Does *not* use the ```dialog``` role, it seems to override the ```docum

[2016-02-10 02:37] jessegreenberg commented on #123
Commit 679ba5817df5610fd77d62364b9b57fa1ad1b0ed handles this.

@terracoda, I think this issue should be fixed.  Between all of the items in https://github.com/phetsims/balloons-and-static-electricity/issues/123#issuecomment-182172294, I think navigation should be restricted to the dialog.  If you have any comments or encounter this issue again, please feel free to reopen this issue and let me know

[2016-02-10 02:37] #123 closed

[2016-02-10 16:42] jessegreenberg commented on #124
https://github.com/phetsims/balloons-and-static-electricity/issues/123 closed.

[2016-02-10 16:50] jessegreenberg commented on #106
http://whatsock.com/tsg/Coding%20Arena/Drag%20and%20Drop/demo.htm has an example of a live alert.  There are currently two live alerts in BASE for when the balloon and wall are added to the screen view.  These live regions work well with Firefox, but are unpredictable in other platforms

If they are changed to changed to follow the above example, I think behavior should be more consistent.

There

[2016-02-10 17:03] jessegreenberg commented on #124
I could not reproduce this with JAWS, hopefully this has been fixed after recent changes to the dialog.

[2016-02-10 17:26] ariel-phet commented on #117
@arouinfar lets close this issue (since things were addressed in the teacher tips for the current version). Please make a new issue and mark as an enhancement, something like "consider hanging balloons from ceiling" copy over relevant comments, and reasoning.

[2016-02-10 17:33] jessegreenberg commented on #121
It looks like there is an issue with the structure of these inputs.  These inputs have children, which is not valid HTML.  Since none of the label text is visible, I think it should be acceptable to replace the paragraph descriptions with an ```aria-label```.

Ideally, these buttons would be represented with something like:
[code]

This is tricky with scenery because the node must be represented b

[2016-02-10 17:39] jessegreenberg commented on #121
Another possibility could be the following, assuming role=button is handled correctly
[code]

This is my favorite.  It allows us to nest labels and descriptions as desited, and the parent div receives focus.   This is how rectangular push buttons should be represented.

[2016-02-10 17:44] jessegreenberg commented on #121
One downside is that 'click' event is no longer handled by default.  We need to handle ```onkeydown``` ourselves for keyboard support. The screen reader *should* let these go through.  Input would become a dependency for RectangularPushButton.

[2016-02-10 18:09] arouinfar commented on #126
I just saw this issue and clarified this point in the teacher tips.

@ariel-phet this issue seems to have been handled and doesn't currently have anyone assigned to it. Can it be closed?

[2016-02-10 18:10] arouinfar commented on #117
Will do @ariel-phet!

[2016-02-10 18:10] #117 closed

[2016-02-10 18:18] arouinfar opened #127 "Consider hanging balloons from the ceiling"
In #117, @oliver-phet reported a user's concern

@ariel-phet  responded

@arouinfar created the teacher tips, and included the following

@terracoda commented

I like @terracoda's suggestion to hang the balloons from the ceiling. I think it would definitely help cue that the balloons are not helium filled (or that the buoyant force is not present/shown), which is an important model simplification.

[2016-02-10 18:19] ariel-phet commented on #126
@arouinfar yes, I think so, I was waiting to hear back from the user, but if they come back with something not addressed in the teacher tips, I will reopen. Thanks.

[2016-02-10 18:19] #126 closed

[2016-02-10 18:40] jessegreenberg commented on #121
It looks like 'click' is actually supported for many platforms with the button role:
http://unobfuscated.blogspot.com/2013/05/event-handlers-and-screen-readers.html

But it it not predictable, there is no common event across browsers for the button role. Firefox and OS devices do not support it.  If the behavior is mimicked, NVDA requires that the user be in forms mode to even use the buttons. Eve

[2016-02-10 18:49] jessegreenberg commented on #121
Button name is ignored by screen reader with this representation.  No need for this to be an input, perhaps something like

[code]

[2016-02-10 19:00] jessegreenberg commented on #121
Again, the ```aria-label``` is not an additional label, it overrides the visible name.

[2016-02-10 19:00] arouinfar commented on #127
Perhaps if this change request is not overly difficult (or could be done in a quick-and-dirty, though less maintainable way), it could be done in a branch and we could interview students to see how they interpret the balloons hanging from the ceiling.

[2016-02-10 19:05] jessegreenberg commented on #121
What we really need to to add a feature to the scenery API that allows us to create a structure like:
[code]

The node itself is represented by the input, but it can exist in a container element that will hold descriptions, labels, or other content for the screen reader.

This has been required in several cases outside of this issue.

[2016-02-10 19:06] jessegreenberg commented on #121
I will test the structure suggested in https://github.com/phetsims/balloons-and-static-electricity/issues/121#issuecomment-182532519 in balloons-and-static-electricity to see if this solves issues with JAWS and getting stuck on input elements with children.

[2016-02-10 23:21] jessegreenberg commented on #127
Changing the focal point is very simple, here is what it looks like if we just change the position of the strings.

![balloon-ceiling](https://cloud.githubusercontent.com/assets/6396244/12965189/86a1a0aa-d011-11e5-8047-d4aa28040429.PNG)

Right now, there isn't a ceiling.  If the ceiling is a graphic, it might also need charges like the wall.  Was the vision to rotate the balloon 180 degrees as wel

[2016-02-10 23:27] arouinfar commented on #127
Thanks @jessegreenberg! I don't think there necessarily needs to be a ceiling graphic. We should, however, rotate the balloons 180* otherwise it may perpetuate the idea that the balloons are helium filled.

[2016-02-10 23:45] jessegreenberg commented on #127
Sounds good @arouinfar.  My concern with no ceiling is that it might look strange in some screen resolutions.

![anchor](https://cloud.githubusercontent.com/assets/6396244/12965622/d7612c88-d014-11e5-9dab-18df6fa1d03b.PNG)

After rotating the balloon, it looks like we would also need to change the charge distribution along the balloon edge.

[2016-02-11 00:13] arouinfar commented on #127
Good point @jessegreenberg. Perhaps we could try adding gray stroke across the top of the screen that matches the one at the top of the wall to make it appear that the string is attached to something. I don't think we want to deal with a true ceiling that would act like a polarizable dielectric (like the wall).

![image](https://cloud.githubusercontent.com/assets/8419308/12965805/649f98d6-d016-11e

[2016-02-11 03:01] terracoda commented on #121
@jessegreenberg, I think we may still need an aria-label on the `input` element. You can think of labels as essential or required and descriptions as extra or optional. The html `value` attribute does not provide an accessible name in the Accessibility Tree. Every element needs an _accessible name_. There are generally 3 ways to provide an accessible name:
1. in content node of the element itself,

[2016-02-11 03:54] jessegreenberg commented on #121
@terracoda I think you are correct, the label will be required.  ```aria-label``` could work well, something like
[code]
would be fine.  ```value``` attributes are also read by the screen reader as labels for button inputs, I have been following the accessible button examples from http://webaim.org/techniques/forms/controls#button.

I was hoping that we could streamline the DOM element into a sing

[2016-02-11 03:57] jessegreenberg commented on #127
Sure, that could be done quickly.  Assigning issue to me to invert the locations so they are in the balloon.

[2016-02-11 16:27] jessegreenberg commented on #127
Here is a dev version with these changes: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-dev.2/balloons-and-static-electricity_en.html

@arouinfar please let me know if anything else needs to change before testing.

[2016-02-11 18:27] terracoda commented on #127
Looking good! @jessegreenberg and @arouinfar. The shading on the balloon needs to be adjusted if we assume the light is still coming from the top.

Regarding the ceiling, I agree we might eventually need a ceiling. Honestly, I thought there was one. @jessegreenberg, perhaps you can make the top of the sim display like the bottom of the sim. The balloon doesn't travel beyond the top of the wall any

[2016-02-11 19:54] jessegreenberg commented on #127
Good point @terracoda, I forgot about the balloon shading!  Rotation of the image alone will be insufficient.  If we do end up with this implementation, we will need new images for the balloons.

A black border along the top could work for symmetry with the navigation bar.  Depending on student interviews, we could certainly add something like this, or the line suggested by @arouinfar.

[2016-02-12 01:03] pixelzoom commented on #83
Looks like this was fixed in @b6da947debf23e89536bb8bf8eb714bdcad926f3 but never closed.

Closing.

[2016-02-12 01:03] #83 closed

[2016-02-12 01:04] pixelzoom commented on #85
This refers to an old convention.  We no longer use `<repo>-128.png` files, we use `<repo>-screenshot.png`, and this sim has that file.

Closing.

[2016-02-12 01:04] #85 closed

[2016-02-12 01:06] pixelzoom commented on #15
This will be handled by translators via Rosetta when the sim is published with translation support. There's no need for PhET to do anything for new strings.

Closing.

[2016-02-12 01:06] #15 closed

[2016-02-12 01:07] pixelzoom commented on #97
This was addressed by some more general issue in the tasks repository.  Closing.

[2016-02-12 01:07] #97 closed

[2016-02-12 01:10] pixelzoom commented on #89
This was addressed in @0714badf12a41364c6ebc217a7c5a1d05ae66e06 but never closed.

Closing.

[2016-02-12 01:10] #89 closed

[2016-02-12 17:57] arouinfar commented on #127
@jessegreenberg dev.2 will work nicely for interviews. Thanks!

I agree with @terracoda that will will need to fix the shading on the balloon if we end up taking this approach, but it's fine as is for interviewing.

@jessegreenberg having the black border run along the top could also work nicely. Great suggestion!

[2016-02-12 23:00] terracoda commented on #124
@jessegreenberg I think JAWS stopped talking after the Dialog due to computer performance. I switched computers after my first interview and the remaining 6 interviews on a different computer went much more smoothly.

[2016-02-15 21:10] pixelzoom commented on #88
Duplicate of https://github.com/phetsims/balloons-and-static-electricity/issues/115.

[2016-02-15 21:10] #88 closed

[2016-02-15 21:15] terracoda opened #128 "Balloon movement inconsistant"
In my last interview, inconsistent balloon movement occurred several times. I did not notice this behaviour in other interviews on the same system.
In several instances, a single directional key press sent the balloon to the extreme edge of the Play Area. This happened first (Green Balloon) from the middle of the Play Area up to the top with one W press.
Later, after 3 normal steps the Yellow Ball

[2016-02-15 21:24] pixelzoom commented on #115
Fixed in the above commit.

For stringTest=double:

![screenshot_12](https://cloud.githubusercontent.com/assets/3046552/13060567/ce468452-d3ef-11e5-8eae-1aa836f6b6a2.png)

For stringTest=long:

![screenshot_11](https://cloud.githubusercontent.com/assets/3046552/13060581/d614b32a-d3ef-11e5-9d61-f8ac4ec8665f.png)

[2016-02-15 21:30] pixelzoom commented on #115
This can be verified in:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-dev.3/balloons-and-static-electricity_en.html

[2016-02-15 22:42] jessegreenberg commented on #127
Backed out of these changes for the redeploy, we can add them back in after student testing.

[2016-02-15 23:58] jessegreenberg commented on #128
I have observed this issue a couple of times though without consistency and only on JAWS + IE.  Thank you for the detailed report and the system information!

This is something we will need to investigate.  I am not sure if this is related to sim performance or the way that JAWS handles input events.  When I observed the issue, the mouse dragging performed well, so I am leaning toward JAWS event h

[2016-02-16 12:34] terracoda commented on #128
@jessegreenberg, good to know you had seen this before. On the Surface Pro 3 (Windows 10 and IE11), there seemed to be some "delayed" movement. For example, user made a couple of key presses that did not move the balloon and then it made a big move like it was playing catch up.  But in the cases described above the user did not make multiple key presses.

[2016-02-16 16:23] jessegreenberg commented on #128
Ok, thanks @terracoda.  Will be looking at this today.

[2016-02-16 18:19] jessegreenberg commented on #128
BalloonNode instruments a combination of ```keyup``` and ```keydown``` event listeners.  Since only one key event is fired at a time, we use this implementation to track the 'state' of the keyboard by updating a map of which keys are down.  This also lets us avoid the HTML5 'press and hold' delay since we update the model depending on the state of the keyboard map in milliseconds.

When no AT is b

[2016-02-16 18:26] jessegreenberg commented on #128
With NVDA and Firefox:

Press and hold:
![firefox](https://cloud.githubusercontent.com/assets/6396244/13086335/0167fcf2-d4a0-11e5-8b26-c20b819a4a33.PNG)

Tappinig:
![tapping-firefox](https://cloud.githubusercontent.com/assets/6396244/13086342/060110aa-d4a0-11e5-887e-9ca179f46dc0.PNG)

Looks good with NVDA + Firefox :+1:

[2016-02-16 20:36] pixelzoom commented on #98
@jessegreenberg Please follow up on this issue after the sim is published.

[2016-02-16 21:55] jessegreenberg commented on #128
Firefox started to behave extremely poorly while JAWS turned on.  Reinstalling fixed issues.  Back to testing for key events.

[2016-02-16 22:00] jessegreenberg commented on #128
Just tested with with Firefox 44 + JAWS 17, Windows 10.  Could not reproduce issues, same event pattern as https://github.com/phetsims/balloons-and-static-electricity/issues/128#issuecomment-184812698

[2016-02-16 22:22] jessegreenberg commented on #128
Able to reproduce with JAWS 17 + IE 11, *and* IE 11 with the developer tools enabled.  This makes me think it is a performance issue.

When observing the keyboard events, the order is correct as above, but there is a delay in the ```keyup``` event, which means that the sim thinks the keys are pressed for longer than they actually are.

[2016-02-16 22:42] jessegreenberg commented on #128
Now convinced this is a performance issue.  Problem is especially bad when JAWS + Dev tools enabled.  Less observable when JAWS disabled, but still present when dev tools enabled.  Not as observable with NVDA, likely because this reader is light weight and doesn't hog as much of the CPU.

We will need to consider scenery related performance optimizations to resolve this issue.

[2016-02-16 22:43] jessegreenberg commented on #124
Yes, this is a performance issue.  See #128.

[2016-02-16 22:47] jessegreenberg commented on #124
See https://github.com/phetsims/balloons-and-static-electricity/issues/121

[2016-02-16 22:48] jessegreenberg commented on #124
Closing this issue.  Issues either resolved or distributed into additional ```dev:a11y``` issues.

[2016-02-16 22:48] #124 closed

[2016-02-16 23:03] jessegreenberg commented on #121
Revisiting this issue, can no longer get stuck on elements.  I have not made any changes yet, I am not sure why I can no longer reproduce this issue.

[2016-02-17 00:56] jessegreenberg commented on #121
Buttons now structured as described in https://github.com/phetsims/balloons-and-static-electricity/issues/121#issuecomment-182692536, with the ```aria-label``` attribute.  The input elements are contained under a parent div element so that the description can be added in addition to the button's accessible name.

Working great with NVDA in a few browsers, testiing JAWS next.

[2016-02-17 01:06] jessegreenberg commented on #121
JAWS seems to work very will, tested in both IE and Firefox.  Live regions working very well too :+1: Closing.

[2016-02-17 01:11] jessegreenberg commented on #111
Progress with the application role is being tracked in #116.  ```data-at-shortcutkeys``` is not a route we want to go down unless absolutely necessary.  It is a solution that is specific to JAWS and only works with a few browsers. Closing.

[2016-02-17 01:11] #111 closed

[2016-02-17 03:46] terracoda commented on #111
Thanks for closing @jessegreenberg. Agreed.

[2016-02-17 04:27] terracoda commented on #121
@jessegreenberg, I see you tried a regular button tag. That should work as a single line DOM element if one doesn't need a description, right? Were there other issues with just using a button?
[code]
and this might also be possible when a description is not necessary
[code]
Sorry I am a bit late to the discussion.

[2016-02-17 19:15] BryceAG commented on #79
I also noticed that if the second balloon picks up just one electron, although it doesn't show the spare electron it does react to the other balloon by repelling from it. Also if you have just one balloon and pick up just one electron, it still won't show up but will be attracted to the sweater. So the electrons are still counted as far as the forces are concerned

[2016-02-17 19:23] brroberts1231 opened #129 "Wall does not extend up on iPad"
When using an iPad in the vertical orientation, the wall on the side does not extend all the way to the top of the screen, and part of the charge extends outside of the wall itself. This doesn't happen in horizontal orientation.
![balloon](https://cloud.githubusercontent.com/assets/11947677/13121761/f79c8f68-d570-11e5-94f6-a4ba296a7032.jpg)

phetsims/tasks#513

[2016-02-17 22:40] jessegreenberg commented on #129
Related to https://github.com/phetsims/balloons-and-static-electricity/issues/101

[2016-02-17 22:49] jessegreenberg commented on #121
Yes, that is correct.  Right now the button is represented as a single line if no description is necessary, like
[code]

and nested in a div if the description is necessary.  As for whether to use an input element or a button, they seem to behave the same across screen readers.  No values are submitted from button elements in the parallel DOM, so we don't have to worry about behavior differences b

[2016-02-18 16:01] jessegreenberg commented on #109
This issue is related to our ongoing investigation of the application role and how the screen reader intercepts key key events.  For browsers and readers that support the letter (WASD) keys, this hasn't been an issue.

This is an accurate structure description of the parallel DOM.  If this is confusing to users, we will need to change the DOM structure in some way.

[2016-02-18 16:02] jessegreenberg commented on #109
Since we are now up to accessible version 11 and new review items are listed under sim issues, closing this issue.

[2016-02-18 16:02] #109 closed

[2016-02-18 16:07] jessegreenberg commented on #105
Please see https://github.com/phetsims/balloons-and-static-electricity/issues/123 for changes involving the keyboard help dialog.  Most notably, there is some new visual content to go along with the dialog, and a new structure that should support 'documents' mode with the virtual cursor.

Since the keyboard help dialog was added, closing this issue.  New issues can be created for any additional ch

[2016-02-18 16:07] #105 closed

[2016-02-18 17:03] arouinfar commented on #127
@jessegreenberg can you completely remove the string and rotate the balloon/charges so they are upright again? Based on earlier interviews, I'd like to see how students interpret a completely disconnected balloon.

[2016-02-18 19:38] jessegreenberg opened #130 "Redeploy Balloons and Static Electricity"
BASE is ready for a redeploy.  https://github.com/phetsims/tasks/issues/513#issuecomment-184751667 test task passed with no issues that need to be addressed before the redeploy.

In 2/18/16 developer meeting, we decided that PhET policy will be to *not* skip version numbers.  Work should resume in the stale branch, pulling in from master if necessary.  This will be noted in the commit.

Before BAS

[2016-02-19 00:17] jessegreenberg commented on #127
@arouinfar Sure, here is a new dev version:

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-dev.4/balloons-and-static-electricity_en.html

[2016-02-19 01:30] terracoda commented on #127
@arouinfar, a disconnected balloon is also a nice way to suggest it is not  a helium balloon.

[2016-02-19 01:49] terracoda opened #131 "Visual negative charges off by one."
I understand that the charge representations are metaphorical. However, I noticed that a balloon can have a net negative charge, but appear in the visual as a net zero charge. This occurred in one of my interviews. The Yellow Balloon had collected all but one of the negative charges. The Green Balloon then collected the last negative charge. In the description the Green Balloon became negatively c

[2016-02-19 02:38] terracoda commented on #121
@jessegreenberg, the `button` element was created to replace `input type="button"`. I do prefer the `button` element.

[2016-02-19 17:42] jessegreenberg commented on #130
In addition to this, it looks like one or two scenery patches need to be applied to the 1.1 branch before sim is ready for release.  See

https://github.com/phetsims/scenery/issues/515
https://github.com/phetsims/scenery/issues/516

[2016-02-19 18:00] jessegreenberg commented on #131
Related to issue #79.

This issue can be reproduced in master and 1.0 published to site.  As @terracoda suggests, it looks like visible charges on balloon are always one less than they should be.   Exemplified with 'show charge differences' selected:
![charge-differences-2](https://cloud.githubusercontent.com/assets/6396244/13184252/fc49dc4a-d6f7-11e5-97d0-6a43b4fb6e0b.PNG)

[2016-02-19 19:32] terracoda commented on #108
@jessegreenberg, posting tools to help us inspect the Accessibility Tree.

Accessibility inspectors (suggested by Joseph Scheuhammer). They allow you to see what is going on inside Accessibility APIs. This will help us improve the PDOM, and hopefully provide a better listening experience for users of screen readers.

For FireFox, there are a couple of plugins.  First install the Web Developer Tool

[2016-02-19 22:52] jessegreenberg commented on #130
Merge complete, joist sha patched for the issues above.  package.json points to 1.1 again.  Balloons and Static Electricity is ready for an RC.

[2016-02-19 23:19] jessegreenberg commented on #130
1.1.0-rc.6 published and deployed, test task created: https://github.com/phetsims/tasks/issues/520.

[2016-02-20 00:19] jessegreenberg commented on #108
@terracoda, thank you for compiling this!  All of this is very helpful, I will take a look.  I have also tried Chrome's native tool for viewing the accessibility tree (chrome://accessibility/).  It is quite long, but here are the first few lines.  Not the easiest to parse, but could be helpful for debugging.

[code]

[2016-02-20 01:09] jessegreenberg commented on #131
In BalloonNode:

[code]

I think ```model.plusCharges.length - 1 - chargeVal - 1``` is one less than it should be.  ```model.plusCharges.length - chargeVal - 1``` gives the difference in positive and negative charges, minus one for the array index offset.

[2016-02-20 01:18] jessegreenberg commented on #131
Fixed in commit above.  The balloon should now always have an electron when it has charge.  A few of the ChargeNodes overlap exactly, so after about charge 8, it may look like the the visible charge is off by one or two.  @arouinfar is this acceptable or should all charges have unique locations?

[2016-02-22 18:26] arouinfar commented on #127
@jessegreenberg thanks! We'll be interviewing on this version too.

[2016-02-22 18:33] arouinfar commented on #131
@jessegreenberg that seems like a reasonable solution to me. I haven't noticed students counting the number of electrons on the balloons when there are more than just a few electrons present.

[2016-02-22 21:22] jessegreenberg commented on #131
Great, thanks @arouinfar.  Closing.

[2016-02-22 21:22] #131 closed

[2016-02-22 21:26] jessegreenberg commented on #79
Thanks for catching this!  This was fixed in #131.
![conserved](https://cloud.githubusercontent.com/assets/6396244/13233287/4cceb2b0-d970-11e5-82f3-b6cead2261a3.PNG)

Closing.

[2016-02-22 21:26] #79 closed

[2016-02-23 20:57] terracoda opened #132 "Inconsistency of content in Visual Sim and PDOM"
Currently, the Wall heading and Wall descriptions remained in the PDOM after the user removes the Wall by pressing the Remove Wall button.

All evidence of the Wall needs to be hidden from AT while it is in a "removed" state. You might need to use both ARIA and CSS to do this.

Related issue, where we place the following text strings describing the states matters. Currently the content is out orde

[2016-02-24 00:03] jessegreenberg commented on #132
In commit above, the wall domElement is hidden when the WallNode is invisible.

[2016-02-24 00:16] jessegreenberg commented on #132
@terracoda could you please clarify what you mean by this?  Are you referring to the order that the screen reader announces the aria-live content?  Or the location of the paragraph's containing the update?

[2016-02-24 00:26] jessegreenberg commented on #132
In the commit above, I moved the live description paragraph for the wall under the containing div of the 'add wall' button.

[2016-02-25 16:24] jessegreenberg commented on #130
Testing is complete in issue above, we are ready to redeploy the maintenance release.

[2016-02-25 19:56] terracoda commented on #132
Thanks @jessegreenberg!

[2016-02-25 20:07] jessegreenberg commented on #132
Absolutely!  Location of live paragraph fixed, closing.

[2016-02-25 20:07] #132 closed

[2016-02-25 20:32] arouinfar commented on #127
We will still need to interview on this sim a few more times before having a discussion with the design team about the next steps to be taken. A few other sims will have interviews scheduled in the near-ish future (Pendulum Lab & Neuron) and this sim will be used at the end of those interviews.

[2016-02-25 22:33] jessegreenberg commented on #130
Just deleted the 1.2 branch since we resumed the 1.1 branch for this release.

[2016-02-25 22:55] jessegreenberg commented on #130
Balloons and Static Electricity 1.1.0 deployed:
http://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html

[2016-02-25 22:55] jessegreenberg commented on #130
Closing.

[2016-02-25 22:55] #130 closed

[2016-02-25 23:04] jessegreenberg commented on #98
1.1.0 has been published.  https://github.com/phetsims/website/issues/392 was created to track adding back the download button.

[2016-02-29 16:33] jessegreenberg commented on #115
Balloons and Static Electricity went through RC and i18n testing for the redeploy.  All string tests passed. Closing.

[2016-02-29 16:33] #115 closed

[2016-02-29 16:41] jessegreenberg commented on #114
In #130, it was decided that the 1.2 branch be merged into 1.1 branch so that 1.1 release process was completed.

Balloons and Static Electricity 1.1 was republished for S2015R with dependencies.json, so maintenance releases can go out as necessary.  This issue can be closed.

[2016-02-29 16:41] #114 closed

[2016-02-29 16:44] jessegreenberg commented on #98
Download button has been added back via https://github.com/phetsims/website/issues/392.  Download file is working again, closing.

[2016-02-29 16:44] #98 closed

[2016-02-29 22:34] jessegreenberg commented on #121
Sounds good @terracoda, I will change to use a native button.  This change will need to be done in sun.

[2016-02-29 22:56] jessegreenberg commented on #121
Done, all buttons (including toggles) use ```button``` instead of ```<input type='button'>```.  I believe this issue can now be closed.

[2016-02-29 22:56] #121 closed

[2016-03-01 18:40] jessegreenberg commented on #122
I would recommend a separate button that pulls up the keyboard help menu.  This way, the keyboard help menu is available for those that do not use screen readers.  Perhaps it could have a unique icon that would be used for all simulations.  Alternatively this could exist in the PhET menu, but that is more difficult to access.

[2016-03-01 18:44] jessegreenberg commented on #116
It seems like either the browsers or the AT are not handling the application role correctly.  There are two steps to follow through to see if we can get the desired keyboard navigation:

- Investigate the Rendered accessibility tree using tools listed in https://github.com/phetsims/balloons-and-static-electricity/issues/108#issuecomment-186370224 to see if there are any red flags that would preven

[2016-03-01 19:08] jessegreenberg commented on #113
I believe this would mostly be implemented with https://github.com/phetsims/scenery/issues/41.  However, the focus event is separate from other mouse events.  For most accessible forms,  the focus highlight disappears if the mouse is pressed.  If a button is pressed, the navigation order resets.

Implementing this would mean an addition to typical html behavior.  That may be necessary for PhET's a

[2016-03-01 21:55] terracoda commented on #113
In traditional website design it is often the _focus style_ that gets overlooked in the design process, making it difficult for many users (but especially visual keyboard users) to see where they are on the page. This is usually handled through the CSS psuedo-classes: Link, Visited, Hover, Focus, Active. It often makes sense (but not always) to have the hover style the same as the focus style.

In

[2016-03-02 14:30] terracoda commented on #116
@jessegreenberg I agree that we need to investigate the the Accessibility Tree and simplify the context.
Would you mind posting the rendered HTML as it is in Instance 11? I know it is slightly different from my prototyped PDOM.

Here are the few approaches we might take based on discussions with Joseph Schuehammer and some post interview thoughts.
1. Reduce nesting of code structure. Doing this sh

[2016-03-03 04:25] jessegreenberg commented on #116
Sure @terracoda, here is the up to date PDOM for BASE:

[code]

[2016-03-03 04:33] terracoda commented on #116
@jessegreenberg Thanks!

[2016-03-03 04:55] jessegreenberg commented on #116
From above, here is the representation of the balloon:
[code]
I am not sure how to reduce nesting here.  Perhaps we can try it without descriptions and labels and see if the balloon behaves any better.  We can then try to add descriptions and attributes back in to the balloon to see what is causing the repetition.

I did not quite understand this, can a span exist on its own without being wrapped

[2016-03-04 16:27] terracoda commented on #116
@jessegreenberg
Regarding the nesting: that was likely caused by the form control that was rendered in earlier versions. I agree, I don't think we can reduce nesting - there is no nesting now :-)

Regarding duplication, as discussed today, this might be caused by the screen reader reading out the content once as aria-labelledby / aria-describedby and once as actual content. Not sure how to handle

[2016-03-14 22:55] jessegreenberg commented on #116
https://github.com/phetsims/balloons-and-static-electricity/issues/116#issuecomment-177036081

After a recent update to firefox, Arrow keys are now supported by NVDA + Firefox on my Windows 10 Machine!!  No change to the current balloon implementation.

In general, accessibility is performing much better on this platform after this update.  I would like to know why.

[2016-03-14 22:57] jessegreenberg commented on #116
Just tested with JAWS, this AT exhibits the same issues on all platforms.  Event goes to the browser, but 'keyup' fired immediately after 'kedown' preventing dragging behavior.

[2016-03-14 23:08] jessegreenberg commented on #116
Replacing ```div``` with ```span``` does not seem to have an impact on screen reader behavior either way.

[2016-03-14 23:24] jessegreenberg commented on #116
Creating a separate issue for this.

[2016-03-14 23:28] jessegreenberg opened #133 "New balloon interaction: 'Play with balloon' button"
In #116, @terracoda suggested a new balloon interaction pattern:

With an example interaction pattern:

user presses Spacebar (or Enter) to play with the Balloon.
Nav/interaction cue is read out. "Use W, A, S...to drag balloon up, left.... Press Spacebar to release."

[2016-03-14 23:37] jessegreenberg commented on #133
Two possibilities:

1.  Invisible buttons exist in the PDom that sets focus to balloon when selected.  Button has its own labels and descriptions to match pattern above.  Button should be hidden when balloon is being played with, and hidden when balloon is invisible.

2.  BalloonNode dynamically resets its accessible peer from button to application div as necessary

3.  BalloonNode remains a div,

[2016-03-14 23:52] jessegreenberg commented on #133
As I work on this I notice that this could be confusing to those that do not use a screen reader.  They will need some direct cue that a 'pick up' interaction is required.

[2016-03-15 00:02] jessegreenberg commented on #133
Option 1 is not possible.  In order to correctly maintain the focus highlight around the balloon for all steps in the interaction, the accessible peer and content needs to change.  Now I think setting balloonNode.accessibleContent (option 2) is the best approach.  In https://github.com/phetsims/balloons-and-static-electricity/issues/121 we determined that a div with role=button does not behave wel

[2016-03-15 01:20] jessegreenberg commented on #133
Option 2 is working very well with NVDA + Firefox (including arrow keys!) arrow keys.  In chrome, no keys work with NVDA and the 'application' content for the balloon is not read out unless the user navigates through those descriptions with the virtual cursor.

[2016-03-15 23:17] terracoda commented on #133
@jessegreenberg The unobfuscated post also advises against using a div with the role button.
Another helpful resource might be Léonie Watson's talk on  [Accessibility Mechanics. APIs and ARIA](https://www.youtube.com/watch?v=lwr-qhV6Gjo). Her slides are posted on slide share if you need a closer look.
I envisioned the grab interaction as a control separate from the balloon, but didn't think about

[2016-03-16 00:48] jessegreenberg commented on #133
Very cool, thanks for the resource @terracoda.  I will take a look at

The way it is implemented now should have no impact on the interaction for mouse users.  Here is the way it is implemented with https://github.com/phetsims/balloons-and-static-electricity/commit/f748bc2e38d12f07ab40d9ce38b1cae436a4d6f1.

 - User navigates to 'Balloon', which is represented as the following in the parallel DOM:

[2016-03-16 00:55] jessegreenberg commented on #133
I would like to test with JAWS and have this reviewed in a dev version before this is closed.  Also, the descriptions for each step in the interaction may need to be changed, but button style has been implemented.

[2016-03-16 01:48] terracoda commented on #133
Sounds good. Though I think a shorter label for the Balloon is better.
[code]
The phrase, go play with the Balloon would be good at the end of the Scene Summary.
Also, please add commas in between WASD letters, remove "grab" from the directions in the navigation, add "Space to release". Also, do you think it would be wise to remove the Help interaction, change it to something else "Press H for Bal

[2016-03-17 17:06] jessegreenberg commented on #133
Great ideas @terracoda.  I will create a checklist for each item mentioned in the comment above so that you can view progress.  Though I will wait to add 'Go play with balloon' to end of screen summary until we discuss that further.

Yes, this is a quick change so I will go ahead and do this, though I think we should discuss some details further in addition.  https://github.com/phetsims/balloons-a

[2016-03-17 22:54] ariel-phet opened #134 "Iframe accesibile instance of sim that displays screen reader output"
@samreid this seems like a good question for you...

@emily-phet was curious if it would be possible to embed the accessible instance of BASE in an iframe and below it have a text box that displays the screen-reader output just as printed text as you interact with sim.

Thoughts on if this is simple/feasible? Would it be possible to whip out a quick and dirty demo?

[2016-03-17 23:01] samreid commented on #134
It is a question for Jesse about how easy it is to get the screen reader text programmatically.  @jessegreenberg can you comment?

[2016-03-20 02:00] samreid commented on #134
@ariel-phet what is the timeline for this?  @jessegreenberg can you comment on accessing the text?  Also, this is not something that would necessarily need phet-io, you can deliver the strings over postMessage() quite easily.

[2016-03-20 02:05] ariel-phet commented on #134
It is basically something that would be very nice for demos. Also potentially very useful if we put up an example version, and allow the accessibility strings to be translatable (this way a translator could see the printed out strings without having to use a screen reader). Worth some investigation to see if we can make a very barebones solution. Perhaps @samreid and @jessegreenberg could spend an

[2016-03-20 15:10] terracoda commented on #106
@jessegreenberg The alerts that we added to announce the adding and removing of the Green Balloon and the Wall, worked really well in subsequent interviews.
Similar alerts for the reset buttons might work nicely, too. And even eventually for the Charge Radio Buttons.
Using these alerts seems to assure the user that their request/interaction was successful and that the controls work as the user exp

[2016-03-21 00:24] jessegreenberg commented on #134
Unfortunately this is not possible because screen readers do not provide a way to access their output programatically.

It is also very difficult to predict what a screen reader *might* say because it works with a virtual copy of our parallel DOM.  The browser has no way of knowing where the user's cursor is in the virtual buffer.

NVDA and JAWS both keep logs of their output, but these are meant

[2016-03-21 01:25] emily-phet commented on #134
@jessegreenberg: I didn't realize it would be so difficult to access the text for different purposes. My understanding was that the text exists in the DOM, and is tagged for screenreader to access...is it the case that as structured *nothing else* can access this text? I figured since it's sitting there in the DOM, it could be accessed in other ways. I can see the challenge (or impossibility, as y

[2016-03-21 02:50] samreid commented on #134
@jessegreenberg perhaps we could investigate using `document.activeElement` to identify the active DOM element in the accessible (parallel) DOM, then based on its type, getting the text from the element.

[2016-03-21 03:22] samreid commented on #134
Here's a possible way to detect focus changes: http://stackoverflow.com/questions/10035564/is-there-a-cross-browser-solution-for-monitoring-when-the-document-activeelement

[2016-03-21 14:43] jobara commented on #134
Screenreaders such as JAWS and NVDA use a virtual copy of the Document that a user can navigate through. When a user interacts with the content in this way, the browser is unaware of what content is currently being accessed by the user. I believe this post was shared on another thread earlier, but I'll post it here again just in case http://tink.uk/understanding-screen-reader-interaction-modes/ .

[2016-03-21 15:08] ariel-phet commented on #134
@samreid - although certainly not a simple solution...if a sim were instrumented for PhET-iO I would think there would be a way to take the normal scenery input events and such and play them back through the parallel DOM (though it sounds like this would take some sort of custom interpreter or such).

@jessegreenberg I would still like you and @samreid to take an hour or two and do a brainstorming

[2016-03-21 16:21] jessegreenberg commented on #134
@emily-phet, this understanding is correct, and we can access and use this text in any way we wish.  The challenge here is that we have less control over the screen reader.  It is difficult to get and show what is actively being read.

Yes, this would be much easier without screen readers. With another text to speech solution, we could have direct control of the output and a way to get what is bei

[2016-03-21 16:22] jessegreenberg commented on #134
For the reasons that @jobara mentioned in https://github.com/phetsims/balloons-and-static-electricity/issues/134#issuecomment-199320798 ```document.activeElement``` is probably not enough to get all of our descriptions.  When navigating with the virtual cursor, the screen reader does not set focus until it reaches a form element or an element with tabIndex=0, which excludes many of our labels and

[2016-03-21 16:26] jessegreenberg commented on #134
@jobara, that tool for modeling the virtual cursor looks really great!  Before something like that is possible, we will likely need to complete https://github.com/phetsims/scenery/issues/41.  A tool that works like that could be very nice for reviewing translated strings and accessible content.

 - the output occurs with browser events (e.g. focus, key events, etc.)
 - the output occurs with event

[2016-03-21 16:54] samreid commented on #134
@emily-phet & @ariel-phet are you intending that this iframe demo would be viewed with a screen reader on or off (or support for both)?

[2016-03-21 18:33] ariel-phet commented on #134
Screen reader off most likely.

For instance, @emily-phet has commented that in interviews with students using a screen reader, the text is read so quickly, a normal user would not be able to interpret it.

Second, for use for our translators in the future, most will not have access to a screen reader or expertise on how to use one.

[2016-03-21 18:46] jessegreenberg commented on #134
If we assume the screen reader is off, we can use the strategies @jobara mentioned in https://github.com/phetsims/balloons-and-static-electricity/issues/134#issuecomment-199320798 to listen for all of the necessary events.

[2016-03-24 20:11] jessegreenberg commented on #133
Checklist done.  Found a new issue with the balloon interaction.  The balloon no longer is 'dropped' on blur event.

[2016-03-24 20:19] jessegreenberg commented on #133
Fixed in commit above.

[2016-03-24 22:52] jessegreenberg commented on #134
In #538, @samreid and I started working on a prototype for this.  The solution uses a custom virtual cursor that can be controlled with the arrow keys to find all content and descriptions in the accessible DOM.  Here is the prototype:

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.13/screen-reader.html

This version also has support for ari

[2016-03-25 23:51] terracoda opened #135 "Iterations on descriptions"
@emily-phet @ariel-phet @jessegreenberg
Below is a draft of a potential new scene summary for Balloons and Static Electricity. I drafted it a while ago and thought I better share it for comment.
It is longer than the previous one, but provides more context. It follows the Big to small concept. The navigation cue is much more playful and makes it clear a user should try to be in the Play Area.

Not

[2016-03-28 16:18] jessegreenberg commented on #135
@terracoda looking good from my end, but I do have a couple of questions that we may wish to discuss here or at the next meeting.

- Is 'removable wall' in the play area description also a phrase that should be dynamically updated?

- For the phrase 'Tab to play with Balloon...' is there any reason to believe that this kind of cue would prevent users from using their normal strategies of navigatio

[2016-03-28 22:58] terracoda commented on #135
@jessegreenberg

- Regarding your first point, yes any reference to the wall would have to be dynamic. I indicated "removable" just to ignite curiosity like the button does in the visual. However, it might not be necessary. There are other kinds of implicit scaffolds in the non-visual experience. The square brackets indicate changing content. I adjusted the second line.
- I certainly don't want to

[2016-03-28 23:05] jessegreenberg commented on #116
From https://github.com/phetsims/balloons-and-static-electricity/issues/116#issue-127963769

We have learned a lot about the application role since ths issue was first opened.  Primarily, we now understand that it is up to the AT to determine which events are passed to the browser and which ones aren't.  This makes it more challenging to use certain keys for interactive behavior, but we can genera

[2016-03-28 23:05] #116 closed

[2016-03-28 23:29] jessegreenberg opened #136 "Many live updates are easy to miss"
During a user test today, we noticed an issue with the way AT handles aria-live updates.

The `aria-live` update is cut short if the user continues to interact with the keyboard while the updated text is read.  This poses a huge challenge for interactives because _most_ of our descriptions will be read either during or while a user is interacting with some component.  Many live descriptions will b

[2016-03-28 23:35] jessegreenberg opened #137 "Performance issues when AT is active"
AT generally use a significant portion of the CPU.  This means that performance can be an issue when both AT and the simulation are in use.

In a user test today, we noticed that there can be significant delays for the auditory descriptions when the user is interacting with the simulation.  This can be disorienting and frustrating for the user.  In the test case, the user missed several descriptio

[2016-03-28 23:44] jessegreenberg commented on #135
Sounds good!

Ok, this sounds great to me.  If we tell users to use 'tab' to navigate I was just wondering if they would avoid using other navigation strategies.

Again, sounds good!  I wasn't sure where we landed on this in previous discussions.  I am also curious about how aria-live will behave with other structures and lists.

[2016-03-28 23:51] terracoda commented on #135
@jessegreenberg The user may avoid using a different navigational strategy, but if that strategy doesn't work, they will likely try the Tab key if they know about it.. We know the Tab key will always work. Other things will work, too, but we are not sure that all screen reader navigation commands will work. I have a feeling most work.

[2016-03-29 14:01] jobara commented on #137
@jhung had some thoughts on a DOM only view; perhaps it could be toggled by a user if they are having performance issues.

[2016-03-29 22:41] jessegreenberg commented on #106
Sounds great @terracoda, as we discussed in 3/29/16 meeting, additional alerts for other interactions seem quite useful.

[2016-03-31 20:15] terracoda commented on #106
@jessegreenberg I am just posting this article from Steve Faulkner, [JAWS Support for ARIA – updated October 2012](https://www.paciellogroup.com/blog/2010/10/jaws-support-for-aria/). I may have posted it before.

I am curious about `aria-flowto` & `aria-flowfrom` states:
"When the author defines these relationships on elements in a Web page, JAWS will announce that the element has a “flows from” o

[2016-04-07 20:53] terracoda commented on #133
@jessegreenberg  Sorry, I don't what a blur event is :-) Sounds like this was fixed?

[2016-04-11 15:33] jessegreenberg commented on #133
The 'blur' event occurs whenever the element loses focus.  Indeed, this was fixed.  Here is a version with this interaction:

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-accessible-instance.15/balloons-and-static-electricity_en.html?accessibility

[2016-04-12 19:02] phet-steele opened #138 "Ctrl+Enter doesn't quite release"
Using Ctrl+Enter to release a balloon does not work quite right. The balloon does get dropped, but the selection box around it stays black. Movement controls do not affect the balloon at this point.

For phetsims/tasks/issues/566

[2016-04-12 19:19] phet-steele opened #139 "FF keyboard nav delay(?)"
In Win 10 FF, once a balloon has charges its WASD control breaks. It's hard to explain, but it *feels* like the "window" for another keyboard input closes for a short time once a key is pressed.
@jessegreenberg I don't remember this happening before, my guess is the recent FF update to 45.0.2 caused this. For phetsims/tasks/issues/566.

A video that hopefully makes it clear:
https://drive.google.c

[2016-04-12 19:38] phet-steele opened #140 "Balloon velocity/force does not reset when picked up wth keyboard nav"
Picking up a balloon does not reset its "velocity" (if that's even how the underlying code works). For instance:
1. Remove the wall.
2. Pick up a balloon and give it a little charge.
3. Move the balloon to the far right of the screen.
4. Drop and quickly pick up the balloon. Simply pressing spacebar twice rapidly works.
5. Repeat 3 & 4. Sequential drops will have the balloon moving faster and fast

[2016-04-12 20:01] terracoda opened #141 "New Descriptions for Balloon Hotkeys and Help Dialog"
@jesse here's the content for the Balloon Hotkeys and Help.

H1: Balloon Hotkeys and Key Commands
H2: Keys for Dragging and Rubbing
Press the following letter keys to drag the Balloon in any direction with small steps.
- Press W to drag up.
- Press A to drag left.
- Press S to drag down.
- Press D to drag right.

Add the Shift key to a letter key to drag with big steps.
- Shift plus W makes a big

[2016-04-12 20:06] terracoda commented on #141
@jessegreenberg, how do you this reads? I can post the full help soon, too, but we need a new button for that. Do happy to have any ready-made button for a "How to use this sim" dialog?

[2016-04-12 21:50] terracoda commented on #138
I think we can drop the Ctrl+Enter interaction pattern. I included this pattern because it is the default interaction for submitting a form, but only one participant in the tried it out, though not all participants found the instructions to for that interaction.
We might just want to stick with Spacebar. It will simplify writing the help documentation as well.

[2016-04-12 22:19] terracoda commented on #135
@jessegreenberg is it possible for you to implement this new scene summary text? @ariel-phet and @emily-phet haven't responded, so I think it is fine. It is better than what we have now :-)

I have made some adjustment to the text and added a list structure with comments. I've decided to keep the navigation cue simple with just the one suggestion.

[code]

[2016-04-12 22:37] ariel-phet commented on #135
@terracoda sorry did not see this before...but it no major comments for the moment. I get lots of github traffic, so if you want to make sure I see something please don't hesitate to give me an email nudge.

[2016-04-12 22:45] jessegreenberg commented on #141
Looks good to me @terracoda, but for the bullet

Is this shorthand for the remaining letter combinations or is 'and so on' the text for the bullet point?

[2016-04-12 22:45] terracoda commented on #141
@jessegreenberg I will look at the release behaviour when the Balloon hotkeys dialog is opened more carefully. I had forgotten about the effect of the explicit Grab button. Now that we have the Grab button, I think we can keep it as-is. The user gets a natural prompt to grab again. Once we have all help documentation in place and a new description for the button, I can revisit.

[2016-04-12 22:48] terracoda commented on #141
"and so on." is meant to to keep the help text shorter :-)
Thanks for asking. I love the way programmers think! Always identifying ambiguities.

[2016-04-12 22:51] jessegreenberg commented on #141
I forgot to mention in the comment, I don't know of a 'How to use this sim' dialog or associated button that has been used an another simulation before.

Ok, great!  Thanks :)

Ok, sounds good.  I will leave it as is for now.

[2016-04-12 22:55] jessegreenberg commented on #138
Ok, sounds good.  While fixing this issue, I will change the interaction so that only the spacebar drops the balloon.

[2016-04-12 23:13] terracoda commented on #141
Regarding the general help button, I will think about this, but can you direct me to where other PhET buttons live? PhET must have some visual design guidelines.

[2016-04-12 23:34] jessegreenberg commented on #141
Hmm, I am not sure where a collection like this would be.  @arouinfar do you know of a comprehensive list, or list for PhET design guidelines for this kind of thing?

Ah, there is this list that we started: https://docs.google.com/document/d/12taDyvWwM9OcsUZsZEJaZEm7fukMaY40f-HTAK9Z39M/edit

Here is an image with a few example PhET buttons
![image](https://cloud.githubusercontent.com/assets/639624

[2016-04-13 00:35] terracoda commented on #141
@jessegreenberg THANKS! This is great!

[2016-04-13 00:39] terracoda commented on #141
Are there any design specification for the footer? The help link or button will be a link that is common across sims, kind of like the reset button and phet menu link.

[2016-04-13 02:52] arouinfar commented on #141
@jessegreenberg @terracoda I can't think of a particular button style that would correspond to a help menu. This isn't something we've had to do before, so I think it would be safe to pick any style within the examples from @jessegreenberg's screenshot. I'll point out that the colors of any of those buttons can be changed.

[2016-04-13 12:48] terracoda commented on #141
@arouinfar @jessegreenberg Thanks, I'll see what I can do with these :-)

[2016-04-13 14:49] terracoda commented on #139
@jessegreenberg I witnessed this behaviour (severely) in one interview, but strangely not in all the interviews that used the same computer. I didn't know how to describe it. I called it the "pendulum effect."

[2016-04-13 14:50] terracoda commented on #139
Sorry, that last comment should have been addressed to both @jessegreenberg  and @phet-steele.

[2016-04-13 14:52] terracoda commented on #139
@phet-steele and @jessegreenberg I also witnessed delays  and catch-ups in an interview with a Surface Pro 3 Tablet.

[2016-04-13 22:06] jessegreenberg commented on #140
Thanks for catching this @phet-steele, fixed in above commit.  Closing.

[2016-04-13 22:06] #140 closed

[2016-04-13 22:24] jessegreenberg commented on #138
Fixed in commit above, 'ctrl + enter' has been from possible 'release' interactions.  Spacebar is the only way to release the balloon now, and it was working well.  Closing.

[2016-04-13 22:24] #138 closed

[2016-04-13 22:31] jessegreenberg commented on #139
After trying for about 5 minutes, I cannot reproduce on Windows 10 FF 45.0.2.  I have observed this once before on another platform.

[2016-04-13 22:37] jessegreenberg commented on #139
I just realized that if you release the balloon or pull up the keyboard help while holding down arrow keys, the balloon will continue to move in the direction of the arrow key once you pick it up again, and will continue to move in that direction until you press that arrow key once more. I think this is a similar issue, but unrelated to the original post.

[2016-04-13 22:50] jessegreenberg commented on #139
When the balloon is dropped or receives the blur event, the keystate object should be reset.

[2016-04-13 22:56] jessegreenberg opened #142 "When dialog is open from dragging balloon, balloon does not receive focus on close"
New issue due to the change in balloon interaction.  The balloon's accessible content changes from a button to a div depending on its dragging state.  If the dialog is open from the balloon while the balloon is being dragged, focus moves from balloon to dialog.  When this happens, the balloon's accessible content changes back to the button and the div no longer exists in the document.  Since the p

[2016-04-13 23:27] jessegreenberg commented on #142
This week, @terracoda suggested the possibility of keeping the balloon in its 'dragged' state when the keyboard help dialog is opened.  This is still under consideration, but that would solve this issue because the div representation of the balloon would still exist in the DOM.

[2016-04-14 17:57] terracoda commented on #142
@jessegreenberg Interesting development! Maybe my intuition was correct :-)

[2016-04-14 20:35] jessegreenberg commented on #142
Indeed, I think it would be a good option!  If we decide not to do this though, we can come up with another solution because I imagine that this will be a general problem that we encounter again in the future.

[2016-04-16 12:19] terracoda commented on #142
@jessegreenberg BTW, I see the Hotkeys and Keyboard Help dialog is now available from anywhere. This is great! And would have been very useful during interviews :-) With this kind of On-Demand Help, we can add a reference to how this works in the Scene Summary like I had originally.

[2016-04-16 17:01] terracoda commented on #136
@jessegreenberg I see this in my interviews as well. When a user really rubs on the Sweater actively, they don't actually hear the live updates. Some participants paused when hearing an update start, but a few of the really active ones didn't. They just kept going. I have been thinking that it would be nice to have an on-demand way to check charge levels and or position.
Is it possible that some i

[2016-04-16 20:46] terracoda commented on #135
@ariel-phet Thanks for the note! Will do!

[2016-04-18 15:49] jessegreenberg commented on #142
@terracoda unfortunately the Hotkeys and Keyboard Help dialog is only available everywhere because you were testing without a screen reader.  When a screen reader is in use, the keyboard help will only be available when the balloon has been grabbed, since the grabbed balloon has the 'application' role.

[2016-04-18 16:07] jessegreenberg opened #143 "Balloon description does not update when dragged with mouse"
The balloon has two accessible representations:

- A button to start dragging
- An application div to implement the dragging behavior

The charge description is currently linked to the model charge property in the application div, and the application div does not exist until the user interacts with the accessible button.  This means that the accessible description does not update until the user in

[2016-04-18 16:15] jessegreenberg commented on #143
Every time the balloon is released, a new observer is registered because the new accessible content is created every time.

[2016-04-18 16:37] jessegreenberg commented on #143
This much was fixed in commit b614777bc15e62f31b2862d61c1b8a2a50f49c1d

[2016-04-18 17:56] jessegreenberg commented on #143
Fixed in above commit, closing.

[2016-04-18 17:56] #143 closed

[2016-04-18 18:05] jessegreenberg commented on #136
Yes, we could try alerts.  We haven't tried alerts yet for live regions.  We should avoid the Window alert() method if possible, this would not integrate well with non-screen reader users, and the window event behaves like a dialog.  But we should try the alert role, perhaps this role will not cancel with keyboard interaction.

[2016-04-18 18:10] jessegreenberg commented on #104
This was addressed as part of #143, closing.

[2016-04-18 18:10] #104 closed

[2016-04-21 22:42] jessegreenberg opened #144 "branch: reader"
We are going to be doing some experimental work with the Web Speech API.   See https://github.com/phetsims/scenery/issues/538.  This branch will be a test bed for the screen reader that is associated with that issue.  This sim is chosen for testing because it has a full Parallel DOM representation.

[2016-04-21 22:45] jessegreenberg opened #145 "Investigate the Web Speech API as a possible reader solution"
See #144.  We are investigating the possibility of using the Web Speech API as a synthesizer for a screen reader that implements many of the common expected navigation strategies of an AT.  This issue will monitor progress that is specific to the sim, while https://github.com/phetsims/scenery/issues/538 will monitor progress that is required in the scenery infrastructure.

[2016-05-04 19:27] jessegreenberg commented on #135
Working on this today, I noticed that we will need one list item for each balloon.  @terracoda how would you like the list items to read when the green balloon is invisible?  I am imagining that the green balloon's list item could be invisible with the balloon, or the text could change to something like 'The green balloon is removed from play area."  I slightly prefer the latter.

[2016-05-04 21:34] jessegreenberg commented on #135
Completed in the commit above, but I need to fully test to make sure that all possible dynamic descriptions are correct.  It is working nicely with NVDA, and I will also test with the screen reader prototype once it supports list items.

[2016-05-05 23:56] jessegreenberg commented on #141
Now that there is a visual representation, the whole keyboard help dialog should be written differently to make changing content and maintenance easier.  I will work on that next and include the new content in that process.

[2016-05-09 23:02] jessegreenberg commented on #144
The reader is coming along really nicely.  I think we are ready to merge this branch with accessible-instance.  The reader will be part of the accessible instance branch, but it will be enabled via query parameter.

[2016-05-09 23:19] jessegreenberg commented on #144
above commit adds the query parameter, reader branch is about to be deleted.

[2016-05-09 23:20] jessegreenberg commented on #144
Branch deleted, closing.

[2016-05-09 23:20] #144 closed

[2016-05-09 23:22] jessegreenberg commented on #142
This was fixed and balloon receives focus when keyboard help dialog is opened from dragging balloon.  However, the recommendation from @terracoda could still be done at any time!  That will be tracked in another issue, so closing this one.

[2016-05-09 23:22] #142 closed

[2016-05-12 18:42] oliver-phet commented on #93
@samreid Can this issue now be closed?

[2016-05-12 23:15] samreid commented on #93
It looks like this sim was redeployed as Version 1.1.2 in April, closing.

[2016-05-12 23:15] #93 closed

[2016-05-17 23:55] terracoda opened #146 "Page Title"
Can we remove the versioning information from the page title in prototypes? Perhaps put this information in a comment?
Ideally a page title should be the Sim's name.

[2016-05-18 00:37] terracoda commented on #141
@jessegreenberg, in Instance 16, the help dialog content does not match the content in #141. Did we agree on a new version? Or perhaps, it still needs to be updated?

Please note that I changed in the Hotkeys for Jumping. I changed JM to JC. One participant noted that the JM keys were difficult to operate and also JN and JM sound similar.

[2016-05-18 14:25] jessegreenberg commented on #146
I will ask other developers on Thursday why version id is part of the title, and if it can be removed.  The sim title is automatically generated for internationalization.

At the very least we can remove 'accessible-instance' from the title.  Published sims have the version number in the title like 'Balloons and Static Electricity 1.1.2'.  @terracoda would this be acceptable or would this also be

[2016-05-18 19:33] jessegreenberg commented on #141
Yes, version 16 is likely out of date.  The most recent accessible version is
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.1/balloons-and-static-electricity_en.html

You can 'turn on' PhET's screen reader with the ?reader query parameter.
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.1/balloons-and-static-el

[2016-05-18 19:34] jessegreenberg opened #147 "Change hotkeys for balloon jumping"
Balloon hotkeys for balloon have changed. The should be

JS jumps close to Sweater.
JW jumps to Wall.
JN jumps to near Wall.
JC jumps to center of Play Area.

[2016-05-18 19:42] jessegreenberg commented on #147
Fixeed in above commit. But i noticed that the balloon can be dragged up/down while jumping to wall or sweater.  This should be fixed.

[2016-05-18 19:58] jessegreenberg commented on #147
It also looks like the balloon is trying to snap beyond the wall when the all is visible

[2016-05-19 21:08] jessegreenberg commented on #141
@terracoda mentioned that escape no longer closes the keyboard help dialog:

It probably isn't working for any platform at this point.  Should be fixed here.

[2016-05-19 21:30] terracoda commented on #141
You are @jessegreenberg, the ESC key is not working to close the dialog when I use Safari and VoiceOver.

[2016-05-19 21:32] terracoda commented on #141
I found the dynamic Scene Summary text while testing the sim with Safari and VoiceOver. Awesome!

[2016-05-20 12:59] terracoda commented on #146
@jessegreenberg that should work. The shorter the better. The page title is the first thing a screen reader user hears. A short, unique, relevant and meaningful page title is the goal. It is most important for when we have active interviews.

[2016-05-21 00:11] jessegreenberg commented on #147
Completed and fixed in the commit above.  Also fixed issue where balloon would jump too far to the right.  Closing.

[2016-05-21 00:11] #147 closed

[2016-05-21 00:17] jessegreenberg commented on #128
I am wondering if some strange balloon behavior could be related to the lack of keyup event support on certain devices? See
http://stackoverflow.com/questions/28944171/e-keycode-in-ios-safari-on-keyup-event

While playing with the sim on an iPad, i noticed that pressing W, A, S, or D with a bluetooth keyboard will send the balloon all the way to one end of the play area.  Perhaps this is what we a

[2016-05-21 00:23] jessegreenberg commented on #128
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.2/balloons-and-static-electricity_en.html?reader&keyData

Above version has the reader output replaced with keyUp information to check if keyup is supported.

[2016-05-21 00:39] jessegreenberg commented on #122
At 5/17 meeting, we discussed that a button in the footer or somewhere else could handle this,  but a hotkey would still be a valuable shortcut.

[2016-05-23 20:01] terracoda opened #148 "Changes for Descriptions"
Version tested: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.1/balloons-and-static-electricity_en.html?reader

This version of the Reader did not work on Mac Book Pro with Yosemite - voiced verbalizations were extremely intermittent. I have been having trouble with my Mac Book Pro (it is old (early 2011)), so it could be the computer. It’s been crashin

[2016-05-23 23:23] jessegreenberg commented on #148
This is a great review @terracoda, thanks for doing this.  I will begin working on this.

[2016-05-23 23:40] jessegreenberg commented on #148
Commit above adds

However, this content is static for now.

[2016-05-23 23:48] jessegreenberg commented on #148
Commit above fixes

Not left out on purpose, bug in code prevented this content from being added to PDOM.

[2016-05-24 00:08] jessegreenberg commented on #148
Commits above implement changes to the 'Add or Remove Wall' button.

[2016-05-24 00:22] jessegreenberg commented on #148
Commit above fixes

Thanks for the reminder about the 'toggle'.  This should be supported by the prototype screen reader.

[2016-05-24 00:43] terracoda commented on #148
@jessegreenberg, regarding screen reader verbalizations, they vary and we don't have to copy vague descriptions :-). If we have control, it would be better to say,  "Two-balloon experiment, switch, off" which patterns "Two-balloon experiment, toggle button, not pressed". The language for a switch control is much clearer.