[2021-08-24 19:42] jbphet commented on #526
For the record, it was bothering me that the charges are being picked up based on the rectangular bounds of the balloon image and not something shaped more like the balloon, such as an ellipse, so I looked at the code that tests this.  There was an explanation in a comment that said the rectangular bounds were used for performance reasons, and it referenced https://github.com/phetsims/balloons-and

[2021-08-24 20:04] Nancy-Salpepi commented on #526
Works great @jbphet!

[2021-08-24 23:00] jbphet commented on #527
The model number above is from a 3rd generation iPad, so it's definitely a bit older, but still a device that I think we support.  I suspect that the audio rendering thread isn't quite keeping up, and that's what's causing the glitches in the sound.  I put some temporary logging into the code and found that the playback rate was being changed a lot when the balloon was drifting, so I thought I'd t

[2021-08-25 12:46] Nancy-Salpepi commented on #527
The first 6-7 minutes were perfect @jbphet. I was just about to stop testing when the crackling started again. I had been switching between using 1 and 2 balloons. Since my initial test, I was sent a PhET iPad--iPad air 2 model # MGLW2LL/A and after several minutes of testing, I heard no static....so it is definitely my older model that is the problem.

[2021-08-30 19:59] jbphet commented on #530
Unassigning, will make sure this is verified in the next round of QA testing.

[2021-08-31 17:53] jbphet commented on #527
I've added code that applies the same thresholding technique to output level changes, since these were happening very frequently as well.  @Nancy-Salpepi - Please test the master version with the older iPad again and see if the situation has improved any further.

[2021-08-31 19:17] Nancy-Salpepi commented on #527
After 11 minutes of testing, I didn't hear 1 crackle! Awesome job!

[2021-08-31 20:20] jbphet commented on #527
Awesome!

@Ashton-Morris, @emily-phet, and I reviewed this change during today's sound design meeting, since there is a small impact on the behavior of the sound, and we collectively agreed that it's fine and we can move to RC with this.

[2021-08-31 20:28] jbphet commented on #516
@emily-phet, @Ashton-Morris, and I tried this out on master during today's sound design meeting and it seems like it is working the way it is supposed to, meaning that the interactive highlights look the same when using the mouse and when using keyboard navigation to move the balloons.  Is there anything else that needs to be done on this?

[2021-08-31 20:33] jbphet commented on #463
This issue was reviewed during today's sound design meeting, and it looks like the a11y strings are still separate from the other strings (they are in `BASEA11yStrings.js`).  This doesn't seem like a blocking issue for the upcoming publication of version 1.5.0, but we thought it best to check.  @jessegreenberg - Should we try to get this done now, or leave it for the next publication from master?

[2021-08-31 21:20] zepumph commented on #463
I'll put in a strong preference to doing this sooner rather than later, and not keeping this technical debt lingering.

[2021-09-01 01:47] jessegreenberg commented on #516
No, this has been resolved by common code changes. @terracoda was the one to originally request this, FYI this has been done.

[2021-09-01 01:47] #516 closed

[2021-09-01 02:14] jessegreenberg commented on #463
Agreed this should be done! But this also doesn't need to block taking RC SHAs. I won't be able to get to this until 9/7/21 at the earliest, @jbphet if you would like to take RC SHAs before then I think that is fine.

[2021-09-09 16:59] Nancy-Salpepi opened #533 "Movement of wall charges sound inconsistent when using keyboard nav"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/706

When a charged balloon is moved towards the wall at the bottom of the play area, the sound does not change pitch, which is what I hear when it is moved towards the wall from the top or center of the play area.

**Steps to reproduce**
1. Use keyboa

[2021-09-09 18:54] Nancy-Salpepi opened #534 "Visual keyboard hint can reappear using J + C shortcut"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/706

If a balloon has only been moved laterally from its original position, when the keyboard shortcut "J + C" is used, the visual keyboard hint will reappear around the balloon. If the balloon is moved up or down, then the keyboard hints do not reappe

[2021-09-09 19:07] Nancy-Salpepi commented on #526
Tested on the iPad and on the MacBook air. Looks good.

 @jbphet I do see what you are saying in the above comment https://github.com/phetsims/balloons-and-static-electricity/issues/526#issuecomment-904923198

It was bothering me and then I remembered that you had also commented on it. In the video below it seems odd to me that the electrons closest to the balloon are not being picked up first.

h

[2021-09-10 14:47] Nancy-Salpepi commented on #530
I was unable to reproduce this issue using Mac + chrome/safari.

[2021-09-10 14:47] #530 closed

[2021-09-10 18:48] Nancy-Salpepi commented on #527
Tested the older iPad Pro (3rd generation) for 15 minutes and didn't hear any crackling. No crackling was heard on the iPad Air 2 either with 1 hour of RC testing. Both were OS 14.7.1

[2021-09-10 18:48] #527 closed

[2021-09-10 19:32] Nancy-Salpepi opened #535 "Balloon Positioning inconsistent when reset button is pressed"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/706

When the reset balloons button is pressed, whichever balloon had focus last is the balloon that is in front after the reset. Is this OK behavior?

**Steps to reproduce**
1. Select the 2 balloons option
2. Move the the yellow balloon and then mov

[2021-09-13 12:46] Nancy-Salpepi commented on #534
On Mac 11 + chrome/safari:
I noticed that this will only happen with the yellow balloon--with either one or two balloons present. The keyboard hints don't reappear when following the above steps with the green balloon.

[2021-09-13 13:49] Nancy-Salpepi opened #536 "Visual Keyboard Hint Missing when switching from trackpad to keyboard nav"
**Test device**
Mac11 (m1 chip)

**Operating System**
11.5.2

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/706

After moving the balloons using the mouse, if you then switch to keyboard nav, the "press space bar to grab or release" hint will appear. However, once you press the space bar, the hint displaying which keys to use to move the balloon does not appear.

[2021-09-13 21:37] jbphet opened #537 "Update credits for 1.5 release"
The 1.5 release branch has been created and the sim is going through RC testing at the moment.  @KatieWoe - please let me know (in this issue) which QA testers should be added to the credits so that I can update them before publication.

[2021-09-13 21:41] jbphet commented on #536
I believe that this is by design.  Once the balloon has moved, that hint is no longer shown, regardless of how it is moved.

Assigning to @jessegreenberg for potential confirmation.  @jessegreenberg - If the described behavior is indeed what we want, feel free to close.

[2021-09-13 21:49] jbphet commented on #534
I don't know if this is the correct behavior or not.  It seems like the rule of thumb is that whenever the balloon is returned to its original position, the hint comes back.  I'll assign to @jessegreenberg for his input.  If this is _not_ in fact the desired behavior, I am of the opinion that it is not severe enough to block publication of the 1.5 release.

[2021-09-13 22:40] jbphet commented on #535
Nice catch @Nancy-Salpepi - This is definitely incorrect behavior.  I've add code to restore the default layering on reset-all and reset-balloons.  This have been cherry-picked to the 1.5 release branch.

[2021-09-14 15:41] Nancy-Salpepi opened #538 "VO description stops once object with focus highlights is reached"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.5.2

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/706

When using VO, if I press VO keys + B to read through the entire description, the description will stop being read once it reaches the object in the play area that has focus highlights. Is that correct behavior? I also saw this same behavior in

[2021-09-14 15:55] jbphet commented on #538
I don't know enough about description to say whether the behavior is correct.  Assigning to @jessegreenberg for comment.

[2021-09-14 16:12] KatieWoe commented on #479
There have been a few potential sound issues (https://github.com/phetsims/balloons-and-static-electricity/issues/533 and another incoming issue) so I don't want to close this yet. @Nancy-Salpepi https://docs.google.com/document/d/10YGIROBfW2u4DA6JAA6XZuP0mAmErsquIJjaZ_AB5sM/edit to describe the sounds in the sim, but I'm not sure if this is the document to look at for this issue. Can you clarify w

[2021-09-14 16:31] jbphet commented on #533
Another good catch @Nancy-Salpepi - thanks.

This problem occurs because there is code that limits the number of sound events that are played during keyboard dragging because there are a ton of such dragging events that occur, and playing sounds for all of them sounds chaotic.  The code to limit the number of plays was using a list of the sound generators that was ordered from top to bottom with r

[2021-09-14 16:35] Nancy-Salpepi commented on #533
Thanks @jbphet

I also noticed that when using the shortcut keys J+W, the only sound made is for the balloon hitting the wall. There is no sound for the movement of the electrons. Is that acceptable behavior or shall I open a separate issue for this?

[2021-09-14 17:39] stemilymill opened #539 "No charge deflection sound when balloon floats to wall"
Win10 Chrome and Firefox

https://github.com/phetsims/qa/issues/706
https://github.com/phetsims/balloons-and-static-electricity/issues/479

I'm not sure if this is expected behavior, so if it is please close this issue.

When a charged balloon is released and floats towards the wall, there is no charge deflection sound like there would be when the balloon is moved toward the wall by the user.

Ste

[2021-09-14 17:57] Nancy-Salpepi opened #540 "No charge deflection sound with shortcuts J+W and J+N"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/706 and https://github.com/phetsims/balloons-and-static-electricity/issues/479

When using the keyboard shortcuts J + W and J + N, the only sound heard is that of the balloon hitting the wall. The negative charges in the wall are moving, but there is no charge defle

[2021-09-14 18:31] Nancy-Salpepi opened #541 "Interactive highlights are not turned on using keyboard nav"
**Test device**
MacBook Air (m1 chip) and iMac

**Operating System**
11.5.2 and 10.15.7

**Browser**
chrome and safari

**Problem description**
https://github.com/phetsims/qa/issues/706

When the interactive highlights toggle switch is moved to the ON position using keyboard nav, the interactive highlights do not work.

**Steps to reproduce**
1. Enter the preferences menu using keyboard nav
2. In

[2021-09-14 19:03] stemilymill opened #542 "?stringTest queries cause Preferences menu separator below "General Visual Audio" heading to have too small width"
Win10 Chrome and Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/706
With string test query = x, rtl, or long, the separator line underneath the "General Visual Audio" heading in the Preferences menu changes to a width narrower than the heading

**Visuals**

Expected:

![preferences menu seperator expected](https://user-images.githubusercontent.com/85511101/133317649-4ff

[2021-09-14 19:19] jbphet commented on #533
The sound design team listened to the changes for keyboard drag and are good with it.

@Nancy-Salpepi asked:

@emily-phet said that using the shortcut keys is seen as a way to instantaneously set a state, so not producing sounds that result from this state change is acceptable.  In other words, it's fine as is.

[2021-09-14 19:28] jbphet commented on #541
During today's sound design meeting, we duplicated this, and noticed that it's because the preferences icon is still highlighted.  If the mouse is clicked anywhere, the highlight on the preferences menu goes away and interactive highlights start working.  We were wondering if the behavior could be changed such that if the user started moving the mouse - and perhaps moved it beyond some empirically

[2021-09-14 19:29] jbphet commented on #541
Marking as "blocks publication" during initial investigation.  We may change that if it turns out to be difficult to change.

[2021-09-14 19:32] jbphet commented on #540
Reviewed by the sound design team, this behavior is as intended, see https://github.com/phetsims/balloons-and-static-electricity/issues/533#issuecomment-919445300.  Closing.

[2021-09-14 19:32] #540 closed

[2021-09-14 19:42] jbphet commented on #539
The sound design team reviewed this in today's meeting and decided that yes, we should try to address this for the 1.5 release.

[2021-09-14 19:44] jbphet commented on #538
Reviewed with @emily-phet, and we don't consider this blocking for the 1.5 release.

[2021-09-14 19:48] jbphet commented on #536
We reviewed this in today's sound design meeting, and @emily-phet confirmed that this is indeed the intended behavior.  Closing.

[2021-09-14 19:48] #536 closed

[2021-09-14 19:51] jbphet commented on #534
We reviewed this in today's sound design meeting and agreed that this is _not_ the intended behavior.  The hint should disappear once the balloon is moved after a reset and should not reappear.

Having said that, we also feel that this should not be blocking to the 1.5 release.

[2021-09-14 19:54] jessegreenberg commented on #541
This is how it used to work.  But the behavior shown in this issue is what I would expect now after changes @terracoda and I made for https://github.com/phetsims/balloons-and-static-electricity/issues/523. The decision is specifically in https://github.com/phetsims/balloons-and-static-electricity/issues/523#issuecomment-897034345.

Interactive Highlights will not activate while there is a highligh

[2021-09-14 19:55] KatieWoe commented on #532
This seems fixed in rc1

[2021-09-14 19:55] #532 closed

[2021-09-14 20:19] jessegreenberg commented on #534
The GrabDragInteraction in BASE has this option which is causing this specifically
[code]

This was fixed in the above commit.

I was surprised to see that the default behavior for GrabDragInteraction is to always show the "drag" cue, so if this is generally expected we will have to implement and provide this option. Ill make an issue in scenery-phet to see if this should become the default behavi

[2021-09-14 20:34] jessegreenberg commented on #542
The separator is currently just as long as the content of the panels in the dialog. Depending on translation, the panels can be quite narrow. But I could also imagine translations where the tabs are very narrow. I think this will be fixed by making the separator as wide as the panels or tabs, whichever is larger.

[2021-09-14 20:40] jessegreenberg commented on #542
Fixed in the above commit, @jbphet assigning to you to cherry pick into a balloons-and-static-electricity-1.5 joist branch, let me know if you run into trouble or would like me to do the merge.

[2021-09-14 20:59] jessegreenberg commented on #538
This does not seem like the correct behavior, but it is also not something we can control. Ill try it out outside of a PhET sim and see if it is happening there.

[2021-09-14 21:11] jessegreenberg commented on #538
I am not seeing VO do this at http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/reader-intro.html.

[2021-09-14 21:17] jessegreenberg commented on #538
I came back to BASE and I am no longer seeing this happen in VO.

[2021-09-14 21:19] jessegreenberg commented on #538
I just tried this several more times. A couple of times VO stopped on "heading level 1, Balloons and Static Electricity". Other times it read through everything, other times it got stuck on the balloon.

[2021-09-14 21:22] jessegreenberg commented on #538
Ah, I just saw this happen in a basic HTML page at http://htmlpreview.github.io/?https://github.com/phetsims/a11y-research/blob/master/reader-intro.html, it stopped at the "Click Me!" button.

[2021-09-14 21:26] jessegreenberg commented on #538
Oh! It is not a bug. According to https://www.apple.com/voiceover/info/guide/_1131.html VO + B will "Read from the beginning of a webpage to the current location". So if VO+B is pressed while focus is on one of the balloons, it will stop reading there.

@Nancy-Salpepi is VO+B documented anywhere in QA resources, should it be updated to reflect this? If so, can you point me to where? Otherwise this

[2021-09-14 21:33] Nancy-Salpepi commented on #538
@jessegreenberg
I got VO + B from the document that @terracoda shared with me titled: Tip Sheet--Using VoiceOver with a PhET sim. I would ask her about it.

[2021-09-14 21:40] jessegreenberg commented on #538
OK thanks @Nancy-Salpepi. @terracoda, assigning to you to decide if anything in that tip sheet needs to change. Otherwise, I think this can be closed.

[2021-09-15 17:02] emily-phet commented on #541
@jessegreenberg You may have already answered this, but what we were proposing was adding some logic such that the sim interprets that the mouse is now in use based on mouse movement, rather than mouse click. The result behavior would follow the same logic as currently, if focus highlight is present no interactive highlights are shown. The change would be that it would be focus is more readily rem

[2021-09-15 17:18] jessegreenberg commented on #541
Discussed during meeting:

I am going to implement the proposal in https://github.com/phetsims/balloons-and-static-electricity/issues/541#issuecomment-919451180 and https://github.com/phetsims/balloons-and-static-electricity/issues/541#issuecomment-920203746, where a certain amount of mouse movement will hide focus highlights and activate interactive highlights. Then, any keyboard press would re-a

[2021-09-15 20:23] KatieWoe commented on #537
Kathryn Woessner, Logan Bray, Nancy Salpepi, and Emily Miller should be added

[2021-09-15 20:50] KatieWoe commented on #531
Occurs in https://github.com/phetsims/qa/issues/706

[2021-09-16 18:58] terracoda commented on #538
Thank you @jessegreenberg and @Nancy-Salpepi for investigating the issue. I have always wondered why VO stops randomly when reading from the top, or read straight through to the end.

I will update the Tip Sheet. VO stops where focus is. If no focus is set it will read through everything to the end.

I updated the Tip Sheet for the description course.

[2021-09-16 18:58] terracoda commented on #538
Closing issue - nothing to fix here.

[2021-09-17 13:55] #538 closed

[2021-09-17 19:19] arouinfar opened #543 "`audio=disabled` hides navbar icon but doesn't disable audio"
For https://github.com/phetsims/qa/issues/706

Steps to reproduce
1. Run 1.5.0-rc.1 with `audio=disabled`
2. Open Preferences dialog and select Audio tab
3. Turn on Audio Features toggle
4. Sim now makes sound and there is no way to mute it (short of muting the browser tab)

In master, the sim crashes if you try turn on Audio Features with `audio=disabled` and this error appears in the console:

[

[2021-09-17 19:36] arouinfar commented on #543
The bug in master has been logged in https://github.com/phetsims/joist/issues/746.

[2021-09-27 23:07] jbphet commented on #537
The update has been made on both the 1.5 branch and master.

[2021-09-28 17:49] jbphet opened #544 "Consider preventing the balloon from sliding along the wall"
While working on https://github.com/phetsims/balloons-and-static-electricity/issues/539 I noticed that there are several situations involving two balloons where one of the balloons can slide along the wall in what, in my opinion, is a pretty unnatural way.  Balloons generally don't slide on a wall, since the force of the charge creates a fair amount of friction.

One of the scenarios is described

[2021-09-28 19:25] jbphet commented on #539
The sound design team reviewed the modified behavior where:
1. Charge generation sounds can be produced by a drifting balloon
2. Balloons don't slide along the wall (see #544)

...and were good with these changes.  I'll run the wall slide change past the main designer before finalizing it.

[2021-09-28 21:33] jbphet commented on #541
Yo @jessegreenberg - Do you have a sense of how hard it will be and how long it might take to implement the change you described in the previous comment?  We are looking to move forward on the 1.5 release of this sim, and need to decide whether to include this change.

[2021-09-28 22:17] jbphet commented on #544
I just reviewed this change of behavior over Zoom with @arouinfar, and she's cool with it.  I'll move forward with putting it on the 1.5 branch.

[2021-09-29 14:32] zepumph commented on #544
Does this just block sim publication?

[2021-09-29 17:15] zepumph commented on #508
One thing to do here is to see if GFL on master is broken like this (since it has the grab drag interaction and has been published with mobile a11y). That would make it known if we need to adapt each new sim, or if something in common code is broken.

[2021-09-29 17:17] zepumph commented on #508
We may want to move this to common code. Marking undeferred so that I can work on this to fix for friction.

[2021-09-29 20:49] jessegreenberg commented on #541
I don't think it will be that difficult, I would suggest 2-4 hours of work. We discussed this in the Voicing check in meeting today and this should be higher on my priority list. I can work on this again on Friday and believe it will be by the end of 10/1/21.

[2021-09-30 22:08] jbphet commented on #544
This has now been cherry-picked to the 1.5 branch.  I'll make sure it's tested in the next release.

[2021-09-30 22:24] jbphet commented on #542
I've made this update to the 1.5 branch and will make sure it is tested in the next release.

[2021-09-30 22:27] jbphet commented on #539
I reviewed this with @arouinfar and she has approved it.  The change is already on master, and I'll cherry-pick it to the 1.5 branch since that is an RC that is currently in progress.

[2021-09-30 22:42] jbphet commented on #534
Thanks for the fix @jessegreenberg.  This problem is both minor and rare, and I'd have to create a new branch in scenery-phet to move this onto the 1.5 release branch, so I'm making the call that it's not worth the time and effort.  Closing.

[2021-09-30 22:42] #534 closed

[2021-09-30 22:42] jbphet commented on #539
This has been cherry-picked into the 1.5 release branch, and I'll have it verified in the next release.

[2021-09-30 22:51] jbphet commented on #526
@Nancy-Salpepi said:

I looked at the code, and it would be a big lift to change this at this point in time.  It's a bit more noticeable now that very slow motion will pick up electrons, but the balloons in this sim have _always_ picked up charges in this way, and we haven't yet found it necessary to change it so far.  In my opinion it doesn't seem too problematic, and in the vast majority of case

[2021-09-30 22:51] #526 closed

[2021-10-01 00:04] jbphet commented on #543
I'm not sure that I agree that the described behavior is problematic.  Above, @arouinfar said:

There actually _is_ a way to mute it, and that it to turn audio back off by using the same control that the user would have had to use to turn it on.  If they turned it off, they would have to be aware that this control exists.

@arouinfar - Back to you for your thoughts on this.  If you think the behav

[2021-10-01 00:05] jbphet commented on #543
Oh, and @arouinfar - we're hoping to the next RC on the 1.5 branch very soon, so if you think that this should block that release, please say so right away.

[2021-10-01 15:06] jessegreenberg commented on #543
The common code issue for this is https://github.com/phetsims/joist/issues/746. Commits have been made to fix this, and I would recommend cherry picking these into a joist branch for the BASE 1.5 release.
https://github.com/phetsims/joist/commit/ed6c7a6db05da8d67e8f8527b567a3f662840a18 and https://github.com/phetsims/joist/commit/034eacb35950e6aafb1a46da4deaf4849798fc4c.

With these commits the "A

[2021-10-01 15:11] arouinfar commented on #543
Thanks @jessegreenberg!

The current behavior in the 1.5 branch is buggy. Using `audio=disabled` should truly disable all audio in the sim. In https://github.com/phetsims/joist/issues/746 we decided that the navbar icon and the Audio tab of the Preferences dialog should be hidden with `audio=disabled`.  This behavior is currently in master and seems to be working well.

The longer-term improvement

[2021-10-01 20:51] jbphet commented on #543
Thanks @arouinfar and @jessegreenberg.  You're right, it's a much better solution to have the audio disappear from the "Preferences" menu when the `audio=disabled` parameter is used.  I've moved these changes onto the 1.5 branch and will make sure this is tested in the next RC.

[2021-10-04 17:35] #533 closed

[2021-10-05 20:22] jbphet commented on #541
This issue was discussed in the 10/5/2021 sound design meeting, and we decided that if it isn't ready by midday this Friday, Oct 8, we will move forward with the next RC and will consider doing a maintenance release when the issue is resolved.

[2021-10-05 22:47] jessegreenberg commented on #541
I am working on this in https://github.com/phetsims/joist/issues/751.

[2021-10-06 19:52] jbphet opened #545 "Sound decoding issues on MacOS Catalina and Safari 15"
The parent issue for this is https://github.com/phetsims/tambo/issues/151.  The short version of the story is that there is an issue with decoding MP3 files in Safari 15 when running on MacOS Catalina, and this problem can cause a sim to crash.

We are fixing this problem in a maintenance release, so there shouldn't be any specific effort needed for this sim, but I wanted an issue that we could us

[2021-10-15 18:42] Nancy-Salpepi commented on #535
Looks good now. The green balloon is always in front after reset.

[2021-10-15 21:05] Nancy-Salpepi commented on #541
Hey @jessegreenberg! I really like the switching back and forth between the interactive and focus highlights. I did notice this one case though on Mac + Chrome:

1. Turn on interactive highlights using the mouse.
2. Move the mouse a tad so that the toggle button highlights.
3. Tab to the close button and press space

![interactivehighlight](https://user-images.githubusercontent.com/87318828/137553

[2021-10-16 14:33] Nancy-Salpepi commented on #541
@jessegreenberg I am seeing it happen whenever both types of focus are used in the preferences menu--not just in the instance I reported above.

<img width="776" alt="Screen Shot 2021-10-16 at 10 32 38 AM" src="https://user-images.githubusercontent.com/87318828/137591429-74880fcc-dd88-4de4-8083-6d8a99109403.png">

[2021-10-18 11:55] Nancy-Salpepi commented on #541
@terracoda that was from the preferences dialog--the visual tab is highlighted. With Interactive highlights turned on, the mouse was hovering on that tab. Then I exited out of the dialog using the keyboard.

[2021-10-18 13:04] Nancy-Salpepi commented on #543
Using MacBook Air (m1 chip) iOS 11.6 + safari 15:
With audio=disabled, I can still hear a sound with the first interactive object I touch. The sound is much lower, but it is still there. Once that sound is produced, sound is disabled.
I didn't see this issue with Mac + chrome.

Here is an example with the reset button. You may need to turn your volume all the way up to hear it.

https://user-image

[2021-10-18 15:48] jessegreenberg commented on #541
Linking against https://github.com/phetsims/qa/issues/721 so that it shows up as something to be patched in the next RC.

[2021-10-18 16:11] jessegreenberg commented on #541
Change was pushed to a balloons-and-static-electricity-1.5 branch of scenery. With this change I was not able to get the problem to happen anymore. It seems pretty safe but I also tested the sim with Interactive Highlights for several minutes and all seemed OK to me.

[2021-10-18 16:14] jessegreenberg commented on #541
dependencies.json has been updated for 1.5. Ready for verification in the next RC.

[2021-10-18 16:19] Nancy-Salpepi opened #546 "Keyboard Nav doesn't work properly when zoomed in"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.6

**Browser**
Safari 15

**Problem description**
https://github.com/phetsims/qa/issues/721

When zoomed in, moving between the tabs in the preferences dialog using the arrow keys causes the focus to change AND panning to occur.

Sorry I missed this the first time around!

**Steps to reproduce**
1. Zoom into sim a bit
2. Navigate to Pr

[2021-10-18 20:23] jbphet commented on #546
I've updated both the joist branch and the BASE dependencies on the 1.5 branch.  This should be good to go.

[2021-10-18 20:48] jbphet commented on #544
I think the current behavior is good as is, and I don't believe that I should add code to play the balloon-hitting-wall sound in this case.  I think an argument could be made either way, i.e. for it to be played or not played, but the bottom line is that the sound of the wall coming back is close enough to the sound of the balloon bumping the wall that the user experience seems fine, and it's not

[2021-10-20 21:07] Nancy-Salpepi commented on #544
Sorry @jbphet, but I just noticed this scenario and I wasn't sure if this was correct behavior. Should a balloon with few charges come unstuck from the wall? This doesn't happen when there are many charges.

https://user-images.githubusercontent.com/87318828/138172214-24915fe4-4005-4a0f-879a-36450835d4df.mov

[2021-10-20 21:34] #542 closed

[2021-10-20 21:38] jessegreenberg commented on #542
Ah, I see what you mean now. I think this is sufficient for i18n, but if you think it would be a general improvement feel free to create a joist issue.

[2021-10-20 22:48] KatieWoe opened #547 "Sound of moving electrons continues when holding down keyboard nav control of balloon"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/721.
When moving the balloon with keyboard nav, the moving electron noise will play continuously, even if electrons aren't moving. This happens when holding the down, up, or right arrow keys against the wall.
**Steps to reproduce**
1. Make sure Show All Charges is s

[2021-10-21 15:48] Nancy-Salpepi opened #548 "Consider making balloon pointer area smaller"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/721

When the balloon is against the wall by the reset button, it appears to the user that reset button is mostly unobstructed by the balloon and can easily be pressed. In actuality, only a tiny portion of the reset button can be selected. (This is a different issue

[2021-10-21 18:39] Nancy-Salpepi opened #549 "Keyboard hint may be out of dev bounds with some query parameters"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/721

Seen when using stringTest=long and stringTest=double: After switching from mouse to keyboard nav, the keyboard nav hint to grab the balloon can be partially out of dev bounds.

**Steps to reproduce**
1. Using mouse, move balloon across sweater and release at l

[2021-10-21 19:11] jessegreenberg commented on #549
The GrabDragInteraction does not have support for changing the position of the `grabCueNode` after the GrabDragInteraction has been constructed. Unfortunately it does not look trivial to add this to GrabDragInteraction.

@emily-phet @terracoda are you OK publishing BASE with this regression or is this important to fix?

[2021-10-21 20:07] emily-phet commented on #549
I don't think this should be a blocking issue for BASE publication.

[2021-10-21 21:17] jessegreenberg commented on #549
Thanks @emily-phet. Closing this issue.

[2021-10-21 22:18] jbphet commented on #548
The pointer areas have been like this for a long time, but I agree that some improvement is possible.  I believe the original intent was to make it so that the balloon could be dragged by the little nub at the bottom of the balloon if the user wanted to, which is why the ellipse is as large as it is.  Our ability to create more complex shapes has improved since this sim was originally written, so

[2021-10-22 16:26] KatieWoe opened #550 "Should screen follow balloon when zoomed in and using keyboard nav"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/721.
When zoomed in, if you drag a balloon to the edge of the screen with a mouse the screen will pan to follow it. However, if you drag it with keyboard nav the balloon will go off screen and the screen will not pan to follow it. You will continue to manipulate the

[2021-10-22 16:49] KatieWoe opened #551 "Screen should follow tab highlight"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/721
When tabbing around objects while zoomed in, if the object being focused on is off screen, the screen does not pan to see that object.

**Visuals**
![taboffscreen](https://user-images.githubusercontent.com/41024075/138493048-7fe3f4fe-8712-4edb-9a41-e56075d19d3c.

[2021-10-22 18:21] KatieWoe opened #552 "LoL sends balloon further when sim is paused while balloon is moving"
For https://github.com/phetsims/qa/issues/721.
When the sim is in the LoL harness, if you pause while the balloon is drifting towards the sweater, then the balloon goes further when you unpause than it would if you hadn't paused.
![balloongoesfurther](https://user-images.githubusercontent.com/41024075/138503703-2971beff-0715-4bfb-ac9e-a8c73ca97202.gif)

[2021-10-22 19:42] KatieWoe opened #553 "Firefox: Balloon behaves oddly if dragged with mouse after being dragged with keyboard nav"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Firefox (Not the same on Chrome)
**Problem description**
For https://github.com/phetsims/qa/issues/721
If you move the balloon around with keyboard nav (and give it charge) and then drop it, then pick it up with mouse, the balloon acts oddly. It seems to think it has been dropped, picked up, and dropped again continually. Dropping it and

[2021-10-22 22:06] stemilymill opened #555 "xhtml sim freezes when "About..." in PhET menu is selected"
Win10 Firefox and Chrome. For https://github.com/phetsims/qa/issues/721.

Clicking or selecting with keyboard nav "About..." in the PhET menu freezes the sim. This happens in every dev/rc version I've tested, but not in dev/rc versions of other recent sims (fourier, pH scale, etc)

https://user-images.githubusercontent.com/85511101/138527854-a9c03998-9a16-47b4-bb42-76a9133fbf13.mp4

Troubleshootin

[2021-10-25 21:31] jbphet opened #557 "Instances of `MovablePointChargeModel` have both `position` and `positionProperty`"
While working to resolve a bug reported by QA (https://github.com/phetsims/balloons-and-static-electricity/issues/547), I found that instances of `MovablePointChargeModel` have a property named `position` and another named `positionProperty`.  The latter is added to the base class `PointChargeModel` via inheritance.  This seems like poor design, and confused me while working on it, and led me to c

[2021-10-26 22:35] #552 closed, assigned to jbphet, KatieWoe

[2021-11-01 18:55] jessegreenberg commented on #553
Thanks for investigating this @zepumph.

Yes, the PressListener is the only way to access the GrabDragInteraction with mouse/touch. I can't think of anything related to multitouch that would be problematic here. I tried to think through how this might work with iOS VoiceOver but I couldn't think of any problems with this. I tested on iOS 15 with VoiceOver and verified that GrabDragInteraction stil

[2021-11-01 19:17] jbphet commented on #553
Over Slack, @jessegreenberg also said:

Based on @jessegreenberg's review and recommendation, I'm going to move forward with publishing the next RC off of the 1.5 branch without this fix.  If there is a breakthrough before publication, we can consider working this in.

[2021-11-01 19:19] jessegreenberg commented on #553
I made https://github.com/phetsims/scenery-phet/issues/710 to work on this generally since it isn't specific to BASE (though BASE probably has the most obvious case since the balloon can move on its own).

[2021-11-01 20:46] jbphet commented on #537
Note that due to the workaround that was put into place for https://github.com/phetsims/balloons-and-static-electricity/issues/555 there may now be line breaks between the first and last names of the QA testers.

[2021-11-02 19:37] Nancy-Salpepi commented on #548
This is much improved! Thanks!

[2021-11-02 19:37] #548 closed

[2021-11-02 19:45] Nancy-Salpepi commented on #535
Yellow balloon is always in front now.

[2021-11-02 19:45] #535 closed

[2021-11-02 20:05] Nancy-Salpepi commented on #546
Looks good. If I am only zoomed in a bit, there will be no panning when I use the arrow keys to move from tab to tab in the preferences menu. If I am zoomed in a lot, the screen will move to follow the focus as I move from tab to tab. I believe that is the correct behavior.
![panandzoom](https://user-images.githubusercontent.com/87318828/139944163-e50bb154-97fa-4e2a-a1be-37e07bdcf1a6.gif)

[2021-11-02 20:05] #546 closed

[2021-11-02 20:25] Nancy-Salpepi commented on #541
Looks good.

[2021-11-02 20:25] #541 closed

[2021-11-03 13:43] Nancy-Salpepi commented on #547
This is fixed.

[2021-11-03 13:43] #547 closed

[2021-11-03 15:57] KatieWoe commented on #555
Looks good on Win 11, rc.3

[2021-11-03 15:57] #555 closed

[2021-11-03 16:53] KatieWoe opened #558 "Long sweater rubbing noise"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/731. Can be hard to reproduce, and show up a bit unexpectedly.
When a balloon is dragged across the sweater very quickly, the sound effect of the sweater being rubbed may go on for noticeably longer than it should once the balloon stops. The most reliable way I've b

[2021-11-03 19:36] Nancy-Salpepi commented on #545
The sim successfully opens with MacOS Catalina + Safari with partial sound--rub balloon on sweater/wall, collect charges, released charged balloon floats towards wall/sweater.

The sounds that currently do not work are too many to list here, but are all the .mp3 files in the BASE Sound Design Document found in Google Drive.

[2021-11-03 19:36] #545 closed

[2021-11-03 20:12] Nancy-Salpepi commented on #550
@jessegreenberg should the screen pan when keyboard shortcuts such as j+w are used? As of now, the screen won't pan until the balloon is moved after such shortcuts are used. I just wanted to make sure this was expected behavior.
![panwithshortcuts](https://user-images.githubusercontent.com/87318828/140185160-8d5f035e-b451-4aad-97ed-1656a78baba2.gif)

[2021-11-03 20:27] Nancy-Salpepi commented on #550
@jessegreenberg
In addition, when zoomed in a little and moving the balloon, the panning isn't smooth across the bottom and middle of screen.
![panningsmoothness](https://user-images.githubusercontent.com/87318828/140187494-e08bd59b-09ac-4e49-bba3-97bb47f40024.gif)

[2021-11-04 13:53] Nancy-Salpepi commented on #550
Sorry @jessegreenberg, I have one last question about this
Should the screen pan to follow the balloon once it is released?
![releasedpan](https://user-images.githubusercontent.com/87318828/140325926-bd184baf-16a7-4d1c-8e40-c39ddb1f1932.gif)

[2021-11-04 18:08] KatieWoe commented on #551
Looks good in rc.3

[2021-11-04 18:08] #551 closed

[2021-11-04 19:50] jbphet commented on #550
My vote would be no.  Following a thing that has been consciously selected by the user makes sense.  Following something that the user does _not_ have selected seems to me like it would open a big can of worms for the UI design.  How would we decide what to follow and what not to if multiple things were moving?  I think we should keep it simple, and follow things that have focus, but no other move

[2021-11-05 11:47] Nancy-Salpepi commented on #550
@jb phet any thoughts on https://github.com/phetsims/balloons-and-static-electricity/issues/550#issuecomment-959972446 and https://github.com/phetsims/balloons-and-static-electricity/issues/550#issuecomment-959942049 ?

[2021-11-05 17:07] jbphet commented on #550
@jessegreenberg will need to respond to those questions.

[2021-11-05 21:13] terracoda opened #559 "(Interactive Description) Spelling mistake in "Balloon Settings"
![image](https://user-images.githubusercontent.com/1902116/140578904-e8cc4bee-f581-423e-b0f2-876116cbb678.png)

Please remove the extra "t" in "Settings" in the H3 "Balloon Settings" in the Control Area.

What a sneaky typo, you can't easily hear it when using screen reader software. This typo must have been around for years.

[2021-11-05 21:18] terracoda commented on #559
I am not sure it should block since there is little to no effect on the user experience. It would just be nice get this simple fix in before republication if that is possible.

Please reduce priority and just fix for the next maintenance release if this at all complicates the upcoming release of the this sim.

[2021-11-09 01:03] jbphet commented on #558
I have fixed this by capping the max velocity used when making the calculations related to how to smooth out the sound.  To make this work well, I also moved the stepping of the time-dependent behavior to a more standard `step` function.  This has been propagated to the 1.5 branch.

[2021-11-09 01:03] jbphet commented on #559
I fixed the type on master and cherry-picked the commit to the 1.5 branch.

[2021-11-09 01:06] jbphet commented on #550
I'm making an executive decision that the questions just above are not blocking for the 1.5 release.  I'll remove the ready-for-qa label and let @jessegreenberg take it from here, and any fixes can go on master.

[2021-11-09 01:19] jbphet commented on #558
The fix that I made reduces the dynamic range of the rubbing noise.  I thought about trying to change it to better match the previous version, but after testing it for a while, I felt that it was actually improvement.  The sounds seems less "jumpy" to me.  I'll review it with the sound design team to be sure, but for now I'm moving forward with this fix in the 1.5 release.

[2021-11-09 12:46] Nancy-Salpepi commented on #559
Spelling error has been corrected.

[2021-11-09 12:46] #559 closed

[2021-11-09 17:35] KatieWoe commented on #558
This seems much better to me. I did notice that the sound seems quieter now. Was that intended @jbphet?

[2021-11-09 18:08] jbphet commented on #558
@KatieWoe said:

Yes, at least mostly.  As I [mentioned above](https://github.com/phetsims/balloons-and-static-electricity/issues/558#issuecomment-963725822), this change reduced the dynamic range of the sound, meaning the difference between the most quiet and loudest that it gets.  I actually kind of like the change, but will verify with the sound design team.

@KatieWoe also said:

Good.  Since

[2021-11-09 22:20] jbphet commented on #558
I just reviewed this with the sound design team, and they have approved the change.  Closing.

[2021-11-09 22:20] #558 closed

[2021-11-09 22:23] jbphet commented on #553
@jessegreenberg - Since it sounds like this issue will be addressed in common code, and we've decided not to have the problem block the 1.5 release of BASE, can this issue just be closed, or at least reduced in priority?

[2021-11-09 23:52] jbphet commented on #495
The 1.5.0 version was just published, so this is now done.  Closing.

[2021-11-09 23:52] #495 closed

[2021-11-09 23:52] jbphet commented on #537
1.5.0 is deployed, credits should be in good shape.  Closing.

[2021-11-09 23:52] #537 closed

[2021-11-11 21:19] terracoda opened #560 "Update Sim screenshots"
This sim needs screenshots on the website. It now has the "Preferences menu" and "All Audio" in the navbar. We forgot to do this before publication.

@arouinfar, who would normally take care of this? Is this something I should know how to do?

[2021-11-16 22:00] arouinfar commented on #560
@terracoda see https://github.com/phetsims/gravity-force-lab-basics/issues/315#issuecomment-966683686 for more information about the screenshot process. Updating the screenshots on the sim page will require a maintenance release. I've committed updated screenshots to master and the 1.5 branch (see commits above).

Back to @terracoda @jbphet and responsible-dev @jessegreenberg to determine the prio

[2021-11-16 22:18] jessegreenberg commented on #560
Happy to do this along with https://github.com/phetsims/gravity-force-lab-basics/issues/315, unless @jbphet would rather see this through. Feel free to reassign to me when ready.

[2021-11-17 19:21] jbphet commented on #560
I'm not attached to doing it, so have at it @jessegreenberg.  I think the QA team is skilled at creating these screenshots, so perhaps you can have them create the images and just do the maintenance release step.

[2022-01-04 21:44] jessegreenberg commented on #553
Indeed, reducing priority since this was published with this behavior.

[2022-02-11 02:01] Nancy-Salpepi opened #561 ""Looping" sound not heard when sim is initially launched in Studio Wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
When testing https://github.com/phetsims/phet-io/issues/1626 in master, I noticed an inconsistency in sound between the Studio and State Wrappers. In the State wrapper, if I set the state while the balloon is in motion, I hear the associated sound in the downstream sim (as expected). How

[2022-02-25 17:45] KatieWoe commented on #561
Tested on Win 11 and I saw something similar to https://github.com/phetsims/fourier-making-waves/issues/217 here. On Chrome I reproduced this. On Firefox I did not.

[2022-02-25 19:40] zepumph commented on #561
This is the identical issue as in https://github.com/phetsims/fourier-making-waves/issues/217#issuecomment-1051140400. Closing as a duplicate.

[2022-02-25 19:40] #561 closed

[2022-04-20 15:43] KatieWoe opened #562 "CT A reference to the Pointer means it should have the pointerListener"
[code]

[2022-04-20 15:45] jessegreenberg commented on #562
Thanks @KatieWoe, this one should be fixed via https://github.com/phetsims/scenery/issues/1408. I am not seeing this in the latest CT column  so I think that confirms this is fixed this morning.

[2022-04-20 15:45] #562 closed

[2022-05-25 16:06] KatieWoe opened #563 "CT PhET-iO API error:"
[code]

[2022-05-26 16:23] zepumph commented on #563
Tracked and fixed in https://github.com/phetsims/sun/issues/761, closing.

[2022-05-26 16:23] #563 closed

[2022-06-06 16:08] KatieWoe opened #564 "CT cannot set state while setting state"
[code]

[2022-06-14 21:24] KatieWoe opened #565 "CT alignBounds should be a non-empty finite Bounds2"
[code]

[2022-06-28 15:57] jessegreenberg commented on #564
Thanks, from that issue it seems that this is a more general issue so closing this one.

[2022-06-28 15:57] #564 closed

[2022-06-28 15:59] jessegreenberg commented on #565
I believe this is from https://github.com/phetsims/joist/issues/809#issuecomment-1164775473

[2022-06-28 17:43] jessegreenberg commented on #565
Fixed through phetsims/joist#809

[2022-06-28 17:43] #565 closed