[2016-05-24 00:47] jessegreenberg commented on #148
@terracoda, great!  We can use "switch, off" instead.  Is there different ARIA markup that should be used?  Or is that the desired output from the screen reader for 'aria-pressed'?

[2016-05-24 01:01] terracoda commented on #148
@jessegreenberg, the code might be more like a checkbox, but I am not sure. What's the HTML for a toggle button?

[2016-05-24 01:06] jessegreenberg commented on #148
A toggle button is just a button element with the 'aria-pressed' attribute like
[code]
With 'aria-pressed' the screen reader may read 'Toggle' before 'Button' or 'Pressed' if 'aria-pressed'' == ```true```.

[2016-05-24 01:13] terracoda commented on #148
`<input id="abswitch-17-61-513-564-557-544-539-543" type="checkbox" aria-checked>`

[2016-05-24 01:18] terracoda commented on #148
And we need a name or label, of course.

[2016-05-24 01:23] jessegreenberg commented on #148
What is the difference between
[code]
and a normal checkbox?  Is there another role that should be used to give it 'switch' behavior?

[2016-05-24 01:23] terracoda commented on #148
Added
[code]
But we have to keep in mind that standard screen readers might not recognize this role yet. It's brand new.

[2016-05-24 01:25] jessegreenberg commented on #148
https://github.com/phetsims/balloons-and-static-electricity/issues/148#issuecomment-221141956 <--- perfect thanks!

[2016-05-24 01:25] terracoda commented on #148
I forgot the role, the essential ingredient, duh!

[2016-05-24 01:55] terracoda commented on #148
@jessegreenberg, have you noticed that if you have the balloon grabbed and you accidentally press the arrow keys, you can no longer interact with the balloon? If I press the arrow keys while balloon is grabbed, I have to tab away and then grab it again to keep interacting. This will be a problem for screen reader users. If the screen reader goes silent, it becomes a little disorientating.

If I ge

[2016-05-24 16:31] jessegreenberg commented on #148
No, I haven't, but thanks for bringing that up. That will be an issue for sure.

[2016-05-24 16:55] jessegreenberg commented on #148
“Yellow Balloon, draggable, undefined

It looks like description is missing 'grabbed'.  Perhaps safari doesn't support 'aria-grabbed'?  I will look into it.

[2016-05-24 17:05] jessegreenberg commented on #148
- balloon’s current position upon grabbing
 - balloon charge info
 - description of nearest object (sweater or wall)
 - then finally the navigation cues for help and release.

@terracoda since the balloon is an 'appliciation', the user won't be able to find list items with the arrow keys.  How will this content be found?

[2016-05-24 17:10] jessegreenberg commented on #148
Adding a checkbox for the 'release balloon' alert.

[2016-05-24 17:19] jessegreenberg commented on #148
@terracoda, given your comment

Would you like to proceed with a 'switch' or keep the toggle button?  The prototype reader can support ```role=switch```.

[2016-05-24 17:58] terracoda commented on #148
@jessegreenberg I think it is worth testing. The specification is in working draft. I have no idea how fast new standards are implemented. I'd like to test it to see what the control could sound like.

[2016-05-24 19:29] terracoda commented on #148
@jessegreenberg, regarding the a list and aria-describedby, we might be able to use multiple ids to associate multiple descriptions. I found the following resource, but I am still not sure how it will work [Using ARIA](https://www.w3.org/TR/WCAG20-TECHS/ARIA1.html)

[2016-05-24 20:52] jessegreenberg commented on #148
@terracoda, sounds good.  I will try it a switch.

[2016-05-24 21:06] jessegreenberg commented on #148
I am concerned that many screen readers will treat the shift of focus as an 'assertive' update, and 'Grab Yellow Balloon' button will be read over all other 'aria-live' messages when the simulation shifts focus to the Balloon Button.

Perhaps we can think of another solution that produces the same interaction for the user, but does not involve two HTML elements.

[2016-05-24 21:10] jessegreenberg commented on #148
I am not sure if screen readers support this, but we could keep the same HTML element by using ARIA roles.  Then the role would switch between 'button' and 'application' depending on whether or not the balloon is being dragged.  Screen reader support for button isn't great, but perhaps this would let us have control over the order of updates since we are not manipulating focus.

[2016-05-24 21:23] jessegreenberg commented on #148
https://github.com/phetsims/balloons-and-static-electricity/issues/148#issuecomment-221402249 I am going to give this a shot.

[2016-05-24 21:27] terracoda commented on #148
@jessegreenberg 1.2.0-reader.2 is the latest, right?

I'm experiencing issues with NVDA and FF, and NVDA and Chrome on a Windows 7 machine, Intel Core Duo CPU 2.66GHz, 64 but with 8.00 GB of RAM.

This system should be good enough, no?
I've updated to the latest Firefox and the latest Chrome.

[2016-05-24 21:39] jessegreenberg commented on #148
@terracoda, yes, I wouldn't expect any issues.  Does NVDA run well outside of the simulation?

[2016-05-25 01:08] terracoda commented on #148
@jessegreenberg, I was using NVDA to do a website assessment and it seemed to work fine. I'll try again tomorrow. When I shutdown the machine, Windows started installing several updates.

[2016-05-25 01:38] terracoda commented on #148
@jessegreenberg, Re our discussion about lists. It's possible, even likely, that the list structure I would like for the balloon description won't work. However, according to the specification we can have multiple aria-describedby id's associates with an element. Given this information, we should be able to have multiple sentences, even if they are not in a list structure.

[2016-05-25 15:04] jessegreenberg commented on #148
Above commit is a new implementation for the balloon interaction.  It should be reviewed and discussed with the team, but it works nicely assuming the screen reader supports aria-live, role=application, and role=button.  Rather than switching focus, it uses the solution described here https://github.com/phetsims/balloons-and-static-electricity/issues/148#issuecomment-221402249.  It is a way to sup

[2016-05-25 15:07] jessegreenberg commented on #133
Above commit is a new implementation of this interaction.  Rather than switch focus to a new 'application' div, the role changes, and aria-live polite alerts describing the balloon or button are queued once the balloon is picked up and released.

It should work as long as the screen reader supports aria-live, role=application, role=button.

[2016-05-25 15:52] jessegreenberg commented on #146
For the BASE prototypes, the title is set to "Balloons and Static Electricity 1.2.0" with 'accessible-instance' removed.  Closing this issue, if we need to adjust the title further, we can create a new issue to discuss removing version ID as well.

[2016-05-26 23:46] terracoda commented on #148
Great @jessegreenberg. Is there a new link?

[2016-05-27 00:28] jessegreenberg commented on #146
Reopening.  The built version of the sim has the old title.

[2016-05-27 16:37] jessegreenberg commented on #148
Checking this off above commits implement a trial solution for this.  It can be reviewed/discussed soon.

[2016-05-27 17:07] jessegreenberg commented on #148
Checking this off as well, new implementation for balloon interraction fixes this problem.  If we see 'undefined' again or need to revert we can look into this.

[2016-05-27 17:12] jessegreenberg commented on #148
Checking this off.  Above commits implement this list as a queue of polite alerts.  This works well with our prototype and JAWS but does not work for most other screen readers.  We will need to discuss if this is acceptable, or if we want to come up with a different solution.  NVDA does not seem to support queuing polite alerts at all.

[2016-05-27 17:19] jessegreenberg commented on #148
Sent in email, but to address https://github.com/phetsims/balloons-and-static-electricity/issues/148#issuecomment-222025767, here is a link with these changes.

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.3/balloons-and-static-electricity_en.html?reader

This is definitely not finished, descriptions are missing and some are still static, but this vers

[2016-05-27 17:19] #148 closed

[2016-05-27 17:39] jessegreenberg opened #149 "ABSwitch should be a 'switch' instead of toggle button"
From #148, @terracoda suggested that we try replacing the ABSwitch toggle button with an accessible switch.

From #148, it should be something like this:
[code]

Also, @terracoda pointed out that

[2016-05-27 19:34] jessegreenberg commented on #146
For prototypes, dev info in the version id can be removed from build.  Closing.

[2016-05-27 19:34] #146 closed

[2016-05-27 20:31] jessegreenberg commented on #149
@terracoda also mentioned that

So the prototype screen reader should say something like the above for the accessible switch.

[2016-05-27 20:51] jessegreenberg commented on #149
@terracoda, I just tested out

[code]
NVDA treats it very similar toggle button with 'aria-pressed'.  The output from NVDA in both Firefox and Chrome is
"Two Balloon Experiment Button, Toggle Button, not pressed". (when aria-checked=false)
"Two Balloon Experiment Button, Toggle Button, checked, not pressed" (when aria-checked=true)

And it reads "Checked" when it gets checked. Strange that it stil

[2016-05-27 21:03] jessegreenberg commented on #149
Jaws is very similar.  Sometimes it labels it as a 'checkbox', others as a 'toggle button'.  The output is

With 'aria-checked'='false': "Two Balloon Experiment Checkbox, Not Checked"
With 'aria-checked='true': "Two Balloon Experiment, Checkbox, Checked"

But when the checkbox is pressed, JAWS reports:
"Toggle Button Checked, Two Balloon Experiment" (When Checked)
"Toggle Button, Two Balloon Exper

[2016-05-27 21:25] jessegreenberg commented on #133
I just found this line in the ARIA 1.1 working draft:

Unfortunately, this means that the above solution goes against specification.

[2016-05-27 22:03] jessegreenberg commented on #149
Commit above replaces the toggle button with an accessible switch.

[2016-05-27 22:15] jessegreenberg commented on #149
Prototype reader now supports an accessible switch.  It seems that Safari does not put Check boxes in the natural navigation order?  We can force it with tabIndex=0.

[2016-05-27 22:28] jessegreenberg commented on #149
Setting tabIndex doesn't seem to help.  The checkboxes in this page work well in Safari:
http://webaim.org/techniques/forms/controls

[2016-05-27 22:52] jessegreenberg commented on #149
From https://github.com/phetsims/john-travoltage/issues/89#issuecomment-220352858, it was discovered that adding some width to the checkbox fixes the problem in Safari!

[2016-05-27 23:07] jessegreenberg commented on #149
Here is a dev version with the switch implementation, and the prototype screen reader behaving like https://github.com/phetsims/balloons-and-static-electricity/issues/149#issuecomment-222246217

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.4/balloons-and-static-electricity_en.html?reader

[2016-05-28 23:04] terracoda commented on #149
@jessegreenberg Testing results for Mac OSX, El Capitan, Safari 9.1.1 (latest) and VoiceOver.
When I use the VO cursor keys to navigate to the switch, I hear:
- Two-balloon experiment, off, Switch. You are currently on a switch. To select or deselect this checkbox, press Control-Option-Space.

Then when I activate the switch with the VO-commands (or with the spacebar alone) and I hear:
- on, Two b

[2016-05-28 23:11] terracoda commented on #149
Testing with the reader, the switch only gains focus if I tab to it. If I use the arrow keys to navigate to it, I cannot activate it by hitting the spacebar. This is different from the Wall button which is operable whether I navigate to it with the tab key or the down arrow.

Oh, and note that the interaction alert, of "Green balloon added or removed from play area" does not fire with VO and Safar

[2016-05-28 23:13] terracoda commented on #149
And the verbalizations for the switch itself are nice as well:

- Two balloon experiment, switch, Off (with a single balloon)
- Two balloon experiment, switch, On (with two balloons)

[2016-05-29 00:30] terracoda commented on #149
@jessegreenberg, by the you have done a great job in implementing general Hotkeys based on structural HTML elements.

[2016-05-29 00:44] terracoda commented on #149
@jessegreenberg, while testing with VoiceOver (El Capitan and Safari), I hear an extra text element, "Two balloon experiment". It comes in between the switch and the the switch's description. Can you check to make sure there isn't an extra element in there?

[2016-05-31 15:13] jessegreenberg commented on #149
Thanks for finding this @terracoda, I will take a look.

Thanks for testing!  Happy to hear that VO supports the switch role!

Thanks @terracoda!

Yes, I see an extra element, thanks.  I will remove it.

[2016-05-31 17:46] jessegreenberg commented on #141
Escape key closes the help dialog again.  Since that is fixed and the jump keys were fixed, closing this issue.

[2016-05-31 21:33] jessegreenberg commented on #149
Focus issue fixed via https://github.com/phetsims/scenery/commit/589de16a419133bf5ff5fab09042e50a08bf19fe

[2016-05-31 21:42] jessegreenberg commented on #149
Actually, the reader was reading label content twice.  Should be fixed, but I could not reproduce on Windows Chrome.

[2016-05-31 21:45] jessegreenberg commented on #149
I think this issue can be closed now that all issues are resolved.  Any new issues can be created after review of a new dev version.

Keeping the switch for now, it works really well with the prototype and VO, and works OK with NVDA and JAWS.

[2016-05-31 21:45] #149 closed

[2016-05-31 21:46] jessegreenberg commented on #135
Closing this issue, list above works and we have new description content.

[2016-05-31 21:46] #135 closed

[2016-05-31 21:52] jessegreenberg opened #150 "Model play area regions for accessibility"
@terracoda has provided a diagram that will specify descriptions for the balloon by location.  When this is modeled, it will also help easily look up descriptions for the balloon based on its position.

![bs-grid-new 1](https://cloud.githubusercontent.com/assets/6396244/15691713/98afee72-2747-11e6-9ef4-77ca21192324.png)

[2016-05-31 21:58] jessegreenberg opened #151 "Test static live regions"
@jobara mentioned that he had good luck with live regions when the region was added to the main html content before the sim is loaded.  It is possible that screen readers are having a difficult time with dynamic descriptions because our live regions are all added by the simulation.  It is possible that the screen reader is not registering observers to live regions that are added by the sim.

We sh

[2016-05-31 22:00] jessegreenberg commented on #122
We can discuss adding a button later, but closing this issue for issue hygiene.  At the moment, the keyboard help dialog can be brought up with 'h' from the balloon with its application role.

[2016-05-31 22:00] #122 closed

[2016-05-31 22:02] jessegreenberg commented on #106
See #151, this might help with these issues.  The prototype screen reader (#145) also registers observers so that aria-live works as we would expect.

[2016-06-01 00:06] jessegreenberg commented on #150
Regions added to the model.  I think the image above is not at the same aspect ration of the dev bounds, but the balloon is still able to reach each region.

Here is the grid visualized in the simulation:
![grid](https://cloud.githubusercontent.com/assets/6396244/15694367/458e694a-275a-11e6-9a03-ecaa4a74bad1.PNG)

It can be seen in future versions with the ?dev query parameter.

[2016-06-01 15:29] jessegreenberg commented on #150
To clarify, balloon descriptions will be based off of the center of the location of the center of the balloon, and the center of the balloon can touch each region.

[2016-06-01 22:17] terracoda commented on #151
@jessegreenberg, just listene a little and this sounds promising. Have you actually added a few new descriptions as well as adding the aria-live region to the main html? I am hearing more descriptions.

[2016-06-01 22:37] terracoda commented on #150
@jessegreenberg, thanks for posting here and creating the ?dev parameter. This is very useful! I can actually see how big the balloon steps are in real time. This will help a lot with descriptions!

More clarification:
- Dark vertical lines:  center of the balloon at the "Jump to locations"
- Black dots on edges: center of balloon at extreme edges (will need sound effects here)
- Green vertical ar

[2016-06-02 00:38] jessegreenberg commented on #151
@terracoda I actually haven't been able to try this yet.  Any new descriptions could be new content I have added, but I am not sure.  Glad more are coming through!

[2016-06-02 00:51] jessegreenberg commented on #150
Sorry, how is this?
![near](https://cloud.githubusercontent.com/assets/6396244/15730391/90b40b08-2829-11e6-8055-23ec0d7603f9.PNG)

Ah, very cool! Didn't realize that.

[2016-06-04 13:59] terracoda opened #152 "Tabbed widget (Resources)"
@jessegreenberg. Here are two recent articles on ARIA Tabbed widgets which came across the WCAG mailing list. They should be helpful for multi-screen sims and how we are handling the multiple screens.
- On Medium, [Danger!Testing Accessibility with real people] (https://medium.com/@LeonieWatson/danger-testing-accessibility-with-real-people-4515f72db648#.k0ng5llrc)
- On HackPoets, [From HTML to ARI

[2016-06-05 23:49] terracoda commented on #150
Hi @jessegreenberg , I updated the diagram in the google sheet. It should be to scale now, sorry for the confusion. The mark above for the JS location is the same as in the diagram now. I made other slight adjustments to the regions as well. I will try to post the diagram here.

[2016-06-05 23:50] terracoda commented on #150
Here we go:
![bs-grid-new-2-scale](https://cloud.githubusercontent.com/assets/1902116/15809080/4a6ad176-2b63-11e6-90c3-4cdba7171be5.png)

[2016-06-06 00:09] terracoda commented on #150
Legend for description grid diagram:

- Darker Blue regions: X & Y regions
- Top labels: X release descriptions
- Left labels: Y release descriptions
- Black dots: mark center of balloon at a boundary
- Bottom labels: sample drag description moving left
- Grey words: filler drag descriptions
- Green bar: marks rest of Play Area when Wall is removed
- Vertical grey lines: Jump to locations (JS, JC,

[2016-06-06 00:56] terracoda commented on #133
@jessegreenberg, I agree it seems hack to change element roles on the fly. I just read a couple of articles on Tabbed widgets (see #152). Is it possible to just change the focusability (change tabindex) of the balloon rather than hiding it all together. I'm just wondering if that would help make the  description of the balloon naturally accessible via the cursor keys. I would have to adjust the de

[2016-06-06 01:18] terracoda commented on #133
Oops posted a little early.
Here's an example using the Tab key:
1. Grab Yellow Balloon, button
2. Remove Wall, button
3. Two-ballon experiment, Switch, Off
4. etc.

With the down cursor key, starting with Grab Balloon button:
1. Grab Yellow Balloon, button.
2. Get ready to drag balloon. Once grabbed press the W, A, S, or D key to drag up, left, down, or right. To let go, press Spacebar.
3. Headin

[2016-06-06 01:26] terracoda commented on #133
@jessegreenberg, note new description for Grab Balloon button.

- [ ] Once grabbed, press the W, A, S, or D key to drag the balloon up, left, down, or right. To let go, press Spacebar.

Adding the release cue description to the "on-demand help" of the button means that if the user never finds or bothers to check the hotkeys documentation, they will still have on-demand access to drag and release d

[2016-06-06 03:36] terracoda opened #153 "Focus Management and Up and Down Cursor keys"
Using the reader I noticed the following issues with the down cursor key and how descriptions are read out:
1. The label of the Grab Balloon button is not read out, and the button (the balloon) does not gain visual focus, whereas this is how the other buttons work.
2. The Yellow balloon description (before interaction), contains no position nor charge information. It only contains the navigation c

[2016-06-06 16:13] jessegreenberg commented on #152
Thanks @terracoda!  I will check this out!

[2016-06-06 16:17] jessegreenberg commented on #150
Thanks @terracoda, I will make updates to the model as necessary.

[2016-06-06 16:42] jessegreenberg commented on #133
@terracoda, yes, I think your suggestion makes total sense, and I would expect a screen reader to support that kind of thing.

The purpose of switching roles rather than dynamically changing focus was to control the output of aria-live updates when the balloon is released.  If the balloon is released, we want output like:

- Negatively charged Balloon released from [center of Play Area].
- Attract

[2016-06-06 16:51] jessegreenberg commented on #133
Maybe with the prototype screen reader we could try something like

- "If the active utterance is being spoken has some attribute like 'assertive-priority', all following utterances should be queued *even if they are assertive or fired by the focusin event*.

Or we could come up with a different type of priority system.

We would be creating/changing aria attributes for the purpose of testing with

[2016-06-06 17:04] terracoda commented on #133
@jessegreenberg said:

As long as the screen reader user can find the Grab Balloon button with the tab key, the cursor key and the the B key. I think this will be just fine. I think this might be closer to something more intuitive to a screen reader user.

[2016-06-06 17:08] terracoda commented on #153
@jessegreenberg, FYI, I made a couple updates to clarify wording in the above comment.

[2016-06-06 17:13] terracoda commented on #150
Thanks @jessegreenberg and "dev parameter" that displays the model is really handy. It is way easier to see how many intermittent descriptions we need. Things like "closer", "almost there". I think I can reduce.

[2016-06-06 17:31] jessegreenberg commented on #153
Good catch @terracoda, yes likely due to changes related to #133.  Seems to be introduced as of version reader.3.

Are there other descriptions in the design document for Perspective 1?  Before the interaction, there is the 'grab balloon' label, and the navigation help description.  It looks like columns for position and charge info are blank.

Most screen readers do not do this, so I didn't imple

[2016-06-06 17:33] jessegreenberg commented on #133
Great, thanks @terracoda!  I will give this a try.

[2016-06-06 18:26] jessegreenberg commented on #152
Leonie Watson's article is great, mostly about research and avoiding pitfalls of jumping to conclusions with unsuccessful user testing.  I think that I have fallen into that pitfall as well.  In frustration I have also thought "Perhaps ARIA isn't yet supported enough in the real world to handle this kind of content".

[2016-06-06 18:26] jessegreenberg commented on #152
The article from HackPoets should be quite helpful, it has really rich examples of tabs with markup and html.  I will save these links.  Thanks for sending them along @terracoda!

[2016-06-06 19:12] jessegreenberg commented on #133
Hmm, I forgot about the limitation in the PDOM that only one element representation can exist at a given time, and the peer must correspond to the correct node in the scene graph for the focus highlight to work correctly.  It was working before because when one DOM representation for the balloon existed at a time.

[2016-06-06 19:17] jessegreenberg commented on #133
We will need two scenery nodes to accomplish this.  One for the 'Balloon Button' and another for 'draggable application div'.  They will have identical bounds and locations.  Dragging the balloon will drag both of these nodes.  So BalloonNode can be the parent of both of these so that the drag handler extends to both children.

[2016-06-06 19:26] jessegreenberg commented on #153
Continued work in #133 will likely fix point 1 in the initial issue comment.

[2016-06-06 19:41] jessegreenberg commented on #133
Ah, except the focus will be on an application element, so we must assume that the arrow keys and other navigation strategies will not work.  Tab would be the only way to go anywhere else in the application.

[2016-06-06 19:43] jessegreenberg commented on #133
Ah, except 'b' and cursor keys would be unusable because focus will still be on an 'application' element...

[2016-06-06 19:51] jessegreenberg commented on #133
I wonder if we can force the order of events a different way?  Lets say we track the previous active element.  If previous active element is the draggable balloon div maybe we could then read all of the alerts after the description of the focused element has been read?  This way it might sound like

*User releases balloon*
- Grab balloon button
- Negatively charged Balloon released from [center of

[2016-06-06 20:02] jessegreenberg commented on #133
This won't quite work, 'focusin' event (used by cursor) seems to happen after 'focus' event (used by balloon).  I expected the opposite!

[2016-06-06 20:44] jessegreenberg commented on #133
How about a single 'aria-describedby' paragraph or list that contains all of the list items in https://github.com/phetsims/balloons-and-static-electricity/issues/133#issuecomment-224068292 (except for the balloon).  The aria-describedby attribute would be shared by all buttons that can receive focus after the balloon is released.  This way, we don't worry about alerts and aria-live at all.  This d

[2016-06-06 21:25] terracoda commented on #153
@jessegreenberg regarding "getting stuck on the Sweater description while using the up cursor key", this only happens while using Safari 9.1.1 (El Capitan, Mac Air).

[2016-06-06 21:26] jessegreenberg commented on #153
Thanks @terracoda, I will try to reproduce on that platform.

[2016-06-06 22:23] terracoda commented on #153
@jessegreenberg, sorry, regarding the blanks columns, I see the documentation is unclear. P1 was originally focused  and grabbed but not yet moving. I need to make this more clear.

I might have removed the content thinking that there would be no balloon at all until it was grabbed.

[2016-06-06 23:27] terracoda commented on #153
@jessegreenberg, regarding second part of point 3,

What I meant to say is that the control remains operable, even after the user cursors down to the description. And this does not happen in reverse, obviously, because I am going backwards.

So, I agree with you:

I was definitely projecting too much of what I see visually and hear onto what I think what a screen reader will understand from listen

[2016-06-06 23:36] terracoda commented on #133
@jessegreenberg said:

I was thinking that the Grab Balloon button needs to be easily findable when the balloon is released, not when it is grabbed. Maybe I think I need to do some cognitive walk-throughs for this interaction, once I have a few more descriptions.

[2016-06-07 00:05] jessegreenberg commented on #133
Sounds good @terracoda, walk-throughs would be helpful.

https://github.com/phetsims/balloons-and-static-electricity/issues/133#issuecomment-224082193 <--This works nicely, and might work well on all screen readers!  This is much better than queuing multiple alerts.

The screen view listens to the 'blur' event and dispatches it down the DOM tree.  If the ```target``` of the blur event is one of th

[2016-06-07 00:46] jessegreenberg commented on #133
Works very well with the prototype screen reader.  Does not work at all with NVDA + Firefox...

From the beginning of our work with the parallel DOM, we have been assuming that the document can be dynamic.  I am beginning to have concerns that screen readers largely do not support adding/removing elements from the document and changing their attributes.  I believe this is mostly due to the way scr

[2016-06-07 15:35] jessegreenberg commented on #133
Perhaps this is because of the structure of the description content, I will try simplifying it to see if it works in a very basic case.

[2016-06-07 15:49] jessegreenberg commented on #133
A single paragraph element works with NVDA + Chrome, but not on NVDA + Firefox.  Perhaps the accessibilith API used by Firefox has more limitations with dynamic DOM element attributes.

[2016-06-07 16:46] jessegreenberg commented on #151
@jobara, This works really well for screen readers.  I tested NVDA on Chrome and Firefox and JAWS on IE, we are hearing all aria-live content in balloons-and-static-electricity.

One thing I am noticing: polite utterances need their own DOM element to queue messages.  If we have a single element with aria-live='polite', only the final text content will be read rather than the change in text as con

[2016-06-07 16:49] jessegreenberg commented on #151
Or we could package all content into a single string and dispatch it to the aria-live element when ready?  Then we wouldn't have multiple 'polite' elements in the top level html file, and the order of messages would be platform independent.

[2016-06-07 16:59] jessegreenberg commented on #151
We can begin to look at how to add these types of elements to the top level html file.  They will probably need to be added to sim.html and sim-development.html for access in build and RequireJS.

[2016-06-07 17:08] jessegreenberg commented on #133
In https://github.com/phetsims/balloons-and-static-electricity/issues/151, @jobara recommended a brilliant way to get aria-live working in a predictable way.  This means that we can revert to using alerts rather than changing the aria-describedby id's to notify the user of this content.

[2016-06-07 17:27] jessegreenberg commented on #133
All alerts in BASE should now use this method of updating live content.

[2016-06-07 17:31] jessegreenberg commented on #133
Can these alerts be hidden or have 'aria-hidden'?  I am not sure if this content should be found by the cursor.

[2016-06-07 21:33] terracoda commented on #151
@jessegreenberg, this is great news. Thanks @jobara! I can help with the HTML.

[2016-06-07 21:34] terracoda commented on #151
@jessegreenberg, let me know when there is a new instance :-)

[2016-06-07 21:34] jessegreenberg opened #154 "Implement balloon perspective descriptions"
Seems like there really wan't an issue for this yet.  This issue will just track progress of implementing dynamic descriptions on the balloon which are dependent on balloon position, charge, whether or not it has focus, whether or not it is moving, etc...

For description design, see https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit?ts=568067c0#gid=931000658

[2016-06-08 00:58] terracoda commented on #154
Thanks @jessegreenberg for opening this issue to track updates to descriptions.

[2016-06-08 01:00] terracoda commented on #154
@jessegreenberg, I did write up summary descriptions for when a user presses the resets. These are in Tab 6. I have 2 columns. The second column is the super brief version.

[2016-06-08 19:24] jessegreenberg commented on #154
Thanks @terracoda, Ill check it out!

[2016-06-08 20:55] jessegreenberg commented on #151
Hmm, still wonky behavior with Chrome + NVDA.  When setting textContent of an aria-live element to
'‪Yellow Balloon‬ released against lower wall. No change in position. No change in charge'

Sometimes I will hear 'against lower wall', other times I will hear 'low'.  Other times I will hear nothing.

[2016-06-08 20:56] jessegreenberg commented on #151
Still great in Firefox!

[2016-06-08 21:02] jessegreenberg commented on #133
With NVDA, releasing the balloon will will cause focus to go to the 'grab yellow balloon' button, but since the spacebar is down, the newly focused button will be clicked immediately and grab the balloon again.

[2016-06-08 21:03] jessegreenberg commented on #133
We could release the balloon on keyup?

[2016-06-08 21:04] jessegreenberg commented on #133
Yep, that works :+1:

[2016-06-08 21:09] jessegreenberg commented on #151
Maybe because focus transitions in this case?  Focus is moving to another element when a bunch of utterances are added to the queue.

[2016-06-08 21:32] jessegreenberg commented on #154
I added comments in the google doc, but I have two questions:

- What should the descriptions be when the balloon is released from the right most side of the play area when the wall is not there.

- When is the 'Resting State/Location at Wall' description announced for a neutral balloon?

[2016-06-08 21:58] jessegreenberg commented on #154
Above commit implements the balloon location descriptions and alerts when balloon is released.

[2016-06-08 21:59] jessegreenberg commented on #151
We also still have the issue that if the user is dragging the balloon, many live alerts will be missed because keyboard interaction trumps aria-live.

[2016-06-09 15:40] jessegreenberg commented on #152
Closing this issue, when we are ready to make multiple screens accessible, an issue in Joist will be created and we will certainly reference these articles.  Thanks @terracoda!

[2016-06-09 15:40] #152 closed

[2016-06-09 22:11] jessegreenberg commented on #106
#151 was quite successful in getting aria-live working with the screen reader.  Closing this issue, additional investigation will be continued there.

[2016-06-09 22:11] #106 closed

[2016-06-19 04:08] terracoda commented on #141
@jesse The last section in the Hot Keys dialog does not match the original content (above). The heading  "Hot keys for jumping" is accidentally repeated. It should have been "Grab Balloon." Instead of fixing, we can actually change it because both the Enter Key and Space bar work to grab and release the Balloon. I think it is better to combine the Release section with the Grab section.

H2: Grab a

[2016-06-20 23:17] jessegreenberg commented on #141
Good catch @terracoda, thanks!  I will combine the Release section with the grab section to fix the issue.

For the direction on how to close the dialog, where should this exist in the dialog?  Near the top by the h1 or more as an on-demand description for the 'Close' button?

[2016-06-23 15:51] jessegreenberg commented on #153
Issues with the balloon descriptions are in progress via #154 and the interaction is being tracked in #133.  Points 1 and 2 above have been fixed.  If point 4 above resurfaces, we can create a new issue in scenery to track it.  Closing.

[2016-06-23 15:51] #153 closed

[2016-06-28 16:10] jessegreenberg commented on #154
Above commits should complete perspective 3 (description upon release).

[2016-06-30 01:12] terracoda commented on #154
@jessegreenberg, this is great. I will look at the description on Friday.

[2016-06-30 15:40] jessegreenberg commented on #150
I am glad the in-sim visualization is helpful @terracoda!  Since this has been implemented, closing.  If the play area model needs to be tweaked, we can create new issues.

[2016-06-30 15:40] #150 closed

[2016-07-02 16:59] terracoda commented on #154
Hi @jessegreenberg,
Thanks for all your hard work.
Is the latest instance still:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.5/balloons-and-static-electricity_en.html?reader

[2016-07-03 18:46] terracoda commented on #141
@jessegreenberg, the direction to close the dialog can be at the very end. Most users know how to do this intuitively, so it is not something that has to take up prime reading space, and is only there in case a user does not know, or reaches the end is not sure what to do.

[2016-07-03 19:07] terracoda commented on #154
@jessegreenberg, I have a completed first draft of items in a Dynamic Scene Summary. They are in the google doc that contains all descriptions. They are on the PDOM tab. I created several rows for the Scene Summary to break it up, but really it is all part of the same thing.
[BASE Labels and Descriptions](https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit#gid=

[2016-07-05 17:36] jessegreenberg commented on #154
@terracoda yes, that is still the latest deployed version.  I wanted to get a bit farther with dynamic descriptions before deploying another.  But I will deploy the next dev version soon.

Thanks @terracoda, this looks great!  I just saw the updates to the design document.  I really like the idea of breaking up the description into a few static/dynamic pieces.

[2016-07-12 18:59] terracoda commented on #154
@jessegreenberg Perspective one is a little less clear since we changed the interaction of grabbing the balloon. I will need to review this a bit more. I think Perspective 2 and 3 are more clear.

- Perspective 2: the balloon has been grabbed and the user is figuring out how to move it or is actively moving it.
- Perspective 3: is the description upon release.

Perspective 1 was originally for the

[2016-07-13 23:00] jessegreenberg opened #155 "Investigate method of generating reset alerts"
As part of #154, we need a generalized way to generate alerts once the 'reset all' button has been pressed.  As part of this, we may need to restrict alerts that come from other parts of the simulation once properties are reset.  ```aria-live``` elements might have text content reset, but we don't always want them to be announced.  ```assertive``` alerts will always take precedent, which is not de

[2016-07-14 20:57] jessegreenberg commented on #154
Sure @terracoda, I will hold off.  While reading perspective 1, was that it was for the balloon when it is not grabbed and not in focus, but found by the virtual cursor.  So it is the description of the balloon in its 'stationary' state.  Would that be correct?

[2016-07-16 18:57] terracoda commented on #154
@jesse, Yes, __Perspective 1__ is a description of the balloon in its _'stationary' ungrabbed state_ - that is exactly right. This is the description of the balloon in the Parallel DOM if the user uses the cursor keys to get to it. When we changed the interaction (added the Grab Yellow/ Green Balloon Button), the result was that we hid the balloon from the user.

What I think we need to do is hide

[2016-07-16 19:50] terracoda commented on #154
@jessegreenberg, so the bottom part of the __Perspective 1__ google sheet describes the balloon's description as it would be when the user presses the grab button to grab the balloon. This interaction dynamically adds the descriptions of the balloon's nearby object and dynamically changes the description for the navigation cue (or initial interaction or navigation hints).

[2016-07-16 19:54] terracoda commented on #154
@jessegreenberg, just had an idea about how to possibly make navigation cues in to initial interaction hints. This idea might be most useful for the grab balloon button.
Idea: use aria-described-by on the controls on the first go around, but then

[2016-07-16 19:58] terracoda commented on #154
@jessegreenberg, fyi, I updated the previous comment as I posted it prematurely - an idea to keep in mind anyways.

[2016-07-20 17:04] jessegreenberg opened #156 "'Enter' releases balloon immediately after picking up"
If the balloon is picked up with the 'enter' key, it is released immediately.  This does not happen if the user picks up the balloon with 'spacebar'.  Happens on all platforms.  Thanks for finding @terracoda!

[2016-07-21 02:39] jessegreenberg opened #157 "'charge repel' alert announced infinitely on NVDA"
In some instances, NVDA will announce the alert describing changes in the charges indefinitely.  Very likely that the 'aria-live' element responsible for announcing this is having text content changed every time the balloon position changes, and thus every single animation frame.  It should only update when alert content changes.

[2016-07-21 02:41] jessegreenberg commented on #156
It seems that in all browsers spacebar fires the 'click' event on key *up* and enter fires the click event on key *down*, which is why this issue is happening for the enter key and not the spacebar key.

[2016-07-21 02:45] jessegreenberg commented on #103
This issue is a bit stale and we are tracking progress of accessible content in individual issues at this point.  Closing.

[2016-07-21 02:45] #103 closed

[2016-07-21 02:46] jessegreenberg commented on #112
This is done, but leaving open to discuss if this design change can propagate to master.

[2016-07-21 02:56] jessegreenberg opened #158 "Describe charge locations on sweater"
In a user test 7/20, the for accessibility the user was able to drag the balloon across the sweater, but was unclear of where charges were on the sweater and how many were remaining on the sweater.

To fix this we could
- Add information about charges and their locations somewhere in the descriptions/alerts
- Somehow change the intereaction so that any movement along the sweater will pick up charg

[2016-07-21 02:59] jessegreenberg opened #159 "aria-live elements need to be empty or invisible on sim start up"
In a user test 7/20, the user was able to find the 'aria-live' alert section above the simulation title, which was unexpected and confusing.

This is because the alert had content on sim-load.  The alert should be empty when the sim is initially loaded.

We should also test hiding these elements, that would be ideal.  But I am not sure if AT will still anounce aria-live updates from elements which

[2016-07-28 21:16] jessegreenberg commented on #157
Fixed in commit above.

[2016-07-28 21:16] #157 closed

[2016-07-28 22:41] #156 closed

[2016-07-28 22:45] jessegreenberg commented on #159
Above commit empties the live textContent on startup by attaching the model to the element with a lazyLink.

[2016-07-28 22:45] #159 closed

[2016-07-31 22:38] terracoda commented on #158
@jessegreenberg The first two scenarios are exactly things I have noted in the past, so I totally agree that both options are good ideas. In other interviews, participants did rub back and forth quickly in one spot in an attempt to pick up negative charge. They did this not only on the sweater, but also on the wall and also in the middle of the play area, and also attempts were made to rub on the

[2016-08-01 03:22] terracoda commented on #158
@jessegreenberg, I was just checking my notes and the first iteration of "information hotkeys" that i was thinking of began with the letter "i":
- iw: tell me where I am?
- ic: tell me my charged state (or amount of charge)?
- is: tell me the summary of the scene?

I am wondering if something like this might be applicable to more sims? Obviously, "ic" is specific to charges, but "iw" and "is" are

[2016-08-01 23:10] jessegreenberg commented on #158
@terracoda indeed, I do remember you suggesting these options a long time ago!  I merely meant to collect possibilities in this issue.

I am also in favor of option 2, I believe it would be much more simple to design, implement, maintain, and it could be much less verbose when using a screen reader.

@arouinfar what do you think about changing the drag interaction so that rubbing anywhere on the s

[2016-08-01 23:31] jessegreenberg commented on #158
@terracoda I think that something general to all sims would be ideal!  Also looking down the road I think these kinds of hotkeys will need to be configurable by our translation utility so that they also make sense when used in languages other than English.

[2016-08-01 23:33] jessegreenberg opened #160 "Wall descriptions occasionally visible when wall is not"
Found in an interview, sometimes the balloon is described as being near to the wall when the wall has been removed from the play area.

[2016-08-02 17:22] arouinfar commented on #158
@jessegreenberg @terracoda I understand the motivation of wanting to allow charges to be picked up by any movement along the sweater, and I agree that it would be much easier to implement. However, I think it may conflict with the learning goals a bit.

For example, if we allow charges from the left sleeve to be picked up by rubbing the balloon on the right sleeve, the implication would be that th

[2016-08-03 14:36] terracoda commented on #158
@arouinfar @jessegreenberg: Great discussion!
@arouinfar, nice idea about increasing the sensitivity of the balloon. We would need to be careful that a rub just to the right of the sweater does not pick up charges :-)

If we make the balloon a little more sensitive, I think this would allow for larger body regions, i.e. fewer and more general descriptions of where remaining charges are, which is a

[2016-08-03 14:37] terracoda commented on #158
@jessegreenberg I agree about configurability of the hotkeys for internationalization - great point!

[2016-08-03 16:07] arouinfar commented on #158
Excellent point, @terracoda. There should be a rule that the balloon needs to be on the sweater before any charges can be picked up.

Perhaps the secondary/extra electrons shouldn't get picked up right away. It could take a few extra swipes to pick them up.

[2016-08-18 16:00] jessegreenberg commented on #158
@terracoda and I met to discuss this.  One idea that came up was to not describe exact locations of the charges on the body, but provide short directional cues about where more charges are located like "More charges left".  Not exactly sure when this would be announced and we may need another alert like "No more charges where you are rubbing, more charges left".

[2016-08-18 16:07] jonathanhung commented on #158
Hey gang you might have tagged someone incorrectly. Just a headsup! I'll
mute the thread on my end.

~@JonathanHung

On Sun, Jul 31, 2016 at 3:38 PM, Taliesin L. Smith <notifications@github.com

--
Jonathan Hung
Interaction design & design research
portfolio <http://www.jonhung.com> | linkedin
<http://www.linkedin.com/in/jonhung> | twitter
<http://www.twitter.com/jonathanhung> | resume
<https://ww

[2016-08-22 03:16] terracoda commented on #158
@jessegreenberg I got a few more drag descriptions written (moving left and right and up and down). I will continue tomorrow :-)

In terms of ordering and timing, it's possible that drag locations on sweater are only needed when there are no actual charges being picked up, or if the user stops moving, or if the user has not been moving for a little while). If there are charges being picked up, the

[2016-08-25 22:50] pixelzoom opened #161 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-25 23:51] pixelzoom opened #162 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:23] pixelzoom commented on #161
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:23] #161 closed

[2016-08-27 18:33] terracoda commented on #158
@jessegreenberg, I think I have made some good progress. Still done yet, but you are welcome to have a look, and check to see if things are making sense to you.

I am oscillating on when to use approaching words like "towards, closer and near" and when to just use the location. I feel the approaching words are important when going right and left, but may be less important going up and down.

[2016-08-30 17:39] jessegreenberg commented on #162
This shouldn't be an issue since the panel content width is less than the minWidth (min width isn't used).  But I verified by checking master against the published version and the layout is the same.  Closing.

[2016-08-30 17:39] #162 closed

[2016-09-01 15:46] jessegreenberg commented on #151
Closing, we have determined that static live regions at the top of the body are necessary to receive aria-live updates.

[2016-09-01 15:46] #151 closed

[2016-09-01 15:54] jessegreenberg commented on #133
We are definitely using this pattern.  Closing for now, as new bugs are found additional issues will be created.

[2016-09-01 15:54] #133 closed

[2016-09-06 22:34] jessegreenberg commented on #160
This will no longer be an issue with the new descriptions. The implementation is getting completely changed for new alerts.

[2016-09-06 22:34] #160 closed

[2016-09-06 22:37] jessegreenberg commented on #145
Web speech API has been great, and could work as screen reader for translators or as a replacement AT for users.  It works especially well in Chrome.  However, while the speech synthesis api works correctly, not all browsers support events.

Challenges are being tracked in https://github.com/phetsims/scenery/issues/538, so closing this issue.

[2016-09-06 22:37] #145 closed

[2016-09-06 22:41] jessegreenberg commented on #108
For the time being, we are using the WASD keys to move the balloon because screen readers (generally) do not allow the arrow keys to be used for anything outside of the virtual cursor (except for native widgets such as radio buttons and sliders).

As such, we are using a DIV to represent the draggable balloon.  With ```role=application``` we can use the WASD keys to drag the balloon instead.  A bu

[2016-09-06 22:41] #108 closed

[2016-09-06 22:44] jessegreenberg opened #163 "New balloon alert descriptions"
From https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit?ts=568067c0#gid=0

New descriptions are in the works.  This issue is to track the updated descriptions.

[2016-09-06 22:46] jessegreenberg commented on #154
@terracoda regarding https://github.com/phetsims/balloons-and-static-electricity/issues/154#issuecomment-233147970, this sounds interesting, we could do this.  Up to you for whether or not you would like try it.

[2016-09-06 22:47] jessegreenberg commented on #163
On second thought, lets keep working in #154.

[2016-09-06 22:47] #163 closed

[2016-09-06 22:48] jessegreenberg commented on #154
Big commit above begins some initial work on new balloon alerts.  In addition, it generalizes the accessible drag handler for use in other places.

[2016-09-06 23:45] jessegreenberg commented on #154
Above commit creates a common type for accessible nodes.  Button to grab balloon and accessible drag hanlders extend this.

[2016-09-21 12:11] terracoda commented on #158
@jessegreenberg, just posting the Mini cognitive walk throughs I presented yesterday (Sept 20). These examples do not yet address finding charges on the sweater (that's coming next), but they show other interaction alerts for the Wall and rubbing on the Sweater while actually picking up negative charges.

I will be adding these [mini cognitive walk throughs](https://docs.google.com/spreadsheets/d/

[2016-09-21 13:17] terracoda commented on #158
@arouinfar I share the walk throughs with you, too, though I don't yet have full examples for where the remaining charges are.

[2016-09-21 15:52] jessegreenberg commented on #158
Excellent @terracoda thanks! These are very helpful.  If you don't mind I am also going to place the link in #154 since that is where I am tracking work on the updated descriptions.

[2016-09-21 15:55] jessegreenberg commented on #154
@terracoda has provided a list of interaction walkthroughs, outlining description cases.

https://docs.google.com/spreadsheets/d/1b6zfzdbRwYDoHA5ecGEp8atx4moFJOf7aYXNGDFF1bE/edit?usp=sharing

This has been very helpful in exemplifying description cases.

[2016-09-21 16:24] jessegreenberg commented on #155
In accessibility meeting 9/20/16, we decided that it is acceptable to have a general alert when Reset All button is pressed.  The alert is

THis is good for i18n, is very clear that *everything* is reset, and it uses student friendly language.

In order to prioritize this alert over others that might happen when model properties are reset, perhaps we can do something like:

- Hide aria-live alerts

[2016-09-21 16:27] jessegreenberg commented on #155
Done in above commit, needs screen reader testing.

[2016-09-21 16:40] jessegreenberg opened #164 "Problems with keyboard dragging"
Current implementation of keyboard dragging is problematic.  JavaScript doesn't naturally support multiple keystroke detection, so we have to do this ourselves.

This is handled now with a combination of keyup, and keydown events.  It works sort of like this:

[code]

A keystate is used to track which keys are down at any given time, and `step()` is used to update the model position property based

[2016-09-21 16:42] jessegreenberg commented on #164
This is the biggest problem.  How important is it that apple bluetooth keyboards are supported?

[2016-09-21 16:56] jessegreenberg commented on #164
Testing, it looks like Apple bluetooth keyboards provide this on keyup:

This makes it tough to track which key was released.

[2016-09-21 17:57] terracoda commented on #154
@jessegreenberg thanks. This is the better issue for the mini walkthroughs.

[2016-09-27 21:28] jobara commented on #164
@jessegreenberg i tried this in iOS 10 and had the same issue.

[2016-09-27 21:50] jobara commented on #164
@jessegreenberg I just tried pairing the bluetooth keyboard to my MBP I'm using macOS 10.12 and ran the sim in Safari. Using the bluetooth keyboard I was able to select the balloon and move it around with the WASD keys without the issue.

[2016-09-28 19:07] jobara commented on #164
@jessegreenberg I tried with a non-apple bluetooth keyboard and experienced the same problem. Using an iPad.

[2016-09-28 19:07] jobara commented on #164
If i can track down a camera connection kit for the iPad i'll try a usb keyboard but I'm not sure we have one of those adapters.

[2016-09-29 00:45] terracoda commented on #158
@jessegreenberg, I've added interaction alerts (based on your idea) that can be used to find remaining charges on the sweater. These are located in the Interaction Alerts tab in [BASE Labels & Descriptions](https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit#gid=232870371l). See line 20.
For an initial example of these in action see scenario number 4  the [mini

[2016-09-29 00:50] terracoda commented on #154
@jessegreenberg, I've added interaction alerts (based on your idea) that can be used to find remaining charges on the sweater. These are located in the Interaction Alerts tab in [BASE Labels & Descriptions](https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit#gid=232870371). See line 20.
For an initial example of these in action see scenario number 4 the [mini c

[2016-09-29 15:38] terracoda commented on #154
@jessegreenberg, actually the interaction alerts for "Rubbing with no charges" is at row 19 on INTERACTION ALERTS Tab in [BASE Labels & Descriptions](https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit#gid=232870371). Just look for the heading "Rubbing with no charges." Updated previous comment.

[2016-09-29 15:43] terracoda commented on #154
@jessegreenberg I review the PDOM hierarchy Tab as well in [BASE Labels & Descriptions](https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit#gid=232870371). I think it is much clearer now.

I marked changed cells in with a light red (pinkish) background color.

[2016-09-29 16:20] terracoda commented on #154
@jessegreenberg, I added two general Interaction Alerts for the Balloon Reset button. Not sure we need more at this point.
- Reset Balloon (single): Sweater and balloon reset to net neutral charge. Balloon, in center of play area.
- Reset Balloons (two): Sweater and balloons reset to net neutral charge. Balloons, in center of play area.
Let's see if a simple approach works :-)

[2016-09-30 20:40] jessegreenberg commented on #154
Excellent, thanks @terracoda I am looking forward to working on the changes and new alerts for discoverability! :)

[2016-10-03 15:56] jessegreenberg opened #165 "Generalize method of sending aria-live alerts"
It would be really nice if we had a general way of sending aria-live alerts to the screen reader.  This would greatly reduce references to ```document``` in sim code and also isolate for maintenance and screen reader specific workarounds.

[2016-10-03 15:59] jessegreenberg commented on #165
We could have something that collects all live elements in the PDOM and then provides an interface for passing along updated content to them.

[code]

Would be simplified to something like
[code]

This is more phet-like too.

[2016-10-03 16:06] jessegreenberg commented on #165
Above is a template with stubs for a Herald type that will send updates to the AT.

[2016-10-03 17:37] jessegreenberg commented on #165
Working very well, this should be helpful.  Closing.

[2016-10-03 17:37] #165 closed

[2016-10-03 17:39] jessegreenberg opened #166 "Remove unused accessibility types"
There are a few unused accessibility types now that we have generalized AccessibleNode.  They should be removed.  We should also determine if other files under accessibility/ can be removed and replaced with the new generalized way of adding PDOM content.

[2016-10-03 17:46] jessegreenberg commented on #166
This will include
- [ ] AccessibleABSwitchNode (rewrite to use AccessibleNode)
- [ ] AccessibleBalloonNode (should be deleted)
- [ ] AccessibleButtonNode (should be deleted, replaced by AccessibleNode)
- [ ] AccessibleDescriptionNode (should be deleted, replaced by AccessibleNode options)
- [ ] AccessibleDivNode (Should be deleted, replaced by AccessibleNode parentContainer option)
- [ ] Accessibl

[2016-10-03 19:46] jessegreenberg opened #167 "accessible type should be called tagName instead"
It would be more conventional, type is overloaded with input type.

[2016-10-03 19:51] jobara commented on #166
@jessegreenberg can any of this generalization be shared with the John Tranvoltage?

[2016-10-04 16:37] jessegreenberg commented on #167
This was handled via #166.  Closing.

[2016-10-04 16:37] #167 closed

[2016-10-04 16:44] jessegreenberg commented on #166
Absolutely, thanks @jobara.  I would like to clean up the common types before committing to common code, but once they are there, it would be great to use in john-travoltage.

[2016-10-04 17:01] jessegreenberg opened #168 "Add discoverability alerts for finding charges on sweater"
Design document provided by @terracoda outlines discoverability alerts for adding alerts to describe where more charges can be found on the sweater.

https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit?ts=568067c0#gid=232870371

This issue will document related changes and additions.

[2016-10-04 17:13] jessegreenberg commented on #168
The descriptions for additional charge locations are:

- higher up
- further down
- further right
- further left

@terracoda will we need to handle cases where charges remain diagonally up/down/left/right from the balloon?

Also, how should the search algorithm work?  Should it just find the closest charge to the balloon and describe that?  Or should it prioritize a dense area of charges first?

F

[2016-10-04 17:48] terracoda commented on #168
@jessegreenberg, great questions! I was wondering the same :-) Goal of course, is to provide the most useful information with as few words as possible. I was thinking that describing the path to remaining charges, kind of like bread crumbing. But I still need to think about what pile to go after first.

[2016-10-04 21:29] jessegreenberg opened #169 "Add placeholder sonification"
IT would be pretty simple to add some placeholder sonification to balloons for rubbing, picking up charges and hitting a boundary.  This is described in many places throughout the design document, so we could get something in quickly just to get a feel for the flow of sound + description.

[2016-10-05 20:31] terracoda commented on #169
@jessegreenberg, I would love this :-)

[2016-10-07 17:45] jessegreenberg commented on #169
Done in the big commit above!  Kind of fun :) There are sound effects for the balloon picking up charges, rubbing on the sweater, and hitting a boundary in the play area.  It is possible to pick up charges *really* quickly, so I added a small delay so that you can hear individual beeps even if many charges are picked up at once.

Adding low priority label, since other descriptions take precedence,

[2016-10-07 17:47] jessegreenberg commented on #168
Discussed with @terracoda, we are going to try something like:

- If person is moving in direction of charges, continue to guide in that direction
- Otherwise guide them to the location of the next closest charge

[2016-10-07 17:51] jessegreenberg commented on #168
I am not sure why, but positions of charges in the sweater are stored in a propertyset.  They are also stored in an array.  Perhaps at some point we considered adding or removing these charges rather than toggling their visibility.

At any rate, this array of locations should be removed from the property set.

[2016-10-07 18:02] terracoda commented on #168
@jessegreenberg yes, if the user is going in a direction that contains pairs of charges, the description can keep guiding in that direction, otherwise guide towards the closest pair of charges. I updated the design document to include descriptions in 2 directions. If two directions are needed to guide towards the closest pair of charges, start with up or down first. New description strings in docu

[2016-10-07 21:34] jessegreenberg commented on #168
Thanks @terracoda, I took a first pass at this.  I like the addition of two directions.  So far, it will only tell the user about the closest charges.

This part hasn't been implemented yet.

[2016-10-07 21:37] jessegreenberg commented on #168
Removing high priority label, I would like to get more descriptions in place before adding the second part of this.

[2016-10-08 19:47] terracoda commented on #168
@jessegreenberg sounds good to me!

[2016-10-12 22:03] jessegreenberg commented on #158
This is now a duplicate of #168, and recent decisions are being tracked there.  Closing.

[2016-10-12 22:03] #158 closed

[2016-10-14 17:42] jessegreenberg opened #170 "Use of main vs article"
Asked in design doc, but placed here for documentation.

In an accessibility meeting we decided to use ```article``` instead of ```main``` to contain simulation content in order to support sims with multiple screens.  @terracoda can we do that in balloons-and-static-electricity?

[2016-10-14 17:46] jessegreenberg opened #171 "Add h3 to balloon widget"
Asked in design doc, but adding here to document the question.

Sweater and wall are both labelled with an h3.  For consistency, should the balloon widget also be labelled as such?  Perhaps this would add some verbocity, a screen reader might say

'Heading level 3, Yellow balloon' [down arrow]
'Grab yellow balloon, button' [down arrow]
'Once grabbed, get ready to...' [down arrow]

But if we use he

[2016-10-14 19:33] jessegreenberg opened #172 "Dash in control panel accessible labels"
In the design document, there is a request to add dashes to some of the button labels.  @terracoda would you please explain why?  Some screen readers will read this dash explicitly.  For a button like
[code]
NVDA reads *"Two dash balloon experiment, button"*.  Is this intentional?

[2016-10-14 21:24] terracoda commented on #170
@jessegreenberg I did not realize a decision had been made on the use of article. I understand we can't have multiple main elements. The main element is optional. I'm not sure we need to change it to an article or just leave it out.

[2016-10-14 23:35] terracoda commented on #171
@jessegreenberg, I totally agree. The balloons' names definitely need to be in a heading at the same level as the Sweater and the Wall (h3). The balloon must be part o the heading hierarchy :-). I was just wondering if the button should come before or after the heading. I was originally thinking it should come before, but after is also good. The balloon description, however, should immediately fol

[2016-10-14 23:55] terracoda commented on #172
@jessegreenberg, the dash is grammatically correct because the two words "Two" and "balloon" together form one adjective phrase modifying the word "experiment". Now, it is true that dashes do get dropped often.

In interviews, there was one participant who did not understand the word "two". They thought it was "to" until they listened letter by letter, and then they got it. Honestly, I'm not sure

[2016-10-15 00:20] terracoda commented on #170
@jessegreenberg Have you seen this HTML5 resource before?
http://html5doctor.com/downloads/h5d-sectioning-flowchart.png

It nicely demonstrates the decision making process for determining the correct block-level sectional element. According to this resource, articles can have sections, so I suppose we could try an article in place of main and see how it sounds to screen readers.

[2016-10-15 00:28] jessegreenberg commented on #172
I can see how that would be confusing!  Sounds good, closing.

[2016-10-15 00:28] #172 closed

[2016-10-15 00:41] jessegreenberg commented on #171
@terracoda, yes I like that a lot! This way the information about the balloon should be very easy to find, perhaps the user will have more context before getting to information about the interaction.  It also matches the sweater and wall.

[2016-10-15 00:41] jessegreenberg commented on #171
Assigning to myself to reorder.

[2016-10-15 00:45] jessegreenberg commented on #170
@terracoda, no I haven't, thanks! That is pretty neat!  According to that diagram, use of an article does seem appropriate.  We can proceed with that element for now.  Closing.

[2016-10-15 00:45] #170 closed

[2016-10-17 18:44] jessegreenberg opened #173 "iFrame with copy of parallel DOM"
It would be helpful to have a a document with the simulation in an iFrame with either the parallel DOM or a copy styled near it.  We could then see the parallel DOM and its content change during interaction.  This would allow development without searching for DOM elements in the insepector, which could save loads of time.  Also useful for testing without a screen reader, it will be easier to catch

[2016-10-17 18:45] jessegreenberg commented on #173
Must be a copy, if we remove the PDOM from iFrame inner document, the simulation cannot reference it.

[2016-10-17 18:46] jessegreenberg commented on #173
How can we listen for changes to the PDOM, and copy to the document containing the iframe?

[2016-10-17 18:52] jessegreenberg commented on #173
MutationObserver would probably work.  We need to listen for changes to the iframe document, which we can grab with something like
[code]

[2016-10-17 18:54] jessegreenberg commented on #173
This is *highly* inefficient, but for now, we can observe changes to the parallel DOM, and add an observer that makes a new copy of the PDOM, removes the old copy, and appends a new child to the document on every change.

[2016-10-17 19:00] jessegreenberg commented on #173
The document extends below the cut off below:
![capture](https://cloud.githubusercontent.com/assets/6396244/19451118/4cf3cb5e-9469-11e6-83df-36025a6ec3e2.PNG)

Not perfect, but this should help quite a bit.  Looks like some inner styling isn't quite copied correctly. Closing for now.  Additional modifications can be discussed in new issues.

[2016-10-17 19:00] #173 closed

[2016-10-17 19:10] jessegreenberg commented on #171
So maybe the html (some attributes missing!) would look something like:
[code]

So that the description is still associated with the draggable element, and the user will get an up to date description of the balloon once it is grabbed?

[2016-10-17 20:31] terracoda commented on #171
@jessegreenberg, this looks good to me. I like that the button will be associated under the balloon heading, really making structurally part of the balloon which it is, in my mind.

[2016-10-17 21:32] jessegreenberg commented on #171
Thanks @terracoda, this should be done in the commit above. Closing.

[2016-10-17 21:32] #171 closed

[2016-10-18 19:10] jessegreenberg opened #174 "New dev version for Assets conference"
Requested for the Assets conference, must be done before 10/20/16.  The new dev version will ideally be on the PhET website under the accessibility content.

Also requested a list of platforms that we know will work best.

[2016-10-18 19:11] jessegreenberg commented on #166
Cleanup completed in the above commits.  Closing.

[2016-10-18 19:11] #166 closed

[2016-10-18 19:11] jessegreenberg commented on #169
We can close this issue, placeholder sonification has been added.  For more substantial work, a new issue should be opened.

[2016-10-18 19:11] #169 closed

[2016-10-18 19:15] jessegreenberg commented on #155
Tested with on Windows with NVDA + Firefox and IE. Seems to work nicely, closing.

[2016-10-18 19:15] #155 closed

[2016-10-18 19:30] jessegreenberg commented on #118
I don't see this as important any more, we are using interactive alerts to explicitly describe what controls are doing to simulation state.

[2016-10-18 19:30] #118 closed

[2016-10-19 02:07] jessegreenberg commented on #154
Large commit above implements the descriptions for ~80% of the dragging alerts in the walk througs.  Next steps will be to finish https://docs.google.com/spreadsheets/d/1b6zfzdbRwYDoHA5ecGEp8atx4moFJOf7aYXNGDFF1bE/edit#gid=0
then send the descriptions to the aria-live elements via AriaHerald so that they are announced by AT.

[2016-10-19 21:09] jessegreenberg opened #175 "NVDA reads abswitch label incorrectly"
NVDA read the ABSWitch label as 'clickable two-balloon experiment button'.  This is in addition to the button label, so there is an incorrect repetition.

[2016-10-19 21:13] jessegreenberg commented on #175
Here is the rendered html:
[code]

HTML looks good, so i guess this is how a regular ```label``` behaves?  In that case, it doesn't make sense in this context becuase the 'label' is not meant to be clickable in the traditional way and it creates repetition.  In this case, I think we should use aria-label instead.

[2016-10-19 21:36] jessegreenberg commented on #175
Fixed in the commit above.  Closing.

[2016-10-19 21:36] #175 closed

[2016-10-20 17:34] jessegreenberg commented on #174
The following features are required before a deploy can be done
- Balloon hotkeys (reimplemented using the new general event system)
- Ensure that the keyboard help dialog can be used in an accessible way with the above hotkeys
- Test to verify working platforms

- I estimate that this will be complete by 4pm today (10/20/16)

[2016-10-21 00:54] jessegreenberg opened #176 "JAWS reads blank content"
If JAWS encounters an element with no content it reads 'blank'.  This content should be removed from the DOM.

[2016-10-21 01:09] terracoda commented on #154
@jessegreenberg, this looks like an amazing amount of work! Thank you!

[2016-10-21 01:10] jessegreenberg commented on #176
Closing.

[2016-10-21 01:10] #176 closed

[2016-10-21 02:01] jessegreenberg opened #177 "VoiceOver does not recognize ABSwitch"
I believe VO requires this element (and maybe some other widgets) to have non zero width to be recognized.

[2016-10-21 02:02] jessegreenberg commented on #177
Yes, that fixed it.

[2016-10-21 02:02] #177 closed

[2016-10-21 02:05] jessegreenberg opened #178 "Performance terrible with VoiceOver + Safari"
VoiceOver seems to hang in VoiceOver when using Safari.  VoiceOver performs very well when used on the same machine with Chrome.

The sim itself has a high level of performance, (focus highlight is very responsive, balloon animations excellent), it is just the reading from VoiceOver which is slow.  It will read nothing, and then catch up by reading everything in rapid succession.

We might be sett

[2016-10-21 02:06] jessegreenberg commented on #178
I should note, testing on a MacBook Air.

[2016-10-21 02:15] jessegreenberg commented on #178
Hmm, but the aria-live alerts seem to be announced rapidly. There is a substantial delay on reading content with arrow keys and when tabbing to a new input element.

[2016-10-21 02:22] jessegreenberg commented on #178
Now performance is great.  Not sure what why.

[2016-10-21 02:25] jessegreenberg commented on #178
After playing with the sim for a while, performance seems great.  Maybe some background task? Closing.

[2016-10-21 02:33] jessegreenberg opened #179 "Temporary charge description in scene summary"
At the moment, the scene summary charge description is blank.  Design has yet to be reviewed, but something will be needed.  A simple placeholder should be fine for now.

[2016-10-21 02:55] jessegreenberg commented on #179
Done.

[2016-10-21 02:55] #179 closed

[2016-10-21 03:11] jessegreenberg opened #180 "Balloon removed alert spoken over reset all alert in NVDA"

[2016-10-21 03:13] jessegreenberg commented on #180
The alert role is responsible for this.  Using a vanilla ```aria-live``` element fixes the issue.

[2016-10-21 03:13] #180 closed

[2016-10-21 03:15] jessegreenberg commented on #178
Reopening.  Performance is quite bad again, and it is not improving with time.

[2016-10-21 04:02] jessegreenberg commented on #154
My pleasure @terracoda, sorry the deploy is a bit later than expected.  Latest version sent in email, which described my experiences running in various platforms.  Specific issues should be enumerated in new github tickets.

I think this issue can now be closed.  We decided to not continue with perspectives tabs, and to base design off of PDOM hierarchy, interaction alerts, play area grid, example

[2016-10-21 04:02] #154 closed

[2016-10-21 04:04] jessegreenberg commented on #139
Closing, we have had an entirely new implementation since this was opened and this no longer has relevance.

[2016-10-21 04:04] #139 closed

[2016-10-21 11:23] jobara commented on #178
@jessegreenberg let me know if you'd like me to try this out on my machine and the details of what you were running to get the performance issues. My machine is going to be a bit faster than a MacBook Air though and it's running macOS Sierra.

[2016-10-21 17:15] jessegreenberg opened #181 "JAWS reads 'blank' at the end of some content"

[2016-10-21 19:40] jessegreenberg opened #182 "JAWS does not recognize the toggle switch"
It seems that JAWS does not support aria-label (at least for checkboxes with role=switch).  Here is the html:

[code]

JAWS does not recognize this.   All other AT recognizes as a switch or at least a check box.

[2016-10-21 19:51] jessegreenberg opened #183 "VoiceOver has 5 second delay before reading aria-describedby content"
VoiceOver has a 5 second delay before reading aria-describedby content.  Is this an issue for application style content?

For example, when the  balloon is picked up, VoiceOver will:
- Read the Balloon Label
- Wait 5 seconds
- Read a preamble stating that the user is in HTML content
- Read the description about the balloon

Will VoiceOver users wait to hear the description, or quickly tab to the n

[2016-10-21 19:54] jessegreenberg commented on #178
Potentially useful information: VoiceOver says "Firefox Busy" very frequently when the sim is running in Firefox.

[2016-10-21 21:10] jessegreenberg opened #184 "PDOM is in document twice for downloaded version"
The parallel DOM is in the document twice for the downloaded version of the simulation.

Only the second one has the added listeners for linking to the simulation.
![doubledom](https://cloud.githubusercontent.com/assets/6396244/19611785/81a98926-97a0-11e6-8dc4-4cb98ac95339.PNG)

[2016-10-21 21:17] jessegreenberg commented on #184
Not just the PDOM, the sceneryTextSizeContainer element is also duplicated:
![sccenery](https://cloud.githubusercontent.com/assets/6396244/19611999/7c9622a4-97a1-11e6-91ec-8090a095354e.PNG)

[2016-10-21 23:08] jessegreenberg opened #185 "Wall is described when invisible"
In an email, @terracoda said

[2016-10-21 23:09] jessegreenberg opened #186 "If balloon is already on sweater, velocity should't be described"
@terracoda said

[2016-10-21 23:34] terracoda commented on #186
Thanks @jessegreenberg for opening this issue.

[2016-10-21 23:39] jessegreenberg commented on #185
I think this is fixed in the above commits @terracoda.  Will provide a new version shortly, if you notice any more references to the wall that shouldn't be there when the wall is invisible please let me know.

[2016-10-21 23:39] #185 closed

[2016-10-21 23:46] jessegreenberg commented on #186
@terracoda I believe the above commit fixes this issue.  Closing.

[2016-10-21 23:46] #186 closed

[2016-10-22 13:16] terracoda commented on #185
Will do, @jessegreenberg.

[2016-10-24 13:08] jobara commented on #183
@jessegreenberg good question, I think it might require some testing with a VoiceOver user. My initial feeling is that we should avoid work arounds and hacks as much as possible. I wonder if this is the intended behaviour from Apple so that a user could wait and listen to the detail if the want/need to and to skim past it in other circumstances. Sort of like a tooltip. It would also be good to con

[2016-10-24 13:09] jobara commented on #181
@jessegreenberg is there empty whitespace at the end of the text?

[2016-10-24 13:38] terracoda commented on #183
@jessegreenberg, @jobara,  @emily-phet,  @jhung I was playing with VO setting yesterday and see that there is a setting for a delay. Mine, by default was set for a long delay. It is not clear to me if this delay is just for VO "tool-tip" type stuff, or other content. There are settings for reading the DOM and verbosity as well. It would be good to ask VO users about their settings in our next inte

[2016-10-24 13:39] terracoda commented on #183
@jessegreenberg, @jobara, @emily-phet, @jhung I have noticed that the DOM setting makes it easier for me to read/navigate with the VO cursor keys.

[2016-10-24 13:43] terracoda commented on #183
@jessegreenberg, @jobara, @emily-phet, @jhung

I think this delay setting is just for VO hints.

[2016-10-24 15:38] jessegreenberg commented on #181
@jobara, yes that is a great point.  I will also see if there are any blank paragraphs in the DOM like ```<p></p>``` that are waiting for content to be populated.

[2016-10-24 15:56] jessegreenberg commented on #183
Good point, I think that is likely the case.  Since the label is read immediately, maybe this is enough for VO users to understand that they have picked up the balloon.

The commit above shows another case outside of a sim.  In this case as well, the delay is 5 seconds before reading the preamble and the aria-describedby content.

@terracoda did adjusting the delay change the delay time of reading

[2016-10-24 16:00] jessegreenberg commented on #183
I don't really see using aria-live instead of aria-describedby as a hack.  This sim already uses aria-live to present information to the user during interaction with the balloon.

[2016-10-24 16:40] jobara commented on #183
@jessegreenberg sorry, i didn't mean to imply that aria-live was a hack. I was really being more general in that comment. It's just to say that often adhering closer to spec and best practices will provide something more robust.

[2016-10-24 17:13] jessegreenberg commented on #183
@jobara, I see, thanks.  Yes, I definitely agree with that!  Adhering to standards would be best.

[2016-10-24 21:18] terracoda commented on #183
@jessegreenberg, changing the delay settings didn't do anything for sim content, only VO content.

[2016-10-24 21:21] terracoda commented on #183
@jessegreenberg I just sat with a VO user here at Assets and we think the live region content is not reading out because of lack of bandwidth. I will try a downloaded version to see if I can get that working. @jessegreenberg, do you mind posting the parameter for me again? I think it is

[2016-10-24 21:36] jessegreenberg commented on #183
@terracoda once the simulation is downloaded, accessibility features do not require internet access.  All accessibility strings are self contained in the application, so it can't be a bandwidth issue.

Unfortunately, the downloaded version of the sim currently suffers from https://github.com/phetsims/balloons-and-static-electricity/issues/184.  The parallel DOM is in the downloaded version twice.

[2016-10-24 21:43] terracoda commented on #183
@jessegreenberg, thanks for that comment. Yes, the visual focus shows up on the second go around, but I still do not get any interactive alerts in the local version which seems strange.

[2016-10-24 22:05] terracoda commented on #183
@jessegreenberg, another complication is that the grabbed state is easily lost visually by using the cursor keys to read the PDOM, but the balloon doesn't release when the user does that, and then it is difficult to grab it again because it is already grabbed.

[2016-10-24 22:07] terracoda commented on #183
@jessegreenberg, I think you are right. The issue might be more complicated than just bandwidth.

[2016-10-24 22:44] jessegreenberg commented on #183
This is a new issue, I will create a new ticket and investigate there.

[2016-10-24 22:56] jessegreenberg opened #187 "Draggable balloon not released on focus change from Virtual Cursor"
In #183, @terracoda said

@terracoda sorry!  I am happy to see that the cursor keys work well with VoiceOver when focus is on an application element!  The balloon will be released when the draggable balloon is no longer the active element.

This needs to be fixed immediately.

[2016-10-24 23:42] jessegreenberg commented on #187
Unfortunately, VoiceOver does not fire ```blur``` when focus changes with the Virtual Cursor.

[2016-10-24 23:45] jessegreenberg commented on #187
Bah...I was testing in a build...

[2016-10-24 23:48] jessegreenberg commented on #187
Releasing the balloon works, but need to verify that adding this doesn't break other features.

[2016-10-25 00:16] jessegreenberg commented on #187
The fix seems to break NVDA + Firefox.

[2016-10-25 00:19] jessegreenberg commented on #187
I wonder if NVDA blurs the balloon for a second when a key is pressed?

[2016-10-25 00:22] jessegreenberg commented on #187
As a temporary work around, we can try to release the balloon if it is picked up and the Remove Wall button has focus.

[2016-10-25 00:36] jessegreenberg commented on #187
@terracoda temporary workaround is to focus release balloon when the remove wall button is focused.  In general, we do not know where the VirtualCursor is so we cannot release the balloon when the user reads the Wall description (for instance).  It would be good to discuss the example where this was confusing for the user.

[2016-10-25 00:37] jessegreenberg commented on #187
Removing top priority since it will require discussion before fixing.

[2016-10-25 01:09] terracoda commented on #187
@jessegreenberg, I think the main issue is that with no interactive alerts firing the user has no feedback from interaction, so they go the PDOM to read what is going on. When they do that, the actual visual focus disappeared, so visually I could not see where their keyboard focus was. I also could not see if the balloon was grabbed or released. The description for the balloon read out  as if it w

[2016-10-25 01:28] terracoda commented on #187
@jessegreenberg, FYI, 3 interaction alerts just read out when i was not expecting them! This makes me think there is some serious delay issues happening. This happened while using the web version. I will try a new downloaded version to see if that works better.

[2016-10-25 01:36] jessegreenberg commented on #187
@terracoda that is probably related to #178, what browser are you using?

[2016-10-25 01:48] terracoda commented on #187
@jessegreenberg, the new downloaded version does not read out any interaction alerts, not even the simple ones for Add/Remove Wall, Two-balloon experiment, or the reset buttons. These all worked when I first tried the sim on Friday. Some alerts were a little intermittent, not always working.

Also noticed that keyboard focus state does change (though visual focus disappears) when I arrow to new in

[2016-10-25 01:50] terracoda commented on #187
@jessegreenberg, I am only using Chrome and VO right now as according to your testing that was the best combo - avoiding Safari right now :-)

[2016-10-25 01:51] terracoda commented on #187
@jessegreenberg my original use on Friday was also with Chrome and VO.

[2016-10-25 01:54] terracoda commented on #187
@jessegreenberg, just noticed that with the downloaded version I can get stick on the balloon, i.e. I can't tab away from it. This does not happen on the web version.

[2016-10-25 15:22] jobara commented on #164
@jessegreenberg i tried this on an iPad using a USB Keyboard (non-apple) connected via the camera connection kit. It exhibited the same behaviour. I think this is not specific to Apple Bluetooth keyboards but to how iOS works with physical keyboards in general. Or maybe it has something to do with how they've implemented keyboard support because of their onscreen keyboard. Not sure.

[2016-10-25 18:31] terracoda commented on #185
Yes, they are fixed.
I'll try to do more testing later.
Taliesin

On Fri, Oct 21, 2016 at 7:39 PM, Jesse Greenberg <notifications@github.com>
wrote:

[2016-10-26 21:14] jessegreenberg commented on #187
I see, so maybe we should wait to work on this until we see it is an issue on a system where all features are working correctly.

[2016-10-26 21:16] jessegreenberg commented on #187
@terracoda I cannot reproduce this issue on any of my devices.  If this happens again can you please open a new github issue with details?

[2016-10-27 17:34] jessegreenberg opened #188 "Prepare accessible BASE for student testing"
We would like john-travoltage to be ready for student interviews the week of november 2. This issue will track preparation.

Initial checklist (subject to change)
- [x] A thorough internal review of the latest and greatest BASE and JT
- [x] Prioritize issues that must be completed before interviews
- [x] Work through any additional change requests
- [x] Another good (technical) discussion around h

[2016-10-27 18:11] terracoda commented on #187
@jessegreenberg, yes, if this happens again I will open an issue. Once the downloaded version is back up to speed, we can test for this.

[2016-10-28 15:53] jessegreenberg opened #189 "Modify accessibility test html"
There were a couple requests for the accessibility test:

- Style the content so that the iframe is on the left and the PDOM copy is on the right
- Place the PDOM in a scroll box
- Add aria-live alert content to the PDOM copy

[2016-10-28 16:20] jessegreenberg commented on #189
We also want to move the PDOM copy out of the navigation order

[2016-10-28 20:09] jessegreenberg commented on #189
Done in the above commits, see http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.7/acccessibility-test.html

[2016-10-28 20:09] #189 closed

[2016-10-28 21:32] terracoda commented on #188
@jessegreenberg, this is issue for both JT and BASE, right?
I'd like to add descriptions edits to the list. Is this the appropriate place for that?

[2016-10-29 00:12] jessegreenberg commented on #188
@terracoda, yes, there is an issue open in the john-travoltage repository as well (https://github.com/phetsims/john-travoltage/issues/122).

For the new descriptions, could you please create a new github issue describing the changes and assign it to me?  You can reference this issue in the new one if you wish by pasting the link to this issue in the description of the new one.

[2016-10-31 16:17] jessegreenberg opened #190 "Changes to accessibility test"
The following changes were requested for the accessibility visualization

- [ ] Exchange labels for alerts with @terracoda's classification for alerts
- [x] Remove polite updates when alert content changes and there is no polite alert
- [x] Ensure consistency on multiple platforms
- [x] PDOM should remain to right of sim ifram, even on overflow

[2016-10-31 16:25] jessegreenberg commented on #190
Windows 10 + IE 11 is missing entire PDOM, though it has the alert content.

[2016-10-31 16:33] jessegreenberg commented on #190
It looks like Safari and IE don't support style = '', will need to use removeAttribute nstead.

[2016-10-31 16:57] jessegreenberg commented on #190
Tested on Windows 10 + Chrome, Firefox, IE, and OS Yosemite with Chrome, Safari, Firefox.

MacBook Air with Yosemite is missing entries in the parallel DOM.

[2016-10-31 17:20] jessegreenberg commented on #190
Those elements are empty in the Parellel DOM as well, so it isn't an issue with the copy or mutation observers.  Our example caught a but :)

[2016-10-31 17:34] jessegreenberg commented on #190
The elements are floating in memory, not yet added to the parallel DOM, so updating their text content isn't working.  Need to modify updateDescriptionItem so that it is modifying the elements without using ```document.getElementById```

[2016-10-31 17:53] jessegreenberg commented on #190
There were also erroneous uses of inner text.  The above commit fixes this.

[2016-10-31 18:26] jessegreenberg commented on #190
This should be discussed on 11/1/16 accessibility meeting.

Here is the latest version:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.7/acccessibility-test.html

[2016-11-01 15:25] jessegreenberg opened #191 "a11y user review: JAWS repetition and suggested key commands"
We received this review of BASE from an informal test:

[2016-11-01 15:37] jessegreenberg commented on #191
Version reviewed was http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.6/balloons-and-static-electricity_en.html.

I have not observed any repetition in the latest version (http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.7/balloons-and-static-electricity_en.html) hopefully latest implementations do not have this be

[2016-11-01 15:45] jessegreenberg commented on #187
@terracoda when the alerts are working correctly, is this still an issue?

[2016-11-01 15:51] jessegreenberg commented on #182
From the Paciello group (https://www.paciellogroup.com/blog/2015/10/notes-on-use-of-multiple-aria-role-attribute-values/)

[2016-11-01 15:56] jessegreenberg commented on #182
Ah...further down in the article:

@terracoda how would you like to proceed?  The article and our tests show that the switch is not supported in JAWS.  Should we revert to a check box or a button with the aria-pressed attribute?

[2016-11-01 16:00] jessegreenberg commented on #178
@terracoda reported that performance was great in Safari on a machine that was located at the Assets conference.  @jobara reported that performance was fine on his machine (MacOS Sierra).  @jhung also tested on his machine and verified that performance was in good shape ([I think] also MacOS Sierra).

[2016-11-01 16:01] jessegreenberg commented on #128
This issue is caused by #164, and the status will be tracked there.  Closing.

[2016-11-01 16:01] #128 closed

[2016-11-01 16:10] jessegreenberg commented on #134
Closing this issue.  We have made progress on this prototype.  We also have other prototypes that could be useful in solving the issue described in the original ticket and in https://github.com/phetsims/balloons-and-static-electricity/issues/134#issuecomment-199416485.

For instance, see
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.6/balloons-and-stati

[2016-11-01 16:10] #134 closed

[2016-11-01 21:45] jessegreenberg commented on #190
We discussed this in today's meeting, but didn't talk about the specific labels.  @terracoda can you please review http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.7/acccessibility-test.html and let me know if you think the labels on the aria-live elements should change?

[2016-11-02 00:21] terracoda commented on #190
@jessegreenberg, by "label on the aria live elements" do you mean a technical label or a content label?
When I mentioned that the aria-live descriptions for the balloons had no labels, I meant that the words "Yellow balloon" and Green balloon are not announced when they are grabbed. I think they need to be. I can provide some examples in the morning.
The reason I wanted to clarify about the term "

[2016-11-02 00:34] jessegreenberg commented on #190
Sorry I was unclear, I meant these labels in the demonstration, which are not specific to BASE: ```"<assertive update>"```  ```"<polite update>"``` ```"<assertive alert update>"``` and ```"<polite status update>"```.  I think @emily-phet thought these could be replaced by your three labeling techniques.

Do you think that ```"<assertive update>"```  ```"<polite update>"``` ```"<assertive alert upd

[2016-11-02 00:40] jessegreenberg opened #192 "Add aria-labellebdy attribute to the draggable balloon"
In #190 , @terracoda said

I will add an aria-labelledby attribute to the balloon headings so that they are read when the balloon is picked up.  We are not using an aria-labelledby attribute for the live regions since these are more generally used for all alerts in any sim, and are not specific to the balloon.

[2016-11-02 13:48] terracoda commented on #191
@jessegreenberg, I haven't experienced repetition either with the latest version, but I was only successful with ChromeVox and Mac OS Sierra. However, another person was successful with VO and Safari and that user also did not experience any repetition. In much earlier prototypes we had a lot of repetition. That heavy repetition seems not to be present, but I have not tested with JAWS or NVDA.

__

[2016-11-02 14:14] terracoda commented on #181
@jessegreenberg, @jobara, there is an interesting discussion on the WebAIM email list about "blank" being read out at the end of a lines. It seems more common in JAWS than NVDA and it seems like a user can adjust this setting, and perhaps we have to be particularly careful in "Application" mode when "normal screen behavior may not be in use."

[WebAIM Email Archive](http://webaim.org/discussion/ma

[2016-11-02 14:46] terracoda commented on #183
@jessegreenberg, @jobara I miss understood this issue at first. I didn't realize the delay was specifically for aria-describedby, I thought is was for aria-live blocks. It is possible because aria-describedby is technically for important tooltip-like information that VO delays the reading of it because it is technically a tooltip.
@jessegreenberg, I am assume that there is no aria-describedby on t

[2016-11-02 14:51] terracoda commented on #183
@jessegreenberg, I meant "discuss and try."

With an aria-live interaction alert, would it be easier to take out the WASD directions, once the user learns them? At the beginning, it seems to take them a couple of read of the WASD instructions, but then once they actually do it, it seems quite easy.

[2016-11-02 15:10] jessegreenberg commented on #191
Alright, thanks @terracoda.  In that case I think we can close this issue.  Design work for the visual button is being tracked in another issue.  I tested on JAWS and NVDA and saw no repetition.  It think this was caused by the way we were registering aria-live elements in the previous dev version.

This is very helpful to know, thanks.

[2016-11-02 15:10] #191 closed

[2016-11-02 15:22] terracoda opened #193 "Adjustments to BASE's latest descriptions"
In preparation for next interviews (see also issue #188 )
This is issue so for edits or adjustments to descriptions in _Balloons and Static Electricity_, based on content in latest version (version 1.2.0-reader.7).

- [x] Ensure all mentions of charges are explicit, i.e. no use of "positive ones" or "negative ones".
- [x] Ensure there is a sentence or indication in initial Scene Summary (and reset

[2016-11-02 15:26] terracoda commented on #188
@jessegreenberg, I created issue #193

[2016-11-02 15:37] jessegreenberg commented on #183
Yes, that is correct.

@terracoda lets discuss using aria-live at our meeting today.  Hearing 'Yellow Balloon' when the user presses the 'Grab Balloon' button will be fixed by #192.  If you would like to hear 'grabbed', it might make more sense to use aria-live since this acts more as a status alert.  Otherwise I agree with https://github.com/phetsims/balloons-and-static-electricity/issues/183#iss

[2016-11-02 15:41] jessegreenberg commented on #183
@jobara and @jessegreenberg also tested this out on MacOS Sierra and OSX Yosemite.  The delay is caused by the tooltip speed as mentioned by @terracoda in https://github.com/phetsims/balloons-and-static-electricity/issues/183#issuecomment-257886463.  By placing the setting on 'short' the delay is removed and the preamble + description is read immediately.

On Yosemite, the delay is set to the shor

[2016-11-02 15:42] jessegreenberg commented on #188
Thanks @terracoda!

[2016-11-02 15:44] jessegreenberg commented on #193
What should they be?  Ones -> charges? For instance, in the first cognitive walkthrough example

*In center of play area.
*Has net neutral charge, no more negative charges than positive ones.
*Press W, A, S, or D key to drag balloon.
*Spacebar, to let go.
*H key for hot keys and help. "

Should positive ones be changed to positive charges?

[2016-11-02 15:52] terracoda commented on #193
@jessegreenberg, yes, final descriptions are in PDOM tab. I haven't had a chance to update all the walkthroughs, sorry :-)  After discussing with Emily, we decided to not use "ones" at all, just always use "charges".

[2016-11-02 15:55] jessegreenberg commented on #193
Could you provide an example of whta this content should be?  In row 9 of the scene summary descriptions outlined in  https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit?ts=568067c0#gid=0, it seems that location of sweater and wall are only meant to be described when a balloon is touching or near one of them.

[2016-11-02 15:56] terracoda commented on #183
@jessegreenberg and @jobara, I just tested on VO on Mavericks and I get the delay, and it is clear it is beacsue VO thinks the entire description is a tooltip. I'd like to clarify that only the custom keyboard information is the actual tooltip. The rest is o isf the information a description of the balloon.

So, maybe it is possible to separate directions about the custom keys, so it is identifiab

[2016-11-02 15:57] jessegreenberg commented on #193
Ahh, I see on row 6, page load is supposed to have a list item:

* Yellow balloon, in center of play area, evenly between sweater and wall. Sweater is at far left, wall at far right.

[2016-11-02 16:11] terracoda commented on #182
@jessegreenberg, hmm, this is drag! The switch seems to be working quite nicely with other screen readers. If it is not read out at all by JAWS users, than it is a serious problem, and it would be wise to revert. @jessegreenberg, would it be possible to set up a test page that has all three options. I don't remember which one sounds best.
Need to check notes because changing the control means also

[2016-11-02 16:18] jessegreenberg commented on #183
The default behavior for aria-describedby on all platforms (including VoiceOver with Sierra) is to read the description immediately once the element receives focus.  I understand how the balloon description is not really 'tooltip' content, but if we remove aria-describedby from the description then we will only hear the keyboard help information when the balloon gets focus.

[2016-11-02 16:18] terracoda commented on #193
You got it @jessegreenberg, that is the missing content :-)

[2016-11-02 16:23] jessegreenberg commented on #182
@terracoda we could set up a test page, but I think the fastest way to do this would be to create test examples in a regular HTML page and decide what sounds best there before placing in the sim.  I can do this if you want.  The three options are checkbox, button with aria-pressed, and what else?

[2016-11-02 16:23] jessegreenberg commented on #193
Thanks, sorry!

[2016-11-02 16:24] jessegreenberg commented on #192
This is a little bit dependent on the discussion we have concerning #183.

[2016-11-02 16:26] terracoda commented on #193
@jessegreenberg, there also might be a blank list item in the list. VO reads out an empty item.

[2016-11-02 16:27] terracoda commented on #193
@jessegreenberg, and no need to be sorry :-)

[2016-11-02 16:27] jessegreenberg commented on #193
Marking as high priority, I think this should be done for #188.

[2016-11-02 16:28] jessegreenberg commented on #192
Marking as high priority, I think this should be done for #188.

[2016-11-02 16:29] jessegreenberg commented on #183
Marking as high priority, this should be discussed before #188.

[2016-11-02 16:29] jessegreenberg commented on #182
Marking as high priority, this should be done before #188.

[2016-11-02 17:47] jessegreenberg commented on #187
11/2/16 meeting - @terracoda will reproduce this issue on a platform where aria-live alerts are working correctly.  If the issue can be reproduced, please add a comment with steps on how to reproduce the bug and information about what platform was used.

[2016-11-02 17:47] jessegreenberg commented on #187
@terracoda also please reassign me after you have investigated :)

[2016-11-02 17:52] jessegreenberg commented on #183
11/2/16 meeting - We decided that this should not be an issue for the next student interview.  We discussed that the crux of this issue is that aria-describedby is in general placed in a category of tooltip information, which is is not appropriate for complex interactive content.

I am leaving this issue open.  @terracoda found that classifying description content in 'tooltip' information is confu

[2016-11-02 17:53] jessegreenberg commented on #182
Interviews will not be using JAWS, so this is no longer a high priority issue.

[2016-11-02 17:55] jessegreenberg commented on #136
aira-live alerts are now fired on keyup in this sim.  This helps with this issue because the user is encouraged to listen for information after completion of an interaction.  This has been very helpful for alerts during keyboard interaction.  But since the alerts are not linked directly to changing properties, we currently do not hear anything when interacting with a mouse. A new issue should be c

[2016-11-02 17:55] #136 closed

[2016-11-02 20:57] terracoda commented on #193
@jessegreenberg, I am just going to put my notes here of a test here for now to see how that works:
Mac OS Sierra, VO and Safari 10.0.1
__Loading the sim and auto read through__
- VO shows the number of headings, form controls, and live regions, in the VO captions box, but doesn't voice it out- very strange, but likely not sim bug.
- As suggested by VO, I used the Control-Option-Shift and the down

[2016-11-02 21:19] terracoda commented on #193
__Summary of these Notes Above__
- Sim sounded pretty good. @jessegreenberg, I added the hyphen issue to the check list.
- I don't understand what VO means by "dimmed", but it seems to happen on a group of things. It might be interesting to investigate this (later).
- The grab focus is an issue, but maybe we can handle that by watching "Application" mode. Is there anyway to track that? Likely not

[2016-11-02 21:40] terracoda commented on #193
@jessegreenberg, now adding notes for my run through on my 2011 MackBook Pro, MacOS Yosemite (not Mavericks), VO and Safari.

[2016-11-02 22:02] jessegreenberg commented on #193
Great, thanks @terracoda.

I can't think of any way to watch modes, screen readers don't have an API for this kind of communication in a browser.

[2016-11-02 22:07] jessegreenberg commented on #193
It seems that 'dimmed' is VoiceOver's way of saying that something is disabled. http://maxdesign.com.au/jobs/sample-accessibility/05-forms/attribute-disabled.html.  Agreed that we should investigate this.

[2016-11-02 22:12] jessegreenberg commented on #187
In #193 @terracoda said

This does not happen in NVDA or JAWS (arrow keys do *nothing* on the application role), so I will have to investigate tomorrow when I have access to an OS device.

Also, removing high priority label since this is an OSX/MacOS issue and next interviews will be conducted with NVDA.

[2016-11-02 22:51] terracoda commented on #193
@jessegreenberg
Notes for my run through on 2011 MackBook Pro, MacOS Yosemite, VO and Safari.

__Page Load and Auto Read__
- [ ] VO started reading PDOM content without the CO-Arrow keys. It read all the Scene Summary content and everything until it got to the balloon. It got stuck there and kept repeating "Balloons and Static Electricity" several times until I hit Escape key. On page reload, VO d

[2016-11-02 23:05] jessegreenberg commented on #192
aria-labelledby has been added.

[2016-11-02 23:05] #192 closed

[2016-11-02 23:16] jessegreenberg commented on #193
For

We are going to explicitly add 'Grabbed' to the description, so I am removing the aria-grabbed attribute.  It has poor support and is to be deprecated from the ARIA specification anyway.

[2016-11-02 23:25] terracoda commented on #193
@jessegreenberg, I think this is a good idea 👍

[2016-11-02 23:27] jessegreenberg commented on #193
Ok, good, thanks!

[2016-11-02 23:35] jessegreenberg commented on #193
@terracoda these are excellent reviews, thanks for doing this!  I think it would be great to go through this list and create new issues for the problems that you think are worth investigating.  The original checklist is complete, so I am going to remove the high priority label and assign to you.  If any other descriptions need to be changed, please let me know and reassign back to me.

[2016-11-03 14:05] terracoda commented on #193
Awesome work @jessegreenberg!
Yes, still want to review them a little, but the high priority stuff is done.

[2016-11-04 16:56] jessegreenberg opened #194 "Merge accessible-instance with master"
Until now, accessibility content has been in branch accessible-instance.  It has been in a branch because there has been a significant amount of code churn, there have been simplifications to the user interface, and it was unclear if the features would persist.

We are now more confident in the PDOM approach for accessibility, and it seems like features are much more stable, so now is a good time

[2016-11-04 18:05] terracoda commented on #182
@jessegreenberg, you are right. This is not a high priority. A test page will be useful for more scenarios as well. We can set this up after the interviews. The cases are:
1. Toggle Button
[ARIA Toggle button](http://files.paciellogroup.com/blogmisc/ARIA/togglebutton.html)
[Toggle Buttons on MDN](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role)

[2016-11-04 18:23] terracoda commented on #187
@jessegreenberg, good to know this is an issue on MacOS. I think the issue exist also when using ChromeVox on MacOS. We can investigate further after next week's interviews.

[2016-11-04 18:47] jessegreenberg commented on #187
Good point!  If an isssue on ChromeVox, I would expect it to happen using ChromeVox on Windows as well, I can check.

[2016-11-04 18:56] jessegreenberg commented on #187
Hmm, doesn't seem to happen with ChromeVox + Windows.  The arrow keys do nothing.  I suspect that we would be able to use the arrow keys with role=application and ChromeVox.

[2016-11-04 19:03] jessegreenberg commented on #194
Merge complete and seems stable, fuzz and build tests pass.  The charge visibility controls can be hidden with query parameter ?hideChargeControls.  Closing!

[2016-11-04 19:03] #194 closed

[2016-11-04 21:53] jessegreenberg commented on #187
I was able to reproduce this on a MacBook Air with Yosemite.  The main problem is that once the virtual cursor leaves the balloon, it cannot find it again because the draggable balloon looks like this:
[code]

So when the focus hits the balloon again, it only finds the 'Grab Balloon' button, which is why dragging doesn't work.

To fix this issue, the div above will need some content for the virtua

[2016-11-04 22:14] jessegreenberg commented on #187
Here is the html representing the entire balloon widget:
[code]

I am wondering if this could be fixed by changing to the following:
[code]
This might work if we hide the button container div and unhide the application container div when the balloon is grabbed, do the opposite when the balloon is released.  We would probably remove the aria-labelledby attribute from the draggable balloon, and add

[2016-11-04 22:16] jessegreenberg commented on #187
Another benefit is that the 'Once grabbed, get...' cue will be hidden once the balloon is picked up.  This will need to be hidden if VoiceOver can use the virtual cursor while the balloon is picked up.

[2016-11-04 23:56] terracoda commented on #187
@jessegreenberg,  Yes, I think this solution makes better sense.

On a semi-related note, the first solution explains why I was hearing "Yellow Balloon" twice sometimes. Once as the h3 and once as the the label for the empty application div. I thought it was because I was leaving a region, but applications no longer have the default region role, so I was confused. In fact, it was because the label

[2016-11-05 00:39] jessegreenberg commented on #187
Ok, thanks @terracoda, I will give this a shot.  For enveloping the whole thing in the application role, we actually used to do this, but I decided against it after coming across this statement from the ARIA roles model docs:

Deleting the whole element and building it up again would be trickier, and placing the application role on the whole thing would prevent the user from being able to use the

[2016-11-05 00:54] terracoda commented on #187
@jessegreenberg thanks for explaining. Sorry, I forgot about the change. Many frameworks work with many divs. I do understand their non-semantic usefulness of wrapping things together.

[2016-11-05 01:11] terracoda commented on #193
@jessegreenberg, I want to do a similar review for ChromeVox on both systems I have as well. I am assuming it's ok to do these reviews right here in the issue. I like the idea of the issue because it time stamps it. Maybe next time, I'll create a separate issue for testing notes and label it as such.

[2016-11-05 02:35] terracoda commented on #193
@jessegreenberg
Notes for my run through on 2015 MackBook Air, MacOS Sierra, Chrome 54 with ChromeVox.

__Page Load and Auto Read__
- On first load, the content started reading automatically.
- On page reload, just the h1 was read out, then i need to use the CV-cursor keys to read line by line.

__Balloon Widget Interactions (focus)__
- On each CV-cursor down, I hear the content of each new elemen

[2016-11-07 16:01] terracoda opened #195 "Edits for Hot Keys and Help Content"
@jessegreenberg, I'm creating a separate issue for the Hot Keys and Help document. There is a known content issue which I think it might be mentioned in another issue. I will review it today and post it here.

- [x] Taliesin to review current version.
- [x] Taliesin to reassign to @jessegreenberg after review.

[2016-11-07 16:30] jessegreenberg commented on #195
Thanks @terracoda, please assign to me once you know what needs to be changed.

[2016-11-07 17:13] terracoda commented on #195
@jessegreenberg, I just shared the following google document with you.
The only current incorrect information is the last heading.
"Hotkeys for jumping" should be "Grab Balloon"

Iterations on the actual content should probably wait until after interviews; however, I think I'd like to put the jump keys first. I will re-assign issue after I discuss with @emily-phet.

[2016-11-07 17:43] jessegreenberg commented on #195
Thanks @terracoda, incorrect label should be fixed in commit above.  Please let me know if any other changes should be made.

[2016-11-07 17:43] jessegreenberg commented on #195
Also, removing the high priority label since that was fixed, but feel free to add it again if you think it is necessary.

[2016-11-07 18:44] jessegreenberg opened #196 "Remove PropertySet and replace with Property"
PropertySet is now deprecated.  PropertySet should be removed and all Properties should use Property.

[2016-11-07 18:54] terracoda commented on #195
@jessegreenberg, I'd like to go with the simple correction and also a re-order. Can you put the first section, "Keys for Dragging and Rubbing" at the bottom after the the "Grabbing Balloon" section.

No other changes for now.

[2016-11-07 18:57] terracoda commented on #195
@jessegreenberg, FYI, the draft in the google doc is not relevant for now.

[2016-11-07 22:14] jessegreenberg commented on #196
PropertySet has been removed.  Closing.

[2016-11-07 22:14] #196 closed

[2016-11-07 22:18] jessegreenberg commented on #195
@terracoda like this?

![example](https://cloud.githubusercontent.com/assets/6396244/20078352/6ff13a7a-a4fd-11e6-81c7-4c8c9e167f9d.PNG)

[2016-11-07 22:49] terracoda commented on #195
@jessegreenberg, order is good, but actually, if there is time, I'd prefer to update the content, too. I've updated the content in the google doc and highlighted the changes.

Sorry for the in decision on my part.

Please note the spaces in "Hot keys" and "Space bar" and the addition of of "key" after "Enter" and "Shift".

https://docs.google.com/document/d/1hb4y9r5X6RVgFD6OOQy8i3SlGYTCkskU8R2s7V3

[2016-11-07 23:24] jessegreenberg commented on #195
Sure, thanks for highlighting the changes, that made it really easy to see what needed to be changed.

How is this?
![example](https://cloud.githubusercontent.com/assets/6396244/20080364/97f7beb4-a506-11e6-8fa0-85ce362481ef.PNG)

[2016-11-07 23:27] terracoda commented on #195
@jessegreenberg, sorry mistake in 2nd to last line:
, or Shift key plus S to drag __down__ a lot.

[2016-11-07 23:34] jessegreenberg commented on #195
Sorry @terracoda, fixed in the commit above.  Are we ready to close this issue?

[2016-11-08 00:07] terracoda commented on #195
@jessegreenberg, I missed the highlighting on "Hot Keys for Jumping" heading. We need a space there, too.

[2016-11-08 00:09] terracoda commented on #195
And then you can close the issue, and thanks @jessegreenberg!

[2016-11-08 00:13] jessegreenberg commented on #195
Fixed above, good catch @terracoda!

[2016-11-08 00:13] #195 closed

[2016-11-08 00:17] jessegreenberg commented on #187
This is a pretty big change to the interaction, it would be great if it were included in the next interview.  It is also pretty intrusive, we will have to be sure to test it out.

[2016-11-08 00:53] jessegreenberg commented on #187
Right now, the implementation for setHidden in AccessibleNode simply sets the Node's domElement to hidden.  As illustrated in https://github.com/phetsims/balloons-and-static-electricity/issues/187#issuecomment-258560918, we will actually want to hide the parent container element so that the element, label, and descriptions (and any other html that might be under the element) are also hidden.

[2016-11-08 01:06] terracoda commented on #187
@jessegreenberg, we are doing this for next, after testing, right?

[2016-11-08 17:16] jessegreenberg commented on #187
Either way, It is sort of a structural change to the balloon widget, so I thought it would be nice to include in this round of testing.  But if you would rather wait, that is fine too.

[2016-11-08 17:20] jessegreenberg commented on #187
On focus of
[code]
NVDA does not read 'Yellow Balloon' on focus.  It only reads 'Application' and then the aria-describedby text.  So we will likely need a combination of aria-labelledby and inner text so that the virtual cursor has something to read AND the label is read immediately.

[2016-11-08 17:35] jessegreenberg opened #197 "Balloon cannot be released in Windows 8 + Firefox"
In Firefox Windows 8 (Testing machine Shrodinger) the balloon cannot be released once it is picked up.  The focus highlight flashes to pink, but it is immediately picked up again.

[2016-11-08 17:35] jessegreenberg commented on #197
It seems to be on the keyUp event that the balloon is picked up immediately.

[2016-11-08 17:36] terracoda commented on #187
@jessegreenberg, agree we will need to try with aria-labelledyby.

[2016-11-08 17:45] jessegreenberg commented on #197
Focus is moving to the button before the user releases the spacebar.

Commenting out this:
[code]
From the onKeyDown listener makes the problem go away.

Moving this code to the keyUp listener seems to fix the problem (testing in Firefox and Chrome in Windows 8 and 10).

[2016-11-08 17:45] #197 closed

[2016-11-08 18:17] jessegreenberg opened #198 "NVDA reads grab balloon label when tabbing away from picked up balloon"
Discovered on Schrodinger (Windows 8 + Firefox).  When the balloon is picked up and the user tabs away from the button, NVDA reads something like:

 - Balloon released, no change in ... (description)
 - Button Grab Yellow Balloon
 - Button Remove Wall

I am not sure why the grab button is read, it does not receive focus after tab.

This is probably not a huge issue since focus on the next element

[2016-11-08 18:23] jessegreenberg commented on #198
The console reveals that
[code]

Is not properly excluding hidden elements.  It tries to focus the hidden balloon.  Is this confusing the AT?

[2016-11-08 18:29] jessegreenberg commented on #198
hidden or aria-hidden can be on a parent element, so we also need to exclude descendants of a hidden element from a search.

[2016-11-08 18:35] pixelzoom opened #199 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15.

[2016-11-08 18:49] pixelzoom opened #200 "getQueryParameter in screen-reader.html"
Related to phetsims/query-string-machine#15.

I see yet-another implementation of `getQueryParameter` in screen-reader.html.

• Why isn't this able to use the implementation in initialize-globals.js?
• Does this need to be converted to QueryStringMachine?

Assigning to @samreid (creator) and @jessegreenberg (most recent commit).

[2016-11-08 20:38] jessegreenberg commented on #187
https://github.com/phetsims/balloons-and-static-electricity/issues/187#issuecomment-258560918 fixes most of the problem.  When the user navigates away from the balloon with the virtual cursor, the user no longer has to 'pick the balloon up again' to interact with it.

Next part of the problem is that the balloon isn't released if the user leaves the balloon by using the virtual cursor.  @terracoda

[2016-11-08 21:28] terracoda commented on #187
@jessegreenberg, yes, I think focus on the next control is the best way to handle this issue.

[2016-11-08 23:20] jessegreenberg commented on #199
Replaced in the commit above, closing.

[2016-11-08 23:20] #199 closed

[2016-11-09 20:19] jessegreenberg commented on #200
I took a look at this in https://github.com/phetsims/balloons-and-static-electricity/commit/2b145e2e16e1b92927e380ff4b757c71ba8ff1e3.  To answer the above:

We probably could have, but didn't think of it at the time.  I think we could have gotten chipper.getQueryParameter by calling on it from the iframe's ```contentWindow``` after the sim had loaded.

In the commit above, I switched to using Quer

[2016-11-09 20:19] #200 closed

[2016-11-09 20:38] jessegreenberg commented on #188
Closing, latest versions can be found at bit.ly/phetinterviews

[2016-11-09 20:39] #188 closed

[2016-11-10 16:31] jessegreenberg commented on #193
@terracoda can this issue be closed?  Would you like to keep these reviews documented somewhere or create new github issues for any problems you have found in the above testing?

[2016-11-10 16:31] jessegreenberg commented on #187
Sounds good @terracoda, I will work on that.

[2016-11-10 16:52] terracoda commented on #193
@jessegreenberg good point. I'll save the link to this issue in my todo document, so I get back to it easily.

And you can close it, as we completed what was necessary.

[2016-11-10 16:55] terracoda commented on #193
@jessegreenberg I saved the link and made a note that we can review the testing to examine if there are other issues we need to work on.

[2016-11-10 19:32] jessegreenberg commented on #193
Thanks @terracoda! I will close this issue.  If you would like to address any additional issues, feel free to create new issues and assign them to me.

[2016-11-10 19:32] #193 closed

[2016-11-11 04:30] samreid opened #201 "Code review"
@jbphet and I will likely start instrumenting this simulation on Tuesday.  One of the preparatory steps is to perform a code review and bring it up to standards.

*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x

[2016-11-13 05:26] samreid commented on #201
Warnings during build:

[code]

[2016-11-13 05:29] samreid commented on #201
Skipping this since already published.

[2016-11-13 05:30] samreid commented on #201
These files are missing:

      doc/
         model.md
         implementation-notes.md

[2016-11-13 05:51] samreid commented on #201
I noticed there are many new files and types related to accessibility.  This means it may not be an exemplar for starting with a simple simulation for instrumentation with @jbphet.  On the other hand, it would be nice to understand how accessibility and phet-io can coexist.

[2016-11-13 05:56] samreid opened #202 "Factor out pattern for creating bounds"
During #201 I saw this code:

[code]

It seemed somewhat fragile, because changing a width on one line requires synchronizing changing the x value on the next line.  I wonder if it should be written like so (with the appropriate definition of createBounds):

[code]

[2016-11-13 06:05] samreid opened #203 "The balloons should not be in an array"
During #201 I noticed that the balloons are in an array of 2 elements, and accessed like so:

[code]

The array was added in 51a8c3f02c40b83c27194c0b89b5808415be776e.

It would be better if the model had `model.yellowBalloon` and `model.greenBalloon`.

[2016-11-13 06:05] samreid commented on #203
Tagging @jessegreenberg in case this interferes with accessibility instrumentation.

[2016-11-13 06:12] samreid commented on #203
I added names in the above commit, with a get method for the array in the 6 or so places where we need to iterate over both balloons.  @jessegreenberg would you like to review?  I'm not sure how I should be testing the accessibility features (though I did try keyboard navigation and it didn't seem different after this change).

[2016-11-14 22:45] samreid opened #204 "Instrument for phet-io"
In order to support https://github.com/phetsims/a11y-research/issues/2 and to have another sim instrumented for phet-io.

 - [x] [Understand the goal](#understand-the-goal)
 - [ ] [Code review](#code-review)
 - [x] [Import Tandem to main.js](#import-tandem-to-main.js)
 - [x] [Create root tandem](#create-root-tandem)
 - [x] [Pass tandems to sim screens](#pass-tandems-to-sim-screens)
 - [x] [Pass ta

[2016-11-15 16:56] jessegreenberg opened #205 "Use arrow keys to drag balloon with keyboard"
Should we add the ability to drag the balloon with the arrow keys when the screen reader is not in use?  When the screen reader is turned off, we have full control of the entire keyboard.

@emily-phet and @jessegreenberg like this idea, but it would be good to check with the rest of the team.  In the past, we have discussed that it could create an inconsistent experience if a blind student is work

[2016-11-15 17:00] jessegreenberg commented on #205
One idea was to try to detect when a screen reader is in use and set the interaction keys accordingly.  After some searching, it looks like this detecting screen reader use is not possible.  AT do not provide a user agent string, they work on top of the browser.  But all web discussion I could find about this is ~4 years old, so it would be good to verify.

Another option would be to enable the ar

[2016-11-15 20:40] jessegreenberg commented on #205
@jobara and @jhung agreed that it was not possible.  For privacy reasons, it was decided in the community that the content creators should not be aware of a user's disability.

In 11/15/16 we decided that we will enable both arrow keys and WASD keys.  As part of this we will have to determine how screen readers handle this, and determine how this impacts the navigation cues in the sim.

[2016-11-15 22:10] jobara commented on #205
@jessegreenberg here's an interesting read on the subject https://www.marcozehe.de/2014/02/27/why-screen-reader-detection-on-the-web-is-a-bad-thing/

[2016-11-16 00:00] jessegreenberg opened #206 "Add visual cue for 'Grab Balloon' button"
In some informal testing and examples, we have seen that sighted users do not understand that the balloon has to be 'picked up' in order to drag with the keyboard.   In 11/15/16 accessibility meeting, we discussed possibilities of using a visual cue to indicate that the balloon needs to be picked up.  We mentioned examples of such cases like
 - Moving icons on desktop
 - Shaking icons on iPad when

[2016-11-16 00:09] jessegreenberg commented on #205
That is an excellent article @jobara, thanks very much!  That all makes a lot of sense.

[2016-11-16 00:21] terracoda commented on #206
@jessegreenberg, really? How many sighted users are having trouble grabbing the balloon?

I wonder if this might be part of a life experience mismatch. For example, my partner, who grew up in India asked about what to do with the balloon when he first looked at the sim. He didn't wear sweaters very much as a kid. They way he and his friends learned about static electricity was by playing with a co

[2016-11-16 00:29] terracoda commented on #206
@jessegreenberg, it might make it more clear to a user that the balloon needs to be grabbed if temporary arrows show up on hover, like they do in the Concentration sim or the Bending Light sim. I think the behaviour in Concentration might be better suited to BASE. @emily-phet and others were just discussing this for the visual keyboard cueings, as well.

[2016-11-16 13:32] jobara commented on #206
@terracoda if I understood things correctly at the meeting yesterday, the issue isn't so much that they don't understand that they need to interact with the balloon, but that they didn't realize there was a distinct action required to "grab" the balloon before it could be moved. Hope that helps.

[2016-11-16 15:14] terracoda commented on #206
@jessegreenberg and @jobara, sorry, I was confused about the initial comment. My understanding was that it was a visual mouse/touch user that was having trouble.

However, if we are discussing a visual keyboard user or switch device user then this is not a new consideration. There is currently no visual indicator to tell the user that the Balloon is a button (NOW a button, it wasn't before) and th

[2016-11-16 15:51] terracoda commented on #205
@jessegreenberg, @jobara, @jhung, @emily-phet, I agree that it would be useful to enable the arrow keys. It is my understanding that with the role application that screen readers should be releasing the Arrow keys to the web application anyways. It is possibly a bug that they do not all do that right now.

@jessegreenberg reported in another issue that NVDA (with Firefox) did actually release the

[2016-11-16 15:54] terracoda commented on #205
@jobara, thanks for posting Marco's article. It is very interesting and a very important consideration. We shouldn't need to know if a person is using AT to make a good experience for them. It sure would be nice if all the vendors implemented standards in more similar ways, however :-)

[2016-11-16 16:03] terracoda commented on #206
@jessegreenberg, @jobara, @emily-phet
I'll just add that the current interactions appear to be very intuitive for people who use screen readers.

For the record, the on-demand help text for the Grab button and the automatic help text for the grabbed Balloon are outlined in the first tab (PDOM tab) in [Base Labels & Descriptions](https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jC

[2016-11-16 17:30] jessegreenberg commented on #206
Yes I agree @terracoda!  I think the only issue is the one pointed out by @jobara (https://github.com/phetsims/balloons-and-static-electricity/issues/206#issuecomment-260947064).

Thanks for defining the interactions in https://github.com/phetsims/balloons-and-static-electricity/issues/206#issuecomment-260970836, those possibilities sound good.

I agree that this would be very helpful.

For a solu

[2016-11-16 17:53] jessegreenberg commented on #205
From https://www.w3.org/TR/wai-aria/roles#application

In my opinion, the role is defined pretty loosely.  It seems like allowing arrow keys with role=application is sort of up to the AT's choice.  Here is a rundown of the latest testing with role=application and the arrow keys:

- NVDA + Firefox: Arrow keys work
- NVDA + Anything else: role=application doesn't work unless user explicitly enters '

[2016-11-16 18:11] samreid commented on #204
@ariel-phet and @jessegreenberg I'm getting close to a point where I can start instrumenting Balloons and Static Electricity for PhET-iO, but I wanted to ask if we should use this as an opportunity to get @jessegreenberg involved with PhET-iO instrumentation?  I worked with @jbphet yesterday to start instrumentation of Gravity Force Lab, and it seems the instructional documentation is mostly worki

[2016-11-16 18:12] samreid commented on #201
On hold while discussing https://github.com/phetsims/balloons-and-static-electricity/issues/204#issuecomment-261024908

[2016-11-16 19:43] ariel-phet commented on #204
@samreid I think it will be pretty critical to get @jessegreenberg involved since it is seeming likely the iO instrumentation has potential benefits on the a11y side, particularly as it relates to sonification and the ability to data collection for interviews and such. So the more familiar JG is with the architecture and procedure the better.

I think ideally it would be good for you and @jessegre

[2016-11-16 21:05] terracoda commented on #205
@jessegreenberg, I think the definition for __role application__ in the new [WAI-ARIA 1.1](https://www.w3.org/TR/wai-aria-1.1/#application) fits our situation better, and is a little clearer. However, I do agree that the language is still vague. It says:

While reviewing the application role definition, I was reminded of some new attributes coming in 1.1 that might be helpful for us:

New properti

[2016-11-16 21:25] jessegreenberg commented on #205
@terracoda yes, that does sound useful!  I think the new repo https://github.com/phetsims/a11y-research/ would be a perfect place for that kind of issue.

[2016-11-16 21:30] terracoda commented on #206
@jessegreenberg, I wonder the same as you...

I think it would best if arrows and the WASD letters only show up once the balloon is grabbed.

I wonder if we can make a cue (i.e. focus) that is more button-like without making the balloon look ugly, that might be better. I feel that the arrows and letters should show up after the balloon is grabbed. The visual problem is that the balloons do not com

[2016-11-16 22:20] terracoda commented on #205
@jessegreenberg, thanks for the repo cue!

[2016-11-17 01:11] terracoda commented on #206
@jessegreenberg, @jobara, I made another quick sketch of a possibility. It's a combination of tool tip (as suggested by @jhung)  and arrows. The original sketches that I shared with Mel were based on the old interaction.
![img_2157](https://cloud.githubusercontent.com/assets/1902116/20372331/f2351e5e-ac44-11e6-845b-12119e0bb5c6.JPG)

The first column are three Focus sketches, the second column is

[2016-11-17 04:28] samreid commented on #204
@ariel-phet that sounds like a nice plan.  @jessegreenberg let me know your thoughts.

[2016-11-17 10:31] terracoda commented on #206
The current text that screen readers announce/verbalize is:
- On focus: Grab Yellow balloon, button.
- On Grab: (Yellow Balloon). In centre of Play Area. Has no more negative charges than positive charges.
- While dragging, interaction alerts and dynamic descriptions are announced.
- On Release: Grab Yellow balloon, button. (Yellow balloon). (And a release update, movement, sticking state and posi

[2016-11-17 16:39] arouinfar commented on #206
@terracoda I can mock up the options in your sketch https://github.com/phetsims/balloons-and-static-electricity/issues/206#issuecomment-261124748 in Illustrator, if it would be helfpul.

[2016-11-17 16:55] terracoda commented on #206
@arouinfar, actually, a young designer volunteering with the IDRC - her name is Mel - took a stab at my first sketches. She hasn't had a chance yet to digitize this idea yet. I'd like to give her the opportunity to do that. Mel's illustrator sketches are in the folder I shared with you.

[2016-11-17 16:59] arouinfar commented on #206
Excellent @terracoda! I'm happy to let you and Mel handle this.

I remember we had discussed the possibility of creating Illustrator mockups some time ago, and I wanted to follow up and see if there was anything you'd need from me.

[2016-11-17 17:02] terracoda commented on #206
@arouinfar, yes we discussed this before. It would be great to get the PhET perspective once Mel gives it a go.

[2016-11-17 17:02] jessegreenberg commented on #204
This sounds great!  I would love to get learn more about the iO instrumentation process, and given its potential for accessibility it seems very useful.

Now seems like a pretty good time to begin this.  The latest prototypes are out and waiting for interview results and a few design considerations.  High priority seems appropriate to me, but @emily-phet should also be aware of this.

[2016-11-17 17:03] arouinfar commented on #206
Absolutely, I'd be happy to chat with you and Mel further as things progress.

[2016-11-17 18:40] terracoda commented on #206
Awesome. Thanks @arouinfar.

[2016-11-17 21:24] samreid commented on #201
@jessegreenberg said he'll spend a bit more time tidying things up.  When it's ready, he'll assign this to me for review.

[2016-11-17 22:29] emily-phet commented on #205
@jessegreenberg - Just want to check in on this - if you're not already, can you go ahead and implement arrow keys for balloon dragging in BASE?

[2016-11-17 23:27] jessegreenberg commented on #205
Yes, @emily-phet the commit above adds the arrow keys.  Ill deploy a dev version with these added.

[2016-11-17 23:37] jessegreenberg commented on #205
@terracoda @emily-phet this version has the arrow keys enabled.
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.5-dev.2/balloons-and-static-electricity_en.html

I will test how having both enabled in the sim works with various AT combinations in this issue.

[2016-11-17 23:40] jessegreenberg commented on #205
The arrow keys also need to trigger the aria-live alerts.  The above link needs to be modified for this.

[2016-11-18 00:29] jessegreenberg commented on #205
Testing results:

- NVDA + Chrome
  - WASD keys work!
  - Arrow keys work!
- NVDA + Firefox
  - WASD keys work!
  - Arrow keys work!
- NVDA + IE11
  - WASD keys work!
  - Arrow keys work!
- JAWS + Chrome
  - WASD keys work!
  - Arrow keys do not work - occasionally the balloon will move slightly, presumably because of the strange way the AT sends the event to the browser
- JAWS + Firefox
  - WASD

[2016-11-18 00:34] jessegreenberg commented on #205
In all cases of JAWS, the arrow keys were obviously not working, so hopefully a user would be reminded to use the WASD keys.  But it would be best to prevent all arrow key events on that platform.  If I recall, the arrow key events are a constant stream of alternating ```keyup``` and ```keydown``` events for as long as an arrow key is pressed (this is why the balloon doesn't move at all).  So it m

[2016-11-18 01:29] terracoda commented on #205
@jessegreenberg, I did a very quick test on my MacBook Air

* macOS Sierra + ChromeVox
 * WASD works.
 * Arrow keys move the balloon, but with no alerts.
* My MacOS Sierra, VO + Safari
 * WASD move the balloon, but I get no alerts (this might be my system)
 * Arrow keys - slow movement left and right. Good movement up and down. Good movement all directions with added shift key. No alerts and issue

[2016-11-18 14:24] jobara commented on #205
@jessegreenberg and @terracoda I tried this quickly with Safari and VoiceOver on macOS Sierra. I did get the alerts ( direction, charges, etc. ) with the WASD keys. For the arrow keys, they just send the balloon flying off in the direction pushed, unless the shift key is used. With the shift key the movement seemed good, but as @terracoda mentioned, there were no VoiceOver updates.

[2016-11-18 14:25] jhung commented on #205
@jessegreenberg I just did a quick test with keyboard + Safari. My results are a little different from @terracoda's.

Mac OS Sierra, Safari, *no* VO
* After pressing key, the balloon moves and focus is removed from the balloon. You need to shift+Tab to put focus back on.
* I can only make one movement with arrow keys before the balloon becomes unresponsive to any keyboard input. i.e. Tab to focus

[2016-11-18 14:41] terracoda commented on #205
@jhung, are you pressing Enter or Space to grab the balloon first? The pink outline should change to black.

@jessegreenberg, for me the balloon also went flying really far once when I pressed the left arrow key. Note that I did not try it without a screen reader yet.

Thanks @jhung for testing that!

The lack of alerts with my MacOS Sierra and VO seems to be an anomaly of my system.

[2016-11-18 14:50] jhung commented on #205
@terracoda Yep. The behaviour is what @jobara describes (the balloon goes flying off in a direction). Putting focus back on to the balloon after that and attempting to move using arrow keys doesn't do anything.

Another funny thing is that once the balloon is in this unresponsive arrow state, trying to drag and drop with mouse has the balloon constantly moving back in the direction of the initial

[2016-11-18 15:20] terracoda commented on #205
@jhung, very interesting!

[2016-11-18 17:10] jessegreenberg commented on #205
@terracoda @jhung @jobara thanks very much for testing!

@terracoda regarding

This should be fixed with https://github.com/phetsims/balloons-and-static-electricity/commit/eb9e0a7f5a83d7481f73feef48df6a61d8902b89.  I will deploy a new version soon with this fix.

For the issue where the balloon flies off in a direction, I agree with @jhung, it sounds like the ```keyup``` event is never getting reg

[2016-11-18 17:50] jessegreenberg commented on #205
Testing with VO.  I observed something different still:

- El Capitan (10.11.6) with VO:
  - WASD keys work
  - Arrow keys do not drag the balloon, but navigate the virtual cursor.  If the balloon is picked up, I can still press the left and right arrow keys to find information about the balloon without releasing it.

- El Capitan (10.11.6) without VO
  - WASD keys work
  - Arrow keys work

- Yose

[2016-11-18 18:10] terracoda commented on #205
@jessegreenberg, I was using a bluetooth keyboard! And I experienced some balloon flying as well.

[2016-11-18 18:20] jessegreenberg commented on #205
Ah, thanks @terracoda!  In an accessibility meeting we decided that we would not support bluetooth keyboards for this reason.  Perhaps we need to rethink that.

[2016-11-18 19:23] terracoda opened #207 "Charges out by One on first rub on sweater"
I think there is a related issue to this issue. Need to re-investigate.

When I pick up one negative charge (the first one), I received no update. The first charge alert was skipped. Next alert was a full update.

I can do more testing, but I just wanted to note it down.

[2016-11-18 19:27] terracoda opened #208 "Visual charge pick up and alert charge announcement out of synch"
Need to explore further whether the visual charge pick is synchronized with the alerts about charge pick up.

[2016-11-18 19:29] terracoda commented on #208
@terracoda just noticed that moving the balloon left on sweater visually picked up several charges, but "No change in charges was announced." Moving back to the right, no charges were picked up, but the alert said there were charges picked up.

Was using MacOS Sierra and ChromeVox. I've seen this before, and will investigate further.

[2016-11-18 20:15] jessegreenberg commented on #205
Tested with a Sierra Machine -

Safari with VO on Safari -
 - WASD keys work
 - Arrow keys broken, behave as reported by @jobara @terracoda and @jhung

Safari without VO on Safari
 - WASD keys work
 - Arrow keys work

Safari with VO on Chrome
 - WASD keys work
 - Arrow keys broken, behave as reported by @jobara @terracoda and @jhung

Safari without VO on Chrome
 - WASD keys work
 - Arrow keys work

[2016-11-18 20:25] jessegreenberg commented on #205
This will need to be fixed in order to allow arrow keys for any platform.  I wonder if Sierra + VO has the same problem for keyup as apple with bluetooth keyboards - ```keyup``` is given to the browser with keycode=0?  If this is true, maybe we could get away with resetting the entire keystate on keyup if keycode===0.

[2016-11-18 20:27] jessegreenberg commented on #205
This might fix the problem with the press and hold behavior, but it wouldn't fix the issue where the arrow keys both drag the balloon AND move the virtual cursor.

[2016-11-19 00:47] jessegreenberg commented on #141
This issue is stale now, we can close.  More work on keyboard help information is being continued in other issues.

[2016-11-19 00:47] #141 closed

[2016-11-19 00:48] jessegreenberg commented on #100
Branch was merged with master.  Closing.

[2016-11-19 00:48] #100 closed

[2016-11-19 03:56] samreid commented on #204
Notes from yesterday's collaboration:

- [ ] balloon node was giving chargenode ids that might mismatch with the charge model ids
- [ ] validateTandems was not passed through to state wrapper launch iframe

[2016-11-21 01:10] melbanyard commented on #206
@arouinfar , @terracoda On this now, I may have a couple questions to confirm during this Tuesday's meeting. Would it be best to upload the sketches here?

[2016-11-21 03:30] melbanyard commented on #206
[BalloonsStaticElectricity_KeyboardAccessVisuals_V.02.pdf](https://github.com/phetsims/balloons-and-static-electricity/files/602669/BalloonsStaticElectricity_KeyboardAccessVisuals_V.02.pdf)

[2016-11-21 14:04] jobara commented on #205
@jessegreenberg I was using a wired keyboard when testing macOS Sierra with VO + Safari. Also, I don't think the prior issue was with bluetooth keyboards specifically, but with how iOS works with physical ( maybe even the onscreen one ) keyboards. In this case, from the testing done so far, it does seem to be caused by VoiceOver.

[2016-11-21 15:01] terracoda commented on #206
@melbanyard, thanks for mocking the 3 examples up so quickly. It will be great to get @arouinfar's feedback. I have a few discussion points about the current mock-up, which you may already be thinking about:

1. The focus and grabbed states can't share the same look for the outline. The outlines for the focused and grabbed states need to be different because they are distinctly different states. T

[2016-11-21 15:29] melbanyard commented on #206
@terracoda Thanks! This was definitely mocked up rather quickly and I'd like to spend more time exploring different styles, colours, line weights and your recommendations mentioned above etc.

I'll start by working on differentiation the focus, grabbed and dragged states. I did have one question while I was doing this however - Does the light white I used meet accessibility standards? I considered

[2016-11-21 16:43] terracoda commented on #206
@melbanyard, your mock-up is great. It is much better thing to discuss than pencil drawings!

In case I wasn't clear, the grabbed and dragged are technically the same state (active/pressed), and released and focused are also technically the same state (inactive/unpressed).

I was also concerned about the shade of the box color. To check the contrast between blue and the white-ish box color, you ca

[2016-11-21 17:18] jessegreenberg commented on #208
@terracoda I tried for a little why to reproduce this issue, but I haven't been able to make it happe.  If you are able to observe this consistently, can you please let me know the conditions to recreate the issue and assign to me?

[2016-11-21 17:22] jessegreenberg commented on #207
I just observed this in the testing context.  It doesn't happen every time, but here is a capture:
![capture](https://cloud.githubusercontent.com/assets/6396244/20493023/6b841e26-afd4-11e6-9760-f3a3c7e7f4df.PNG)

[2016-11-21 17:37] jessegreenberg commented on #207
It seems to happen bot on the first rub and on subsequent rubs if the balloon moves too slowly onto the sweater to pick up charges.

[2016-11-21 18:39] terracoda commented on #208
@jessegreenberg, yes, I'm going to explore this issue further, and get back to you. It is not high priority, as the information is consistent. It just seemed like the visual was out of synch from the actual description.

[2016-11-21 18:43] terracoda commented on #207
Awesome capture, @jessegreenberg! I was thinking of using the visual PDOM for testing for issue #208, too.

[2016-11-22 01:19] jessegreenberg commented on #207
Thanks @terracoda!  I believe the issue here is that interaction alerts are generated when the user completes an interaction rather than on model change.  I think this is what is causing #208 as well.  The balloon moves for a few ms after the key is up and might pick up another charge after the description has already been set as the text for the aria-live element.

In order to fix this, the commi

[2016-11-22 01:23] jessegreenberg commented on #208
@terracoda I would assume that this issue is caused by the same problem as #207.  I added some comments about why I think this is happening here: https://github.com/phetsims/balloons-and-static-electricity/issues/207#issuecomment-262119486

[2016-11-22 02:29] terracoda commented on #207
@jessegreenberg, this is an interesting finding. Thanks for testing it out a potential solution. I think your intuition is likely correct.

[2016-11-22 15:05] terracoda commented on #207
@jessegreenberg, in the case of the 1 charge issue, the screen reader never said, "On sweater. Yellow balloon picks up negative charges from sweater," which ideally is the description of the first rub.

However, I just tested again (with ChromeVox - only thing that works for me on my system, sorry). On the first rub, when I picked up 1 negative charge, or even a few negative charges, I only got "O

[2016-11-22 15:06] terracoda commented on #207
![description-testing-synching-a-bit-off](https://cloud.githubusercontent.com/assets/1902116/20528678/bde4dc7c-b0a7-11e6-8f92-7f6173a58e1e.png)

In the above screen shot. The description in the yellow boxes are in synch with the sim, but the ones in red are not. @jessegreenberg, would your theory explain this?

[2016-11-22 15:07] terracoda commented on #207
@jessegreenberg, and I must say, this visual PDOM is a very useful design tool!!!

[2016-11-22 15:10] terracoda commented on #207
@jessegreenberg, oops forgot one annotation in above comment. I added the speech bubble with the missing content.
![description-testing-synching-a-bit-off](https://cloud.githubusercontent.com/assets/1902116/20528846/5571b40c-b0a8-11e6-8f8d-4839f68613e7.png)

[2016-11-22 18:13] jessegreenberg commented on #207
Excellent, thanks for outlining the problem lines in the PDOM @terracoda! The problem is in the implementation of the interaction alerts.  The lines that are boxed in red are updated at the end of an interaction (user has lifted up a key on the keyboard).  The lines that are outlined in yellow are linked directly to the model.  Linking the interaction alerts perfectly with the model creates the is

[2016-11-22 18:15] jessegreenberg commented on #207
The red boxes under 'Scene' summary and 'Yellow Balloon' should be easy to fix since these don't use aria-live.  I am not sure yet how to fix the missing description under the 'Interaction Alerts' section.

[2016-11-22 18:17] jessegreenberg commented on #205
I see, thanks @jobara.  Yes, now that the issue has surfaced with VoiceOver on MacOS Sierra, it looks like the issue is not specific to bluetooth keyboards.  Maybe we can submit a bug report to apple for this.

https://developer.apple.com/bug-reporting/

[2016-11-22 18:22] terracoda commented on #207
@jessegreenberg, this is very interesting!
FYI, the missing string, "Picks up negative charges from sweater," is announced sometimes. I am not what causes it not to be announced along with "On sweater," in this case.

[2016-11-22 18:26] jessegreenberg commented on #207
@terracoda I see, thanks.  That actually sense if https://github.com/phetsims/balloons-and-static-electricity/issues/207#issuecomment-262119486 is correct. If you are able to pick up a charge while WASD keys are still down, you should be able to hear the correct charge update.  If the balloon moves and picks up a charge for a couple of milliseconds after the WASD keys are released, it won't be inc

[2016-11-22 18:41] jessegreenberg commented on #203
Thanks @samreid this looks great.  All accessibility features seem unchanged.

[2016-11-22 18:41] #203 closed

[2016-11-22 22:28] jessegreenberg commented on #184
This is happening when the sim is downloaded with the "Right click to save" browser feature.  For an HTML page with the rendered PDOM, the save action copies everything including the PDOM.  Then, when the sim loads, the PDOM is rendered *again* creating a duplicate.

If we use a download link for interviews, this will not be an issue because the PDOM has not been rendered.  But we will want to fix

[2016-11-23 16:56] emily-phet commented on #205
@jessegreenberg - yes, submitting a bug report sounds good to me.

[2016-11-23 19:40] jessegreenberg commented on #205
Sounds good, I will prepare a bug report.  In the 11/22/16 accessibility meeting @jobara also provided some examples where the arrow keys were used in a web application context.  It would be good to review these and understand why the arrow keys are available there but not in this context.

https://github.com/fluid-project/infusion/tree/master/demos

[2016-11-28 19:55] jessegreenberg commented on #205
Here is a demo that uses the application role with the arrow keys:
http://build.fluidproject.org/infusion/demos/keyboard-a11y/

This demo uses a grid role with the arrow keys:
http://build.fluidproject.org/infusion/demos/reorderer/gridReorderer/

[2016-11-28 20:00] jessegreenberg commented on #205
While using a MacOS Sierra device, I found this setting in VoiceOver Utility:

"Always allow keyboard commands to navigate websites."

Default is unchecked.  When checking it, a dialog comes up that warns "Behavior of websites that use arrow keys for other functionality may be affected."  This setting might also interfere with features in BASE.

[2016-11-28 20:02] jessegreenberg commented on #205
Testing http://build.fluidproject.org/infusion/demos/keyboard-a11y/ on MacOS Sierra and the arrow keys work great.

[2016-11-28 20:54] jessegreenberg commented on #205
In both cases, the elements which have arrow key control have roles other than application which may provide working arrow keys.

This demo: http://build.fluidproject.org/infusion/demos/keyboard-a11y/

uses the List role.  The other demo uses the grid role.

Another difference is that the arrow keys set focus to a new element.  Explicitly setting focus could potentially prevent the virtual cursor

[2016-11-28 21:15] jessegreenberg commented on #205
Here is a JSFiddle that exemplifies the problem:

https://jsfiddle.net/ujszje1f/2/

With MacOS Sierra + VoiceOver + Safari, when focus is on the "Draggable Element" the arrow key event is passed to the browser and the virtual cursor reads text content.

[2016-11-28 21:16] jessegreenberg commented on #205
What if the ```<p>``` is removed from under the div?

[2016-11-28 21:20] jessegreenberg commented on #205
No change.  When I focus the draggable div, VoiceOver in Safari says:

"Web Application, Draggable Element.  You are currently on a text element inside of a frame."

And when I press an arrow key, it will move to the next paragraph or spell out "Draggable" letter by letter, but the event is still observed by the browser.

[2016-11-28 21:22] terracoda commented on #205
@jessegreenberg, thanks for rechecking these examples. The Grid roles definitely has native keyboard interactions available that involve arrow keys.

https://www.w3.org/TR/wai-aria-practices-1.1/#grid

I can't find explicit documentation on the list role, but since it is a group element with mandatory children, and is often used for navigation lists, I have a feeling there is some built-in keyboar

[2016-11-28 21:41] jessegreenberg commented on #205
Here is an example where focus changes.

https://jsfiddle.net/r73r4ye2/

[2016-11-28 22:00] jessegreenberg commented on #205
Thanks @terracoda that is good to know!  I will try the example in https://github.com/phetsims/balloons-and-static-electricity/issues/205#issuecomment-263403226 with list and grid roles to see if the arrow keys start to work like the examples in https://github.com/phetsims/balloons-and-static-electricity/issues/205#issuecomment-263376028.

[2016-11-28 22:06] jessegreenberg commented on #205
Here is an example that uses role=listBox.

https://jsfiddle.net/00w409n1/

[2016-11-28 22:17] jessegreenberg commented on #205
One thing I notice in these examples is that Safari lets us see the virtual cursor with a blinking text cursor.  With this, I can see that pressing the arrow keys moves focus off of the navigation element and onto text content.

This is very likely what is making the balloon fly off in one direction.  I am now guessing that this is NOT an issue with the keyup event as initially suggested, but an i

[2016-11-28 22:26] jessegreenberg commented on #205
In http://build.fluidproject.org/infusion/demos/keyboard-a11y/, the elements that can be interacted with the arrow keys are ```<img>``` elements with no text content or inner HTML.  There is nowhere for the virtual cursor to go.  I would like to try this in the JSFiddle.

[2016-11-28 22:29] jessegreenberg commented on #205
https://jsfiddle.net/00w409n1/2/

[2016-11-28 23:26] jessegreenberg commented on #205
This might be the secret sauce: https://github.com/fluid-project/infusion/blob/master/src/framework/core/js/jquery.keyboard-a11y.js#L331-L341

```preventDefault()```

[2016-11-28 23:30] jessegreenberg commented on #205
https://jsfiddle.net/00w409n1/6/

In the above fiddle, the arrow keys are correctly restricted to the scripting and do not move the virtual cursor.

[2016-11-28 23:42] jessegreenberg commented on #205
That was it!  The arrow keys now work with VoiceOver + MacOS Sierra + Safari!

[2016-11-28 23:59] jessegreenberg commented on #205
JAWS still does not allow arrow keys to be used for this kind of application in any browser, but they feel unresponsive when using the sim so user's would presumably be reminded to the WASD keys.

[2016-11-29 14:48] jobara commented on #205
@jessegreenberg great work on that investigation. Regarding JAWS, did you find any difference in any of your experiments?

[2016-11-29 16:55] jessegreenberg commented on #205
Here is what I found with Windows 10 + JAWS

Chrome - Arrow keys do nothing for the balloon.  If you press and hold the arrow keys, every 3-6 seconds the balloon might move a few pixels in one direction.

Firefox - Same as Chrome.

IE - ```role=application``` does not seem to work.  WASD keys and Arrow keys do nothing for the balloon and move the cursor.  Pressing "insert + 3" to "Pass key through

[2016-11-29 17:14] jessegreenberg commented on #205
I just tried http://build.fluidproject.org/infusion/demos/keyboard-a11y/ with IE and JAWS.  Arrow keys usually work in that application.  I can hear JAWS transition to a 'forms' mode of interaction with a little 'beep'.  I think this warrants a new issue to figure out why JAWS isn't switching to application mode in this case.

[2016-11-29 17:19] terracoda commented on #205
@jessegreenberg, JAWS used to go into forms mode. Are you saying that in the latest version of the sim, JAWS does not enter forms mode with the application role?

[2016-11-29 17:20] jessegreenberg commented on #205
@terracoda yes, that is correct.

[2016-11-29 17:24] jessegreenberg opened #209 "JAWS does not enter forms mode"
From #205 it was discovered that JAWS does not naturally enter 'forms' mode when the balloon is picked up in IE.  At the moment, the only way to move the balloon is with the 'Insert + 3' pass through key method.

[2016-11-29 20:53] terracoda commented on #205
@jessegreenberg, I agree with @jobara, really great investigative work here! Really exciting stuff!

[2016-11-29 21:05] jessegreenberg commented on #205
Thanks @terracoda, we are getting there!

@jobara I ran through all JSFiddle examples above and a few Infusion examples with JAWS + IE and the arrow keys work as expected.  The issue in BASE with JAWS is really for press and hold behavior for the arrow keys, so I want to see if we observe the same event stream as https://github.com/phetsims/balloons-and-static-electricity/issues/205#issuecomment-2

[2016-11-29 21:21] jessegreenberg commented on #205
Example http://build.fluidproject.org/infusion/demos/keyboard-a11y/ shows the same issue that we are seeing in BASE.

I modified https://github.com/fluid-project/infusion/blob/master/src/framework/core/js/jquery.keyboard-a11y.js#L331-L341 to log the key events.

When pressing and holding the right arrow key, this is what I see when JAWS is turned off (expected):
![no-jaws](https://cloud.githubuser

[2016-11-30 13:53] jobara commented on #205
@jessegreenberg thanks for clarifying and verifying that.

[2016-12-01 23:23] jessegreenberg commented on #209
In Chrome it works correctly, JAWS plays the 'pop' when entering forms mode.

[2016-12-01 23:46] jessegreenberg commented on #209
Somehow, inexplicably, JAWS is correctly switching modes again.  Not sure why or what changed.  Closing.

[2016-12-01 23:46] #209 closed

[2016-12-02 00:38] jessegreenberg commented on #207
After inspecting the events, I no longer think this is true.  The alert is clearly coming after the location changing, even when the charge description is off by one.

![errant](https://cloud.githubusercontent.com/assets/6396244/20818754/f12b54fc-b7ec-11e6-8eeb-81deefb33ae2.PNG)
![errant2](https://cloud.githubusercontent.com/assets/6396244/20818756/f2d8a3fe-b7ec-11e6-9911-0705b507d8ff.PNG)

[2016-12-02 16:41] jessegreenberg commented on #207
Here is the order of events that is causing this to happen:

![capture](https://cloud.githubusercontent.com/assets/6396244/20842067/68d77f4a-b873-11e6-9e76-41a9d76c0bbd.PNG)

In the interaction, the balloon is dragged, then the description is anounced, then the balloon picks up a final charge.

[2016-12-02 17:06] terracoda commented on #207
@jessegreenberg, so if I am following you correctly, the "charge picked up" event should come before the keyup event?

[2016-12-02 17:43] jessegreenberg commented on #207
Right! So we just have to figure out why it is out of order.

[2016-12-05 05:35] samreid commented on #204
@emily-phet I wanted to apprise you of the status on this.  @jessegreenberg and I got Balloons and Static Electricity partially instrumented, and you can observe the positions of the balloons and some of the controls in the state playback.  Once we have completed more of this checklist in https://github.com/phetsims/balloons-and-static-electricity/issues/204#issue-189248033, the sim will be closer

[2016-12-05 21:17] pixelzoom opened #210 "Assertion failed: tandem should be defined in common code components"
http://localhost/~cmalley/GitHub/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&fuzzMouse&brand=phet-io&phetioStandalone&testSims=balloons-and-static-electricity,beers-law-lab,bending-light,build-an-atom,capacitor-lab-basics,charges-and-fields,color-vision,concentration,energy-skate-park-basics,faradays-law,forces-and-motion-basics,gravity-force-lab,mole

[2016-12-05 21:19] pixelzoom commented on #210
Changed to KeyboardHelpDialog (@db6533ad41387c8b38c1df3a9b468394563d0740) by @jessegreenberg looks like it might be related. But @samreid has all of the recent commits on RectangularPushButton.  Double assignments!

[2016-12-06 00:15] jessegreenberg commented on #207
Mostly fixed in the commit above.  The balloon was being dragged via the view step function while the charges where being picked up via the view step function, causing the descriptions to be out of sync with the visual.

Since the above commit I haven't been able to reproduce with the aria-live alerts.
![fixed1](https://cloud.githubusercontent.com/assets/6396244/20907872/1ffa03a4-bb0e-11e6-8929-f4

[2016-12-06 00:35] jessegreenberg opened #211 "Extend right edge of sweater"
It is possible to pick up charges while the balloon is still in the "left side of play area" section.  I am going to extend the right sweater arm column so that following situation isn't described as "Sticking to lower left play area":

![capture](https://cloud.githubusercontent.com/assets/6396244/20908281/f958e9c4-bb10-11e6-94ac-29ca4cbe8457.PNG)

[2016-12-06 01:06] jessegreenberg commented on #211
Removing "Sticking" when dragging along sweater is much better.  Closing.

[2016-12-06 01:06] #211 closed

[2016-12-06 01:09] jessegreenberg commented on #207
Should be fixed in commit above - I am unable to reproduce after the above commits.

![capture](https://cloud.githubusercontent.com/assets/6396244/20908970/e4a6a76e-bb15-11e6-8a8c-ef417cda3f8b.PNG)

@terracoda if you hever happen to run into this issue again in later versions, please feel free to open a new issue.

[2016-12-06 01:09] #207 closed

[2016-12-06 01:10] jessegreenberg commented on #208
@terracoda this presumably the same issue as #207 which has now been closed.  If you ever run into this again in later versions please reopen this issue and let me know.

[2016-12-06 01:10] #208 closed

[2016-12-06 13:59] emily-phet commented on #204
@samreid Thanks for the update! I'm excited to hear this work is progressing. Do you have a sense of how many hours will be required to complete full instrumentation of this sim?

[2016-12-06 16:10] samreid commented on #204
I'm unfamiliar with the new accessibility code for the simulation.  Without it, I would have guessed a total of 16 hours to instrument the simulation.  We have already spent around 4 hours or so.  But the new accessibility code or how to instrument it for PhET-iO is somewhat of an unknown.

[2016-12-06 16:16] emily-phet commented on #204
Thanks, good to know.

[2016-12-06 17:17] terracoda commented on #207
Awesome work @jessegreenberg!

[2016-12-07 17:29] ariel-phet opened #212 "Polish Radio button size"
@jessegreenberg since BASE is one of our earliest sims we had not really refined the look and feel of radio buttons. Modern sims tend to have the visual size of the radio button match the approximate size of the first letter of its label. For instance:

![radio button](https://cloud.githubusercontent.com/assets/4051174/20978898/ddee11c0-bc67-11e6-9874-e840f59e6335.PNG)

The radio buttons in BASE l

[2016-12-08 01:33] jessegreenberg commented on #164
Thanks for testing this @jobara.  I am going to close this issue.  We cannot support physical keyboards with iOS devices  because of this issues.  We can submit a bug report to apple which is going to be tracked in phetsims/a11y-issues#10.

[2016-12-08 01:33] #164 closed

[2016-12-08 01:52] jessegreenberg commented on #212
Sure, I just reduced the size of the button radii like so:
![reduce radius](https://cloud.githubusercontent.com/assets/6396244/20994531/334b2c52-bcae-11e6-9d45-da5a10b58448.PNG)

Good to close @ariel-phet?

[2016-12-08 01:53] jessegreenberg commented on #95
This is a duplicate of #212, closing.

[2016-12-08 01:53] #95 closed

[2016-12-08 06:58] samreid commented on #210
Fixed above and tests passing, lint passing, closing.

[2016-12-08 06:58] #210 closed

[2016-12-08 15:37] ariel-phet commented on #212
Looks perfect, thanks! (that pixel polish had been nagging at me for awhile!)

[2016-12-08 15:37] #212 closed

[2016-12-08 15:40] ariel-phet opened #213 "Consider "scene selection" buttons for one vs two balloons"
@jessegreenberg another little thing I was noticing for BASE

Again this is one of the first sims we converted and we had not really pegged down our HTML5 look and feel. It seems that the convention we have settled on for things like one vs two balloons would be more appropriate for "scene selection" buttons much like we have in Faraday's Law for the one vs two coils.

Not a big deal, but somethin

[2016-12-08 18:44] jessegreenberg commented on #213
@ariel-phet this was a change that we made for accessibility.  Here is how it looks in the deployed version:

![capture](https://cloud.githubusercontent.com/assets/6396244/21022652/a013ddac-bd3a-11e6-9a60-39d994a3c8aa.PNG)

Scene selection buttons are sun radio buttons, and it didn't make sense for an HTML radio button to make this kind of change to the play area (see #112).  So we changed both vi

[2016-12-08 22:19] jessegreenberg commented on #213
I will revert the visual, PDOM representation does not need to change what is in the scene.

[2016-12-08 23:15] jessegreenberg commented on #213
![capture](https://cloud.githubusercontent.com/assets/6396244/21031558/53bb1b38-bd61-11e6-9b99-ff3f3b210004.PNG)

@ariel-phet done in the above commit.  I am going to close since it is just reverting to look of published version.

mentioning @terracoda since this is something we discussed in #112 but this has no impact on representation in the PDOM.

[2016-12-08 23:19] jessegreenberg commented on #112
We reverted to the visual look of the 'scene selection' style, but kept the switch representation in the PDOM in #112. Closing.

[2016-12-08 23:19] #112 closed

[2016-12-09 00:45] terracoda commented on #213
@jessegreenberg and @ariel-phet, I have a concern about keyboard focus and visual representation. Is it confusing if the control in the PDOM is on one focusable item, but in the visual it is 2 separate parts. Will the keyboard focus highlight go around both visual options? And with the click target to switch be the both visual spaces combined?

[2016-12-09 01:07] ariel-phet commented on #213
@terracoda that concern is certainly valid, but the look of multiple selection buttons is in many of our sims, so we should figure the general a11y approach for this visual arrangement.

[2016-12-09 01:11] jessegreenberg commented on #213
That is a good point @terracoda.  The focus highlight surrounds both buttons, spacebar toggles the value.  But each button has an individual mouse area.

In #112 I can't find why a radio button group doesn't make sense.  Do you remember why?  If it is a radio button, focus would be on the selected option and the arrow keys would toggle the value.  This would work with the mouse areas.

[2016-12-09 01:20] terracoda commented on #213
@jessegreenberg, radio button strucure makes for more labels and controls, thus more verbosity. I had trouble making them sound action-oriented and still make sense. I think there were also some issues around how the different screen reader/browsers combos handled them. Radio button groups in particular had issues.

It's possible we know more now and could make it work better. The switch offers a

[2016-12-09 20:11] terracoda commented on #213
@ariel-phet, @jessegreenberg should we set up a meeting for this.
Would you like some text-based examples of the different things I tried.

I personally liked the label for a toggle (i.e. , switch) best becasue I felt it help tell a story in an outline of the sim. Tabbing through the focusable controls, a user hears:

- Grab Yellow Balloon, button
- Remove Wall, button
- Two-balloon Experiment, sw

[2016-12-09 20:20] jessegreenberg commented on #213
@terracoda lets have an informal meeting about this just so I understand the issues.  If the visual style is required I think we should try to come up with something

[2016-12-09 20:23] jessegreenberg commented on #213
@terracoda lets have an informal meeting about this so that I understand the issues with radio button group.  Radio button groups are something that we will want to use ini the future, so it will be important to figure out why they weren't working before, and why screen readers were counting the number of inputs incorrectly.  Do you have time for a chat this afternoon?

[2016-12-09 20:42] terracoda commented on #213
@jessegreenberg How about now. I was just about to stop working :-)

[2016-12-09 20:44] terracoda commented on #213
@jessegreenberg I'm on skype if you free now.

[2016-12-09 20:53] terracoda commented on #213
@jessegreenberg, actually it's best if we could make time on Monday would that work for you?

[2016-12-09 23:01] jessegreenberg commented on #213
Sounds great @terracoda, lets meet Monday.

Ah, thats right, thanks.  Some screen readers counted everything under the "fieldset" as an item in the group so the following would be described as having 7 items instead of 3.
[code]

We can try to avoid legends and labels.  We could also try a solution that doesn't use input type=radio. Something like this maybe:
http://oaa-accessibility.org/example/2

[2016-12-12 20:50] terracoda commented on #213
@jessegreenberg had a chat with Arial in this document [Toggle Switch vs. Radios](https://docs.google.com/document/d/1jaBhLoU83BsuOLhtJetwyt_A2FCc0ZiMNfnj5GbC7as/edit#)

And we decided on solution 3:

@ariel-phet suggested that you might need to

[2016-12-13 18:42] samreid commented on #204
@ariel-phet pointed out that @emily-phet has another use case coming up for Jan 15 which could benefit from having this sim instrumented as well.

@ariel-phet suggested that @jbphet and @jessegreenberg pair together to complete the instrumentation of Balloons and Static Electricity (without instrumenting the accessibility subdirectory yet).

Once this sim is instrumented, I can work with @zepumph

[2016-12-13 18:45] samreid commented on #204
@jbphet and @samreid will pick this up for today, and @ariel-phet will discuss with @emily-phet regarding priorities for @jessegreenberg.

[2016-12-13 18:46] samreid commented on #204
@jbphet will pick up from the checklist in https://github.com/phetsims/balloons-and-static-electricity/issues/204#issue-189248033 and consult with @samreid as questions come up.

[2016-12-13 18:51] samreid commented on #204
Balloons and static electricity is not affected by the tandem/observablearray issues we discussed earlier.  @jbphet you are cleared for takeoff.

[2016-12-13 19:21] jbphet opened #214 "add instrumentation to accessibility types"
Issue #204, which is about instrumenting this sim, has risen to be a high priority.  While discussing, we decided to complete the instrumentation of the non-accessibility code first, then revisit the accessibility code with help from @jessegreenberg, since he authored most of it.

Portions of this code may need to be treated like common code, since it seems like some of it is destined to become co

[2016-12-13 21:30] ariel-phet commented on #204
Spoke with @emily-phet -- currently it is not 100% clear what ETS will be after, but she will try to extract that information.

However, our GT collaborators for sonification will also be interested in this sim so much like BAA it will be useful to have instrumented.

To begin the goal will just be "normal" instrumentation, and not yet worrying about instrumenting a11y features.

[2016-12-13 22:44] jessegreenberg commented on #205
The arrow keys are enabled for drag and drop in balloons-and-static-electricity, though they do not work for JAWS due to the above issue.  I am going to close this issue and create a new one to track if any changes need to be made for design.

[2016-12-13 23:40] jbphet commented on #204
I did a fair amount of work on this today.  For reference, I'm on the step `Replace types with tandemized equivalents`, and I've worked through the types:

[code]

The types

[code]

are up next.

Also, I noticed that this sim uses the scenery node `Line`, so that should be done soon also.

[2016-12-14 18:19] terracoda commented on #205
@jessegreenberg, what version of BASE has the arrow keys working? I tested version [1.2.0-reader.7](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-reader.7/balloons-and-static-electricity_en.html) in Safari, FireFox, and Chrome with VO off and the arrows keys do not work in this version.

[2016-12-14 18:41] jessegreenberg commented on #205
@terracoda this version has working arrow keys:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.5-dev.3/balloons-and-static-electricity_en.html?hideChargeControls&showLiveOutput

Though it was built on december 2 and won't include all of the bug fixes in the last 2 weeks.  I will build a new version and email to you.

[2016-12-14 20:45] terracoda commented on #205
Thanks @jessegreenberg!

The arrow keys work on MacOS Sierra 10.12.1 (Chrome, FireFox, and Safari) when there is no screen reader enabled. I'm still trying to see how it works with VO :-) Will post results.

[2016-12-14 21:22] terracoda commented on #205
@jessegreenberg
MacOS Sierra 10.12.1 VO and Safari (10.0.1)
- initially the arrow keys worked ok. The up and down were better than the left and right. The left and right arrow keys made very small steps making them appear a bit resistant to moving.
- after a lot of rubbing, suddenly the arrow keys stopped working all together. They started moving focus instead. And at the same time, the A and D ke

[2016-12-14 21:32] emily-phet commented on #204
I emailed ETS about their specific needs. They said they would discuss and get back to me.

[2016-12-14 21:46] terracoda commented on #205
MacOS Sierra 10.12.1 VO and Chrome (55.0.2883.95)
MacBook Pro (2015) with native laptop keyboard.

- using left and right arrows move the virtual cursor and read through the PDOM, and the black grabbed highlight remains around the balloon.
- using the up and down arrows, the virtual cursor moves and the black outline disappears as well.

This behavior is consistent with your results above (https:/

[2016-12-14 22:03] jessegreenberg commented on #205
Thanks for testing @terracoda, good to know there are still issues.  I expected that they would work in VO. I just tried testing again with macOS Sierra 10.12.1 on Chrome 54.0.2840.98 and Safari 10.0.1.  The arrow keys worked in both browsers with VoiceOver.

There is a user setting in VO that might be restricting use.  Could you please make sure that in VoiceOver Web settings that "Always allow k

[2016-12-14 22:06] jessegreenberg commented on #205
I just updated to Chrome 55 and the arrow keys still work in that browser with VO turned on.

[2016-12-14 22:06] terracoda commented on #205
@jessegreenberg, yes that checkbox was turned off when I tested. I actually just enabled it to see if it would help, but it doesn't.

The really strange thing was that in Safari and VO, thing initially worked ok (not 100%, but ok) and then it just stopped!

[2016-12-14 22:09] jessegreenberg commented on #205
Ok, thanks - very strange.  When you the arrow keys were working, were you hearing any aria-live updates?

[2016-12-14 22:14] terracoda commented on #205
Yes, with Safari the alerts were working with the Arrow keys. It was all working very nicely except for the slowness of the left and right arrow keys. It was was after I depleted the sweater of negative charges that the arrow keys stopped working and remain not working.

However, with Chrome, the Arrow keys never worked with VO on at all for me.

[2016-12-14 22:23] jessegreenberg commented on #205
Ok, thanks.  @jobara @jhung if available, could you please test this version and see if arrow keys work with VO once the balloon is picked up for dragging?

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.6-dev.1/

I will see if I can verify on another machine as well.

[2016-12-14 22:29] emily-phet commented on #205
@jessegreenberg
I just took a quick look - the arrow keys don't work for me at all on Safari or Chrome with VoiceOver on. After grabbing the balloon, pressing the arrow keys moves the virtual cursor with no Balloon motion at all.

The arrow keys seem to work fine with VoiceOver off on Safari and Chrome.

[2016-12-14 22:42] jessegreenberg commented on #205
Thanks @emily-phet.  Do you also use macOS Sierra?

[2016-12-14 22:43] emily-phet commented on #205
@jessegreenberg Yes, macOS Sierra, v10.12.1

[2016-12-14 22:50] jessegreenberg commented on #205
Ok, thanks, good to know.  I just tried on Yosemite 10.10.5 on Safari and Chrome with VO turned on and the arrow keys work there.

[2016-12-14 22:56] jessegreenberg commented on #205
I also just tested on OSX 10.9 with VO in Chrome and Safari, arrow keys worked there too.  I dragged the balloon for a while and the balloon continued to work when all charges were removed from the sweater.

[2016-12-14 22:58] emily-phet commented on #205
Sierra broke it? Too bad!

[2016-12-14 23:00] jessegreenberg commented on #205
Possibly! Though it is working on Sierra for me (comment https://github.com/phetsims/balloons-and-static-electricity/issues/205#issuecomment-267171084).

[2016-12-14 23:01] terracoda commented on #205
@jessegreenberg, can you take a screen shot of your VO settings?

[2016-12-14 23:05] jessegreenberg commented on #205
@terracoda this enough info?

![screen shot 2016-12-14 at 4 03 43 pm](https://cloud.githubusercontent.com/assets/6396244/21204970/18d6c8d6-c217-11e6-9f98-54c8191f858d.png)

[2016-12-14 23:08] emily-phet commented on #205
Here's mine - looks like there's a difference for the "Navigate Images" option, "Always" vs "With Descriptions".

<img width="892" alt="screen shot 2016-12-14 at 4 08 04 pm" src="https://cloud.githubusercontent.com/assets/5109055/21205057/86072d56-c217-11e6-81c1-49e43dca2980.png">

[2016-12-14 23:13] terracoda commented on #205
@jessegreenberg, @emily-phet I have tried both those settings. In the sims, the Navigate images setting doesn't matter since there are no images in the PDOM.

[2016-12-15 00:11] terracoda opened #215 "Description Review testing (Single Balloon Scenarios)"
Opening this issue to record results from description review.
@jessegreenberg and @emily-phet, @terracoda will keep adding to this list.

Sim Version [1.1.6-dev1](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.6-dev.1/balloons-and-static-electricity_en.html?hideChargeControls)

System: 2015 MacBook Pro Sierra (10.2.1?) with Safari and VO

**EDIT: @jessegreenberg

[2016-12-15 14:51] jobara commented on #205
@jessegreenberg I tried the arrow keys in the sim just now and they seemed to work as expected. I'm using macOS 10.12.2 and Safari 10.0.2. My settings looked like yours.

As a side note, I did notice a side effect of the way that the movement is calculated on keypress. If i tap rapidly, the balloon doesn't move at all. So it feels a bit broken. I think you could probably make it travel a minimum d

[2016-12-15 16:42] terracoda commented on #205
@jessegreenberg, @jobara, @emily-phet, ok, I just had the most surreal experience. I am using a MacBook Air Sierra 10.12.2. Since I was at Assets, the interactive alerts have never worked for me on this machine - no idea why. I had tried several VO settings trying to get it to work.

I just tried the sim with the arrow keys, and the interactive alerts (dragging, rubbing, and releasing) were all sp

[2016-12-15 17:58] jessegreenberg opened #216 "Drag balloon without step function"
In #205 @jobara said

We should investigate other methods of drag and drop, and define the important aspects of the drag and drop interaction.

[2016-12-15 18:01] jessegreenberg commented on #205
@jobara thanks for testing!  Good to know that arrow keys were being captured by the application and not the virtual cursor.

This is a great suggestion, thanks, I created a new issue to track this because I think there are lots of things to investigate and discuss here.

[2016-12-15 18:03] jessegreenberg commented on #205
@terracoda that is really interesting, let us know what you find in the settings!

[2016-12-15 18:12] jessegreenberg commented on #216
In a 2D game, (on the web or otherwise) I would expect that rapidly tapping a key might not move an object because the object should only move while the key is down.  But maybe this impression is not correct.  In #205 @terracoda also said

[2016-12-15 18:18] jessegreenberg commented on #216
This would solve a few issues but it could also make for a less "game-like" interaction.  That may not be a bad thing, but we should discuss what is expected in drag and drop in a 2D interactive.

[2016-12-15 18:31] jessegreenberg commented on #216
Here are a few questions I have:

- Do we need to support diagonal motion?
- Is the normal delay on press and hold acceptable for drag and drop in a game/initeractive?
- Should there be a minimum amount of movement on every single key press?

[2016-12-15 19:19] jessegreenberg commented on #216
@terracoda @emily-phet do you have any thoughts about this issue?  We could also discuss at the next accessibility meeting.

[2016-12-15 19:27] terracoda commented on #216
@jessegreenberg, holding the key down seems to work fine (balloon keeps moving), but one then gets fewer descriptions, which may not be an entirely bad thing.

[2016-12-15 19:31] terracoda commented on #216
@jessegreenberg, how would

https://github.com/phetsims/balloons-and-static-electricity/issues/216#issuecomment-267404111

make it less functional to non-screen reader users?

[2016-12-15 19:40] jessegreenberg commented on #216
True, that one is not as bad.  It could give the user less control.  Fine control may not be too important in this sim.  But in other examples, it could make it harder for a user to move the object a few pixels if the minimum movement is set to some other value.

[2016-12-15 19:44] jessegreenberg commented on #216
It would be pretty quick to change the implementation so that the dragging works with more typical event tracking that does not count on the step function.  I will do that in a branch and then we can compare the two versions.

[2016-12-15 22:25] jessegreenberg commented on #205
Hmmm...I was just playing with the sim to test #216 and while using VO in Safari and the arrow keys suddenly stopped working for the balloon.

[2016-12-15 22:26] jessegreenberg commented on #205
If I hold the shift key down, the arrow keyws work.  Otherwise, they move VO's cursor.

[2016-12-15 22:34] jessegreenberg commented on #205
@jobara, now that the arrow keys have stopped working in BASE, they have stopped working in other apps such as

http://build.fluidproject.org/infusion/demos/reorderer/imageReorderer/

And I can't get them to work for anything other than the cursor even when focus is on interactive content.  Have you ever run into this before?

[2016-12-15 22:46] terracoda opened #217 "Sim stops working when 2 balloons deplete sweater of charges"
When playing with two balloons, I noticed consistently (reproduced 4 times) that as soon as all charges are deplete from the sweater, one can no longer move the balloons.

One can still listen to the accessible labels and descriptions, but nothing happens in the simulation. It is completely frozen.

Adding system information:
MacBook Air Sierra 10.12.1 VO and Safari 10.0.1 (12602.2.14.0.7)

[2016-12-15 22:48] jessegreenberg commented on #217
Thanks @terracoda I will take a look!

[2016-12-15 22:54] terracoda commented on #205
@jessegreenberg, I just opened a new issue #217 which I found today. Everything stops working when I deplete the sweater of charges and have 2 balloons on the go.

[2016-12-15 23:12] jessegreenberg commented on #216
Alright, here is a rough example of the difference between the two approaches:

- http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.6-dev.1/balloons-and-static-electricity_en.html?hideChargeControls
  - **Latest version, what we have tested with**
  - *Uses animation step to drag balloon with keyboard*
  - Pros:
    - Smoother experience for non-screen reader users

[2016-12-15 23:15] terracoda commented on #205
@jessegreenberg, in https://github.com/phetsims/balloons-and-static-electricity/issues/205#issuecomment-267173722, I noted that the arrow keys stopped working after I depleted the sweater of charge. I just tried that again (with a single balloon), and I did not encounter a problem.

[2016-12-15 23:29] emily-phet commented on #216
@jessegreenberg Took a quick look in Safari, and I really like the motion of the first option the best. The balloons movement feels "peppy" and active. I can't get the arrow keys to work with VO on, so I can't reproduce the issue @terracoda found where rapid presses result in no motion.

[2016-12-15 23:34] terracoda commented on #205
@jessegreenberg, should I put my VO settings in a separate issue? Maybe others would like to compare and comment?

[2016-12-15 23:34] jessegreenberg commented on #217
Fixed in the above commit @terracoda.  The second balloon was trying to find where more charges were when there were none left.

Here is a new version where this should be fixed:

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.6-dev.2/balloons-and-static-electricity_en.html?hideChargeControls

Sorry about that!  If it is fixed in the above version please close, o

[2016-12-15 23:40] terracoda commented on #217
@jessegreenberg, thanks. It works now! Closing this issue.

[2016-12-15 23:40] #217 closed

[2016-12-15 23:45] jessegreenberg commented on #205
Please do, that would be great!

[2016-12-15 23:47] jessegreenberg commented on #190
Gonna go ahead and close this, we will work on this again when we want to spruce up the demonstration.

[2016-12-15 23:57] terracoda commented on #190
@jessegreenberg, sorry, I missed your questions on this issue! I'm not sure the categories directly map to the ARIA labels. My categories are: Static Descriptions, Dynamic Descriptions, and Interactive Alerts.

[2016-12-15 23:59] terracoda commented on #190
@jessegreenberg, and I agree, we can close this for now. I need to think about it more.

[2016-12-16 00:01] jessegreenberg commented on #190
Oh no worries!  Sounds good, these can be changed any time and we can think about it again once we need to work on this example.

[2016-12-16 12:26] jobara commented on #205
@jessegreenberg when testing the sims earlier in the year i did run into cases where certain VO navigation just seemed to stop working. I reset my VO settings and things started to work again. This hasn't happened for a long time though, so I assumed it was just something that happened to my system. Not sure it's exactly the same as what you're seeing, but hopefully it will address your issue. It

[2016-12-16 13:46] terracoda commented on #216
@jessegreenberg, I agree with Emily, that the motion in version 1 (when pressing and holding) is nice and peppy. The thing I do not understand is when pressing up and down quickly, the key-press response behaviour is different when using left and right arrows than up and down arrows.

In example 2 (drag-no-keyup-dev), the left and right (quick presses) work better, but then of course, pressing and

[2016-12-16 14:28] terracoda commented on #205
@jobara, thanks for the VO reset tip. I haven't tried that. It would be good to compare all default settings with what I currently have set (https://github.com/phetsims/a11y-research/issues/14).

[2016-12-16 18:07] jessegreenberg opened #218 "Add a bit of movement on key up"
In #216 @jobara said

Great idea @jobara we should give it a try.

[2016-12-16 18:35] emily-phet commented on #190
@terracoda @jessegreenberg Just wanted to make a note that we did provide a link to the visualization of the descriptions in the CSUN paper (which there will be public access to late February). We may not need (or be able to) refine to match have the visual labels in the interface match @terracoda framework descriptions, but we might want to take a look and see if any quick refinements would be us

[2016-12-16 18:37] jessegreenberg commented on #216
Thanks @terracoda and @emily-phet.  I agree, option 1 does feel better, we will proceed with that.  This will result in a bit more work, and the arrow keys may not work with JAWS or Apple with bluetooth keyboards, but the interaction is much smoother.

@terracoda this is only when VO is turned on, correct?  For VO, the left/right arrow keys move the virtual cursor to the left/right, and the up/dow

[2016-12-16 19:10] terracoda commented on #216
@jessegreenberg, yes this behavior is VO only, so the difference is in VO's handling and not our implementation - makes sense, and maybe someday will improve as screen reader software improves.

[2016-12-16 19:14] jessegreenberg commented on #218
I added a small position change on key up.   This *does* get the arrow keys to work with JAWS, but it doesn't work very well yet.

It feels like JAWS has a hard time processing the arrow key events.  If I press the left arrow key for 1 second, the balloon will continue to move to the left in a jagged way for ~4 seconds.  However, if I move the balloon with the WASD keys, it will only move while th

[2016-12-16 19:22] terracoda commented on #190
@emily-phet, the tricky part is that "Static Decriptions" and "Dynamic Descriptions" are in the page's content, and the "Interactive Alerts" appear above the content under the ARIA labels and are fired with different politeness levels.

Adding the framework labels is a good idea, but I just need to figure out how they interweave in the live example.

[2016-12-16 19:25] jessegreenberg commented on #216
Ok, thanks @terracoda.  Yes, hopefully! Also glad the arrows keys are working with VO for you now, they are no longer working for me - spontaneously stopped and I am not sure why.

I think we are in agreement for this issue, we will proceed with option 1 in https://github.com/phetsims/balloons-and-static-electricity/issues/216#issuecomment-267472217.

Closing.

[2016-12-16 19:25] #216 closed

[2016-12-16 19:41] jessegreenberg commented on #190
Right, 'assertive update', 'polite update', 'assertive alert update', and 'polite status update' are references to the ARIA implementation, but all implement the "Interactive Alerts" in @terracoda's framework.

Everything below those sections them are a mix of "Static Descriptions" "Dynamic Descriptions".

[2016-12-17 01:32] emily-phet commented on #190
Sounds like in the interface that links to work describing @terracoda's framework, the alerts should just be labeled as "Interactive Alerts" (perhaps just above all of the labels for type of alert, so all the different types of alerts are seen as subsets of "interactive Alerts"). Then there could be static labels that indicate static descriptions...and we could just have a note somewhere that the

[2016-12-17 14:04] terracoda commented on #190
@emily-phet, yes that makes sense. I just wasn't sure how to add visual labels without cluttering or confusing things. We can easily add the two main labels separating the two areas:
1. the hidden aspects of the PDOM - Interaction Alerts
2. the browsable aspects of the PDOM - the Static and Dynamic Descriptions

I would like to point out (if it is not already blatantly obvious) that @jessegreenber

[2016-12-17 14:06] terracoda commented on #190
@jessegreenberg, @emily-phet we could potentially add some color or some formatting that helps identify the the different categories as well. Would you like me to play with that idea?

[2016-12-19 14:11] jobara commented on #216
@jessegreenberg just read this thread over again, and wanted to clear up some potential confusion about my initial suggestion. I wasn't suggesting abandoning what is referred to as option 1, but rather that a single keydown/keyup even combo could result in some movement, e.g. minimum 1 pixel movement. This could be any amount that seems reasonable though. That way, for someone who is tapping inste

[2016-12-19 14:12] jobara commented on #216
@jessegreenberg just saw your comment, https://github.com/phetsims/balloons-and-static-electricity/issues/218#issuecomment-267672869. That jitteriness could be a problem.

[2016-12-19 17:12] jessegreenberg commented on #216
Thanks for clarifying @jobara, yes that makes sense.  I wanted to create this issue to discuss the possibility of option 2 in https://github.com/phetsims/balloons-and-static-electricity/issues/216#issuecomment-267472217 because it is perhaps a bit more accessible out of the box and works with JAWS and iOS keyboards.

But your suggestion to add some movement on the keyup event is great, and I start

[2016-12-19 17:27] emily-phet commented on #190
@terracoda - I think the goal is to tweak the interface so that those reading the manuscript will be able to map the framework to what they're seeing in the visual description interface...and to do this as efficiently as possible. If you could spend maybe an hour considering the simplest way to convey the information we want, with the most minimal development effort required, that would be helpful

[2016-12-19 17:39] terracoda commented on #190
@emily-phet, ok, will do.

[2016-12-19 19:56] terracoda commented on #190
@emily-phet, what do you think of adding some new headings and explanatory text? Alternatively, we can just use headings, or place the explanatory text just below the H1, instead of below the relates sub headings.

![sim-hierarchy-pdom-edits](https://cloud.githubusercontent.com/assets/1902116/21327051/d6683300-c607-11e6-9005-b6144ac4ef7e.png)

[2016-12-19 20:27] terracoda commented on #190
@emily-phet and here's a another possibility. The additions here are a bit tidier.
![sim-hierarchy-v02](https://cloud.githubusercontent.com/assets/1902116/21327977/33dbeed8-c60c-11e6-9c22-63ea01247478.png)

[2016-12-19 21:40] terracoda commented on #190
@emily-phet, sorry, there are a few typos in the text. I'll put the suggested text in a google doc:
https://docs.google.com/document/d/1xsucsdRs-Oj1NtYnT4XwiQeuvKxsHEA3PRr6LPLfsj0/edit#

[2016-12-19 22:19] terracoda commented on #190
@jessegreenberg, sorry, I didn't mention you in the above comments. You are more than welcome to comment as well.

[2016-12-20 16:36] terracoda opened #219 "Discuss Shift Key for smaller balloon steps, rather than bigger balloon steps"
@emily-phet, @jessegreenberg
There has been a lot of discussion about balloon movement recently (#205, #216, #218).

Considering these issues and the fact that testing fine differences in distances near the wall is difficult for keyboard users, I propose making the Shift key make the balloon take smaller steps, rather than bigger steps.

I think this is more useful for users and I am wondering if

[2016-12-20 17:28] emily-phet commented on #190
@terracoda - since the visualization will be coupled with the manuscript, I don't think we need to add more text to describe what's happening. I think we just need to highlight more strongly (and consistently) where the different description types are. Take a look at this mockup. I just use a legend below the sim, and color+font styling to distinguish the different description categories. Not sure

[2016-12-20 18:32] terracoda commented on #190
@emily-phet, your example demonstrates what I was thinking when I said:

Sorry, I read your follow up comment as negative to that idea, i.e., to try something simpler. I see now that I misinterpreted your comment.

[2016-12-20 20:04] jessegreenberg commented on #219
@terracoda mentioned this in the accessibility meeting 12/20/16  -

All thought this seemed like a good idea, and we ill give it a shot!

[2016-12-20 20:04] jessegreenberg commented on #219
Assigning to myself to make the change.

[2016-12-20 22:08] jessegreenberg commented on #215
Additional issues from discussion with @terracoda:

 - When the balloon is not yet on the sweater and the sweater rubs up or down, we hear "No change in charges..." alert.  We shouldn't hear this until the ballloon is actually on the sweater and can pick up charges.

 - Charge item in scene summary should be reduced to not include charge comparisions:
    - example: Yellow baloon has a net negativ

[2016-12-20 22:18] jessegreenberg commented on #215
Also discussed:

The sim alerts are tailored to hearing what happens when an interaction is completed (key is released).

When interacting with the mouse, we should hear aria-live alerts as the balloon enters new areas in the play area.  This should reduce the frequency of alerts so that the user doesn't hear too many alerts as they drag continuously with mouse or finger.

[2016-12-20 22:46] jessegreenberg opened #220 "Updates to the charge item in scene summary"
From #215 -

The charge item in the scene summary needs to be changed so that it does not include relative charges.  For instance, the item might say:

When all charges are the same, a shorter summary should appear such as

[2016-12-20 22:51] jessegreenberg opened #221 "Fix description of initial balloon position"
The balloon is initially described as "In upper right side of play area..."  It should be "In center of play area, evenly between sweater and wall."

From #215

[2016-12-20 22:52] jessegreenberg opened #222 "Update play area grid"
The play area grid is out of date from the latest designs.  It should be updated to match the latest designs in

https://docs.google.com/spreadsheets/d/1BiXFN2dRWfsjqV2WvKAXnZFhsk0jCxbnT0gkZr_T5T0/edit?ts=568067c0#gid=102492439

From #215

[2016-12-20 22:55] jessegreenberg opened #223 "Hide PDOM alerts from virtual cursor"
From #215

The aria-live alerts can be found with the virtual cursor.  We should try to hide them if possible, while still allowing the alerts to be announced by the AT.

One way to do this is to hide the aria-live content until text content changes on one of the aria-live elements.  Then immediately re-hide.

I believe we tried something like this before, and it caused issues.  But that was befor

[2016-12-20 22:57] jessegreenberg opened #224 "End position missing when balloon released"
From #215:

Assigning to @terracoda to provide examples.

[2016-12-20 22:58] jessegreenberg opened #225 "Balloon release alert needs to include color"
Right now, all we hear is "Balloon released..."

From #215

[2016-12-20 23:01] jessegreenberg opened #226 ""Grabbed" modifier needs to be included in label and removed from description"
When the balloon is grabbed, its description changes to "Grabbed.  Yellow balloon...".  In #183 VoiceOver's delay means that it might take a long time for the user to hear that the balloon has been picked up.

If we add "Grabbed" to the label of the balloon, this will no longer be a problem.

From #215.