[2017-10-11 19:16] terracoda commented on #317
It's only two options, so having two inputs each with a label adds verbosity, when a checkbox or switch can communicate the same information with one input and one label.

[2017-10-11 19:18] terracoda commented on #317
I know the team thinks of these things as a scene switch, but it is such a simple scene switch that I think that the most simple representation possible in the code makes the interaction quicker.

[2017-10-11 19:22] terracoda commented on #317
I think the coils in Faraday's Law would be similar, and there are probably many other "simple scene switch" examples that might represented better as a single element rather than two radios.

A larger number of scene switch options is definitely a group of radios. It is just these groups of 2 that may be better represented as a checkbox.

[2017-10-11 19:43] jessegreenberg commented on #317
@terracoda I think that my concerns about having something that looks like PhET radio buttons and acts like a switch are better documented in #213. But for this issue, I think a checkbox sounds like a nice idea, and it will work much  better with JAWS.

Here is the html now:
[code]

[2017-10-11 19:56] jessegreenberg commented on #317
@terracoda do you think it should be something like this?

[code]

that will be a very simple change.

[2017-10-11 19:57] terracoda commented on #317
I agree that we had a good discussion in #213.

Interesting @jessegreenberg, I thought we had already changed over to a `input type="checkbox"` with `role="switch"`. Perhaps we refrained from doing that because it was a change to a checkbox from a button - oh my!

I think you can only use the switch role with a checkbox.

[2017-10-11 19:58] jessegreenberg commented on #317
@terracoda we decided not to use ```role=switch``` because we found that role=switch is really broken with  JAWS (it totally skips the element and doesn't gracefully fall back to anything).

[2017-10-11 19:59] terracoda commented on #317
Thanks for the reminder.

[2017-10-11 20:00] terracoda commented on #317
Happy to try a plain checkbox ;)

[2017-10-11 20:01] jessegreenberg commented on #317
Alright, sounds good!

[2017-10-12 18:26] jessegreenberg commented on #317
@terracoda here is the new html, look OK?

[code]

One downside with the checkbox is that 'enter' doesn't activate this element.

[2017-10-13 15:52] ariel-phet commented on #315
@terracoda @jessegreenberg this is a good point for the neutral balloon.

It seems we should remove the "slight bumping" to the side of the balloon when overlapped. Even if you perfectly overlap the balloons, and want to move the bottom one, you can easily move the top one a bit first, so it is not a major impediment to normal use of the sim.

[2017-10-13 16:46] arouinfar commented on #315
Just to add -- I think that bumping a neutral balloon has the potential to be pedagogically  problematic, as it could be interpreted that the neutral balloon was somehow repelled from the other balloon or attracted to the sweater.

[2017-10-13 17:25] jessegreenberg commented on #315
Ok, I will revert the changes made for #279.

[2017-10-13 17:29] terracoda commented on #315
Thanks, @jessegreenberg.

[2017-10-14 01:38] terracoda commented on #317
And it doesn't look like a checkbox! Much like the balloon doesn't look like a button.

We giveth with on hand and taketh with the other.

[2017-10-16 17:27] terracoda opened #318 "Sweater Rubbing alert seems to skip first threshold "a few" more"
I noticed In version 1.4.0-dev.4 that I never seem to get "a few more negative charges" when rubbing on sweater.

There are 3 alerts (1-1, 1-3, and 1-5) described in the design document.

My intent was that alert 1-5 would trump alert 1-3 when there is a threshold change. This does not seem to occur for the first threshold, "a few". Seems to work fine for "several" and "many".

Rubbing alerts are

[2017-10-18 16:09] terracoda commented on #313
@jessegreenberg, maybe this should be a new issue? Not sure. It is related to reducing the number of blank steps.

I did some more testing today of Dev Version 1.4.0-dev.4 (without near sweater and near wall) and having these landmarks will definitely reduce number of blank steps.

Other things I noticed (Using A key only) are:
- Even when trying I never get more than 3 blank steps in a row betwee

[2017-10-18 18:54] terracoda commented on #317
@jessegreenberg, we'll try this and see if it sounds ok. Shall I mark it pending testing?

[2017-10-20 11:53] terracoda opened #319 "Lost whitespace in keyboard dialog"
@jessegreenberg  and @zepumph, I think changes in Scenery be for the presentation of dialogs, are affecting other dialogs see https://github.com/phetsims/friction/issues/45, ? For example, BASE was fine in the last Dev version, but I just noticed it has lost a large amount of white space in the built version. I am just checking the built version for the first time.

Perhaps the solution in BASE's

[2017-10-20 12:07] terracoda commented on #313
@jessegreenberg, I just checked the built version for the first time. I didn't realize that was how to get the latest version. Sorry about that.

I hear the On Center of Play Area, Near Sweater, Near Wall, At Wall, and Off Sweater all at the right times, but now I do not hear the actual locations, "On left side of Play Area" and "On right side of Play Area."

We need to hear Landmarks, Actual Loca

[2017-10-20 15:32] zepumph commented on #319
It looks like @jessegreenberg offered to take a look.

[2017-10-23 16:36] terracoda commented on #213
@jessegreenberg, I am closing this issue. We can re-open if the simple checkbox (#317) does not work for users.

[2017-10-23 16:36] #213 closed

[2017-10-24 14:07] terracoda commented on #263
@arouinfar, there were some great suggestions from the Design Crit. One was this visually connected version from Caren Watkins. It connects the grab and release functions and multiple move functions. This visual connection may communicate the custom two-step interaction more clearly. I am posting it here for reference as it maybe nice to consider.
﻿
<img width="650" alt="base-kbdialog" src="https:

[2017-10-24 14:30] terracoda opened #320 "Keyboard Shortcuts Dialog (Compact)"
The design conversation was started in https://github.com/phetsims/balloons-and-static-electricity/issues/263

Much discussion about general keyboard shortcut dialog design has occurred since. Dialogs for several other sims have taken a compact approach. Taking that into account I have drafted new content for a compact version for Balloons and Static Electricity. It lives in the same google doc as

[2017-10-24 14:34] terracoda commented on #320
@arouinfar I put the Move and Jump together, so they could be communicated as a list of 6 items, encouraging a non-visual user to read on.

[2017-10-24 17:38] terracoda commented on #320
Oops forgot the the Arrow Keys for navigating group items. Here's Version 2 again:

H1: Keyboard Shortcuts
H2: Grab or Release Balloon
- Grab or release balloon: [Space] or [Enter]

H2: Move or Jump Grabbed Balloon
- Move grabbed balloon: [Arrow keys] or [WASD]
- Move slower: [Shift] + [Arrow keys] or [Shift] + [WASD] (stacked)
- Jump close to Sweater: [J]+[S]
- Jump to Wall: [J]+[W]Jump to Near w

[2017-10-24 17:41] terracoda commented on #320
@arouinfar, please reassign me when you want me to have a look.

[2017-10-25 13:21] terracoda commented on #317
@jessegreenberg, I am happy with the way the checkbox sounds Voice Over. One issue for sighted users it the design looks more like a button than a checkbox. Only the space key will work to activate it. We will have to see how visual keyboard users respond.

[2017-10-25 13:36] terracoda opened #321 "Lose visual focus when navigating radio buttons (Safari only)"
I loose keyboard focus when trying to navigate beyond the last radio buttons. This happen when I press either the down-arrow key or the right-arrow key on the last radio. It does not happen on the first radio when I press the up- or left-arrow keys.

This happen only in Safari and with or without VO on.

I think the pressing the down- or right-arrow on the last radio should cycle either do nothing

[2017-10-25 13:41] terracoda commented on #321
@jessegreenberg, this issue may be related to the issue in closed issue in MAL repo https://github.com/phetsims/molecules-and-light/issues/153.

[2017-10-25 16:27] terracoda commented on #317
@jessegreenberg, I am going to close this issue.

[2017-10-25 16:27] #317 closed

[2017-10-25 16:29] jessegreenberg commented on #317
Great thanks @terracoda!

[2017-10-25 16:52] terracoda commented on #275
@emily-phet, I think this issue won't be resolved until we get feedback from visual keyboard users. We now have a visual cue for grabbing the balloon for visual users. Once we get feedback on that, we may need to iterate.

I am marking it as on-hold and removing my assignment.

[2017-10-25 16:55] arouinfar commented on #320
@terracoda the text looks great! I'll mock it up.

[2017-10-25 20:30] jessegreenberg commented on #321
Thanks @terracoda , I will take a look next time I have access to safari.

[2017-10-25 20:39] jessegreenberg commented on #304
I am much happier with this now and changes are in master, the branch can be deleted.

[2017-10-25 20:41] jessegreenberg commented on #304
Branch deleted. Closing.

[2017-10-25 20:41] #304 closed

[2017-10-26 01:19] terracoda commented on #304
@jessegreenberg, a quick check sounded good. Will listen more tomorrow. You are awesome!

[2017-10-26 16:07] terracoda opened #322 "Testing notes Oct 26, 2017"
Great work @jessegreenberg
These are the things I noticed today.

**Reading Through:**
- [x] Punctuation: Sweater DD has 3 extra periods.
- [x] Hear Two-balloon experiment label twice - Possibly due to order, possibly normal repetition dues to label and for attribute (aria-label might be better for the checkbox since there is no text on screen?) See issue #330
- [x] Same label repetition for radio

[2017-10-27 13:08] terracoda commented on #252
Reopening, as discussions with screen reader user has confirmed that it is ok, to drop the non-changing balloon and wall visual charge information after the initial rub (or after a grab at the wall). The visual charge information does not change. The information is also available on grab, and in the PDOM, in case the user needs to review it.

**Truncated interactive wall rubbing alert**
- [At [[ST

[2017-10-27 13:10] terracoda commented on #252
@jessegreenberg, I think the design docs is up to date with more examples. I am working on making sure they are clean

[2017-11-01 19:25] terracoda commented on #313
@jessegreenberg, as of last Friday, the landmarks were working fine. You can likely close this issue.

On a related note, I am just wondering if you changed the algorithm for distance through the grid cell at all, or if you just managed to get all the locations and landmarks working properly.

When I tested last Friday, I only ever got a single blank step here and there. Over all dragging alerts i

[2017-11-01 21:46] arouinfar commented on #320
@terracoda I've mocked up two options for the dialog following the compact style. The first option groups all balloon controls together in one column. The second option has the balloon sections side-by-side and is a bit more compact. Visually, I prefer the second option, but the first option may be more advantageous for screen readers.

![screen shot 2017-11-01 at 3 41 41 pm](https://user-images.g

[2017-11-02 00:58] terracoda commented on #320
@arouinfar, this is an interesting layout problem. I like the look of the even columns, but the reading order is less obvious in that example. The reading order should go from Grab or Release to Move or Jump to General Navigation.

Caren Watkins provided an interesting approach during the design crit. Of course, the actual content was different then, but do you think you could try to visually conn

[2017-11-02 01:01] terracoda commented on #320
@arouinfar, it doesn't have to be exactly the same as Caren's example, but some kind of visual cueing  (lines, arrows or white space) that help to move the eye to the right, and then back to the bottom left for General Navigation.

[2017-11-02 01:03] terracoda commented on #320
@arouinfar, if that doesn't work, we could bring back a heading for the Jump section, so there are 4 sections rather than 3.

[2017-11-03 18:08] terracoda opened #323 "Testing notes: Rubbing on sweater"
Phet test build
System: Mac OS Siera 10.12.3
Browser: Safari 10.0.3

http://phettest.colorado.edu/balloons-and-static-electricity/balloons-and-static-electricity_en.html?ea&brand=phet&accessibility

**Keyboard no VO**
- arrow and wasd keys work fine on own and with shift key
- all controls work fine
- [x] KNown issue: visual grab and move hint visual needs fixing (missing white space)

**Keyboard

[2017-11-06 19:53] jessegreenberg commented on #323
@terracoda can you please verify that you have quick nav turned off?  I can't reproduce this behavior on MacOS 10.12.1 with Safari 10.0.1, but when quick nav is turned on the arrow keys should no longer work on the balloon.

[2017-11-06 19:55] jessegreenberg commented on #323
Checking this off, it is going to be tracked in #319.

[2017-11-06 19:56] jessegreenberg commented on #323
Working on this next.

[2017-11-06 21:48] jessegreenberg commented on #323
With the above commits, release alerts are updated to match the latest design docs.

Thanks for the issue list @terracoda. https://github.com/phetsims/balloons-and-static-electricity/issues/323#issuecomment-342266216 is the last part of this issue.

[2017-11-06 21:49] jessegreenberg commented on #323
The above commits also fixed a bug where some prepositions were getting duplicated ("At at center of play area" "Near near wall" and so on).

[2017-11-06 21:52] jessegreenberg commented on #322
I am not able to reproduce this one with NVDA or VoiceOver.

[2017-11-06 22:07] jessegreenberg commented on #322
Ah, it happens when reading with the virtual cursor. Now I hear it. @terracoda said

The HTML that looks like
[code]
It seems like the AT is reading the accessible name on the input when it receives focus,  then reading the content on  the  label element with the virtual cursor again. @terracoda can you verify?

[2017-11-06 22:25] jessegreenberg commented on #322
Checking to see if this is a sim problem or a browser issue.

[2017-11-06 22:32] jessegreenberg commented on #322
hmm, now focus is behaving just fine with the virtual cursor.

[2017-11-06 22:42] jessegreenberg commented on #322
It seems to happen every time I start reading from the top (ctrl + option + b), if I start reading from below the balloon it doesn't happen (ctrl + shift + a). Checking events in the console.

[2017-11-06 23:01] jessegreenberg commented on #322
I think VoiceOver is trying to send the focus event to things that are not "focusable", and since those node's don't have defined bounds, scenery doesn't know how to draw the focus highlight. After the error, it never recovers. I can see that whatever has focus will  blur when safari  hits the scene summary list.

[2017-11-06 23:06] jessegreenberg commented on #322
Preventing scenery from focusing  Nodes that are not focusable seems to fix it. ctrl + option + b 5 times and haven't run into this problem. Checking off the item!

[2017-11-06 23:06] jessegreenberg commented on #322
Unfortunately I haven't run into this yet. This sounds a lot like a performance problem.

[2017-11-07 00:03] jessegreenberg commented on #322
The above commit prevents too many alerts related to direction from coming through, I think it sounds nice when using a mouse now. Thanks @terracoda, good idea.

[2017-11-07 13:07] terracoda commented on #322
@jessegreenberg, regarding https://github.com/phetsims/balloons-and-static-electricity/issues/322#issuecomment-342329694, looking forward to testing this fix out.

**Question:** Does the fix here, fix it for other sims as well?

I am asking because yesterday, I was working with screen reader consultant who likes to interact with the track pad and she said she was getting stuck in the live region,

[2017-11-07 16:56] jessegreenberg commented on #322
@terracoda no, this was a sim specific fix for the balloon interaction. What sim was the consultant using?

[2017-11-07 16:59] terracoda commented on #322
@jessegreenberg, sonified Ohm's Law. I have clean notes in the Sonfication Work/ Screen Reader Sessions, but I have not yet fully assessed the issues and created github issues.

[2017-11-08 14:40] terracoda commented on #323
@jessegreenberg re https://github.com/phetsims/balloons-and-static-electricity/issues/323#issuecomment-342266216, yes, sorry, quick nav was on. If I make sure quick nav is off, the arrow keys move the balloon.

[2017-11-08 15:09] terracoda commented on #323
@jessegreenberg, great work.
I tested the sweater rubbing alerts today and they have changed, so I am creating a new issue for those and closing this one.

[2017-11-08 15:15] terracoda opened #324 "Corrections to Sweater Rubbing Alerts"
Tested latest build from phettest on Nov 8, 2017, and found some mistakes in the sweater rubbing alerts:

**Sequencing of Sweater rubbing descriptions while picking up charges**
- [x] When rubbing on sweater and picking up charges, I am only hearing alerts 1-1 and 1-5, and not Alert 1-3: "Yellow balloon picks up more negative charges."

Ideally, user would hear Alert 1-3 after the first full descr

[2017-11-08 19:01] terracoda commented on #323
The new testing notes are in this issue: https://github.com/phetsims/balloons-and-static-electricity/issues/324 .

[2017-11-08 19:02] #323 closed

[2017-11-09 17:25] terracoda opened #325 "Navbar Region needs label that does not reference multiple sim screens"
From #324.
Great work on new navbar region.

Current `aria-label` content for navbar region is "Sim Screens, Resources, and Tools."

For single screen sims like _Balloons and Static Electricity_, the label should not include a reference to Sim Screens, and just be "Sim Resources and Tools".

Is it possible to create a built-in way to provide a label for single screen sims, and one for multi-screen

[2017-11-09 17:27] terracoda commented on #325
Mentioning @zepumph as this issue is related to https://github.com/phetsims/joist/issues/462.

[2017-11-09 17:34] terracoda opened #326 "Missing preposition in a few location strings"
**Missing prepositions**
- [x] Preposition missing in release phrase when a release happens at the wall. Hearing:
"No change in position. Yellow balloon, wall." Should be "No change in position. Yellow balloon, at wall."

- [x] Preposition missing in jump alert when I use JN hotkey with the wall removed. I hear "right side of Play Area", but should hear "On right side of Play Area."

[2017-11-09 17:38] terracoda opened #327 "Punctuation: extra or missing periods in some phrases"
Tested latest build from phettest on Nov 8, 2017, with Safari and Voice Over and found some punctuation issues.

**Extra or missing periods here and there (low priority)**
- [x] "Near sweater (need period here)",
- [x] On second instance of "At center of Play Area (need period here)",
- [x] Sweater rubbing: "More pairs of charges up and to the left (need period here)",
- [x] Dragging and reaching

[2017-11-09 23:56] terracoda commented on #320
@arouinfar I think the jump key icons would look nicer at the front.

[2017-11-10 00:49] terracoda commented on #320
H1: Keyboard Shortcuts
H2: Grab or Release Balloon
- Grab or release balloon: [Space] or [Enter]

H2: Move or Jump Grabbed Balloon
- Move grabbed balloon: [Arrow keys] or [WASD]
- Move slower: [Shift] + [Arrow keys] or [Shift] + [WASD] (stacked)
- [J]+[S] jumps close to sweater.
- [J]+[W] jumps to wall.
- [J]+[N] jumps to near wall.
- [J]+[C] jumps to center.

H2: General Navigation
- Move to next

[2017-11-10 01:28] terracoda commented on #320
@arouinfar, what do you think of this layout that aligns jump keys to left and uses white space to de-emphasize Gen Nav section?
![keyboard-dialog](https://user-images.githubusercontent.com/1902116/32638253-068507ac-c599-11e7-9044-70fb7444f8aa.jpg)

[2017-11-10 01:31] terracoda commented on #320
@arouinfar, obviously not the same font in my re-make ;-) and oops I see some copy paste mistakes - reposting.
![keyboard-dialog](https://user-images.githubusercontent.com/1902116/32638366-86836656-c599-11e7-9ca2-b676949db5a2.jpg)

[2017-11-10 23:05] jessegreenberg commented on #327
Thanks very much @terracoda, these issues are fixed.

[2017-11-10 23:05] #327 closed

[2017-11-11 19:40] terracoda commented on #320
@jessegreenberg, here's what I think the Keyboard Shortcuts should be in the accessible PDOM Dialog. I re-arranged the words to follow the visual order.

I din't do it myself because some of the strings need to be removed, and m=some may need to be renamed.

[code]

[2017-11-11 19:42] terracoda commented on #320
@jessegreenberg, do you think you could update the PDOM Dialog without also doing the visual dialog?

[2017-11-11 19:49] terracoda commented on #320
@jessegreenberg, not the _Move or Jump Grabbed Balloon_ section would have a list with 6 items.

[2017-11-14 01:22] jessegreenberg commented on #320
@terracoda done with the commits above, including a first pass at the visual content as well. It can be found at master, here is what it looks like now:
![capture](https://user-images.githubusercontent.com/6396244/32758000-7c0a152c-c89f-11e7-81ff-4dd1f02bf933.PNG)

And the accessible content:
![capture2](https://user-images.githubusercontent.com/6396244/32758003-7f2dc44c-c89f-11e7-8477-6512f77d8e1

[2017-11-14 06:33] terracoda commented on #320
@jessegreenberg, that's awesome!
I will check phettest tomorrow.

[2017-11-14 19:56] jessegreenberg commented on #326
This has been fixed @terracoda thanks for the report.

[2017-11-14 19:56] #326 closed

[2017-11-14 23:10] jessegreenberg commented on #324
Thanks for the report @terracoda! These issues are fixed in master.

[2017-11-14 23:10] #324 closed

[2017-11-14 23:13] jessegreenberg commented on #322
@terracoda I think the remaining items for this issue are for you, but please reassign to me if there is more for me to work on for the remaining check boxes.

[2017-11-14 23:14] jessegreenberg commented on #320
Removing my assignment for now.

[2017-11-14 23:21] jessegreenberg commented on #319
The letter keys are using TextKeyNode now. Once https://github.com/phetsims/scenery-phet/issues/343 we will come back  to this issue.

[2017-11-14 23:23] jessegreenberg commented on #318
Closing, I think this is a duplicate of #324 which was opened after this issue, and the rubbing alerts were fixed in that one.

[2017-11-14 23:41] jessegreenberg commented on #315
Changes related to #279 have been reverted, closing.

[2017-11-14 23:41] #315 closed

[2017-11-14 23:43] jessegreenberg commented on #314
@terracoda would you please verify that this is no longer a problem on your computer with VoiceOver?

[2017-11-14 23:52] zepumph commented on #319
I'll take this one on as soon as I finish general consistency within keys.

[2017-11-15 00:04] jessegreenberg commented on #313
@terracoda improvements to behavior mostly came from major changes to the timing of alerts, but the algorithm should also match what you have in BASE: Grid Descriptions Simplified and Revised design document now.

[2017-11-15 00:04] #313 closed

[2017-11-15 00:05] jessegreenberg commented on #309
#304 was closed, this issue can also be closed and the branch can be deleted.

[2017-11-15 00:05] jessegreenberg commented on #309
Branch was apparently already deleted. Closing

[2017-11-15 00:15] jessegreenberg commented on #319
Thanks @zepumph!

[2017-11-15 00:56] jessegreenberg commented on #320
@terracoda @arouinfar at keyboard navigation meeting on 11/14/17, there was some discussion about  changing the design of this dialog again. I recommend that this be done before we publish a keyboard navigable sim, including RIAW (https://github.com/phetsims/QA/issues/66). Once a sim is published, these strings will be translatable and they will become much more difficult to change. This does not

[2017-11-15 01:14] zepumph commented on #319
Don't mind the reverted commit :/

I just did a few minor adjustments, in general it looks good. @jessegreenberg back to you.

[2017-11-15 16:50] jessegreenberg commented on #319
Thanks for doing this @zepumph, looks great. The mockup for these keys had them larger than the ones in the dialog so I made them a bit bigger using the options you added to KeyNode. Closing.

[2017-11-15 16:50] #319 closed

[2017-11-15 16:53] jessegreenberg commented on #300
Looks like this has been fixed in other issues, but we are missing a period at the end of the grabbed alert.

[2017-11-15 16:54] jessegreenberg commented on #300
But only when we are on the sweater.

[2017-11-15 18:39] jessegreenberg commented on #300
The above commit fixes all the punctuation issues I could find, including this one. Closing.

[2017-11-15 18:39] #300 closed

[2017-11-15 18:41] jessegreenberg commented on #321
It is pretty likely that this was fixed by a commit in https://github.com/phetsims/balloons-and-static-electricity/issues/322. Ill check.

[2017-11-15 18:46] jessegreenberg commented on #321
Reproduced bug, not fixed by #322.

[2017-11-15 18:51] jessegreenberg commented on #321
It is not specific to radio buttons, happens for other buttons too. If I press the 'down' arrow after pressing the remove wall button, the arrow keys read through the aria-live content at the very top of the page. Happens most consistently for radio button group.

But it doesn't ready any farther, at the end of the alert, VO says "End of Text".

[2017-11-15 19:02] jessegreenberg commented on #321
This seems to be fixed by clearing the alert content once it has been spoken so that it cannot be found with the virtual cursor. This has been desired for a while anyway, so I am going to commit it after testing to make sure that things still sound good with NVDA and JAWS.

[2017-11-15 19:13] jessegreenberg commented on #321
Everything seems great in FF 56 with NVDA.

[2017-11-15 19:54] jessegreenberg commented on #321
Sounds great with JAWS + Firefox 56.

[2017-11-15 20:02] jessegreenberg commented on #321
Fixed with the above commit. Closing.

[2017-11-15 20:02] #321 closed

[2017-11-15 20:02] jessegreenberg commented on #321
And thanks for finding @terracoda!

[2017-11-15 20:28] jessegreenberg commented on #303
@terracoda done in master. Closing.

[2017-11-15 20:28] #303 closed

[2017-11-15 20:32] jessegreenberg commented on #263
@terracoda can this issue be closed? I think we are continuing in #320?

[2017-11-16 17:03] terracoda commented on #320
@jessegreenberg, excellent point.

[2017-11-16 17:11] terracoda commented on #320
@jessegreenberg, re https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-344114563, the order of content is i n the accessible version is incorrect. The Move and Jump Balloon section needs to come before General Navigation section.

The white space in the visual design hints at a left-to-right-and-then-down exploration, and in the non-visual environment, the explorat

[2017-11-16 17:27] jessegreenberg commented on #320
Thanks @terracoda, general navigation section is now last.

[2017-11-16 20:18] terracoda commented on #320
@arouinfar
 drafting an alternative text version to one that is implemented above for your review. This version fronts the actions. I'm not sure it matters a tonne. I like to front the most important information. Both the key press and what it does are important pieces of information. I'm not sure one or the other is a clear winner.

The visual and non-visual representations do not have to have th

[2017-11-16 20:23] terracoda commented on #320
@jessegreenberg, I just noticed a small mistake in the text version. Sorry, I missed it.
- J plus W jumps close to wall.

Should be:
- J plus W jumps to wall.

[2017-11-16 20:27] jessegreenberg commented on #320
Thanks @terracoda,  fixed in https://github.com/phetsims/balloons-and-static-electricity/commit/09aaf4f4d2e8b1b7d41734e6e3f771b148222e06

[2017-11-16 20:33] terracoda commented on #320
@arouinfar, there is also a draft for Ohm Law in https://github.com/phetsims/ohms-law/issues/100

And that text also follows the visual design putting the  explanation of the key press before the key press.

Changes now will affect BASE, JT, OL, and RIAW.

If you are good with version one that has already been quickly implemented by JG. I am good with that approach until we know more what users wa

[2017-11-16 21:09] terracoda commented on #314
It is no longer an issue in dev version 7.
I only lose the balloon if Quick Nav goes on.

[2017-11-16 21:09] #314 closed

[2017-11-17 01:39] zepumph opened #328 "xss fuzzMouse fails because of functions in BASEA11yStrings.js"
@jessegreenberg bayes is failing pretty regularly because xss tests assume that all keys in the a11y strings files are strings.

My two thoughts:
1. If these functions are just for testing, then maybe make an ignore list, I see you have done this with one but not the other:
[code]
2. Promote these to functions in StringUtils, maybe with an a11y prefix or a11y doc?

Let me know if you want help.

!

[2017-11-17 14:59] terracoda commented on #320
@arouinfar, do you remember when we decided to go with putting the icons at the end? I was just looking at BASE's original version over in #263

[2017-11-17 15:06] terracoda commented on #263
@jessegreenberg, I mentioned this issue on #320, so I think it is ok to close this one. Closing now.

[2017-11-17 15:06] #263 closed

[2017-11-17 16:00] terracoda commented on #318
@jessegreenberg, there have been great improvements to the Sweater rubbing alerts, but this issue has not been resolved on master. The alerts still need some improvement.

I can start a new issue if needed, but thought best to re-open this one.

Note that Alert 1-1 First pick-up is working perfectly.

Here's what I am trying to get at with alerts 1-1, 1-3, and 1-5:
**Hearing:**
Alert 1-1 First pic

[2017-11-17 17:07] arouinfar commented on #320
@terracoda can you say a bit about your motivation for reversing the order on the jump keys?

I think we should have a consistent ordering in the dialog, with the key icons always coming before or after the text. For short commands, like the jump keys, fore-fronting the key icon looks clean. However, I think most commands are harder to read and look cluttered with key icon on the left, particularl

[2017-11-17 17:11] terracoda commented on #320
@arouinfar, I was just going to ping you about moving the icons to the left side.

[2017-11-17 17:42] terracoda commented on #320
Starting a consolidated issue on the a11y-research repo.

[2017-11-17 19:43] emily-phet commented on #320
@terracoda @arouinfar
- I just asked around to some folks who hadn't seen this before. It does seem that the text left/image right seems to be more understandable. @arouinfar can you make a quick version where the text is to the left, and the images are on the right, but the images are right aligned?

One concern I have is that when the text is translated, we could run into layout issues with havi

[2017-11-17 19:52] jessegreenberg commented on #328
@zepumph thanks for catching this! I went with a whitelist for now in the above commit, unable to reproduce the bug.

This is a great idea, this should definitely be done if these functions are going to stick around. They have been very helpful for managing really long string patterns and punctuation with several placeholders.

But they could be bad news for i18n, and maybe a different pattern wou

[2017-11-17 19:52] #328 closed

[2017-11-17 20:19] jessegreenberg opened #329 "How to manage very long string patterns"
Form #328, For a11y @zepumph noticed that this sim is using a function called `stripPlaceholders` to manage very long string patterns such as
[code]

Depending on sim state, some information needs to be removed.  I need a string pattern for
- `'Grabbed. {{location}} {{balloonCharge}} {{inducedCharge}} {{positiveCharge}} {{objectCharge}}',`
- `'Grabbed. {{location}} {{balloonCharge}} {{inducedCharg

[2017-11-17 20:28] jessegreenberg commented on #318
Thanks for reopening @terracoda. It seems like the main bug is that we never hear "a few" charge range, it repeats 1-3 until we hit "several" charge range. I think fixing that bug will produce the desired behavior in https://github.com/phetsims/balloons-and-static-electricity/issues/318#issuecomment-345283821.

[2017-11-17 21:04] jessegreenberg commented on #318
Above commit makes sure that the "a few" range can be described. The problem was that we entered a new threshold range at the same time we picked up charges on entering the sweawter, so we were prioritizing alert 1-1 over alert 1-5.  Here is a walk through of the behavior now:
- Balloon is grabbed
- Balloon is off sweater
- Grabbed balloon moves onto sweater, picking up 3 charges *AND* enters the

[2017-11-17 21:06] jessegreenberg commented on #329
One downside of this for i18n is that  translator cannot change order of alerts depending on context. Maybe a translator would want to have

[code]

Which isn't supported by `stripPlaceholders`

[2017-11-18 04:08] terracoda commented on #318
Yes, missing "a few" is the main bug. That seems perfect! I'll have a listen as soon as I can.

The second part of the bug was that I only got alert 1-5, after the "several" threshold was met.

[2017-11-20 17:25] terracoda commented on #320
@emily-phet, @arouinfar mocked things up over in https://github.com/phetsims/a11y-research/issues/62.

Can you comment there?

[2017-11-20 17:56] terracoda commented on #318
@jessegreenberg, I think your fix has fixed both issues. I still have to do a proper test with VO, but I think the alerts are correct now. I can close the issue after testing tomorrow with my regular computer.

[2017-11-21 13:35] terracoda commented on #318
@jessegreenberg, awesome work. The sweater alerts are fixed. I just tested in Mac OS 10.13.1 High Sierra with Safari 11.0.1

Closing this issue.

[2017-11-21 13:35] #318 closed

[2017-11-21 13:52] terracoda opened #330 "Investigate why does the checkbox label repeat twice in BASE?"
As stated in issue #322, I hear the Two-balloon experiment label twice.

I do not know why.

1. Is this normal behaviour for a checkbox with an associated label?
2. Could it be due to order? Should the label come first?
3. Could it be due to the extra div wrappers?
4. Would using an `aria-label `attribute remove the repetition on a visually  unlabeled checkbox?

[2017-11-21 13:59] terracoda opened #331 "Do we need a smaller threshold for diagonal movement?"
From #322, I am wondering if the experience would benefit from a lower threshold to trigger Diagonal movement descriptions on releases.

They diagonal descriptions are working great for releases on Sweater!

Just wondering if we more detail for releases where the balloon travels across the Play Area.

[2017-11-21 14:18] terracoda opened #332 "Best phrase for describing induced charge on releases that end at wall."
From #322
@terracoda to double check design documentation, making sure induced charge phrase is clearly indicated in the design documents for release interactions.

When clear @terracoda with assign to @jessegreenberg

Release alert: Use very simple induced charge pattern for releases that end at wall. Specifically, the Induced charge dragging (generic) pattern.

[2017-11-21 14:21] terracoda commented on #322
@jessegreenberg for the remaining items, I have created new issues, so I will close this one, and assign new issues to you when I have the design documentation ready.

[2017-11-21 14:21] #322 closed

[2017-11-21 16:34] jessegreenberg commented on #330
@terracoda for reference, here is the HTML for this checkbox now:

[code]

[2017-11-21 16:54] terracoda opened #333 "Add "interactive sim" content to Scene Summary"
Update Scene Summary to include the cue that tells the user that the sim is interactive and that descriptions will change as they play.

**Specifically from design document:**

[2017-11-21 21:48] jessegreenberg commented on #320
Since we have come to decisions about the dialog layout in  phetsims/a11y-research#62, I think we are ready to  continue here. @terracoda @arouinfar can you please update this issue with the new look for the dialog after working through the general issue?

[2017-11-21 22:54] arouinfar commented on #320
Here's a mockup of the BASE dialog following the style decided upon in https://github.com/phetsims/a11y-research/issues/62. I've kept the General Navigation section aligned with the jump keys as @terracoda suggested earlier.

![image](https://user-images.githubusercontent.com/8419308/33100939-79a2f8dc-ced3-11e7-846f-9d4d88d3f03e.png)

[2017-11-21 23:12] jessegreenberg commented on #320
Looks great @arouinfar, thanks. It looks like we will need a way to align keys of different groups of help content, since "Space or Enter" icon needs to aling with "Tab" icon.

[2017-11-22 17:09] terracoda commented on #333
@jessegreenberg, I tried to make this update myself, but I don't think I am pulling the right stuff from GitHub.

Could you please update the introductory static sentences to the Scene Summary?

[2017-11-22 17:17] jessegreenberg commented on #333
Sure, done in the above commit, here it is in the a11y-view. Reassigning back to you @terracoda.
![capture](https://user-images.githubusercontent.com/6396244/33140825-63548492-cf6e-11e7-95a5-746d1a017075.PNG)

[2017-11-22 17:18] terracoda commented on #333
Awesome, thanks. Closing this issue.

[2017-11-22 17:18] #333 closed

[2017-11-22 18:39] terracoda commented on #320
Looks great @arouinfar, but with the new column layout for the controls, it might look better with all the Grab and Move content on the left side. Here's a whipped up example. Could you move the Move section back under the Grab and Release section. That should prevent the Space and Enter keys from looking like they are drowning in a sea of blue.

Add sufficient heading spacing, my mock-up is very

[2017-11-22 18:45] terracoda commented on #320
@arouinfar assigning back to you for one more go. Hopefully, the last one. Do you thinking moving the Move and Jump stuff back over to the left side works better?

[2017-11-22 19:21] terracoda opened #334 "Alert corrections for moving balloon around"
Testing on Mac High Sierra,  Safari 11 and VO

While moving the balloon around, I noticed the following related issues:
**Moving and Jumping Balloon Around**
- [x] Jump to wall alert (show all charge): extra periods at end of sentences. "At wall..Negative charges in wall move away from Yellow Balloon a little bit.."
- [x] Hear "Near Near right edge.l" when wall is removed and moving past Near righ

[2017-11-22 20:05] terracoda opened #335 "Corrections to punctuation in strings"
Sweater Rubbing Alert, found one minor issue.
- [x] Extra periods in Sweater rubbing alert 2-3 (last charge picked up) in Show charge differences view:
  - "Sweater has positive net charge, showing all positive charges..Yellow balloon has negative net charge, showing many negative charges.."

Found the following minor punctuation issues while reading through an changed PDOM with cursor keys:
- [x]

[2017-11-22 20:09] terracoda commented on #330
Thanks. I will review it and see if I can figure out why the label repeats :-)

[2017-11-22 23:00] arouinfar commented on #320
@terracoda, I think it flows a bit better if the Grab and Move sections are in the same column, even if the dialog does end up a bit larger. I've added a bit more negative space between the Grab and Move sections, but otherwise, your mockup was pretty spot-on. :)

<img width="861" alt="screen shot 2017-11-22 at 3 56 55 pm" src="https://user-images.githubusercontent.com/8419308/33153253-3ae40df4-cf

[2017-11-22 23:43] terracoda commented on #320
Awesome @arouinfar!

[2017-11-22 23:48] terracoda commented on #320
Oh @jessegreenberg , one text issue with the visual mock-up.
- "Jump close to wall", should be "Jump to wall"

[2017-11-22 23:49] arouinfar commented on #320
Good catch @terracoda. Thanks!

[2017-11-22 23:50] arouinfar commented on #320
I updated the mockup in https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-346495639 to fix the typo.

[2017-11-22 23:53] terracoda commented on #320
@arouinfar, you are quick as lightening!

And for the non-visual environment, I need to switch around the Jump phrases, so they read like this:
- Jump close to sweater with J plus S key.
- Jump to wall with J plus S key.
- Jump to near wall with J plus N key.
- Jump to center with J plus N key.

I think all the other text in comment https://github.com/phetsims/balloons-and-static-electricity/issue

[2017-11-30 20:23] terracoda opened #336 "Combined induced charge assigned to a grabbed balloon"
Induced charge amount "a little bit" becomes "a lot" when balloons overlap.

<img width="877" alt="base-induced-charge-a-little" src="https://user-images.githubusercontent.com/1902116/33452403-ae2b0b7e-d5ec-11e7-9fd3-a97c7a11d00d.png">
<img width="871" alt="base-indiced-charge-a-lot" src="https://user-images.githubusercontent.com/1902116/33452411-b29d01a8-d5ec-11e7-8cab-732bfaf0fd25.png">

To addr

[2017-12-01 21:39] jessegreenberg opened #337 "Enhanced release alerts"
To track progress in  implementing the updated a11y designs listed in

https://docs.google.com/document/d/1axeAHQZvx6lOpcSywRYvAFvs3xJrMA5vcXkA-AJTnhs/edit#

[2017-12-01 21:59] jessegreenberg commented on #337
Mostly done in the above commit. This sounds very cool! Usually we don't here that the balloon is moving through the center of the play area because it isn't in that landmark for long enough, even with only one charge.

Current logic is every 3 seconds or so, we say "Moving {{direction}}." or "Moving {{direction}}. {{location}}." if balloon in a landmark. So we hear the movement progress more clea

[2017-12-01 22:18] jessegreenberg commented on #337
I tried the change, but didn't like it very much because the alert happened too frequently when it entered landmarks around the sweater.

[2017-12-01 22:41] jessegreenberg opened #338 "Velocity can grow indefinitely while balloon isn't moving"
Found while workign on #337. When the balloon is 'stuck' to the wall (or maybe repelled by the other balloon so it can't move toward sweater), the velocity grows every animation frame.

[2017-12-01 22:43] jessegreenberg commented on #338
Seems to be specifically the y component of velocity.

[2017-12-01 22:47] jessegreenberg commented on #338
No, it looks like both can grow.

[2017-12-01 23:04] jessegreenberg commented on #338
Comparing a Vector2 to zero.
[code]

[2017-12-01 23:07] #338 closed

[2017-12-02 00:22] jessegreenberg commented on #337
@terracoda I think everything from "Release Movement 4 Complex Path Descriptions" doc is implemented, could you please review?

[2017-12-02 00:32] jessegreenberg commented on #337
On slack @terracoda said

Does this mean only use landmarks and not have a delay?

[2017-12-04 19:24] jessegreenberg commented on #337
Over slack @terracoda said:

[2017-12-04 19:36] jessegreenberg commented on #337
Done in the above commit @terracoda could you please review at your convenience?

[2017-12-04 19:37] terracoda commented on #337
Thanks @jessegreenberg, since you are so speedy, I will review now.

[2017-12-04 19:44] jessegreenberg commented on #337
Balloon wasn't announcing when it was on the sweater in independent movement, above commit fixes that.

[2017-12-04 19:57] terracoda commented on #337
@jessegreenberg, on VO it sounds very good when velocity is slow (i.e., when alerts do not get interrupted).  Let me if there is a velocity threshold implemented and I will listen more in the morning.

[2017-12-04 19:58] terracoda commented on #337
Awesome work, btw.

[2017-12-04 20:03] jessegreenberg commented on #337
Thanks @terracoda!

I don't  see this listed in the design document, is there an example of this somewhere?

[2017-12-05 15:10] terracoda commented on #337
@jessegreenberg, I just wanted to verify that you were just using the timer approach (approximately every 3 seconds) and nothing else to determine when alerts are announced/released.

[2017-12-05 16:50] jessegreenberg commented on #337
Sorry that is not how I interpreted this:

Right now it works like this,  so
- Every ~3 seconds, we hear "Moving {{direction}}."
- We always hear "{{Moving {{direction}}. {{Landmark location}}." when the balloon enters a landmark on its own. This resets the timer.

[2017-12-05 19:38] terracoda commented on #337
Thanks @jessegreenberg, that description is very clear.

[2017-12-07 16:42] terracoda opened #339 "Visual Grab and Release sticking around in two-balloon experiments"
Visual move cue (Space to Grab and Release) when two balloons are active is sticky. The visual cue does not disappear when the WASD keys and arrows appear. It usually only disappears once the balloon is release, but can stick around longer.

It should disappear once grabbed and the WASD/Arrow keys cue shows up. This works fine in single balloon experiments.

<img width="902" alt="screen shot 2017-

[2017-12-07 16:44] jessegreenberg commented on #339
Thanks @terracoda! Ill look into it.

[2017-12-08 13:38] terracoda commented on #337
@jessegreenberg, would I be able to try a version that does not include the timer reset.

[2017-12-08 14:37] terracoda commented on #337
@jessegreenberg, we definitely need a velocity threshold for the Release movement 4 (RM4 pattern) to be triggered. RM4 pattern is only meant for velocities slowly, very slowly, extremely slowly.

There is not time for continued movement phrases and changes in directions when the balloon is moving quickly or very quickly.  Diagonally movement phrase captures some interesting release paths.

[2017-12-09 00:12] jessegreenberg commented on #339
The blur event isn't happening on the green balloon, but it is on the  yellow balloon.

[2017-12-09 00:13] jessegreenberg commented on #339
I guess it is, just not on the first time the green balloon is picked up.

[2017-12-09 00:40] jessegreenberg commented on #339
Caused by moving the dragged balloon to the front.

[2017-12-11 14:27] emily-phet commented on #331
@terracoda can we talk about this tomorrow?

[2017-12-11 14:31] terracoda commented on #331
@emily-phet, yes, that is not a problem. I consider this issue a design tweak, and not a huge prioroty.

Until all the alerts (specifically, balloon movement alerts) are clearly labeled and implemented, it is difficult to say exactly where improvements would be most beneficial.

[2017-12-11 19:22] jessegreenberg commented on #339
@terracoda should be fixed in the above commit.

[2017-12-11 19:22] #339 closed

[2017-12-11 19:23] jessegreenberg commented on #337
Understood, thanks @terracoda.

[2017-12-12 18:44] terracoda commented on #337
@jessegreenberg, I think there was a velocity threshold when we were using "Still moving".

Is limiting the RM4 pattern to velocities that start out as "slowly", "very slowly", "extremely slowly" workable?

[2017-12-13 06:35] jessegreenberg commented on #336
This is actually physically correct, right? When the balloons overlap, the charge description *should* be "a lot".

I have no issue with using [[each balloon]] when balloons overlap.

[2017-12-13 06:44] jessegreenberg commented on #334
When we are in a landmark location, we aren't getting any location alerts.

[2017-12-13 06:56] jessegreenberg commented on #334
The above commits fix this, thanks for finding @terracoda.

[2017-12-13 06:56] #334 closed

[2017-12-13 15:39] terracoda commented on #336
@jessegreenberg, the issue is that, the user has the green balloon grabbed, but gets no information (yet) of the whereabouts of the ungrabbed balloon. The amount of deflection is a combined effect.

I was thinking this issue could be solved in either of two ways with  a proximity description and adjustments to balloon and charge descriptions. For example, I considered both these approaches:
1. "At

[2017-12-13 16:14] terracoda opened #340 "Release alert at wall has inconsistant description of charge deflection"
On grab and rubbing, deflection is described as being "a little bit", but on a release that begins with moving down the wall and ends at bottom right corner, the deflection is described as "In lower wall, no change in charges."

Here are two screen shots with the same amount of charge on the Green Balloon.
On Grabbed we have "a little bit" of deflection
<img width="946" alt="base-grabbed-a-little-

[2017-12-13 16:20] terracoda commented on #340
@jessegreenberg, please note that I have have an issue https://github.com/phetsims/balloons-and-static-electricity/issues/332 assigned to myself to clarify the documentation which I have not yet marked as completed.

If you have any questions, please do not hesitate to ask.

The deflection issue above seems to be something to do with the model and not the design documents, but I just wanted to men

[2017-12-13 18:15] jessegreenberg commented on #336
I understand now @terracoda thanks for clarifying. I personally prefer option 2 because I think it is more physically accurate.

[2017-12-13 18:29] terracoda commented on #336
@jessegreenberg, as I said in slack, I'll have to update the design documentation to change the perspective to a combined two-balloon effect on induced change rather than an individualized balloon effect on induced charge. This hopefully will be way more efficient.

Just let me know before you get to this.

[2017-12-13 18:35] jessegreenberg commented on #335
Fixed in the above commits, closing.

[2017-12-13 18:35] #335 closed

[2017-12-13 19:09] jessegreenberg commented on #340
Thanks @terracoda, fixed in above commit. Now alert is something like

Closing.

[2017-12-13 19:09] #340 closed

[2017-12-13 19:46] jessegreenberg commented on #337
This change was made in the above commit, so now the behavior is:

- If balloon moves slowly initially on release:
  - Every ~3 seconds, we hear "Moving {{direction}}."
  - We always hear "{{Moving {{direction}}. {{Landmark location}}." when the balloon enters a landmark on its own. This resets the timer.

@terracoda could you please review?

[2017-12-14 23:55] jessegreenberg commented on #336
@terracoda since approach/return alerts are done I could work on this soon.

[2017-12-15 01:12] jessegreenberg commented on #337
I found it wasn't working very well in master, above commit fixes a bug with this.

[2017-12-15 01:14] jessegreenberg commented on #337
IMO it still feels like the RM4 alerts happen too often. Maybe they should only be heard if released "extremely slowly"? Or maybe we should change the ranges for when the balloon is considered to be moving "slowly"? Just thoughts for review @terracoda, let me know what you think.

[2017-12-15 14:52] terracoda commented on #252
Induced charge descriptions and alerts are now implemented. I am closing this issue.

[2017-12-15 14:52] #252 closed

[2017-12-15 15:07] terracoda opened #341 "Incorrect induced charge dragging alert when jumping to center or near wall, then moving left"
@jessegreenberg, awesome work on implementing Induced charge dragging alerts.

One adjustment needed when jumping to center or to near wall with JC and JN hot keys.

In these interactions, it is best to use the Induced charge dragging (generic) pattern. This pattern contains no description for the amount of deflection in order to not confuse descriptions of deflection if further dragging towards o

[2017-12-15 15:29] terracoda commented on #332
Actually, an induced charge description that includes the deflection amount whenever a balloon is actually at the wall is more accurate. Induced charge dragging (generic) is not the right pattern for a simple induced charge description for a releases that end at the wall.

[2017-12-18 13:29] terracoda commented on #337
@jessegreenberg, that was my original idea..."only for extremely slowly."

Let me have another listen. During my last listen, I also thought it was too chatty, and in VO that means a lot of interruption.

[2017-12-18 14:48] terracoda commented on #337
The Release Movement 4 pattern works really well when one balloon has very little charge:
<img width="982" alt="base-rm4_alerts-sound-good-here" src="https://user-images.githubusercontent.com/1902116/34111715-1e12ade2-e3e5-11e7-8a5e-98b0d320e1a3.png">

[2017-12-18 15:01] terracoda opened #342 "Induced charge description spoken when there is no wall is present"
The induced charge portion of the descriptions needs to be suppressed (turned off) in all cases when there is no wall present. I found the following examples:

Grab Alert when there is no wall
<img width="1041" alt="base-grab-alert-get-induced-no-wall" src="https://user-images.githubusercontent.com/1902116/34111949-bbccda62-e3e5-11e7-8f31-9ec67ab155f9.png">

Jump to alert when there is not wall:
<

[2017-12-18 16:13] terracoda commented on #337
And Release Movement 4 pattern works well with a few more charges as well, but there is no final "Release ending phrase" when the balloon either is released or moves independently and movement stops against the right edge when there is no wall present.

See the difference in the examples:

**Release ending at wall contains Release ending phrase**
<img width="974" alt="base-release-ending-at-wall"

[2017-12-18 17:20] jessegreenberg commented on #342
Thanks @terracoda, fixed in the above commits.

[2017-12-18 17:20] #342 closed

[2017-12-18 17:34] jessegreenberg commented on #341
@terracoda, done in the above commit. The result is that when a charged balloon jumps to [near] wall, then to center, it might sound like this:

- [[Near wall]]. Negative charges in [[upper wall]] move away from [[Yellow balloon]].
- At [[center]] of Play Area. Negative charges in [[upper wall]] move away from [[Yellow balloon]].

Even though in the second jump charges returned a bit. Is this OK?

[2017-12-18 17:57] terracoda commented on #341
@jessegreenberg, excellent point.
Unless we can keep track of the number of jumps, I think it might be best to think of a jump as a new starting point of dragging interaction.

[2017-12-18 18:47] jessegreenberg commented on #337
Sounds good @terracoda, changes for https://github.com/phetsims/balloons-and-static-electricity/issues/337#issuecomment-352474399 made in the above commit. Any time velocity stops (whether or not balloon hits wall), we hear [[String: Balloon name]], [[String: Location]].

[2017-12-18 18:47] jessegreenberg opened #343 "References to wall while it is invisible"
I noticed this crept in while working on #337, during independent movement, sometimes the balloon is being described as 'near wall' when it is invisible.

[2017-12-18 19:04] jessegreenberg commented on #343
Above commit fixes this

[2017-12-18 19:04] #343 closed

[2017-12-18 19:10] jessegreenberg commented on #341
Hmm, I am not thrilled about counting number of jumps. But one thing we could do is use the same change in induced charge description, so it would sound like

- JN: [[Near wall]]. Negative charges in [[upper wall]] begin to  move away from [[Yellow balloon]].
- JC: At [[center]] of Play Area. Negative charges in [[upper wall]] begin to return.

[2017-12-18 19:36] terracoda commented on #341
@jessegreenberg, actually using the "begin to move way" seems like a better starting description, but would that work if user starts off dragging and then jumps? For example:

User is dragging balloon right:
- On [[upper-right side]] of play area. Negative charges in [[upper wall]] begin to move away from yellow balloon [[a little]].
And then they jump with JN:
- Near [[upper wall]]. Negative char

[2017-12-18 21:31] terracoda commented on #336
@jessegreenberg, I have updated the section in the design document that covers the Show all charges view. The alerts are much shorter.

I am still updating the Show charge differences view. There is no induced charge effect for that view, so the situation is a little different.

The primary view, "Show all charges" is way better now.

[2017-12-19 16:41] terracoda opened #344 "Wall's dynamic description in PDOM, minor punctuation change"
I noticed two minor punctuation issues in the Wall's dynamic description while exploring with the A11y View today from PhET Test.

- In PDOM, on page load, the Wall's dynamic description needs a period at the end.
  - "At right edge of Play Area. Has zero net charge, many pairs of positive and negative charges"
- In PDOM, when both balloons have negative charge and are at the wall, the Wall's dyna

[2017-12-19 20:42] terracoda commented on #336
@jessegreenberg, I have updated the design document for All charge views, of course, Show no charges is not affected at all.

I think Proximity Phrase for against the wall are ready for implementation.

[2017-12-19 20:45] terracoda commented on #336
I am unassigning myself.

[2017-12-19 21:09] terracoda commented on #336
@jessegreenberg, due to this change, I have to review the proximity phrases in the other sections. I like the describing proximity at the wall because of the combined induced charge effect.

I am now not sure if we need proximity phrases everywhere.

[2018-01-04 21:20] terracoda commented on #336
@jessegreenberg, I think I was a little unclear in my previous comment posted on Dec 19th.

The Proximity Phrases for against the wall are indeed ready for implementation with one remaining question. The examples in the design document for _Show all charges_, _Show no charges_, and _Show charge differences_ were all updated.

Just noting here that the descriptions are now much shorter in the main

[2018-01-05 15:45] terracoda commented on #336
**To contrast visually with Show all charges**
In Show all charges view, the **sum of charges** will be used to describe the amount of deflection in the wall:
Case 1 with Show all Charges view: Each balloon has a few negative charges totaling "several charges", so the description of the deflection is described as "Negative charges in wall move away from balloons a lot."
<img width="525" alt="show-

[2018-01-05 19:46] jessegreenberg commented on #288
This can be closed, latest testing has shown performance is OK,  and improvements will be tracked in scenery.

[2018-01-05 19:46] #288 closed

[2018-01-05 19:47] jessegreenberg commented on #283
@emily-phet reviewed and gave a 👍 closing.

[2018-01-05 19:47] #283 closed

[2018-01-05 19:48] jessegreenberg commented on #181
Adding high priority label to test and determine if this is still an issue.

[2018-01-05 19:50] jessegreenberg commented on #113
As a general pattern we have since decided that focus will disappear after interaction with a mouse so this issue can be closed.

[2018-01-05 19:50] #113 closed

[2018-01-05 19:51] jessegreenberg commented on #223
Alerts are now hidden after announced and cannot be found with the virtual cursor so this issue is stale and can be closed.

[2018-01-05 19:51] #223 closed

[2018-01-05 19:51] jessegreenberg commented on #308
@terracoda is this still a question and are we still waiting for feedback?

[2018-01-05 19:52] jessegreenberg commented on #91
I am not sure if this is still an issue, I will  try to reproduce the problem.

[2018-01-05 19:53] jessegreenberg commented on #84
Ill make sure this is done everywhere, if it hasn't already.

[2018-01-05 19:55] jessegreenberg commented on #81
I will see if I can reproduce the problem.

[2018-01-05 19:56] jessegreenberg commented on #81
@emily-phet and @jessegreenberg tried to reproduce the problem and could not. Closing.

[2018-01-05 19:56] #81 closed

[2018-01-05 19:57] terracoda commented on #308
@jessegreenberg, I will check again with screen reader consultant.

[2018-01-05 20:08] terracoda commented on #308
@jessegreenberg, if I do not hear back, we can watch for issues in RC testing.

[2018-01-05 21:28] terracoda commented on #336
Decision: keep it simple and consistent when possible.

In Jan 5th A11y meeting, EM suggested that we just go with no special cases (no shorter combined descriptions when objects have similar negative net charge) in Show charge differences.

The only special case now in Show charges differences is when both balloons have zero net charge. Please see design document.

I still am still reviewing/upda

[2018-01-07 20:55] emily-phet commented on #275
Sounds good to me, I’m closing... we’ll likely just start a new issue stating the specific problem we’ve encountered if there is an issue from users.

[2018-01-07 20:55] #275 closed

[2018-01-08 14:30] terracoda commented on #308
@jessegreenberg, consultant generally uses "Automatic".

I am asking some follow-up questions and will report more here asap.

[2018-01-08 16:15] terracoda commented on #336
@emily-phet, the decision to not use a combined description in the case of dragging in Show charges differences may affect my earlier design of a combined approach in the Grab Alert for Show all charges.

@emily-phet, can we discuss?

[2018-01-08 17:10] emily-phet commented on #336
Sure - let's talk about this on Tuesday in our meeting.

[2018-01-08 17:42] terracoda commented on #336
@jessegreenberg, you said

Yes, let's do that. Sorry I missed your https://github.com/phetsims/balloons-and-static-electricity/issues/336#issuecomment-351872282

[2018-01-08 20:11] terracoda opened #345 "Induced Charge Approach & Return descriptions when 2 balloons are active has some issues"
Issues around location of balloon and the sum of applied force from both balloons have been found.

- "Negative charges in center of play area move away from yellow balloon." When charged green balloon is wall and yellow balloon is jumped to center.
- "Negative charges on sweater move away from yellow balloon." When charged green balloon is wall and neutral yellow balloon is being moved around nea

[2018-01-11 01:48] terracoda commented on #345
Awesome work, @jessegreenberg!

I no longer hear the strange and erroneous induced charge alerts when 2 balloons are in the Play Area with one against the wall. For example, I don't hear:
- any induced charge descriptions interrupting sweater while rubbing alerts
- anything like, "Negative charges on sweater (or in center of Play Area) move away from yellow".

The Approach & Return phrases, vertic

[2018-01-11 01:48] #345 closed

[2018-01-11 02:54] terracoda commented on #336
@jessegreenberg, Approach & Return alerts are great!

@emily-phet and I discussed the Jan 5th decision, and since I took a combined approach in other views and in other alerts, i.e., the Grab Alert, the special case, "[[each]] showing [[x amount]] of negative charges", presented above for Show all charges seems aligned with other special cases.

I'd like to keep these special cases that use "each"

[2018-01-15 15:01] terracoda opened #346 "What is needed to get styled dynamic descriptions into A11y View for BASE?"
@jessegreenberg, I am wondering what is needed to get the styled dynamic descriptions into BASE's A11y View, similar to the dynamic descriptions in Ohm's Law A11y View.

Could I add the necessary HTML code myself in the A11y content files?

[2018-01-17 17:52] jessegreenberg commented on #346
@terracoda I think in https://github.com/phetsims/a11y-research/issues/67 we decided that dynamic strings that need to be styled in the a11y view need to be wrapped with <i> tags with  string formatting in the sim (so the `<i>`'s aren't translatable). We would have to go through and do this for all string patterns in BASE. Is this something you would like me to do, and what is the priority?

[2018-01-18 14:31] terracoda commented on #346
@jessegreenberg, I was wondering if it might be easier for me to do it once I am finished the last two description issues.

It is not high priority, me finishing descriptions is the highest priority.

[2018-01-18 14:53] terracoda opened #347 "Unintended "no change in charges" firing during rubbing on sweater."
Things @terracoda Dev version 9 Mac OS Safari:
-  [ ] When rubbing on sweater - Extra unintended alert interrupting rubbing: "In upper arm, no change in charges." It might be related to confusion in the model about induced charge. The unintended alert only happens when there are two balloons in Play Area.

[2018-01-18 16:29] terracoda commented on #337
Seems to work well in dev version 9. Closing issue.

[2018-01-18 16:29] #337 closed

[2018-01-18 21:56] jessegreenberg commented on #346
I think this issue is dependent on progress in https://github.com/phetsims/a11y-research/issues/60, and the only change to the a11y view will be to change the CSS from styling `em`s to styling `i`s. Otherwise changes will need to happen in sim code,  or maybe a combination of scenery and chipper. I remember in an a11y meeting a while ago, @zepumph had a nice idea of how to generalize this, but I

[2018-01-18 22:23] jessegreenberg commented on #346
I added some notes in https://github.com/phetsims/a11y-research/issues/67 about what I think is needed to get styling in the a11y view, it might be good to have a meeting at some point to discuss if the cons in that list are acceptable.

[2018-01-19 13:21] terracoda commented on #346
Thanks @jessegreenberg for posting in the phetsims/a11y-research#67 . I'll close this issue as we figure out a more general solution to adding <i> tags.

[2018-01-19 13:21] #346 closed

[2018-01-20 14:37] terracoda commented on #341
@jessegreenberg, I'll have a listen to latest version and get back to yo on this.

The nice thing about the generic "Negative charges in [[wall]]  move away from [[Yellow balloon]]" is that it is always true if there is a positive  induced charge effect.

The finer details about moving away and returning might just have to be explored during direct interaction.

[2018-01-20 14:51] terracoda opened #348 "Need simple induced charge description when release starts and ends at wall"
Dec version 9. Mac OS Safari and Voice Over.

During my latest testing I noticed that that the **[+ Induced charge (simple)]** pattern has been implemented to the end of releases that end at the wall after some movement. And sounds great!

However, for releases that start and end at the wall resulting in  no movement, the user does not get the induced charge description at the end.

Originally, th

[2018-01-20 19:23] terracoda opened #349 "Labels for balloon movement in two-balloon scenarios"
Currently, it is a little difficult to figure which balloon path is being described in releases and independent movement during two-balloon scenarios.

To address this design problem we will try peppering in two more labels into the existing alert system.

If possible, these two extra labels should just be added when there are two balloons added to the play area. I have updated Section 4 Interacti

[2018-01-30 16:09] terracoda commented on #347
I noticed this right after you fixed induced charge in the model.

[2018-01-31 15:09] terracoda commented on #336
The "each" string is used in Wall Rubbing for show charge differences, the Grab Alert, and in the Scene Summary.

@jessegreenberg and discussed (Jan 30), where this string is used and all cases seemed quite doable.

[2018-01-31 17:22] terracoda opened #350 "Scene Summary Structure"
At our Jan 30th meeting regarding the Scene Summary, @jessegreenberg, asked if I could provide the HTML structure for BASE's Scene Summary.

I will provide the basic structure and a few examples of the structure populated with static and dynamic content.

[2018-01-31 17:37] terracoda commented on #350
**Basic Structure & Content on Page Load**
[code]

[2018-01-31 17:39] terracoda commented on #350
More examples to come, once content is finalized.

[2018-02-02 00:55] jessegreenberg commented on #350
Thanks @terracoda that is really helpful.

[2018-02-02 16:13] terracoda opened #351 "Design Questions for Scene Summary"
**Pedagogical & Design Questions for @emily-phet**
We didn't get a chance to discuss this in our meeting this week, so I am making an issue that you can comment on.

I have 2 remaining design questions for the Scene Summary. These questions are also in the Two-balloon Design document in [Section 6 Scene Summary](https://docs.google.com/document/d/1LrOWT4RZiS4emrumW479POK--zWveWiylZMd7unNyi0/edit#h

[2018-02-02 16:15] terracoda commented on #351
@emily-phet, if you prefer I ask @ariel-phet, I can assign him instead.

[2018-02-02 18:11] terracoda commented on #350
**After Interaction**
After interaction, only the items in the list change. I refer to these items as:
- 3A: State of the room
- 3B: Balloon charge information
- 3C: Sweater and Wall charge information
- 3D: Induced charge information (if present)

[code]

[2018-02-02 18:32] terracoda commented on #351
At A11y Design meeting Feb 2, @emily-phet said answered the above questions.

We will go with "pairs of charges" for neutral objects in the Scene Summary, and only item 3A when Show all charges is checked.

Closing this issue, @ariel-phet, no need to reply.

[2018-02-02 18:32] #351 closed

[2018-02-02 18:42] terracoda commented on #258
Some how my list disappeared??

[2018-02-02 19:58] terracoda commented on #350
@jessegreenberg, there are other examples in the table (i.e., how the dynamic list items change) in the design document for Show all charges and Show charges differences.

For Show no charges, the Summary would look like this:

**Basic Structure & Content on Page Load**
[code]

**Wall removed**
[code]

**Two charged balloons**
[code]

[2018-02-02 20:00] terracoda commented on #350
@jessegreenberg let me know if you need anything else. Please ask if you have any questions.

I'm un-assigning for now.

[2018-02-02 20:55] terracoda commented on #320
@jessegreenberg, ready for implementation, and unassigning myself.

[2018-02-06 23:56] jessegreenberg commented on #350
@terracoda updates to the summary is complete with the above commits! Closing this issue, so specific review comments can be opened in new ones.

[2018-02-06 23:56] #350 closed

[2018-02-07 14:14] terracoda commented on #350
@jessegreenberg, just tested Scene Summary. It sounds great!

[2018-02-07 15:03] terracoda commented on #258
I am closing this issue.

[2018-02-07 15:03] #258 closed

[2018-02-07 15:38] terracoda commented on #331
@emily-phet, I have converted this issue into a project card and will re-open if needed after further testing.

Closing this issue for now.

[2018-02-07 19:50] terracoda commented on #341
@jessegreenberg, we'll need some tweaks to these Jump and dragging alerts for induced charge.

I'll put this on my TO Do list.

Things I noticed today (Feb 7) are:
1. Jump to Near wall, and then move left and I hear "return a little more" instead of "begin to return"
2. Jump to wall, hear Induced charge (generic) and then drag left and hear  "return a little more" instead of "begin to return"
3. J

[2018-02-07 19:55] terracoda commented on #336
@jessegreenberg, I am un-assigning myself. Combined induced charge descriptions and the special cases for all views is laid out in [Section 3A of Two-balloons Scenarios](https://docs.google.com/document/d/1LrOWT4RZiS4emrumW479POK--zWveWiylZMd7unNyi0/edit#heading=h.8p3z1ub0ptku)

[2018-02-07 20:04] terracoda commented on #308
@jessegreenberg, I haven't heard back, so I think I will close this issue and see if the problem resurfaces at some point.

[2018-02-07 20:04] #308 closed

[2018-02-08 17:19] pixelzoom opened #352 "branch: accessibility-mixin"
Identified by `print-branches.sh`. Please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues.

[2018-02-08 17:20] pixelzoom opened #353 "branch: accessible-instance"
Identified by `print-branches.sh`. Please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues.

[2018-02-08 17:20] pixelzoom opened #354 "branch: alert-on-observation"
Identified by `print-branches.sh`. Please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues.

[2018-02-08 17:21] pixelzoom opened #355 "branch: drag-no-keyup"
Identified by `print-branches.sh`. Please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues.

[2018-02-08 17:27] jessegreenberg commented on #355
Thanks @pixelzoom this branch is quite stale and can be pruned.

[2018-02-08 17:29] jessegreenberg commented on #355
Deleted.

[2018-02-08 17:29] #355 closed

[2018-02-08 17:32] jessegreenberg commented on #354
This branch was stale, I deleted it. Closing.

[2018-02-08 17:32] #354 closed

[2018-02-08 17:32] jessegreenberg commented on #353
This branch was stale, I deleted it.

[2018-02-08 17:32] #353 closed

[2018-02-08 17:33] jessegreenberg commented on #352
This branch was stale, I deleted it. Thanks @pixelzoom.

[2018-02-08 19:40] terracoda opened #356 "Typo in string parameter for balloon description"
- [x] Typo in string parameter for balloon descriptions under balloon headings "{{zero}} more negative charges than positive charges."

This descriptions should be:
"{{no}} more negative charges than positive charges."

All other parameters for the balloon description seem fine.

[2018-02-08 20:38] terracoda opened #357 "Missing string "Positive charges do not move.""
Induced charge is in a lot of places and different in different places, too (sorry!) There will be a few issues about induced charge. For simplicity, I will keep them separate.

**Missing "Positive charges do not move."**
- [x] Please add, "Positive charges do not move." at end of induced charge description in Scene Summary, and
- [x] at the end of the Wall's Dynamic description.

I missed this st

[2018-02-08 21:43] terracoda opened #358 "Induced Charge during dragging and jumping needs changes for JC and JW"
**While Jumping to Center**
- [x] Incorrect string for wall in the alert:
I hear "At center of play area. Negative charges in {{center of play area}} move away from Yellow Balloon."

  - Should hear: "At center of play area. Negative charges in {{wall}} move away from yellow balloon."

**Sometimes while Jumping to Center then continuing closer to wall**
- I hear, "Negative charges begin to return"

[2018-02-09 17:02] terracoda commented on #358
@jessegreenberg, actually, let's just leave the "No transfer of charge" string as it is. It's not hurint anything.

I'll update the above comment to keep "No transfer of charge."

[2018-02-09 23:17] jessegreenberg commented on #358
Able to reproduce. Steps for me are
- Induce charge in wall, drag balloon close to wall.
- jump to center
- drag balloon towards wall

[2018-02-16 18:35] oliver-phet opened #359 "User suggestion: polarization of molecules in wall"

[2018-02-21 22:05] jessegreenberg commented on #358
@terracoda commits in this issue have addressed comments. Closing, but please let me know if you notice anything else.

[2018-02-21 22:05] #358 closed

[2018-02-21 23:05] jessegreenberg commented on #357
@terracoda this was done in the above commits. Closing.

[2018-02-21 23:05] #357 closed

[2018-02-21 23:25] jessegreenberg commented on #356
Done in the above commit, closing.

[2018-02-21 23:25] #356 closed

[2018-02-22 00:42] jessegreenberg commented on #349
@terracoda labels in two  balloon scenarios were added. It was not much extra work to only have the labels when both balloons were visible. Closing this issue!

[2018-02-22 00:42] #349 closed

[2018-02-22 14:05] terracoda commented on #359
There is no mention of "induced charge" in the descriptions, only movement. It is possible a visual change (if needed) will not affect description design.

@oliver-phet, does this issue need to be assigned to a content expert?

[2018-02-22 14:11] terracoda commented on #320
@jessegreenberg, do you think you could implement the accessible content for the keyboard shortcuts dialog next. I will need it to schedule interviews for this sim.

[2018-02-22 19:39] terracoda opened #360 "BASE: Implementation Guidance"
- [x] ping jesse re Keyboard Shortcuts dialog (#320)
- [ ] Several issues related to Induced charge
- [ ] Feasibility of Proximity Alerts (Next to phrases on alerts with location information)
- [ ] What else??

[2018-02-22 20:26] terracoda commented on #360
@jessegreenberg, this issue is meant to be helpful. I'd like to do some interviews with screen reader users and I need the the keyboard shortcuts dialog for interviews with screen reader users.

[2018-02-22 20:27] jessegreenberg commented on #360
Thanks for collecting @terracoda, I will prioritize these (especially the keyboard help dialog) this week. Do you have a timeline for screen reader user testing?

[2018-02-22 20:36] terracoda commented on #360
I have one confirmed for Monday, maybe 2, and maybe 1 Wednesday. But I know that is short notice, so don't stress out. There is a lot to explore, regardless.

[2018-02-22 20:37] jessegreenberg commented on #360
Good to know, thanks. I can have at least the keyboard help dialog done by before Monday.

[2018-02-22 20:38] terracoda commented on #360
That's awesome! Once you do that, if you could publish a dev version, that would perfect.

[2018-02-23 19:12] terracoda commented on #360
@jessegreenberg, I am going to try to add to the list above, but please reach out if you have questions.

[2018-02-24 00:22] jessegreenberg commented on #320
@terracoda help content has been updated, here it is in the a11y view:
![capture](https://user-images.githubusercontent.com/6396244/36622980-d90af610-18bd-11e8-97d9-7cc9d1d93b6e.PNG)

Dialog also now looks like the mockup in https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-346495639.  Here is a dev version, @arouinfar @terracoda could you please review?

Dev vers

[2018-02-26 16:45] arouinfar commented on #320
Looks great @jessegreenberg!

[2018-02-26 18:35] jessegreenberg commented on #320
Thanks @arouinfar and @terracoda. I recall a previous discussion where we decided to have the  close button last. I think ideally, the AT should read the dialog content in full  when it is open, so maybe we should also figure out why it isn't doing that?

[2018-02-26 18:37] jessegreenberg commented on #320
Here is the reason why the close button is last: https://github.com/phetsims/john-travoltage/issues/219

[2018-02-26 18:37] terracoda commented on #320
@jessegreenberg, I remember that conversation as well, and remember advising that the close button should go last.

[2018-02-26 18:42] terracoda commented on #320
@jessegreenberg, in my reading of phetsims/john-travoltage#219, I think the assumption was that there focus want placed on some focusable content before the close button.

Is that your reading as well?

[2018-02-26 18:55] jessegreenberg commented on #320
@terracoda I think the assumption was focus should go to the first focusable item in the dialog, and the close button should be last. For dialogs where the close button is the only focusable element, focus would go there.

I see there is a bug in KeyboardHelpContent preventing aria-describedby from being set on the Dialog content as it should be.

When this is fixed NVDA reads all content in the d

[2018-02-26 19:02] terracoda commented on #320
@jessegreenberg, thanks for checking. I think it does make sense for the close button to come last as long as the user hears the content at least once. If the hear the content and then end on the close button, it seems to me that it would be more intuitive to use the left arrow key to go back and re-read.

We should watch this carefully in interviews to find out how users are accessing the content

[2018-02-26 19:07] jessegreenberg commented on #320
Sounds good @terracoda, fixed in the above commit. If you decide it is best to have the close button first, just let me know. @terracoda anything else for this issue?

[2018-02-26 19:28] jessegreenberg commented on #348
Done in the above commit @terracoda, here is an example:

Closing this issue.

[2018-02-26 19:28] #348 closed

[2018-02-26 19:30] terracoda commented on #320
@jessegreenberg, I will review this change on PhET Test. Thanks and report back asap.

[2018-02-26 23:42] jessegreenberg commented on #336
@terracoda this was done in the above commits. Thank you so much for the detailed examples in the design document, that really helped. I still need to do the "Show charge differences case", Ill work on that against this issue as well.

[2018-02-26 23:45] terracoda commented on #336
Thanks, @jessegreenberg!

[2018-02-27 15:29] terracoda commented on #341
@terracoda to re-test. These issues may have been addressed.

[2018-02-27 16:01] terracoda opened #361 "Punctuation: Wall description in PDOM has extra period"
Need to remove extra period.
![screen shot 2018-02-27 at 12 30 34](https://user-images.githubusercontent.com/1902116/36739255-0c4105fc-1bba-11e8-96fb-fcd0ac76b9a5.png)

[2018-02-27 16:06] terracoda commented on #341
Pressing  A key or left arrow key should never trigger: "Negative charges in wall begin to move away from Yellow balloon."

[2018-02-27 16:29] terracoda commented on #341
@jessegreenberg, jumping then dragging is working pretty good.

I found 2 issues:
1. When I use JC or JN and then move left, I sometimes hear "Negative charges in wall begin to move away from Yellow balloon." This usually only happens after a single jump first then a move left.

2. One time after JC to center then a move up, I heard, "At center of Play Area. In wall, no change in charges." If you

[2018-02-27 16:35] terracoda commented on #348
Thanks @jessegreenberg. It sounds great.

[2018-02-27 17:01] terracoda commented on #336
@jessegreenberg, I found two issues while testing combiend induced charge and next to phrases for releases and dragging.

Show charges differences will have next phrases, but it won't be affected by induced charge descriptions.

[2018-03-07 14:28] terracoda opened #362 "Incorrect starting description of Wall"
While testing dev version 13, I noticed an extra phrase on the Wall's description.

https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.13/phet/balloons-and-static-electricity_en_phet.html?accessibility

Wall

The last string/phrase, _Positive charges do not move._ is only relevant when there is a positive induced charge effect. This string/phrase should not be

[2018-03-07 14:29] terracoda commented on #362
@jessegreenberg, let me know if yo have any questions.

[2018-03-07 20:33] terracoda commented on #320
@jessegreenberg, I think we might need to move the close button to the top of the dialog.
When I start reading with the arrow keys, my focus goes from close button to end of list.

In an interview, today, the user had trouble with the latest dev version (13, I think) and they closed the dialog only after reading about General Navigation only.

I am going to flip my original guidance for this dialo

[2018-03-07 23:12] jessegreenberg opened #363 "BASEA11yStrings should use {{key}}: {object} pattern"
From https://github.com/phetsims/a11y-research/issues/65. See https://github.com/phetsims/a11y-research/issues/65#issuecomment-371318584.

[2018-03-09 15:10] terracoda opened #364 "Green Balloon Alert Issues"
**BASE Testing March 9th**
Safari 11.0.3
Mac os 10.13.3

**Green Balloon Alerts**
See [Two-balloon design doc](https://docs.google.com/document/d/1LrOWT4RZiS4emrumW479POK--zWveWiylZMd7unNyi0/edit#heading=h.uflz7g8a7u0)

There are a few issues with green balloon alerts. In general, I am just getting too much information.

1. Upon removal, I hear  information about the Green Balloon's position of wh

[2018-03-09 16:27] terracoda commented on #364
@jessegreenberg, please split up issue if you need to and re-assign to me if you have questions.

[2018-03-09 16:29] terracoda commented on #364
@jessegreenberg, or alternatively, just re-assign to me to split up the issue.

[2018-03-09 16:47] terracoda opened #365 "WASD keys stop working sometimes"
Sometimes the WASD keys stop working.

I haven't isolated the exactly when this happens, but have noticed that after jumping, the W key sometimes does not work.

Switching to Arrow keys or jumping again, or releasing and re-grabbing all seem to un-stick the WASD keys.

Marking as low priority for now.

[2018-03-09 16:48] jessegreenberg commented on #365
@terracoda please provide platform details if you know them.

[2018-03-09 16:49] terracoda commented on #365
@jessegreenberg, I was using VO and Safari on PhET Test version on March 9.

[2018-03-09 16:49] jessegreenberg commented on #364
Thanks @terracoda, no need to separate I can work on this issue.

[2018-03-09 16:49] jessegreenberg commented on #365
Thanks!

[2018-03-09 16:52] terracoda commented on #365
@jessegreenberg, I will add to this issue if I can isolate details as I do other testing. I have noticed this behaviour in previous versions, so it is not new behaviour.

[2018-03-09 17:05] terracoda commented on #336
@jessegreenberg, I think you just implemented the combined "balloons" phrasing while I was testing.

It's working while dragging a balloon, but the string also needs updating in the Grab Alert and the Release alert.

You might be right in the middle of making these changes.

[2018-03-10 01:04] jessegreenberg commented on #363
Done with the above commit. This touched a *lot* of the code, but the replacement was pretty straight forward. I also made sure all a11y strings are declared at the top of the files (like strings required with the string plugin). This issue can be closed.

[2018-03-10 01:04] #363 closed

[2018-03-12 13:50] terracoda opened #366 "Grab Alerts Tested - a few issues found"
March 12th, testing BASE from PhET Test
Voice Over and Safari (11.03) on Mac OS 10.13.3
I tested the Grab Alerts in all contexts:
- single-balloon scenarios: In Play Area, On Sweater, At wall, While independently moving in all charge views
- two-balloon scenarios, I tested all contexts again when next to or not next to the other balloon.

Here are the very few issues I found fro the Grab Alerts:
*

[2018-03-12 14:43] terracoda opened #367 "Rubbing/Dragging/Moving Alerts - Tested"
Rubbing/Draggin/Moving Alerts Tested
March 12, 2018
March 12th, testing BASE from PhET Test
Voice Over and Safari (11.03) on Mac OS 10.13.3

**Rubbing against wall (Single balloon scenarios)**
For single balloon scenarios, the wall rubbing alert sounds fine in all charge views, except in the case of using JW to jump to the wall with _Show no charges_ checked.

Technically a Jumping Alert, I notice

[2018-03-12 15:07] terracoda commented on #366
@jessegreenberg, I didn't notice at first - just realized that [+ Balloon visual charge (with Each)] phrase and the related special cases when balloons are next-to each other are not yet implemented.

The combine induced charge effect for "Show all charges" is implemented and sounds great. I will add [+ Balloon visual charge (with Each)]  to the list in the previous issue.

[2018-03-12 15:12] terracoda commented on #366
@jessegreenberg, there is a separate issue related to [+ Balloon visual charge (with Each)] , so just mentioning it here in this issue rather than adding it to the list of issues in the first comment.

[2018-03-12 16:05] terracoda commented on #367
@terracoda to discuss the design and implementation of describing the un-grabbed balloon with @jessegreenberg and @emily-phet before fully assigning to @jessegreenberg for implemention.

[2018-03-12 17:37] terracoda commented on #367
@jessegreenberg and @terracoda discussed implementation overhead for describing the un-grabbed balloon and @jessegreenberg feels these are doable.

We will proceed with the un-grabbed balloon descriptions, as laid out in the design document.

[2018-03-12 19:53] terracoda opened #368 "Rubbing on sweater and picking up charges (Alerts 3B-1 and 3B-2 series)"
Rubbing/Dragging/Moving Alerts
3B-1 series. Rubbing on sweater (Picking up charges) tested
3B-2 series. Rubbing on sweater (Not Picking up charges) tested

March 12, 2018
March 12th, testing BASE from PhET Test
Voice Over and Safari (11.03) on Mac OS 10.13.3

There are 3 descriptions in each series.

**In first series,**
only the first alert (3B-1-1) has location information "On Sweater".
With _Sh

[2018-03-13 18:00] jessegreenberg commented on #366
The  grab alerts are mostly done - but the alerts are incorrect when balloons have differing charges. I need to refactor BalloonDescriber to make it possible to get a decscription of the other balloons relative charge.

[2018-03-13 18:08] jessegreenberg commented on #366
Done in the following commit. Now I need to replace all usages of `this.getRelativeChargeDescriptionWithLabel` with `BalloonDescriber.getRelativeChargeDescriptionWithLabel`.

[2018-03-13 18:14] jessegreenberg commented on #366
Also for `getRelativeChargeDescription`, which had to be moved to statics.

[2018-03-13 18:24] jessegreenberg commented on #366
Changes looking good, but refactor made balloon labels get added to single single balloon grab alerts.

[2018-03-13 18:48] jessegreenberg commented on #366
I think this must have been fixed through other work, I am getting the correct charge descriptino now.

[2018-03-13 19:11] jessegreenberg commented on #366
Alright, we are there for this issue. Thanks @terracoda!

[2018-03-13 19:11] #366 closed

[2018-03-13 19:29] jessegreenberg commented on #367
There are issues with this, Ill  work on this next.

[2018-03-13 19:44] jessegreenberg commented on #367
Everything in this issue has been addressed. Thanks @terracoda! Closing.

[2018-03-13 19:44] #367 closed

[2018-03-13 20:14] jessegreenberg commented on #368
To fix this, I increased  the threshold for when "next to {{other balloon}}" gets triggered. I believe things still sound OK, but if you notice problems please let me know @terracoda. Otherwise we will need a new strategy for this because generally when the balloon left edge hits the sweater right edge, it is not close enough to other balloon to trigger this.

[2018-03-13 20:52] jessegreenberg commented on #368
Closing this issue since it has been included.

[2018-03-13 20:52] #368 closed

[2018-03-13 21:02] jessegreenberg commented on #365
I played with the sim on VoiceOver for 6 minutes, and the WASD and arrow keys worked the entire time. Removing my assignment, if you are able to isolate @terracoda or continue to encounter this please let me know.

[2018-03-13 23:32] jessegreenberg commented on #364
All of this should be fixed with the above commit, except the following:

Ill work on this next.

[2018-03-13 23:35] jessegreenberg commented on #364
Ah, this was actually fixed in the above commit. :)

Closing this issue.

[2018-03-13 23:35] #364 closed

[2018-03-13 23:49] jessegreenberg commented on #362
@terracoda thanks for reporting. I believe this might have been transient, it is not showing up in latest version. Here is what I see in the a11y view.
![capture](https://user-images.githubusercontent.com/6396244/37375767-d153904e-26e6-11e8-8270-adab5dabe024.PNG)

[2018-03-13 23:50] jessegreenberg commented on #362
It is there with  induced charge (although with an extra period)

![capture](https://user-images.githubusercontent.com/6396244/37375797-f8147428-26e6-11e8-9544-d0016008595e.PNG)

[2018-03-13 23:52] jessegreenberg commented on #362
Removed the extra period in the above commit, closing.

[2018-03-13 23:52] #362 closed

[2018-03-13 23:53] jessegreenberg commented on #361
This was fixed with #362, and the  "Positive charges do not move" portion was removed entirely for this case, as requested in #362. Closing.

[2018-03-13 23:53] #361 closed

[2018-03-14 00:00] jessegreenberg commented on #320
Sounds good @terracoda, Ill move the close button to  the top of the dialog so it is at the top of other content for the virtual cursor.

[2018-03-14 00:10] jessegreenberg commented on #320
@terracoda change made in the above commit. By the way, it sounds really great with NVDA + Firefox. NVDA puts focus on the close button, but reads the rest of the Dialog content from top to bottom. At the end, the AT reads the "Close button" but the rest of the dialog content can be read from top to bottom. This was a good idea @terracoda. Closing.

[2018-03-14 00:13] jessegreenberg commented on #336
The wall rubbing and balloon grabbing alerts are up to date, but the release alerts need to be updated to reflect latest.

[2018-03-14 00:27] jessegreenberg opened #369 "Wall charge alert when it is removed from play area"
Saw this when removing the wall:
![capture](https://user-images.githubusercontent.com/6396244/37376884-3711da9e-26ec-11e8-99f9-a9abd361eb8b.PNG)

Sounds familiar, @terracoda may have mentioned it before (sorry!)

[2018-03-14 16:54] jessegreenberg opened #370 ""Positive charges do not move" duplicated sometimes"
Noticed after some recent changes.

![capture](https://user-images.githubusercontent.com/6396244/37417496-154ecfb8-2776-11e8-874a-4533bd6e64f4.PNG)

[2018-03-14 17:02] jessegreenberg commented on #336
Combined release alert is used when adjacent balloons are both inducing charge on release. After reviewing comments i *think* that is it for this issue, but a fair amount was discussed. i am going to close, but if more things crop up we can create individual issues. Closing.

[2018-03-14 17:02] #336 closed

[2018-03-14 17:13] jessegreenberg commented on #370
Fixed with the above commit.

[2018-03-14 17:13] #370 closed

[2018-03-14 17:21] jessegreenberg commented on #369
Fixed in above commit.

[2018-03-14 17:21] #369 closed

[2018-03-14 17:55] jessegreenberg commented on #341
There are lots of problems with this because the change in induced charge is driven by position changes to the balloon. It should be based on changing model  forces from the balloon. Ill need to reimplement this.

[2018-03-15 00:34] jessegreenberg commented on #347
@terracoda this was fixed, the induced charge is always described at the walls location now. It sometimes used to use the balloons location (for some reason...). Closing.

[2018-03-15 00:34] #347 closed

[2018-03-15 09:39] terracoda commented on #365
Thanks @jessegreenberg, I will try to isolate the issue. By the way did you mix in jumping and try moving up with W?j

E.g. Jump right to Near Wall or to Wall and then press W?

[2018-03-15 12:01] terracoda commented on #341
@jessegreenberg, let me know if need to have a meeting about these jump alerts.

[2018-03-15 15:17] jessegreenberg commented on #365
@terracoda Hmm, I can't remember, good question!

[2018-03-15 15:19] jessegreenberg commented on #341
Thanks @terracoda, this one was tough but I think I have a working solution. I just need to clean it up.

[2018-03-16 14:10] terracoda commented on #341
@jessegreenberg, awesome!

[2018-03-27 14:55] terracoda opened #371 "Scene Summary & Dynamic Description Testing"
Testing Date: March 28, 2018
PhET Test 15:45 NT/ 12:15 MT
Environment: Ally View in Safari, Mac OS, no screen reader.

Note that for object dynamic descriptions the [BASE Charge Views Design Doc](https://docs.google.com/document/d/1EOeMXgu0Cvqu1lh9WgFp_21enK8Xdy5EI_H1l6tBsvA/edit#) has clear examples laid out in tables for all charge views. I don't think I have the same thing for he scene summary

[2018-03-27 15:11] terracoda commented on #371
@jessegreenberg, these are minor corrections. I will continue to test the dynamic descriptions, including all charge views. I'll keep them in this issue for now, and can move into indy issues if you prefer.

[2018-03-27 15:50] terracoda opened #372 "Wall's dynamic description not quite right (more than punctuation)"
Testing Date: March 27, 2018
Dev Version: [1.4.0-dev.13](https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.13/phet/balloons-and-static-electricity_a11y_view.html)
Environment: Ally View in Firefox, Mac OS, no screen reader.

While testing the Scene Summary in #371, I noticed some issues with the wall's dynamic description that are a bit more than just issues

[2018-03-27 21:00] jessegreenberg commented on #365
I observed this after using the jumping keys. Removing low priority label.

[2018-03-27 21:02] jessegreenberg commented on #341
https://github.com/phetsims/balloons-and-static-electricity/commit/e1536f5766c436a5d5e3048ad311e7ffa34a7e2c was intended to fix this. I noticed an issue still with these alerts but can't remember what was happening in sim. Ill need to revisit.

[2018-03-27 23:09] jessegreenberg opened #373 "VoiceOver sometimes skips release alert of balloon"
Often the release alert is missing in VoiceOver. It is possibly struggling with change of focus (draggable balloon to balloon button, or draggable balloon to wall button). Or it could be a performance problem because much of the DOM changes when the balloon is released.

I am considering a workaround where we delay all alerts by the utteranceQueue interval as a potential workaround for this. At th

[2018-03-27 23:52] jessegreenberg opened #374 "branch: stepAlert"
To investigate workarounds for #373. This branch should be short lived.

[2018-03-27 23:53] jessegreenberg commented on #372
@terracoda just FYI dev.13 is 25 days old and may be very stale, it may not be worthwhile to test that version.

[2018-03-27 23:57] jessegreenberg commented on #374
Renaming branch to stepAlert because one-offs cant contain dashes.

[2018-03-28 00:32] jessegreenberg commented on #373
I tried changing the implementation of utteranceQueue so that it it delays by interval for every alert. I increased the interval to  allow focus to  move well before an alert is triggered. It didn't help much. In the case where the balloon is, many alerts stop until the balloon hits its destination sweater. Presumably this is because there are many DOM updates happening at once and Safari/VO is bo

[2018-03-28 14:37] terracoda opened #375 "A11y View is not updating and not loading"
This issue is likely related to changes made in #373.

The A11y View for [1.4.0-dev.13](https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.13/phet/balloons-and-static-electricity_a11y_view.html) was working fine yesterday, and today the PDOM content is not updating. The alerts seem to be working, though.

In a later version, [1.4.0-dev.15](https://www.colorado

[2018-03-28 15:44] jessegreenberg commented on #375
I accidentally had working copy changes in dev.15 that broke things. New version has been deployed. Sorry @terracoda!

[2018-03-28 15:44] #375 closed

[2018-03-28 16:16] jessegreenberg commented on #373
I have been playing with this. A few notes:

- I tried short circuiting setTextContent in Accessibility.js to no-op, and it had no impact on this issue. So this is not a performance problem caused by DOM updates.
- When I closed many browser tabs I had open (~10) performance of VO substantially increased. This is no longer a problem for the mac I am testing on.
- About 60% of the time,  we miss th

[2018-03-28 16:18] jessegreenberg commented on #373
This is an AT behavior, and I am not sure if it is worth spending more time on this. Since performance of VoiceOver has improved with far fewer tabs open, I am going to close this issue.

[2018-03-28 16:18] #373 closed

[2018-03-28 16:19] jessegreenberg commented on #374
#373 is closed so this branch can be pruned.

[2018-03-28 16:25] jessegreenberg commented on #374
Branch deleted.

[2018-03-28 16:28] jessegreenberg commented on #372
On page load, here is the description for the wall in master:
![capture](https://user-images.githubusercontent.com/6396244/38042817-9a80dda0-3272-11e8-82fe-6aa072134f34.PNG)

In master,  there  is  one extra period at the end of the wall description with induced charge
![capture](https://user-images.githubusercontent.com/6396244/38042897-ce753ffc-3272-11e8-884c-ff090b9cdf42.PNG)

[2018-03-28 16:53] terracoda commented on #372
Ok, sounds good. I will wait for latest working version.

[2018-03-28 16:54] terracoda commented on #375
Thanks @jessegreenberg! You are awesome!

[2018-03-28 16:57] jessegreenberg commented on #372
Alright, list in original issue has been fixed. Reassigning to @terracoda  to close or add to issue.

[2018-03-28 17:00] jessegreenberg commented on #371
Like #372 this may be stale, I will check.

[2018-03-28 17:11] terracoda commented on #371
@jessegreenberg, sorry, I tested an old version. Shall we just close this issue, and I can test again.

[2018-03-28 18:00] terracoda commented on #372
@jessegreenberg, I am closing this issue. The two issues noted above are fixed.

[2018-03-28 18:00] #372 closed

[2018-03-28 18:02] terracoda commented on #371
@jessegreenberg, I'll just test again and see if these issues have been addressed. No need to check.

[2018-03-28 18:20] terracoda commented on #371
@jessegreenberg, I have deleted the issues, and I am retesting on PhET Test.

[2018-03-28 19:41] terracoda commented on #371
@jessegreenberg, I have re-tested the Scene Summary and Dynamic Descriptions using PhET Test. I tried to be thorough. If you need me to do this kind of thing differently, let's discuss.

[2018-03-29 16:15] terracoda commented on #371
Sorry @jessegreenberg, I forgot to re-assign to you yesterday.

[2018-03-30 21:54] jessegreenberg commented on #371
Thanks @terracoda I  added checkboxes next to the items ini your list that need work.

[2018-03-30 23:26] jessegreenberg commented on #371
Much of these bugs are caused by changes made for https://github.com/phetsims/balloons-and-static-electricity/issues/341, sorry @terracoda.

[2018-03-31 01:50] jessegreenberg commented on #371
I re implemented that sweater description, all related issues should be fixed.

[2018-03-31 04:06] jessegreenberg commented on #371
Thanks for testing @terracoda, all in this issue should be fixed and up to date. Closing.

[2018-03-31 04:06] #371 closed

[2018-03-31 17:55] jessegreenberg commented on #341
@terracoda https://github.com/phetsims/balloons-and-static-electricity/issues/341#issuecomment-368938070 is fixed, and various combinations of jumping sound good. Let me know if you notice other issues with this. Closing.

[2018-03-31 17:55] #341 closed

[2018-03-31 17:55] jessegreenberg commented on #360
@terracoda fixes and implementation issues for this issue have been closed. Removing my assignment.

[2018-03-31 17:59] jessegreenberg commented on #305
This issue is fixed with changes made for https://github.com/phetsims/coulombs-law/issues/41. Also, performance with JAWS has been generally better on Firefox and we no longer target IE11 for a11y. Closing.

[2018-03-31 18:00] #305 closed

[2018-03-31 18:12] jessegreenberg commented on #365
This is platform specific, i cannot reproduce in Chrome or with NVDA with Firefox.

[2018-03-31 18:12] jessegreenberg commented on #330
@terracoda is this something that you would like to work on for this version of BASE?

[2018-03-31 18:26] jessegreenberg commented on #306
@terracoda any more information about this or can it be closed? Alerts sounds great for me with FF and JAWS 18.

[2018-03-31 18:32] jessegreenberg commented on #181
After some google searching I  found this post:
https://www.reddit.com/r/Blind/comments/4cg78m/jaws_screen_reader_announcing_blank_after_each/

Seems reasonable, I will see if it happens after each paragraph.

[2018-03-31 18:37] jessegreenberg commented on #181
Indeed, with this HTML JAWS reads "blank" after every paragraph, after the `ul`.
[code]

[2018-03-31 18:39] jessegreenberg commented on #181
The response from that post was

Though `reddit.com` is not the most trustworthy,  it matches what we have observed here. Closing this issue since it is not a bug but just the AT behavior. Pinging @terracoda so she is aware.

[2018-03-31 18:39] #181 closed

[2018-03-31 20:42] jessegreenberg opened #376 "Scene summary item for sweater/wall charge not correct"
@terracoda the design document says:

Currently master has this description:

I am going to change it to the one in the design document, I assume that is latest design.

[2018-03-31 20:51] jessegreenberg commented on #376
But then later in the document the example for page load shows this.

@terracoda which is correct? Can we skip the "each has" in this description?

[2018-03-31 21:04] jessegreenberg commented on #376
I am going to go ahead and make it match the examples in the table.

[2018-03-31 21:51] jessegreenberg opened #377 "Should "Positive charges do not move." be in the scene summary item for induced charge?"
@terracoda I noticed in the design document that induced charge is described like this:

None of the examples have the phrase "Positive charges do not move", which is appended in other descriptions for induced charge. I will remove it since it is not in the design doc, but wanted to make sure this was intended.

[2018-03-31 22:50] jessegreenberg opened #378 ""a little" vs "a little bit" for describing induced charge"
Sometimes when describing movement of charges in the wall, the design document uses "a little", other times it uses "a little bit". @terracoda can we use one everywhere instead of both?

[2018-03-31 22:51] jessegreenberg commented on #378
Currently, implementation uses "a little bit" everywhere.

[2018-04-01 16:05] terracoda commented on #378
@jessegreenberg, I apologize for the inconsistencies in the design documents.

The induced charge descriptions when a balloon is actually at the wall, should always be 1 of three options:
1. {{a little bit}}
2. {{a lot}}
3. {{quite a lot}}

These three parameters show up in several places grab, rubbing at wall, wall's dynamic description. I can't think of any other places at the moment.

The only

[2018-04-02 13:21] terracoda commented on #312
@jessegreenberg, thanks for re-opening. I noticed this too :-)

[2018-04-02 13:36] terracoda commented on #376
@jessegreenberg, I'll look into this, too.

[2018-04-02 13:42] terracoda commented on #306
@jessegreenberg, I am going to close this issue. We can re-open if the issue shows up again.

[2018-04-02 13:42] #306 closed

[2018-04-02 15:40] jessegreenberg opened #379 "Add "Same [[increase]] of positive charges on sweater" phrase when picking up charges"
Noticed in design doc,  it is currently not in sim.

[2018-04-02 15:48] jessegreenberg opened #380 "Add "from sweater" to rub #1-1 pattern in charge differences view?"
@terracoda I noticed that the first time balloon picks up charges after hitting sweater in charge differences view looks like this:

[[Yellow ]] balloon picks up negative charges. [[Same increase]] of positive charges showing on sweater.

For consistency with 'all' view and to avoid a special case can we include "from sweater" to the pick up phrase?

[2018-04-02 15:58] terracoda commented on #380
@jessegreenberg, well spotted. I think your suggestion will work fine.

[2018-04-02 16:37] jessegreenberg commented on #380
Thanks @terracoda sounds good. This is how it is in master so this can be closed.

[2018-04-02 16:37] #380 closed

[2018-04-02 17:51] terracoda commented on #378
@jessegreenberg, I think this confusion was caused by my own inconsistency in the Two-balloon design document.

All the examples there that describe a negatively charged balloon at the wall with a small induced charge effect should be described as "a little bit" and not as "a little".

Good catch! I have corrected the errors I the design document.

As I mentioned above, the other place where "a li

[2018-04-02 17:52] terracoda commented on #378
@jessegreenberg, assigning back to you.

[2018-04-02 17:54] terracoda commented on #378
And assuming no changes needed for the Approach and Return dragging alerts. We will start a separate issue if needed for those.

[2018-04-02 17:56] terracoda commented on #377
@jessegreenberg, I think this is intentional. I am reviewing the examples to be sure.

[2018-04-02 18:31] jessegreenberg opened #381 "Add "[[More hidden pairs of charges]]" to sweater rubbing alert in charge differences view"
Saw in design doc, it currently part of the description.

[2018-04-02 18:32] jessegreenberg commented on #381
Yes it is. My test was bad. Closing.

[2018-04-02 18:32] #381 closed

[2018-04-02 19:12] terracoda commented on #377
@jessegreenberg, actually, I'm a little on the fence about whether "Positive charges do not move." should be removed from Scene Summary's induced charge description.

The phrase is included when there is an induced charge effect most prominently during
- interactive rubbing up and down the wall, and

it also is included when there is an induced charge effect (i.e., a charged balloon is at the wall

[2018-04-02 19:40] jessegreenberg commented on #377
Not at all @terracoda, happy to add it back.

[2018-04-02 19:45] terracoda commented on #377
@jessegreenberg, ok I will update the Scene Summary descriptions in the Two-balloon design document. Sorry for the confusion - oh so many descriptions. Thanks for your questions!

[2018-04-02 20:07] terracoda commented on #376
@jessegreenberg, again, sorry for the inconsistency, the added "each" when the sweater and wall both have zero net charge does emphasize that they separately both have "many pairs of positive and negative charges".

The examples in the tables are preferred, but if that is tricky to implement we can use the simpler phasing:
- “{{Sweater and Wall}} have {{zero}} net charge, {{many}} {{pairs of negat

[2018-04-02 20:55] terracoda opened #382 "Grab alert in Show charge differences, missing net charge description."
While testing dragging alerts in single-balloon scenarios in [dev version 18](https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.18/phet/balloons-and-static-electricity_en_phet.html?accessibility)

I noticed that the Grab Alert in **Show charge differences** is missing the balloon oject's negative net charge description.

<img width="616" alt="screen shot 2018

[2018-04-02 21:48] jessegreenberg commented on #382
Thanks @terracoda, this is fixed in master.
![capture](https://user-images.githubusercontent.com/6396244/38217918-3ea0fd0c-368d-11e8-8427-eef498d66bd2.PNG)

Closing.

[2018-04-02 21:48] #382 closed

[2018-04-02 21:51] jessegreenberg commented on #379
This has been added. Should specify, this is only for charge differences view.
![capture](https://user-images.githubusercontent.com/6396244/38217982-882113b8-368d-11e8-8f0c-eb5c20d6fe87.PNG)

Closing.

[2018-04-02 21:51] #379 closed

[2018-04-02 21:52] jessegreenberg commented on #378
Thanks @terracoda, https://github.com/phetsims/balloons-and-static-electricity/issues/378#issuecomment-377992543 is how current version is behaving, so I think we can close. Thanks for clarifying.

[2018-04-02 21:52] #378 closed

[2018-04-02 21:56] jessegreenberg commented on #376
Sounds good @terracoda, I made it match the design doc. Here are 'diff' and 'all' charge view descriptions, respectively.

![capture](https://user-images.githubusercontent.com/6396244/38218224-43b59f5e-368e-11e8-9a1a-88347b231ab9.PNG)
![capture2](https://user-images.githubusercontent.com/6396244/38218262-5e501f9c-368e-11e8-9a29-0395d1deffa9.PNG)

Closing.

[2018-04-02 21:56] #376 closed

[2018-04-02 21:58] jessegreenberg commented on #377
"Positive charges do not move." has been added to induced charge item in the scene summary. I tested the various cases:
![capture](https://user-images.githubusercontent.com/6396244/38218349-ae9e4e60-368e-11e8-9894-66d60f3256a6.PNG)
![capture2](https://user-images.githubusercontent.com/6396244/38218351-af93bb7a-368e-11e8-8967-a2a7883c4f84.PNG)
![capture3](https://user-images.githubusercontent.com/6

[2018-04-02 21:58] #377 closed

[2018-04-02 21:59] jessegreenberg commented on #312
This has been fixed. Closing.

[2018-04-02 21:59] #312 closed

[2018-04-03 17:35] jessegreenberg opened #383 "Remove Wall button label doesn't reset"
![image](https://user-images.githubusercontent.com/6396244/38265414-11f361f4-3733-11e8-8deb-1d83932fed11.png)

[2018-04-03 18:07] #383 closed

[2018-04-03 18:22] jessegreenberg opened #384 "Up/Down arrow keys get "stuck" after pressing another arrow key at the same time in VoiceOver (Safari)"
Steps to reproduce:
 - Grab balloon with keyboard.
- Press and hold "up" arrow key
- Press and hold "right" arrow key
- Release both keys

Balloon will continue to move up. Only happens for vertical movement with arrow keys.

[2018-04-03 18:27] jessegreenberg commented on #384
It is as though the `keyup` event for the vertical  arrow keys don't reach the if a horizontal arrow key is pressed at the same time. Problem does not occur when pressing vertical arrow key and then a letter key.

[2018-04-03 18:51] jessegreenberg commented on #384
What is happening is even weirder. I see two keyup events for the horizontal arrow keys. Watching the DOM events, here is the rundown:

- Press and hold "up" arrow key <---DOM receives a keydown event for the up arrow key
- Press and hold "right" arrow key <-- DOM receives a keydown event for the right arrow key
- Release the "up arrow key <--- DOM receives a keyup event for the **right** arrow ke

[2018-04-03 18:54] jessegreenberg commented on #384
I am going to try to reproduce in a context outside of the sim.

[2018-04-03 19:04] jessegreenberg commented on #384
Note that the order of horizontal and vertical keys matter. This problem only surfaces if you press the vertical arrow keys before the horizontal arrow keys.

[2018-04-03 19:19] jessegreenberg commented on #384
I am seeing the exact same behavior in this JSFiddle. https://jsfiddle.net/r39rg5zL/8/. With VoiceOver turned on following steps in https://github.com/phetsims/balloons-and-static-electricity/issues/384#issuecomment-378357582 I print the following events

keydown: 38 (UpArrowKey)
keydown: 39 (RightArrowKey)
keyup: 39 (RightArrowKey)
keyup: 39 (RightArrowKey)

And so the sim thinks the up arrow key

[2018-04-03 19:31] jessegreenberg commented on #384
I can't think of a good fix for this. Perhaps the best thing to do is gracefully handle it. How about if we receive a keyup event for a key that is not currently down, we make the KeyboardDragListener think that  no arrow keys are down.

[2018-04-03 19:55] jessegreenberg commented on #384
That doesn't work if you continue to hold down a horizontal arrow key after releasing the vertical arrow key.

[2018-04-03 20:13] jessegreenberg commented on #384
I  don't think  this is possible to detect when pressing and holding keys for longer than the browser's press and hold delay because by then there are  matching horizontal keydown events for the errant keyup event.

[2018-04-03 20:36] jessegreenberg commented on #384
I tried just only allowing one arrow key to be pressed  at a time, but doesn't get to the root of the problem. The issue is that even if we prevent adding behavior to the second arrow key, VoiceOver tells the browser that the *second* arrow key was released rather than the first one and we are left with the same problem.

[2018-04-03 20:47] jessegreenberg commented on #384
Here is one workaround that seems to keep the sim working:

If we are in Safari, and more than one arrow key is pressed down at a time, we stop all keyboard dragging and reset `KeyboardDragListener` so that it thinks that no keys are pressed down. This will fix this VoiceOver bug gracefully,  and dragging can continue next time an arrow key is pressed. Unfortunately, this will make it impossible t

[2018-04-03 20:50] emily-phet commented on #384
@jessegreenberg if you press any arrow key once the errant up behavior is happening, does this stop the motion?

[2018-04-03 20:52] jessegreenberg commented on #384
With the workaround, that is correct - motion stops.

[2018-04-03 21:02] jessegreenberg commented on #384
Here is a version with this fix if it helps to see it in action: https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.20/phet/balloons-and-static-electricity_en_phet.html

I could also share screens and voice chat to talk in more detail if that would be helpful.

[2018-04-03 21:06] emily-phet commented on #384
@jessegreenberg So without the workaround, the motion continues until...when? How do you stop it (without a workaround)?

[2018-04-03 21:09] jessegreenberg commented on #329
I think the most i18n friendly (and probably the most maintainable) way to do this would be to build of larger string patterns from smaller composite string patterns. Rather than the list of possibilities in the original ticket, we would build up strings using one of these

`Grabbed. {{location}}`.
'Grabbed. {{location}} {{charge}}.

Then filling in charge with one of
'{{balloonCharge}} {{inducedC

[2018-04-03 21:17] jessegreenberg commented on #384
Without the workaround, the balloon will keep moving until it hits the top or bottom of the Play Area (constrained by the model). But the sim thinks that the arrow key is still pressed down after it has been released, so if you try to move the balloon down again, it will just move back up to the top of the Play Area once you have released the "down" arrow key.

[2018-04-03 21:35] emily-phet commented on #384
@jessegreenberg Okay, that's helpful. I was wondering if it might be a situation where when the problem arises, some of the natural troubleshooting a person might do may stop the problem. Sounds like that's not the case here. You're workaround seems reasonable to me.

[2018-04-04 12:41] terracoda commented on #330
@jessegreenberg, thanks for asking. This is a longterm general question which I haven't been able to get to yet.

[2018-04-04 12:44] terracoda commented on #181
@jessegreenberg, thanks for the ping!

[2018-04-04 16:12] terracoda commented on #384
@jessegreenberg , I agree with @emily-phet, this solution seems reasonable. It only affects Safari, and is it safe to assume that diagonal dragging is still possible with WASD keys?

[2018-04-04 16:18] jessegreenberg commented on #384
Correct! Thanks @terracoda and  @emily-phet,  in that case I am closing this issue.

[2018-04-05 16:08] terracoda opened #385 "Induced Charge "begin to return" read out when moving right (seems random)"
BASE Testing Dragging (Dev 21 - Apr 5)
- [x] Dragging 1 balloon (Show no charges) - no issues
- [x] Dragging 1 balloon (Show charge differences) - no issues
- [x] Dragging 1 balloon (Show all charges) - one issue - Induced charge while dragging, sometimes rad out of order.

Dragging alerts sound great, @jessegreeneberg.

I have not isolated the issue, but the induced charge dragging alerts, "Negat

[2018-04-05 17:37] terracoda commented on #385
- [ ] JW move left
- [ ] JW move left
- [ ] JN then move up, then move left, then move right
- [ ] JN then move right
- [ ] JN, then move right, then move left
- [ ] JN, then move up,/down, then move left
- [ ] JC when there is a measurable induced charge effect, then move up
- [ ] JC when there is a measurable induced charge effect, then move up, then move left

[2018-04-05 17:54] terracoda opened #386 "W and S navigation disabled after jumping with JW or JS"
While testing version [dev 21](https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.21/phet/balloons-and-static-electricity_all_phet_debug.html?accessibility) on April 5th, 2018.

I can replicate issue for SW navigation keys not working after jumping

- Using the JW key seems to disable the W key on the first step after a JW jump.
- Using the JS keys seems to di

[2018-04-05 17:55] terracoda commented on #386
Good news, it that it is easy to get things working again, just press an Arrow key or any other of the WASD keys.

[2018-04-05 18:27] jessegreenberg commented on #386
Thanks  @terracoda, this really helps isolate the problem.

[2018-04-05 20:27] jbphet commented on #237
Apologies - I never got to this, and it has been a long time.  I just scanned through the commits, and it seems like they addressed my concerns.  Closing.

[2018-04-05 20:27] #237 closed

[2018-04-06 11:51] terracoda opened #387 "Add ESC key as a release mechanism for the balloon?"
Design Considerations from recent interviews

@jessegreenberg, in a recent interview with a JAWS user, the participant tried to use the ESC key several times (repeatedly) to release the balloon. The participant's reason, "The ESC key is a common way to exit forms mode."

**Question for BASE:**
1. What do you think about adding the ESC key as a release mechanism for the Balloon in BASE?

**Question

[2018-04-06 16:13] terracoda commented on #385
@jessegreenberg, un-assigning you. I am just using this as my testing issue. When I find issues, I will create separate issues for them.

[2018-04-06 16:21] terracoda opened #388 "Extra Wall description when using JW with Show no charges checked"
Testing Dragging in [dev version 21](https://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.21/phet/balloons-and-static-electricity_all_phet_debug.html?accessibility)

<img width="749" alt="screen shot 2018-04-06 at 13 41 34" src="https://user-images.githubusercontent.com/1902116/38431964-9060461e-39a0-11e8-9843-b9fc732baa28.png">

@jessegreenberg, I found this ex

[2018-04-06 16:27] jessegreenberg commented on #387
Seems like it could be useful @terracoda. I think the only thing to investigate is if AT make this possible. If they exit forms mode with "escape" key, they may or may not send information to the browser that  "escape" key was pressed.

@terracoda was the user able to hear "Press space to release" cue?

[2018-04-06 17:12] phet-steele commented on #386
@terracoda is this a duplicate of #365? If so, please close one of these two issues.

[2018-04-06 17:12] jessegreenberg commented on #320
Reopening, when I changed the layout for https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-346495639 @phet-steele noticed that I didn't remove the vertical space between the sectons on the left side of the dialog.

<img width="716" alt="screen shot 2018-04-06 at 10 44 06 am" src="https://user-images.githubusercontent.com/6396244/38434395-643a527e-398b-11e8-9103-e0

[2018-04-06 17:15] phet-steele commented on #388
@terracoda, what is the extra description? Asking since this is in dev testing, so QA should know what issues are being found. I am not at all familiar with the descriptions, so I don't know what is "extra" in the above image.

[2018-04-06 17:15] phet-steele commented on #388
For phetsims/QA/issues/112.

[2018-04-06 17:39] terracoda commented on #388
Thanks @phet-steele, the extra description is:

That part is the wall's description when _Show all charges_ is checked.

[2018-04-06 17:52] phet-steele commented on #388
@terracoda Thanks!

[2018-04-06 18:04] terracoda commented on #387
@jessegreenberg, as discussed in a11y meeting, I think the user did hear the cues, but was just used to using the ESC key to exit forms mode.

[2018-04-06 18:08] terracoda commented on #365
I narrowed down this issue in #386, so deleting this issue.

[2018-04-06 18:08] #365 closed

[2018-04-06 18:12] phet-steele commented on #386
Thanks @terracoda, I noticed you closed #365.

This issue is for phetsims/QA/issues/112.

[2018-04-06 20:05] terracoda commented on #320
Her's the comment with the final visual layout in case you need it. This is a long issue.
https://github.com/phetsims/balloons-and-static-electricity/issues/320#issuecomment-346495639

[2018-04-06 20:07] terracoda commented on #320
Please re-assign to me if there are questions, thanks.

[2018-04-09 14:54] terracoda opened #389 "Simplify Induced charge when dragging or jumping right"
Based on testing in [#385](https://github.com/phetsims/balloons-and-static-electricity/issues/385) induced charge dragging descriptions can sound awkward.

After testing thoroughly dragging and jumping alerts in issue #385, I realize that we can often get the awkward order of the generic description “move away”, and then the begin description “begin to move away” when movement continues right (tow

[2018-04-09 15:00] terracoda commented on #389
@jessegreenberg, because this is design change, I have added design:a11y and dev:a11y labels. If you think this change will cause an implementation problem, please remove the dev:a11y label and assign it back to me, and I will investigate further.

As far as I can tell, I think this change simplifies the design in a good way.

[2018-04-09 15:39] terracoda commented on #385
@jessegreenberg, I'm not 100% sure, but I think that I am getting the "return a little more" alert incorrectly on a rightward move when vertical movement comes right after the initial return "begin to return" alert.

Trying to reproduce.

[2018-04-09 15:40] terracoda commented on #385
Hmm, that's not problem. I do not think it is related to vertical movement or jumping.

[2018-04-09 15:58] terracoda commented on #385
Ok, it seems to happen when I press and hold the Right Arrow key or the D key and stop around the where the induced charge description would begin. This position varies, of course, according to induced charge.

It is not easy to reproduce, but I am able to do it, if I just keep moving back and forth from right to left and left to right and pressing and holding when I move left and right at random

[2018-04-09 16:10] terracoda commented on #385
@jessegreenberg, I changed the issues title to be more specific.

[2018-04-09 22:05] jessegreenberg opened #390 "Clean up BASEA11yStrings"
There are some formatting issues, and many unused strings that should be removed.

[2018-04-09 22:15] jessegreenberg commented on #390
Also, the 'String' suffix should be removed from all entries in the file,  that suffix isn't added entries in the json files.

[2018-04-09 22:54] jessegreenberg commented on #390
Both of those points are done. Lets  reorganize the file now that we don't have  as much in there.

[2018-04-09 22:59] jessegreenberg commented on #390
I added this TODO:

[2018-04-09 23:15] jessegreenberg commented on #390
This issue can be closed.

@terracoda @emily-phet, in case you are curious, about 255 strings were added for a11y.

[2018-04-09 23:15] #390 closed

[2018-04-10 01:14] terracoda commented on #390
Cool! 255 is a nice number (https://en.wikipedia.org/wiki/255_(number)).

[2018-04-10 15:30] terracoda opened #391 "HTML of Keyboard Shortcuts Dialog - empty li's, too many p's and div's"
While testing, I noticed some weird spacing in the A11y View, so I inspected the HTML for the keyboard  shortcuts dialog.
**Screen shot from inspector**
![screen shot 2018-04-10 at 12 29 29](https://user-images.githubusercontent.com/1902116/38565175-3624a974-3cbb-11e8-8a8d-49e840946ea9.png)

A `div` element cannot be direct child of an `ul` element

It is ok if `div` elements contain things that n

[2018-04-10 15:32] terracoda commented on #391
This sim is in Dev Testing, so tagging that issue

[2018-04-10 15:35] terracoda commented on #391
@jessegreenberg, if you need me to provide a full example of the Keyboard Help dialog HTML, I can do that.

[2018-04-10 17:44] jessegreenberg commented on #391
Thanks @terracoda, I shouldn't need a full example, I think you already provided one earlier. This is caused by recent changes to the API, and usages of the API in the sim haven't been updated. Early versions of BASE did not have this problem.

[2018-04-10 18:20] jessegreenberg commented on #389
Change made in the above commit, initial  induced charge change uses generic description.

[2018-04-10 18:44] jessegreenberg commented on #389
@terracoda due to build process changes I am not able to deploy a dev version. Can you please verify that this is fixed on phettest?

[2018-04-10 18:45] jessegreenberg commented on #386
@terracoda @phet-steele I think this is fixed in master due to changes made for #389. Could you please verify on phettest?

[2018-04-10 18:53] jessegreenberg commented on #388
Should be fixed with the above commit, @terracoda could you please verify with phettest?

[2018-04-10 18:57] jessegreenberg commented on #385
@terracoda I believe this may have been fixed with the above commit for #398, but  I wasn't able to reproduce originally either. Could you please see if this is still a problem with phettest?

[2018-04-10 19:32] jessegreenberg commented on #387
@terracoda I added escape key as a way to release the balloon - I tested on JAWS and NVDA on Firefox  and VoiceOver on Safari, it is working nicely on all of those platforms.

Closing.

[2018-04-10 19:32] #387 closed

[2018-04-10 20:04] jessegreenberg commented on #320
I reduced  the spacing a bit. @terracoda @phet-steele here is the look  now:
![capture](https://user-images.githubusercontent.com/6396244/38580764-12a533b2-3cc8-11e8-821a-11400125bbff.PNG)

If this seems reasonable please close this issue. Otherwise reassign.

[2018-04-10 22:45] jessegreenberg commented on #391
This was fixed as part of https://github.com/phetsims/scenery-phet/issues/364, and  the HTML is sound again (no `div`s, no `p`s, and `li`s are direct descendants of `ul`s).

![capture](https://user-images.githubusercontent.com/6396244/38587379-74c93712-3cde-11e8-83c1-bb67b4688cc3.PNG)

Closing.

[2018-04-10 22:45] #391 closed

[2018-04-10 22:48] jessegreenberg commented on #329
stripPlaceholders is only used 7 times, that is good news.

[2018-04-11 04:00] jessegreenberg commented on #329
stripPlaceholders has been removed.

[2018-04-11 04:01] jessegreenberg commented on #329
Last, we should remove `fragmentToSentance`, which has 5 usages in BalloonDescriber.

[2018-04-11 15:47] jessegreenberg commented on #329
Much better. Closing.

[2018-04-11 15:47] #329 closed

[2018-04-11 15:50] jessegreenberg opened #392 "Reduce size of BalloonDescriber"
[code]

It is currently 1907 lines. One way to break it up would be to have describers for different aspects of the balloon, like BalloonLocationDescriber and BalloonChargeDescriber. Some phrases require information about both, so BalloonDescriber could assemble these by using functions in each of BalloonLocationDescriber and BalloonChargeDescriber.

[2018-04-11 16:10] terracoda commented on #389
@jessegreenberg, I think this sounds good! As before, when I use the jump keys I get the generic description, and then on the next right-ward move I get the generic description again, and then on the second step right after a jump I get the "move away a little more" description. Hearing 2 instances of the generic description sounds way less awkward than the generic "move away", then the "begin to

[2018-04-11 16:11] terracoda commented on #389
I removed the label pending testing and will close this issue. Thanks @jessegreenberg.

[2018-04-11 16:11] #389 closed

[2018-04-11 16:16] terracoda commented on #388
Sounds beautiful! Nice work @jessegreenberg!
I am removing the pending-testing label and closing this issue.

[2018-04-11 16:16] #388 closed

[2018-04-11 16:20] terracoda opened #393 "Add sim object locations in Scene Summary for initial orientation only"
As discussed yesterday (April 10) with @emily-phet and @jessegreenberg , for initial orientation we need to make sure users create a mental model that the _Yellow balloon_ starts off in between the Sweater and the Wall. This was clear before I removed location details from the Scene Summary. I still think the simplified Scene Summary without location is a good design choice, but for page load and

[2018-04-11 16:25] terracoda opened #394 "Move "Look for grab button" interaction cue into help text."
- Move second grab cue into button help text.

[2018-04-11 16:45] jessegreenberg commented on #392
BalloonDescriberTests will also need to be changed.

[2018-04-11 17:45] terracoda commented on #393
@jessegreenberg, let me know if you need any other information.

[2018-04-11 17:58] terracoda opened #395 "Consider small change to scene summary's static paragraph"
In recent sim designs we start off the Scene Summary with a slightly more generic sentence:

“This is an interactive sim. It changes as you play with it. ..."

In BASE, we have, "This is an interactive sim. Descriptions change as you play with it. ..." (see screenshot below).

@emily-phet, I like the more generic approach as it does not specifically mention a mode (i.e., descriptions). Do you agre

[2018-04-11 19:09] jessegreenberg commented on #393
Thanks @terracoda, Ill add this.

It would be easier to create a new bullet in the list.

The phrase should disappear when an object is moved or removed from the play area.

[2018-04-11 19:13] terracoda commented on #393
Yes, that logic would be perfect!

And that would mean if the user just changed one of the Charge Settings `radiobuttons` and then read the Scene Summary again, the orientation phrase would still be there, right?

[2018-04-11 19:20] jessegreenberg commented on #393
@terracoda great! Yes, that is correct.

[2018-04-11 19:25] jessegreenberg commented on #393
It is pretty easy to do either, do you have a preference @terracoda?

[2018-04-11 19:29] terracoda commented on #393
Ok, well, if they
- remove the wall and add it back, the orientation can go back
- if they add the green balloon, and then remove it again (without interacting with the either balloon), the orientation **could** go back.

Once they move a balloon, it has to be gone until the sim is reset.

Would that work?

[2018-04-11 19:31] jessegreenberg commented on #393
@terracoda sure! That is how it should behave with the above commit.  Could you please review/verify on phettest?

[2018-04-11 19:33] terracoda commented on #393
Sure :-)

[2018-04-11 19:36] jessegreenberg commented on #395
@terracoda I agree that this sim should use the generic description that was designed for all sims. Ill go ahead and make the change, but @emily-phet please let us know if there are concerns.

[2018-04-11 19:44] jessegreenberg commented on #395
With the above commit, the opening paragraph looks like ![capture](https://user-images.githubusercontent.com/6396244/38639382-31663776-3d8e-11e8-85ed-f09ef6b45f21.PNG)

@terracoda anything else to do for this issue?

[2018-04-11 19:44] terracoda commented on #393
@jessegreenberg, it works beautifully!

[2018-04-11 19:48] terracoda commented on #395
You are awesome :-)
I am unassigning @emily-phet. I think this is good! Closing issue.

[2018-04-11 19:48] #395 closed

[2018-04-11 19:52] terracoda commented on #330
@jessegreenberg, I created some checkbox examples in the html-sketches folder. It seems the label text repeats when the label is associated with the actual checkbox with the for attribute. At least this is how it works on VoiceOver.

I really do not know how this repetition improves the experience for screen reader users!

The label text does not repeat when I use the `aria-label` attribute!

I am

[2018-04-11 20:05] terracoda commented on #330
Label text does not repeat when the `input` is nested! No label text repetition with or without the `for` attribute.

Can the nested input be our new inclusive design pattern?

[2018-04-11 20:07] terracoda commented on #330
@jessegreenberg, @zepumph, @mbarlow12, what do you think? Can the nested` input` be our new inclusive design pattern? I think Scenery supports this nesting now, right?

Please listen to the checkbox examples in html-sketches.

[2018-04-11 23:19] jessegreenberg opened #396 "Use AccessibleSectionNode in scenery-phet"
The one in BASE is a duplicate of the one that has been moved to scenery-phet, but it looks like sim was never changed to use the common code one.

[2018-04-12 15:34] terracoda commented on #386
@jessegreenberg, I will verify once phettest will load for me. Every now and again, it stops loading.

[2018-04-12 16:39] phet-steele opened #397 "Some help dialog strings remain un-translatable"
The BASE specific strings in the keyboard help dialog are not appearing to be translatable (using `?stringTest=double`). The strings on the left-hand side are not doubled:

<img width="1427" alt="screen shot 2018-04-12 at 10 28 43 am" src="https://user-images.githubusercontent.com/5863899/38691160-3daebbde-3e3d-11e8-94a3-85e25741b405.png">

Seen on macOS 10.13.3 Chrome. For phetsims/QA/issues/112.

[2018-04-12 18:14] jessegreenberg commented on #393
Great @terracoda, thank you! Closing this issue then.

[2018-04-12 18:14] #393 closed

[2018-04-12 19:05] phet-steele commented on #320
I like it.

[2018-04-12 19:32] terracoda commented on #386
@jessegreenberg, the jump keys are working fine now. I will close this issue. Thanks!

[2018-04-12 19:38] phet-steele commented on #386
@jessegreenberg I'm experiencing new funky-ness. Stand by.

[2018-04-12 19:40] terracoda commented on #385
@jessegreenberg, I think the fix for #389 has resolved the random utterance of the "begin to return" description when moving right, however, now I hear it when I do a vertical move (up or down) after jumping left away from the wall.

This is easy to reproduce.

Should I start a new issue?

[2018-04-12 19:42] terracoda commented on #386
Sorry @phet-steele, I won't close anymore issues, you are testing too on different platforms.

[2018-04-12 19:44] terracoda commented on #385
To reproduce:
- get a good charge going on balloon
- jump to wall or near wall
- jump to near wall or center
- move up or move down, and you should hear the incorrect description, "Negative charges begin to return".

[2018-04-12 19:48] terracoda commented on #330
I added to the A11y Design meeting agenda to discuss on Friday and potential further action.

[2018-04-12 20:40] jessegreenberg commented on #386
@phet-steele showed me that the funkiness is that it is not possible to  hold the "J" key and press "W" and "S" rapidly to move the balloon back and forth between the sweater and wall. Presumably because the interval introduced to the KeyboardDragListener for hotkeys is stopping multiple presses.

[2018-04-12 21:00] jessegreenberg commented on #386
Thanks very much for finding this @phet-steele! I think this should be fixed with the above, can you please verify?

[2018-04-12 21:11] jessegreenberg commented on #397
Thanks very much @phet-steele, I forgot about these.  Strings have been added to translatable strings. Now the dialog is too big for dev bounds.
![capture](https://user-images.githubusercontent.com/6396244/38704509-d2feed8c-3e63-11e8-8cd2-70a9dcf890da.PNG)

[2018-04-12 21:21] jessegreenberg commented on #397
Done with the above commits. @phet-steele closing since this one was straight forward (feel free to double check me if you think that is best)

[2018-04-12 21:21] #397 closed

[2018-04-12 21:26] jessegreenberg commented on #396
Done with the above commit. Closing.

[2018-04-12 21:26] #396 closed

[2018-04-12 21:34] jessegreenberg commented on #394
@terracoda done with the above commit. Here is a snapshot of the a11y-view, look correct?
![capture](https://user-images.githubusercontent.com/6396244/38705486-e88becce-3e66-11e8-8a14-7dfdb3c517be.PNG)

[2018-04-12 21:35] jessegreenberg commented on #385
Excellent, thanks @terracoda! Ill start a new issue because this one has covered many things.

[2018-04-12 21:35] #385 closed

[2018-04-12 21:37] jessegreenberg opened #398 ""begin to return" announced on vertical balloon movement when charges do not return"
From #385, for https://github.com/phetsims/QA/issues/112, @terracoda said

get a good charge going on balloon
jump to wall or near wall
jump to near wall or center
move up or move down, and you should hear the incorrect description, "Negative charges begin to return".

[2018-04-12 21:38] jessegreenberg commented on #398
Reproduced in a11y-view.

[2018-04-12 23:31] terracoda commented on #386
@phet-steele, yes thanks! I never even would have thought to try to do that ;-)

[2018-04-12 23:47] terracoda commented on #394
@jessegreenberg, I like the way this sounds.

[2018-04-13 00:04] terracoda commented on #320
I like the visual, too.

However, when I open the dialog with VoiceOver, I get some unexpected verbosity (see screen shot). It is normal for a screen reader to read out the number of headings or items, but the case below, it says 3 items (which is incorrect) and then it reads out a mix of content and actual heading content.

@jessegreenberg , what do you get with NVDA?

I don't remember VoiceOver

[2018-04-13 00:05] terracoda commented on #320
Since I am the only one assigned, I'll go ahead and start a new issue about the strange VO verbosity.

[2018-04-13 00:05] #320 closed

[2018-04-13 00:11] terracoda opened #399 "Strange VO verbosity when opening Keyboard Shortcuts dialog"
In Issue #320, the content, layout and design were worked out.

On review, I noticed, however (quoting from #320):

**Question:**
I am wondering why Voice Over is saying 3 items, and reading a mixture of headings and content. Could some aspect of the HTML might be confusing VoiceOver?

This sim is in Dev Testing, so tagging phetsims/QA#112.

[2018-04-13 15:49] phet-steele opened #400 "BalloonDescriberTests: Dynamic descriptions for PlayArea objects failed: undefined"
[code]

[2018-04-13 15:56] phet-steele commented on #386
@jessegreenberg this is working great for me now, thanks.

[2018-04-13 15:56] #386 closed

[2018-04-13 16:02] jessegreenberg commented on #394
This change caused #400 because the tests weren't updated.

[2018-04-13 16:05] jessegreenberg commented on #400
Thank you @phet-steele!

[2018-04-13 16:05] #400 closed

[2018-04-13 16:06] terracoda commented on #394
@jessegreenberg, sorry, I don't understand. What are the tests testing?

[2018-04-13 16:14] jessegreenberg commented on #399
In NVDA and Firefox, NVDA just reads everything in the dialog from top to bottom automatically. That is how it has always been for NVDA. What would you expect for VoiceOver @terracoda? Have you tried VoiceOver with any other dialogs outside of PhET?

[2018-04-13 16:17] jessegreenberg commented on #399
My guess is that VO is saying 3 items because the dialog has a close button, title, and a child with the rest of the content.

[2018-04-13 16:56] jhung commented on #330
@jobara - I recall having an issue similar to this in one of our components. Do you recall what that was and how we fixed it?

[2018-04-13 17:06] jessegreenberg commented on #330
Meeting notes: @terracoda discovered that there is no repetition when the aria-label attribute is used, and that label sounds best on VO. Scenery currently does not support adding HTML and innerText as a child of an element so we will proceed with an aria-label.

[2018-04-13 19:26] jessegreenberg commented on #330
@terracoda we changed it to use aria-label instead of a label element. I tested with NVDA and VO and it is sounding nice. Could you please verify that this is working? Is there anything else that needs to be done for this issue?

[2018-04-13 19:32] jessegreenberg commented on #399
I am not sure what it should say. When I try the dialog on https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/dialog-modal/dialog.html, VoiceOver just says

when I open the dialog.

[2018-04-13 19:40] jessegreenberg commented on #399
The good news is that our dialog HTML looks very similar to the example at the above link - I think the main difference is that focus for them goes to the first form element,  focus for us goes to the "close" button (because there is no form element).

[2018-04-13 23:25] terracoda commented on #399
I would expect VoiceOver to something sensible like read from the top, or say, dialog with x number of items where x is the correct number of actual headings and list items combined. Another sensible thing would be to just announce the number of headings.

[2018-04-13 23:51] terracoda commented on #399
We could try placing focus on the h1, the first static element of the dialog. This is the design pattern in some cases where a placing focus on the first focusable item would cause scrolling. If this method works in all AT, then I would put the close button at the bottom again.

Quoting from the ARIA 1.1 Practices:

Regarding the example, there is something missing because I do **NOT** hear the in

[2018-04-13 23:52] terracoda commented on #399
@jessegreenberg, I'll try another sim, too.

[2018-04-14 00:07] terracoda commented on #399
The other sims read out something similar:

I just noticed in BASE we are missing a parent UL on the first section - that might be the issue.

If you can't have a single list item, you could use a paragraph element instead and see if that fixes the issue.

Inspector screen
<img width="651" alt="screen shot 2018-04-13 at 21 32 55" src="https://user-images.githubusercontent.com/1902116/38762083-df86

[2018-04-14 00:25] terracoda commented on #330
@jessegreenberg, thanks. I am closing this issue.

[2018-04-14 00:25] #330 closed

[2018-04-14 00:52] jessegreenberg commented on #399
Good catch @terracoda, thanks! Lets see if making that a paragraph fixes this.

[2018-04-14 00:57] jessegreenberg commented on #399
Change made in the above commit. But it does not fix the problem.

[2018-04-14 01:04] jessegreenberg commented on #399
If we remove the div with id "430-1117-1122-1121-427", VO says

So VO has decided to count the number of children under the element with role="dialog", and then maybe read some information if the number items is small enough. Here is the HTML if we do this.

[code]

@terracoda is that better?

[2018-04-14 01:09] terracoda commented on #399
I was going to suggest removing the content wrapper div, so good idea!

I think "8 items" is more accurate for sure, and gives an indication that there is some substantial stuff in there to read.

[2018-04-14 01:10] terracoda commented on #399
Let's roll with this, and see, since it sounds fine with JAWS and NVDA!

[2018-04-14 01:11] jessegreenberg commented on #399
Sounds great, thanks! Seems pretty safe but Ill just double check on NVDA and JAWS.

[2018-04-14 01:12] terracoda commented on #399
Note that we have learned that div can effect how AT works with the content, they are not completely ignored!

[2018-04-14 11:28] terracoda commented on #394
@jessegreenberg, awesome! Thanks for the explanation.

[2018-04-17 23:57] jessegreenberg commented on #399
Indeed @terracoda, we will have to be on the lookout for this!

[2018-04-18 02:48] jessegreenberg commented on #399
Ah, the div was there before because the recommendation (at least at the time) was to use the `aria-describedby` attribute on a parent containing the dialog content without the close button and the title.

It seems like we have to choose between which AT we want it to sound best on. I don't much care either way. @terracoda do you think we should keep the div or no?

[2018-04-18 02:54] jessegreenberg commented on #399
With the div removed, JAWS doesn't read the dialog content automatically.

[2018-04-18 03:33] jessegreenberg commented on #398
Thanks for finding this @terracoda. I believe this should be fixed in the above commit, can you please verify?

[2018-04-18 12:53] terracoda commented on #398
@jessegreenberg, I verified that this issue is fixed! Thanks! It's sounding really good!
I'll go ahead and close this issue.

[2018-04-18 12:53] #398 closed

[2018-04-18 13:01] terracoda commented on #399
@jessegreenberg, I'll have another listen!

[2018-04-18 13:58] terracoda commented on #399
@jessegreenberg, re https://github.com/phetsims/balloons-and-static-electricity/issues/399#issuecomment-381292664, you also removed the `aria-describedby`.

Did you do that intentionally? Did you hear a difference?

I'm reviewed some web articles and examples:
- https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_dialog_role
- https://www.w3.org/TR/wai-aria-pr

[2018-04-18 14:12] terracoda commented on #399
@jessegreenberg, in the w3c example, Voice Over is not recognizing the aria-labelledby attribute which is strange, but in our case VoiceOver is naming the dialog.

Could you temporarily remove the `arai-describedby` attribute and I can see if it sounds any better without that.

My reasoning:
- The h1, "Keyboard Shortcuts" of the dialog sufficiently describe the purpose of and what is inside the di

[2018-04-18 15:33] jessegreenberg commented on #399
Yes, without the div what would aria-describedby point to?

To clarify, you want to try including the `div`, without the `aria-describedby` attribute?

[2018-04-18 15:35] terracoda commented on #399
@jessegreenberg, yes, I think we should try the dialog with the main `div`, but without the `aria-describedby` attribute.

[2018-04-18 15:35] terracoda commented on #399
That is, try it as-is, but without `aria-describedby`.

[2018-04-18 17:01] jessegreenberg commented on #399
Sounds good @terracoda I remove the aria-describedy but kept the div, should be ready on phettest after pulling.

In NVDA, it sounds like:

clickable Close button
Keyboard Shortcuts
button Close

Then the rest of the dialog content is read in full.

[2018-04-18 17:02] terracoda commented on #399
Thanks @jessegreenberg, I'll test in VoiceOver.

[2018-04-18 17:11] terracoda commented on #399
@jessegreenberg, much better! Thanks for taking the time to help me try all these things!
We need to document this our eventual design patterns!
<img width="652" alt="image" src="https://user-images.githubusercontent.com/1902116/38947163-48e83c40-4316-11e8-97ba-f32ec8e8c4a8.png">

[2018-04-18 17:12] terracoda commented on #399
@jessegreenberg, also, after I hear the initial dialog information, I just use the cursor keys to key on, and it sounds good.

[2018-04-18 17:15] terracoda commented on #399
We might need to keep our eyes on the HTML5 `dialog` element for the future, but for now I think we have a dialog that works.

Please close this issue when you are ready!

[2018-04-18 17:47] terracoda commented on #399
@jessegreenberg, regarding https://github.com/phetsims/balloons-and-static-electricity/issues/399#issuecomment-382235184

As long as the dialog is announced properly in JAWS and the cursor keys allow the user to read the content in the dialog in the correct order, the dialog is good from my perspective.

The content in the dialog does not have to be read out automatically to be accessible.

[2018-04-18 20:59] jessegreenberg commented on #399
Sounds great.

Understood, thanks for clarifying! It sounds good in JAWS so I think this issue can be closed. Thanks  @terracoda.

[2018-04-18 20:59] #399 closed

[2018-05-15 15:45] jessegreenberg commented on #70
Reviewed with @emily-phet @ariel-phet @terracoda. Agreed that the current look is OK. This issue can be closed.

[2018-05-15 15:45] #70 closed

[2018-05-15 15:46] #75 closed, assigned to nobody

[2018-05-15 15:53] jessegreenberg commented on #94
Assigning to myself to discuss status of this issue with @jbphet.

[2018-05-15 15:54] jessegreenberg commented on #101
Discussed with @ariel-phet @terracoda @emily-phet, this is not an issue.

[2018-05-15 15:54] #101 closed

[2018-05-15 15:58] jessegreenberg commented on #359
Discussed with @ariel-phet @terracoda @emily-phet:

This change would be beyond the scope of this simulation. We understand and the feedback is correct,  but this sim is meant for a much younger audience to get a basic understanding. @oliver-phet can you please notify the user of this?

[2018-05-15 16:02] oliver-phet commented on #359
Done. Closing.

[2018-05-15 16:02] #359 closed

[2018-05-15 16:19] ariel-phet commented on #68
Sim on master looks absolutely fine on master. Tested on 5/15/2018 on Win 7 FF.

[2018-05-15 16:19] #68 closed

[2018-05-15 17:07] lmulhall-phet opened #401 "keyboard navigation focus is missing after Remove Wall is pressed"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

10.13.4

<b>Browser</b>

Safari 11.1

<b>Problem Description</b>

Related to phetsims/QA/issues/112. I used VoiceOver to guide me to the "Remove Wall" button. The "Remove Wall" button initially had keyboard navigation focus, i.e. the purple outline. When the "Remove Wall" button was pressed, the keyboard navigation focus disappeared.

This

[2018-05-15 17:09] jessegreenberg commented on #401
I haven't been able to reproduce this on Safari 11.0.3 with VO with 1.4.0-dev.21.

[2018-05-15 17:13] jessegreenberg commented on #401
I can reproduce this issue when interacting with the button with "ctrl + option + spacebar" - which is what VO tells us to do in its interaction hint. @terracoda is this expected behavior?

[2018-05-15 17:18] jessegreenberg commented on #401
To be clear, I can still click the button, it is just that the focus highlight disappears.

[2018-05-15 17:25] jessegreenberg commented on #401
Using the console, I can see that after the button is clicked with ctrl + option + space, focus is on the body, even while still interacting with the button.

[2018-05-15 17:27] jbphet commented on #94
There are no HTML5 translations of this sim in babel, nor on the website, for the two locales specified ('ar' and 'ar_SA').  In other words, there is nothing that needs to be addressed for rosetta or anything related to HTML5 translations.

There are other comments above about problems with the translations of the Java version of this sim.  It seems those translations are partial, as shown in the

[2018-05-15 18:07] lmulhall-phet commented on #91
@jessegreenberg I'm able to reproduce using 1.4.0-dev.21 on macOS using Safari, FF, and Chrome. Not able to reproduce on Chrome OS, Win/Edge, Win/FF, or Win/Chrome.

[2018-05-15 19:22] lmulhall-phet opened #402 "poor WASD, arrow keys performance on Windows, Firefox"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Firefox 60.0

<b>Problem Description</b>

Related to phetsims/QA/issues/112. Using WASD or the arrow keys to move a balloon while NVDA (EDIT: or JAWS) is running is extremely laggy. (This might be a machine-specific issue.)

<b>Steps to Reproduce</b>

1. Have NVDA (EDIT: or JAWS) running.
2. Move balloon using WASD or

[2018-05-15 20:15] lmulhall-phet opened #403 "keyboard navigation focus from Reset All spilling into navigation bar"
![screen shot 2018-05-14 at 4 40 24 pm](https://user-images.githubusercontent.com/31285590/40081045-1db5fa96-584a-11e8-81c9-28bc5d7d976c.png)

For phetsims/QA/issues/112. Should we change this? @jessegreenberg and I weren't sure whether this warranted an issue, but as per @ariel-phet's advice, I'm erring on the side of more issues.

[2018-05-15 23:27] lmulhall-phet opened #404 "using JAWS, pressing space multiple times in balloons checkbox shifts keyboard navigation focus"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Firefox 60.0

<b>Problem Description</b>

For phetsims/QA/issues/112. If you tab to the balloons checkbox while JAWS is running and then press space multiple times, the keyboard navigation focus will shift to something else.

I've seen it shift to the following:
- One of the balloons
- The "Remove Wall" button
- Seemi

[2018-05-15 23:29] lmulhall-phet commented on #404
Possibly related to #293 and #308?

[2018-05-15 23:31] lmulhall-phet commented on #404
@jessegreenberg it would be useful to know how you were able to figure out where the focus is by doing something with the console.

[2018-05-16 15:32] jessegreenberg commented on #404
Thanks @lmulhall-phet, weird.

Sure, In the console, I added
[code]
1000 is the delay in ms, that can be tweaked if you want it faster or slower. This will tell you which DOM element has focus, which may be enough to indicate which scenery Node should have focus.

[2018-05-16 15:39] jessegreenberg commented on #401
I don't see this happening in vanilla HTML.
https://jsfiddle.net/bawt7y4u/3/

[2018-05-16 16:01] jessegreenberg commented on #401
It is clicking in the center of the HTML element in the PDOM. `pointer.point` is a Vector2 {-5875, 108}. Inspecting the HTML element,
[code]

[2018-05-16 16:33] jessegreenberg commented on #401
One way to fix this is to only remove focus if we receive a pointer event within the display bounds. If outside of the display bounds, we can assume the AT sent an input event and ignore?

[code]
On hold until other a11y work in scenery is merged into master (or we think of something better).

[2018-05-16 16:43] jessegreenberg commented on #402
Thanks @lmulhall-phet, that is very bad. Firefox performance is much better on my machine, but I have been testing on FF ESR 52. Firefox 60 has been known to significantly reduce performance for accessibility. @lmulhall-phet I am sorry I didn't mention this. I would like to

- Try FF 60 on another device to see if it is faster.
- Try FF ESR on Hanson to see if that significantly improves performan

[2018-05-16 16:55] jessegreenberg commented on #402
Testing on FF 60 with NVDA using @phet-steele's laptop.

I don't notice bad framerate, but FF 60 with NVDA does have a problem where the WASD and Arrow keys behave as though they remain pressed down for longer than they are. This could also be performance related.

[2018-05-16 16:58] jessegreenberg commented on #402
@lmulhall-phet is going to try with FF ESR 52 on Hanson to see if that improves performance. Thanks!

[2018-05-16 17:01] jessegreenberg commented on #77
To clarify, it is because the wall image doesn't extend beyond the black rectangle on the right side. And if we were to make it wider, we would have to add additional charges which we do not want to do at this time.

[2018-05-16 17:09] lmulhall-phet commented on #402
@jessegreenberg the WASD / arrow key performance with NVDA is markedly better with FF ESR 52. Same for JAWS. I'm not experiencing the phenomenon where the balloon would continue to move as if you were still pressing one of the keys to move it.

[2018-05-16 17:39] jessegreenberg commented on #402
Thanks @lmulhall-phet, good news. In that case, we should discuss with @emily-phet and @terracoda about how much time PhET should spend improving improving performance due to FF Quantum.

On one hand, FF is up to version 60, and has  been trying to bring people to latest version since Jan of 2018 (https://www.marcozehe.de/2018/01/16/nvda-firefox-58-team-regaining-strength/). As of Jan of 2018, Moz

[2018-05-16 17:45] jessegreenberg commented on #403
A couple of options, all of which would likely take 0-10 minutes:
 - Do nothing, it isn't a big deal.
 - Make the focus highlight smaller so it doesn't overlap the nav bar.
 - Shift the control panel up just a bit so the default highlight dilation for the button can still be used.

[2018-05-16 17:47] jessegreenberg commented on #404
This also sounds performance related, like the virtual cursor isn't able to keep up with browser focus. @lmulhall-phet are you able to reproduce this in FF ESR 52?

[2018-05-16 17:59] jessegreenberg commented on #404
I am not able to reproduce this with FF ESR 52. I think we need to decide whether we support "latest" FF or FF ESR 52.

[2018-05-16 18:03] jessegreenberg commented on #77
It looks like there is more info about the rectangles in #54

//A black rectangle that vertically 'extends' the navbar from joist, see #54

[2018-05-16 18:07] jessegreenberg commented on #77
Removing it has no impact when running with "dev" bounds. Here is what it looks like running in narrower layout bounds"

[2018-05-16 18:07] jessegreenberg commented on #77
![capture](https://user-images.githubusercontent.com/6396244/40135148-c51497d6-5901-11e8-86dd-9f5006d099dc.PNG)

[2018-05-16 18:10] jessegreenberg commented on #77
One option is to make the balloon tether point and wall bottom at the bottom of the layout bounds.

[2018-05-16 18:30] arouinfar commented on #77
@jessegreenberg I think it would look a bit more natural if the sim contents didn't float up. Can we instead tack the dev boundary to the navbar? We did something similar in ESPB

![image](https://user-images.githubusercontent.com/8419308/40136302-bed622d8-5904-11e8-961f-4d66f8e9f595.png)

[2018-05-16 18:57] jessegreenberg commented on #77
Great, thanks @arouinfar and @terracoda! Closing this issue.

[2018-05-16 18:57] #77 closed

[2018-05-16 18:59] lmulhall-phet opened #405 "JAWS shifts keyboard navigation focus after picking up balloon"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Firefox ESR 52.8.0

<b>Problem Description</b>

For phetsims/QA/issues/112. For some reason, tabbing to the balloon, pressing space, and then pressing A will shift the keyboard navigation focus to the radio buttons for the charge settings. This only occurs when JAWS is running, and doesn't occur when I try to record i

[2018-05-16 19:00] terracoda commented on #401
Ok, sounds good.

[2018-05-16 19:18] terracoda commented on #402
@jessegreenberg, I realize we do not officially support JAWS with Chrome, IE or Edge, but would it be prudent just to test a little in each of the browsers since performance in FF has decreased significantly?

I am not really sure how to deal with this AT support flux?

[2018-05-16 19:25] terracoda commented on #403
Of the other two options, if we need to move it, I would vote for moving the control panel up slightly. I would not want to make the focus highlight inconsistent with other reset buttons.

[2018-05-16 19:32] terracoda commented on #405
@lmulhall-phet, do you have forms mode set to auto? I think that is the default setting, but I am not sure?

If JAWS is not going into forms mode automatically, it is possible that only the Enter key will force it into forms mode.

Does the balloon get grabbed if you press Enter twice then press A key, or press Enter then Space then A key?

At any point do you hear the JAWS-entered-forms-mode pop

[2018-05-16 19:35] terracoda commented on #405
Oh, and to clarify this only happens with Space key? Then maybe doubling up the interaction is not very useful?

[2018-05-16 19:48] lmulhall-phet commented on #404
@jessegreenberg I'm sort of torn on this...
1. https://support.mozilla.org/en-US/kb/can-i-use-my-screen-reader-new-firefox
2. http://www.freedomscientific.com/downloads/JAWS/JAWSWhatsNew#Enhancements
Performance is much better with FF ESR, but it seems like JAWS is trying to cater to those who transition to FF 60. The above links are pertinent.

[2018-05-16 19:49] terracoda commented on #405
Oh, I just found this document on JAWS and forms mode:
https://www.freedomscientific.com/.../JAWS-ARIA-Support.doc

Could this section be the issue?

In terms of Forms Mode, there are two groups of controls: those that require Forms Mode to interact with them, and those controls that never require Forms Mode to interact with them.
Forms Mode is required for edit fields, combo boxes, spin controls,

[2018-05-16 19:50] lmulhall-phet commented on #404
In the "Web Browsers" section of the second link:

[2018-05-16 19:53] terracoda commented on #405
It should matter whether one is in forms mode or not when on a button, but maybe it is here?

[2018-05-16 19:55] terracoda commented on #405
@lmulhall-phet for comparison and understanding can you test with auto-forms mode set to off, and see how that affects the interaction?

[2018-05-16 19:57] lmulhall-phet commented on #404
Long term, it seems like a good idea to support the latest version of FF, even though it may cause headaches in the short term.

[2018-05-16 19:58] jessegreenberg commented on #404
@lmulhall-phet I am equally torn, I agree with your interpretation. I agree that is the long term goal, but I want to avoid substantial short term work now if FF is going to significantly improve their performance anyway.

[2018-05-16 20:00] jessegreenberg commented on #405
It seems to me like it shouldn't matter, focus is on the div with role=application.

[2018-05-16 20:01] jessegreenberg commented on #403
Thanks @terracoda, Ill go ahead and close this issue, we will leave as is.

[2018-05-16 20:01] #403 closed

[2018-05-16 20:02] terracoda commented on #405
@jessegreenberg, my understanding was that perhaps JAWS was not entering application role (aka forms mode) from the button??

[2018-05-16 20:02] lmulhall-phet commented on #405
@terracoda @jessegreenberg I'll test forms mode to verify.

[2018-05-16 20:06] jessegreenberg commented on #402
I don't think so @terracoda, the benefit of working on a small set of supported platforms is that we don't have to spend resources testing and fixing bugs on platforms that are not in the list. I think we should focus on full support or none for a browser.

[2018-05-16 20:08] jessegreenberg commented on #405
Perhaps, but I think @lmulhall-phet said he could use the WASD keys sometimes with JAWS. My interpretation of the section you posted is for the active element, not the previous element that had focus.

[2018-05-16 20:09] lmulhall-phet commented on #404
@jessegreenberg it sounds like we should support ESR 52 for now, and figure out when we should transition to FF 60? Maybe I'll continue to test sims on both versions, and if we see better performance on FF 60, we can begin the transition? What are your thoughts on this approach?

[2018-05-16 20:26] lmulhall-phet commented on #405
I'm not experiencing this issue on FF 60.

[2018-05-16 20:30] jessegreenberg commented on #405
Thanks @lmulhall-phet, good to know.

[2018-05-16 21:10] lmulhall-phet commented on #404
@jessegreenberg I also cannot reproduce on FF ESR 52.

[2018-05-16 21:17] lmulhall-phet commented on #405
@terracoda @jessegreenberg this happens with the enter key as well.

[2018-05-16 21:57] lmulhall-phet commented on #405
@jessegreenberg Still occurs when I wait for the dialogue to complete.

[2018-05-16 21:57] jessegreenberg commented on #404
Thanks @lmulhall-phet.

Regarding https://github.com/phetsims/balloons-and-static-electricity/issues/404#issuecomment-389649334,
That sounds reasonable to me, lets proceed with FF ESR 52 since that is the one that really works for now. I made an issue https://github.com/phetsims/a11y-research/issues/102 to discuss this in detail.

[2018-05-16 21:58] jessegreenberg commented on #405
@lmulhall-phet when using JAWS, have you ever heard it say "Forms mode on"?

[2018-05-16 22:26] lmulhall-phet commented on #405
@jessegreenberg, no I haven't.

[2018-05-17 01:04] terracoda commented on #402
Ok, understood.

[2018-05-17 01:34] terracoda commented on #405
@jessegreenberg and @lmulhall-phet, my understanding and experience is that JAWS makes a pop sound when it enters forms mode. I have heard this sound many times during interviews. I don't know if this pop sound is turned on through a user setting.

[2018-05-17 01:39] terracoda commented on #405
@lmulhall-phet, just for clarification, you tab to the Grab balloon button, you hit Enter or Space keys, and in both cases you do not hear a pop, then you Press A and go to the radio buttons.

Is that correct?

[2018-05-17 01:40] terracoda commented on #405
And at any time after hitting Enter or Space on the grab button, do you hear, "Grabbed. At center of play area..."?

[2018-05-17 15:35] jessegreenberg commented on #405
Interesting, probably a user setting then. My version definitely says "Forms mode on" and "Forms mode off" when it toggles.

[2018-05-17 15:46] terracoda commented on #405
Makes sense why I hear the pop in interviews with screen reader users then. Seems like a good setting to change. I'd rather hear a pop than "forms mode on/off" every time I entered forms mode.

[2018-05-17 18:36] lmulhall-phet opened #406 "Report a Problem, PhET Website throw assertion failed error, cannot interact with sim"
<b>Test Device</b>

MacBook Air, Hanson

<b>Operating System</b>

macOS 10.13.4, Windows 10

<b>Browser</b>

Firefox 60.0.1

<b>Problem Description</b>

For phetsims/QA/issues/112. While doing some general dev testing, I noticed that
1. Clicking the PhET Website link
-OR-
2. Clicking the Report a Problem link

throws the following error:

`Error: Assertion failed: Exit events not matched by an ent

[2018-05-17 18:46] terracoda commented on #406
@jessegreenberg, this is out of my realm, I think. Let me know if you need my help.

[2018-05-17 18:51] lmulhall-phet commented on #406
@jessegreenberg This does not occur when I use keyboard navigation to open either of the links.

[2018-05-17 18:57] lmulhall-phet commented on #405
@jessegreenberg I'm experiencing the keyboard navigation focus shifting phenomenon with the Reset Balloon button as well on FF 60.0.1.

[2018-05-17 20:57] lmulhall-phet opened #407 "JAWS, FF 60.0.1 arrow keys do not shift keyboard navigation focus for charge settings radio buttons"
<b>Test Device</b>

Hanson

<b>Operating System</b>

Windows 10

<b>Browser</b>

Firefox 60.0.1

<b>Problem Description</b>

For phetsims/QA/issues/112. If you tab to the radio buttons for the charge settings, using the arrow keys will not shift the keyboard navigation focus. However, JAWS does have the correct readout, e.g. if I'm on the "Show all charges" radio button and press the down arrow ke

[2018-05-17 21:31] lmulhall-phet commented on #405
I'm experiencing keyboard navigation focus shifting with the following:

Balloon
- space: no
- enter: no

Remove Wall
- space: yes
- enter: yes

Balloon Checkbox
- space: yes
- enter: yes

Reset Balloon
- space: yes
- enter: yes

Charge Settings Radio Buttons
- space: no
- enter: no

Reset All
- space: yes
- enter: yes

Keyboard Shortcuts
- space: no
- enter: no

PhET Menu
- space: no
- enter: no

[2018-05-17 23:08] jessegreenberg commented on #407
Thanks for making an issue @lmulhall-phet but this is actually the expected behavior. It was a surprise to us too and we ended up submitting a bug report to VFO about it (https://github.com/phetsims/a11y-research/issues/54).

If you then press "enter", the "Show no charges" radio button will  be selected.

@lmulhall-phet @terracoda should this quirk be documented somewhere in the design patterns d

[2018-05-17 23:10] terracoda commented on #407
@jessegreenberg, that might be a good idea.

[2018-05-17 23:11] lmulhall-phet commented on #407
Huh, that's some weird behavior. Thanks @jessegreenberg. I can document this for QA. Closing.

[2018-05-17 23:11] #407 closed

[2018-05-17 23:33] lmulhall-phet opened #408 "incorrect behavior with iOS Safari touch actions/scrolling"
<b>Test Device</b>

iPad Pro

<b>Operating System</b>

iOS 11.3.1

<b>Browser</b>

Safari

<b>Problem Description</b>

For phetsims/QA/issues/112. I'm experiencing the touch actions/scrolling behavior @jonathanolson documented in phetsims/scenery/issues/770, i.e. when I try to move the balloon around, the screen will move up and down with the balloon. Wondering if this should be fixed for this dev

[2018-05-17 23:56] jessegreenberg commented on #408
Thanks for checking, it looks like patches were added for that bug 20 days ago and 1.4.0-dev.24 is older than that so I *would* expect the bug to show up in this test. @lmulhall-phet I assume it isn't showing up in master so this issue can be closed, but let us know.

[2018-05-17 23:56] #408 closed

[2018-05-17 23:57] jessegreenberg commented on #406
I spent ~20 minutes trying to track it down but got nowhere. Happy to spend more time but @jonathanolson might isolate the problem immediately so Ill wait for a response in the above issue.

[2018-05-18 00:01] phet-steele commented on #408
@lmulhall-phet note the date on the scenery fix (https://github.com/phetsims/scenery/commit/ef52b4c39792a112c4949576ed31bb6f3523787c) and how it comes after the build date for this dev (https://github.com/phetsims/balloons-and-static-electricity/commit/680f64f74248911af8576f73d91992846a0dcd34). As @jessegreenberg said, 1.4.0-dev.24 is expected to have the issue.

[2018-05-18 00:10] jessegreenberg commented on #405
I am able to reproduce this, it is very very weird. Focus is jumping spontaneously. Sometimes I am able to successfully interact with a button, then the second time I click it focus jumps somewhere else and clicks a different button that I didn't want to click.

[2018-05-18 00:15] jessegreenberg commented on #405
@lmulhall-phet was that comment meant for this issue or #404

[2018-05-18 00:18] jessegreenberg commented on #405
I am not able to reproduce the original issue

in FF 60. @lmulhall-phet I think you said that as well in https://github.com/phetsims/balloons-and-static-electricity/issues/405#issuecomment-389654083.

If we proceed with supporting FF 60, can this issue be closed?

[2018-05-18 00:19] jessegreenberg commented on #404
I expect that we will proceed with FF 60 based on recent comments in https://github.com/phetsims/a11y-research/issues/102.

[2018-05-18 00:25] jessegreenberg commented on #404
...sometimes.

[2018-05-18 00:28] jessegreenberg commented on #404
I am guessing this is performance related, or related to our rapidly changing DOM but we should test a JSFiddle just in case.

[2018-05-18 01:28] lmulhall-phet commented on #405
I agree #404 would have been a more appropriate place to post that comment.

@jessegreenberg I haven't been able to reproduce the original issue either, so yes.

[2018-05-18 01:28] #405 closed

[2018-05-18 01:30] lmulhall-phet commented on #408
Thanks, @phet-steele!

[2018-05-18 03:54] jonathanolson commented on #406
Ok, apparently the animation frame CAN fire while waiting for the window.open.

<img src="https://media.giphy.com/media/NPyHgTkMStCXC/giphy.gif" alt="Crazy Pills"/>

Looking for the best solution (ideally a non-blocking form), but also I'll need to solve the general problem for the enter/exit counts also.

[2018-05-18 05:42] jonathanolson commented on #406
Created the `branch-input` branch for some work on this.

[2018-05-18 06:06] jonathanolson commented on #406
Moved to master, tests are showing this being pretty stable. The usual "could have broken some obscure input thing, or something in a different browser" applies.

@lmulhall-phet, can you confirm that this fixes the bug in master?

[2018-05-18 15:05] terracoda commented on #404
@jessegreenberg, you have likely already given this great thought, but we might have to manage focus more tightly. Focus is easily lost if things are appearing and disappearing in the DOM. If focus is on an element that disappears the browser will try to put focus somewhere for us.

I am not sure how tightly we manage focus already??

[2018-05-18 15:18] jessegreenberg commented on #404
Good point @terracoda, we definitely need manage focus in those cases but I don't think that is what is happening here. So far my understanding of this issue is that JAWS is making focus to to the previous focusable element after clicking a button or checkbox that doesn't change.

[2018-05-18 18:07] ariel-phet commented on #94
@jbphet I agree this can be closed, and certainly nothing needs to be done on the Java side.

Closing

[2018-05-18 18:07] #94 closed

[2018-05-18 19:13] jessegreenberg commented on #402
It sounds like we will likely be targeting FF 60. Reassigning to myself.

[2018-05-18 19:17] jessegreenberg commented on #402
When I test with NVDA and FF 60, the it acts as though I am holding  down the WASD/arrow keys for 0.5-1.0 seconds longer than I am (sometimes).

I am not seeing the substantial loss of framerate shown in the issue ticket.

[2018-05-18 20:58] lmulhall-phet commented on #402
@jessegreenberg I am seeing the same behavior. Do you think we ought to close this issue and open a new one for the 0.5s longer arrow key press issue? Or do you think they are related somehow?

[2018-05-18 21:36] jessegreenberg commented on #402
Thanks @lmulhall-phet, it sounds like this issue can be closed, Ill make a new one now to track the delay. If it is also only 0.5 seconds on Hanson it might not be worth spending too much time on.

[2018-05-18 22:53] lmulhall-phet commented on #406
@jonathanolson fixed in master for BASE, but I'm not sure what other sims to test...  How would I go about figuring out which sims use ButtonListener?

[2018-05-19 05:02] jonathanolson commented on #406
It's more of a "fixed a general problem that happens to affect ButtonListener in this case".

If it's fixed in this instance (and snapshots show it's fairly unlikely I broke general behavior), I'm going to close it.

[2018-05-19 05:02] #406 closed

[2018-05-24 18:28] terracoda commented on #402
@lmulhall-phet and @jessegreenberg, I am fine with closing this issue.

[2018-05-24 18:34] jessegreenberg commented on #402
Sounds good @terracoda, closing. Ill create a new one to track the 0.5 second delay.

[2018-05-24 18:34] #402 closed

[2018-05-24 18:46] jessegreenberg opened #409 "Delay when using WASD/arrow keys with NVDA and JAWS"
For https://github.com/phetsims/QA/issues/112.

From https://github.com/phetsims/balloons-and-static-electricity/issues/402, @lmulhall-phet noticed this.

There is sometimes a 0.5-2 second delay when releasing a WASD or arrow key while moving the balloon. The result is that the balloon will continue to move after a user releases a key. The delay is usually around 0.5 seconds, sometimes it is longe

[2018-05-24 18:47] jessegreenberg commented on #401
a11y tree remapping was merged into master, we are back on for this.

[2018-05-24 19:26] terracoda commented on #409
@jessegreenberg 2 seconds is kind of a long time. Do the alerts stay in synch with what is happening?

[2018-05-24 19:32] terracoda commented on #409
@jessegreenberg, I would hope we that we could fix this before publication, but I would like to discuss with @emily-phet what kinds of issues constitute a block.

I have witnessed this type of performance delay behaviour in earlier versions, and I found it not very nice, so ideally, it would be great to fix it.

[2018-05-24 19:45] terracoda commented on #401
@jessegreenberg, the issue only happens when using Control-Option-Space, the interaction recommended by Voice Over. Focus is not lost when pressing Space or Enter alone to complete an interaction.

Currently, on master and this happens for all buttons and checkboxes.

I think I tested before you actually fixed. I took "back on" to mean "back on for testing".

Let me know when you are ready for me

[2018-05-24 19:47] jessegreenberg commented on #401
Sorry @terracoda,  "Back on for implementation" - ill reassign to you to verify.

[2018-05-29 19:21] terracoda commented on #409
@jessegreenberg, I think I need more details about the context in which performance becomes bad.

Have you tested your theory about "AT struggling with updates to the Accessibility Tree"?

[2018-05-29 19:51] terracoda commented on #404
@jessegreenberg, is it possible just to make sure we tell the browser where focus should be after an interaction?

Buttons can change context or not change context.:
- For example a button that opens a dialog is a change in context and focus has to be put in the dialog on the intended element. This does not happen by default by the browser.
- The Two-balloon Experiment, checkbox, it is not a chang

[2018-05-30 15:43] terracoda commented on #91
@jessegreenberg, if QA was not able to reproduce this issue in dev testing, can we close this issue?

[2018-05-30 15:53] jessegreenberg commented on #91
@terracoda according to https://github.com/phetsims/balloons-and-static-electricity/issues/91#issuecomment-389260693 it sounds like QA team was able to reproduce this on macOS.

[2018-05-30 15:58] terracoda commented on #401
@jessegreenberg, I like your solution suggested. I am not actually sure what the expected visual focus behaviour is for VoiceOver Controls.

It makes sense to me to keep the focus highlight since **MOST** VoiceOver users are interacting with the keyboard. I have seen, however, one user switch to using the track pad when interacting with a slider.

[2018-05-30 16:06] terracoda commented on #91
@jessegreenberg, thanks. I stand corrected. I read the comment incorrectly.
I'll test Master and see if I can reproduce.

[2018-05-30 16:40] terracoda commented on #91
Using Mac OS 10.13.4
Safari Version 11.1 (13605.1.33.1.4)
Firefox 60.0.1 (64-bit)
Chrome Version 66.0.3359.181 (Official Build) (64-bit)

@jessegreenberg @lmulhall-phet, I am not able to reproduce this in Safari, Firefox or Chrome, with or with a screen reader on using the version from Master on PhET Test.

What are the steps to reproduce? I just right click on the balloon and nothing out of the o

[2018-05-30 18:27] jessegreenberg opened #410 "Weird focus issues with green balloon"
From https://github.com/phetsims/scenery/issues/713

[2018-05-30 20:15] lmulhall-phet commented on #91
@terracoda, I also cannot reproduce @arnabp's original issue on master. I can, however, reproduce something similar but slightly more involved than simply right clicking on the balloon. Here are the steps that work for me:
1. Use a mouse.
2. Left click and then immediately right click on the balloon.
3. Exit out of the right click menu by clicking outside of the right click menu. (At this point, t

[2018-05-30 20:28] jessegreenberg commented on #84
Nothing in this sim is using explicit prototype assignment anymore.

[2018-05-30 20:28] #84 closed

[2018-05-30 20:39] jessegreenberg commented on #91
@lmulhall-phet said that https://github.com/phetsims/balloons-and-static-electricity/issues/91#issuecomment-393303200 is just a problem on macOS Chrome.

I tried to reproduce on macOS 10.13.3 and cannot reproduce.

Also, I would be surprised if this issue is specific to BASE, it seems like it could be a problem with anything that uses SimpleDragHandlers (or maybe scenery).

[2018-05-30 20:49] jessegreenberg commented on #91
@lmulhall-phet showed me how to reproduce - it requires an actual mouse to do it (not a touchpad). He also confirmed that this is a common code issue.

[2018-05-30 20:56] jessegreenberg commented on #91
A general issue was created for this in scenery https://github.com/phetsims/scenery/issues/803.

This has been noticed elsewhere like https://github.com/phetsims/resistance-in-a-wire/issues/147, and those issues are being closed and deferred. Since this is being tracked generally in scenery Ill close this one too.

[2018-05-30 20:56] #91 closed

[2018-05-30 20:57] jessegreenberg commented on #410
Also, picking up the green balloon after using enter or spacebar (immediately after adding balloon to screen) makes focus go away.

My guess is this is caused by moveToFront().

[2018-05-31 14:33] terracoda commented on #410
@jessegreenberg, focus highlight is behaving very strange in Safari as well with both balloons active.

With keyboard alone:
- sometimes do not get grabbed focus highlight
- tabbing away sometimes does not release balloon and coming back to it, it is already grabbed and gets the dotted grabbed focus outline.
- tabbing through after an un-indicated grab, a tab will first go to the solid outline the

[2018-05-31 14:55] terracoda opened #411 "When wall is removed, I get an extra balloon alert that balloon's position has not changed."
@jessegreenberg, when I have a charged or neutral balloon against the wall and then remove the wall, the first part of the Balloon alert is, "No change in position," but this is only true if the balloon is neutral. If the balloon has charge, and the wall is removed, it will start to move immediately.

Can you make sure that the "No change in position" alert only fires if the wall is present, or if

[2018-05-31 14:58] jessegreenberg commented on #411
Thanks @terracoda, Ill look into it.

[2018-05-31 14:59] terracoda commented on #411
@jessegreenberg, thanks :-)

[2018-05-31 16:38] jessegreenberg commented on #410
If I remove the moveToFront() calls to move the focused balloon to the front, the problem goes away.

[2018-05-31 17:37] terracoda commented on #410
@jessegreenberg, awesome!
Do you think there is  a way to fix the moveToFront() call?

The moveToFront() call is so that the grabbed balloon always appears in front, right?

[2018-05-31 17:54] jessegreenberg commented on #410
Exactly, it looks like that is the only way. This was introduced somewhere in the recent a11y tree remapping work.

[2018-06-01 00:29] jessegreenberg commented on #410
This will be handled in scenery, created https://github.com/phetsims/scenery/issues/809 to work on it.

[2018-06-01 01:40] terracoda commented on #410
Thanks @jessegreenberg!

[2018-06-01 21:20] jessegreenberg commented on #409
All updates to inner content go through AccessibiliytUtil.setTextContent  - I tried to short circuit that by returning early but I don't see much of a performance benefit or difference when I do that. It seems slightly better but I am not convinced it is enough to warrant optimizing there.

[2018-06-01 21:27] jessegreenberg commented on #409
I tried to short circuit setLabelContent,  setDescriptionContent, setInnerContent and observed similar results.

[2018-06-01 21:31] jessegreenberg commented on #409
I tried disabling charge animation, it didn't improve performance.

[2018-06-01 21:37] jessegreenberg commented on #409
Are there occasional delays in keyup events in another context?

[2018-06-01 21:56] jessegreenberg commented on #409
Not really, I tried this HTML:
[code]

And I did not see the same delay in key events that we are in the sim.

[2018-06-01 22:00] jessegreenberg commented on #409
Trying performance profiling in FF with NVDA:
![profile](https://user-images.githubusercontent.com/6396244/40865287-c94581a2-65b4-11e8-9fed-ce4f95e857df.PNG)

At 1600 ms I tapped the A key and the balloon moved left until 3000 ms. Can see the framerate drop, in that time.

[2018-06-01 22:01] jessegreenberg commented on #409
What is all that green?

[2018-06-01 22:34] jessegreenberg commented on #409
Alright, here is a different profile:
![capture](https://user-images.githubusercontent.com/6396244/40866146-5fab703a-65b9-11e8-9e47-f15e77050d5e.PNG)

1600-4800ms I am dragging with the mouse. 8000 - 13000ms I am dragging with the keyboard. Every sharp drop is a keydown event, so we can see FF/NVDA struggles with this input more. So this makes me think it is more about the input than the PDOM upda

[2018-06-01 22:42] jessegreenberg commented on #409
![capture](https://user-images.githubusercontent.com/6396244/40866347-72d952de-65ba-11e8-94eb-54c2799d5c06.PNG)

Here is a profile when FF is turned off. Each drop in framerate is from a keydown event. So keyboard navigation is still taxing, but less so. But I don't understand why paint seems to be called more frequently when the AT is on.

[2018-06-01 23:32] jessegreenberg commented on #409
Wow...NVDA does not have this delay problem at all in FF in the a11y view. Why on earth is that?

[2018-06-02 01:42] terracoda commented on #409
@jessegreenberg, is the only difference the existence of an iframe?

And, What is "Paint"?

[2018-06-02 04:12] jessegreenberg commented on #409
I wondered about that, but other iframes (like those for phetio) do have this problem. Might be some other aspect of the a11y-view document or css settings or something?

Apparently the Paint cycle the last step the browser takes to render all pixels onto the screen. https://developers.google.com/web/fundamentals/performance/critical-rendering-path/render-tree-construction

[2018-06-04 14:47] terracoda commented on #409
@jessegreenberg, did you mean to say "other iframes (like those for phetio) do **not** have this problem" in https://github.com/phetsims/balloons-and-static-electricity/issues/409#issuecomment-394056610.

**Regarding Paint**
From that article you posted:

Since we have a dynamic PDOM, is possible the browser is going through steps 1-5 each time it changes?

[2018-06-04 14:49] terracoda commented on #409
@jessegreenberg, I understand what you wrote in #409 (comment). The A11y View does not have this issue, but other sims with iframes, do.

[2018-06-04 16:16] jessegreenberg commented on #409
Here is what I have found this morning:

 - The delay is generally worse after the balloon hits the sweater/picks up a charge.
 - If I disable setting inner content of PDOM elements, all alerts, and updating `hidden` attribute on DOM elements, the problem goes away away, but returns every time the balloon picks up charges.

This still doesn't explain why it doesn't happen in the a11y-view. The fra

[2018-06-04 16:28] jessegreenberg commented on #409
Ahh, in https://github.com/phetsims/balloons-and-static-electricity/issues/409#issuecomment-394019940, if I add a paragraph to hide/unhide on keydown/keyup
[code]
[code]
I start to see long delays on the keyup event in this basic example.

[2018-06-04 16:41] jessegreenberg commented on #409
Also, the delay is only there when setting hidden to true AND updating the DOM frequently.

[2018-06-04 16:43] jessegreenberg commented on #409
When I reduce the number of elements to update in https://github.com/phetsims/balloons-and-static-electricity/issues/409#issuecomment-394019940, performance is much improved. We update the inner content of PDOM elements ~200 times a second in  BASE. If we can reduce this significantly, perhaps NVDA  performance will be much improved.

[2018-06-04 16:55] terracoda commented on #409
@jessegreenberg, do you think the updates are more when rubbing on the sweater because in the visual sim, each charge is a separate image, or drawn separately? I actually not 100% percent sure how the charges are drawn,. I am assuming they are drawn separately and each represents an individual image. When rubbing on sweater, each charge that disappears is re-drawn on the balloon.

That seems like

[2018-06-04 16:58] terracoda commented on #409
@jessegreenberg, what if you only update the inner content as fast as the sim can draw charges? Would that work? Would it be more or less frequent than it is now?

[2018-06-04 18:07] jessegreenberg commented on #409
Exactly, batching these updates will probably be one way to improve the performance.
In the version with https://github.com/phetsims/balloons-and-static-electricity/issues/409#issuecomment-394416969, If I update the example to only update ~500 times a second, performance is OK. In BASE, we are updating far less. So this is still being caused by a collection of things.

If I short circuit `BalloonM

[2018-06-04 18:30] jessegreenberg commented on #409
This could be pretty expensive:

[code]

[2018-06-04 18:39] terracoda commented on #409
Great! Thanks for the update.

[2018-06-04 18:39] jessegreenberg commented on #409
Indeed, I notice an improvement if I don't run it. It is expensive because `balloonShape` is an ellipse.

[2018-06-04 18:41] terracoda commented on #409
Oh, if only we had round balloons. Are circles cheaper?

[2018-06-04 19:02] jessegreenberg commented on #409
I would expect rectangles to be faster, replacing the ellipse with rectangular bounds didn't improve things much. Diving  into `moveChargeTo`.

[2018-06-05 16:01] jessegreenberg commented on #409
The above commit renders charge nodes in the wall with a CanvasNode, and this is giving us a huge improvement, there is no delay anymore when rubbing on the sweater. The only noticeable delay for me is on the first movement of the balloon.

[2018-06-05 16:38] jessegreenberg opened #412 "branch: performance-improvements"
For #409, probably short lived and can be merged into master shortly.

A branch to hack in some performance improvements in an attempt to fix #409.

[2018-06-05 16:42] jessegreenberg commented on #409
I am satisfied with performance now, and I think we can merge with master and close.

In general, I think the performance improvements in scenery will be worthwhile but I don't think they are required prior to the publication of BASE.

I tested in JAWS and NVDA. There is no delay in JAWS, and the delay in NVDA is 0.5s or less. I don't think that will even be noticeable when using a screen reader.

[2018-06-05 19:36] jessegreenberg commented on #409
Merged with master, I think this issue can be closed.

[2018-06-05 19:36] #409 closed

[2018-06-05 20:44] jessegreenberg commented on #410
A working solution has been added and this has been fixed.

[2018-06-05 20:44] #410 closed

[2018-06-05 20:44] jessegreenberg commented on #412
Merged, this branch can be deleted.

[2018-06-05 20:46] #412 closed

[2018-06-05 21:31] jessegreenberg commented on #411
Ok, I made the change to support option 2. Here is the behavior now for charged and neutral cases, can you please check @terracoda?

For neutral balloon, touching wall:
- "Wall removed from play area."
- "No change in position. Yellow Balloon, on right side of play area."

For charged balloon, touching wall:
- "Wall removed from play area."
- "Moving left." (No label when in single balloon scenari

[2018-06-05 21:32] jessegreenberg commented on #401
I wonder if this fix will have an impact on https://github.com/phetsims/resistance-in-a-wire/issues/143 and https://github.com/phetsims/resistance-in-a-wire/issues/143

[2018-06-05 22:07] jessegreenberg commented on #401
I won't be able to work on this until I have access to VoiceOver.

[2018-06-05 22:36] jessegreenberg commented on #404
I am seeing this bug with JAWS in this most basic HTML:
[code]
To reproduce:
- Tab to button 2
- Press spacebar (button 2 gets clicked)
- Press spacebar (focus moves to button 1 and button 1 gets clicked)

[2018-06-05 22:44] jessegreenberg commented on #404
It is unclear, but it could be a lot of work/exploration. I don't think it is worthwhile if JAWS has this issue on every webpage in FF.

In the case of BASE, buttons are just getting new label/inner text. I was worried about this too @terracoda, but https://github.com/phetsims/balloons-and-static-electricity/issues/404#issuecomment-394882381 has proven that this is a deeper JAWS/FF bug.

[2018-06-05 23:06] jessegreenberg commented on #404
We should submit a bug report to VFO. But I am not sure how else to proceed. A few possibilities:
- Ignore this, assume that FF Quantum/JAWS will improve in the next 6 months and hopefully fix this.
- Claim support for  FF ESR with JAWS instead of FF 60.
- Abandon FF with JAWS, support Chrome or Edge instead. Edge is  the latest browser to be claimed as a supported browser by JAWS.

@terracoda @em

[2018-06-06 14:57] terracoda commented on #401
@jessegreenberg, let me know if you need me to do the testing in Voice Over.

[2018-06-06 15:30] terracoda commented on #401
@jessegreenberg, I do not get any information when I use the control-option-F4 command.

I think system focus is lost when the Wall is removed with Voice Over's Command-Option-Space command (VO-Space)?
When I remove the Wall with VO-Space, and then hit Tab, my focus goes to the Grab Balloon button (first focusable item in sim) and if I press Shift Tab after removing the Wall, focus goes to the las

[2018-06-06 17:08] terracoda commented on #410
@jessegreenberg, looks good in Safari!

[2018-06-06 17:18] jessegreenberg commented on #401
Thanks @terracoda, no need to test just yet. Focus is lost in this case because of the way VoiceOver works with our PDOM (see https://github.com/phetsims/balloons-and-static-electricity/issues/401#issuecomment-389570074).

I still expect https://github.com/phetsims/balloons-and-static-electricity/issues/401#issuecomment-389583684 to fix this, but I was unable to make changes to scenery yesterday w

[2018-06-06 17:28] terracoda commented on #411
@jessegreenberg, is this a special case?
I just realized, I didn't give you very good design instructions because we have lost the velocity description (or maybe we never had it).

Is it possible to just use the normal release description that includes velocity? The same alert that happens on a simple release at the center of the play area, "Moves {{slowly}} left."?

Perhaps not, because this tech

[2018-06-06 18:10] terracoda commented on #404
@jessegreenberg, I am not sure we can completely ignore this? It looks like it could cause the miss firing of sim controls as JAWS is moving focus around. I think you are correct, however, that this problem is going to fix itself.

**Re ESR and FF Support**
If there are no issues with ESR, including this one, we should claim support for ESR, and also claim support with FF 60 with some known issues

[2018-06-06 18:10] jessegreenberg commented on #411
Definitely, changed in the above commit. Behavior now is
Neutral balloon:
- "Wall removed from play area."
- "No change in position. Yellow Balloon, on right side of play area."

Charged balloon:
- "Wall removed from play area."
- "Moves {{quickly}} left."
- "Yellow Balloon, sticking to right arm of sweater."

Back to you for review @terracoda.

[2018-06-06 18:22] jessegreenberg commented on #404
I understand and agree since FF seems to be the most widely used for a11y.

If JAWS+Chrome works great, would we be willing to abandon JAWS+FF? If so, this is a great idea.

This issue is not in FF ESR, but we will probably find others. But if we did this, the QA team would test FF 60 with NVDA and FF 52 ESR with JAWS? Then every month or so we see if JAWS works in FF quantum?

[2018-06-06 18:39] terracoda commented on #411
@jessegreenberg, this sounds great.

However, I found a similar case, opposite case, rather, when there are two balloons and one is staying calmly on right edge of Play Area and the Wall is added back in, the alert says:
- "Wall added to Play Area."
- "Yellow Balloon, now left."
- "Yellow balloon, moving left."

While again, these are correct, position information would be better here. Something l

[2018-06-06 18:46] terracoda commented on #404
Oh my goodness, I see the issue now. We do not want 2 versions of FF, one for NVDA and one for JAWS.

If Chrome works great with JAWS, I think we could abandon support for JAWS and FF. Though I think we would need @emily-phet to confirm this decision.

 When I think about it, its not like we are really abandoning for any one Browser, we are telling users that we tested in these browsers and found

[2018-06-06 18:50] terracoda commented on #404
@jessegreenberg, if we want to support Chrome Books at some pint we will need to test on ChromeVox, too. Lately, I gotta say, ChromeVox has been great in Chrome on MacOs.

[2018-06-06 18:54] jessegreenberg commented on #404
I totally agree.

Totally agree, once we want to start claiming support for ChromeVox or do user testing on that platform we can add it to the testing matrix.

[2018-06-06 18:55] jessegreenberg commented on #404
An update is available for my version of JAWS, I am going to update in the off chance this bug as been fixed.

[2018-06-06 18:59] terracoda commented on #404
@jessegreenberg, one other thought, completely random thought, does the `checkbox` have the same problem if it has an explicit `label`? We swapped the `label` for `aria-label` to reduce repetition. Just wondering if JAWS is having trouble **without** an explicit label.

[2018-06-06 19:20] jessegreenberg commented on #404
Unfortunately,  it does. I submitted a bug report.

[2018-06-06 19:21] terracoda commented on #404
@jessegreenberg, can you elaborate on https://github.com/phetsims/balloons-and-static-electricity/issues/404#issuecomment-395183687?

[2018-06-06 19:22] jessegreenberg commented on #404
Sorry @terracoda, didn't see your last comment.

Was for https://github.com/phetsims/balloons-and-static-electricity/issues/404#issuecomment-395176393.

[2018-06-06 19:34] jessegreenberg commented on #411
Thanks @terracoda, this is a different issue but ill just fix it here.