[2018-06-06 21:14] terracoda commented on #411
@jessegreenberg, yes, that would be ideal :-)

[2018-06-06 21:20] terracoda commented on #404
Thanks @jessegreenberg, I will check in with @emily-phet about testing JAWS with Chrome.

[2018-06-06 22:02] jessegreenberg opened #413 "Sometimes balloon velocity is described when it is too small to notice"
For instance:
![capture](https://user-images.githubusercontent.com/6396244/41067403-afa8fe30-69a2-11e8-8165-bbd7772ef17c.PNG)
There is some non zero velocity, but We will keep hearing "Moving Up" forever. It is easy to hit this case by
- Removing wall
- Charging balloon
- Moving balloon to right edge of play area
- Quickly adding wall back in

The force on the balloon will have some vertical compo

[2018-06-07 03:15] terracoda commented on #413
This is a familiar issue. The description we adjusted last time was "sticking to wall." We decided to stop  using that description.

I think your suggestion here will work. I think it allows us to have velocity on more of the complex movement scenarios (which is good and I think was lacking before) while also having a description that is kind of moving without velocity.

Great idea, @jessegreenber

[2018-06-07 15:19] jessegreenberg commented on #413
Sounds great @terracoda, thanks! I will proceed then.

[2018-06-07 19:52] jessegreenberg commented on #413
Ok, done in the above commit. I added a threshold, determined empirically. The velocity was magnitude of velocity was chosen such that when the movement of the balloon is not observable visually, no alerts occur.

Another way to go might have been to place a minumum value when setting velocity in BalloonModel, but I was concerned that would have larger impacts so I avoided it.

[2018-06-07 19:52] #413 closed

[2018-06-07 20:02] jessegreenberg commented on #404
That sounds great. I am still not sure how we should proceed with immediate deployments, would be good to discuss at an upcomming a11y meeting.

[2018-06-07 20:44] jessegreenberg commented on #401
The above commit fixes this problem. I tested with VO in Safari and could no longer reproduce. @terracoda could you please verify this is fixed on your end?

[2018-06-07 23:03] JRomero0613 opened #414 "[1.2.3-rc.2], [1.3.5-rc.1] poor wrapper performance"
System: PC Laptop

OS: Windows 10 v. 1803

Browser: Google Chrome v. 67.0.3396.79

Problem Description: For phetsims/QA#128 when both version 1.2.3 and version 1.3.5 of the balloon and static electricity sim are run with the events colorized, events textarea, and state wrappers the sim performs poorly with the balloons jumping from location to location when moved too quickly. I have checked this i

[2018-06-08 00:32] terracoda commented on #401
Awesome @jessegreenberg. Will test in the morning!

[2018-06-08 01:34] jonathanolson commented on #414
Console output would slow most things down. Is it just related to that?

[2018-06-08 14:17] terracoda commented on #411
@jessegreenberg, I am going to split these issues up as you suggested.
I am testing on Master on PhET Test and I am getting the "No change in position" alert when the wall is removed, before the balloon moves back over tot he sweater.

[2018-06-08 14:24] terracoda opened #415 "Extra movement & incorrect charge alerts when Wall is added to play area and balloon is at right edge"
Restarting second from #411 here in a new issue.
Sorry for any confusion.

I found a similar case, opposite case, rather, when there are two balloons and one is staying calmly on right edge of Play Area and the Wall is added back in, the alert says:

    "Wall added to Play Area."
    "Yellow Balloon, now left."
    "Yellow balloon, moving left."

While again, these are correct, position informati

[2018-06-08 14:39] terracoda commented on #415
This issue has not been fixed by this commit  68e720b
The descriptions for the wall are incorrect.
![screen shot 2018-06-08 at 11 57 31 am](https://user-images.githubusercontent.com/1902116/41163431-3371c5fa-6b13-11e8-9e26-52dbb5a72edd.png)

@jessegreenberg, we don't want the "rubbing alert", but rather the final part of a "release alert"
Like this one. I just released the balloon close to the sam

[2018-06-08 14:41] terracoda commented on #411
I moved extra issue in https://github.com/phetsims/balloons-and-static-electricity/issues/411#issuecomment-395171537 to #415

[2018-06-08 14:52] terracoda commented on #411
**Testing single-balloon experiment**
Charged balloon against the wall and I remove the wall.
 wall![screen shot 2018-06-08 at 12 20 11 pm](https://user-images.githubusercontent.com/1902116/41164689-53329f56-6b16-11e8-8bf7-31c7f0cc6055.png)

This seems correct. I will test a bit more.

[2018-06-08 14:57] terracoda commented on #411
**Two Balloon experiments**
Removed wall with charged balloon at wall. Balloon move right and stays.
![screen shot 2018-06-08 at 12 24 11 pm](https://user-images.githubusercontent.com/1902116/41165054-34f7b7aa-6b17-11e8-8088-5ddf66bf40ea.png)

This sounds good!

[2018-06-08 15:06] terracoda commented on #411
Correct information when wall is removed with a neutral and charged balloon at the wall.
![screen shot 2018-06-08 at 12 34 20 pm](https://user-images.githubusercontent.com/1902116/41165469-54a81c7e-6b18-11e8-8ed1-25652f876cd9.png)

[2018-06-08 15:06] terracoda commented on #411
@jessegreenberg, I am going to test again with Voice Over now.

[2018-06-08 15:11] jessegreenberg commented on #411
Thanks @terracoda! Just so you know, I am actually working on all of this logic right now.

[2018-06-08 15:16] terracoda commented on #411
@jessegreenberg, this issue seems to be fixed. Sorry, I did not hear it correctly the first time I tested.

[2018-06-08 15:16] terracoda commented on #411
Oh!

[2018-06-08 15:18] terracoda commented on #411
@jessegreenberg, sorry I jumped into test too soon. The label said "ready for review".
Assign me when you are ready for me to test. Again, I apologize.

[2018-06-08 15:19] terracoda commented on #415
@jessegreenberg, assign me if you want me to do further testing.

[2018-06-08 15:19] lmulhall-phet commented on #414
@jonathanolson, I think so. The performance isn't great, but I would say it's acceptable. I assume you're OK with slightly suboptimal performance for this wrapper. I move to close this issue if no one objects.

[2018-06-08 15:21] jessegreenberg commented on #411
No problem at all, sorry I didn't remove the label after https://github.com/phetsims/balloons-and-static-electricity/issues/411#issuecomment-395149877!

[2018-06-08 17:12] jessegreenberg commented on #404
Discussed in 6/8/18 meeting:

We will give it a little bit of time to see how VFO responds to the bug. I will also spend a little bit of time searching for a short term workaround to see if it is possible and worth the effort.

[2018-06-08 20:00] lmulhall-phet commented on #384
This is not the case for https://bayes.colorado.edu/dev/html/friction/1.5.0-dev.6/phet/friction_all_phet.html as noted in phetsims/friction/issues/79.

@jessegreenberg, do we care? I know this isn't a huge issue...

[2018-06-08 20:02] lmulhall-phet commented on #384
Ah, nevermind! I was thinking arrow keys. Sorry, folks!

[2018-06-08 20:02] #384 closed

[2018-06-08 20:10] #414 closed

[2018-06-08 23:34] emily-phet commented on #404
@jessegreenberg @terracoda I'll be available Monday to meet. I'll send an email re meeting times.

[2018-06-11 13:44] terracoda commented on #404
@jessegreenberg AND @emily-phet, I tested master with Chrome and ChromeVox, and it works very well when interacting.

Reading with the cursor keys is a little awkward due to the way that content lines wrap in the PDOM, but other than that BASE sounds great in Chrome with ChromeVox.

Tested with:
MacBook Pro early 2015
MacOS High Sierra 10.13.4
Chrome Version 67.0.3396.79

[2018-06-11 16:27] jessegreenberg opened #416 "branch: step-describer"
Uses step for polling to describe the alerts. Working very nicely, and consolidates the code instead of distributing timers and Property listeners. I will probably merge with master soon.

[2018-06-11 16:39] jessegreenberg commented on #404
We discussed on 6/11/18 -

Since this is a JAWS bug and we expect VFO to fix this bug in the next 4-6 months, we will proceed as we are with support for FF Quantum with JAWS. We will watch the VFO bug reporter in case the VFO team cannot reproduce or decides it is not their issue (like maybe it is a FF bug instead). Marking as wontfix.

@lmulhall-phet is there a good place to document this bug and

[2018-06-11 16:55] lmulhall-phet commented on #404
@jessegreenberg, I will inform Jacob! No other testers atm, so that makes it easy.

[2018-06-11 17:15] jessegreenberg commented on #404
I think we can close this issue. This has been tracked more generally in https://github.com/phetsims/a11y-research/issues/107.

Thanks @lmulhall-phet sounds good.

[2018-06-11 17:15] #404 closed

[2018-06-11 17:24] terracoda commented on #401
@jessegreenberg, testing now.

[2018-06-11 17:46] jessegreenberg commented on #416
Merged, pruned, closing.

[2018-06-11 17:46] #416 closed

[2018-06-11 17:50] jessegreenberg commented on #411
@terracoda I think this is all done in master, can you please review?

[2018-06-11 17:51] jessegreenberg commented on #415
@terracoda I think this is done, can you please review master to make sure?

[2018-06-11 17:51] terracoda commented on #411
@jessegreenberg, thanks! I will test shortly.

[2018-06-11 17:53] jessegreenberg commented on #392
BalloonDescriber has grown again after #416. Can we make it smaller?

[2018-06-11 17:57] jessegreenberg commented on #392
Part of why it grew again is because we moved a lot of code out of BalloonNode and into BalloonDescriber, which is good.

[2018-06-11 18:07] terracoda commented on #401
@jessegreenberg, verified you have resolved the issue!Focus stays on controls when usin VO suggested commands.

[2018-06-11 18:07] #401 closed

[2018-06-11 18:23] terracoda commented on #415
@jessegreenberg, when I add the wall back in, I still hear:
- Green balloon, now left. (which is fine)
- At lower wall. In lower wall, no change in charges." when I add the wall back in. (but this is not accurate as the charges move away from green balloon a little bit.)

I am going to pull from master again in case I tried before you committed.

[2018-06-11 18:25] terracoda commented on #415
I see changes...testing again :-)

[2018-06-11 18:32] jessegreenberg commented on #415
Hmm, I am not able to reproduce that in master. Let me know if you see again and maybe we can screen share.

[2018-06-11 18:41] terracoda commented on #415
@jessegreenberg, it's good now! I tested too soon!

I sometimes hear "Green balloon, now left." which is fine, and I am not getting the correct charge description!

Closing!

[2018-06-11 18:43] #415 closed

[2018-06-11 19:10] jessegreenberg opened #417 "VoiceOver: Alerts are often skipped"
In a screen share with Taliesin,  she showed me that VoiceOver is often skipping aria-live alerts. We observed it most frequently when releasing the balloon,  we don't get any movement or velocity alerts. We also observed it when the wall was added and removed from the play area.

Also, sometimes aria-live alerts just die altogether on VoiceOver.

This is most likely a performance problem, as the

[2018-06-11 19:14] jessegreenberg commented on #417
Hmm, on Bose, every once and a while the alerts get quiet after the balloon is released, but I can still hear them.

[2018-06-11 19:27] jessegreenberg commented on #417
I tested it out on Dirac (macOS 10.12), the QA team said this device is usually pretty slow. I am not able to reproduce this problem on that device either, the alerts are coming through as I would expect.

[2018-06-11 19:44] jessegreenberg commented on #417
Testing on Jordan (MacBook Air, macOS 10.13.2). I played with the sime for ~7 minutes and never didn't observe the issue. But I found one way to reproduce with some consistency, (maybe alerts are ignored 60% of the time):
- Remove wall
- Get yellow balloon charged, drag it over to the right edge of play area
- Release balloon by *tabbing* to the "Add Wall" button.

In this case I sometimes don't g

[2018-06-11 20:00] jessegreenberg commented on #417
Testing on Magnus (macOS 10.10.5), I played with the sim for about 8 minutes and did not encounter this bug at all.

[2018-06-11 20:04] jessegreenberg commented on #417
@terracoda can you please verify that this was still a problem after restarting your laptop?

[2018-06-11 20:07] jessegreenberg commented on #417
@lmulhall-phet could you also please try to reproduce this on your device? Let me know if you have any questions about the problem we are looking for.

[2018-06-11 20:10] jessegreenberg opened #418 "Extra "next to phrase..." when balloons are adjacent and wall is added back"
Related to #415 , found while investigating #417, when the wall is added to the play area while both balloons are at the right edge, things sound a little strange:
![capture](https://user-images.githubusercontent.com/6396244/41254576-274d55f8-6d81-11e8-8fc7-1edbbbc0aa5d.PNG)

In this case the second "next to..." phrase should be removed if possible.

[2018-06-11 20:35] jessegreenberg commented on #418
Fixed with the above commit.

[2018-06-11 20:35] #418 closed

[2018-06-11 20:41] lmulhall-phet commented on #417
I think it might have to do with tabbing to the balloon right away.

Check out this video:

https://drive.google.com/open?id=1GwgIvgC8leeKjDLPKgMXQONdVoZ26uEo

Warning: RIP eardrums at the end. (Sorry.)

[2018-06-11 20:46] jessegreenberg commented on #417
Awesome, thanks @lmulhall-phet - I actually didn't hear *any* alerts throughout that whole video, is that correct? Are you ever able to hear the alerts?

[2018-06-11 20:48] lmulhall-phet commented on #417
I thought the movement alerts you were looking for were "up, down, left, right, etc." and the velocity alerts were "moves quickly to the left, etc."?

[2018-06-11 20:49] jessegreenberg commented on #417
Correct, @lmulhall-phet, my mistake.

[2018-06-11 20:55] jessegreenberg commented on #417
For @terracoda the alerts that were missing are "Released. Moves very quickly...", as well as others. For her, the alerts failed to trigger even with basic interaction. In your video it is like no alerts are announced until you stop moving the balloon?

[2018-06-11 20:58] jessegreenberg commented on #417
I am updating Bose to 10.13.5, lets see if it shows up then.

[2018-06-11 21:04] lmulhall-phet commented on #417
@jessegreenberg, movement alerts can occur while the balloon is still moving, so don't worry about this. I think VO just gets a lot of alerts backlogged and it gives the movement one after the other ones have stopped.

[2018-06-11 21:28] jessegreenberg commented on #417
Thanks @lmulhall-phet - I haven't been able to  get the "backlog" of alerts on VO when testing yet.

[2018-06-11 22:01] jessegreenberg commented on #417
@lmulhall-phet and I discussed, and we tried to reproduce this case. It sounds like one way to get aria-live alerts to fail is to quickly tab into the sim as shown in @lmulhall-phet's video https://github.com/phetsims/balloons-and-static-electricity/issues/417#issuecomment-396380038.

Although on @lmulhall-phet we never heard "Released", we weren't able to reproduce the case where the "Released. {

[2018-06-12 00:54] terracoda commented on #417
@jessegreenberg, I am getting more velocity alerts than I did this afternoon. It seems a bit random when I get them and when I do not.

When a balloon moves right on a release (towards the wall), I almost always get a velocity in the alert.

When the balloon is moving slowly to the left, or slowly up, I seem less likely to get velocity included in the alerts. Sometimes I just get ending alert, or

[2018-06-12 13:29] #417 closed

[2018-06-13 14:43] terracoda opened #419 "Spot Checking Balloon interactions"
As discussed with @jessegreenberg, I am just spot checking balloon interactions before RC Testing:
- [x] dragging with 1 balloon,
- [x] dragging with 2 balloons,
- [x] jumping with 1 balloon,
- [x] jumping with 2 balloons,
- [x] independent movement with 1 balloon,
- [x] independent movement with 2 balloons.

[2018-06-13 15:10] terracoda commented on #419
When dragging up and down "Very close to sweater" I do not hear any progress up dates. I get black steps in between directional changes and "At top." and "At bottom."

I think this is a side effect of the fact that for "Near Sweater" or "Near Wall" we do not get progress updates.

In the case of Near Sweater, we always hear, "Near Sweater". In the case of "Near Wall" and "Very Close to wall" we ha

[2018-06-13 15:18] terracoda opened #420 "Blank steps when dragging balloon up and down in "Very close to sweater" column"
From issue #419.
When dragging up and down "Very close to sweater" I do not hear any progress up dates. I get black steps in between directional changes and "At top." and "At bottom."

I think this is a side effect of the fact that for "Near Sweater" or "Near Wall" we do not get progress updates.

In the case of Near Sweater, we always hear, "Near Sweater". In the case of "Near Wall" and "Very Clo

[2018-06-13 15:31] jessegreenberg commented on #420
Thanks for making a new issue @terracoda, looking into it.

[2018-06-13 15:42] jessegreenberg commented on #420
Hmm, there is some explicit logic to cause this
[code]

[2018-06-13 15:44] jessegreenberg commented on #420
I think this is probably there because we decided including it was too verbose when moving quickly. We could either remove it, or change it to be  something like
[code]

[2018-06-13 15:46] terracoda commented on #419
When two balloons are present, I seem to hear "No change in charges" right after I pick up charge on the sweater.

It's almost like there is some extra sensitivity to that alert when two balloons are present.

Moving to new issue.

[2018-06-13 15:47] jessegreenberg commented on #420
Usage of the function  that generates this alert is behind a check for when drag velocity hits zero, so  I think it should be safe to completely remove the check for movingSlowlyLeft. Ill test it out.

[2018-06-13 15:53] terracoda opened #421 "Incorrect or extra sensitive "No change in charges" alert when rubbing with two balloons present."
While spot checking dragging/rubbing with two balloons in #419, I noticed what seemed like incorrect utterances of "No change in charges..." when rubbing on sweater.

When two balloons are present, I seem to hear "No change in charges" right after I pick up charge on the sweater and get notified of a charge transfer.

It's almost like there is some extra sensitivity to that "No change in charges"

[2018-06-13 15:54] terracoda commented on #421
@jessegreenberg, I'm not sure this is a bug, but I have added the bug label.

[2018-06-13 15:58] jessegreenberg commented on #420
Should be fixed above, can you please verify @terracoda?

[2018-06-13 15:59] terracoda commented on #420
Will verify, thanks! I like you solution.

[2018-06-13 16:01] terracoda commented on #420
@jessegreenberg, verified. Sounds good! Thanks.

[2018-06-13 16:01] #420 closed

[2018-06-13 16:08] jessegreenberg commented on #421
Good find @terracoda, looking into it.

[2018-06-13 16:21] terracoda commented on #419
Done spot checking.

[2018-06-13 16:21] #419 closed

[2018-06-13 17:12] jessegreenberg commented on #421
This was a timing issue, and should be fixed in the above commit. @terracoda can you please verify by trying to reproduce the issue now?

[2018-06-13 17:13] terracoda commented on #421
@jessegreenberg, on it!

[2018-06-13 17:18] terracoda commented on #421
Sounds great, @jessegreenberg. I am closing the issue.

[2018-06-13 17:18] terracoda commented on #421
Oops

[2018-06-13 17:19] terracoda commented on #421
Oops maybe that was premature. I leave the closing to you, @jessegreenberg.

[2018-06-13 17:22] jessegreenberg commented on #421
Thanks for verifying @terracoda, not premature at all. Closing.

[2018-06-13 17:22] #421 closed

[2018-06-13 20:59] jessegreenberg commented on #202
This is a nice suggestion @samreid, thanks. The way the Play Area is mapped out now is a bit different than it was when this issue was first created, and uses Ranges instead of Bounds, but it is using the general strategy recommended in this issue ticket. Closing this issue.

[2018-06-13 20:59] #202 closed

[2018-06-13 21:20] jessegreenberg commented on #392
I finalized this by improving on  the documentation in BalloonDescriber.js. I distributed logic about particular aspects of the balloon into BalloonChargeDescriber and BalloonLocationDescriber. But further abstraction doesn't feel helpful. Even though the file is still fairly large, I am going to accept that since it keeps all logic around balloon description in one place. Closing.

[2018-06-13 21:20] #392 closed

[2018-06-13 21:22] jessegreenberg commented on #251
This branch can probably be deleted. We ended up making an utteranceQueue to handle this based on what was explored during this sprint.

[2018-06-13 21:49] jessegreenberg opened #422 "Balloon interaction cue off center if dragged to wall"
![capture](https://user-images.githubusercontent.com/6396244/41380148-548e6e8e-6f21-11e8-9a7b-9a2df33e7821.PNG)

Drag to wall with mouse then remove wall. Focus balloon and you will see this.

[2018-06-13 21:50] jessegreenberg commented on #422
Hey there is a TODO for this!
[code]

[2018-06-13 22:37] jessegreenberg commented on #422
Fixed,closing.

[2018-06-13 22:37] #422 closed

[2018-06-14 16:28] terracoda opened #423 "Not perfect alignment between description of amount of charge and amount of deflection in wall"
When doing final spot checks for this sim, I noticed that:
- the descriptions for the amount of charge (no more, a few more, several more, many more) did not align perfectly with
- the descriptions for the amount of deflection in wall (no change, move away a little bit, a lot, quite a lot).

This, "a few more negative charges" can result in “no change”, “a little” deflection and ”a lot” of deflect

[2018-06-14 16:40] terracoda commented on #423
A somewhat related issue https://github.com/phetsims/balloons-and-static-electricity/issues/359

Marking this one as closed, too.

[2018-06-14 16:40] #423 closed

[2018-06-14 16:56] jessegreenberg opened #424 "CT error: Interactive grab alert for balloon failed:"

[2018-06-14 16:58] jessegreenberg commented on #424
We are getting help content too often:
![capture](https://user-images.githubusercontent.com/6396244/41426760-d4c85448-6fc1-11e8-9b7f-0b9fb370a905.PNG)

[2018-06-14 21:20] jessegreenberg commented on #424
Fixed

[2018-06-14 21:20] #424 closed

[2018-06-15 01:35] zepumph opened #425 "BalloonNode's accessibleDragNode behaves differently for keydown/up and blur"
Found while working on https://github.com/phetsims/scenery-phet/issues/368
Take a look at this code:
[code]

Shouldn't the blur event interrupt the drag also? Maybe I don't understand this fully. What do you think @jessegreenberg?

[2018-06-15 01:36] zepumph commented on #425
Note: `releaseBalloon()` calls the interrupt on the drag handler, but `endDragListener()` does not.

[2018-06-18 18:02] jessegreenberg commented on #425
I added some documentation and renamed a function to hopefully improve clarity. The blur event should interrupt keyboard dragging, but it already did/does. Prior to https://github.com/phetsims/scenery-phet/issues/368, the KeyboardDragListener was `reset` on the `blur` event. Now `Accessibility.interruptAccessibleInput` is doing this for us on `blur`. @zepumph does this seem OK?

[2018-06-19 00:04] zepumph commented on #425
Yes it makes sense now, thanks!

[2018-06-19 00:04] #425 closed

[2018-06-19 21:24] jessegreenberg opened #426 "Enable a11y by default"
a11y is stable enough in this sim to no longer be hidden by a query parameter.

[2018-06-19 21:41] #426 closed

[2018-06-21 15:47] lmulhall-phet opened #427 "Splash screen in background of playground"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.5

<b>Browser</b>

Firefox 60.0.2

<b>Problem Description</b>

For phetsims/QA/issues/135. Sometimes the PhET logo and the loading bar from the splash screen appear in the background of the play area. I haven't been able to reproduce this in other browsers, and I haven't been able to reproduce on Arnab's MacBook Pro. I'm wonderi

[2018-06-21 15:52] lmulhall-phet commented on #427
Update: I am able to reproduce this issue on Arnab's MBP running macOS 10.13.4 on FF 60.0.2.

[2018-06-21 16:00] jessegreenberg commented on #427
Thanks @lmulhall-phet. This issues doesn't seem  sim specific, are you able to reproduce in any other sims on master?

[2018-06-21 16:01] lmulhall-phet commented on #427
@jessegreenberg, I will try!

[2018-06-21 16:18] lmulhall-phet commented on #427
@jessegreenberg, oddly enough, I'm not able to reproduce on other sims in master. I tried John Travoltage, RIAW, and Faraday's Law.

[2018-06-21 16:20] jessegreenberg commented on #427
OK, thanks for checking @lmulhall-phet - perhaps it is related to the build then. Are you able to reproduce this in BASE on phettest RequireJS? Or any other sims that have been build recently (things in the QA queue maybe). I can take a look too if you don't have time.

[2018-06-21 16:24] lmulhall-phet commented on #427
No.

Checking other recently built sims...

[2018-06-21 16:29] lmulhall-phet commented on #427
No.

[2018-06-21 19:06] terracoda commented on #427
@lmulhall-phet, I have never seen this on any sim. I've seen focus highlights stick around, but never the splash screen logo.

[2018-06-21 20:52] arouinfar opened #428 "LoL Icons & Descriptions"

[2018-06-21 21:41] jessegreenberg commented on #427
So it sounds like this is ONLY happening in BASE built version.

[2018-06-21 21:43] jessegreenberg commented on #427
I just saw this happen once in Windows FF after 7 refreshes.

[2018-06-21 21:46] jessegreenberg commented on #427
In the console when this happens:
![capture](https://user-images.githubusercontent.com/6396244/41747144-2ce83e1a-756a-11e8-917e-e1d5fdadc951.PNG)

The sim is still usable.

[2018-06-21 21:47] jessegreenberg commented on #427
Canvas is being used to draw the charges as images.
[code]
This was added for performance reasons. I wonder if we will this happen in other sims that are using canvas.

[2018-06-21 22:47] jessegreenberg commented on #427
I believe the issue is that we are converting the charge Nodes to be drawn by Canvas, but `toImage` is asynchronous, so there is a change that the image hasn't been created yet by the time that we are painting the canvas.

[2018-06-21 22:57] jessegreenberg commented on #427
`Node.rasterized` might be what we need to create a scenery Image node synchronously.

[2018-06-21 23:09] jessegreenberg commented on #427
Should be fixed in the above commit, this was a problem with the way I was using canvas, and even more strange that it was only happening in FF. Anyway, I tried refreshing the sim 20 times with the above change and couldn't get it to happen in a built version of the sim. This commit will need to be merged into release branch.

[2018-06-22 21:21] arouinfar commented on #428
Icon and description are ready for delivery to LoL.

[2018-06-22 21:21] #428 closed

[2018-06-22 23:03] lmulhall-phet commented on #407
@jessegreenberg, QA is done.

[2018-06-27 17:00] jessegreenberg commented on #427
In the above issue @lmulhall-phet said:

  macOS + FF
  macOS + Chrome
  macOS + Safari
  Win10 + FF
  Win10 + Chrome
  Win10 + Edge
  iOS + Safari
  Chrome OS + Chrome
  Android + Chrome

This issue can be closed.

[2018-06-27 17:00] #427 closed

[2018-08-10 01:29] jonathanolson opened #429 "phet-io branch mismatch"
It looks like the 1.2-phetio branch's phet-io dependency SHA should be b7e492adf6867c25e3417b41a262b24cd27a5cf8, which does NOT point to the head of the corresponding balloons-and-static-electricity-1.2-phetio branch in phet-io (which is 53b3fc4f32963463a5cbd9789b396c351acd8a9c).

It looks like there were 12 commits on the phet-io branch that were not applied to the 1.2-phetio release branch. Shou

[2018-08-14 19:42] zepumph commented on #429
This is very strange. My best guess is that when committing for https://github.com/phetsims/phet-io/issues/1067, I thought I was on master, but instead I was only on that branch. No matter, we now have a BASE 1.3 branch, and no partners use 1.2. So we shouldn't support this. @samreid do you feel differently?

[2018-08-15 06:39] jonathanolson commented on #429
We can definitely drop 1.2 off of the "maintenance" list if desired (the manual list and/or the database, depending on when).

[2018-08-15 20:19] zepumph commented on #429
I would like to double check with @samreid, then go for it.

[2018-08-17 03:53] samreid commented on #429
1.2 was given to two clients, but one of them was given a more recent version and one of them is not using it at the moment.  I don't know how we can tell if the former client upgraded to the more recent version without asking them or maybe checking analytics.  So I can't be certain.  Should we reach out to the client and ask if 1.2 is in use?  Tagging @kathy-phet for a recommendation.

[2018-08-24 00:28] zepumph commented on #429
Both clients that we gave 1.2 to have been given 1.3. I would recommend not supporting 1.2. Ideally they should have updated. @mattpen is there a way to look at specific analytics on https://phet-io.colorado.edu/sims/balloons-and-static-electricity/

Ideally on the 1.2.0-phetio version (because that's what our documentation states we delivered to both clients, but perhaps there were undocumented d

[2018-08-24 15:57] mattpen commented on #429
@zepumph - According to google Analytics, there are 16 pageviews from this summer all from Boulder or Juneau for BASE 1.2 (probably checks related to maintenance deploys?). There were no usages at all for BASE 1.2 from March 2018 - May 2018.  The latest non-boulder usage was December 2017.

[2018-08-24 16:48] mattpen commented on #429
@samreid - Is [this comment](https://github.com/phetsims/balloons-and-static-electricity/issues/429#issuecomment-415810504) for phetsims/website#482?

[2018-08-24 16:48] samreid commented on #429
Yep, sorry, wrong thread!

[2018-08-24 21:40] zepumph commented on #429
What is now needed for us to convince ourselves that it is alright to stop supporting? I foresee that this conflict in our hearts may occur often while we are deciding which sims to drop maintenance support for.

I think it is alright because until we have a stable version (on the order of 1 year ish hopefully) we can always point a client to the 1.3-phetio branch. @samreid if you agree perhaps we

[2018-08-25 13:26] samreid commented on #429
The analytics suggest we can drop support for the simulation, but for this case (and in future cases like this), we cannot know whether a client with a link to 1.2 is planning to use it in the future (even though they haven't used it recently).  So do we need a way to tell clients about browser bugs that break old simulations, that we are not going to patch?

This will be a harder question to answ

[2018-08-28 18:30] jonathanolson commented on #429
https://github.com/phetsims/perennial/commit/eae4486139de9dca8e355fed8ca632d76eefc83d removed it from the current manual method. @mattpen can you remove BASE 1.2 from the "active" status from the database? Soon it will be a database-only process.

[2018-08-30 16:15] mattpen commented on #429
This was updated in the database. Can this be closed?

[2018-09-06 02:04] #429 closed

[2018-09-26 17:43] jessegreenberg opened #430 "[branch] pdomTransform"
Branch for testing https://github.com/phetsims/scenery/issues/852.

[2018-09-26 18:04] jessegreenberg commented on #430
I keep forgetting that one-off branches cannot contain dashes.

[2018-09-26 18:35] jessegreenberg commented on #430
https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-pdomTransform.1/phet/balloons-and-static-electricity_en_phet.html

[2018-10-02 20:09] jessegreenberg opened #431 "Figure out the "Grab Balloon" button with mobile VO"
When trying to click the "Grab Balloon" button with mobile VO, the balloon is released right away. After discussing with @zepumph,

[2018-12-05 04:03] samreid opened #432 "Unit tests are faliing"
Discovered in https://github.com/phetsims/aqua/issues/52.  http://localhost/balloons-and-static-electricity/balloons-and-static-electricity-tests.html?ea reports:

65 assertions of 68 passed, 3 failed.

[code]

and

BalloonDescriberTests: Grabbing balloon on sweater when both are visible (1, 0, 1)

and

BalloonDescriberTests: Two Balloons rubbing on wall (1, 3, 4)

Initially assigning to @jessegre

[2018-12-05 15:04] jessegreenberg commented on #432
Thank you @samreid, fixed in the above commit. Im seeing other errors in BASE unit tests too, Ill take a look at those.

[2018-12-05 15:09] jessegreenberg commented on #432
Looks like these have been issues for some time and enabling assertions for unit tests brought them up, thanks!

[2018-12-05 15:14] jessegreenberg commented on #432
OK, these unit tests are all passing for me locally. Closing this issue.

[2018-12-05 15:14] #432 closed

[2018-12-05 15:14] samreid commented on #432
Confirmed here too, thanks!

[2018-12-05 17:19] jessegreenberg opened #433 "Cant release balloon with keyboard"
Probably related to https://github.com/phetsims/scenery/issues/888.

[2018-12-05 17:22] jessegreenberg commented on #433
Fixed in the above commit.

[2018-12-05 17:22] #433 closed

[2018-12-11 18:19] samreid opened #434 "Unit tests fail sometimes"
I ran BASE unit tests about 20 times this morning and had 3 failures.  The URL is http://localhost/balloons-and-static-electricity/balloons-and-static-electricity-tests.html?ea . Looks like it may be related to accessibility.

[2018-12-11 18:40] jessegreenberg commented on #434
Thanks, I think all tests in this sim are related to a11y. Ill take a look.

[2018-12-12 16:20] jessegreenberg opened #435 "Pressing spacebar on the balloon button causes other option to look pressed"
Very likely after changes for https://github.com/phetsims/scenery/issues/888

[2018-12-12 16:41] jessegreenberg commented on #435
The listeners **are** being called in DownUpListener, but ButtonListener is what updates the state of the checkbox and its functions aren't being called from the a11y listeners.

I think these should be removed from DownUpListener. A11y button behavior has been moved to PressListener.

[2018-12-12 16:49] jessegreenberg commented on #435
This has been fixed.

[2018-12-12 16:49] #435 closed

[2018-12-12 19:31] jessegreenberg commented on #434
I ran the tests about 20 times and didn't encounter an error. Were tests run in a background window? Maybe if tests are using DOM `focus` things are failing while the test is run in the background. Ill look.

[2018-12-12 19:35] jessegreenberg commented on #434
I don't see that happening in tests. None of the tests mimic user input they all go through the model.

@samreid did you run this test in a new tool or did you just reload the provided link? If through a new tool, is there a way I can run it?

[2018-12-12 20:51] samreid commented on #434
@jessegreenberg and I worked together to convert toImage to rasterized and it is working nicely so far.  The layout didn't match the prior layout exactly, and @jessegreenberg volunteered to investigate further.  Thanks!

[2018-12-20 19:02] jessegreenberg opened #436 "Use GrabDragInteraction for the balloon"
I would like to use the GrabDragInteraction in BASE. Partly to review https://github.com/phetsims/scenery-phet/issues/447, but also because there is a shiny new common type that generalizes this ineteraction.

Porting directly means that a few things will change in BASE related to the accessible labels, so this issue is to track progress and changes. Aterward we can review what is acceptable to ch

[2018-12-20 22:31] jessegreenberg commented on #436
Something is off with the transform when I use the `dragCueNode` option
![0f4ac63ce4a4d22e911f933836f475ec](https://user-images.githubusercontent.com/6396244/50314482-00a8db00-047d-11e9-83f4-d5840875f3cc.gif)

[2018-12-21 16:55] jessegreenberg commented on #436
Was happening because the BalloonInteractionCueNode was updating the position of the letters in their parent coordinate frame while the interaction (which was added to the focus overlay) was being transformed in the global coordinate frame.

[2018-12-21 19:01] jessegreenberg commented on #436
So the only two changes that BASE got in the design from the common code component are
 - The accessible name for the draggable balloon changed from "Yellow Balloon" to "Movable Yellow Balloon"
 - The WASD/Arrow key drag cue node will be hidden on key up rather than on key down, so the interaction cue remains visible for some movement.

@terracoda do these changes seem OK?

[2018-12-21 19:10] jessegreenberg opened #437 "Simplify BalloonNode constructor args"
I wonder if args can be removed from the BalloonNode constructor, there are quite a few.

I also don't understand why x and y are passed to the constructor and set with
[code]

but then the node gets a translation from the model Property right after. I bet these can be removed outright, removing two args from the constructor right away.

[2018-12-21 19:52] jessegreenberg commented on #437
Done above

[2018-12-21 19:52] #437 closed

[2018-12-22 21:06] samreid opened #438 "Unit test fails"
Running http://localhost/balloons-and-static-electricity/balloons-and-static-electricity-tests.html?ea I'm consistently getting:

[code]

@jessegreenberg can you please take a look at your convenience?

[2018-12-27 18:30] jessegreenberg commented on #438
Thanks @samreid, was an issue from #437, I forgot to update tests after changing a constructor signature. Thanks for opening https://github.com/phetsims/aqua/issues/62.

[2018-12-27 18:30] #438 closed

[2018-12-27 23:04] jessegreenberg commented on #434
I think I figured out the cause for difference in layout, before the change to use `rasterized`, we were using toImage without specifying `x`, `y`, `width`, `height`. When these aren't used, `toCanvas` (used by `toImage`) adds extra padding to the canvas:
[code]

So If I add 1 to the translation in x and y it looks correct.

[2018-12-27 23:15] jessegreenberg commented on #434
Instead of adding padding to the translation maybe I can use `sourceBounds` option of rasterized to match the layout.

[2018-12-27 23:32] jessegreenberg commented on #434
OK, I haven't heard about this recently (granted #438 could have been hiding this) - but I think this is safe to close. If it shows up again we can reopen. Closing.

[2018-12-27 23:32] #434 closed

[2019-01-10 15:48] terracoda commented on #436
@jessegreenberg, the changes to the Balloon are nice and quite acceptable! Apologies for my late reply on this issue!

[2019-01-10 15:49] terracoda commented on #436
@jessegreenberg, I think it is safe to close this issue, but I'll leave that to you.

[2019-01-10 15:54] terracoda commented on #436
Closing issue!

[2019-01-10 15:54] #436 closed

[2019-01-30 02:30] ariel-phet opened #439 "Adjusting ResetAllButton position, and other polishes"
@jessegreenberg with the universal dilation of the ResetAll Button, it slightly overlaps the navbar in this sim (accidental touch between this button and the keyboard nav button seems more likely currently).

I suggest moving both the ResetAllButton and Remove Wall button vertically.

Additionally, having not looked at this sim in awhile, I see a few other obvious polishes:

1. The other controls

[2019-01-30 02:51] jessegreenberg commented on #439
Looks like test code to make the touch areas smaller than the bounds of the node, which actually isn't possible. Discovered and discussed as part of that issue that this is not possible. So these lines have no impact and should not have been committed.

[2019-01-30 02:53] jessegreenberg commented on #439
Should be done, @ariel-phet can you please review master?

[2019-01-30 03:03] ariel-phet commented on #439
Awesome @jessegreenberg - looks great. Closing

[2019-01-30 03:03] #439 closed

[2019-02-12 00:42] jbphet opened #440 "Sim rescales and becomes unusable in phet-io iframe applications on iOS"
I'm working on sound design prototypes that make use of the phet-io API, and I've run into an issue with this sim on iOS devices where it abruptly scales itself in such a way that the lower portion of the sim becomes unreachable.  I was able to duplicate the problem on iOS 11 and iOS 12 using most of the wrappers at https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.3/phe

[2019-02-12 00:59] phet-steele commented on #440
@jbphet does it look like any of the screenshots in phetsims/phet-io/issues/998? (there are many to look through)

[2019-02-12 16:52] jessegreenberg commented on #440
Thank you @phet-steele! That does look related.

That issue recommends `scrolling="no"` on the iframe as a fix but I don't know if that was explored. Do wrapper iframes use `scrolling="no"` attribute?

I only have access to iOS 9.3.5, something similar is happening there but not exactly what is described in https://github.com/phetsims/balloons-and-static-electricity/issues/440#issue-409051139. The

[2019-02-12 16:56] jessegreenberg commented on #440
In studio, `document.getElementById( 'source' ).scrolling` returns `""`, so it probably isn't being used. I am curious if this is happening in other sims.

[2019-02-12 17:05] jbphet commented on #440
It does look like it could be related.  What I'm seeing is a little different - it doesn't have a big nav bar the way the screenshots in the other issue do.  I'll some captures below.

I'll try turning off the scrolling the in iframe wrappers.
![image](https://user-images.githubusercontent.com/3082831/52653598-7a71a980-2ead-11e9-9534-88d7a45af4d5.png)
![image](https://user-images.githubusercontent

[2019-02-12 17:14] jessegreenberg commented on #440
Thanks for the pictures, that looks similar to what I am seeing in the "active" wrapper on iOS 9.3.5. That wrapper lets me scroll down, and when I do I can see the navigation bar.

I also tested https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.4.0-dev.27/ and I did not see the problem there either. scrolling="no" isn't used there either, so it may not be related to that after a

[2019-02-12 17:26] jessegreenberg commented on #440
I just verified this isn't happening on my Windows laptop with a touch screen.

[2019-02-12 17:36] jessegreenberg commented on #440
I tried to test a recent version of friction to see if this was happening there, but it isn't loading on my iPad2. Maybe wrapper code is using es6? https://github.com/phetsims/phet-io-wrapper-sonification/issues/70

[2019-02-12 17:38] jessegreenberg commented on #440
I also just found https://github.com/phetsims/phet-io-wrapper-sonification/issues/71, it seems like the issue could be very related to that.

[2019-02-12 18:00] jessegreenberg commented on #440
As a final test, found that this is not happening in the sim in the a11y view at http://localhost:8080/balloons-and-static-electricity/build/phet/balloons-and-static-electricity_a11y_view.html. That iframe does use `scrolling=no`, but I don't know if that is related.

The way the sim is dragged down in https://github.com/phetsims/balloons-and-static-electricity/issues/440#issuecomment-462844827 ma

[2019-02-12 19:59] jbphet commented on #440
Adding `scrolling=no` didn't change anything.

Below is a screen capture of the behavior in the "Studio" wrapper of the recently published phet-io version at https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.3/phet-io/.  This was captured on the PhET test device "Hopper" running iOS 12.1.4.

![base-resize-scaled-2](https://user-images.githubusercontent.com/3082831/526643

[2019-02-13 04:51] chrisklus commented on #440
I looked into this for a while today. I found that I could reproduce with any wrapper that loads the sim in an iframe, like active and state. In both of those cases, adding `scrolling="no"` to the iframe tag consistently fixed the problem. I didn't have any luck when adding that to the sonification wrapper, but I'm now realizing that it's possible that it wasn't being interpreted, because the `wid

[2019-02-13 22:11] chrisklus commented on #440
I just tried this again after commenting out the iframe css and verifying that `scrolling="no"` was working, but the sim still gets taller.

[2019-02-13 22:36] zepumph commented on #440
I can't say that I've read every word above (only skimmed). I wonder if this problem has to do with how BASE is layed out as a sim. I don't know why, but I have noticed that the screenview in BASE is always bottom justified, no matter the size of the sim window. The dev bounds (or something like it) seem to  be always touching the navbar. Notice here:

![image](https://user-images.githubuserconten

[2019-02-13 22:42] jessegreenberg commented on #440
Good point @zepumph, BASE does use a layout strategy that keeps the sim bottom aligned with the nav bar (https://github.com/phetsims/balloons-and-static-electricity/issues/77).

energy-skate-park/energy-skate-park-basics does something similar, if this is the reason, it will likely show up in wrappers for those sims too.

[2019-02-13 22:43] chrisklus commented on #440
Thanks @zepumph! Indeed, that is why the sim goes down when the problem happens (and therefore is unusable in the wrapper), but I don't think it is related to cause of the expansion of the iframe. I previously tried changing its layout function to the standard one, and the problem still ocured, but with the sim staying in the center of the iframe instead of floating to the bottom.

[2019-02-14 18:09] jbphet commented on #440
Marking for dev meeting to try and figure out who can help us fix this.

[2019-02-14 18:45] Denz1994 commented on #440
@samreid will assist with this going forward by tethering a device.

[2019-02-15 14:52] samreid commented on #440
I tried using `<iframe id="sim" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>` as indicated in https://stackoverflow.com/questions/3982422/full-screen-iframe but that still showed the same symptom.

[2019-02-15 16:19] samreid commented on #440
Using this patch I am unable to see the problem on iPad after about 2 minutes of testing (problem normally occurs after around 20-30 seconds).

<details>

[code]

</details>

[2019-02-15 16:33] samreid commented on #440
Likewise, I built a version of balloons and static electricity with `accessibility: false`.  Pointed to it in the phet-io-wrapper-sonification/balloons-and-static-electricity/html/balloons-and-static-electricity-sonification.html and cannot reproduce the problem after a few minutes of testing.

[2019-02-15 16:36] samreid commented on #440
@jbphet would it work to build and publish a dev version of BASe with `accessibility: false` to use for PISEC, until we can get the root problem solved?

[2019-02-15 16:38] samreid commented on #440
@jessegreenberg putting `accessibility: false` seems to prevent this problem.  I do not know all of the things that happen when `accessibility: true`, but perhaps there are more DOM elements created, and one of them is interfering with the iframe bounds.  I'm not sure the best way to investigate this avenue further.

[2019-02-15 16:44] jessegreenberg commented on #440
OK, thanks @samreid, Ill take a look.

[2019-02-15 16:48] samreid commented on #440
I also wanted to refer to https://github.com/phetsims/scenery/issues/852 which appears to be the issue for updating dom peer bounds on mobile.

[2019-02-15 17:42] jessegreenberg commented on #440
I tried disabling updating DOM peer bounds, so all elements are hidden in the top left of the screen, but the problem still occurred. I verified that I wasn't testing a chached version by checking the build time stamp in the about dialog.

[2019-02-15 17:45] jessegreenberg commented on #440
I am wondering if this may have been caused by this styling change to the PDOM from last year: https://github.com/phetsims/scenery/commit/2602da303f9246852a3e23bfe268368899a011bb

[2019-02-15 18:46] jbphet commented on #440
I noticed something else that may be related (and if it isn't, we should log a separate bug):  Trying to access the PhET menu from BASE inside the sonification wrapper locks up the sim.  It also crashes the sim when running in Chrome, which is nice, because that means it's easy to duplicate.  The stack trace seemed to indicate that the problem had something to do with phet-io (error and stack trac

[2019-02-15 22:15] jessegreenberg commented on #440
Thanks @jbphet, I don't think that is related, but it is possible. Ill make a new issue for that.

[2019-02-15 22:21] jessegreenberg commented on #440
I tried adding a number of CSS attributes that used to style the PDOM, but none of them made the issue go away: `position: absolute; left: 0; top: 0; width: 0; height: 0, clip: rect(0,0,0,0);`.

Then I tried keeping accessibility enabled, but removed the root of the PDOM from the Display. This did not fix the problem.

Finally, I tried disabling all alerts. This seems to have fixed the problem. So

[2019-02-15 23:07] jessegreenberg commented on #440
This is fixed on my ipad2 in the PhET-iO wrappers from "compiled index" of phetmarks. I wasn't able to run the sonification wrapper because it is using es6 code.

@chrisklus would you mind testing to see if the above change fixes this issue on the device you were using to test?

[2019-02-15 23:23] chrisklus commented on #440
I did a pull-all, built a local BASE, and pointed the sonification wrapper to that file. All looks good, nice @jessegreenberg!

[2019-02-16 03:13] samreid opened #441 "Incorrect arguments to Vector2 in unit tests"
Discovered in https://github.com/phetsims/dot/issues/85.  Some occurrences are passing an object instead of a number as the 2nd argument to Vector2.  This will appear shortly in unit test on Continuous testing.  Assigned to @jessegreenberg for investigation.

[2019-02-16 18:40] pixelzoom opened #442 "CT: Dynamic descriptions for PlayArea objects failed: undefined"
It looks like @jbphet has made recent commits, so assigning to him.

[code]

[2019-02-18 20:25] jbphet commented on #442
My recent commits were simple temporary flag changes to enable publication of a sonification prototype, and were reverted after that publication, so I think it's unlikely that they are the cause of any CT failures.  @jessegreenberg was investigating some odd behavior for this sim, and the errors all look a11y-related, so I'm sending it his way.

[2019-02-19 18:43] zepumph commented on #440
Tagging @jbphet because it looks like things may be fixed now

[2019-02-19 18:45] jessegreenberg commented on #440
Yes, thanks for testing @chrisklus, that is good news! Over to @jbphet to confirm and close or any next steps.

[2019-02-20 19:42] jessegreenberg commented on #442
Looks like this started showing up because Vector2 args are now required, and caught that I was accidentally passing in undefined values. Unit tests are passing for me locally, closing.

[2019-02-20 19:42] #442 closed

[2019-02-20 19:43] jessegreenberg commented on #441
Thanks @samreid, #442 was also opened and was a duplication of this issue, unit tests are passing after https://github.com/phetsims/balloons-and-static-electricity/commit/7f93681fc12f8f719696c276a5c5360b44dd7d96. Closing.

[2019-02-20 19:43] #441 closed

[2019-02-22 19:58] jbphet commented on #440
I built a dev version at https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.5/phet-io/balloons-and-static-electricity_all_phet-io.html and tested it in the wrapper, and it is indeed behaving well.  Thanks @jessegreenberg - closing.

[2019-02-22 19:58] #440 closed

[2019-02-22 20:00] jessegreenberg commented on #440
OK great! Sorry for the trouble, and thanks everyone in this issue for the help in resolving this problem.

[2019-04-10 19:33] KatieWoe opened #443 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Add and Remove Wall button pointer area much too small

Screenshots:
![Image from iOS](https://user-images.githubusercontent.com/41024075/

[2019-04-11 14:15] arouinfar commented on #443
Thanks @KatieWoe. This looks like a bug to me. @jessegreenberg can you investigate?

[2019-04-11 16:07] jessegreenberg commented on #443
This looks familiar I wonder if this was actually fixed elsewhere recently. @KatieWoe was this screenshot taken off of master or the published version on the website?

[2019-04-11 16:09] jessegreenberg commented on #443
This was already fixed as part of https://github.com/phetsims/balloons-and-static-electricity/issues/439. Scenery doesn't allow touch/mouse areas that are smaller than the button which is why the button is still clickable. @KatieWoe can you please confirm that this is fixed in master? @arouinfar is there anything else to do for this issue?

[2019-04-11 17:47] KatieWoe commented on #443
Does seem fixed on master @jessegreenberg

[2019-04-12 18:21] pixelzoom opened #444 "use BooleanRectangularToggleButton for Add/Remove Wall toggle button"
Noted in https://github.com/phetsims/a11y-research/issues/137#issuecomment-482672476

Here's the code in BASE `ControlPanel` that creates the Add/Remove Wall toggle button.

[code]

 Using a `RectangularPushButton` is an odd way to create a toggle button, and should be replaced by `BooleanRectangularToggleButton`. Something like:

[code]

[2019-04-12 23:28] arouinfar commented on #443
Looks good to me @jessegreenberg, thanks!

[2019-04-12 23:28] #443 closed

[2019-04-16 17:08] jessegreenberg commented on #444
Sounds good, done in the above commit.

[2019-04-16 17:08] #444 closed

[2019-05-23 20:38] KatieWoe opened #445 "CT api mismatches present"
[code]

[2019-05-23 20:43] zepumph commented on #445
Yes thanks. That should be fixed next round from commits I forgot to push in https://github.com/phetsims/joist/issues/558. If not, it will be sorted out over there.

[2019-05-23 20:43] #445 closed

[2019-07-29 00:22] chrisklus opened #446 "branch: instrumentOnSweaterProperty"
I'm creating a one-off to instrument `onSweaterProperty` for usage in https://github.com/phetsims/phet-io-wrapper-sonification/issues/85. I'll delete the branch once I've published the one-off.

Tagging @jessegreenberg.

[2019-07-29 01:01] chrisklus commented on #446
The one-off has been published at https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-instrumentOnSweaterProperty.1/phet-io/, and this branch has been deleted. Closing.

[2019-07-30 18:26] terracoda opened #447 "Found extra headings in PDOM"
In https://github.com/phetsims/phet-io-wrapper-sonification/issues/88 I noticed that there are extra headings in the PDOM.

@jessegreenberg could you make sure these headings haven't slipped out into production and also fix master.

Once you fix master, could you let @chrisklus know, so he can port a new version into the sonification wrapper if needed.

[2019-07-30 18:26] terracoda commented on #447
<img width="1150" alt="Screen Shot 2019-07-30 at 8 14 28 PM" src="https://user-images.githubusercontent.com/1902116/62155079-56ddd680-b308-11e9-9e10-6951dc62b333.png">

[2019-07-30 20:24] jessegreenberg commented on #447
Fixed in the above commit, related to https://github.com/phetsims/scenery-phet/issues/381.

[2019-07-30 20:24] #447 closed

[2019-07-30 21:11] chrisklus commented on #446
The one-off has been published at https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-instrumentOnSweaterProperty.2/phet-io/, and this time I'm going to leave this branch in existence until we are finished working with the students in Louisiana (8/2).

[2019-09-13 14:18] jessegreenberg opened #448 "branch: customZoom"
For phetsims/scenery#972, explored in this sim before the feature is fully integrated.

[2019-09-27 17:40] jessegreenberg opened #449 "Initial support for vibration"
Working with @liquatics on vibration, we are going to begin exploring things in BASE like we did in phetsims/john-travoltage#337. This code will be experimental for the time being and hidden behind phet.chipper.queryParameters.vibration.

[2019-10-21 20:28] jbphet opened #450 "Can this code for wrapper support be removed?"
In 5665d744676f41130632abd69d78db71833ec157 some code was added that looks like this:

[code]

We've decided not to use wrappers for sound prototyping anymore.  Can this be removed?

[2019-10-21 20:33] jbphet opened #451 "Add sound generation for transfer of charge from sweater to balloon"
@liquatics is doing some prototyping of vibration for this sim (see #449) and has requested a bit of sound generation to support it.  Specifically, a sound generator should be added for the transfer of charges from the sweater to the balloon.  This was discussed in the 10/15 haptics meeting.  We also decided to use the same sound generator as that used for charge transfer in John Travoltage.

[2019-10-21 20:46] zepumph opened #452 "Balloon grab/drag interaction to support mobile accessibility"
From https://github.com/phetsims/scenery-phet/issues/536#issuecomment-544698682, we will likely need to do a few updates to get this sim to support mobile accessibility (like iOS and VO).

@terracoda please supply the appropriate help texts, one for keyboard (likely the same as it currently is), and one for touch, and I can add these in conditionally for mobile devices.

[2019-10-21 21:20] jbphet commented on #451
@liquatics - assigning to you to test.  To hear the sound you'll need to use the `supportsSound` query parameter.  If it works as needed, you can close this issue, otherwise let me know what needs to change and assign back to me.

[2019-10-21 22:20] samreid commented on #450
Removed, thanks!  Closing.

[2019-10-21 22:20] #450 closed

[2019-10-22 01:11] terracoda commented on #452
**Grab BASE's Balloons:**
**Keyboard Interaction**
- Accessible Name (no change): Grab Yellow Balloon
-  Role: use native HTML role of button
- On focus sounds like: "Grab Yellow Balloon, button"
- Help text (a small change to bring into line with Friction) Look for grab button to play. Once grabbed, **press** W, A,S, or D key to move up, left, down, or right. Space to release.
  - change "press"

[2019-10-22 01:18] terracoda commented on #452
@zepumph, please implement the option 1's for now.
Reviewing initial alert now to see what could be helpful.

[2019-10-22 01:30] terracoda commented on #452
**Context Responses for Keyboard (samples):**
- Initial grab:
  - Grabbed. At center of Play Area. Has no more negative charges than positive charges. Press W, A, S, or D key to move balloon. Space to release.
- Susequent grab:
  - Grabbed. On left side of Play Area. Has no more negative charges than positive charges.

**Context Responses for Touch (samples):**
- Initial grab:
  - Grabbed. At cent

[2019-10-22 01:33] terracoda commented on #452
@zepumph, and I'm not hearing the word "Released" in the release interaction of the current version of BASE.
Could you check to see if there is a reason for that. It might have been intentional.

[2019-10-22 01:35] terracoda commented on #452
Tagging @jessegreenberg in case he needs to know about these descriptions.

[2019-10-22 13:30] terracoda commented on #452
@zepumph, please re-assign if you have questions.
Also, I want to note that I am making a note in the general issue over in https://github.com/phetsims/scenery-phet/issues/536 as I might have an accessible name for the ruler in GFL regular that can keep the common code design/implementation pattern you have already created.

[2019-10-22 13:41] terracoda commented on #452
@zepumph, reposting your generalized code here from https://github.com/phetsims/scenery-phet/issues/536#issuecomment-544698682
[code]

I'll try to rework descriptions from  https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-544770332 to remain consistent with and true to the general pattern that you have already implemented and that we likely discussed previously.

[2019-10-22 15:55] terracoda commented on #452
**Grab BASE's Balloons:**
**Keyboard Interaction**
- Accessible Name (no change): Grab Yellow Balloon
-  Role: use native HTML role of button
- On focus sounds like: "Grab Yellow Balloon, button"
- On activation sounds like: "Movable {{Yellow Balloon}}" (not currently implemented in published version, but is working on master)
- Help text (a small change to bring into line with Friction) Look for

[2019-10-22 16:59] jessegreenberg commented on #452
I took a quick look, looks good to me! But let me know if I can be of more help!

[2019-10-22 17:51] zepumph commented on #452
All has been implemented except for https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-544773213. @jessegreenberg I would like to hand it over to you, because it is your sim, and I want to leave it up to you how to implement those changes. Also they seem like they are not totally necessary for fast approaching interviews (though I'll leave that decision up to you).

[2019-10-22 20:03] terracoda commented on #452
Just noting here with keyboard and screen reader the changes sound good:
I hear "Grab Yellow, balloon" on keyboard focus, then on activation I hear "Yellow Balloon, movable" plus the grab alert.

Once I have dev link, I will test touch and screen reader on my phone.

[2019-10-22 23:05] jbphet commented on #451
At today's Haptics & Sound meeting, @liquatics said that she needed a development version published for her testing.  I've put one out at https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.13/phet/balloons-and-static-electricity_en_phet.html?supportsSound (note that the `supportsSound` query parameter is necessary for the sound to be able to play).

@liquatics - does this

[2019-10-22 23:26] liquatics commented on #451
@jbphet Just checked it out. This will work great for the upcoming interviews. I'll let you know if I run into any problems.

[2019-10-23 00:48] #451 closed

[2019-10-23 13:44] terracoda commented on #452
@zepumph, I tested [balloons-and-static-electricity/1.5.0-dev.12](https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.12/phet/balloons-and-static-electricity_en_phet.html) on my iPhone 7 (iOS 13.1.3)

I hear "Yellow Balloon, movable" on focus. I swipe to read the help text and get the correct help text, "Double tap and hold to drag balloon. Lift to release."
Upon activatio

[2019-10-23 15:55] zepumph commented on #452
Re https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-545078532, I think it would be best if jesse took it from here with his sim.

[2019-10-23 16:22] terracoda commented on #452
@jessegreenberg, regarding my comment about the not hearing "Released" https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-544773613, I think in several cases the initial release may be getting over-written by follow-up responses (alerts).

I hear "Released." when I move the balloon far enough away from the sweater. No need to investigate.  I think to make "Released

[2019-10-23 16:27] terracoda opened #453 "Investigate how to hear "Released." more consistently"
In https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-544773613

I noticed I didn't hear the "Released." on every release interaction.

I think we did things differently in Friction.

If time, I'd like to investigate how to improve this for a future maintenance release of BASE.

It may or may not be easy to parametize the "Released." string and prepend-it to a dire

[2019-10-24 14:43] KatieWoe opened #454 "CT does not finish tests"
CT has not finished tests from at least 10/22/19 to 10/24/19.  These are the tests not being done:
![thesenotdone](https://user-images.githubusercontent.com/41024075/67496879-5a000e80-f63a-11e9-929e-d03cf3d9b5be.png)

[2019-10-28 15:51] jessegreenberg opened #455 "Reduce frequency of alerts during finger dragging"
From #452, we are working on supporting grab/drag with mobile a11y (VoiceOver and Talkback). In the initial release of BASE we optimized alerts during drag so that they sound good during keyboard interaction.

Currently when moving with a finger we get too many alerts and stale alerts queue up. Improvements in utteranceQueue should make it pretty straight forward to reduce the number of alerts, I

[2019-10-28 15:58] terracoda commented on #455
@jessegreenberg, thanks for posting this issue. I noticed in my initial exploration in #452  last week that alerts were piling up when dragging. I was going to bring that up in our meeting today.

Great news that the utteranceQueue is robust enough to delivery responses based on platform needs.

[2019-10-28 16:06] jessegreenberg commented on #452
Sounds good @terracoda, I am also generally not hearing any alerts when the balloon is grabbed or released on iOS VoiceOver.

[2019-10-28 16:10] terracoda commented on #455
@jessegreenberg, in #453 I mentioned I wasn't hearing "Release" responses. It's possible they are getting lost due tot eh pile up of responses in the utteranceQueue.

[2019-10-28 16:47] jessegreenberg opened #456 "Not getting grab/release alerts during grab and drag with iOS VoiceOver"
From #452 and #455. Also related to #453 but making another issue because I think there are a few things going on.

@terracoda said

I also almost always never hear the "Grabbed" alerts.  Im not sure yet if we are missing both for the same reasons.

For the "grabbed" alerts, I think the balloons is actually not getting grabbed on iOS until the first movement of the finger. And so if you press and

[2019-10-28 16:56] jessegreenberg commented on #456
No, what is actually happening is that the grabbed alert isn't being sent to the utteranceQueue until the first movement of the balloon rather than first pickup. I think this can be changed.

[2019-10-28 16:58] jessegreenberg commented on #452
@terracoda do you think it would be helpful to make the on demand help text for the draggable with touch read automatically with aria-describedby?

[2019-10-28 17:03] jessegreenberg commented on #453
This may just be a bug in the code @terracoda, from what I can tell we aren't always putting this alert in the utteranceQueue when we should.

[2019-10-28 17:05] jessegreenberg commented on #453
It is because the "Release" alert is triggered specifically from key presses and `blur` events - none of which happen on iOS Safari with VoiceOver.

[2019-10-28 19:30] terracoda commented on #456
That describes what was happening during my testing, perfectly.

[2019-10-28 22:15] jessegreenberg commented on #452
In meeting today we decided to add aria-describedby.

[2019-10-28 22:18] jessegreenberg commented on #456
This was fixed with the above commit.

[2019-10-28 22:18] #456 closed

[2019-10-28 22:31] jessegreenberg commented on #453
@terracoda  can you see if this is fixed in https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.14/phet/balloons-and-static-electricity_en_phet.html?

[2019-10-28 22:33] jessegreenberg commented on #452
@terracoda here is a version with these changes, can you please review?
https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.14/phet/balloons-and-static-electricity_en_phet.html

Also, please see comments in https://github.com/phetsims/scenery-phet/issues/536#issuecomment-547167870  as discoveries there changed the implementation a little from what we discussed this morning

[2019-10-29 13:54] terracoda commented on #452
@jessegreenberg, the `aria-roledescription` and the `aria-describedby` sound good to me.

In a complex 2-balloon situation, I heard "Press Space to release" at some point.

Could you check if there are some special instances in 2-balloon experiments where we might have some keyboard-specific strings possibly showing up?

[2019-10-29 14:00] terracoda commented on #452
Regarding "Press space to release". I think there is a hint to release after a long drag interaction.

That is only needed fro keyboard because there is a grabbed mode. I don't think we need it for mobile interaction.

[2019-10-29 15:01] terracoda commented on #452
@jessegreenberg, also, I am hearing the hint "Double tap and hold. Lift finger to release" 3 times upon getting focus on a balloon.

[2019-10-29 15:03] terracoda commented on #452
Re https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-547465095, I actually hear the hint 3 times on the Green balloon and 2 times on the Yellow balloon.

[2019-10-29 15:11] terracoda opened #457 "Hear Gesture hint 2 or 3 times"
In https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-547465975

@jessegreenberg, could you check to see what might be causing the repeated text. For example, are do we have more than one arai-describedby befing referenced? Or perhaps using another technique like aria-label?

I only hear the balloon name and the `aria-roledescription ("moveable")` once, but I hear

[2019-10-29 15:16] terracoda opened #458 "Hear keyboard hint "Press Space to release" when using touch gesture"
@jessegreenberg, just making an issue for this comment https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-547433820

I think it might be safe to remove the hint all together, if it is difficult to remove just from the touch interaction.

I heard it while moving either of the balloons.

[2019-10-29 15:20] terracoda commented on #452
@jessegreenberg, I reviewed version in https://github.com/phetsims/balloons-and-static-electricity/issues/452#issuecomment-547174250

and made 2 new issues. Hope that's ok.

FYI, I did see pink highlights while activating other controls besides the balloons, but none of the highlights seemed to get in the way nor make me think my focus was in the wrong place.

[2019-10-29 15:23] terracoda commented on #452
@jessegreenberg, assigning back to you as I am not sure what to do with this issue.

[2019-10-31 16:00] pixelzoom opened #459 "CT: induced charge did not change since last description"
This is occurring intermittently in CT, and appears to be related to a11y.

[code]

[2019-10-31 16:11] jessegreenberg commented on #459
Thanks, Ill take a look. RUnning ?fuzzBoard for 120 seconds isn't showing anything yet, ill keep looking.

[2019-10-31 16:14] jessegreenberg commented on #459
It has only shown up twice in the last 19 CT iterations so fuzz may not be a good way to find this.

[2019-10-31 16:19] pixelzoom commented on #459
Note that the query parameters in the CT test were `?brand=phet&ea&fuzz&a11y&memoryLimit=1000`, not `?fuzzBoard`.

[2019-10-31 16:19] jessegreenberg commented on #459
Oh thanks! I assumed accessibility-fuzz meant ?fuzzBoard

[2019-10-31 17:25] jessegreenberg commented on #459
With `?fuzz` for about 20 minutes I haven't seen this yet. Inspecting the code I am not seeing why this is happening yet.

[2019-10-31 17:26] pixelzoom commented on #459
Have you tried `?brand=phet&ea&fuzz&a11y&memoryLimit=1000`?  Is the `ally` query parameter significant?

[2019-10-31 17:30] jessegreenberg commented on #459
`a11y` query param enables accessibility but accessibility is enabled by default for this sim so the query parameter shouldn't be required to hit this.

[2019-10-31 17:40] pixelzoom commented on #459
This is a "this never should have occurred" type of assertion.  Consider adding one or more additional assertion upstream to provide more information, and wait for CT to hit it again.

[2019-10-31 17:53] jessegreenberg commented on #459
Sounds great, I added assertions, and also some other debugging output to the original assertion message if my new upstream assertions aren't hit.

[2019-11-04 15:53] pixelzoom commented on #459
Looks like your revised assertion failed over the weekend:

[code]

[2019-11-04 19:47] jessegreenberg opened #460 "keyboardInteractionCue should only disappear after the balloon is successfully moved"
It currently goes away after successful pick up, rather than successful move.

[2019-11-04 23:15] zepumph commented on #460
@jessegreenberg  you have already used this here, but is `GrabDragInteraction.successfulDrag` enough to solve this issue?

[2019-11-05 14:42] jessegreenberg commented on #460
Thanks, very likely! Ill take a look at that to fix this.

[2019-11-11 16:48] terracoda commented on #452
Verifying [https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.14/phet/balloons-and-static-electricity_en_phet.html](https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.14/phet/balloons-and-static-electricity_en_phet.html)

- Yellow Balloon in BASE is sounding really good, and seems
-  I am hearing full responses fine. I don't seem to get interrupt

[2019-11-12 22:18] zepumph opened #461 "Should all balloon listeners be added on the same Node?"
While working on https://github.com/phetsims/gravity-force-lab/issues/189, we noticed that that bug in common code wasn't effecting the BalloonNode. The reason is that the GrabDragInteraction is being added to a sub "image" node, while the `moveableDragHandler` is added directly to the `BalloonNode`. @jessegreenberg can you explain this discrepancy? I'm not sure what the benefit is to have these o

[2019-11-19 16:42] jessegreenberg commented on #449
Initial prototypes are complete behind the `vibration` query parameter. We wont continue working on this much until we decide how to proceed with better screen reader support with vibration. Closing this one.

[2019-11-19 16:42] #449 closed

[2019-11-29 16:50] terracoda commented on #457
@jessegreenberg, I am not getting any repetition in the latest version of GFL, maybe this has been fixed for BASE, too?

[2019-12-31 23:14] terracoda opened #462 "Balloon is no longer moveable (keyboard)"
A generalizable change to GFL's ruler's help text was made to BASE and Friction. See https://github.com/phetsims/gravity-force-lab/issues/216#issuecomment-570003090

While verifying the content change in BASE, I noticed the Balloon was not draggable with the keyboard. WASD and Arrow keys do not work when balloon is grabbed. I can jump the balloon, though with special jump keys (JW, JS, and JC).

I

[2020-01-21 20:54] zepumph commented on #462
In 41e3884f5e5b89a05491657bf39d791100acd0fc "locationProperty" was changed to "positionProperty" for a KeyboardDragListener listener as part of https://github.com/phetsims/phet-info/issues/126, but the KeyboardDragListener api was not changed until I just committed. This should be fixed now, tested on master. Closing

[2020-01-21 20:54] #462 closed

[2020-02-22 01:58] samreid commented on #454
Bumping priority because this would be useful for https://github.com/phetsims/chipper/issues/860.  The problem I see when running unit tests is:

@jessegreenberg or @zepumph would you have time to take a look?

[2020-02-22 02:09] samreid commented on #454
In the above commits, I guarded access to `phet.joist.sim` so it is not accessed during unit tests.  However I don't know if this is the appropriate approach.  @jessegreenberg or @zepumph can you please comment?

[2020-03-06 00:19] zepumph commented on #454
I can confirm that tests are running now on CT.

I have a bit different feeling about how to proceed with this issue. IMO none of these calls should be guarded against, because they should always exist. The `UtteranceQueue` is a dependency to BalloonDescriber. (Feel free to disagree with me 😄 ).  Thus I feel like failling when it isn't there is the correct behavior, and I wouldn't want the gracefu

[2020-03-13 18:12] samreid commented on #454
If we follow this pattern, I foresee a proliferation of functions like this:

[code]

and this:

[code]

What if Objects that use UtteranceQueue take it as a a constructor option like so:

[code]

Would something like that work?

[2020-03-13 18:23] samreid commented on #454
Or this could be defined in the `BalloonDescriber` constructor:

[code]

[2020-03-17 00:04] zepumph commented on #454
I would be fine with this. I think that @jessegreenberg should take this one over because these are Types that he wrote, and I think he should have a say about how the finished product looks.

@samreid I agree that a proliferation in those sorts of functions is less than ideal. I feel a bit stuck since utteranceQueue is no longer a singleton.

One idea! What if in utterance-queue there was an utte

[2020-03-22 23:22] zepumph opened #463 "move a11y strings into main strings json"
From phetsims/chipper#795. I think that @jessegreenberg should do this, because likely there should be some organizational refactoring done in this repo, in part because there are so many strings here.

[2020-03-30 18:03] KatieWoe opened #464 "CT vibrationManager.debug is not a function"
[code]

[2020-03-31 19:57] jessegreenberg commented on #464
Thanks @KatieWoe this has since been fixed.

[2020-03-31 19:57] #464 closed

[2020-04-27 14:47] KatieWoe opened #465 "CT this.callback is not a function"
[code]

[2020-04-27 14:49] KatieWoe commented on #465
Sorry, just saw this was reported elsewhere

[2020-04-27 14:49] #465 closed

[2020-04-28 23:54] zepumph opened #466 "Unit test error: this.callback is not a function"
From https://github.com/phetsims/joist/issues/621#issuecomment-620000152

I thought it best to create a side issue instead of tackling it there. Without too much investigation, I wonder if this issue isn't from a unit test loading a module that then calls SimLauncher before it was imported.

[2020-05-05 16:08] KatieWoe commented on #454
May be happening again:
![Maybe](https://user-images.githubusercontent.com/41024075/81088537-4de1ed00-8eb8-11ea-9a24-3e29fb46431b.png)

[2020-05-05 17:01] jessegreenberg commented on #454
Thanks, it looks like these are generally the assertions failing now, coming from Tandem
Assertion failed: parent should not have child: plusCharges
assert.js:21 Assertion failed: parent should not have child: plusCharges
assert.js:21 Assertion failed: parent should not have child: plusCharges

[2020-05-05 19:47] zepumph opened #467 "hard coded string in ControlPanel.js"
`    labelContent: 'Balloon Settings'`

discovered while working on https://github.com/phetsims/sun/issues/593

[2020-05-08 14:47] KatieWoe opened #468 "CT phet.joist.sim.runOnNextFrame is not a function"
[code]

[2020-05-08 16:04] jessegreenberg commented on #468
It seems like we need a different way to run these unit tests. We keep running into problems where things are assuming they are being run in the context of a Sim. The tests either need to use a Sim, or stop using view components that assume they are in a sim context.

[2020-05-08 16:42] zepumph commented on #454
I wasn't getting the errors reported by @jessegreenberg above, but I was getting  `phet.joist.sim.runOnNextFrame is not a function`, which was from how I was stubbing `phet.joist.sim` to support UtteranceQueue. Because of this, I added one more stub. Tests are now passing on my end. Let's see how CT does.

[2020-05-08 17:12] zepumph commented on #468
Oops wrong issue, please see
https://github.com/phetsims/balloons-and-static-electricity/issues/454#issuecomment-625904617

https://github.com/phetsims/balloons-and-static-electricity/commit/1c6c0482cce4b4ef95083bfd6269405f880df3ed

Fixed in those. Over to @jessegreenberg to review and close.

[2020-05-08 17:16] zepumph commented on #466
Unit tests are passing after fixing https://github.com/phetsims/balloons-and-static-electricity/issues/468. @samreid, when you get to this, if CT is clear please close.

[2020-05-08 19:52] jessegreenberg commented on #468
I see, thanks @zepumph - I still wanted to try something else to fix the problem I mentioned in https://github.com/phetsims/balloons-and-static-electricity/issues/468#issuecomment-625887636. The QUnit tests now use an actual running balloons-and-static-electricity sim now in an iframe so that we can remove the stubs. Ill be watching CT to make sure this is working over there.

[2020-05-09 03:08] samreid commented on #468
After the commit, it also works on my localhost.  We'll see what CT says.

[2020-05-09 04:16] jessegreenberg commented on #468
Thanks!

[2020-05-14 22:00] jessegreenberg commented on #468
BASE has been clear for several days, closing!

[2020-05-14 22:00] #468 closed

[2020-05-18 14:17] jessegreenberg commented on #467
Thanks, moved the string to the file.

[2020-05-18 14:17] #467 closed

[2020-05-18 14:18] jessegreenberg commented on #466
CT has been clear for a while, closing.

[2020-05-18 14:18] #466 closed

[2020-05-18 14:21] jessegreenberg commented on #455
This is high priority as it is related to vibration work.

[2020-05-18 14:34] jessegreenberg commented on #454
CT has been clear for some time, thanks!

I like the proposal listed in https://github.com/phetsims/balloons-and-static-electricity/issues/454#issuecomment-599812106 to improve usage of PhET's UtteranceQueue, I moved that question to https://github.com/phetsims/utterance-queue/issues/13.

[2020-05-18 14:34] #454 closed

[2020-05-18 14:34] terracoda commented on #455
@jessegreenberg, my first guess on pseudo logic would be to limit utterance to once or twice per region. Originally, we had several regions defined for all three areas: Sweater, Wall and Play Area. For keyboard navigation we have a certain default step size that usually results in about 1 to 2 mentions of a region as a learner is moving, and no more than 2 silent steps.

My guess (totally naive gu

[2020-05-18 14:43] jessegreenberg commented on #455
@terracoda that makes sense. We could definitely explore that, but it would involve sim logic and take extra time.

Would you be OK with doing something time based? UtteranceQueue would support this without additional sim changes. The behavior would be something like "when dragging the balloon only alert movement changes once every 5 (or so) seconds".

[2020-05-18 15:18] terracoda commented on #455
Using time might work, but the exploration is actually a spatial one. I think 5 seconds is likely too long. I'd start off with 3 seconds.

If we assume blind learners might drag somewhat slowly (be more careful about their dragging explorations) which is a big assumption on my part, 3 seconds might be a good place to start.

I am also not assuming a default speech rate for the screen reader, but m

[2020-05-18 20:02] jessegreenberg commented on #455
Sounds good @terracoda, I went with that. In the above commit I reduced the frequency of alerts. I also made it so that small movements with a finger didn't generate any alerts. I did this because I found it difficult to hold my finger perfectly still on the the touch screen. So when using a finger or mouse a certain amount of movement is required to generate certain alerts.

@terracoda would you

[2020-05-18 20:06] terracoda commented on #455
@jessegreenberg, I have an iPhone 7. I'd love to try it out. I think a dev link should allow me to access this change.

[2020-08-06 01:32] jessegreenberg opened #469 "UI is not i18n friendly"
Just noticed this on master, something broke in the layout

![image](https://user-images.githubusercontent.com/6396244/89473781-bb204b00-d751-11ea-97a1-94a90effac84.png)

[2020-08-06 15:36] jessegreenberg commented on #469
Fixed with the above commit.

[2020-08-06 15:36] #469 closed

[2020-09-21 20:57] pixelzoom opened #470 "TwoSceneSelectionNode should be a RadioButtonGroup"
`TwoSceneSelectionNode` should be a `RadioButtonGroup`. I'm surprised to find that it's not, given the a11y and phet-io work that's been done on this sim. And now it's impeding work on https://github.com/phetsims/scenery/issues/1078.  It's the sole remaining use of `HighlightListener`, and I don't want to convert something that shouldn't exist in the first place.

@jessegreenberg Suggestions on ho

[2020-09-21 21:12] pixelzoom commented on #470
I see this comment at the top of TwoSceneSelectionNode.js:

[code]

Is RadioButtonGroup not accessible?

[2020-09-21 21:18] pixelzoom opened #471 "problems with TwoSceneSelectionNode dispose"
Two problems in TwoSceneSelectionNode:

(1) There's a memory leak in `dispose`. TwoSceneSelectionNode is a subclass of Node.  So `dispose` needs to call `super.dispose`, and should be `@override`.

[code]

(2) Half of `this.disposeTwoSceneSelectionNode` is unnecessary.  These 2 lines are not needed, since TwoSceneSelectionNode owns the listeners:

[code]

I suspect that TwoSceneSelectionNode is ne

[2020-09-21 21:24] pixelzoom commented on #470
I moved scenery-phet HighlightListener to a private class in TwoSceneSelectionNode.js.   So now BASE owns it and can decide how to proceed.  That seemed preferable to trying to replace it in TwoSceneSelectionNode, since TwoSceneSelectionNode shouldn't even exist.

[2020-09-24 17:13] jessegreenberg commented on #470
Yes, there is a bit of a history with this. https://github.com/phetsims/balloons-and-static-electricity/issues/213 has some of it, but there were other discussions too. TwoSceneSelectionNode was created as a compromise for that issue. Some did feel that these buttons should be a RadioButtonGroup while others felt that they should not to optimize how they sound with a screen reader.

Understood tha

[2020-09-24 18:34] jessegreenberg commented on #470
I removed the HighlightListener, replaced with PressListener and used its isHighlightedProperty.

Closing this issue after https://github.com/phetsims/balloons-and-static-electricity/issues/470#issuecomment-698474577.

[2020-09-24 18:34] #470 closed

[2020-09-24 18:44] jessegreenberg commented on #471
Yes, thanks - it is never actually disposed so I removed `dispose` and `disposeTwoSceneSelectionNode`.

[2020-09-24 18:44] #471 closed

[2020-09-25 15:15] KatieWoe opened #472 "CT required tandems must be supplied"
[code]

[2020-09-25 22:30] pixelzoom opened #473 "PressListener in TwoSceneSelectionNode requires a Tandem."
@jessegreenberg the changes you made to `TwoSceneSelectionNode` for #471 are causing CT failures:

[code]

You replaced HighlightListener with PressListener, which defaults to `Tandem.REQUIRED`.  So you need to provide the `tandem` option to PressListener's constructor on line 242:

[code]

[2020-09-25 23:00] jessegreenberg commented on #473
Thank you, passed tandem in above commit. Studio is running and standalone is fuzzing.

[2020-09-25 23:00] #473 closed

[2020-09-25 23:01] jessegreenberg commented on #472
Thanks @KatieWoe, I fixed this in #473

[2020-09-25 23:01] #472 closed

[2020-10-26 22:46] jessegreenberg opened #474 "Remove prototype vibration code from this sim"
The existing vibration code is quite old, we are doing things very differently now. Furthermore, there are no plans to work on vibration on BASE in the near future. I am going to remove all the old vibration code that is behind query parameters now, as most of it is probably vestigial.

[2020-10-26 22:59] jessegreenberg commented on #474
It has been removed, there are no more hits for 'vibration' in the sim. Closing

[2020-10-26 22:59] #474 closed

[2020-10-27 23:25] zepumph opened #475 "Should grab drag cue show after you have moved with the mouse?"
@emily-phet just noticed a potential bug. We expected that there would still be a drag cue until you successfully dragged the balloon with alt input.

Steps to reproduce:

1. mouse drag the balloon to the top of the screen.
2. tab to the balloon.
3. space to grab it.
4. No drag cue shows, just the dashed line.

@jessegreenberg, is this a bug or a feature? I'm also curious because of recent work in

[2020-11-12 19:10] jessegreenberg opened #476 "Conversion to es6"
Large commit, issue to track and document.

[2020-11-12 19:11] #476 closed

[2021-01-20 15:13] samreid opened #477 "Remove Tandem.GroupTandem and previous state pattern"
From https://github.com/phetsims/tandem/issues/87, we need to eliminate usages of `createGroupTandem`.  Things should be converted to use `PhetioGroup` if necessary.  I'll follow the instrumentation guide:

when supporting PhET-iO state and API validation.

instances. Use `PhetioGroup` for multiple instances of the same type. If you have a use case that is not addressed by one or both of those, th

[2021-01-20 15:14] samreid commented on #477
I reached out to @jessegreenberg on slack to ask if there is ongoing development in this repo that requires coordination.

[2021-01-20 15:48] samreid commented on #477
Fixed in the commits.  Once I saw an error like "description should be different if something has changed"? in the state wrapper but I couldn't replicate it.

This sim is listed in the "Upgrade to Studio" goals for instrumentation, I think that will be an appropriate time for improvements, if necessary.  But this seems good enough to close.  @zepumph reopen if you recommend a review.

[2021-01-20 15:48] #477 closed

[2021-01-24 18:46] Ashton-Morris opened #478 "Sonification Implementation Notes"
@jbphet I thought if I added an issue it would help you track addressing the notes easier than email.

[I have created a BASE Sound Design document.](https://docs.google.com/document/d/10YGIROBfW2u4DA6JAA6XZuP0mAmErsquIJjaZ_AB5sM/edit?usp=sharing) Please look at the section below the table called "Sound Design Details Implementation Notes, Info for JB" for ideas I have for how we should start addi

[2021-02-02 00:02] jbphet opened #479 "Implement sound design"
Below is the checklist that will be used to guide the process of adding sound to this sim:

# Checklist for Adding Sound

- [ ] Create a sound design document and work with the sound designer(s) to get to the point where enough has been
worked out that it becomes desirable to start prototyping.  For an example, please see the [Molecules and Light Sound
Design](https://docs.google.com/document/d/1L

[2021-02-02 00:14] jbphet commented on #478
Thanks @Ashton-Morris.  I've set up the sound implementation checklist in a GitHub issue, see #479, so that will supersede this one.  Also, I've added the Sound Design team as a collaborator, so you should be able to assign and modify issues now.  Closing.

[2021-02-02 00:14] #478 closed

[2021-02-02 20:30] jbphet opened #480 "Replace grab/release sounds for the balloons or make them common"
In the sound design document for this sim @Ashton-Morris suggested temporarily using the grab/release sounds that were used for the magnet in "Faraday's Law" as the sounds for picking up and release of the balloons.  We would most likely replace these with something custom eventually.

I will copy these sound files over from Faraday's Law, but we won't have a corresponding asset in the `assets` di

[2021-02-08 16:47] terracoda opened #481 "Negative charges in wall are cut off"
This might be a known issue. I just happen to notice this today on master. The negative charges in the published version look fine.
![Screen Shot 2021-02-08 at 11 44 30 AM](https://user-images.githubusercontent.com/1902116/107252256-ba71b580-6a0f-11eb-831a-a90d0ae56194.png)

[2021-02-08 19:15] Ashton-Morris commented on #480
I have two sets of Balloon Grab and Release options ready to implement. [Sounds for this sim will be stored here](https://drive.google.com/drive/folders/15ISSjQogiSKOCGlueZhYGfMUvARGTQ4s?usp=sharing)

- balloon-grab-001.mp3
- balloon-grab.mp3
- balloon-release-001.mp3
- balloon-release.mp3

[2021-02-09 20:29] jbphet opened #482 "Negative charges in wall are incorrectly rendered"
On master, the charges on the wall look like this:

![image](https://user-images.githubusercontent.com/3082831/107424053-6b448700-6ada-11eb-998d-d7f7dc00ac78.png)

They should look like this:

![image](https://user-images.githubusercontent.com/3082831/107424124-82837480-6ada-11eb-88d4-0ed983cceb38.png)

I did some digging, and I think the problem started with this commit to scenery: https://github

[2021-02-09 21:00] jonathanolson commented on #482
Looking into it!

[2021-02-09 22:34] jbphet commented on #480
The sound design team - @Ashton-Morris, @emily-phet, and me - tried these out in the sim during this week's sound design meeting, and we feel like something that is a little more cartoonish and not as realistic is what we're after.  The magnet sounds (which are based on a wood block) that were previously used actually work fairly well in terms of being distinct, but are a little too "solid".  So,

[2021-02-09 22:49] jbphet opened #483 "Create a sound to use as a "carrier" for the balloon drift velocity"
The parent issue for this is https://github.com/phetsims/balloons-and-static-electricity/issues/479.

An early prototype for the velocity at which the balloon drifts has been created and is called `BalloonVelocitySoundGenerator`.  It was based on a noise generator with a sliding filter.  We reviewed this in the 2/9/2021 sound design meeting and the feedback was that it sounded a bit too "breathy",

[2021-02-09 23:02] jbphet commented on #479
Here's a link to a prototype that was created a while back and is referenced in the sound design document.  This link will probably not last forever: https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.113/phet-io-wrapper-sonification/balloons-and-static-electricity/html/balloons-and-static-electricity-sonification.html?sonificationFile=sonificationOptions&accessibility.

[2021-02-10 00:29] jbphet commented on #479
A dev version with sound partially implemented has been published for us to use as a comparison point for future reviews.  This one includes, among other things, the "slide whistle" sound for the balloon's drift motion and the more realistic grab and release sounds for the balloon.  It also has sounds for move of the basic UI components.

Link: https://phet-dev.colorado.edu/html/balloons-and-stati

[2021-02-10 02:20] jonathanolson commented on #482
Was a bit tricky to track down, as it was actually rasterizing an already-rasterized node that made the bug apparent!

I neglected to handle rasterization scale properly in my change, and it should be fixed above. @jbphet can you verify?

[2021-02-10 17:23] jbphet commented on #482
Yep, the charges look great now.  Thanks, closing.

[2021-02-10 17:23] #482 closed

[2021-02-11 18:18] Ashton-Morris commented on #483
I have created 3 looping options for the carrier sound. All whistle like but each with more or less wind in the sound. They are in our shared sound folder.[
](https://drive.google.com/drive/u/1/folders/15ISSjQogiSKOCGlueZhYGfMUvARGTQ4s)
- carrier-000.wav
- carrier-001.wav
- carrier-002.wav

[2021-02-15 14:17] emily-phet commented on #481
@terracoda @jessegreenberg I believe this is a known issue. @jbphet has been working on this sim, adding sound, and we noticed this in a sound design meeting. I think @jbphet thinks he may have done this in his work on the sim. You'll probably want to check with him re maintenance release, as he has some things in progress at the moment.

[2021-02-15 14:23] terracoda commented on #481
In light of issue https://github.com/phetsims/scenery-phet/issues/490 and the need for maintenance releases for a few sims including this one (BASE), @jbphet can you work with @jessegreenberg to make sure this image problem doesn't end up in the maintenance release.

Maybe the commits for the maintenance release are obvious, and there is no concern.

Assigning the issue to you, @jbphet, just in ca

[2021-02-15 14:24] terracoda commented on #481
Assign back to me if yo need me to verify anything or have any questions.

[2021-02-15 16:40] terracoda commented on #481
@jbphet, @jessegreenberg said this bug won't be part of the maintenance release needed for https://github.com/phetsims/scenery-phet/issues/490 , so you can deal with this bug as you see fit within your own list of priorities :-)

[2021-02-15 16:40] jessegreenberg commented on #481
Thanks @terracoda @emily-phet, good to know. The maintenance releases for phetsims/scenery-phet#490 will only include the fixing commit for that issue and shouldn't include other breaking changes in master, but we will be sure to check for this before we republish.

 From https://github.com/phetsims/balloons-and-static-electricity/issues/481#issuecomment-779250924 it sounds like @jbphet may be awa

[2021-02-15 18:56] Ashton-Morris commented on #480
I have created a few other options for us to try.

- balloon-release-002.mp3
- balloon-grab-002.mp3 (To be played quietly)

- balloon-grab-003.mp3
- balloon-release-003.mp3

- balloon-release-004.mp3
- balloon-grab-004.mp3

- balloon-release-005.mp3
- balloon-grab-005.mp3

[2021-02-16 18:34] jbphet commented on #481
This was identified in https://github.com/phetsims/balloons-and-static-electricity/issues/482 and has been addressed.  It was a Scenery bug, and was not related to any of the work that was being done for sonification.  And, for the record, I never thought that it was.  Closing.

[2021-02-16 18:34] #481 closed

[2021-02-16 20:27] jbphet commented on #483
These have been integrated into the master version, and we will review during today's sound design meeting.

[2021-02-16 22:15] jbphet commented on #480
These sounds were reviewed in the 2/16/2021 sound design meeting, and we decided to go with the 004 sounds from the list above.  @Ashton-Morris heard a bit of distortions in the sounds, though, so he is going to try creating them again, and then we will integrate these sounds before giving them final approval.

[2021-02-16 22:24] jbphet commented on #483
Reviewed in the 2/16/2021 sound design meeting and we decide that we liked carrier waves 000 and 002, and we should use the former for the yellow balloon and the latter for the green one.

[2021-02-16 22:40] jbphet opened #484 "Create a sound for when the balloon attaches to the sweater"
The parent issue for this is #479.

We need a sound for the moment when the balloon was drifting due to static charge and stops on the sweater.  The magnitude of this sound, meaning the duration and/or the volume, should be larger when the balloon has traveled more and smaller for shorter distances.

@Ashton-Morris will create a base sound for this and then @jbphet will integrate it into the sim w

[2021-02-16 22:41] jbphet opened #485 "Create sound generator for balloon hitting sweater"
The parent issue for this is #479.

We need a sound for the moment when the balloon was drifting due to static charge and stops on the sweater.  The magnitude of this sound, meaning the duration and/or the volume, should be larger when the balloon has traveled more and smaller for shorter distances.

@Ashton-Morris will create a base sound for this and then @jbphet will integrate it into the sim w

[2021-02-16 23:19] jbphet opened #486 "Create sound generator for charges moving in the wall"
The parent issue for this is #479.

In today's sound design meeting we discussed some possibilities for what sound to generate to represent the sounds moving in the wall.  @emily-phet said that it should be thematically similar to the sounds currently generated when the charges jump from the balloon to the sweater.  @Ashton-Morris is going to generate a video or two to give us some ideas and @jbph

[2021-02-18 17:22] Ashton-Morris commented on #480
I have cleaned the audio files and removed the distortion. They are labeled this

- balloon-release-006.mp3
- balloon-grab-006.mp3

[2021-02-18 17:25] Ashton-Morris commented on #484
I have added a file for this

- balloon-hit-sweater.mp3

[2021-02-18 17:45] Ashton-Morris commented on #486
I have created 6 variations of different ideas to bring up and show in the next meeting on Feb 23rd.

[2021-02-22 22:51] jbphet commented on #484
This sound is now integrated and we can review at the next sound design meeting.

[2021-02-23 22:29] jbphet commented on #483
We reviewed the two different sounds in context in this week's sound design review meeting and approved it.  I think we're basically done here.  Closing.

[2021-02-23 22:29] #483 closed

[2021-02-23 23:33] jbphet commented on #486
We discussed this in the 2/23/2021 sound design meeting, and @Ashton-Morris is going to provide two sets of sound that will be used to cross-fade between to indicate the amount of charge deflection.  The first set will be something like a non-saturated to a saturated sine wave with a comb filter.  The second set should have more of an ambient-ish sound, something akin to what we used for the John

[2021-02-23 23:34] jbphet commented on #486
Oh, by the way, there is a prototype sound generator for this sound as of https://github.com/phetsims/balloons-and-static-electricity/commit/2acccf59c5b29295f8b1884276e20f4c736b3611 that we can use for experimentation.

[2021-02-24 18:36] jbphet commented on #484
Reviewed in the sound design meeting and approved.  Closing.

[2021-02-24 18:36] #484 closed

[2021-02-25 18:21] Ashton-Morris commented on #486
I have the two sets of sounds we talked about. Fading from the cleaner one and into the saturated one. For the more dynamic second set I used the Hum from John Travoltage for starters. They are .wav since they are meant to loop and I thought they would be easier files to start with.

- charges-wall-saturated-electronic-hum-loop.wav
- charges-wall-electronic-hum-loop.wav
- charges-wall-saturated-si

[2021-03-02 23:53] jbphet commented on #486
In this week's sound design meeting (on 3/2/2021) we reviewed a version of the charges-in-the-wall sound generator the cross-fades between two different sounds based on the max amount of deflection detected in all of the charges.  The feedback was basically that it felt like too much of a "field", or like the potential energy of the balloon, since it sounded like a single thing changing rather tha

[2021-03-02 23:55] jbphet commented on #480
These new sounds were integrated and then reviewed and approved in today's sound design meeting.  Closing.

[2021-03-02 23:55] #480 closed

[2021-03-03 18:43] terracoda opened #487 "(Interactive Description) Dynamic part of scene summary not fully resetting after pressing Reset All button"
Just noticed this while looking at the A11y View.
![Screen Shot 2021-03-03 at 2 55 01 PM](https://user-images.githubusercontent.com/1902116/109853590-9da45880-7c30-11eb-83d9-d55928fb164e.png)

The description for the Sweater and Wall description after a reset should be:
- Sweater and wall have zero net charge, each has many pairs of negative and positive charges.

The description is correct on pag

[2021-03-03 18:43] terracoda commented on #487
I'll update priority when/if I need this fixed for doing description course demos.

[2021-03-03 18:57] terracoda opened #488 "Grab button not working in Safari (Balloon, Magnet, Ruler, Chemistry book)"
Using the sim on Master with Mac OS High Sierra 10.13.6 and Safari I can't grab the balloon in the A11y View or in the main sim.

Nothing happens when I use Space or Enter keys.
Note that I am not running the latest MacOS in case that is important.

**Also Note:**
- The grab button works fine in Chrome and Firefox, so this must be a Safari thing.
- The same issue for all other grab buttons in FL,

[2021-03-09 04:08] Ashton-Morris commented on #486
I have added two different continuous sounds to try.

- charges-synthy-loop.wav
- charges-synthy-loop-one-octave-up.wav
- charges-organ-loop-one-octave-up.wav
- charges-organ-loop.wav

[2021-03-09 23:33] jbphet commented on #486
In today's sound design meeting, we worked through several variations for this sound generator.  It still seems like it's hard to tell the difference between the field as a whole and the individual charge motions, which has motivated us to take another look at the discrete bins approach which was tried a while back.  Here are the next action items:

- [ ] Publish a version with a pitch-based chang

[2021-03-15 16:22] Ashton-Morris commented on #486
I have created a few variations for us to test out for the discrete sounds. I think a lot of the work will be us adjusting the parameters of the min-max pitch playback with the discrete sounds in the wall, as well as the starting pitch/playback speed upon first interaction.

- charges-in-wall-blip.mp3
- charges-in-wall-reverse-blip.mp3
- charges-in-wall-blip-001.mp3
- charges-in-wall-blip-002.mp3

[2021-03-16 22:27] Ashton-Morris commented on #486
We reviewed the above sounds today and decided to create a few that are similar but more muffled. Having the same characteristics but not drawing so much attention.

charges-in-wall-blip-002 (to have a longer release and muffled)
charges-in-wall-blip-001 (to be muffled)
charges-in-wall-blip (to have be shorter in length and muffled)

Additionally any similar sounds that fit that criteria I will ad

[2021-03-16 22:43] jbphet commented on #486
By the way, the setup that we all seemed to like the most at this week's sound design meeting was 3 sound generators, major scale 1 octave up, sound file = charges-in-wall-blip-001.mp3.

[2021-03-22 22:19] Ashton-Morris commented on #486
I have added the three modified sounds to our shared sound folder.

- charges-in-wall-blip-001-muffled.mp3
- charges-in-wall-blip-002-muffled.mp3
- charges-in-wall-blip-muffled.mp3

[2021-03-23 21:38] KatieWoe opened #489 "CT required tandems must be supplied"
[code]

[2021-03-23 23:24] jbphet commented on #486
We reviewed the latest in today's sound design meeting and here are some follow-up items:
- [ ] Remove the "non-muffled" sounds from the options
- [ ] Publish a dev version and assign @emily-phet, @Ashton-Morris, and myself to review.  @emily-phet may also bring in @Matthew-Moore240
- [ ] The code for the other modes that we've been trying out in the sound generator for continuous sounds can be re

[2021-03-23 23:53] jbphet commented on #486
@emily-phet and @Ashton-Morris - I've published a dev version that we can use to experiment with different configurations of the charges-in-the-wall sound generator.  Recall that the control panel for this sound generator is found under the "Options..." menu item in the PhET menu.  Please review for next week, and we can discuss our favorites.  You can take a screenshot of the Options dialog for c

[2021-03-29 01:40] Ashton-Morris commented on #486
I have two options that I thought fit well.

1. This one was great at capturing the "in the wall" sound.
![Screen Shot 2021-03-28 at 7 39 05 PM](https://user-images.githubusercontent.com/34492870/112776587-54f87900-8ffd-11eb-9cb2-46d90f2be2fa.png)

2. This was most aesthetically pleasing to me.
![Screen Shot 2021-03-28 at 7 34 50 PM](https://user-images.githubusercontent.com/34492870/112776649-7c4

[2021-03-29 17:13] emily-phet commented on #486
From our discussion last Tuesday - the "chargesInWallBlip002Muffled" was my favorite, so I started playing around with the options menu from there.

Here's my favorite:
<img width="427" alt="Screen Shot 2021-03-29 at 9 50 43 AM" src="https://user-images.githubusercontent.com/5109055/112871690-5add7100-9074-11eb-9459-569288826d9d.png">

In general, I think:
SOUND GENERATORS
- Less than 3 sound gene

[2021-03-29 21:15] jbphet commented on #486
Below are three configurations that I found reasonable.  In general, I found the musical pitch rates, like the major chord and major scale, to be a bit too engaging, and thought they might be distracting, so I tended towards the simple linear pitch mappings.  The one exception was to use a sound without a lot of "tone" to it and shift it down so that it didn't go too high.

I look forward to revie

[2021-03-30 15:59] KatieWoe commented on #489
Some more things in CT may be related. @jessegreenberg let me know if this should be separate.
[code]

[2021-03-31 17:05] jessegreenberg commented on #489
I fixed this by passing a Tandem off of GENERAL_VIEW to the SoundOptionsDialogContent, but I am not sure if this content should be on the general view section. Though based on comments in the file this dialog is temporary anyway so what is here is likely fine for now. Over to @jbphet to close or change if necessary.

[2021-03-31 18:38] jbphet commented on #489
My apologies for causing the issue.  I didn't realize phet-io was enabled for this sim (and am somewhat surprised that it is).  @jessegreenberg - your solution seems fine, since this is indeed a temporary dialog that will be removed before the next publication.  Closing.

[2021-03-31 18:38] #489 closed

[2021-03-31 20:40] jbphet commented on #486
At the 3/30/2021 sound design meeting we reviewed the settings above and identified two configurations that we thought were reasonably good.  We decided to publish dev versions that use these values as their defaults and get some input from other folks.

@terracoda and @BLFiedler - Please take the two versions linked below for a test drive.  We're looking for feedback on the sound that is being us

[2021-04-01 13:16] terracoda opened #490 "(Interactive Description) The scale for charge movement in wall is not correct"
When balloon has "**a few** more negative charges than positive charges", negative charges in wall are being described as "move away from Yellow Balloon **a lot**."

"a few more negative charges" should only cause a small induced charge effect, so the wall charge movement should be in the first region above no movement which is "a little bit". The region fro several is also off.

Here's the balloo

[2021-04-01 13:21] terracoda opened #491 "(Interactive Description) Description pile-ups"
There have been a lot of improvements to the way responses (formerly knows as alerts) are handled in interactive description including the creation of the utterance queue.

Before publication with sound and sonification, we need to make sure that the timing of the descriptions is working well in Balloons and Static Electricity.

In a recent listen of these 2 versions:
- https://phet-dev.colorado.e

[2021-04-01 13:24] terracoda commented on #491
Tagging @emily-phet and @jbphet so at next meeting we can discuss if this should be a blocking issue.

[2021-04-01 13:24] terracoda commented on #490
Tagging @emily-phet and @jbphet so at next meeting we can discuss if this should be a blocking issue.

[2021-04-01 13:25] terracoda commented on #487
Tagging @emily-phet and @jbphet so at next meeting we can discuss if this should be a blocking issue.

[2021-04-01 13:26] terracoda commented on #488
I can grab the balloon now using latest dev versions:
- https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.25/phet/balloons-and-static-electricity_en_phet.html
- https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.26/phet/balloons-and-static-electricity_en_phet.html

So I will close this issue.

[2021-04-01 13:27] #488 closed

[2021-04-01 13:51] terracoda opened #492 "(Sound Design) Edge sounds for Play Area?"
For #486, I was just listening to BASE with sounds and I didn't hear any edge sounds indicating the edge of the play area.

These edges are described, but it is known from previous interviews that edge sounds are beneficial.

There may already be edge sounds, but they just are not currently hooked up.

[2021-04-01 14:02] terracoda commented on #475
I currently, can get the visual cue on how to grab with Alt Input after a successful pick up with mouse.

I think this bug is fixed, so closing.

[2021-04-01 14:02] #475 closed

[2021-04-01 14:14] terracoda commented on #452
Not sure what label is needed, but want to make sure this issue is fully wrapped up before publication with sound, assuming the goal is to publish with mobile a11y as well.

Not 100% sure that publishing with mobile-a11y is in fact a goal.

[2021-04-01 14:24] terracoda commented on #486
I think I prefer the more musical sound in version 25. I feel this sound is more different than the charge pick-up/transfer sound when rubbing is happening on the sweater.

While testing, I noticed
1. no edge sounds, so I created an issue for that.
2. a long rub sound if I jump the balloon to the wall with J+W. I will create an issue for that now.
3. that I get the wall sounds even when charges ar

[2021-04-01 14:25] jessegreenberg commented on #452
I read through this issue and I think what is left is https://github.com/phetsims/balloons-and-static-electricity/issues/457 and https://github.com/phetsims/balloons-and-static-electricity/issues/458, but it has been a long time so it would be good to verify that iOS a11y is working well. Just switching label so this doesn't appear in list of common code issues blocking all publications.

[2021-04-01 14:28] terracoda opened #493 "(Sound) Long rub sound at wall when using J+W shortcut"
While testing #486, I noticed a long rub sound if I jump the balloon to the wall with J+W.

To reproduce
1. grab balloon
2. gets some charge on balloon
3. use alt input and J+W to jump grabbed balloon from Sweater to Wall in one go.

You should hear a long rub sound when balloon hits the wall.

[2021-04-01 14:30] jessegreenberg commented on #491
Makes sense @terracoda. I agree, with improvements to utterance-queue since the last time this was published it seems like this is something we can do.

[2021-04-01 14:32] terracoda opened #494 "(Sound) Hear wall charge movement sounds when charges are hidden"
While testing #486, I noticed that I get the wall charge movement sounds even when charges are not shown in wall.

This issue might already be known, but posting just in case it was not known.

[2021-04-01 15:21] BLFiedler commented on #486
I like 25 over 26 as well.

Unrelated to the sound itself, when moving fast I think it's pretty easy to miss the nuance the pitch change even with maximum charge buildup. I noticed there is some room where you begin to repulse the wall electrons without any sound.  I'm not really sure what sound option would change this, but have you tried starting the blips "sooner" with less initial displacement

[2021-04-02 19:11] Ashton-Morris commented on #492
That is correct. We have noticed it but have not added them yet. They are needed though. I'll leave this issue open until we add them in.

[2021-04-05 22:42] jbphet opened #495 "Redeploy from master with new features"
We're getting close to redeploying this sim with a set of new features that improve its usability.  I will be in the lead on this, and I want to make sure that I and the rest of the team are clear on what will and will not be in this release.  Here's the list of new features:

- sound
- pan & zoom
- preferences menu

Some things that were discussed but that are not going into this release are:

-

[2021-04-06 18:00] jbphet commented on #492
@Ashton-Morris - I went ahead and used the wall contact sound for all boundaries, and it seems pretty reasonable to me.  Please take it for a test drive on master and let me know what you think.

[2021-04-06 19:10] terracoda commented on #492
@jbphet, that might work, but my feeling is that the wall is different than the other edges since it has charges in it, and can be rubbed.

Moving along any other edge won't make a rubbing noise, nor with they produce the induced charge effect sounds, so maybe those sounds will be enough to make it clear that the wall is different.

My main concern is when the balloon is moved to the right edge wh

[2021-04-06 19:22] jbphet commented on #494
Thanks @terracoda.  I've added the code to prevent sound generation when charges aren't visible.  Closing.

[2021-04-06 19:22] #494 closed

[2021-04-06 19:25] jbphet commented on #491
This issue was discussed at a recent a11y meeting, and @emily-phet said that we should verify that the description behavior isn't any worse than the published version and, if it isn't, this issue shouldn't block publication.

[2021-04-06 20:20] Ashton-Morris commented on #492
I have had troubles testing on Master but I think the edge boundary sounds from GFL:B Should work well in this.

https://phet.colorado.edu/sims/html/gravity-force-lab-basics/latest/gravity-force-lab-basics_en.html

[2021-04-06 20:24] terracoda commented on #491
@jessegreenberg, I listened to both the published version and version 25 above.

Because of the long response strings for this sim, both versions have a tendency to become a little latent.

I think the latest version is better, though, over all. It has a better grab response, and the responses never seem to stop working, so the code is definitely better. In the published version, the responses sto

[2021-04-06 20:46] jbphet commented on #493
Nice catch @terracoda.  I haven't done any testing with the hot keys, so I hadn't run into this.

The root cause of the issue is that the "rub sound" referred to in the title was being triggered by a combination of the balloon's smoothed drag speed and some logic that tests whether the balloon is in contact with the wall or the sweater.  In this particular case, the smoothed drag speed gets very h

[2021-04-06 21:26] jbphet commented on #492
@Ashton-Morris discussed this in today's sound design meeting and we're going to try the boundary sound from ratio-and-proportion for this.  So, we will use that for all contacts except contact with the wall, whereupon we will use the current wall-contact sound.

[2021-04-06 23:14] jbphet commented on #492
I've updated this to use a different sound for hitting the boundaries versus the edges.  @Ashton-Morris and @terracoda - please take it for a test drive (using phet-test and the current master version) and let me know if you think this will work.  Personally, I think this configuration is quite nice.

[2021-04-06 23:15] jbphet commented on #493
This is fixed, and I reviewed it with @Ashton-Morris, and he is on board with the revised behavior.  Closing.

[2021-04-06 23:15] #493 closed

[2021-04-06 23:38] jbphet commented on #486
Based on the feedback above, I've set the default configuration to the more "musical" sounds reflected in dev.25.  I also tweaked the size of the first bin based on @BLFiedler's observation about when the first sound is triggered.

I'll also try hooking up the new peak detector to see what the max output is and see if I should adjust the level of the individual sound generators so as not to be too

[2021-04-07 00:04] jbphet commented on #486
I've adjusted the algorithm that sets the output level for the individual sound generators such that the peak output values from this node when it's master gain node is set to 1 is right around 1.0.  This should make its output level pretty similar to that of a sound clip, so the output level settings should be similar.  Note that I optimized this change for the current default configuration, and

[2021-04-07 14:08] terracoda commented on #492
I like it with the differentiated edge sounds. Thanks for making that change.

[2021-04-07 17:47] jbphet opened #496 "Adjust relative sound levels"
This is a step in the sound implementation process, and the parent issue is #479.

The sound design has been mostly implemented at this point, and it's time to do a "mix", meaning that the relative sounds levels should be adjusted.

@Ashton-Morris - I've marked the adjustable output level parameters with the following comment, and you should be able to find these by searching through the code:

[c

[2021-04-07 17:55] jbphet commented on #486
@emily-phet has requested that we leave the dialog for manipulating the charges-in-the-wall sim in place until right before we publish.  This will potentially support some work being done by @BLFiedler.

I'm going to unassign myself for the moment, since there isn't any immediate work to be done until we get more feedback or decide to make changes.  It should stay open though, and I'm marking it a

[2021-04-11 22:12] Ashton-Morris commented on #496
[code]

[2021-04-11 22:15] Ashton-Morris commented on #492
After mixing the sim and testing it more thoroughly I feel that the top, bottom, and left boundary sounds are too similar in tone and timbre to the wall charge sounds.

The boundary sounds tend to disappear into the other sounds, especially as you’re moving up and down the wall with some charges on it reaching the top and bottom of the sim.

I think in this case we should use the boundary sound fr

[2021-04-12 13:29] terracoda commented on #492
@Ashton-Morris, I am glad you mentioned that as I also thought they were a little too similar. I like having a different edge sound from the wall, but was a little concerned about the similar-ness to the induced charge sounds. I wasn't feeling so confident about my ears though. I will try to be more confident next time ;-)

[2021-04-12 21:13] jbphet commented on #496
@Ashton-Morris - I applied the patch above and removed the comment markers associated with the changed output levels.  However, I noticed that there were two places with comment markers for which the output levels weren't changed.  I left those in place, because I wasn't sure if they were missed or if you just decided that the levels were good at their current settings.  Can you please take anothe

[2021-04-12 21:45] jbphet commented on #492
Okay, I've changed the non-wall edge sounds to be the same one used in gravity-force-lab-basics.  @Ashton-Morris and @terracoda - please try it out on master and see if you prefer this.

[2021-04-13 15:14] Ashton-Morris commented on #496
@jbphet Those are correct. Those lines are when I set the sound to 0 to test which sound it was and then realized that it needed no changes.

[2021-04-14 19:18] jbphet commented on #495
I'm going to unassign this until we're getting close to being ready to redeploy this sim, and at that point I'll self-assign and organize internal and dev testing of these features.

[2021-04-19 16:14] oliver-phet opened #497 "User suggestion: 'Show all charges' - balloon removes some but not all charges"

[2021-04-19 16:16] oliver-phet opened #498 "User suggestion: show polarization caused by positively charged object (allow sweater to be moved)"

[2021-04-20 22:15] zepumph commented on #448
@jessegreenberg, should this branch remain open, or be deleted as part of phetsims/special-ops#198?

[2021-04-21 00:10] jessegreenberg commented on #448
Thanks, no need to keep this. It has been deleted.

[2021-04-22 19:17] DianaTavares opened #499 "User suggestion: add insulator-wall and conductor-wall for the balloon to interact with"
a user suggests to dd insulator-wall and conductor-wall for the charged-balloon to interact with, in that case, the students can see the difference between interactions between charged objects and insulators and conductors.

Also, he suggested being more clear about what the actual wall in the sim is, an insulator, conductor, or dielectric (probably in the teacher tips). The teacher thinks that th

[2021-04-26 16:29] KatieWoe opened #500 "CT tried to insert a disposed node"
[code]

[2021-04-27 19:58] jbphet commented on #496
Okay, cool.  I've published a dev version with these sound levels.  @Ashton-Morris - please review and make sure that you're good with these levels and, if so, we'll close this issue and move one.  See  https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.28/phet/balloons-and-static-electricity_en_phet.html.

[2021-04-27 20:05] jbphet commented on #486
Hey @BLFiedler - @emily-phet had asked me to keep the options-for-charges-in-the-wall-sounds dialog around for a while.  This was mostly in support of some of the work the you were doing, or had planned to do.  Do you still need it?  I'm trying to figure out if I can and should remove it as part of moving this along towards publication.

[2021-04-27 20:07] jbphet commented on #492
We reviewed these sounds in a sound design meeting a while back, and they were approved.  Closing.

[2021-04-27 20:07] #492 closed

[2021-04-27 20:09] BLFiedler commented on #486
Yes! I was actually planning to use it this Friday with the hillside students, so I would very much like to have to instantiated still. If it's easier to create a dev version or something similar so we can continue to use it without fear of messing up publication, I would be happy with that.

[2021-04-27 22:24] jbphet opened #501 "Sound design review"
Much of the sound design has been implemented and the mix is nearly finalized.  It's time to have a review and make sure the various designers and other stakeholders are good with what has been implemented.

[2021-04-27 22:28] jbphet commented on #501
Here's the first version to review: Version to review: https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.28/phet/balloons-and-static-electricity_en_phet.html

Reviewers: Please check yourself off of the list below once you've reviewed, and add any objections or suggestions below.  We want to get it published fairly soon, so please log only thoughts that you feel strongly

[2021-04-29 15:45] KatieWoe commented on #459
Noting that this still seems to show up from time to time:
[code]

[2021-04-30 16:20] DianaTavares commented on #499
The user [sends this link](https://javalab.org/en/conductor_and_insulator_en/) as an example of how the sim can show the interaction between a charged object and a conductor on an insulator wall:
![image](https://user-images.githubusercontent.com/26031501/116724110-de58ed80-a9a5-11eb-93ee-660459b4ff0c.png)

![image](https://user-images.githubusercontent.com/26031501/116724060-cbdeb400-a9a5-11eb-92

[2021-05-03 18:19] emily-phet commented on #501
I like it a lot - the sound balance is great!

One minor thing (no change necessary, just wanting to note it for completeness):
There were a few times when moving the charged balloon from the sweater towards the wall when I felt the last "charges in wall" sound was a little unexpected (since the charges move very little), but I don't think this is a major issue. It probably just a minor preference

[2021-05-04 15:20] Ashton-Morris commented on #496
Yup these sound great!

[2021-05-04 15:20] #496 closed

[2021-05-04 16:35] Ashton-Morris commented on #501
The sound design is amazing! ^__^

[2021-05-04 16:54] terracoda commented on #501
I think the sonification and sounds sound wonderful as well.

I have a similar concern to @emily-phet 's comment. The description of the induced charge effect actually happens even earlier than the sonification. Of course, when exactly the description starts depends on how much negative charge is on the balloon. I tried a couple of amounts and in both cases I would hear the description before the

[2021-05-04 17:00] terracoda commented on #491
When reviewing the awesome sound design in #501, I feel that it would be time well spent to see if we can optimize the timing of the responses.

I think the main issue is that the utterance queue is not flushing, so several responses can pile up.

As I said in my previous comment, the over all design and functionality of the latest version on master is better than what is currently published, but

[2021-05-04 17:01] terracoda commented on #501
There is already an issue for the pile-ups in #491

[2021-05-04 17:03] terracoda commented on #491
To maintain quality of the multi-modal experience we should really have a look to see if there may be a quick fix to the pile-ups given all the improvements that have happened to the utterance queue.

[2021-05-05 17:07] BLFiedler commented on #486
Alright - this specific work is done and it sounds like there is work for a more general feature like this in the future, which is exciting. Done and can be cleaned up @jbphet

[2021-05-06 04:17] arouinfar commented on #501
Overall, I really like the sounds and I think it all comes together nicely.

At first, I struggled a bit with interpreting the sound related to the charges in the wall and it took me a while to figure what was going on. The first time I encountered the sound, it was completely unexpected. I thought it was possibly related to the balloon's position (balloon was at midpoint between sweater and wall)

[2021-05-06 20:06] jessegreenberg commented on #430
This branch can be deleted now.

[2021-05-06 20:08] #430 closed

[2021-05-06 20:09] jessegreenberg commented on #251
I have removed this branch.

[2021-05-06 20:09] #251 closed

[2021-05-06 20:11] jessegreenberg commented on #448
Deleting again for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:11] #448 closed

[2021-05-06 20:13] jessegreenberg commented on #446
I checked with @chrisklus and verified that this is OK to delete now.

[2021-05-06 20:13] #446 closed

[2021-05-06 20:13] jessegreenberg commented on #412
Needs to be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:14] jessegreenberg commented on #374
Needs to be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:14] jessegreenberg commented on #309
Needs to be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:15] #309 closed

[2021-05-06 20:16] jessegreenberg opened #502 "branch: update-kb-shortcuts"
This branch needs to be deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:16] #502 closed

[2021-05-06 20:19] jessegreenberg opened #503 "branch: description-string-updates"
Needs to be deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:21] #503 closed

[2021-05-06 20:21] jessegreenberg commented on #352
Needs to be re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:21] #352 closed

[2021-05-06 20:22] jessegreenberg commented on #355
Has been re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:22] jessegreenberg commented on #354
Has been re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:23] jessegreenberg commented on #353
Has been re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:41] jessegreenberg opened #504 "branch: tandem"
Found while going through for https://github.com/phetsims/special-ops/issues/198, I checked with @zepumph and this can be deleted. Changes in this branch were for https://github.com/phetsims/phet-io/issues/926#issuecomment-276791266

[2021-05-06 20:41] jessegreenberg commented on #504
It has been deleted.

[2021-05-06 20:41] #504 closed

[2021-05-06 20:45] jessegreenberg opened #505 "branch: circularslider"
This branch was created for https://github.com/phetsims/john-travoltage/issues/267. But after notes in https://github.com/phetsims/john-travoltage/issues/267#issuecomment-443256164 I think this branch can be deleted.

[2021-05-06 20:45] #505 closed

[2021-05-06 22:05] jessegreenberg commented on #491
Discussed with @emily-phet, I will take 15 min or so to create proposal and time estimate for work that would need to be done to improve the output and we can discuss it again in meetings next week.

[2021-05-13 18:31] arouinfar commented on #498
This is an interesting suggestion, but it would require significant design and development changes.

* The positively charged sweater would not stick to the wall like the balloon does. The gravitational force on the sweater is much larger than the electrostatic force between the sweater and the wall. The model of this sim does not include gravity, and adding it is not an option. We could get aroun

[2021-05-13 18:55] #498 closed

[2021-05-13 21:49] jessegreenberg commented on #491
I reviewed the alerts in the sim. It looks like most alerts are already using the UtteranceQueue to collapse Utterances of the same kind. When mouse-dragging a charged balloon near the wall (~1 seconds of interaction) example output is
![image](https://user-images.githubusercontent.com/6396244/118187887-97d7aa00-b40d-11eb-8e1b-5d72dcf2c060.png)

It takes the AT a long time, but this includes the r

[2021-05-13 22:04] emily-phet commented on #491
@terracoda @jessegreenberg Just a note on how this work relates to the publication of BASE.
- We need to finalize the sound for BASE, so if anything related to description work could impact the sound design (e.g., the timing of when you first hear the "charges in the wall" sound and when you first hear description of behavior at the wall), we'll want to know that asap.
- Once the sound design is f

[2021-05-17 15:19] KatieWoe commented on #500
This looks like it might have stopped for a bit but is back
[code]

[2021-05-17 20:21] arouinfar commented on #495
@kathy-phet and @zepumph mentioned that we could potentially roll PhET-iO into the upcoming redeploy. I reviewed the current state in Studio, and I don't think that this would be a low-effort publication. I would not include the phet-io-brand in this upcoming release @jbphet.

My full notes are in the [PhET-iO design doc](https://docs.google.com/document/d/1DzI3MdJbvPIydd447zBoZit_uj3RuDmj3yfJkGHE

[2021-05-20 01:04] terracoda commented on #491
Regarding the induced charge sound. The description starts before the sonification starts.
For example when I have several more negative charges than positive charges, using the arrow keys I get 2 induced charge descriptions before I hear the sonfication.

Not sure if this is good or bad, but the description and the sound are not being triggered at the same time.

[2021-05-20 01:09] terracoda commented on #491
Given @arouinfar's comment in a different issue and that the visual movement starts very slowly, we could consider increasing the threshold of induced charge that triggers the descriptions.

@jessegreenberg and @jbphet, could you pair on this and see if there is an easy way to align the induced charge threshold that is triggering both the sound and description for induced charge.

The fade-away se

[2021-05-20 03:53] arouinfar commented on #499
Thanks for passing this along @DianaTavares. The wall is a dielectric and therefore polarized by the presence of an electric field. Since the sim models a real-world situation, I think it would be inaccurate and confusing to introduce a non-dielectric insulating wall or a conducting wall. I'd advise against making this change in the sim, but I updated the teacher tips to clarify that the wall is a

[2021-05-20 03:53] #499 closed

[2021-05-20 18:52] jbphet commented on #495
The question of whether to release the phet-io brand in this upcoming release was discussed in the 5/20/2021 phet-io meeting and the developer meeting.  In the former, it was decided to _not_ release the phet-io brand.  In other words, the upcoming release will be phet brand only.

In the developer meeting we discussed the process for doing this in order to make sure that the tools will handle it.

[2021-05-20 20:13] terracoda commented on #491
@jessegreenberg, I am re-assigning back to me. I first need to review your comments on which responses need to be polite and assertive, and then we can see about aligning the sound and the description.

Apologies for the confusion.

[2021-05-20 21:40] terracoda commented on #491
@jessegreenberg, I am reviewing the sim, and I agree it would be good to have some assertive and polite responses.

I am wondering if it makes sense to have the very short responses made into assertive responses, or the longer and more pedagogically relevant responses made assertive.

**If short responses were assertive**
For example, some regions positions "Off Sweater", "Near Sweater", "Near Wal

[2021-05-21 19:24] jessegreenberg opened #506 "Getting some alerts about balloon movement after balloon is released with no charge"

[2021-05-21 19:24] jessegreenberg commented on #506
While working on #491 @terracoda and I noticed this bug.

[2021-05-21 20:05] jessegreenberg opened #507 "Not hearing independent balloon movement alerts for the balloons"
We are often not hearing alerts related to balloon movement when it is moving independently from charge forces.

[2021-05-21 20:19] jessegreenberg commented on #491
@terracoda  and I met today. We made the "Released",  "Grabbed" and all movement alerts assertive to reduce the pile-up. Overall it works really well and is a big improvement for VoiceOver.

While testing, we found that NVDA doesn't seem to support aria-live=assertive yet, so the changes have no impact on that platform. However, we don't expect a screen reader user to be using the mouse that frequ

[2021-05-21 20:20] jessegreenberg commented on #507
@terracoda was testing this on her Mac when we observed this happen.

However, they came through correctly when testing on her phone.

[2021-05-21 20:54] terracoda commented on #507
@jessegreenberg, upon retesting this dev link
https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.30/phet/balloons-and-static-electricity_en_phet.html

With Safari and VO on Macbook Pro MacOS 10.13.6

I do hear independent balloon movement responses.

I have a feeling after a lot of use, some responses can stop working. This is kind of random on VO, and it used to happen a

[2021-05-21 21:06] terracoda commented on #506
Yes, I can sometimes hear a one or left, right, up, down alerts after a release.
And I am not hearing "Released."
Released seems to get overridden by the balloon position response that is said right after the release.

I am not sure there if there is a simple solution to make sure the release response is heard.

[2021-05-21 21:10] terracoda commented on #497
I guess this would be like in the Friction sim, where for unknown reasons the atoms on the Physics book don't disappear and why some of the ones on the Chemistry book don't disappear. (I think I mean evaporate).

[2021-05-25 14:55] terracoda opened #508 "Visual Keyboard hint sows up on mobile ios platform"
I just noticed I get the keyboard hint for the grab button when using my iphone.
The spoken content and hints delivered through VoiceOver are correct.
- Yellow Balloon, moveable
- PDOM Help text: Double tap and hold to grab Yellow Balloon. Lift to release.
- Upon first grab correct platform-specific help text: Yellow Balloon, Grabbed. At center of Play Area. Has no more negative charges than posit

[2021-05-25 14:56] terracoda commented on #508
This should be part of the common-code mobile grab button.

[2021-05-25 15:24] terracoda commented on #506
@jessegreenberg, after re-listening on MacOS and iOS, I am wondering how much it would cost us to not these simple directional responses when a balloon is in the grabbed state. I think we need them for independent balloon movement, "Green Balloon, moves slowly left."..."Green Balloon, now up." etc. But I have a feeling we do not need them when the balloon is grabbed.

If this is not straight-forwa

[2021-05-25 15:28] BLFiedler commented on #486
Quick summation of quick BASE interviews with attention to the Charge Repulsion sound:
- Two students, 8th (less conceptually comfortable, named electrons unprompted) and 9th grade (more conceptually comfortable, brought up repulsion, attraction, electrons, protons, and more unprompted)
- Both identified the charge repulsion sound during exploration and **matched it to the action that was occurrin

[2021-05-25 15:34] terracoda commented on #491
@jessegreenberg, I tested again on MacOS and iOS, I think the changes we made are working well.
I commented in #506 that, if relatively straightforward we could remove the  simple directional responses, i.e.: up, down, left, right. On mobile platform they seem to be spoken more often than when using the keyboard.

After the changes we made on Friday, the pile-ups are way less frequent. They still

[2021-05-25 15:36] terracoda commented on #491
@jessegreenberg, I am wondering of there is any benefit in making both assertive if they are not both assertive already. If this is not feasible or if there is no benefit, we can leave as is.

[2021-05-25 15:48] terracoda commented on #507
I am hearing independent balloon movement responses. Maybe this issue can be closed?

[2021-05-25 16:14] terracoda commented on #501
I am commenting that @jessegreenberg and I made some progress on the description pile-ups in #491. There are still a couple of issues to resolve, mainly #506 and then the timing of the description of charge movement and the sound of charge movement can be synchronized.

#508 is not sound related, and I think I verified that #507 is not an issue. It might soon close.

[2021-05-25 16:26] BLFiedler commented on #501
May have been linked to the wrong issue when I wrote this. Summarize thoughts in #486 , but will repaste here:

Quick summation of quick BASE interviews (5/20/21, 5/24/21) with attention to the Charge Repulsion sound:
- Two students, 8th (less conceptually comfortable, named electrons unprompted) and 9th grade (more conceptually comfortable, brought up repulsion, attraction, electrons, protons, an

[2021-05-25 21:21] jbphet commented on #486
Cool, thanks @BLFiedler.  In today's sound design meeting we turned the volume of this sound generator down a little bit, so I think we're good to go on this.  Closing.

[2021-05-25 21:28] jbphet commented on #486
During today's sound design meeting a "heads up" was given that there may ultimately need to be some modification to this sound generator so that it works well with the description.  I'm going to reopen, but leave this unassigned, and then will make sure it gets checked before the next publication.

[2021-05-25 23:45] jbphet commented on #479
@Ashton-Morris: We're at the point where we need to finalize the sound files.  In order to do this, I'll need `.wav` files for the following sounds that made it into the final sound design:

- [ ] balloon-grab-006
- [ ] balloon-hit-sweater
- [ ] balloon-release-006
- [ ] charges-in-wall-blip-002-muffled

[2021-05-27 12:25] terracoda commented on #507
I am hearing independent balloon responses, so I am closing.

[2021-05-27 12:25] #507 closed

[2021-05-27 19:52] emily-phet commented on #486
@jbphet I spoke with @terracoda today about the current lack of alignment between when the induced charge at the wall responses are heard, and when the charges moving in the wall sound is heard.

@terracoda's recommendation was that @jbphet and @jessegreenberg meet to share with each other how the each (description of the induced charge, and charge-in-wall sound) are triggered. If straightforward

[2021-05-27 21:47] jessegreenberg commented on #486
@jbphet @jessegreenberg and @emily-phet met to discuss what would ideally be aligned. For this issue by "alignment" we mean the trigger in the model that would initiate the description of induced charge in the wall. This is not to say that the description for induced charge should play at the same time as the sound (which is how I first interpreted the issue). We briefly described how description

[2021-06-01 15:56] jessegreenberg commented on #500
I am not seeing this while fuzzing the BASE state wrapper directly, and I haven't seen this for several iterations on CT. This was pretty rare, so I am fully sure if it is gone. But I also know that work has been done recently on PhET-iO state, so maybe this has been resolved. Since I am not seeing it while testing state explicitly, I am going to close for now.

[2021-06-01 15:56] #500 closed

[2021-06-01 18:23] jessegreenberg commented on #486
@jbphet and I met to work on this today. The sound and description code now use what is currently `BalloonModel.inducingChargeProperty` to determine when to describe/play sound that there is an induced charge in the wall so that sound will never happen without a description about induced charge and vice versa. In addition, there is some clean up and refactoring that I can do to make the alignment

[2021-06-01 23:23] jbphet commented on #486
@emily-phet, @Ashton-Morris, and I reviewed and discussed the relationship between sound generation and description quite a bit during today's weekly sound design review meeting.  At the moment, @jessegreenberg and I have hooked up a sort of "master power switch" for sound generation and description so that they are enabled and disabled at the same time (as @jessegreenberg describes in the previou

[2021-06-23 15:35] jbphet opened #509 "The "Remove Wall" button is no longer visible on the wall"
While testing today, I noticed that the "Remove Wall" button seemed to be gone, but then I found I could navigate to it using the tab keys.  Turns out that it is now behind the wall instead of in from of it.  After a little detective work, I believe I've traced it to this commit: https://github.com/phetsims/joist/commit/17645a7ad98b2177524b9cc9e61b5d0a9660a82c.

This was done by @jessegreenberg, s

[2021-06-23 21:59] jbphet commented on #486
I moved the charge sound generator into BASEView so that it could make use of drag information from the balloons, and then added that ability to the charge should generator.  We just reviewed it in the sound design meeting, and the decision is that it's "good to go".  The code will need a bit of cleanup, after which this issue can be closed.

[2021-06-24 20:07] jbphet commented on #495
In today's a11y planning meeting we discussed the upcoming republication of this sim.  In the [opening comment above](https://github.com/phetsims/balloons-and-static-electricity/issues/495#issue-850769025), we had decided that mobile a11y and fixes for pile-ups of descriptions would not be addressed in this release.  However, there may have been enough advances in the common code and sim-specific

[2021-06-24 20:31] emily-phet opened #510 "Design doc for BASE sound design"
@Ashton-Morris Can you please (or finalize, if you've already started) a design doc for the sound design for BASE? That's the doc with the table listing all the sounds in the sim with a description, and a list of the filenames for the sounds. It would go in the PhET Design/Balloons and Static Electricity / Multimodal Features / Sound folder.

If you have questions on that, let me know.

When you'r

[2021-06-25 14:42] terracoda commented on #495
- 3 finger swipe up, started reading from top - all initial state descriptions are perfect
- got mobile instructions for grab button - good
- when dragging there are no pile-ups, but some directional responses are spoken instead of more relevant charge or landmark position info
- getting visual grab hints on mobile
- got a couple of incorrect position descriptions when playing with 2 balloons (the

[2021-06-25 14:43] terracoda commented on #495
@terracoda to check A11y sims page and update link.

[2021-06-25 14:51] terracoda commented on #495
I'll make a new issue for checking link on website, and @jbphet you can take this issue over.

[2021-06-25 14:54] terracoda opened #511 "Update link of BASE in prototype section to inlcude mobile accessibility"
As stated in https://github.com/phetsims/balloons-and-static-electricity/issues/495

BASe will not be published with advertised mobile a11y, but its current mobile accessibility is pretty good.
@terracoda is to update link on A11y page for the BASE prototype that is listed as mobile a11y.

[2021-06-25 14:55] terracoda commented on #511
Link for prototype:
https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.32/phet/balloons-and-static-electricity_en_phet.html

[2021-06-29 19:22] Ashton-Morris commented on #510
For some reason I did not get an email notification about this issue. Working on it now.

[2021-06-29 19:41] Ashton-Morris commented on #510
While working on this I was remembering that someone asked me to create a Sound Design Document Template. Can you review this and how it is formatted and written?

[Sound Design Document Template](https://docs.google.com/document/d/1ukDfYziXaUjMKGawkrJ9v11O2IYv32MULQB2E3xoGHA/edit#heading=h.aks8yxxh5lwd)

Also, I placed it in this folder: Design Templates - Multimodal Features

[2021-06-29 19:52] emily-phet commented on #510
Sound design document template looks great! I made a few tiny tweaks. I think it's good to go!

When we meet later today, can you show me the location of the folder it's in?

[2021-06-29 19:53] Ashton-Morris commented on #510
Sure I can show you then.

[2021-06-29 22:25] jbphet commented on #486
@Ashton-Morris - A couple of things:
- [ ] I'll need a .wav version of the final sound, which prior to the rename I just did was called `charges-in-wall-blip-002-muffled`
- [ ] I renamed that file to `charge-deflection`, so you'll need to update it in your records

[2021-07-01 15:27] KatieWoe opened #512 "CT instance should be marked as phetioDynamicElement:true"
[code]

[2021-07-01 15:53] jessegreenberg commented on #512
Thanks @KatieWoe, this has been fixed.

[2021-07-01 15:53] #512 closed

[2021-07-01 16:21] jessegreenberg commented on #509
Sorry about that, this has been fixed for BASE in the above commit. Ill check other sims in perennial/data/interactive-description to make sure this hasn't happened for those and make an issue to review z-order for those sims.

Back to @jbphet to confirm this is fixed in BASE.

[2021-07-01 18:11] Ashton-Morris commented on #486
- [charge-deflection.wav](https://drive.google.com/file/d/1axCZyOy4teX0T9aM5ez4I4jC1qAe6Vwc/view?usp=sharing)

[2021-07-01 18:24] zepumph commented on #509
Discussed during dev meeting today, and we just need to double check this in BASE, and not all sims.

[2021-07-01 18:49] Ashton-Morris commented on #479
I have also modified the file names assuming that you'd prefer that. [Here are the files.
](https://drive.google.com/drive/folders/15ISSjQogiSKOCGlueZhYGfMUvARGTQ4s?usp=sharing)
- balloon-grab.wav
- balloon-hit-sweater.wav
- balloon-release.wav
- charge-deflection.wav

[2021-07-02 16:34] Ashton-Morris commented on #510
I have completed the documentation. @emily-phet [Please review it here.](https://docs.google.com/document/d/10YGIROBfW2u4DA6JAA6XZuP0mAmErsquIJjaZ_AB5sM/edit#heading=h.rh2254o1e8yd)

[2021-07-02 19:32] jbphet commented on #509
The button is back, so this appears to be fixed.  I don't know enough about the consequences of using `this.addChild` instead of `this.pdomPlayAreaNode.addChild`, so I'll trust you on that, but I didn't notice any behavioral problems.  Plus, this is getting close to being re-released off of master, so any problems would likely be found by QA during testing.

I think we're good to close this.

[2021-07-02 19:32] #509 closed

[2021-07-12 17:16] jbphet commented on #486
Asset added, so this is now done.  Closing.

[2021-07-12 17:16] #486 closed

[2021-07-13 22:45] jessegreenberg opened #513 "Should BASE have a Preferences Dialog?"
@jbphet questioned this during a discussion today. The Preferences Dialog in BASE will only have one control - "All Audio", which is the same control that exists in the Navigation Bar. As such, there may not be much benefit in including it until more features are included. @emily-phet can you please comment on whether you would still like to have this Dialog in BASE for the upcoming publication wi

[2021-07-14 15:19] jbphet commented on #513
I'd like to add that during a discussion yesterday, @emily-phet mentioned that John Travoltage is also going to be published soon.  If the goal of putting the preferences dialog into BASE was to get some feedback on it, perhaps we can get it through JT instead.

I think we should consider this a general decision about whether the preferences dialog should be present in sims that have nothing other

[2021-07-14 20:15] emily-phet commented on #513
@jessegreenberg @terracoda and I met today to discuss this and a few other issues that have come up re the preferences menu.

We all heartily agreed that from a local interaction design perspective, having the preferences menu contain only one actionable preference that is essentially redundant with a button in the nav bar is clunky.

From a global perspective across the project, having a point in

[2021-07-14 22:53] jessegreenberg opened #514 "Add Interactive Highlights to BASE"
Discussed with respect to #513, adding Interactive Highlights will likely be very quick and present an immediate solution for that issue. Would also be great to get another feature in a sim.

[2021-07-15 00:48] jessegreenberg opened #515 "7/14/21 Memory profiling in BASE"
After #514 I was curious about the impact and did some memory profiling. The following snapshots were taken with ?fuzz. The first three were taken at 10 minut intervals. The second two were taken at 30 minute intervals. At this time, this indicates that the sim is leak free.

![image](https://user-images.githubusercontent.com/6396244/125710760-97baaadd-5898-435f-9fda-b1e7a83d453e.png)

[2021-07-15 00:48] #515 closed

[2021-07-15 01:46] jessegreenberg commented on #514
Added in the above commits. Will be following up in https://github.com/phetsims/balloons-and-static-electricity/issues/513, closing.

[2021-07-15 14:30] jessegreenberg commented on #514
Actually, reopening for review.

@terracoda can you please verify the Interactive Highlights in BASE and confirm that they are working as expected and well enough for publication?

[2021-07-15 14:38] emily-phet commented on #513
Two updates:

Conversation with @kathy-phet:
- She was still in favor of taking a uniform approach to the implementation of the Preferences menu, the approach we had leaned towards from the early group design iterations, even if some sims have a very minimal Preferences menu.

Addition of Interactive Highlights:
- I checked with @jessegreenberg about potentially adding interactive highlights to BA

[2021-07-15 14:41] jessegreenberg commented on #514
Link to version with this: https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.33/phet/balloons-and-static-electricity_en_phet.html

[2021-07-15 14:48] terracoda commented on #514
When I click the balloon, it becomes grabbed, can you make the pink highlight dotted in that case?

Ungrabbed state = hover and focus = solid pink highlight
Grabbed state = clicked and pressed or grabbed with keyboard = dotted pink highlight

Is that possible? It would be more aligned with our idea of a grabbed (pressed) state of the balloon.

I realize it may not be possible in quick order...not

[2021-07-15 15:06] jessegreenberg commented on #514
It should be possible, but this is also blocked by the issue mentioned in https://github.com/phetsims/friction/issues/200.

[2021-07-15 15:37] terracoda commented on #514
I can temporarily live with the solid interactive highlight for the balloons if phetsims/friction200 cannot be addressed before BASE is ready to be published with its preferences.

If that happens we can create a new issue or mark this one for a maintenance release with Friction's issue.

This will be an issue for Faraday's Law and possibly for RaP as well.

[2021-07-16 14:02] terracoda commented on #511
I've updated the link and description to an even later version with Preferences Menu. Closing
https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.5.0-dev.33/phet/balloons-and-static-electricity_en_phet.html

[2021-07-16 14:02] #511 closed

[2021-07-16 15:14] terracoda commented on #501
I am just going to add, that Balloons and Static Electricity will not be published with iOS mobile accessibility because of some remaining issues for that platform #508 and possibly others. BASE is available as a prototype version with iOS VoiceOver accessibility.

[2021-07-16 18:00] terracoda commented on #514
@jessegreenberg, I confirmed with Emily that leaving the interactive highlight as-is as a solid pink line is not a blocking issue for BASE.

The interactive highlights have been verified, so should I close this issue?
And then create a new issue for a maintenance release, if needed?

[2021-07-20 16:54] jessegreenberg commented on #514
@terracoda that sounds good, lets make a new issue to improve the highlights but close this one. Thanks for the update and for reviewing.

[2021-07-20 16:54] #514 closed

[2021-07-20 16:58] jessegreenberg opened #516 "Improve Interactive Highlights in BASE"
Interactive highlights were enabled in BASE in #514. They work pretty well but @terracoda requested an improvement to make the highlight look dashed when the balloons are grabbed, like they behave with keyboard interaction.

This won't be possible until we implement the general support for having a custom Interactive Highlight, which was also requested in https://github.com/phetsims/friction/issue

[2021-07-20 22:30] jessegreenberg commented on #508
This is related to the mobile grab-and-drag work, but we decided that this publication of BASE will not support this so I don't think this is blocking publication anymore and this is being deferred.

[2021-07-21 12:34] terracoda commented on #508
Correct, we are deferring the publication of BASE with VoiceOver accessibility on iOS devices (i.e., mobile accessibility). In the interim, BASE is listed with mobile accessibility in the prototype section on the Accessible Simulations page.

[2021-07-23 14:18] zepumph commented on #491
RE: https://github.com/phetsims/scenery-phet/blob/8362415b66d201ba9041c81ba345dd090c25e494/js/accessibility/GrabDragInteraction.js#L285-L297

Shouldn't we make the Utterance a variable that isn't re-created each time release is called?

[2021-07-23 14:24] zepumph commented on #491
Does this seem reasonable to you? I also added the string as a voicing response.

[2021-07-23 20:40] jessegreenberg opened #517 "Getting some extra alerts after ResetAllButton is pressed"
AFter pressing ResetAllButton some extra alerts are coming through that souldn't.

[2021-07-23 20:52] jessegreenberg commented on #517
Introduced in #455.

[2021-07-23 21:23] jessegreenberg commented on #517
Fixed in the above commit.

[2021-07-23 21:23] #517 closed

[2021-07-23 21:28] jessegreenberg commented on #506
This was also caused by https://github.com/phetsims/balloons-and-static-electricity/issues/455

[2021-07-23 21:32] jessegreenberg commented on #506
The problem is the order we are sending alerts to the queue.

![image](https://user-images.githubusercontent.com/6396244/126843671-6680e5f1-8098-4d9f-9d33-fb3b7a248410.png)

The direction utterance needs to happen before the released alert, but because of polling it is happening last.

[2021-07-23 21:56] jessegreenberg commented on #491
Yes, that is better thanks @zepumph.

[2021-07-23 21:59] jessegreenberg commented on #506
The ordering problem is also because we are using GrabDragInteraction. The GrabDragInteraction sends the 'released' alert as soon as it happens but the BalloonDescriber sends the "No change..." and "Right."  alerts as they should be ordered.

We probably need to remove the alert in GrabDragInteraction by making it optional so we can alert it exactly when we want in BASE.

[2021-07-23 22:34] jessegreenberg commented on #506
This was fixed in the above commit. The `directionUtterance` had an `alertStableDelay` such that it made the alert come after the "released" utterance of the GrabDragInteraction. The alerts are added to the back of the queue in the right order so removing the `alertStableDelay` for the `directionUtterance` fixed the problem.

I feel confident that this is a safe change because the alert of directi

[2021-07-23 22:34] #506 closed

[2021-07-23 22:40] jessegreenberg commented on #487
The problem is that when we re-generate the description after reset, the balloon has zero charges when the wall still has charge

![image](https://user-images.githubusercontent.com/6396244/126847909-d5ef11dc-628c-4a94-9bdb-4d7d6db17182.png)

This may be fine on its own, but I suspect that it is never corrected because the description doesn't correct itself after the sweater charges are reset.

[2021-07-23 22:46] jessegreenberg commented on #487
This should be fixed in the above commit. Closing, but feel free to reopen if you would like to review @terracoda.

[2021-07-23 22:46] #487 closed

[2021-07-23 22:48] jessegreenberg commented on #452
This work has been deferred again, and mobile accessibility will not be supported in the upcoming publication of BASE.

[2021-07-26 18:02] jessegreenberg commented on #490
Can easily reproduce.  I don't think this is a sim bug but the way the description for induced charge has been working for a while. The fix will be to modify the ranges.

Here is the map that gets the strings:
[code]

The displacement value in @terracoda's screenshot is around 14, producing the "a lot" string.

[2021-07-26 18:06] jessegreenberg commented on #490
I just updated to this range:

[code]

and it broke many unit tests, they will have to be updated with the new expectations.

[2021-07-26 18:13] jessegreenberg commented on #490
Done in the above commit. @terracoda could you please review and verify it is behaving better now?

[2021-07-26 18:24] jessegreenberg commented on #457
This is related to mobile grab/drag interaction and is deferred for now.

[2021-07-26 18:25] jessegreenberg commented on #458
This is related to mobile grab and drag which has been deferred for now.

[2021-07-26 18:27] jessegreenberg commented on #460
I don't think this is an issue anymore, if this is how GrabDragInteraction works in general (and I verified that to be the case in a few other sims) it is how it should work for BASE too. Closing.

[2021-07-26 18:27] #460 closed

[2021-07-26 22:36] jbphet commented on #459
I'm going to mark this as blocking publication, since we're getting close to re-publishing off of master.  If this problem is still happening we should resolve it and, if not, we should close the issue.

I just checked CT and there is no sign of this occurring recently, and the history goes back to 10:56 pm yesterday, 7/25/2021.  I also ran multitouch fuzz for a bit and saw no problems.  Hopefully

[2021-07-26 22:37] jbphet commented on #497
@arouinfar is currently the responsible designer for this sim, assigning to her.

[2021-07-27 13:17] terracoda commented on #490
Ok, I think this scale being for the charge displacement/movement in the wall is now correct, so closing this issue.

Unfortunately, I found three of other issues for which I will open new issues:
1. sometimes I hear "article web application" when putting my focus on a balloon
2. when balloons are both released at next to each other at wall, I get a single description of the balloon, rather than a

[2021-07-27 13:24] #491 closed

[2021-07-27 13:25] #490 closed

[2021-07-27 13:29] terracoda opened #518 "(Interactive Description) Black reading block highlights appear in Preferences menu"
While reviewing #490 and #491, I noticed that the black focus highlights for reading blocks were showing up in the Preferences Menu when using keyboard navigation with or without Interactive Highlights turned on. This is only with the keyboard. They black highlights do not appear at all with mouse with or without Interactive Highlights, which seems correct.

[2021-07-27 13:57] jessegreenberg commented on #518
Thanks @terracoda I will check it out.

[2021-07-27 14:03] terracoda opened #519 "(Interactive Description) Grab Yellow balloon button not communicating name and role"
When reviewing #490 and #491, I noticed that sometimes I hear "article web application" when putting my focus on the grab yellow balloon and grab green balloon buttons.

This seems to happen after a balloon has been grabbed and then released. Pressing the rest balloon button or reset all does not reset the button back to "Grab {{Yellow/Green}} Balloon". Reloading the page put the proper label back

[2021-07-27 14:21] jessegreenberg commented on #518
This is not an issue in the JT RC, so something must have changed recently to cause this.

[2021-07-27 14:26] jessegreenberg commented on #518
It isn't just the JT RC SHAs, this isn't happening at all in JT. So some configuration there must be preventing it from happening.

[2021-07-27 14:33] jessegreenberg commented on #518
Caused by scenery commit a6761061545cc92d27da8c36af7c76615c234523, initial value for speechAllowedAndFullyEnabledProperty was incorrect. @terracoda this has been fixed.

[2021-07-27 14:33] #518 closed

[2021-07-27 14:44] terracoda opened #520 "(Interactive Description) Combined balloon description at wall"
While reviewing #490, I noticed that when 2 balloons are in play and against the wall, I get very good combined balloon and induced charge effect descriptions as long as one balloon is grabbed.

But as soon as I both balloons are released, I no longer get the combined "balloons" describe with the combined induced charge effect. I just get a single balloon description with the combined induced char

[2021-07-27 14:47] jessegreenberg commented on #519
Here is the HTML for the balloon on load:
![image](https://user-images.githubusercontent.com/6396244/127174273-0b8d3f50-4baa-4f44-b86c-c1fc7066f8a1.png)

here is the HTML when it is grabbed:

![image](https://user-images.githubusercontent.com/6396244/127174067-90d62535-2aff-498a-8e34-72a956111140.png)

And when it is released:
![image](https://user-images.githubusercontent.com/6396244/127174161-80

[2021-07-27 15:56] jessegreenberg commented on #519
I am able to produce on VoiceOver easily. I also notice in addition to the loss of name and role that the black VoiceOver highlight changes for the balloon to a small black rectangle in its center. Not sure if that is related, but it is strange.

Copying more of the Balloon HTML to see if something about ancestor HTML is changing and causing this:
On load:
![image](https://user-images.githubuserco

[2021-07-27 16:07] jessegreenberg commented on #519
Here are the entries in teh accessibility Tree for the button after it has been grabbed:
![image](https://user-images.githubusercontent.com/6396244/127187917-3666db41-c994-409a-972f-016c505bb795.png)

Looks correct.

This is not an issue for the published version, here is the output there:
![image](https://user-images.githubusercontent.com/6396244/127188492-f77e9b95-3ed1-414f-98ee-2418a359a8cb.png

[2021-07-27 16:10] jessegreenberg commented on #519
I am seeing this in other sims too, not specific to BASE.

[2021-07-27 16:13] jessegreenberg commented on #519
In the published version, there were two DOM elements, one for the button and one for the draggable balloon. Focus moved between them when changing state. GrabDRagInteraction uses one element for everything, creating and destroying new ones depending on state. That could explain why this is not an issue in the published version.

[2021-07-27 17:19] jessegreenberg commented on #520
We discussed this today at 7/27/21 -

We identified a bug that was preventing the combinded description from being used. Should be fixed in the above commit. @terracoda would you like to verify?

[2021-07-27 17:33] jessegreenberg commented on #519
@terracoda and I are both using Big Sur 11.4 and seeing this on master. @terracoda said this is not happening in High Sierra 10.13.6.

[2021-07-27 21:26] jbphet commented on #513
The conclusion was to add interactive highlights and include them in the preferences dialog, which makes it seem more sensible.  Question resolved, closing.

[2021-07-27 21:26] #513 closed

[2021-07-27 21:27] jbphet commented on #501
@kathy-phet hasn't had a chance to review this, so we're going to say it's approved as is.  Closing.

[2021-07-27 21:27] #501 closed

[2021-07-27 21:30] jbphet commented on #510
Discussed this in today's sound design meeting, and the document has been reviewed and is good to go.  Closing.

[2021-07-27 21:30] #510 closed

[2021-07-28 22:38] samreid commented on #459
Should this be relabeled as blocks-sim-publication?

[2021-07-29 15:15] jessegreenberg commented on #519
@terracoda had a thought to see if this is happening in Firefox on macOS. That would help us determine if this is a VoiceOver issue or a Firefox issue.

[2021-07-29 17:16] jessegreenberg commented on #519
This is NOT happening in macOS 11.4 Firefox 89.0.2, confirming that this is a Safari bug.

[2021-07-29 19:14] jessegreenberg commented on #519
Discussed with @emily-phet  and @terracoda:

@terracoda suggedsted maybe try an aria-label in addition to the inner content of the button. Or adding aria-labelledby to force the screen reader to say something about the button.

Also, we could try to use the implementation for the grab/drag pattern that was used last time BASE was published, which involved two persistent HTML elements. Before chang

[2021-08-02 13:21] terracoda commented on #520
@jessegreenberg , using PhET Test, I am still seeing some inconsistencies when the balloons are overlapped. Sometimes only the effect of a single balloon is described in the charge movement string.

In the screen shot below, only the green balloon is described as having an effect. This might be because the YB only has 6 charges, and the GB has "many" but I think 6 charges still has a "a little bit

[2021-08-02 13:25] terracoda commented on #520
If this fine-tuning is hard, let's quickly discuss. Maybe it's something we can't always capture?

[2021-08-02 17:30] jbphet commented on #459
Still not seeing this on CT.  I think it can be safely closed.

[2021-08-02 17:38] jessegreenberg commented on #519
This should block publication. But it also involves the grab drag interaction so moving this to scenery-phet.

[2021-08-02 17:50] jessegreenberg commented on #519
I started https://github.com/phetsims/scenery-phet/issues/688.

[2021-08-02 18:01] KatieWoe opened #521 "CT no direction description found for balloon moving direction null"
[code]

[2021-08-02 18:08] jessegreenberg commented on #521
Thanks @KatieWoe, will take a look. Adding label because this is blocking and we are hoping to grab RC shas soon.

[2021-08-02 22:47] jbphet commented on #521
@jessegreenberg and I talked and I'm going to take a look at this while he is investigating another blocking issue.

[2021-08-02 22:51] jbphet commented on #521
After some investigation, I have a set of steps through which this can be manually replicated:

1. Load the state wrapper
2. Set the "Set State Rate" to zero
3. In the upstream sim, turn on the green balloon and move it to the sweater
4. Press the "Set State Now" button
5. Preset the reset button in the upstream sim
6. Press the "Set State Now" button
7. Turn the green balloon on again in the upst

[2021-08-02 23:11] jbphet commented on #521
The problem is occurring when the downstream sim is trying to describe the direction of travel of the green balloon, but it only occurs in certain unusual circumstances, such as the sequence I've described above.  It happens when the value of the `directionProperty` in the balloon is `null`, which only occurs after a reset.  The `BalloonDescriber` class barfs when asked to describe a direction val

[2021-08-02 23:14] jbphet commented on #521
@jessegreenberg - I've committed a proposed fix for this issue.  Please review and make sure that it won't cause any negative unanticipated consequences for description.

[2021-08-02 23:28] jbphet commented on #521
@jessegreenberg - One other thought on this.  The solution I committed above handles the specific case of preventing description from occurring when the direction of a balloon is set to `null`, but maybe we should also add code to prevent _any_ description from being invoked during the setting of phet-io state.  I've added code to prevent things during phet-io state setting before, so it is not un

[2021-08-03 17:39] jbphet commented on #459
Re-opening.  This occurred again on CT, late yesterday afternoon.  Here is the trace from CT:

[code]

[2021-08-03 18:06] jbphet commented on #459
I'm going to do some investigation on this since I know @jessegreenberg is working on other publication-blocking issues.

[2021-08-03 19:41] jbphet commented on #459
I was able to duplicate this on my local machine by running fuzz testing, but it had to run for almost 10 minutes before the error was encountered.  The URL I used was:

[code]

The assertion message and stack trace matched the one in the comment above.

In essence, the assertion is the `BalloonChargeDescriber` saying, "Hey, you just told me to describe the changes to the charges in the wall, but

[2021-08-04 09:53] terracoda commented on #497
Just a note, a change like this would impact strings that we have in the description design, like "only positive charges".

I am not saying we shouldn't make the change, just if we do, we need to revisit the Interactive Description design to make sure nothing gets broken :-)

[2021-08-06 16:19] jessegreenberg commented on #519
A fix was committed in https://github.com/phetsims/scenery-phet/issues/688 and it is sounding much better, closing this issue.

[2021-08-06 16:19] #519 closed

[2021-08-06 16:59] jessegreenberg commented on #521
This change looks like a reasonable way to prevent the issue, thanks @jbphet.

This is correct, we should prevent alerts in this case for the reason you described. But I think it would be better to prevent this in common code in AriaHerald or UtteranceQueue rather than put these checks in sim describer code. Ill make an issue in utterance-queue to consider this.

I confirmed this issue is no longe

[2021-08-06 16:59] #521 closed

[2021-08-06 19:43] jessegreenberg commented on #459
Thanks for going into this issue @jbphet, your summary makes a lot of sense. I think either option you proposed could work but I prefer option (1). There is already a function that generates a string like that and I used it in this case. I removed the assertion.

Would you like to review this change? Otherwise I believe this can be closed.

[2021-08-06 21:44] jbphet commented on #459
The change looks good to me, and I did several minutes of fuzz testing without seeing the problem, so I'm going to close.

[2021-08-06 21:44] #459 closed

[2021-08-06 21:52] jessegreenberg commented on #520
I tried to reproduce the inconsistencies you mentioned @terracoda but could not. I tried to recreate the same case where the YB has 6 charges:
![image](https://user-images.githubusercontent.com/6396244/128574550-fc9c4954-7511-4682-b400-df954fd7bda3.png)

For both the movement and release alerts it combined them. Is there anything else I am missing while testing?

[2021-08-09 15:21] terracoda commented on #520
@jessegreenberg, I can't reproduce now either. Let's chalk it up to glitch and move on :-)

[2021-08-09 15:22] #520 closed

[2021-08-09 15:24] jessegreenberg commented on #520
Thanks for checking! Very possible changes since https://github.com/phetsims/balloons-and-static-electricity/issues/520#issuecomment-891022918 have resolved this naturally.

[2021-08-10 01:32] Nancy-Salpepi opened #522 "Balloon blocks reset and add wall buttons even though pointer areas do not indicate interference"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/689

When the balloon overlaps part of the reset or add wall button, it is not possible to press them even though it appears the pointer is in the area for those buttons and not in the area for the balloon. I also noticed that in the published v

[2021-08-10 01:42] Nancy-Salpepi commented on #522
When interactive highlights is turned on, I can now see that it is a rectangular area that is interactive. That is what blocks the ability to interact with the reset/add wall buttons.
<img width="380" alt="Screen Shot 2021-08-09 at 9 37 03 PM" src="https://user-images.githubusercontent.com/87318828/128795452-737c4d1b-ba10-4e10-a39a-78e851b00ca7.png">

[2021-08-10 03:24] Nancy-Salpepi opened #523 "When using keyboard nav rectangular focus box sometimes disappears when moving balloon"
**Test device**
Mac11 (M1 chip)

**Operating System**
11.4

**Browser**
safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/689

Sometimes when switching between using the trackpad and keyboard nav, the dotted/solid rectangular box disappears from around the balloon that I am moving.

**Steps to reproduce**
It doesn't happen every time with these steps, but I can't figure

[2021-08-10 13:58] jessegreenberg commented on #523
Thanks @Nancy-Salpepi, I am responsible for interactive highlights, I'll take a look at this.

[2021-08-10 14:42] Nancy-Salpepi opened #524 "Black rectangular outline of balloon's original position present when using VO + keyboard nav"
**Test device**
Mac 11 (M1 chip)

**Operating System**
11.4

**Browser**
safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/689

When using VO and keyboard nav, a black rectangular outline remains in the place where the balloon originated. VO will indicate that I am moving the balloon etc (see movie), but if I pause, it then says I'm on an empty movable.

**Steps to repro

[2021-08-10 16:29] jessegreenberg commented on #522
In #281 it was important that the Image Node for the BalloonNode not be pickable for the pointer areas to work correctly. But it was made pickable for https://github.com/phetsims/balloons-and-static-electricity/issues/456. Not seeing a reason why yet, just an issue reference.

[2021-08-10 16:30] jessegreenberg commented on #522
I went ahead and made the balloonImageNode not pickable again. That should have no impact on accessibility with iOS VoiceOver (the reason for #456). We are not publishing this sim with iOS VoiceOver support, when we revisit that we can investigate if there is in fact a problem.

The pointer areas should correctly be the elliptical shape in your image @Nancy-Salpepi, can you please verify that is t

[2021-08-10 16:36] jessegreenberg commented on #522
Sorry, not ready yet. I noticed this change made it impossible to pick up the balloon with a keyboard...Checking.

[2021-08-10 16:37] jessegreenberg commented on #522
It is because the GrabDragInteraction uses the balloonImageNode as the targetNode
[code]

But that node is not pickable.

[2021-08-10 16:37] jessegreenberg commented on #522
The dragHandler is added to `this` (the BalloonNode), lets try to add the GrabDragInteraction to `this` as well.

[2021-08-10 17:15] jessegreenberg commented on #524
OK I understand this issue now. Thanks for reporting @Nancy-Salpepi. The black highlight that we see here is the highlight from VoiceOver itself, and it looks like it doesn't animate with moving components. In the following screenshot I am showing the actual HTML element representing the balloon in the PDOM and you can see that it is moving with the balloon but the VO highlight does not move.

![i

[2021-08-10 17:36] jessegreenberg commented on #523
Thanks @Nancy-Salpepi - I don't think this is a bug but a result of two factors of the Interactive Highlight design.
1) Only one highlight is shown at a time.
2) The "Interactive highlight" looks the same as the focus highight.

What is happening in the video capture is that the mouse is over one balloon to activate the Interactive Highlight. Then tab puts focus on the balloon and removes the inte

[2021-08-10 18:27] jessegreenberg commented on #524
The other part of this is the hint that VO does when the balloon is in its "draggable" state,

"Movable" is coming from the aria-roledescription, but no idea why it calls it "empty". @terracoda please let me know if this is worth taking time to investigate.

[2021-08-10 18:47] terracoda commented on #524
The un-moving VO black highlight is a known issue. This VO highlight is an option that can be turned off. We could recommend turning it off when using our sims since having it on is a bit distracting AND we have taken the care to design our own focus highlights which are pretty bright and bold.

Re: "empty"
I am noticing this "empty" business with Big Sur. Voice Over never said this before.

It so

[2021-08-10 18:48] terracoda commented on #524
Won't fix VO's balck highlight.

[2021-08-10 18:50] terracoda commented on #524
@jessegreenberg, I'll open a new issue about the "empty" business. Could you link that to the other related issue on this?

[2021-08-10 18:56] terracoda opened #525 "Not hearing accessible name "Yellow Balloon" in grabbed state in safari"
In https://github.com/phetsims/balloons-and-static-electricity/issues/524#issuecomment-896217219

it was noted that Voice over says "You are on an empty movable" when the Yellow Balloon is grabbed.

@jessegreenberg, can we check to see if this related to the issue that is investigating why VO is not finding the accessible name on the grab button?

If it is related, maybe we can force the accessibl

[2021-08-10 19:03] terracoda commented on #523
Currently, the interactive highlight does not recognize teh two modes grabbed (dashed outline) and not grabbed (solid outline).

Hopefully, once the interactive highlight behaviour recognizes these 2 modes this issue will be resolved.

We will work on improving the interactive highlight in our work on Friction. We can do a maintenance release for BASE when we publish Friction with Voicing and Inte

[2021-08-10 19:04] terracoda commented on #523
@jessegreenberg can you put the correct labels to make it clear this issue will addressed later?

[2021-08-10 19:26] jessegreenberg commented on #523
If I understand correctly this will still happen after we work on #516, just making sure that is correct @terracoda. But happy to close.

[2021-08-10 19:27] jessegreenberg commented on #524
Sounds good, thanks @terracoda, closing this issue. See you in #525!

[2021-08-10 19:27] #524 closed

[2021-08-10 19:37] jessegreenberg commented on #525
Correct @terracoda, this seems very related to https://github.com/phetsims/balloons-and-static-electricity/issues/519, and after that issue we confirmed that when VoiceOver lands on the "Grab"button it says

And when it lands on the "draggable" it says

The output

only happens when "Speak instructions for using the item in the VoiceOver cursor" option is enabled.

[2021-08-10 19:39] jessegreenberg commented on #525
Here is the HTML for the "grabbed" object
![image](https://user-images.githubusercontent.com/6396244/128924052-95892c60-e902-44d2-a452-cb88fd7c8ba9.png)

It has an aria-label (which helped force the name in #519). It also has inner content. Maybe it is "empty" because there is no HTML under the element with the application role?

[2021-08-10 19:48] jessegreenberg commented on #525
I tried moving the `role="application"` to the parent div so that it doesn't say "empty", thinking that perhaps having role="application" on an element with no HTML children would be "empty" to VoiceOver. But it did not fix it.

[2021-08-10 20:22] jessegreenberg commented on #525
I was sort of correct. If I change the markup to this, "empty" goes away and it just says "movable".

[code]

Here is the patch for GrabDragInteraction

<details>

[code]

</details>

This is not a VoiceOver bug, the element with role=application is in fact "empty" of children. Just silly VO decided to tell the user that in my opinion.

Next questions:
- @terracoda is this an OK change to make, or

[2021-08-10 20:37] jessegreenberg commented on #525
I just tried putting the role and role-description on a parent of the focusable but it said "You are on an empty group" instead.
![image](https://user-images.githubusercontent.com/6396244/128931513-0e51adc7-d406-4c75-95da-a6d1e9193155.png)

[2021-08-10 23:49] terracoda commented on #525
This is interesting to say the least. It must have something to do with flow content and screen readers. Paragraph elements are expected to have content, whereas div-elements may or may not.

[2021-08-11 13:49] terracoda commented on #523
Thanks for the clarification @jessegreenberg, I misunderstood what was happening.

If the green balloon is grabbed and has focus, why does the grabbed-dashed-focus highlight disappear when hovering over the yellow balloon with the mouse?

Is it that with our current system of focus and interactive highlights, only one object can be highlighted at once?

[2021-08-11 14:38] terracoda commented on #523
Actually, there is a problem and some very inconsistent behaviour.

When I grab a balloon and move it with the keyboard over an uncharged second balloon, or other interactive objects (buttons, etc), my grabbed-dashed-focus-highlight sometimes goes solid, or sometimes transfers to another interactive object (even though focus has not moved), and when that happens the dashed highlight on the grabbed

[2021-08-11 14:46] terracoda commented on #523
@jessegreenberg, I also noticed once (having a hard time reproducing) that I got a hover style on the reset button when I moved a balloon over it with the keyboard.

I am wondering if there is some confusion going on in the sim when interactive highlights are enabled and there is a bit of mixed input use.

**Questions and thoughts on expected behaviour**
1. Mouse clicks move active focus, right?
2

[2021-08-11 14:52] terracoda commented on #523
And my first questions in https://github.com/phetsims/balloons-and-static-electricity/issues/523#issuecomment-896844034 are relevant, too, so I will add them to list in the previous comment.

[2021-08-11 15:04] terracoda commented on #525
Nope, I think this has to do with the difference between flow content and phrasing content
http://www.html-5.com/definitions/flow-content.html

[2021-08-11 15:36] jessegreenberg commented on #525
In https://github.com/phetsims/balloons-and-static-electricity/issues/525#issuecomment-896922768 Code A sample is what we have now and code B sample is what makes "empty" go away. For the HTML I was asking if there is different HTML structure you want to try that might be better?

With sample B VoiceOver says

[2021-08-11 16:14] terracoda commented on #525
Ok, thanks @jessegreenberg.
Nesting a p-element inside the div-element with application role is likely better code than not using a p-tag and worth investigating, but maybe this can wait because it causes other issues with highlights.

This is a Voice Over hint, not our design. The improvement from "empty movable" to "movable" alone, is definitely better, but not worth the impact risk.

I am going

[2021-08-11 16:19] Nancy-Salpepi commented on #522
Works perfectly @jessegreenberg !!

[2021-08-11 16:22] terracoda commented on #525
This issue is not related to #519. I think it has to do with some subtle differences between elements meant flow content and elements meant for phrasing content. Both P-elements and Div-elements are meant for flow content, but of the two, I think only P-elements are meant for phrasing content.

[2021-08-11 16:34] Nancy-Salpepi commented on #523
Thanks @terracoda you worded that much better than I did. I noticed that same inconsistent behavior you commented on above.

[2021-08-11 16:43] jessegreenberg commented on #525
Discussed with @terracoda - we agreed with the above comments and we will not work on this now. When we work on friction which also has the grab drag interaction we can revisit this. This sim will likely get released again after interactive highlights are improved and we can republish BASE after that is done.

[2021-08-11 18:00] jessegreenberg commented on #523
@terracoda and I met today to discuss the behavior. What was happening for all cases is that when an interactive component moves under the mouse, regardless of what the state of the current highlight is a new highlight for the interactive component is made active and clears the previous one. This causes some confusing cases, particularly when the focus highlight indicates state like the ones in BA

[2021-08-11 18:01] jessegreenberg commented on #522
Excellent, thanks @Nancy-Salpepi! Closing.

[2021-08-11 18:01] #522 closed

[2021-08-11 18:01] jessegreenberg commented on #525
Removing my assignment until we revisit this in the next use case.

[2021-08-12 00:59] Nancy-Salpepi commented on #523
Looks good! Dashed highlight remains on the balloon I am moving. It didn't switch to the other balloon nor did it oscillate between dotted and solid.

[2021-08-12 15:40] jessegreenberg commented on #523
OK great, thanks! Closing.

[2021-08-12 15:54] jessegreenberg commented on #461
Coming back to this because I had to review listener code for https://github.com/phetsims/balloons-and-static-electricity/issues/522.  The GrabDragHandler modifies a child of the BalloonNode rather than BalloonNode directly because the BalloonNode itself has content for the PDOM that should contain the PDOM content related to the GrabDragInteraction. It accomplishes HTML that looks like

[code]

[2021-08-12 15:54] #461 closed

[2021-08-16 12:56] Nancy-Salpepi commented on #523
@jessegreenberg I noticed today that when moving the balloon using keyboard nav, the focus box will change from dotted line to solid line when it passes over area where mouse focus is (even though mouse pointer is not visible). Like before, this is when interactive highlights is on.

[2021-08-16 13:24] Nancy-Salpepi commented on #523
I can also see then even when I am not currently interacting with an object, when it moves over the mouse focus, the solid rectangle appears.

https://drive.google.com/file/d/1JM9z-rTbC76Z2MZxihJPduplBgUwiC3l/view?usp=sharing

[2021-08-16 14:36] Nancy-Salpepi opened #526 "When balloon is moved very slowly over sweater, negative charges are not picked up"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
Seen on both safari and chrome.
Can also be reproduced using iPad + safari.

**Problem description**
https://github.com/phetsims/qa/issues/689

When the balloon is moved slowly over the sweater, negative charges are not picked up.

**Steps to reproduce**
1. Either "show all charges" or "show charge differences" radio but

[2021-08-16 15:25] Nancy-Salpepi opened #527 "Crackling sound heard when balloon moves on iPad"
**Test device**
iPad

**Operating System**
14.7.1

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/689

When the balloon is attracted to the sweater and moves towards it, a crackling sound is heard. It doesn't matter if the balloon is moving fast or slow.
Issue is not seen with Mac11 + safari/chrome.

**Steps to reproduce**
1. Remove wall
2. Move balloon over swea

[2021-08-16 16:04] Nancy-Salpepi opened #528 "Descriptions take a long time when using VO"
https://github.com/phetsims/qa/issues/689

I noticed that when I move the balloons and which between them very quickly, it takes a while for VO to catch up with the descriptions. When I pause, it can take several seconds for VO to stop going through all of the events that took place. Once you watch the video, you will see what I am referring to.
This is much different from when I was testing with

[2021-08-16 16:30] Nancy-Salpepi commented on #527
After the crackling noise occurred consistently for over 1 hr of testing, it has now stopped. I am not sure what, if anything, I am doing differently.

[2021-08-16 19:40] DevonQui opened #529 "Balloon pointer area can block reset-all button"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.5

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/qa/issues/689

If you move either of the balloons to the rightmost bottom corner, you'll notice that the balloon only partially covers the orange reset all button so it should still be clickable. However, if you try to click it it's blocked by the ball

[2021-08-16 20:18] DevonQui opened #530 "Noise Bug when Toggling Between One and Two Balloons"
**Test device**
MacBook Pro

**Operating System**
Big Sur 11.5

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/qa/issues/689

I noticed that if you toggle the sim from two balloons to one balloon while the green (second) balloon is still moving, the sim will continue to make noise as if the green balloon is still moving.

**Steps to reproduce**
1. open the sim

[2021-08-17 16:36] terracoda commented on #528
The description responses are more complex and longer with BASE, that is for sure.

Keep in mind that blind learners will likely have their screen readers at a much faster rate than the default rate. This greatly reduces how much the screen reader gets behind.

With 2 balloons, some description pile-ups are expected.

Your example in the video does indeed not sound optimal, but interaction is not

[2021-08-17 17:29] jessegreenberg commented on #529
Thanks @DevonQui - I think this may be the same as https://github.com/phetsims/balloons-and-static-electricity/issues/522, does that seem right to you @DevonQui? Does this seem resolved in master?

[2021-08-17 17:36] DevonQui commented on #529
@jessegreenberg that is the same issue, didn't see that. I will check in master just for double confirmation that the issue has been resolved and close.

[2021-08-17 17:37] jessegreenberg commented on #529
Thanks! The pointer areas don't perfectly align with the balloon shape but they should be relatively elliptical and adhere to the shapes shown by ?showPointerAreas.

[2021-08-17 17:44] DevonQui commented on #529
Okay, everything checked out in master. Closing

[2021-08-17 17:44] #529 closed

[2021-08-17 21:28] jessegreenberg commented on #523
Thanks @Nancy-Salpepi - If I understand correctly this is covered by the fix we made before. Is what you are describing still happening in master?

[2021-08-18 11:23] Nancy-Salpepi commented on #523
My fault. Sorry about that @jessegreenberg

[2021-08-18 11:23] #523 closed

[2021-08-18 17:05] terracoda commented on #523
In https://github.com/phetsims/balloons-and-static-electricity/issues/523#issuecomment-897034345 we have made a fix for this, but we will not apply this fix for this publication. The issue is less dramatic in this sim since there are no dashed grabbed highlight on any interactions interactions.

In addition, the issue is an edge case requiring a user to have actively chosen "Interactive Highlights

[2021-08-18 17:09] terracoda commented on #523
Oops moving comment to john-travotlage issue

[2021-08-19 19:46] brooklynlash commented on #526
I also reproduced this on Chromebook.

[2021-08-20 18:10] KatieWoe opened #531 "Numerous Mobile VO issues"
**Device**
iPad
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/qa/issues/689. Mobile VO is not being supported for this sim. However, before QA was aware of this we did some testing and found different problems. Both @KatieWoe and @Nancy-Salpepi saw slightly different, but related, issues. I saw difficulty in grabbing the balloon, especially more than o

[2021-08-20 19:01] Nancy-Salpepi commented on #531
There were periods of several minutes where everything worked pretty well. Then I would see the same problem as @KatieWoe. Also sometimes instead of making that strange noise, VO would head to the top of the screen and read out the time and move along the top toolbar to the battery. I would then get stuck on the battery without being able to get off.

In this video you can see that I'm able to mov

[2021-08-20 19:15] KatieWoe commented on #479
These sound seem ok in dev.35. On Win 10 Chrome

[2021-08-20 19:47] KatieWoe opened #532 "Jaws can't pick up balloon"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/689. Win 10 Chrome + Jaws. When using the screen reader, I can tab over to the balloon, and it will say press enter to pick it up. However, neither enter nor space will pick up the balloon.

**Visuals**

https://user-images.githubusercontent.com/41024075/130286065-c

[2021-08-20 20:31] jessegreenberg commented on #532
Thanks @KatieWoe - I am pretty sure this is the same problem as https://github.com/phetsims/john-travoltage/issues/442 and I expect it to be fixed in master. Could you please confirm?

If fixed in master would you like a new dev version to finish testing JAWS?

[2021-08-20 20:32] jessegreenberg commented on #531
Thanks @KatieWoe and @Nancy-Salpepi - Indeed, we are not going to publish this sim with mobile a11y at this time. But it is helpful to have these documented to start with for when we do decide to work on it.

[2021-08-20 20:45] KatieWoe commented on #532
Balloon is pick-up-able in master. I'll leave it up to @jbphet if he wants a new dev for it. I'm about to leave so I can't do it until Monday.

[2021-08-23 22:58] jbphet commented on #527
I tried to reproduce this for a while on the iPad test device that I have, which is an unnamed A2270.  I just looked this model number up on the internet, and apparently it's an 8th generation device.

@Nancy-Salpepi - What device were you using for this testing?

[2021-08-23 23:25] jbphet commented on #530
Nice one @DevonQui!  This should definitely be fixed before publication.  I'm on it.

[2021-08-23 23:35] jbphet commented on #530
I've used the balloon model's `isVisibleProperty` as an enable-control property for the sound generator.  Based on my initial testing, this seems to fix the issue.

[2021-08-23 23:38] jbphet commented on #532
Let's verify it in the first RC.  I'll make sure it's on the issues-to-verify list in the RC issue.

[2021-08-23 23:46] jbphet commented on #526
I think this should be fixed, and I suspect that it won't be trivial.  Even though this exists in the published sim (as @Nancy-Salpepi noted above), I think we should fix it, primarily because the behavior occurs if you pick up the balloon using keyboard nav and then move it using the shift+arrow keys.  Not good.

[2021-08-23 23:48] jbphet commented on #497
@arouinfar - This sim is slated for republication from master shortly, and it would be good to get your input on this before that happens.  We should either disposition this issue as "deferred" or "blocks-publication".

[2021-08-24 11:41] Nancy-Salpepi commented on #527
@jbphet I was using an older iPad pro but it has the most up to date iPados on it. It is my personal iPad and have never heard crackling before while watching videos/movies.

[2021-08-24 14:00] jessegreenberg commented on #516
Support for this was added to scenery, this can be done now.

[2021-08-24 14:58] jbphet commented on #497
I asked @arouinfar about this over Slack, and she said:

I'm not entirely sure if that means ever or just for the upcoming release, so I'll mark it as deferred for now and @arouinfar can update when she has the time.

[2021-08-24 15:40] arouinfar commented on #497
This is not a change request that we can accommodate.

“Show all charges” will display all of the charges in the underlying model, not the actual number of charges in the real world. The positive and negative charges are meant to give a relative idea of charge. We are not displaying all of the charges within a real sweater. It is important to help students understand that electrons are transferred

[2021-08-24 15:40] #497 closed

[2021-08-24 16:07] jbphet commented on #527
Can I get the model number (it's usually on the back in very small letters)?

[2021-08-24 16:32] Nancy-Salpepi commented on #527
model # ML3K2LL/A

[2021-08-24 19:23] jbphet commented on #526
I have a fix that seems to work reasonably well for this, which is to reduce the threshold for the minimum speed at which the balloon picks up changes to zero.  This make me a little nervous though, because I'm not sure why a threshold was used in the first place.  I went through the history of the file, and as far as I can tell, the threshold was pretty much always there and was not added to addr

[2021-08-24 19:32] jbphet commented on #526
I've decided to ahead and commit it.  I did a fair bit of local testing and didn't see any regressions, and also fuzz tested for a few minutes.

@Nancy-Salpepi - Can you please test this on master and verify that it's fixed and that you don't notice any odd side effects?  I'd  just like to get another pair of eyes on this before I decide for sure whether this is a reasonable fix.