[2016-12-20 23:03] jessegreenberg commented on #183
In #215 @terracoda said

It seems very likely that this is the issue that is causing this to happen.

[2016-12-20 23:04] jessegreenberg opened #227 "Change descriptions of sweater areas"
In #215 @terracoda said

@terracoda if updated descriptions are necessary can you please provide a list changes?

[2016-12-20 23:09] jessegreenberg opened #228 "Reduce sweater bounds for nearest charge calculations"
When the balloon bounds intersect the bounds of the sweater, the user can get a description that lets them know where the nearest sweater charges are.  However, the bounds can intersect a bit before the balloon can actually pick up charges.  This can cause some confusion because the the alerts let the user know where more charges are before they can be picked up.

From #215

[2016-12-20 23:11] jessegreenberg opened #229 "Prototype sonification is broken"
From #215
With the ?sonification query parameter, the sim stalls if the balloon gets too close to the sweater.  @jessegreenberg should investigate.

[2016-12-20 23:20] jessegreenberg opened #230 "aria-live and continuous motion"
An interaction alert is announced when a user has completed an interaction (usually on keyup).  This is by design, but it is helpful in the implementation because it prevents aria-live alerts from firing too rapidly.  If linked directly to the position property, far too many alerts might be announced.  Also, if an aria-live alert is fired while a key is still down, AT may never announce the uttera

[2016-12-20 23:24] jessegreenberg commented on #215
@terracoda I went through and made individual issues for the topics discussed here.  Can we close this issue?

[2016-12-21 14:19] terracoda commented on #215
Thanks @jessegreenberg! Closing issue.

[2016-12-21 14:19] #215 closed

[2016-12-21 14:34] terracoda commented on #223
@jessegreenberg, would it be helpful to make the alerts visible during interaction and invisible during reading?

For the simple alerts (Two-balloon experiment, Remove/Add wall, Reset balloon(s), Reset All), for example, perhaps it is possible to make them visible upon activation of the button, and then after a short delay, hide them again, so if the user starts navigating with the virtual cursor

[2016-12-21 14:40] terracoda commented on #215
@jessegreenberg regarding discussion about mouse and touch alerts (https://github.com/phetsims/balloons-and-static-electricity/issues/215#issuecomment-268375553), the goal for design might be to create a less verbose mode for keyboard users, as well. This might be helpful for all users needed some, but not all text output.

[2016-12-21 20:02] terracoda commented on #227
Adding dots for shoulders on the Play Area Grid diagram. I am thinking when the balloon is at the top (i.e., can't go any further) in the arm columns, the description should be "On left shoulder" and "On right shoulder", instead of "At top upper left arm" and "At top upper-right arm." When the balloon is not in the top position (i.e., shoulder position), the description can be "On upper-left arm"

[2016-12-21 23:09] terracoda commented on #227
@jessegreenberg, what do you think of a simplification to the grid? If the upper and lower regions are smaller, we can make the general area with no defined "upper" and "lower" adjectives. I think this will improve things and should streamline phrasing as well, but I am still assessing.
![bs-grid-new-adjusted-upper-lower-regions](https://cloud.githubusercontent.com/assets/1902116/21409001/8f13406a

[2016-12-22 20:03] terracoda commented on #227
@jessegreenberg, would you be able to put the updated grid we discussed yesterday (with no changes in descriptions) into the accessibility-test? And also provide a parameter for the simpler grid (again no change in phrase descriptions). This will help me assess if the differences and give you a full list of any required changes in phrasing.

[2016-12-22 20:36] terracoda commented on #206
This issue is on hold as we determine requirements for the Keyboard Hotkeys and Help button. Closing for now.

[2016-12-22 22:06] emily-phet opened #231 "Description differences between "show charge differences" and "show all charges""
@terracoda has created and user tested a set of descriptions for BASE for the "show all charges" view. She is now working on descriptions for the "show no charges" and the "show charge differences" views. Since the original descriptions (designed for the "show all charges" view) emphasized the charge differences, is there any additional information needed to meet the goals of the "show charge diff

[2016-12-22 22:55] kathy-phet commented on #231
I do think you can have different descriptions for this and somewhat different goals. The visual student doesn't have access to the sense of paired charge in this view - just the net charge. So "more positive charges than negative charges" is giving more information than the visual student has access too. It's hard to know how to rework the descriptions though. Perhaps ... "No net charge on balloo

[2016-12-22 23:15] emily-phet commented on #227
@terracoda I like your proposed simpification. I think out of context, the original descriptions sound more complete, but in context (when a user is actively exploring the sweater) the proposed changes will likely make plenty of sense, be more direct, and sound more like natural language.

[2016-12-22 23:47] emily-phet commented on #190
@terracoda No problem, I mostly made the mockup because it was fun for me :)
@jessegreenberg When you get a chance, can you let me know if my suggestion seems straightforward and quick for implementation?

[2016-12-23 02:50] jessegreenberg opened #232 "Remove 'H' key for hotkeys and help"
@terracoda now that the navigation bar has a button for hot keys and help can we remove the 'h' key command from the draggable balloon?

[2016-12-23 03:03] jessegreenberg commented on #219
Done in the above commits.  Example:

![recording 26](https://cloud.githubusercontent.com/assets/6396244/21446293/8d4fd570-c881-11e6-9dbf-2b0dffcf3ae9.gif)

@terracoda I am going to go ahead and close, but we can tweak the speed at any time.

[2016-12-23 03:03] #219 closed

[2016-12-23 03:05] jessegreenberg commented on #205
Thanks @jobara I will give that a try next time I have access to an apple device.

[2016-12-23 03:06] jessegreenberg commented on #213
Sounds good @terracoda thanks.  I will start working on a new component.

[2016-12-23 20:44] terracoda commented on #227
@emily-phet, great. I'm downloading my google sheets so I can work on them while I travel.

[2016-12-23 20:48] terracoda commented on #231
@kathy-phet, thanks for the phrase, "no net charge"! I hadn't thought of that, though I have been using "net negative" and "net positive" elsewhere. I was exploring how I could use "net charge" descriptions in this view and leave them off in the other view. I will think about this while traveling. Thanks!!!!

[2016-12-23 20:52] terracoda commented on #190
@emily-phet, I still think we can make it a bit prettier. @jessegreenberg, would adding css classes be enough that we can target the look of the different descriptions and alerts?

[2016-12-23 21:10] terracoda commented on #232
@jessegreenberg, I think that's a good idea.

I wonder if the Scene Summary should let the users know how to quickly find this button? Let me ponder that a little...perhaps, after, "Grab balloon to play", but not sure we need a cue for this.

[2016-12-23 21:11] terracoda commented on #219
Awesome, @jessegreenberg!

[2016-12-28 16:47] jbphet commented on #204
@samreid mentioned to me that one of the first usages of this sim will be to test accessibility and record the state information.  In order to make sure we can support this, the state wrapper should be tested particularly thoroughly.

[2016-12-28 22:41] jbphet opened #233 "black rectangle in oneBalloonIcon - needed?"
I'm instrumenting this sim for PhET-iO, and just instrumented a black rectangle that lives inside of the one balloon icon.  I don't understand the purpose of this rectangle, and it wasn't at all obvious to me where it is ever made visible.  Assigning to @jessegreenberg to have a look.  Perhaps this can be removed.

To see it, go into `ControlPanel.js` in this repo and search for `var oneBalloonIco

[2016-12-28 23:31] jbphet commented on #204
There is a node called `PlayAreaNode` that I instrumented much of, and when I went to test it I realized it was only visible when the `dev` query parameter was set.  I'm not sure whether this should be instrumented at all.  It's not quite done yet, but I'd like to make sure it's worth the effort to continue on it.

@samreid and @jessegreenberg - any input on this?

[2016-12-28 23:37] samreid commented on #204
It seems it should not be instrumented for phet-io because it is a development tool rather than an end-user feature.

[2016-12-30 03:32] jessegreenberg commented on #213
Mostly done in the above commits.  I need to re-instrument for accessibility and then (probably) move the file to sun.

[2016-12-30 17:20] jbphet opened #234 "charge is not conserved"
In v1.1.5, which is live on the web site as of this writing, the number of free positive and negative charges is off by one after the yellow balloon interacts with the sweater.  The screenshot below shows what happens if the balloon is rubbed on the sleeve of the sweater and then moved to the wall.  There are five unmatched negative charges on the balloon and six unmatched positive charges on the

[2016-12-30 18:35] jbphet commented on #234
The problem was actually that two of the minus charge views had identical positions, and thus overlapped on the balloon, making them look like a single charge.  I've fixed this issue by changing the position of one of the charges as defined in the `POSITIONS` array in the `BalloonModel.js` file.  I tested this by visual inspection, however, I couldn't tell how these positions were arrived at in th

[2016-12-30 22:36] jbphet commented on #204
@jessegreenberg - please review commit https://github.com/phetsims/balloons-and-static-electricity/commit/54ade832f7b4a0431b119d5983cf58112410181c, since I ended up changing slightly when the a11y code is executed and you should make sure that this is okay.

[2016-12-30 23:31] jessegreenberg commented on #234
Based on the current implementation, this change looks acceptable to me @jbphet.  I don't really know how these positions were determined either, I am not aware of any additional documentation for this.  I assume it was visual inspection initially as well.

@ariel-phet assigning to you to decide whether or not to do a maintenance release.  Merging https://github.com/phetsims/balloons-and-static-el

[2016-12-30 23:40] jessegreenberg commented on #233
It looks like it is there so that the two icons have the same dimensions for layout.  But the radio button group, or whatever interface element is being used, should handle that automatically, so it should be removed.

[2016-12-30 23:41] jessegreenberg commented on #233
Removed, closing.

[2016-12-30 23:41] #233 closed

[2016-12-31 00:40] jessegreenberg commented on #232
Alright, the keyboard help content can be accessed from the navigation bar now.  I am going to close this issue, but @terracoda let me know if you think that another cue for this button is necessary.

[2016-12-31 00:40] #232 closed

[2016-12-31 00:46] jessegreenberg commented on #204
@jbphet I will trade you!  Can you please review https://github.com/phetsims/balloons-and-static-electricity/commit/4b1449971da5e597c5543fbf63b9c7fe43ae97e2?  I had to make a big change to KeyboardHelpDialog for #232 and it is no longer a Dialog.  I updated the tandems accordingly, but may not have gotten it correct.

[2016-12-31 00:50] jessegreenberg commented on #204
The change looks good to me @jbphet, the description is still updating at the correct time.

[2016-12-31 00:55] jessegreenberg commented on #229
Fixed in the commit above, the sim is passing a fuzz test when the sonification query param is in use. Closing.

[2016-12-31 00:55] #229 closed

[2017-01-02 21:21] samreid opened #235 "PhET-iO Events stream sends messages when Property.Vector2 sets a value to itself"
Discovered in https://github.com/phetsims/scenery-phet/issues/262 the PhET-iO events stream keeps showing messages.  When a Vector2 with particular values x1, y1 is set to be the same values x1, y1, the Property thinks it is different and sends notifications.

See also #204

[2017-01-02 21:22] samreid commented on #235
In the above commit, I overrode areValuesEqual in 2 spots and this fixed the problem. However, it seems somewhat hack-ish and it may be preferable to have an option or subclass for Property that takes care of this.

[2017-01-03 20:46] jbphet commented on #204
@jessegreenberg - on https://github.com/phetsims/balloons-and-static-electricity/commit/4b1449971da5e597c5543fbf63b9c7fe43ae97e2 - BASEKeyboardHelpContent.js is not currently common code, so the tandem should be required and not part of the options.  This is the convention for instrumented sims.  In this commit, it looks like it is a parameter to the constructor that then goes into the default opt

[2017-01-03 21:04] jessegreenberg commented on #204
Thanks @jbphet, that makes sense.  This is not something that is going to move to common code, so it there is no need to have the tandem in options.  Now that Dialog is no longer used, the tandem is not used anywhere else throughout the file so I removed it entirely.  Perhaps when we work together on instrumenting the types related to accessibility, we can revisit this file.

[2017-01-04 00:51] jessegreenberg commented on #222
I am going to work on this next as fixing this will probably resolve several open issues in this repo relateted to accessibility.

[2017-01-05 17:40] samreid commented on #235
@pixelzoom I'd love to get your recommendation on this.  I would like to have Property instances that use `equals` instead of `===`.  The current way to do this is by subclassing or overriding the `Property.equalsValue` method.  Should we make it a Property option `useEqualsMethod` or `useReferenceEquality` or create a Property subclass like `ValueProperty` that does that?

I guess I'm leaning tow

[2017-01-05 18:10] pixelzoom commented on #235
I would proceed with great caution on this.  There are pitfalls to using deep equality. Let's discuss via voice, but the 2 big ones are:

(1) If the client isn't also using deep equality, then weird/subtle problems may occur. Example:

[code]

The `if` statement on line 4 is unlikely to evaluate to `true`, because the expression should be `( location.equals( homeLocation )`.  And that assumes that

[2017-01-05 18:13] pixelzoom commented on #235
Looking at the examples above, I don't like:

[code]

It's not communicating the functionality of the Property.  This is clearer:

[code]

[2017-01-05 18:33] pixelzoom commented on #235
@samreid said:

This feature has big implications for Property, so I've moved this discussion to https://github.com/phetsims/axon/issues/115.

[2017-01-05 18:42] pixelzoom commented on #235
Questions about the PhET-iO problem that spawned this:

How often was this happening, and why was it happening?
Is there another way that this could be solved, perhaps on the client side?
Would it be acceptable to make the analysis code responsible for ignoring these notifications?

[2017-01-05 19:38] pixelzoom opened #236 "encapsulate a11y strings in 1 .js file"
Decided at 1/5/17 dev meeting...

Move all a11y strings to one .js file, something like BASEA11yString.js.

Also do this for other sims (and common code?) that contain a11y strings.

[2017-01-06 02:01] jessegreenberg commented on #190
@emily-phet, yes the mockup in that pdf looks like it should be pretty quick to implement.

Yes, I would think so!

@emily-phet @terracoda should I proceed with changing it to look like https://github.com/phetsims/balloons-and-static-electricity/issues/190#issuecomment-268304644?

[2017-01-06 22:46] jessegreenberg commented on #236
a11y strings isolated in a single file (BASEA11yStrings.js) in the above commit.  https://github.com/phetsims/john-travoltage/issues/133 is the only other sim where this is necessary, and we haven't hard coded any strings in common code. Closing.

[2017-01-06 22:46] #236 closed

[2017-01-08 10:30] terracoda commented on #190
@jessegreenberg and @emily-phet, This mock-up should work. The formatting does not rely on color alone to show the differences. This is important. However, with careful use of typography, borders and backgrounds we should be able to make it look more appealing. I can send an adjusted mock-up in 1 or 2 days.

[2017-01-09 19:10] jbphet opened #237 "refactor to separate model and view for charges"
While working on #204, I noticed some architectural issues in the original code.  During the most recent developer meeting, we discussed whether to address these and decided that we should.  This is one of those issues.

Some of the view components are currently stored in the model, which is a clear violation of the model-view-controller architecture that PhET generally tries to use for all simula

[2017-01-09 19:10] jbphet commented on #237
Assigning to @jessegreenberg, as discussed in the 1/5/2016 developer meeting.

[2017-01-11 01:02] jessegreenberg commented on #237
Luckily the model and view weren't too entangled, in all cases the view was added to the model so that there was a reference to the view component for visibility in the same file.

@jbphet would you like to review changes?

[2017-01-11 17:26] emily-phet commented on #204
@jbphet - can you send me a link to the instrumented sim, to pass along to collaborators, once you're done?

[2017-01-12 01:15] pixelzoom commented on #235
Unassigning myself. @samreid let me know if/when you want to discuss.

[2017-01-16 18:57] terracoda commented on #227
In preparation to simplify the grid descriptions (including sweater locations) I have copied the old grid descriptions into a new google sheet called [Grid Descriptions Simplified and Revised](https://docs.google.com/spreadsheets/d/1fZq21j65jfJhcsA22pasuBA00kM-cGWxsWDsogwhC64/edit#gid=0)

I haven't changed any descriptions yet, just added the new grid diagram.

[2017-01-17 22:54] jbphet opened #238 "aria live region updated to blank line when balloon pushes against wall"
If the balloon is moved using accessibility features, when it pushes against the wall it is set to be a blank value.  It should probably say something like "balloon prevented from moving by wall".

To duplicate, go to http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.6-dev.2/balloons-and-static-electricity_en.html?showLiveOutput (note the query parameter that enable

[2017-01-17 23:53] ariel-phet commented on #234
@jessegreenberg yes, this seems worthy of a maintenance release.

I would also request one other minor tweak. BASE has very large radio buttons. The current version on master has smaller radio buttons buttons, but also smaller text labels. I would prefer smaller radio buttons in the maintenance release (I believe this is the last remaining sim with oversize radio buttons, and I am a big fan of con

[2017-01-18 22:30] jessegreenberg commented on #234
@phet-steele pointed out that QA credits are missing.  @phet-steele could you please paste in this issue what the QA credits should be for this sim?

[2017-01-18 22:40] jessegreenberg commented on #234
In https://github.com/phetsims/balloons-and-static-electricity/issues/212 we made the radio buttons smaller, but not the text size, I'm not sure why those are smaller now in master.  I will take a look.  It should be straight forward to include the smaller radio buttons (with the correct text size) in this maintenance release.

[2017-01-18 22:45] phet-steele commented on #234
Steele Dalton, Bryce Griebenow, Elise Morgan, Oliver Orejola, Benjamin Roberts, Bryan Yoelin

[2017-01-18 23:26] jessegreenberg commented on #234
When I cherry-pick https://github.com/phetsims/balloons-and-static-electricity/commit/b09ef3e1c9d662ea1a04ef01981d5c50ad4db0cb, charge is still not conserved.  I think something else is making the balloon charge off by one.

[2017-01-18 23:29] jessegreenberg commented on #234
It is correct in master.

[2017-01-18 23:33] jessegreenberg commented on #234
In 1.1, BalloonNode has

[code]

In Master, BalloonNode has
[code]

Which must be causing the discrepancy.

[2017-01-19 00:03] jessegreenberg commented on #234
When we make the change, there are still enough point charges available (array index stays withing bounds) because there are a few too many entries in BalloonModel.positions.

This is still a minor change and it seems safe to publish a maintenance release.

[2017-01-19 01:04] jessegreenberg commented on #234
I published the maintenance version, with changes to fix:
 - QA credits
 - Conservation of charge
 - Radio button size

Closing.

[2017-01-19 01:04] #234 closed

[2017-01-20 15:48] emily-phet commented on #204
@jbphet Can you estimate when this will be ready to share with collaborators?

[2017-01-23 17:05] jbphet commented on #204
There is one more minor a11y feature to instrument, then I'd like to do some testing using all the different wrappers.  Assuming that all works out reasonably well, we can have a version ready to share with collaborators tomorrow, Jan 24 2017.

I am still a little foggy on exactly what the collaborators plan to do with this, so I'd like to create a dev version and have someone test it before produ

[2017-01-23 18:40] emily-phet commented on #204
@jbphet That's great! I met with ETS last week, and they're aware of the limitations intrinsic to tracking certain interactions specific to assistive devices. A basic implementation of PhET-iO is fine for their purposes. The only added feature that they hoped for was the ability to track focus changes. I believe you and @jessegreenberg were looking into this. If that's available, wonderful, but if

[2017-01-23 21:52] samreid commented on #204
@phet-steele has designed a test procedure for testing PhET-iO simulations and their instrumentation, and has applied it for several simulations.

[2017-01-24 16:25] jbphet commented on #204
I'll try to get an RC together today (this assumes I don't run into any major issues) and set up a test task.  @emily-phet - when are you hoping to be able to share this with collaborators?  The QA team will likely need to know in order to prioritize their testing.

[2017-01-24 22:59] jbphet opened #239 "BalloonModel adds static function outside of the inherit function"
There are several functions in the BalloonModel that are essentially static functions but are not added using the fourth parameter of the `inherit` call.  It's not apparent why this is done like this - perhaps the code was done before `inherit` supported statics?  At any rate, I'd be willing to clean this up but would like someone to take a look first and make sure I'm not misunderstanding this.

[2017-01-24 23:14] jbphet commented on #239
Also, I'm not sure why these methods are static and not just methods on the `BalloonModel` instance.  Most if not all of them require an instance of the balloon model.

[2017-01-24 23:58] emily-phet commented on #204
@jbphet Well, we were originally shooting for a mid-January delivery, so now I think we're at "as soon as possible". If it will not be ready before the end of this week, please let me know so I can give our collaborators a heads up.

[2017-01-25 20:27] phet-steele opened #240 "Balloon movement towards the sweater is handled inconsistently"
Bug found by and report made at the request of @jbphet.

If the balloon is charged, it will gain velocity towards the sweater. Turns out, the velocity gain is dependent upon the rightmost edge of the balloon and sweater (drawn with red lines). If the balloon's rightmost edge is to the right of the sweater's rightmost edge, the balloon will move towards the sweater:
<img width="1470" alt="screen sh

[2017-01-26 04:28] jbphet commented on #204
An RC version has been published for this initial milestone, and the associated test task can be found here: https://github.com/phetsims/tasks/issues/770.

[2017-01-26 16:59] ariel-phet commented on #240
I believe I discussed this @jbphet yesterday, and gave the go ahead. Assigning to @jbphet to close or put more detail.

[2017-01-26 17:04] jessegreenberg commented on #127
It sounds like a maintenance release of Balloons and Static Electricity is coming soon.  @arouinfar do you know if the string should be removed for the maintenance release?

[2017-01-26 17:08] arouinfar commented on #127
@jessegreenberg, I think a string from the ceiling is a better option than removing the string, but I'll re-review the interview footage and make a suggestion by the end of the week.

[2017-01-26 17:12] jessegreenberg commented on #127
Thanks!  Also pinging @jbphet in case he does the maintenance release, since this will need to be sorted first.

[2017-01-26 23:25] jbphet opened #241 "motion calculations oscillating when balloon is at a boundary or inside the sweater"
(note: this has already been fixed, but the issue is being logged for tracking and planning purposes)

The model code that moves the balloons due to applied forces has a bug where each balloon's velocity is continuously set and cleared when the balloon is inside the sweater or at one of the boundaries of its roaming area.  This wasn't causing noticeable problems until the sim was instrumented (see

[2017-01-26 23:27] jbphet commented on #241
This was fixed in 9ca73802d5b489963a0ef39e3841aa722b92afb5, 33d6d4798b788807f1fcaeaca919cfa31c63e6d7, and 8dcdf40bb22fe5b741c3924b001d9a641176965e.

[2017-01-26 23:37] jbphet commented on #241
The code modifications necessary to resolve this issue have resulted in some changes to the way that the balloons move.  For example, if the user sets up the situation shown in the screen shot below and releases the green balloon, it will now move much more quickly across the top of the screen to the sweater, and will end up higher on the sweater.  This is because previously, the velocity kept get

[2017-01-26 23:37] jbphet commented on #241
Assigning to @ariel-phet to verify that the new behavior is acceptable (or delegate to someone else) and to decide if we should do a new release with this fix.

[2017-01-28 04:47] terracoda commented on #127
I am also curious about students respond to no string at all.

[2017-01-31 01:27] arouinfar commented on #127
We interviewed six students. The first four students saw two version of the sim -- the string attached to the top vs. bottom of the string. The last two saw all three versions of the sim -- including the no string option.

The no-string option didn't feel very natural at all to the two students who tried it. I do not think we should publish a version without the string to the main website. I'm not

[2017-01-31 02:17] terracoda commented on #127
@arouinfar, if we go with strings from the top, I suggest a visual barrier that looks like a bar that the strings are tied to. The reason being is that I think we need to make it look much different from a ceiling. If it looks like a ceiling, the ceiling should behave somewhat similar to a wall, right?

[2017-01-31 17:32] ariel-phet commented on #231
As I play around, one piece of information that seems to be missing to me is the movement of wall charges as I move a charge balloon close to the wall. The polarization of the wall is a gradual process, and I think the visual demonstrates that well, however, the description only changes the state of the wall once I have actually touch the wall. And then there is a description when I move away "Neg

[2017-01-31 17:41] ariel-phet commented on #241
@jbphet showed me this behavior in person and it looked fine (certainly more appropriate than the very slow movement) No need for a new release, since this sim will eventually get republished with keyboard navigation and such.

[2017-01-31 17:43] jbphet commented on #127
@arouinfar said:

I need someone to make a call on this pretty much immediately for the phet-io version that is currently in test.  It has no strings for the balloons, and I need to know if this is acceptable or needs to be changed prior to release.  I'm not sure whose call this is to make, so I'll assign to @ariel-phet for now.

In my opinion, attaching the balloon to the ceiling doesn't solve th

[2017-01-31 17:54] ariel-phet commented on #127
@jbphet perhaps there is another alternative....

Attach balloons to a string from the bottom, but have a somewhat "loose string" the same way we do for cables on meter bodies like in concentration. I think the main visual that gives the impression of a helium balloon is the string is very "taut" in this visual, which makes you feel like there is a strong upward force. I think a somewhat loose str

[2017-01-31 17:58] jbphet commented on #127
Let's see how much time I have left today after addressing the issues on the current phet-io RC and, if I can get to it, I'll give it a try.  Otherwise we have to decide to wait a week to provide @emily-phet with this release, put the strings back, or leave them out.

[2017-01-31 18:03] arouinfar commented on #127
@jbphet @ariel-phet A student's expectation that the balloon is helium-filled is completely reasonable, given their everyday interactions. However, I think teachers need to be aware of these ideas to productively facilitate the use of the sim. If teachers also believe the balloon is helium-filled and buoyant, then there's a problem.

@oliver-phet can you do a quick search of phethelp email and see

[2017-01-31 18:05] ariel-phet commented on #127
@jbphet @arouinfar agreed that at worst, keeping the strings attached to the bottom has generally worked for a long time, and the concerns it raises are addressed in the teacher-tips. I would be curious to see the loose string suggestion implemented sometime, but certainly the easiest would be to leave the strings on the bottom and taut as in the published version.

[2017-01-31 18:24] arouinfar opened #242 "Add "Insights into Student Use" section to the Teacher Tips"
Add "Insights into Student Use" section to the Teacher Tips based on the discussion in #127.

[2017-01-31 18:25] terracoda commented on #231
@ariel-phet, thanks for the feedback. Long range forces are very difficult to describe in words. Sound is a much better option than words for describing the induced charge effect.
I agree that the induced charge description is not quite right yet. Also, interviews users have had different reactions to each iteration.
I also agree that in the simplified view of show no charges and show charge diffe

[2017-01-31 18:47] terracoda commented on #127
@jbphet, excellent points! We have the same problem in either case.

For the record, I have not described the string at all in the non-visual version of the simulation. It has not yet been an issue. In an early interview with live description, I think there was one person who asked about whether the balloon was falling to the floor when two balloons were repelling.

I also, like the idea of a lose

[2017-01-31 18:58] oliver-phet commented on #127
@arouinfar I looked through the entire history of phethelp emails and #117 is the only email we've had specific to this issue.

[2017-01-31 19:31] jessegreenberg commented on #206
Reopening and adding the on-hold label.

[2017-01-31 19:35] jessegreenberg commented on #206
In a meeting 1/24/17 @ariel-phet mentioned an idea to embed keyboard interaction icons into the focus highlight.  The icon in the focus highlight could then be mapped to an icon in the keyboard help dialog.

PhET could create a system of icons for various interactions and these icons could be applied to various interactive elements.  For instance, a radio button group might not look like radio but

[2017-02-01 00:50] jessegreenberg opened #243 "sim does its own dt calculation, using milliseconds instead of seconds"
Issue moved from phet-io repo https://github.com/phetsims/phet-io/issues/1005 and discovered during instrumentation:

The file BalloonsAndStaticElectricty.js contains a step function with the code:

      var curTime = Date.now();
      var dt = curTime - this.oldTime;

      this.balloons.forEach( function( balloon ) {
        if ( balloon.isVisibleProperty.get() ) {
          balloon.step( self,

[2017-02-01 05:32] samreid commented on #243
This is likely to be the cause of https://github.com/phetsims/phet-io/issues/994

[2017-02-01 05:38] samreid commented on #243
Fixed in the preceding commits, @jessegreenberg can you please verify?

[2017-02-01 17:47] jbphet commented on #213
This component is requiring extra work for phet-io instrumentation, since it doesn't use the standard radio buttons.  See https://github.com/phetsims/phet-io/issues/997.

[2017-02-01 18:06] jessegreenberg commented on #213
@phet-steele and @jbphet have expressed some concern that being able to click on the selected button changes the state of the button, and that it seems odd to have an interactive element that looks like two buttons but behaves like one button.

@phet-steele also brought up the issue that if one button is made invisible through a PhET-iO wrapper, pressing the selected button will still toggle the v

[2017-02-01 18:16] jessegreenberg commented on #213
I am also wondering if it will be problematic that the mouse/keyboard interaction for this button:
![capture3](https://cloud.githubusercontent.com/assets/6396244/22519878/5319409a-e86f-11e6-8a33-80fc82b0a3b3.PNG)

will be different than these buttons:
![capture2](https://cloud.githubusercontent.com/assets/6396244/22519893/633f2778-e86f-11e6-90ab-3a8d076c6eba.PNG)

when they are visually similar.

[2017-02-01 18:42] arouinfar commented on #127
Thanks @oliver-phet!

@jbphet I think we can keep the strings as-is for now.

@ariel-phet should I move the loose string suggestion to a new issue and close this one?

[2017-02-01 19:20] jbphet commented on #243
Ideally, we would change the other portions of the simulation to use the dt value without requiring it to be multiplied by 1000.  I'll leave it to @jessegreenberg to determine whether this would take too much effort to make it worthwhile or not.  If it can be done in an hour or less, I'd say go for it, otherwise close this and move on.

[2017-02-01 20:05] ariel-phet commented on #127
@arouinfar yes, please move that suggestion to a new issue

[2017-02-01 20:12] arouinfar opened #244 "Try attaching balloon to ground with loose string"
In #127 @ariel-phet suggested:

A taught string cue that the balloon is helium-filled, while a loose string may make it easier to perceive the balloon as neutrally buoyant.

@ariel-phet please prioritize.

[2017-02-01 20:12] arouinfar commented on #127
Done!

[2017-02-01 20:12] #127 closed

[2017-02-02 04:23] ariel-phet commented on #244
@jessegreenberg is this something you would be willing to try implementing (since you have been the main person on BASE for awhile)? If not, please assign back to me.

[2017-02-02 04:24] ariel-phet commented on #244
Marking as medium, since it seems we are considering getting this sim republished in the "near'ish" future ideally with keyboard nav, so it would be good to settle this design question

[2017-02-02 16:55] jessegreenberg commented on #244
Sure, I will take a look at this.

I don't think keyboard nav can be ready for a publication in the near-ish future, there is still a fair amount of work to do like this sim's keyboard help dialog, radio buttons, graphical indication of how to play with the balloon, and such.

[2017-02-02 23:58] jbphet commented on #244
I've implemented this, and @arouinfar had a look and has initially approved.  Assigning to @ariel-phet to check it out on master and, if he's cool with it, he can close the issue.

Screenshot:
![base](https://cloud.githubusercontent.com/assets/3082831/22573915/bde4864c-e968-11e6-8549-dfe8eb0ffb66.png)

[2017-02-03 00:20] ariel-phet commented on #244
@jbphet @arouinfar I personally really like this change.

Might be good to see what @kathy-phet thinks.

Assigning back to @jbphet to show at next status meeting if @kathy-phet has not commented.

[2017-02-03 11:19] terracoda commented on #213
I'd like to call @emily-phet in on this issue. @jessegreenberg, these are all interesting questions.

It is important to keep in mind that in both cases, the Space key is part of the standard interaction pattern. The Space key toggles a switch, and it can also check an unchecked radio button. Thus, it is not an unfamiliar interaction. Of course, in the case of scene selections here, one item is al

[2017-02-03 11:23] terracoda commented on #213
@jessegreenberg, as for the spinbutton example, it actually looks like what it is (a spinbutton). I would think that the interaction would be familiar to all users, mouse users, visual keyboard users, and screen reader users.

I don't think there is a potential visual/non-visual mismatch in this case.

[2017-02-03 18:40] arouinfar commented on #242
If the changes in #244 are published, I'll also need to update the screenshots.

[2017-02-06 18:50] ariel-phet commented on #213
@jessegreenberg I think @terracoda generally captured my feelings

[2017-02-06 19:07] jbphet commented on #244
I demonstrated this to @kathy-phet, and she thought it looked good.  Closing.

[2017-02-06 19:07] #244 closed

[2017-02-06 19:13] arouinfar commented on #242
@ariel-phet now that the loose string has been approved, do you know when the next release will be? I'd like to update the Teacher Tips with new screenshots and revise the Model Simplifications a little bit, and have that timed to the next release.

[2017-02-06 19:28] ariel-phet commented on #242
@arouinfar probably discuss with @jessegreenberg or @jbphet - I am not sure if the loose string change would require a maintenance release or a full retest. (pretty sure it could be a maintenance release). If so, you can coordinate with @jessegreenberg once you have the Tips redone.

[2017-02-07 17:02] arouinfar commented on #242
I've updated the Teacher Tips, so I'll go ahead and close this issue. I'll coordinate with @jbphet and @jessegreenberg to find out when the sim will be republished.

[2017-02-07 17:02] #242 closed

[2017-02-08 19:26] phet-steele opened #245 "Keyboard Help Dialogue shows indent lines in a screenshot from the screenshot wrapper"
Presumably not a big problem since it seems like an ultra rare use case. Taking a chance this is a sim bug, and not a PhET-iO bug, so reporting it in this repo. However, I am unaware how you would get a screenshot of this dialogue without PhET-iO, so adding that label:

<img width="710" alt="screen shot 2017-02-08 at 12 17 26 pm" src="https://cloud.githubusercontent.com/assets/5863899/22753467/696

[2017-02-08 21:37] samreid commented on #245
@jessegreenberg how are those indents rendered?

[2017-02-09 18:08] jessegreenberg opened #246 "redeploy this sim"
In 2/9/17 status meeting, we discussed redeploying balloons-and-static-electricity with beneficial model/view changes that came out of the PhET-iO instrumentation.

@jessegreenberg will prepare an RC and form master.  a11y should first be disabled since it is still a work in progress.

[2017-02-13 20:58] samreid opened #247 "AriaHerald is duplicated and crashes PhET-iO BASE"
While testing http://localhost/balloons-and-static-electricity/balloons-and-static-electricity_en.html?brand=phet-io&phetioLog=lines&phetioStandalone&ea I received:

[code]

Perhaps it is because there are two AriaHerald with the same tandem.

@jessegreenberg can you help?

[2017-02-13 21:23] jessegreenberg commented on #247
Yes, I will take a look at this now.

[2017-02-13 21:40] jessegreenberg commented on #247
@samreid sorry about that, this should be fixed.  I ran the sim with the above query params and saw no issues.

Also, some aqua tests:
![aqua](https://cloud.githubusercontent.com/assets/6396244/22904597/3c3d7686-f1fa-11e6-8c1c-817304f73ba7.PNG)

@samreid is that all for this issue?

[2017-02-13 21:52] jessegreenberg commented on #245
Oops, sorry, with an HSeparator instead of a Spacer.

[2017-02-13 21:57] jessegreenberg commented on #245
@samreid  this should be fixed, here is a screenshot taken with the wrapper with the above commit:

![capture](https://cloud.githubusercontent.com/assets/6396244/22905124/4ed4f092-f1fc-11e6-9f0f-bd80c5a59370.PNG)

Closing.

[2017-02-13 21:57] #245 closed

[2017-02-13 22:00] samreid commented on #247
Looks good, thanks! Closing.

[2017-02-13 22:00] #247 closed

[2017-02-13 22:13] jessegreenberg commented on #243
I want to take a look at this before #246.

[2017-02-13 22:55] jessegreenberg opened #248 "sim needs model.md and implementation-notes.md"
This sim was probably ported before this was a convention, but model.md and implementation-notes.md are missing for this sim.

[2017-02-14 00:02] jessegreenberg commented on #243
It doesn't look like there is really a physics model in this sim, other than the electric forces feel sort of like ```kqq / r^2```.  But the actual model uses ```kqq / r^3```, k is 0.1 for the sweater charges and 10000 for the wall charges, q's are the integer number of charges on each object, and r is the distance in ScreenView coordinates. My guess is the values were chosen to look natural and m

[2017-02-14 00:09] jessegreenberg commented on #243
The sim looks good with https://github.com/phetsims/balloons-and-static-electricity/commit/5f4765cc5f321a7b12648e9ffaf379ff20cae8ac and https://github.com/phetsims/balloons-and-static-electricity/commit/08c47e9f1932871f1223b0204c0877e691e6003c @samreid.

@jbphet given https://github.com/phetsims/balloons-and-static-electricity/issues/243#issuecomment-279564121 I am inclined to close this issue.  I

[2017-02-14 00:19] jessegreenberg commented on #243
I added some doc to clarify https://github.com/phetsims/balloons-and-static-electricity/issues/243#issuecomment-279564121.  Closing.

[2017-02-14 00:19] #243 closed

[2017-02-14 01:23] jessegreenberg commented on #248
I added model.md and implementation-notes.md.

[2017-02-14 01:23] #248 closed

[2017-02-14 01:25] jessegreenberg commented on #239
I agree with both comments @jbphet I will take a stab at this change.

[2017-02-14 02:05] jessegreenberg commented on #239
In the above commit I moved almost all functions of BalloonModel to the prototype since they required the instance of the BalloonModel as a param.  getForce was the only one that I moved to statics, but all were moved to the inherit call.  Closing.

[2017-02-14 02:05] #239 closed

[2017-02-14 02:05] jessegreenberg commented on #239
I also updated the JSDoc quite a bit

[2017-02-14 02:14] jessegreenberg commented on #241
I believe that commit https://github.com/phetsims/balloons-and-static-electricity/commit/9ca73802d5b489963a0ef39e3841aa722b92afb5 made a change so that one balloon can not be pushed off the sweater when another balloon with charge approaches it, which is possible in the deployed version.  @jbphet was that an intentional change?

[2017-02-14 03:09] terracoda commented on #227
@jessegreenberg and @emily-phet, there are twelve locations for the sweater, 9 for the Play Area, and three for the wall:
**12 sweater locations:**
- left shoulder, left arm, lower-left arm
- upper-left side, left side, lower-left side
- upper-right side, right side, lower right-side
- right shoulder, right arm, lower-right arm

**9 Play Area locations:**
- upper-left side, left side, lower-left s

[2017-02-14 06:59] terracoda opened #249 "Induced charge description: wording change"
I have never been happy with the induced charge description phrase, so I have a new, simplified version that I would like to run by @ariel-phet, @emily-phet, and @jessegreenberg.

**Current description:**
At touchpoint, negative charges in wall move away from [[yellow, green]] balloon [[a little bit, a lot, quite alot]]. Positive charges do not move.

I thought first to replace "At touchpoint," wi

[2017-02-14 15:05] melbanyard commented on #206
Hello! I'll be working on this this week as I didnt receive any other updates. To clarify, are there any outstanding changes to be made to the keyboard mock ups aside from those specified by @terracoda above? I've missed some discussion of course.

[2017-02-14 16:59] terracoda commented on #227
@jessegreenberg, the old 18 sweater locations have been replaced by 12:
- top left edge & top left arm: left shoulder
- upper left edge & upper left arm: left arm (see visual model)
- lower left arm & bottom left arm: lower-left arm
- top left side & upper left side: upper-left side
- upper left side: left side (see visual model)
- lower left side & bottom left side: lower-left side
- top right si

[2017-02-14 17:22] terracoda commented on #206
@melbanyard, I have no further direction to give you except that there seems to be 2 seperate issues:
1. communicating a standard keyboard interaction to a visual user when the interaction in the sim does look like a standard control like a button. The "Grab Yellow Balloon" button is an example.
2. Communicating custom interactions like the rub/drag interaction to visual users.

I think number 1 i

[2017-02-14 18:13] jessegreenberg commented on #241
The code that was replaced with https://github.com/phetsims/balloons-and-static-electricity/commit/9ca73802d5b489963a0ef39e3841aa722b92afb5 also makes it seem like this should never have been possible, so I am wondering if the behavior in the deployed version is actually an artifact of the bug mentioned in this issue.

@ariel-phet @arouinfar should the user be able to push a charged balloon off of

[2017-02-15 00:26] jessegreenberg commented on #246
We need to wait until #241 is resolved before deploying another RC.

[2017-02-15 06:18] ariel-phet commented on #249
@terracoda I do like the move towards simplicity. Here is my one reservation, but it may not be particularly important. In the visual depiction there is a sense of electrostatic repulsion radially away from the closest point of the balloon.

Perhaps something like "Negative charges in wall that are in the vicinity of the yellow balloon move away from the yellow balloon a little bit. Positive charg

[2017-02-15 07:04] terracoda commented on #249
@ariel-phet, how critical is the "radial repulsion" pedagogically? Can a student, potentially get a sense of induced charge without a specific description of the "radial repulsion?" Keep in mind, sonification will convey the subtleties of induced charge much better than any words we can come up with here (in my opinion).

I originally tried to capture the nature of the "radial repulsion" with "neg

[2017-02-15 08:26] terracoda commented on #227
This version of the grid has a small up date. It clearly labels the "General Area" that requires no adjectives on locations, and repalces the spearcons on the shoulders with "At top." The actual locations here are "left shoulder" and "on right shoulder".
![bs-grid-with-spearcons](https://cloud.githubusercontent.com/assets/1902116/22965935/f323cf26-f385-11e6-9a29-d27a9269f2c7.png)

[2017-02-15 08:33] terracoda commented on #227
@jessegreenberg, I think it would be best to first replace the sweater locations. I think this would be straight forward as I have not changed the actual phrases for rubbing and finding charges.

Would you agree?

[2017-02-15 17:49] ariel-phet commented on #249
@terracoda in terms of how critical...that is a bit tough to say. The visual is there for a reason, but it is not strictly a learning goal. As I mentioned, not having this sense was my one reservation/feedback on the description, but I do not think it is critical. I have generally been approaching any a11y questions with the philosophy of "how can this experience best mirror the visual experience"

[2017-02-15 18:20] ariel-phet commented on #241
@jessegreenberg that is definitely an interesting question. I actually did not know it was possible to push one balloon off of the sweater with another charged balloon, so thanks for pointing that out.

My take is that it is actually preferable for the balloons to not be able to push each other off the sweater. Here are my reasons:
1.  If you rub a balloon on a sweater, the charge will mainly be o

[2017-02-15 19:30] arouinfar commented on #241
@jessegreenberg @ariel-phet the ability to use a balloon to push the other balloon off of the sweater has been present since 1.0.0. It's even used as an example in the sim primer that was recorded about a year ago.

I've found that it's possible to use a very weakly negative balloon to repel a much more negatively charged balloon while on the sweater. This behavior seems wrong to me.

![untitled](

[2017-02-15 19:42] emily-phet commented on #249
@terracoda @ariel-phet
I think that the heart of the issue is the difficulty in conveying the visual of induced charge using 1) a short text description, 2) that uses non-technical, kid-friendly terms. We all agree that we're trying to have the visual and non-visual experiences align, but as there are limitations in what can be done graphically, there are limitations on what can be done with text

[2017-02-16 18:59] ariel-phet commented on #241
So it seems we are in agreement...the current behavior of not allowing balloons to repel on the sweater is best.

@arouinfar would it be easy to edit out that part of the sim primer?

[2017-02-16 19:20] jessegreenberg commented on #241
Thanks @ariel-phet and @arouinfar then I will proceed with #246.

[2017-02-16 19:29] arouinfar commented on #241
Thanks @jessegreenberg!

@ariel-phet, not particularly. There's only one teaching example in the primer that uses two balloons. The narrator refers to like charges repelling, but makes no explicit mention of the sweater. A balloon is used to repel the other balloon off the sweater three times during this chunk of the primer. What makes things tricky is that the narrator's outro is also recorded ov

[2017-02-17 00:50] terracoda commented on #249
@ariel-phet, and @emily-phet thanks for the feedback and direction:
Decision is we go with the following (New description 2):

[2017-02-20 17:45] ariel-phet commented on #241
@arouinfar then we should plan to re-record the primer at some point, not a huge priority, but would be good to do. Please make an issue for that and can probably close this one.

[2017-02-20 18:33] arouinfar opened #250 "Re-record sim primer"
From #241

A charged balloon should not be able to dislodge the other balloon from the sweater. This behavior is exhibited in the sim primer, which will need to be re-recorded.

[2017-02-20 18:33] arouinfar commented on #241
Done!

[2017-02-20 18:33] #241 closed

[2017-02-21 11:29] terracoda commented on #249
@emily-phet and @ariel-phet, while updating descriptions for rubbing against the wall, I saw an opening to add location to the induced charge description for the wall. This might address @ariel-phet's concern about the description being too vague.

We could embed the balloon's location against the wall to narrow the idea of where the induced charge effect is actually happening.

- In [[STRING:Loca

[2017-02-21 11:34] terracoda commented on #249
And, of course, the description is still a little vague if either or both of the balloons are in the general wall area described as "in wall."

[2017-02-21 17:06] emily-phet commented on #249
@terracoda I like it! I think it's a nice compromise. Provides an indication that it's not all negative charges uniformly moving away, but doesn't increase the word count by much. Let's go with this.

[2017-02-21 17:08] ariel-phet commented on #249
@terracoda yes, I think this is a nice way to keep the description short but improve the proximity idea.

[2017-02-21 18:27] terracoda commented on #249
@emily-phet and @ariel-phet, great!
I like it, too.

[2017-02-22 11:30] terracoda commented on #227
@jessegreenberg, I created a branch called "description-string-updates," and updated several strings including sweater locations. Let me know (no hurry) if you see the branch I created?

[2017-02-23 19:04] arouinfar commented on #250
Talking to @amyh-phet, it sounds like we can keep the same audio track, but re-record the screen capture. Reassigning to @amyh-phet.

[2017-02-28 18:45] melbanyard commented on #206
[https://drive.google.com/file/d/0BxijvNkPCfR-R0xNWV9KcDZqc1k/view?usp=sharing](url)

a link to the latest!

[2017-02-28 20:28] terracoda commented on #206
@melbanyard, that link does not work for me. Can you double check it?

[2017-03-01 01:58] jessegreenberg opened #251 "branch: ocad-hacks"
Hacks from the OCAD Macmillan/Benetech code sprint!  Contains a queuing system that could handle simultaneous aria-live alerts.  AT don't support an alert queue, and this could be a solution to that technical challenge.

[2017-03-01 10:26] terracoda commented on #249
OK, new decision for induced charge description in PDOM:

**Induced charge with a neutral balloon:**
-  [+ Wall’s charge description]. In [[STRING:Location]] wall, no change in charges.

**Induced charged with a charged balloon:**
-  [+ Wall’s charge description]. Negative charges in [[STRING:Location]] wall move away from [[yellow balloon, green balloon]] [[STRING:Induced Charge Amount]]. Positiv

[2017-03-01 12:31] terracoda opened #252 "Discuss potential further change to induced charge interactive alert when rubbing against wall"
Based on recent improvements to the induced charge description (see related issue #249), there is a new interaction alert for rubbing at the wall.

At the PhET/IDRC A11y meeting Feb 21, 2017, people agreed to a new wall rubbing interactive alert.

This can be implemented as is, however, I had a couple more design questions (see below) that could potentially shorten this rather long alert. I'd like

[2017-03-02 02:36] ariel-phet commented on #249
@terracoda agreed that when the two neutral balloons are in contact with the wall, the simple and short description is sufficient.

[2017-03-02 22:57] jessegreenberg commented on #246
Since #241 was closed, we can redeploy.  The release branch for this issue must have accessibility removed.

[2017-03-02 23:32] jessegreenberg opened #253 "balloon string visible behind un-selected radio button"
It shouldn't be, it looks strange.

[2017-03-03 18:57] jessegreenberg commented on #253
Fixed in the above commit,

![capture](https://cloud.githubusercontent.com/assets/6396244/23564786/9f10ea2e-0008-11e7-8c65-4e233503dbf8.PNG)

[2017-03-03 18:57] #253 closed

[2017-03-06 16:52] samreid commented on #235
@jbphet and I proceeded on https://github.com/phetsims/axon/issues/115 and we could use that solution here.

[2017-03-07 16:54] terracoda commented on #252
I've add a comparison of two mini cognitive walk-throughs in the [google sheet BASE: CogWTs: New Grid](https://docs.google.com/spreadsheets/d/1fZq21j65jfJhcsA22pasuBA00kM-cGWxsWDsogwhC64/edit#gid=0)

[2017-03-08 00:08] amyh-phet commented on #250
New screen capture completed.  Video produced, subtitled, and live on website.

[2017-03-08 00:08] #250 closed

[2017-03-09 12:29] terracoda commented on #224
@jessegreenberg, the new pattern for the release alerts is described in detail in the google doc [BASE: Grid Descriptions Simplified and Revised](https://docs.google.com/document/d/1WNVq5_-Hc9LSdeZVSn2edlwYwpHtGNT1ThFD9NXpZ5Q/edit#heading=h.4xn2gqwfg1t).
The alerts all follow this pattern:
- [Indication of the release.] + [Description of release movement.] + [Attractive state and location.]

**(Ne

[2017-03-09 12:32] terracoda commented on #224
@jessegreenberg, cognitive walk-throughs with release examples are also provided in the google sheet, [BASE: CogWT](https://docs.google.com/spreadsheets/d/1fZq21j65jfJhcsA22pasuBA00kM-cGWxsWDsogwhC64/edit#gid=0). Walk-throughs 7,8,9 and 10 demo releases.

[2017-03-10 08:09] terracoda commented on #222
@jessegreenberg, I have changed the actual grid position text, but not the model. See pull request #254. I hope this is helpful.

[2017-03-10 08:12] terracoda commented on #227
@jessegreenberg, pull request #254 containing the description-string-updates is ready for review.

[2017-03-13 17:31] ariel-phet commented on #252
@terracoda the order seems good to me and fairly optimal.

As for the second question, that seems more of an interview/user question. As long as the user can keep track I would be fine with truncating (it seems reasonable), but not really a question I feel I am in a position to answer.

[2017-03-14 09:55] terracoda commented on #252
@ariel-phet, thanks for your feedback. I agree truncation questions (of which I have several) should be addressed after next round of interviews.

[2017-03-14 10:32] terracoda commented on #252
Decision, we will stick with the current new design mentioned in https://github.com/phetsims/balloons-and-static-electricity/issues/252#issue-211067818, until we have more interview data suggesting otherwise.

I am un-assigning @emily-phet and leaving myself and @jessegreenberg assigned until implementation.

[2017-03-16 10:01] terracoda commented on #252
Actually closing this issue, as we are sticking with the full description as described in the original related issue #249.

[2017-03-16 10:03] terracoda commented on #249
No further changes needed now. Final design in https://github.com/phetsims/balloons-and-static-electricity/issues/249#issuecomment-283302776 and in design document.

[2017-03-17 20:39] phet-steele opened #255 "Propagate QA credits to other branches"
@jessegreenberg the 1.1 branch is the only one with QA credits. Please copy the credits from the 1.1 branch to all other appropriate branches (I'm thinking master, 1.2, and 1.2-phetio) AND add "Ethan Johnson". Other than that, current 1.1 QA credits are good.

For phetsims/tasks/issues/795

[2017-03-22 23:33] jbphet commented on #214
@jessegreenberg and I worked on this when producing the latest phet-io release, so it has been addressed.  Closing.

[2017-03-22 23:33] #214 closed

[2017-04-08 09:06] terracoda opened #256 "Visual Interaction Hints to Grab & Drag Balloon"
**General Issue**
Interaction Hints for visual keyboard users are needed for custom interactions or for when the interaction is not implicitly obvious to a user who can see, but who may not use a mouse. A user may use AT such as the keyboard or switch to navigate and interact with the sim. A user who uses a keyboard with a screen reader is able to access structural information and descriptions tha

[2017-04-08 09:23] terracoda commented on #240
@phet-steele thanks for documenting this bug. I have always wondered why the balloon does not move (i.e., visually attract) when on the left side of the sweater.

Fixing this bug will affect the descriptions that I have designed for this sim. I don't see adding a few more described sticking points on the sweater as a problem, but I will need to create the descriptions once I see how the balloon mo

[2017-04-08 09:25] terracoda commented on #240
Also, just mentioning @jessegreenberg and @emily-phet in case they have any comments.

[2017-04-08 10:14] terracoda commented on #238
@jbphet, with the query parameter, I do not see the console as you have described. However, using the visual PDOM, I see that the description, "At wall." is missing. I think this is related to an issue tracking that the incorrect grid model was being used (will add issue here).

The latest updates to the descriptions (especially regarding locations) are not yet implemented. It is about to undergo

[2017-04-08 12:02] terracoda commented on #225
@jessegreenberg, to be clear, the color of the balloon needs to be included in the release alert.
New descriptions for releases are documented in google doc, [BASE: Grid Descriptions Simplified & Revised](https://docs.google.com/document/d/1WNVq5_-Hc9LSdeZVSn2edlwYwpHtGNT1ThFD9NXpZ5Q/edit#heading=h.4z0qsy53v4dw). Simple examples in google doc.

More in context examples are provided in [BASE CWT Ne

[2017-04-10 10:37] terracoda opened #257 "Identify challenges for charge view descriptions for Balloons and Static Electricity"
The Balloons and Static Electricity sim has thee different views for charges:

1. Show all charges (default)
2. Show no charges
3. Show charge differences

We have described the first view (all charges) using relative amounts (none, a few, several, many). Beginning to explore design questions for describing the other 2 views in this google sheet. I will post questions for discussion in this issue.

[2017-04-10 10:46] terracoda commented on #256
I forgot there was already an active issue related to this topic. See issue #206.

[2017-04-10 13:01] jobara commented on #225
Just seeing this thread got me thinking that it might be necessary to identify the balloons in a different way, at least visually and maybe to ATs as well. I'm worried that someone who is colourblind may have trouble perceiving the difference in the balloons. This could also be a problem for a low-vision screen reader user, or a someone who is colourblind and paired with someone using a screen rea

[2017-04-11 05:28] terracoda commented on #225
@jobara, it is nice to revisit this thought in order to summarize what we have done to address it.

We have all actually discussed the color of the balloons a lot already. I have presented different ideas including numbering the balloons. I even thought of putting small differentiated knots or bows on the balloon where the balloons meet the string. The knot/bow idea, I thought would be more useful

[2017-04-11 05:32] terracoda commented on #225
Pedagogically, numbers can be confused as science content, which we do not want.

[2017-04-11 06:02] terracoda commented on #225
@jobara and @jessegreenberg, I started an issue https://github.com/phetsims/a11y-research/issues/29. We can discuss related color and design issues there that might be applicable to more sims.

[2017-04-11 06:20] terracoda commented on #231
Comment about induced charge in https://github.com/phetsims/balloons-and-static-electricity/issues/231#issuecomment-276433213 has been address in new descriptions. See google doc: [Grid Descriptions Simplified and Revised](https://docs.google.com/document/d/1WNVq5_-Hc9LSdeZVSn2edlwYwpHtGNT1ThFD9NXpZ5Q/edit#heading=h.elxd9k35q6fh)

[2017-04-12 11:03] terracoda opened #258 "BASE Design Check List (Laundry List Milestone)"
I lost my list on on February 2, 2018. I don't know how.
Everything was done, so it is not such a tragedy.

[2017-04-12 19:13] emily-phet commented on #258
@terracoda Looks good, very helpful to have one spot for an overview.

[2017-04-13 09:48] terracoda commented on #258
@emily-phet I just un-assigned you, but maybe you want to stay on the issue as an assignee?

[2017-04-13 23:49] jonathanolson commented on #255
Added to master/1.2/1.2-phetio.

@phet-steele, look good?

[2017-04-14 00:02] jonathanolson commented on #72
Looks like 1.2 is going to go out without resolving this?:

[code]

[2017-04-14 00:03] phet-steele commented on #255
Done, thanks @jonathanolson!

[2017-04-14 00:03] #255 closed

[2017-04-14 00:06] jonathanolson commented on #74
1.1 is long-gone and 1.2 is about to go out. @samreid is anything needed here?

[2017-04-14 01:25] pixelzoom commented on #72
@jessegreenberg created audio/license.json and appears to have pushed the audio files in question. Perhaps he can elaborate.

[2017-04-14 02:35] samreid commented on #74
It sounds like we are good to go, thanks!

[2017-04-14 02:35] #74 closed

[2017-04-14 05:24] jessegreenberg commented on #72
Thanks for catching, assets removed for 1.2 branch and won't be part of the release.  They should be removed from master at this point too, we were playing with some ideas but nothing was meant long term use at this point.

[2017-04-14 13:57] emily-phet commented on #240
@jbphet It would be helpful to clarify a few reference points in the model.
- Will the location of the rightmost side of the balloon still be the reference point for determining balloon behavior on release after the bug is fixed?
- Also, when picking up charges from the sweater, is this done based on the location of the center of the balloon, or some other point on the balloon?

[2017-04-15 01:17] terracoda commented on #240
Thanks for clarifying this @emily-phet.

[2017-04-17 23:04] jbphet commented on #240
In answer to @emily-phet's questions above:

No, it will be the bounds of the balloon.  Any time the bounds of a charged balloon is outside the bounds of the sweater, the force will be applied.

After the changes I'm making, it will be based on whether the location of the charges are inside an ellipse that should be pretty close to the shape of the balloon and is centered at the balloon's location

[2017-04-17 23:08] jbphet commented on #240
I've implemented a fix on master.  This does change the behavior of the sim a bit, and involved a bunch of code refactoring, so I'm assigning to @phet-steele to verify that the new behavior seems reasonable and doesn't seem to introduce any odd side effects.

@phet-steele - if all looks good, please assign to @terracoda and @emily-phet to make sure that I've addressed their questions.

[2017-04-18 06:56] emily-phet commented on #206
@melbanyard After reviewing your [latest designs](https://drive.google.com/file/d/0BxijvNkPCfR-OFZZbE80a2VFdGM/view), here are a few thoughts:
- It would be nice if the information provided to grab and to release were the same. For example: [Spacebar] or [Enter] to Grab or Release.
- Once grabbed, I like the letter keys with the added arrow-like detail (the bottom option for the Grabbed state). I

[2017-04-18 23:35] melbanyard commented on #206
Hey Emily,

Thanks for the feedback! I'll work on making these changes after your
Thursday meeting. Is it a virtual meeting? If so, I'd love to sit in and
listen to what other's thoughts are.

Mel

On Tue, Apr 18, 2017 at 2:56 AM, emily-phet <notifications@github.com>
wrote:

[2017-04-19 17:13] jessegreenberg commented on #206
I just tested with the latest version of JAWS (18.0.2738) and https://github.com/phetsims/a11y-research/issues/9 bug is still happening, so arrow keys are not usable with JAWS.

[2017-04-19 19:15] arouinfar commented on #206
@melbanyard thanks for working on these mockups. @emily-phet has made some excellent points. I think it would be preferable to combine the Grab and Release information into one cue that appears each time balloon is focused (until the balloon is first grabbed). However, I've noticed that the balloon cannot be released with Enter -- only Space. We would either need to add release support to Enter, o

[2017-04-19 21:47] phet-steele commented on #240
@terracoda @emily-phet things look good from here, back to you all.

[2017-04-20 21:04] jbphet commented on #240
@terracoda and @emily-phet - I published a dev version to enable you to test this, please see http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-dev.1/balloons-and-static-electricity_en.html.

[2017-04-21 11:29] terracoda commented on #240
Btw, I like the saggy strings.

@emily-phet, I do like the more consistent attraction behaviour in the single-balloon scenario. This will be easy to address in the descriptions. Ideally, when I go to change them, I would like to see a center mark on the balloons, and the lines of the visual described grid. This will help me determine exactly where the center point of the balloon's ellipsis during

[2017-04-21 14:10] emily-phet commented on #240
@jbphet - I also like the saggy strings, and ability to get good balloon sticking-to-sweater motion from the left side.

Unfortunately, there seems to be some odd behavior introduced in the two balloon scenario. I played with this using Safari. Sometimes the two balloons do not seem to respond to each other (e.g., when both are negatively charged and on the sweater, but I also observed this behavi

[2017-04-21 16:15] phet-steele commented on #240
@emily-phet @terracoda see https://github.com/phetsims/balloons-and-static-electricity/issues/241#issuecomment-280093736 for the reasons why we cannot use one balloon to  push another balloon that is on the sweater. In other words, this is intentional and not a result of the recent changes.

[2017-04-21 16:27] emily-phet commented on #240
@phet-steele @terracoda @jbphet I'm emailing you all a video that shows some undesired balloon behavior in the two balloon scenario. My guess is that the repulsion between the balloons has somehow been amplified in this version, which probably explains @terracoda impression that the balloon movement is more "peppy" than previously.

[2017-04-21 16:42] terracoda commented on #240
It it true they could be too peppy.

[2017-04-21 16:49] jbphet opened #259 "can't select one/two balloon toggle buttons via keyboard navigation"
In version http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-dev.1/balloons-and-static-electricity_en.html the one/two toggle button cannot be accessed via keyboard navigation.  This was tested by pressing the tab key and cycling through all selectable objects, and it looks like this control is just skipped.

This was originally reported by @emily-phet in https://

[2017-04-21 16:51] jbphet commented on #240
In one of the comments above, @emily-phet said,

I've opened a separate issue for this, see https://github.com/phetsims/balloons-and-static-electricity/issues/259.

[2017-04-25 23:47] jbphet commented on #240
@emily-phet and @terracoda - I need some clarity on what needs to change.  I've reviewed the video, and the oscillation behavior should be prevented.  I'll take care of that.  I believe that the reason for the balloons appearing more "peppy" than perhaps they did in previous versions is that a bug was fixed where the code was setting the velocity in one place and then clearing it in another, see h

[2017-04-26 06:30] terracoda commented on #240
@jbphet, I would like to try out the sim again once the oscillation behaviour does not happen. It's difficult for me to tell what it is supposed to do and what it is not supposed to do. I experimented with real balloons ([Experimental Play: Balloons and Static Electricity](https://www.flickr.com/photos/65291057@N00/albums/72157655633711751/with/18916968694/)) a couple of years ago. In the real wor

[2017-04-26 13:20] emily-phet commented on #240
@jbphet I agree with @terracoda. Can you publish a version for us to play around with?

@terracoda I don't think we can look to real life balloons to decide about speed here...the sim is probably just modeling charge differences. What's most important is that user interaction/exploration isn't negatively impacted by too fast or too slow movement (for visual and non-visual users). I think we're loo

[2017-04-26 14:10] terracoda commented on #240
@emily-phet, I agree too much speed can be distracting. so we need to find a happy medium that is productive for learners and hopefully, describable :-)

[2017-04-28 21:09] jbphet commented on #240
I've reduced the force constant and added an area on the sweater for testing whether the center of the balloon is in the area of the sweater where the charges exist.  This seems to work pretty well - it avoids the oscillation behavior seen in @emily-phet's video, but also allows the balloons to be attracted from the left side or from below.  If both balloons are charged and then placed on the wall

[2017-04-28 22:50] emily-phet commented on #240
@jbphet I took a look at this on Safari - it looks great to me!

[2017-05-02 01:43] terracoda commented on #206
Just for reference, I am posting a summary of the challenge here because I accidentally started a new issue 3 weeks ago. I am going to close that issue ( #256 ) so the conversation can continue here.

**General Issue**
Interaction Hints for visual keyboard users are needed for custom interactions or for when the interaction is not implicitly obvious to a user who can see, but who may not use a mou

[2017-05-02 01:46] terracoda commented on #256
Closing this issue because it is a duplicate of #206.

[2017-05-02 02:02] terracoda commented on #206
@melbanyard, I agree with @emily-phet and @arouinfar, there are technically only two states:
- **focus** - the user has keyboard focus on the balloon, and they need to know how to grab and release it.
- **grabbed** - the user has grabbed the balloon needs only an initial hint on how to drag (i.e., move it).
  - the visual grabbed state is simplified (i.e., the hint disappears) after successful mov

[2017-05-02 04:05] terracoda commented on #206
**Oops,** not finished with my feedback in previous post...
- I also like the keyboard idea, but due to limited size space and more complicated interactions for other sims, I'm not sure how far we can get with the keyboard visual.
- Since we are currently, using a bright pink for focus in other designs to show keyboard focus could you update the mock-up to use the pink solid outline, and use the d

[2017-05-02 04:14] terracoda commented on #206
Text in the cues could be a variety of things, I was trying to minimize. And, like Amy, I think I prefer the border around the word, "Space".
- "[Space] to grab or release."
- "[Space] to grab or let go."
- "Grab or release with [Space]."
- "Grab or let go with [Space]."
- "Grab or let go {line break} [Space]."
- "Grab / Let go with [Space]."
- "Grab / Release {line break} [Space]."

Do people hav

[2017-05-02 04:26] terracoda commented on #206
@melbanyard, posting your nice Version 2 visuals here for reference.
<img width="962" alt="screen shot 2017-05-02 at 09 54 40" src="https://cloud.githubusercontent.com/assets/1902116/25603873/7159bc16-2f1d-11e7-9def-83b970dabbf8.png">

[2017-05-02 14:23] terracoda commented on #206
Adding @emily-phet 's comments here:
On May 2, 2017, at 17:45, Emily B Moore <emily.moore@colorado.edu> wrote:

Hi Mel,

Thanks! I really like the simple “[Space] to Release” graphic…it’s making me re-think if we really need to provide both the spacebar and enter options…I’ll bring this up at the noon MT/2pm ET meeting today.

I agree with Amy, I think the full keyboard graphic is aesthetically ni

[2017-05-07 18:43] melbanyard commented on #206
Hi Everyone,

There's a lot of feedback here! I'm working on this now and will share on our Tuesday meeting. I'm not quiet sure if I'm moving in the right direction, so some face to face discussion would be helpful. :)

[2017-05-07 18:44] melbanyard commented on #206
I've also scrapped the keyboard icon idea and am moving forward without it.

[2017-05-09 20:13] jessegreenberg opened #260 "Fuzz error"
[code]

[2017-05-09 20:14] jessegreenberg commented on #260
Fixed in the above commit, HTML structure of the control panel was very strange.

[2017-05-09 20:14] #260 closed

[2017-05-09 21:12] jbphet opened #261 "do a maintenance release on 1.2-phetio to get lazyLink and reset support"
Version 1.2-phetio is being used by the sonification wrappers to test out different sound designs.  Currently, support for 'lazyLink' does not exist in this version.  Also, there has been talk of trying out some things to make it so that reset can be done without causing separate sounds for every parameter that gets reset.  I'll also try to pick up this functionality in this maintenance release in

[2017-05-09 22:29] jessegreenberg opened #262 "RC accessibility test: John Travoltage 1.3.0-rc.1"
@emily-phet @ariel-phet @phet-steele, John Travoltage 1.3.0-rc.1 is ready for RC testing.

[Link to Sim](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.1/john-travoltage_en.html)

[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.1/john-travoltage_en-iframe.html)

[@phet-steel, please update to include testing matrix]

Also, could you p

[2017-05-09 22:33] EthanWJohnson commented on #262
This is not the task repo you are looking for...

[2017-05-09 22:34] jessegreenberg commented on #262
GAH ✋ 🌴 🤕 (hand + palm + face).

Tahnks, moving task.

[2017-05-09 22:34] #262 closed

[2017-05-11 20:51] terracoda opened #263 "Visual Design for Keyboard Shorcuts Dialog"
Content and rough visual layout for the keyboard shortcuts is available in a google doc [BASE:Keyboard Shortcuts](https://docs.google.com/document/d/1vk8_N3GuyC0o_Nl8HpBUu0tvVuWyWQ8FiksexPs_qBk/edit).

This issue is to finalize any content adjustments and visual layout.

I am assuming it would be nice to follow the look and feel of the dialog that was created for John Travoltage.

[2017-05-12 11:24] emily-phet commented on #263
I've edited the document. I think it now uses the same wording as the dialog in John Travoltage. It also includes the arrow keys in all places the WASD keys are mentioned.
@arouinfar Can you make a mockup with this updated text?

[2017-05-12 14:15] terracoda commented on #263
@emily-phet and @arouinfar I am reviewing the changes :-)

[2017-05-12 16:33] arouinfar commented on #263
Can do @emily-phet, though I'm a bit tied up with the site visit. I should be able to have some mockups ready by Tuesday.

[2017-05-12 18:22] emily-phet commented on #263
@arouinfar Thanks!

[2017-05-12 19:10] terracoda commented on #263
@emily-phet, yes the addition of Shift key makes tiny steps when using both the arrow keys and the WASD keys.

[2017-05-12 20:01] terracoda commented on #263
@emily-phet I made some changes to the content. Let me know what you think about these changes.

[2017-05-12 20:33] emily-phet commented on #263
@terracoda I responded to your comments. Let me know what you think!

[2017-05-16 14:02] terracoda commented on #263
I've updated the google doc and made a quick rough visual. I am sure @arouinfar can make it much nicer :-)

I like the condensed version. It is based @emily-phet's feedback and edits, and carefully comparing to how the John Travoltage dialog is set up. The original content design was much more narrative to explain to interactions.

We can discuss order (top to bottom). I have put the Jump keys fir

[2017-05-16 20:25] terracoda commented on #240
@jbphet, sorry for the late reply. I think it is working nicely. The movement is slower than from before it was fixed, and I think that's actually a god thing.

The scene switch and the radio buttons are not keyboard accessible in this view. Is that intentional? Or should I start new issues for those items? The radios have never been accessible. they have been turned off for most of my research ac

[2017-05-16 20:28] arouinfar commented on #263
@terracoda thanks for your mockups! I've created a mockup in the JT style based on the condensed version. I've made the text a bit more succinct, but we can certainly wordsmith it a bit more. :)

![image](https://cloud.githubusercontent.com/assets/8419308/26125005/d0fbeec0-3a3d-11e7-9f18-30eac908e9c4.png)

[2017-05-16 20:36] terracoda commented on #240
@jbphet, is it possible to add a parameter that allows me to use the visual grid, so I can more easily work on the descriptions? @jessegreenberg had one set up for me before. It might be just be "grid", but the following link doesn't swap the background for the visual grid background.

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-dev.2/balloons-and-static-ele

[2017-05-16 20:51] terracoda commented on #263
@arouinfar Wow! That looks nice, and I like the even shorter text. I do worry it's not explicit enough, which is why I struggled with getting it shorter, but we can have users determine if it is not clear.

Do you think J plus S communicates that the user has to hold J and then press S to jump to sweater?

I really like the way you combined the Move Grabbed Balloon section, super nice.

The headin

[2017-05-16 20:53] terracoda commented on #263
@arouinfar, the heading should be "Keyboard Shortcuts", and I think we should have a period at the end of every line. It helps with readability.

[2017-05-16 21:03] arouinfar commented on #263
Thanks for the feedback @terracoda! I wasn't sure how explicit the text would need to be, but we can certainly adjust as necessary.

I do. I tried the commands in BASE, and for me I could simultaneous press J+S or hold S and then press J (or vice versa) so I think 'J plus S' should work. We also used similar text ('Shift plus Tab') to communicate how to move to the previously focused item.

I've a

[2017-05-17 14:40] terracoda commented on #263
@arouinfar, I think the only thing that might not be super clear is the Shift modifier key for taking smaller steps. We might need something more explicit there, but not sure. For example:

- Hold down __shift__ and press a drag key to move in smaller steps.

[2017-05-17 14:45] terracoda commented on #263
Re previous comment https://github.com/phetsims/balloons-and-static-electricity/issues/263#issuecomment-302112166, the structural grouping may make it clear enough, just not 100%. I'll ask some screen reader users.

[2017-05-17 17:01] jbphet commented on #240
@emily-phet said:

...and @terracoda said:

Based on this input, I think we can close this issue.  @terracoda has some other questions and requests in her comments immediately above that are essentially unrelated to the balloon motion - I'll create separate GitHub issues for those shortly.

[2017-05-17 17:01] #240 closed

[2017-05-17 17:08] jbphet opened #264 ""scene switch" buttons not accessible"
This was originally reported by @terracoda in https://github.com/phetsims/balloons-and-static-electricity/issues/240#issuecomment-301904698, I'm moving it into a separate GitHub issue.

@terracoda said:

I believe the "scene switch" buttons to which she is referring are the ones for switching between one two two balloons.  I tested on the current master version, and indeed, this selector is never

[2017-05-17 17:12] jbphet opened #265 "add query parameter to show visual grid"
This was originally requested by @terracoda in https://github.com/phetsims/balloons-and-static-electricity/issues/240#issuecomment-301907922, I'm moving it into a separate GitHub issue.

@terracoda said:

I looked at `BalloonsAndStaticElectricityQueryParameters.js` and didn't see any parameters that looked like they were related to showing the visual grid.  Perhaps this was a one-off thing that @j

[2017-05-17 17:38] terracoda commented on #264
@jbphet, yes I am referring to the _Two-balloon experiment_ switch.

[2017-05-17 19:16] terracoda commented on #265
@jbphet the visual grid that I mentioned is posted in issue https://github.com/phetsims/balloons-and-static-electricity/issues/227, but here's copy for here.
![bs-grid-upper-lower-regions](https://cloud.githubusercontent.com/assets/1902116/26171593/11b27dfc-3b20-11e7-8187-32521922cc79.png)

The grid parameter that @jessegreenberg main available to me was quite some time ago.

[2017-05-18 00:39] arouinfar commented on #263
Excellent suggestions @terracoda!

![image](https://cloud.githubusercontent.com/assets/8419308/26181797/25111c72-3b30-11e7-9301-7acf4db6160b.png)

[2017-05-18 12:02] terracoda commented on #263
@arouinfar, I think this is looking really good. I'll mock it up in HTML next.

[2017-05-18 13:11] terracoda commented on #263
@arouinfar, how about we add _up, left, down, or right_ to the WASD key description, so it looks like this:

Hopefully this doesn't go to 3 lines.

[2017-05-18 15:16] terracoda commented on #263
@arouinfar, instead of creating an static HTML page, I updated the sim code #266.

[2017-05-18 16:28] arouinfar commented on #263
@terracoda I'm not sure how to see the changes you've made in #266 since it looks like they're not in master yet, but here's another screenshot
![image](https://cloud.githubusercontent.com/assets/8419308/26212237/25904bb4-3bb2-11e7-8c3d-4a881fb473ba.png)

[2017-05-18 17:58] terracoda opened #267 "Add Enter key as way to release the balloon"
In recent design discussions for the keyboard shortcuts dialog (issue #263), and the design of visual grab cues for the balloon (issue #206), questions have come up as to why only the **Space key** works to release the balloon. And, I feel that this is mostly a side effect of early design choices. Based on iterations, since then, for the grab interaction, it now makes sense to add the **Enter key*

[2017-05-18 18:01] terracoda commented on #267
And FYI, @arouinfar and I have already updated the Keyboard Shortcuts dialog (#263) to reflect this change. A wonderful side effect is that adding **Enter** to the release really shortens the amount instructions needed.

[2017-05-18 22:27] jessegreenberg commented on #265
I just added query parameter "showGrid" to see the grid.  Sorry, it was previously made visible with query parameter "dev", which wasn't the best.

@terracoda the grid is still out of date, and doesn't look like the one in your image yet, but the showGrid will make it visible moving forward.  Closing.

[2017-05-18 22:27] #265 closed

[2017-05-18 23:48] terracoda commented on #263
@jessegreenberg, @arouinfar, @emily-phet I also made an [html version](http://terracoda.net/research/phet-examples/base-keyboard-shortcuts.html) in case we want to test the content out of context for interpretation.

[2017-05-18 23:49] terracoda commented on #263
@arouinfar, do you think we should capitalize all teh instances of a key name? "Enter", "Space", etc?

[2017-05-18 23:55] terracoda commented on #263
@arouinfar, I updated the google doc content and made an HTML version that I posted on my website above.

We have to wait for @jessegreenberg to review the changes and merge them.

[2017-05-18 23:58] terracoda commented on #263
@arouinfar, I think it looks really good, the only keys needing a capital letters is the "Enter" in the first sentence, and "Shift" in the smaller steps sentence.

[2017-05-19 00:02] terracoda commented on #265
Thanks @jessegreenberg!

[2017-05-19 00:03] jessegreenberg commented on #263
I just merged the changes into master. And thanks for the HTML version, that is helpful!

[2017-05-19 00:07] terracoda commented on #263
@jessegreenberg, I think the only difference in structure between the HTML version and the PhET code version is the list structure under the **Move Grabbed Balloon** heading. In the PhET version I left the three items as paragraphs as I didn't want to mess up the code too much, but I think a list makes sense.

[2017-05-19 00:11] jessegreenberg commented on #263
Agreed, a list sounds great to me. In https://github.com/phetsims/balloons-and-static-electricity/issues/263#issuecomment-302462826 the mockup looks great, but the spacebar icon looks a little strange to me.  Could we add "Space" or "Spacebar" to that icon?

[2017-05-19 00:18] terracoda commented on #263
@jessegreenberg, I am good with adding "Space."

[2017-05-19 16:28] terracoda commented on #263
@arouinfar, we got some great feedback from the A11y Meeting today.
First a small correction to the text which I missed.
"J plus N jumps close to wall." should be "J plus N jumps near wall." The N is for "Near".

Feedback from A11y Group:
- Make space key make wider and/or less tell.
- Change to use “move” instead of drag and rub.
- Bold letters and words on keys.
- Bold destinations on jump hotke

[2017-05-19 16:41] jessegreenberg commented on #246
This was done, closing.

[2017-05-19 16:41] #246 closed

[2017-05-19 18:50] jessegreenberg opened #268 "Fix PDOM for this sim"
The PDOM for this sim has many problems and has gotten a bit out of date.  @terracoda would you mind pasting in this issue the latest HTML structure for BASE as a mockup?  This doesn't need any dynamic description content, or even much of the static content, we are really just looking for the HTML structure and tag names.

[2017-05-19 21:28] jessegreenberg commented on #264
I am fixing this now.

[2017-05-19 21:35] jessegreenberg commented on #259
This is now a duplicate of #264

[2017-05-19 21:35] #259 closed

[2017-05-19 22:02] jessegreenberg commented on #264
Fixed with the above commits, closing.

[2017-05-19 22:02] #264 closed

[2017-05-22 12:39] terracoda opened #269 "Description review"
Testing descriptions with Voice Over, Safari 10.0.3 on Mac OS Sierra 10.12.3
Sim version: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.1.6-dev.2/balloons-and-static-electricity_en.html?hideChargeControls

Some of these issues may be addressed already in later versions:

- [ ] "At wall" read out when JW is used without Wall present. It should say it's position in

[2017-05-22 14:27] terracoda commented on #268
@jessegreenberg, here's a stripped-down PDOM for _Balloons and Static Electricity_. Sorry, I didn't get this to you on Friday.
[code]

[2017-05-22 14:29] terracoda commented on #268
@jessegreenberg:
Also, I reviewed the [PDOM documentation](https://docs.google.com/spreadsheets/d/1hbsj7jd1L-hfsrEKG6BH5mDf6TvyF_h-YZyiTaWbTcI/edit#gid=0), and the first tab is up-to-date. If you see something inconsistent, confusing, or out of sync, just let me know. There is a lot going on with the descriptions, so it's easy to miss a detail here and there.

**Note that the exact wording in the

[2017-05-22 19:53] jessegreenberg commented on #184
This is no longer an issue for any downloaded versions, including those that are saved with the 'right click to save' feature.

[2017-05-22 19:53] #184 closed

[2017-05-22 20:03] jessegreenberg commented on #190
This issue is going to be continued in https://github.com/phetsims/a11y-research/issues/41 since it is a project wide issue.

[2017-05-22 20:03] #190 closed

[2017-05-22 20:20] jessegreenberg commented on #268
Thanks @terracoda, this was very helpful!  I think with the above commits the PDOM is back in shape.  Closing, but I will probably be referencing https://github.com/phetsims/balloons-and-static-electricity/issues/268#issuecomment-303116235 as we continue.

[2017-05-22 20:20] #268 closed

[2017-05-22 20:36] melbanyard commented on #206
[Phetsims_pass5.pdf](https://github.com/phetsims/balloons-and-static-electricity/files/1020150/Phetsims_pass5.pdf)

[2017-05-22 20:36] jessegreenberg commented on #218
This is not a performance problem, it is the way that JAWS interprets the arrow keys under ```role=application```, see https://github.com/phetsims/a11y-research/issues/9.

In that issue, VFO suggested that this would be fixed in an improvement update.  There isn't anything else to do in this issue, closing.

[2017-05-22 20:36] #218 closed

[2017-05-22 20:41] melbanyard commented on #206
[Phetsims_pass5.pdf](https://github.com/phetsims/balloons-and-static-electricity/files/1020154/Phetsims_pass5.pdf)

Hello! I've attached my most recent version(s) of the keyboard visuals here. I updated the styling on #2, to better compliment the visuals that @terracoda designed for the tip sheet we looked in last week's meeting. I'm leaning towards that, I think they're easier to make out. How do

[2017-05-23 18:49] jessegreenberg commented on #222
Here is the mockup, scaled to the simulation bounds:
![mockup](https://cloud.githubusercontent.com/assets/6396244/26370603/95e64182-3fb5-11e7-9bd6-28e4273862db.PNG)

Here is the new grid, in the sim:
![grid](https://cloud.githubusercontent.com/assets/6396244/26370647/ad0fbf3c-3fb5-11e7-9b7d-bbebf10ff0bb.PNG)

The grid matches pretty well, but other sim objects don't quite line up.  Here are the tw

[2017-05-23 18:54] jessegreenberg commented on #222
If we shift the "Right Side of PA" column a bit to the right it looks more centered, thought areas dont' quite align with the mockup.  Is this OK @terracoda?

[2017-05-23 18:54] jessegreenberg commented on #222
![new](https://cloud.githubusercontent.com/assets/6396244/26371126/fdd8e4ce-3fb6-11e7-84e3-3b1d229261e8.PNG)

[2017-05-23 18:57] terracoda commented on #222
My mock-up was made from screen shots, and then adjusted in photoshop, more than once. It is not surprising that it might be off a little.

@jessegreenberg, I think your adjustment looks good.

[2017-05-23 19:41] jessegreenberg commented on #222
Great, thanks @terracoda.  The grid has been updated, but descriptions and hotkeys will not work correctly yet, I re-implemented the play area model.

[2017-05-24 10:14] terracoda commented on #222
@jessegreenberg, yep understood.

[2017-05-24 14:14] terracoda commented on #206
I (@terracoda) helped with the visual design of the Keyboard Shortcuts dialog. @arouinfar did the more polished layout that I shared at our last meeting (#263). I think it is very useful to keep a similar look and feel whenever possible, so it's very good that you are aiming to do just that, @melbanyard.

[2017-05-24 14:16] terracoda commented on #263
@arouinfar, I forgot one item.
- use "or" instead of slash in first sub-heading "Grabs / Releases Balloon."

I've updated the [design document](https://docs.google.com/document/d/1vk8_N3GuyC0o_Nl8HpBUu0tvVuWyWQ8FiksexPs_qBk/edit) and the [HTML sample](https://github.com/terracoda/phet-templates/blob/master/base-keyboard-shortcuts.html).

[2017-05-24 14:46] terracoda commented on #257
@terracoda is working in a google doc called [BASE: Charge Views](https://docs.google.com/document/d/1EOeMXgu0Cvqu1lh9WgFp_21enK8Xdy5EI_H1l6tBsvA/edit#heading=h.dutyxmd7brtv) to identify challenges and design descriptions.

[2017-05-25 16:08] jessegreenberg commented on #267
Done in the above commit, though I want to test in several browsers before closing.

[2017-05-25 16:09] jessegreenberg commented on #267
Indeed, very broken in Firefox.

[2017-05-25 16:20] jessegreenberg commented on #267
Problem is in scenery, Firefox iterates over the listener objects differently than chrome.

[2017-05-25 16:20] jessegreenberg commented on #267
It is including things in its enumerable list that Chrome doesn't.

[2017-05-25 16:34] jessegreenberg commented on #267
Working in Chrome, Firefox, Edge, and IE11. Closing.

[2017-05-25 16:34] #267 closed

[2017-05-25 21:11] arouinfar commented on #206
@melbanyard I prefer the styling on #2. It's a bit more minimal and I think it's a good fit with the style used in Keyboard Shortcuts menu. We could add drop-shadows to the key icons to make them look a bit more like the icons in the Keyboard Shortcuts menu, but I think that will look too heavy in this context.

[2017-05-25 21:13] arouinfar commented on #263
Thanks for the feedback @terracoda! Here're some updated mockups with various alignments in the arrow/WASD groups, sorted in order of my personal preference.

![image](https://cloud.githubusercontent.com/assets/8419308/26470875/26a18aac-4154-11e7-90d8-12aa5b73af43.png)
![image](https://cloud.githubusercontent.com/assets/8419308/26470882/2f8679d4-4154-11e7-8dab-6511b8e0db00.png)
![image](https://cl

[2017-05-25 21:38] jessegreenberg commented on #263
These look great @arouinfar, I personally really like the last one "center-aligned to bottom row".

[2017-05-26 19:20] terracoda commented on #263
@emily-phet, I updated the [google design doc](https://docs.google.com/document/d/1vk8_N3GuyC0o_Nl8HpBUu0tvVuWyWQ8FiksexPs_qBk/edit#) to represent 3 very similar versions of the content that we discussed today:
I updated the bolding to what I think we agreed upon and then adjusted the content to have no mention of keys, and one to have heading structure added for the move section.
1. Super condens

[2017-05-26 19:26] terracoda commented on #263
@emily-phet, I think I prefer sticking with the word "key" because that implies you have to press a key. Without it, I feel we should be saying "Press" somewhere, especially for the WASD key section.

I we added a general heading for "Move Grabbed Balloon" then we might want to go back to using the verb "drag" to describe the "normal" move.

[2017-05-26 19:37] terracoda commented on #263
I updated the [html here in my repo](https://github.com/terracoda/phet-templates/blob/master/base-keyboard-shortcuts.html), but haven't published the new version.

[2017-05-26 19:43] emily-phet commented on #206
@melbanyard We discussed the latest designs today. We all prefer the lower panel option (it looks great!). Could you make a version of the lower panel with a thin black line around the white rectangle that contains the "Space to grab or release" text.
Once that's done, we can go ahead and move forward with implementing this design!

[2017-05-26 19:44] melbanyard commented on #206
Can do!
On Fri, May 26, 2017 at 3:43 PM emily-phet <notifications@github.com> wrote:

[2017-05-26 19:58] emily-phet commented on #263
@arouinfar - Thanks! This was very helpful.
In a design meeting today, we decided to move forward with the "center-aligned to bottom row" version. Can you take this version and update the design to include:
- double the padding between the W,A,S,D keys and associated text, and the shift (and associated text) below.
- text formatting and wording changes to the text as indicated at the top of this [

[2017-05-26 20:00] emily-phet commented on #263
@terracoda
- I updated your design doc (with a new section) with wording changes and bolding/underlining as we discussed today. This section has a heading indicating that this is the one for Amy to work on implementing.
- Regarding the use of the word "key" - I came to the same conclusion you did...when I took it out I didn't like it...so I put it back in. The version for Amy to implement includes

[2017-05-26 22:36] terracoda commented on #263
@emily-phet, yes, the HTML version is for @jessegreenberg. It has all the structure. I will make sure it has the same content as your updated version.

[2017-05-27 01:53] melbanyard commented on #206
[BASE_KeyboardVisualCues.pdf](https://github.com/phetsims/balloons-and-static-electricity/files/1033232/BASE_KeyboardVisualCues.pdf)

[2017-05-28 01:49] terracoda commented on #263
@emily-phet, @jessegreenberg , @arouinfar I updated the HTML in [phet-templates/base-keyboard-shortcuts.html](https://github.com/terracoda/phet-templates/blob/master/base-keyboard-shortcuts.html). Here's a screenshot of the rendered page.

@emily-phet, I'm just wondering if we need a comma after the  jump keys?
"J plus S, Jumps close to Sweater."
![base-keyboard-shorcuts](https://cloud.githubuserc

[2017-05-28 02:21] terracoda commented on #258
@emily-phet, except for "Independent Movement for Second Balloon", I think I am on track.

[2017-05-29 12:41] terracoda commented on #206
Thanks @melbanyard, and looks good!

[2017-05-30 13:13] terracoda commented on #257
_**Challenge 1:**_ letting the user know what changes when they select a radio button in the list.

**h3: Charge Views**
- radio label: Show all charges
- radio label: Show no charges
- radio label: Show charge differences

**Interactive Alerts to announce the change on selection**
- All charges shown in this view.
- No charges shown in this view.
- Only charges differences shown in this view.

Mo

[2017-05-30 13:26] terracoda commented on #257
_**Challenge 2:**_ Text of dynamic descriptions
Given the information provided by the interactive alerts in (https://github.com/phetsims/balloons-and-static-electricity/issues/257#issuecomment-304873851), I outlined five questions in the design document for the dynamic descriptions for the Wall, Sweater and Balloon related to what to include in the Dynamic Descriptions in the additional 2 Charge V

[2017-05-30 18:32] jessegreenberg commented on #257
@terracoda I have a slight preference for some of the other styles of alerts like "All charges shown" or "Showing all charges".  Alerts up to now have been more active like "Wall removed",  "Balloon Added", "Sim sound off".  "All charges shown in this view" sounds more like an on-demand description than an alert to me.

[2017-05-30 18:33] jessegreenberg commented on #257
But I do understand if it aligns better with other descriptions.

[2017-05-30 20:46] terracoda commented on #257
@jessegreenberg, good point. Is it the "in this view" part that makes it sound less action-oriented to you? That's the part I was trying to work in.

Do these sound any better?
- Showing all charges in this view.
- Showing no charges shown in this view.
- Only showing charges differences in this view.

Perhaps the heading _"Charge Views"_ and the labels do enough to make is clear that one is just

[2017-05-31 12:50] emily-phet commented on #206
@melbanyard - perfect! I think we're good to go here. Jesse is focused on implementing all the latest designs for BASE over the next few weeks, so we'll get to see this in action soon! Thanks so much for your efforts on this.

[2017-05-31 16:11] terracoda commented on #257
@jessegreenberg, after discussing with @emily-phet, we decided to try the verb "hidden" to emphasize success of the interaction without repeating the label text. So I have 4 options. How do you think these sound? Options 3 and 4 are obviously longer than desired, but may be helpful for some learners.

**Option 1:**
- No charges hidden.
- All charges hidden.
- Pairs of charges hidden.

**Option 2:*

[2017-05-31 16:16] arouinfar commented on #206
Looks great @melbanyard!

[2017-05-31 19:33] arouinfar commented on #263
@emily-phet @terracoda @jessegreenberg I've created an updated mockup based on the feedback in https://github.com/phetsims/balloons-and-static-electricity/issues/263#issuecomment-304374994. I doubled the amount vertical padding between the items in the "Move Grabbed Button" section. Please let me know if that wasn't what was requested.

![image](https://cloud.githubusercontent.com/assets/8419308/2

[2017-05-31 23:43] terracoda commented on #263
@arouinfar, I think @emily-phet meant to put space below the WASD keys only, i.e., above the Shift key. The small white-space above the WASD keys can remain small, consistent with the rest of the spacing because the blocks of text are naturally separated due to the arrangement of the keys.

Otherwise, looks awesome.

[2017-06-01 13:35] terracoda commented on #206
@emily-phet, to be in line with the new visual, I will update the wording for instances of "Space key to let go" to "Space to release" in the non-visual experience.

If this needs further discussion, we may need to open a new issue specifically related to changes in the PDOM.

Again, great work @melbanyard!

[2017-06-01 14:58] terracoda opened #270 "Charg View Challenge: Rubbing on Sweater and Not Picking Up Charges"
Related to issue #257, when "Show charge differences" is selected, one difficult thing to do is to cue the user on how to "find useful places to rub" when the useful areas on the sweater are actually blank "neutral" spaces.

In the _Show all charges_ view we have 3 interactive alerts that describe
1. where to find more pairs of charges
2. when the last negative charges are picked up
3. a reminder

[2017-06-01 16:04] arouinfar commented on #263
Thanks for the clarification @terracoda! Here are two options with increased spacing between the WASD group and the Shift.

![image](https://cloud.githubusercontent.com/assets/8419308/26689013/82447484-46b1-11e7-93f6-35ea2a157372.png)

![image](https://cloud.githubusercontent.com/assets/8419308/26688976/657f97c0-46b1-11e7-8c12-31e088fd46d8.png)

[2017-06-01 17:19] terracoda commented on #263
@arouinfar, I prefer the second with more space.

[2017-06-01 17:19] terracoda commented on #270
Question for @emily-phet, I think it is a good idea to use the words "net charge" it Alert 1, rather than just "charges". I think it helps focus this view on "net charge."

Any thoughts?

[2017-06-01 17:19] arouinfar commented on #263
Me too, @terracoda!

[2017-06-01 17:24] emily-phet commented on #270
@terracoda I like the Alert 1 you have above with "more hidden charges". I agree using "net charge" is a good choice here.

[2017-06-01 17:25] emily-phet commented on #263
@arouinfar Looks great! I like the one with double padding. I think we're good to go here.

[2017-06-01 17:28] terracoda commented on #263
Great! Thanks everyone! Updating #258 checklist.

[2017-06-01 17:45] terracoda commented on #270
@emily-phet, great, and just to be clear, you like "more hidden **pairs** of charges", right :-) ?

[2017-06-01 17:47] emily-phet commented on #257
@terracoda How about "only unpaired charges shown" for the alert when "charge differences" view is selected?

[2017-06-01 17:48] emily-phet commented on #270
@terracoda - yes "more hidden pairs of charges".

[2017-06-01 17:54] terracoda commented on #257
@emily-phet, that could work. So you are thinking these three alerts:

**Option 5:**
- No charges hidden.
- All charges hidden.
- Only unpaired charges shown.

[2017-06-01 18:03] emily-phet commented on #257
@terracoda Yup!

[2017-06-01 18:28] terracoda opened #271 "Charge View Challenge: Interactive Grab Alert"
Related to issue #257, when "Show charge differences" is selected, the information provided upon grabbing the balloon changes slightly.

A side-by-side comparison of the grab alert for all three views is available [here in the design document](https://docs.google.com/document/d/1EOeMXgu0Cvqu1lh9WgFp_21enK8Xdy5EI_H1l6tBsvA/edit#heading=h.2rq0f331igo1).

How do these descriptions sound, @emily-phet?

[2017-06-02 03:02] emily-phet commented on #206
@terracoda This sounds fine to me.

[2017-06-02 20:07] jessegreenberg opened #272 "Unstable versions 1.2.1 and 1.2.2 were deployed with PhET-iO releases"
The last official maintenance release that I am aware of was 1.2.0, which was deployed with https://github.com/phetsims/tasks/issues/818.  PhET-iO releases on May 9 and May 16 also published versions 2.1 and 2.2, which are unstable and include accessibility features that we did not want deployed to production.

@zepumph @jbphet can you help determine what happened?  Did this happen because there i

[2017-06-02 20:28] jessegreenberg commented on #272
I talked with @jbphet, we think there are two possibilities for why this happened.

- The build tools deployed to production because there are both a 1.2 branch and a 1.2-phetio branch.
- In the deployment of 1.2.1 and 1.2.2 in the 1.2-phetio branch, the phetio brand flag might have been omitted.

Unsure of how the phetio build process works, but the second option seems likely.  https://github.com

[2017-06-02 20:56] jessegreenberg commented on #272
1.2.3 was deployed as a maintenance release to fix this.  Thanks for the help @jbphet and @phet-steele.  Closing.

[2017-06-02 20:56] #272 closed

[2017-06-07 20:12] phet-steele opened #273 "Polarization does not seem evenly centered around the balloon"
The red line below shows the approximate electron "center" for the balloon, the point around where I would expect the wall to be polarized. Instead, the green line shows the approximate center of the polarization curvature, which is much lower. In other words, it looks like the bottom of the balloon is polarizing the wall much more than the top of the balloon, even though the balloon has a visuall

[2017-06-07 20:51] ariel-phet commented on #273
@phet-steele I cannot say I have every noticed this issue before, but it does seem incorrect.

@jessegreenberg do you mind taking a look since you have been in this sim quite a bit?

[2017-06-08 15:20] jessegreenberg commented on #273
Sure, I will take a look.

[2017-06-12 19:57] jessegreenberg commented on #273
![using-center](https://user-images.githubusercontent.com/6396244/27051221-8e0aad0a-4f72-11e7-9316-3b9386bc4141.PNG)

Red line is balloon center, green line is the average y position of the balloon's charges.  WallModel is using balloon center to place charges in the wall, it should be placing relative to center of charges.

Even using the red line, the u shape looks too low.

[2017-06-12 20:04] jessegreenberg commented on #273
![capture](https://user-images.githubusercontent.com/6396244/27052740-e8bd315a-4f77-11e7-8c5e-7bacd26d0156.PNG)

Should be fixed in the above commit.

[2017-06-12 20:08] jessegreenberg commented on #273
@phet-steele @ariel-phet can you verify this is fixed?  You can use green line to see vertical charge center with query parameter ```showBalloonChargeCenter```

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-dev.3/balloons-and-static-electricity_en.html?showBalloonChargeCenter

[2017-06-12 21:07] zepumph opened #274 "Publish 1.3.0-phetio"

[2017-06-12 21:44] zepumph commented on #274
https://phet-io.colorado.edu/sims/balloons-and-static-electricity/1.3.0-phetio/wrappers/index/

@jbphet, let me know if you have problems

Closing

[2017-06-12 21:44] #274 closed

[2017-06-13 16:35] jessegreenberg commented on #273
If we add many more charges, it looks like this (just so you can see the U shape of the charges:
![i4 cimgpsh_orig](https://user-images.githubusercontent.com/6396244/27093208-189b1da0-5023-11e7-80ac-4f1947bfb692.png)

@ariel-phet, one thing @phet-steele and I were wondering, does the peak of the 'U' shape need to change depending on how many/where charges are in the balloon?

[2017-06-13 17:01] ariel-phet commented on #273
@jessegreenberg current behavior in https://github.com/phetsims/balloons-and-static-electricity/issues/273#issuecomment-307909372 looks great. I don't think the peak of the U shape needs to be altered from its current behavior.

[2017-06-13 17:13] jessegreenberg commented on #273
Sounds good.  Should this get patched into a maintenance release or OK to let this go out next time this is deployed off of master? https://github.com/phetsims/balloons-and-static-electricity/commit/d99656fe3c5f97ac8f013971046a0001f155547f included one new function, spot checking seems sufficient.

[2017-06-13 18:49] ariel-phet commented on #273
@jessegreenberg I think a maintenance release would be appropriate since it is actually buggy physics.

[2017-06-13 22:30] jessegreenberg commented on #273
Maintenance RC spot check task was created in https://github.com/phetsims/tasks/issues/861.

[2017-06-14 22:33] jessegreenberg opened #275 "Add cue when trying to move non-grabbed balloon"
In an email, @emily-phet said

In email discussion, we agreed this was a good idea, but discovered it would be difficult to determine if a screen reader user was intentionally using the "move" keys on the non-grabbed balloon to read other content in the DOM.

However, if NOT using a screen reader, we do know when the user is focused on the non-grabbed balloon and trying to move it.

@terracoda sai

[2017-06-15 00:00] terracoda commented on #275
@jessegreenberg and @emily-phet, I'll just add that the hints are slightly different, but can be delivered at the same time regardless of technology being used.

**For non-visual users using a screen reader and keyboard** they hear that they are on the "Grab Yellow Balloon" button, and they will likely know intuitively from previous experience with web pages that they can press Space or Enter to a

[2017-06-15 14:20] terracoda commented on #256
Oops, I didn't close. This issue is tracked in #206 and #275.

[2017-06-15 14:20] #256 closed

[2017-06-15 14:22] terracoda commented on #275
@emily-phet, we could also provide the visual cue if a user presses any of the WASD keys while their keyboard focus is on the Grab button.

I'm not sure we could provide an audible alert (accessible screen reader users) because the letter keys and the Arrow keys are reserved for other screen reader functions. Screen reader users do get other information (as explained) from the content in and struc

[2017-06-15 14:23] terracoda commented on #275
Visual design of the visual hint is in #206.

[2017-06-15 19:07] terracoda commented on #275
@emily-phet, what do you think? Do you think further changes to the wording of the on-demand help text is warranted?

It could be useful for new screen reader users, or screen reader users who do not understand what to do with, "Grab Yellow Balloon, button".

[2017-06-16 19:48] zepumph opened #276 "PhET-iO Fuzz Test Error"
[code]

[2017-06-16 20:15] jessegreenberg commented on #276
Hmm, I can't find setAriaLabelledByElement in BASE.  Is this in a branch?  Were new SHAs of BASE built against old Scenery SHAs?

[2017-06-16 20:32] zepumph commented on #276
I was in the wrong branch, sorry for the trouble.

[2017-06-16 20:32] #276 closed

[2017-06-19 18:54] phet-steele commented on #273
Nice, thanks @jessegreenberg. Looks to be running well.

[2017-06-19 18:54] #273 closed

[2017-06-26 22:25] zepumph opened #277 "Shouldn't accessibility features be hidden behind a query parameter?"
@phet-steele found that in [BASE 1.3.1-phetio](https://phet-io.colorado.edu/sims/balloons-and-static-electricity/1.3.1-phetio/wrappers/index) published to the phet-io website, accessibility is enabled without a query parameter. @jessegreenberg and I think it is probably best to hide that under `?accessibility` and Georgia Tech and others can add that parameter in if they want the incomplete access

[2017-06-26 22:36] jessegreenberg commented on #277
Thanks @zepumph! In addition, we discussed that in general accessibility features shouldn't be enabled until publication ready so that this doesn't continue to happen for other sims that are getting deployed out of master for major/minor releases or for phet-io releases.  I will hide accessibility under a query parameter in BASE now.

[2017-06-26 22:37] jessegreenberg commented on #277
Hidden in the above commit.

[2017-06-30 20:37] zepumph opened #278 "Velocity Property does not reset"
Found from PhET-iO work with sonification.

`balloonsAndStaticElectricity.balloonsAndStaticElectricityScreen.balloonsAndStaticElectricityModel.yellowBalloon.velocityProperty`

This property will not reset once the balloon hits the sweater and stops.  @jbphet and I will see who gets to this first, and then do a maintenance release.

[2017-07-03 21:20] jessegreenberg commented on #278
I also ran into this for other a11y stuff.

[2017-07-03 21:23] jessegreenberg commented on #278
In BalloonModel.applyForce, if balloon center is in charged area of sweater, this is called

[code]

The conditional looks like it is supposed to be catching this, but should be ```!```ified?

[2017-07-03 21:24] zepumph commented on #278
@jessegreenberg feel free to go for it, I only understood the above commit minimally. Let me know if you want my help.

[2017-07-03 21:25] jessegreenberg commented on #278
Change applied in the above commit, @zepumph or @jbphet does this seem correct and then proceed with maintenance release if necessary?

[2017-07-03 21:26] jessegreenberg commented on #278
The velocity should also get reset when the balloon is picked up.

[2017-07-03 21:31] jessegreenberg commented on #278
Looks like it is getting reset when released.

[2017-07-03 21:32] zepumph commented on #278
Makes sense to me, and things look good here. Thanks!

[2017-07-03 21:37] jessegreenberg commented on #278
Great, thanks @zepumph!

[2017-07-03 21:48] jessegreenberg commented on #206
@terracoda @emily-phet @arouinfar the mockup in https://github.com/phetsims/balloons-and-static-electricity/issues/206#issuecomment-304418947 has keys without the shadow used in the keyboard help dialog.  Is they intentionally different or should they be the same as the help dialog keys?

[2017-07-03 22:07] jbphet commented on #278
This change should be rolled into the 1.3-phetio release branch and a maintenance release should be done.  Leaving assigned to myself and @zepumph, and whoever gets to it first can do it.

[2017-07-03 22:44] zepumph commented on #278
All done, https://phet-io.colorado.edu/sims/balloons-and-static-electricity/1.3.4-phetio/wrappers/index/

I'll tell Brianna about this new version. Closing. Thanks All!

[2017-07-03 22:46] #278 closed

[2017-07-04 02:46] terracoda commented on #206
@jessegreenberg good catch.
Mel's visual design was definitely aiming to make the letter keys look like keys on a keyboard (and more inline with the keyboard help dialog), but it is true the final mock-up that was agreed on does not have the drop shadow. I'm not sure if this was intentional due to the proximity to the Arrows.

@jessegreenberg, is the drop shadow implemented as a separate piece? Wo

[2017-07-04 02:52] terracoda commented on #206
@emily-phet, for a quick comparison, @jessegreenberg has implemented the drop shadow on the Space key in the latest version, and I think it looks good.

[2017-07-04 17:22] emily-phet commented on #206
@terracoda I agree it makes sense to keep the visual design consistent between visual cues and the keyboard help dialog. Let's do that unless it causes a problem.

[2017-07-04 17:26] terracoda commented on #206
Thanks @emily-phet!
@jessegreenberg, please implement the WASD keys cue with a drop shadow, and we go from there.

[2017-07-05 16:21] jessegreenberg commented on #206
Sounds good!

[2017-07-05 17:51] zepumph commented on #277
The maintenance release went out. 1.3.3 is live, but there was another release yesterday too for a small bug about the balloon velocity. Here is the latest version. Closing

https://phet-io.colorado.edu/sims/balloons-and-static-electricity/1.3.4-phetio/balloons-and-static-electricity_en-phetio.html?phetioStandalone&phetioValidateTandems=true&accessibility

[2017-07-05 17:51] #277 closed

[2017-07-06 14:51] terracoda commented on #82
@jessegreenberg, I second this question. Is it intentional that the grabbed Green balloon does not move to the foreground?

[2017-07-06 15:08] terracoda opened #279 "Yellow and Green balloon stick to the same location on Sweater?"
Should it be possible for the two balloons to stick to the exact same spot on the sweater?
Adding and removing the wall has no effect. Is this just an optical illusion of the 2-D representation? Are the balloons actually beside each other on the sweater? Obviously, the yellow balloon is not sticking to the green balloon, but it is difficult to tell in this case?

@jessegreenberg could this behavio

[2017-07-06 15:27] jessegreenberg commented on #82
Good question @terracoda, I don't know if this was a decision during the port or perhaps the sim was ported before Scenery supported moving things to the foreground?

@arouinfar @ariel-phet do you have any thoughts on this issue?

[2017-07-06 15:35] jessegreenberg commented on #279
Good question @terracoda, I am not sure if this is an issue.  The balloons are at the same location.  In http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.0-rc2/balloons-and-static-electricity_en.html (from https://github.com/phetsims/balloons-and-static-electricity/issues/67) the charged balloons can still push each other off the sweater so this wasn't happening.

I think thi

[2017-07-06 16:33] arouinfar commented on #82
@jessegreenberg I think moving the selected balloon to the foreground makes a lot of sense. I wasn't a part of the design decisions made for the port, but I would be a little surprised if this was an intentional change.

[2017-07-06 16:54] terracoda commented on #279
@jessegreenberg, @ariel-phet, @arouinfar I'm trying to understand the locations of the balloons, so I can describe it accurately. The yellow balloon is not "on the green balloon", but maybe "near" it or "beside" it.

[2017-07-06 18:43] jessegreenberg commented on #279
The current description strategy describes things relative to the play area, wall, and sweater. If the yellow balloon is "sticking to lower right side of sweater", and green balloon is "touching lower right side of sweater" would that  naturally be descriptive enough to indicate that the two balloons are near each other?

[2017-07-06 20:13] jessegreenberg commented on #279
@terracoda, @ariel-phet @arouinfar and I played with the sim and reproduced the case you pointed out in your screenshot.

We discussed trying a a solution where when the balloons overlap on release we bump the one on top to the left a little bit so it is clear that they are  not in the same location.

This would not apply a force on the balloon, nor would the top balloon pick up charges as it move

[2017-07-06 22:10] arouinfar commented on #279
Thanks for summarizing @jessegreenberg!

[2017-07-07 00:07] terracoda commented on #279
@jessegreenberg, re https://github.com/phetsims/balloons-and-static-electricity/issues/279#issuecomment-313484207, yes, that is what I was thinking about. But more in the case where a release happens. Once a balloon is released, the user reads both descriptions, and both descriptions read as "sticking to lower right side of sweater".

During interaction, the user will likely only get information a

[2017-07-07 16:44] jessegreenberg commented on #279
Sounds good @terracoda thanks for the description of your thoughts on describing this case.

[2017-07-07 16:47] jessegreenberg commented on #279
The balloon will shift a little bit when released while overlapping the sweater.  The balloons can also overlap in the play area (while neutral) and when sticking to the wall.

@arouinfar @ariel-phet  should the balloon also shift in those cases?

Overlapping in these cases has always been possible (at least in the HTML5 versions).

[2017-07-07 19:02] arouinfar commented on #279
@jessegreenberg overlapping the balloons on the sweater is a little problematic because it creates the illusion that the balloons are stuck to one another, rather than the sweater. I think the wall could be perceived as having some depth, meaning overlapped balloons would be next to one another. I wouldn't be opposed to vertically bumping a balloon along the wall, but I don't see it as being neces

[2017-07-10 13:37] terracoda commented on #279
@jessegreenberg, I agree with @arouinfar. The wall has hidden depth where the sweater does not, so not necessary to shift balloons there - only on the sweater.

[2017-07-10 20:05] ariel-phet commented on #82
@jessegreenberg not an intentional change to the best of my knowledge. Again this was one of the first sims to be converted, so there is some vestigial weirdness. Feel free to make this change as it seems like a superior and more consistent UX

[2017-07-10 20:13] ariel-phet commented on #279
Agreed with @arouinfar and @terracoda

[2017-07-12 15:48] terracoda opened #280 "Small oscillating balloon movement in two-balloon scenarios? Is it a bug?"
In two-balloon scenarios when one balloon with a small amount of charge (2-5 charges) repels balloon and goes to wall, it will return to sweater (depending on where the other balloon is), and when it returns it travels slowly all the way back to left edge, bounces back a little and then sticks to lower left side of sweater, or lower left arm of sweater. It may oscillate a little on the sweater bef

[2017-07-12 15:51] terracoda commented on #280
My testing was made in version [1.3.0-dev.6](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-dev.6/balloons-and-static-electricity-a11y-view.html).

[2017-07-12 15:59] terracoda commented on #280
Description question for @ariel-phet, since the yellow balloon does not stay at the wall in the above case, is actually "sticking" at any point before it moves? Or does it just look like it is sticking?

I am asking because, I think in the model we might need to add a threshold for level of charge to more accurately describe when a lightly charged balloon is actually "Sticking to wall."

[2017-07-12 16:08] jessegreenberg commented on #280
I just reproduced the behavior, I think this is correct @terracoda, but I am not entirely sure. The yellow balloon moves across the bottom of the screen because it is repelled by the green balloon. When it hits the left edge, the x component of the velocity is set to zero, but it isn't quite on the sweater yet. It moves back up and onto the sweater because the attractive force from the sweater is

[2017-07-12 17:26] arouinfar commented on #280
@jessegreenberg @terracoda I also reproduced this issue, and I believe this is the correct behavior. The only thing I would add to @jessegreenberg's explanation is that the yellow balloon first moves away from the wall because it is attracted by the sweater, but as it gets closer, the repulsion from the other balloon begins to compete.

[2017-07-12 17:57] jbphet opened #281 "mouse and touch areas for balloons should be adjusted"
The mouse and touch areas for the balloons appear to be the rectangle that encloses the image.  This causes issues in some situations, such as when grabbing the green balloon when it is near the yellow balloon.  The following animation illustrates.

![base02](https://user-images.githubusercontent.com/3082831/28132169-47c636cc-66f9-11e7-8f6a-7d19f43362ca.gif)

[2017-07-12 19:22] jessegreenberg commented on #281
Thanks @jbphet, i have also noticed this.  Ill can look into this one.

[2017-07-12 19:45] jessegreenberg commented on #281
It looks like if you specify touch/mouse areas that are smaller than the Node's bounds there is no change in the size of the clickable bounds.

[2017-07-12 19:46] jessegreenberg commented on #281
Maybe we will need to draw some balloons with Scenery to fix this!

[2017-07-12 20:10] jessegreenberg commented on #281
Over skype @jonathanolson recommended

[2017-07-13 11:59] terracoda commented on #280
@arouinfar and @jessegreenberg, thanks for the explanation. I can't reproduce this behaviour on the upper part of the sim. The balloon just sticks to the sweater on the first pass. Is there a reason for the difference?

[2017-07-13 14:53] jessegreenberg commented on #280
The model works by applying a force on the balloon until its center is on the charged area of the sweater. You can see the charged area with query parameter "showSweaterChargedArea":

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-dev.6/balloons-and-static-electricity-a11y-view.html?showSweaterChargedArea

So its just about sweater location, along the bottom th

[2017-07-13 17:29] terracoda commented on #280
Thanks @jessegreenberg for explaining the charged area of the sweater!
Now, I just need to describe this behaviour.

[2017-07-18 16:52] jbphet commented on #281
Definitely an improvement.  I spent a few minutes seeing how hard it would be to make the bottom portion match more closely, but because `ellipticalArcTo` exists but is not implemented in `Shape` it seems like this would be a bit tricky and thus not worth the effort at this time.  Thanks @jessegreenberg, closing.

[2017-07-18 16:52] #281 closed

[2017-07-18 18:05] jessegreenberg opened #282 "Fuzz error"
[code]

[2017-07-18 18:06] jessegreenberg commented on #282
Fixed in the above commit.

[2017-07-19 13:31] terracoda commented on #82
@jessegreenberg, when the grabbed balloon moves to the foreground, I think it is fine that it does affect the order of the balloons in the Parallel DOM. However, that said, this is an interesting accessible design question. I would want to watch this in interviews to see if a static order makes sense to both non-visual and visual keyboard users.

FYI, if it is easier programmatically to make the o

[2017-07-19 17:13] jessegreenberg commented on #82
Static vs. dynamic order in the DOM doesn't make much of a difference in terms of difficulty to implement.

But I do prefer to keep the order the same in this case. I think it could be confusing if the user tabbed to the yellow balloon then tabbed to the green balloon to pick it up and then had to tab to the yellow balloon again because the green balloon was moved in front of the yellow one.

[2017-07-19 19:54] terracoda commented on #82
@jessegreenberg, I agree for the same reasons that the balloon order should remain static in the PDOM.

[2017-07-19 22:43] #282 closed

[2017-07-19 22:44] jessegreenberg commented on #280
@terracoda can this issue be closed?

[2017-07-19 22:49] jessegreenberg commented on #82
In the above commit I fixed a scenery problem where adding and removing nodes from the display caused blur event listeners to fire because the browser triggered the blur event if the dom element had focus while it was being removed from the document. In BASE, this meant that moving a balloon to the forground was causing it to lose focus.

[2017-07-20 12:32] terracoda commented on #280
@jessegreenberg, yes, closing this issue.
Thanks for the explanation.

[2017-07-20 12:32] #280 closed

[2017-07-20 16:11] jessegreenberg commented on #78
There is an explicit threshold that prevents a slowly moving balloon from picking up charges.

I am not too sure what this means, and I haven't seen any spontaneous charge movement while digging around in here for a11y.  @arouinfar OK to close this?

[2017-07-20 16:53] arouinfar commented on #78
👍

[2017-07-20 16:53] #78 closed

[2017-07-24 17:26] jessegreenberg opened #283 "Reduce threshold for balloon speed to pickup charges"
@emily-phet and @jessegrenberg were wondering why there is a speed threshold for picking up charges off the sweater.  In order to pick up charges from the sweater, the balloon must move fast enough.

Actually, this is related to a recently closed issue #78.  There is no documentation about why this threshold is there.  Can the threshold be removed or reduced so that it is easier for everyone to pi

[2017-07-24 19:19] arouinfar commented on #283
Actually, I'm not sure why there's a velocity threshold to pick up charges @jessegreenberg . Maybe @ariel-phet has an idea why that's the case.

[2017-07-24 19:37] ariel-phet commented on #283
@jessegreenberg @emily-phet @arouinfar I was not around when the model was decided. However, I would think some velocity threshold makes sense. It does require a certain amount of rubbing/friction to get significant charge transfer. So in terms of connection to the real world, one does need to rub a balloon fairly vigorously on a sweater to get the effect we are depicting.

[2017-07-24 21:00] emily-phet commented on #283
Is it pedagogically an issue if a student does not have to rub vigorously in order to pick up charges? Right now they don't have to rub vigorously, they just have to move faster than...slow.

I'd like to propose that we change this to any motion (beyond what may have been an accident up on balloon selection) picks up a charge.

"Any motion picks up a charge" would make the behavior of the visual r

[2017-07-24 21:15] ariel-phet commented on #283
@emily-phet seems fine to me.

[2017-07-24 22:37] emily-phet commented on #283
@ariel-phet Thanks!

@jessegreenberg Can you make a version of BASE that has an intermediate threshold, and let me take a look? I'm not going to be too picky about this, I think dropping the threshold any amount will be an improvement wrt the charge pickup behavior.

[2017-08-04 17:24] jessegreenberg opened #284 "continuous testing error"
[code]

[2017-08-04 17:25] jessegreenberg commented on #284
placeholder string added, closing.

[2017-08-04 17:25] #284 closed

[2017-08-07 14:46] samreid opened #285 "Spurious text in politeElementProperty"
Starting up Balloons and Static Electricity with the json phet-io log, I see the following messages before I interact with the sim:

![image](https://user-images.githubusercontent.com/679486/29031833-bafb35a4-7b4c-11e7-901a-8c9dc65277f2.png)

In particular, I'm worried about why it keeps switching back and forth between "" and "Released".  @jessegreenberg can you please investigate?

[2017-08-07 14:56] samreid commented on #235
Fixed in the preceding commit, closing.

[2017-08-07 14:56] #235 closed

[2017-08-07 16:21] jessegreenberg commented on #285
Thanks, we shouldn't be seeing this on startup.

By default, the previous alert content is cleared from the HTML element with the ```aria-live``` attribute so that if the same alert is announced twice the screen reader will still read it. For instance, in a stream of alerts like

a screen reader will likely ignore the second two alerts unless we empty the content first.

[2017-08-07 16:51] jessegreenberg commented on #285
The above commit should prevent alerts from coming through during startup. But when politeElementProperty changes, we will still generally see it toggle to "", then to "Whatever alert comes through the AT".  @samreid is this OK?

[2017-08-07 17:48] samreid commented on #285
@jessegreenberg it seems like the transient `""` is an implementation detail that shouldn't be part of the public API or data stream.  Have you considered using an Emitter as an alternative to Property?  If so, would it be possible only to emit the text changes (or when it is intentionally set to `""`, but to avoid emitting when it is set to `""` as a transient?

Alternatively, it may be nice to h

[2017-08-07 18:38] jessegreenberg commented on #285
@samreid sure that makes sense, I'll take a look at clearing without updating the Property.

[2017-08-07 19:12] jessegreenberg commented on #285
This is pretty straight forward.  Is it OK that the Property ```oldValue``` is usually ```""```?

[2017-08-07 19:18] jessegreenberg commented on #285
Handled in the above commit, when an alert comes through it looks like this in the formatted data stream:
<img width="1190" alt="screen shot 2017-08-07 at 1 12 15 pm" src="https://user-images.githubusercontent.com/6396244/29042044-93ccc5c6-7b72-11e7-8203-f60c5b6e2023.png">

We shouldn't see things like
```ariaHerald.politeElementProperty changed { "oldValue": "My alert", "newValue": "" }```
anymor

[2017-08-07 22:19] samreid commented on #285
Is the politeElement ever being "cleared" by setting the value to `""`?  I'm not asking about a transient value before another message comes, but setting the state to be blank more semi-permanently (if nothing is happening)?

[2017-08-07 22:21] samreid commented on #285
Also, in the commit above I cannot see where the `politeElementProperty` is no longer receiving the `""` value, is there another commit that isn't linked to this issue?

[2017-08-07 22:33] jessegreenberg commented on #285
Yes, its possible.  AriaHerald has functions like ```clearAssertive``` and ```clearAll``` that explicitly set the content to ```""``` when necessary.  ```AriaHerald.announcePolite( "" )``` will have the same effect.

In https://github.com/phetsims/scenery-phet/commit/37bf8502c5f70a2e3a1fd7adae50020b7546b321, we are clearing the old HTML content directly without going through the Property so that i

[2017-08-07 22:52] samreid commented on #285
I see, it is no longer resetting.  All seems well! Closing.

[2017-08-07 22:52] #285 closed

[2017-08-15 16:02] jessegreenberg opened #286 "Only alert "still moving" when the balloon is moving slowly"
@terracoda mentioned that often the "still moving" alert should only be read when the balloon is moving slowly.  At the moment, it is always read after a time delay of continuous movement, but that gives the impression that the balloon is sometimes moving more slowly than it is.

[2017-08-16 02:13] jessegreenberg commented on #286
Fixed in the above commit!

[2017-08-16 02:13] #286 closed

[2017-08-16 02:14] jessegreenberg commented on #275
@terracoda @emily-phet what is the status of this issue?  It is still relevant with the latest design doc?

[2017-08-16 02:15] jessegreenberg commented on #271
@terracoda is this issue still relevant?  Or has the wording been settled in the new design document?

[2017-08-16 02:16] jessegreenberg commented on #270
@terracoda can this issue be closed?  Has this been reflected in the design document?

[2017-08-16 02:17] jessegreenberg commented on #269
Thanks for testing @terracoda.  Accessible content has been almost entirely reimplemented since 1.1.6.

These issues in particular should no longer be a problem, closing.

[2017-08-16 02:17] #269 closed

[2017-08-16 02:18] jessegreenberg commented on #261
@jbphet there is now a 1.3-phetio, is this issue still relevant?

[2017-08-16 02:19] jessegreenberg commented on #249
@terracoda what is the status of this issue?  Can it be closed?  Have these changes been reflected in the design document?

[2017-08-16 02:21] jessegreenberg commented on #238
Thanks all, this is no longer an issue.  Accessible content has been reimplemented since this issue was created, there are no 'blank' alerts coming through the alert queue any more.

[2017-08-16 02:21] #238 closed

[2017-08-16 02:25] jessegreenberg commented on #230
We have done a lot of work to address this issue.  "UtteranceQueue" to manage all alerts with phet-core/Timer and allows us to classify alerts so that only the most up-to-date alert is read. AriaHerald creates an abstraction for sending alerts to assistive technology.  We are using step in the sim to make sure that the alerts are being sent appropriately during continuous interaction.

These will

[2017-08-16 02:25] #230 closed

[2017-08-16 02:26] jessegreenberg commented on #228
This is no longer an issue, accessible content has been reimplemented since this issue was created.

[2017-08-16 02:26] #228 closed

[2017-08-16 02:27] jessegreenberg commented on #257
@terracoda the alerts for the charge view radio buttons have been implemented.  Can this be closed?

[2017-08-16 02:27] jessegreenberg commented on #226
This is no longer an issue, its all coming through alerts now.

[2017-08-16 02:27] #226 closed

[2017-08-16 02:34] jessegreenberg commented on #206
@melbanyard  @terracoda @emily-phet @arouinfar this has been implemented in http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.1/balloons-and-static-electricity_en.html?accessibility

Can you please review and let me know if you have any thoughts or concerns?

[2017-08-16 02:37] jessegreenberg commented on #64
Hmm, good point, Ill take a look at this.

[2017-08-16 02:39] jessegreenberg commented on #64
At the moment, it looks like model.wallWidth is only used privately in BalloonsAndStaticElectricityModel.

[2017-08-16 02:42] jessegreenberg commented on #64
And I actually don't see any usages of model.wall.width.

[2017-08-16 02:49] jessegreenberg commented on #64
It looks like height is also not used?

[2017-08-16 02:56] jessegreenberg commented on #64
[code]

80 happens to be the width of the wall.

[2017-08-16 03:01] jessegreenberg commented on #64
I removed model.wall.height, and replaced model.wall.width with model.wallWidth, so variables should be consistent now. Closing.

[2017-08-16 03:01] #64 closed

[2017-08-16 03:02] jessegreenberg commented on #198
This is no longer an issue, accessibility has been reimplemented since this issue was created. Closing.

[2017-08-16 03:02] #198 closed

[2017-08-16 03:04] jessegreenberg commented on #187
Since the arrow keys now move the balloon and don't navigate away, this is no longer an issue. Closing.

[2017-08-16 03:04] #187 closed

[2017-08-16 03:13] jessegreenberg commented on #67
This is no longer an issue in master or the published version:
https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html

Going through the steps in the original issue comment, the balloon will be forced off to the side but it doesn't jump without animation.

Closing.

[2017-08-16 03:13] #67 closed

[2017-08-16 03:14] jessegreenberg commented on #183
I think we have come to accept this, and in general we are using custom alerts when we need things to be read at a particular time. Closing.

[2017-08-16 03:14] #183 closed

[2017-08-16 03:16] jessegreenberg commented on #72
These assets were removed, and this issue should have been closed long ago. Closing.

[2017-08-16 03:20] jessegreenberg commented on #72
But this issue was originally about missing image assets. It looks like the balloons are still missing from assets/.  @arouinfar do you know if we can find these somewhere?

[2017-08-16 04:11] terracoda commented on #275
@emily-phet, without user testing with keyboard users, I don't think we need to adjust what we have implemented, i.e., showing the visual cue on focus, and the screen help text on-demand.

[2017-08-16 04:29] terracoda commented on #270
@jessegreenberg, yes this is reflected in the design document. Closing issue!

[2017-08-16 04:29] #270 closed

[2017-08-16 04:33] terracoda commented on #271
@jessegreenberg, yes this main part of the alerts has been reflected in the design document, and the "sticking state" is no longer relevant as we just changed that yesterday. Closing this issue.

[2017-08-16 04:36] terracoda commented on #275
@jessegreenberg, the idea behind this issue is not reflected in design documents.

[2017-08-16 04:39] terracoda commented on #249
@jessegreenberg, decisions reflected in design document. Closing this issue.

[2017-08-16 04:39] #249 closed

[2017-08-16 04:41] terracoda commented on #257
@jessegreenberg, yes. Closing.

[2017-08-16 04:41] #257 closed

[2017-08-16 04:49] terracoda commented on #206
@jessegreenberg, I think the implementation look great. Regarding function, the balloon is not always releasing correctly. I sometimes still have dotted grabbed line after release, or the balloon does not actually release and move, just stays grabbed.

[2017-08-16 15:46] jbphet commented on #261
Nope, this is resolved.  Thanks for the ping.  Closing.

[2017-08-16 15:46] #261 closed

[2017-08-16 16:32] arouinfar commented on #206
@jessegreenberg I really like it! I tested it out in latest Mac/Chrome, and I wasn't able to reproduce the issues described by @terracoda.

[2017-08-16 16:34] arouinfar commented on #72
@jessegreenberg BASE predates me, so I don't know who would've created the balloon assets, but maybe @ariel-phet has some idea.

[2017-08-16 16:36] arouinfar commented on #72
I didn't see any BASE-related artwork backed up on Drive.

[2017-08-16 16:41] pixelzoom commented on #72
Perhaps the BASE artwork lives in Unfuddle, since it was originally a Java sim?

[2017-08-16 16:42] pixelzoom commented on #72
In Unfuddle SVN, trunk/simulations-java/simulations/balloons/assets/, I see:

balloon-meg.gif
sweater-300x436.gif

[2017-08-16 16:44] arouinfar commented on #72
Good idea @pixelzoom, but I don't think those are the assets we're looking for
![sweater-300x436](https://user-images.githubusercontent.com/8419308/29374745-cdf281f6-826f-11e7-8acf-1df347c0c02a.gif)
![balloon-meg](https://user-images.githubusercontent.com/8419308/29374744-d7a156f0-826f-11e7-8d1d-3867eeec8409.gif)

[2017-08-17 00:55] terracoda commented on #206
@jessegreenberg, I was using FF 54.0.1 64 bit on Mac OS Sierra 10.12.3. The balloon only releases if I keep holding Space down, or if I tab away. The visuals look great, though.

[2017-08-23 20:23] jessegreenberg opened #287 "ARIA application role in Firefox"
In https://github.com/phetsims/a11y-research/issues/52, we are thinking about trading our support of IE11 with Firefox for JAWS.

BASE sounds great with JAWS + Firefox but the balloon is not movable. Lets figure out why.

Here is a JSFiddle with the application role:
https://jsfiddle.net/3j6wuepf/

When a key is pressed while focus is on the div, we should se the keycode in the readout. This much

[2017-08-23 20:25] jessegreenberg commented on #287
JAWS + IE11 combination works great while picking up the balloon.

[2017-08-23 20:42] jessegreenberg commented on #287
Here is a jsfiddle where we create the application role more dynamically, will this work with JAWS?

[2017-08-23 20:45] jessegreenberg commented on #287
It works.

[2017-08-23 20:47] jessegreenberg commented on #287
So does this one where we send focus to the application element.
https://jsfiddle.net/3j6wuepf/8/

[2017-08-23 21:05] jessegreenberg commented on #287
It requires a name in the accessibility tree, if I give the application a label it works as it does in IE11.
[code]

[2017-08-23 21:06] jessegreenberg commented on #287
Closing.

[2017-08-23 21:06] #287 closed

[2017-08-23 21:35] jessegreenberg opened #288 "Performance is bad in Firefox with JAWS"
Performance is pretty bad with JAWS and Firefox.  It isn't great with just Firefox. My guess is that this is because of *many* synchronous DOM updates that are happening outside of animation frames, including events an content updates.

@jonathanolson described this a bit in https://github.com/phetsims/john-travoltage/issues/162, but it wasn't a noticeable problem because that sim was so much more

[2017-08-25 23:28] jbphet commented on #204
This has been done and has gone through the QA process (see https://github.com/phetsims/tasks/issues/777).  We've been using the phet-io versions for sonification wrappers for a while now and it's working fine.  Closing.

[2017-08-25 23:28] #204 closed

[2017-08-28 16:36] ariel-phet commented on #72
@arouinfar @jessegreenberg - my guess is the balloons were drawn by Noah P.

Perhaps the easiest thing would be to get Cheryl to redraw the balloons so we have a current .ai file

My guess is she will be able to reproduce these extremely quickly.

[2017-08-28 20:17] arouinfar commented on #72
@ariel-phet I created a task for Cheryl to re-draw the balloons (referenced above), so unassigning myself.

[2017-08-30 23:14] jessegreenberg commented on #201
These issues were addressed in other issues in this repo.

[2017-08-30 23:18] jessegreenberg commented on #201
@samreid I believe this issue can be closed.  balloons-and-static-electricity was instrumented for PhET-iO, went through QA, and was published since this issue was opened.  Before an accessible version of BASE is published, it would be great to review the new features and investigate how they integrate with phet-io, but there is still work to be done then and I feel that a new review would be nece

[2017-08-30 23:18] #201 closed

[2017-08-31 01:40] samreid commented on #201
Sounds good, thanks!

[2017-09-06 23:48] jessegreenberg commented on #283
@emily-phet this version cuts the threshold speed for picking up charges in half, could you please take a look?

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.2/balloons-and-static-electricity_en.html?accessibility

[2017-09-06 23:50] jessegreenberg commented on #271
Based on comment https://github.com/phetsims/balloons-and-static-electricity/issues/271#issuecomment-322664011, I think this issue can be closed.

[2017-09-06 23:50] #271 closed

[2017-09-07 00:14] jessegreenberg commented on #206
Alright, thanks everyone, I think this is all set!  I will track the bug mentioned by @terracoda in a new issue.

Closing.

[2017-09-07 00:14] #206 closed

[2017-09-07 00:15] jessegreenberg opened #289 "Enter key doesn't work to release balloon"
Mentioned in https://github.com/phetsims/balloons-and-static-electricity/issues/206#issuecomment-322939208.

[2017-09-07 00:16] jessegreenberg commented on #289
Probably caused by https://github.com/phetsims/molecules-and-light/issues/152.

[2017-09-07 14:33] terracoda opened #290 "Missing PDOM items in dev version 1.4.0-dev.1"
Just happened to notice that a few things are missing from the PDOM in version 1.4.0-dev.1, so just checking to make sure they are in the next release which I think you are working on, @jessegreenberg.

Using VO with Safari on MacOS X 10.12.3

- [x] Wall button missing on-demand help text.
- [x] Wall button's label content seems to be wrapped in a p-tag. The p-tag is not necessary.
- [x] Two-ballo

[2017-09-07 15:31] terracoda opened #291 "Balloon location needs preposition change: "At center" not "On center""
Noticed minor mistake in the description string for the balloon's location when it is in the center of the open Play Area. In version 1.4.0-dev.1, the balloon is described as "On center of Play Area," which does awkward to me.

All locations are described using only "at" and "on". See design doc [Attractive State & Location Pattern](https://docs.google.com/document/d/1WNVq5_-Hc9LSdeZVSn2edlwYwpHtG

[2017-09-07 15:33] jessegreenberg commented on #290
Thanks @terracoda, I will work on this before the next version.

[2017-09-07 16:15] terracoda commented on #290
@jessegreenberg, and just to be clear the potential alternatives for the control panel are low priority. I think you and I should discuss that first.

[2017-09-08 15:33] jessegreenberg opened #292 "Sticking vs touching descriptions"
A11y meeting 9/8/16:

Lets remove "sticking" and "touching" when balloon is on the wall. On the wall will always be classified as "At wall", even when charge is neutral.

Reason is that there are cases when a charged balloon is forced against a wall from the other balloon when it has charge, but there is not enough induced charge in the wall to make it "stick".

[2017-09-08 17:00] jessegreenberg commented on #292
It looks like the description for on the sweater can either be "touching" or "sticking" as well. @terracoda mentioned it should only ever be "sticking" or "on" the sweater.

[2017-09-08 17:03] jessegreenberg commented on #292
This means that "touching" will never be used in the sim.

[2017-09-08 17:13] jessegreenberg commented on #292
Fixed in the above commit, except for the scene summary. The way scene summary descriptions are implemented should be changed so that it pulls directly from BalloonDescriber, WallDescriber, and SweaterDescriber.

[2017-09-08 17:32] jessegreenberg commented on #292
Ah, they were different because of capitalization.

[2017-09-08 17:52] terracoda commented on #292
@jessegreenberg, that is correct "Touching" will no longer be used in the sim.

And I was just checking the design document, and we already removed "Attractive state" from all the Grab Alerts, so I think this change will only affect scene summary, balloon dynamic descriptions, and balloon releases that end up at the wall.

[2017-09-08 18:15] jessegreenberg commented on #292
Sounds good, that is what I am seeing too.  Done in above commits, closing.

[2017-09-08 18:15] #292 closed

[2017-09-08 18:18] jessegreenberg commented on #291
Thanks @terracoda, we could do either.  Changing all to  "At" is the simplest solution, but not  substantially so.  What do you think is best?

[2017-09-08 18:25] terracoda commented on #291
I like it best with the two prepositions, "at" for center locations and "on" for the side locations. Changes to the original phrases at this point may have consequences.

I also like the break in "At" in the center. "On" makes the center a one-syllable landmark if someone is moving fast.

[2017-09-08 18:28] jessegreenberg commented on #291
Sounds good.

[2017-09-08 18:50] jessegreenberg commented on #290
It isn't necessary, but @terracoda is it causing problems?  This is happening because of the implementation in scenery-phet/MultiLineText.

[2017-09-08 19:22] jessegreenberg commented on #290
We can override the options passed to scenery-phet/MultiLineText, but I am more just curious if a ```<p>``` tag inside of a button tag is generally problematic.

[2017-09-08 19:52] jessegreenberg commented on #290
I added the balloon settings content to the PDOM:
![balloon settings](https://user-images.githubusercontent.com/6396244/30228880-e3016604-949c-11e7-9e65-99aa978c2b53.PNG)

[2017-09-08 19:59] jessegreenberg commented on #290
Regarding https://github.com/phetsims/balloons-and-static-electricity/issues/290#issuecomment-328192099, we would need to set label and tagName to null for the MultiLineTexts, and add a function that update the accessible label on the wall button. At the moment, this is all being handled generally by sun/ToggleNode.  So it would be good to hear @terracoda response to https://github.com/phetsims/ba

[2017-09-08 21:21] jessegreenberg commented on #291
@terracoda fixed in the above commit, behaves like the first list in https://github.com/phetsims/balloons-and-static-electricity/issues/291#issue-255979432.

[2017-09-08 21:21] #291 closed

[2017-09-08 22:39] jessegreenberg commented on #289
The fix to this will require a keyup listener on the button.  We should make sure that the keyup listener is called when a screen reader is enabled. (often it isn't on buttons)

[2017-09-08 22:58] jessegreenberg commented on #289
Works great with NVDA.

[2017-09-08 23:04] jessegreenberg commented on #289
Something not  working in JAWS.  JAWS doesn't switch to forms mode when picking up balloon with enter.

[2017-09-08 23:06] jessegreenberg commented on #289
JAWS changes the timing for triggering the click event when pressing enter and spacebar. Screen readers are the worst.

[2017-09-08 23:15] jessegreenberg commented on #289
Lets try ARIA role=button. That should also fix all issues related to differences between enter and spacebar for the browser...unless sreen readers interject.

[2017-09-08 23:19] jessegreenberg commented on #289
For
[code]

NVDA reads  this as "blank" and ignores the keydown event listener attached to the div.

[2017-09-08 23:24] jessegreenberg commented on #289
In this example https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_button_role

they attached a keypress listener for when screen readers are disabled, and a click listener for when screen readers are enabled.  Gross.

[2017-09-09 00:14] terracoda commented on #290
@jessegreenberg, regarding the https://github.com/phetsims/balloons-and-static-electricity/issues/290#issuecomment-328192099, it is likely not a problem. It's not a good practice to put block-level elements inside inline elements.

Can you validate the code in the pdom to see if validates with errors?

[2017-09-09 22:16] terracoda commented on #290
@jessegreenberg, wrapping a p-tag inside a button is indeed invalid `html` code. Errors in markup code can cause inconsistent rendering, and possible confusion in the accessibility tree. It would good to fix the general handling of making a toggle button.

![button-p-error](https://user-images.githubusercontent.com/1902116/30244296-116ee9f4-9596-11e7-8f11-f8baf0f31991.png)

[2017-09-11 12:26] terracoda commented on #290
If the `p` element is needed, it would have to go around the `button`, rather than within it.

[2017-09-11 12:51] terracoda commented on #290
[Article from MDN on flow and phrasing content](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Flow_content) (new content categories for HTML5).

Generally speaking, what were block-level elements  now are referred to as containing _flow content_ and inline elements contain _phrasing content_

and

It is a similar categorization, but there are now more categories of con

[2017-09-11 16:16] jessegreenberg commented on #290
Thanks for investigating @terracoda, we will remove the p tags inside buttons. I think the best thing to do is to remove default accessible content out of MultilineText because I imagine we  will end up removing the p tags around text more often than adding them in PhET sims because of cases like this.

[2017-09-11 17:31] jessegreenberg commented on #290
Done in the above commits @terracoda, p tag removed from the button label.  Closing.

[2017-09-11 17:31] #290 closed

[2017-09-11 17:33] jessegreenberg commented on #289
I was wondering about using aria-roldescription with role=application so that AT don't mangle the events on button elements. But NVDA doesn't support roledescription, so that won't work.

[2017-09-11 18:16] jessegreenberg commented on #289
Maybe there is a way to detect if enter is down when the balloon receives focus?

[2017-09-11 18:25] arouinfar commented on #72
@jessegreenberg I've emailed you the new balloon assets.

[2017-09-11 19:19] jessegreenberg commented on #289
Also noticing it is possible to pick the balloon up again with spacebar if you try to release it and hold the button down for a little while.

[2017-09-11 19:46] jessegreenberg commented on #289
Just committed a fix that seems to work with NVDA and JAWS in firefox.  Will test with VO + Safari next. However, I noticed that JAWS doesn't enter forms mode on the balloon if the button is picked up with enter? Will  create an issue for that.

[2017-09-11 19:48] jessegreenberg opened #293 "JAWS resistant to forms mode with role=application"
You can now pick up and release the balloon with both enter and spacebar. When the balloon is picked up with spacebar, JAWS switches to forms mode and you can move the balloon with the letter keys.  When the balloon is picked up with enter, JAWS does NOT switch to forms mode (no audible beep, and letter keys move the virtual cursor).

@terracoda do you know why this might be happening?

[2017-09-11 20:00] jessegreenberg commented on #289
Works in Safari with VoiceOver!  Closing.

[2017-09-11 20:00] #289 closed

[2017-09-11 20:02] jessegreenberg commented on #263
Removing assignment until we come to a conclusion about what design for keyboard help dialog should be.

[2017-09-11 20:03] jessegreenberg commented on #137
Duplicate of #288, closing.

[2017-09-11 20:03] #137 closed

[2017-09-11 20:04] jessegreenberg commented on #168
Issue is stale, this has been well fleshed out in design documents.

[2017-09-11 20:04] #168 closed

[2017-09-11 20:05] jessegreenberg commented on #178
I am no longer exhibiting this on Safari. Performance issues related to a11y will be discussed in #288.

[2017-09-11 20:05] #178 closed

[2017-09-11 20:06] jessegreenberg commented on #182
Since JAWS does not recognize role=switch, we are using aria-pressed instead.

[2017-09-11 20:06] #182 closed

[2017-09-11 20:37] jessegreenberg commented on #231
@terracoda @emily-phet can this issue be closed?  I believe charge view descriptions for a11y have been reflected in the design doc.

[2017-09-11 20:39] jessegreenberg commented on #227
We have updated the grid and associated descriptions as part of a major overhaul of designs and implementation for BASE a11y that started a while ago.  Closing issue as the sim is up to date with the latest design docs.

[2017-09-11 20:39] #227 closed

[2017-09-11 20:42] jessegreenberg commented on #82
This was done in the above commit.  @terracoda  as a general practice, should focus also move the balloon to the foreground?

[2017-09-11 20:43] jessegreenberg commented on #82
Right now, the balloon just moves to the foreground when it is picked up.

[2017-09-12 11:22] terracoda commented on #293
@jessegreenberg, no I don't.
Just wondering if it has anything to do with key-up and key-down event differences when using either Space or Enter. We noticed some differences with Space and Enter behaviour when holding down those keys when testing Molecules and Light. I wonder if there are differences in a simple press and release?

I will need to check how JAWS handles these key events.

[2017-09-12 11:24] terracoda commented on #263
Assigned myself to keep it on my list. We will make decision after I review things for next week's Design Crit.

[2017-09-12 11:33] terracoda commented on #231
Yes, closing this issue. The design doc has been updated.

[2017-09-12 11:33] #231 closed

[2017-09-12 11:36] terracoda commented on #227
Awesome work @jessegreenberg !

[2017-09-12 11:41] terracoda commented on #82
Good question @jessegreenberg. I think I need to mull this over a little and play with the latest version. I need to think about the cases where the balloons are already over lapping.

How does this work in the mouse interaction?

[2017-09-12 15:53] jessegreenberg commented on #82
The balloon moves to the foreground when clicked with the mouse.

[2017-09-12 15:58] jessegreenberg commented on #293
Yes, that could definitely be, I will start looking there.  It would be good to also see if this is happening outside of the sim (in a JSFiddle).

[2017-09-12 18:08] jessegreenberg commented on #293
Here is a fiddle to observe behavior in a more vanilla context.
https://jsfiddle.net/tvsy0y30/

[2017-09-12 21:56] jessegreenberg commented on #293
Here is a JSFiddle to test:
https://jsfiddle.net/tvsy0y30/

[2017-09-12 23:20] jessegreenberg commented on #224
@terracoda we have balloon position at the end of release alerts now.  Tested each of the examples listed in https://github.com/phetsims/balloons-and-static-electricity/issues/224#issuecomment-285338660, it sounds correct (thought not exactly as listed because we have since changed the wording in many places).

[2017-09-12 23:20] #224 closed

[2017-09-12 23:40] jessegreenberg opened #294 "Balloon location descriptions incorrect on sweater"
Location descriptions are wrong when balloon is on sweater.

Looks like the balloon is using its left edge to generate those location descriptoins.

[2017-09-13 00:02] jessegreenberg commented on #294
Fixed in the above commit.

[2017-09-13 00:02] #294 closed

[2017-09-13 00:13] jessegreenberg opened #295 "Grabbed alert needs to be location dependent"
Reviewing the design docs, I noticed that the dragging alert needs to be dependent on location. For instance,  information about the sweater charges needs to be included if the balloon is over the sweater.

[2017-09-13 00:50] jessegreenberg commented on #295
Done in the above commits, closing.

[2017-09-13 00:50] #295 closed

[2017-09-13 14:27] terracoda commented on #293
@jessegreenberg, I do not know how to make sense of the fiddle example. What do the numbers mean?

[2017-09-13 16:03] jessegreenberg commented on #293
Sorry, it isn't well documented, just something quick to see if this is happening outside the sim.  First number is the key code, second number is a counter for events, just so we can still see the event if we happen to press the same key twice. By using this example with JAWS, we will see if this is a screen reader problem by seeing if any numbers change after pressing enter on the button.

[2017-09-13 16:31] jessegreenberg commented on #293
Indeed, this is not a problem for JAWS in that JSFiddle, something else is going on in the sim.

[2017-09-13 16:42] jessegreenberg commented on #293
Getting inconsistent results, sometimes JAWS works fine with enter to switch to forms mode in the sim.

[2017-09-13 16:57] jessegreenberg commented on #293
In the click listener, wrapping focus in a timeout makes the problem (mostly) go away, now JAWS switches to forms mode after pressing enter 95% of the time:

[code]

[2017-09-13 17:00] jessegreenberg commented on #293
While testing, I noticed that JAWS removes the differences between enter and spacebar that are typically implemented by the browser.  Typically, button click event is fired on down from enter and up from spacebar.  When JAWS is turned on, click is fired on down from both buttons.

We are not doing anything with keyup and keydown behavior on the button (because AT are so inconsistent in how they ha

[2017-09-13 17:12] jessegreenberg commented on #293
I am going to commit this, just tried picking up the balloon and releasing with enter and combinations of enter/spacebar and it worked 50/50 times with JAWS enabled.

JAWS treats enter and spacebar differently on forms elements (http://www.freedomscientific.com/Support/TechnicalSupport/Bulletin/1404), and my best guess is there is some implementation quirk that is causing performance to stutter wh

[2017-09-13 17:12] #293 closed

[2017-09-13 18:41] terracoda commented on #293
Awesome investigation, @jessegreenberg!

[2017-09-13 19:45] jessegreenberg commented on #279
The balloon should now move slightly to the left to prevent occlusion when the balloons overlap on the sweater.  @arouinfar @terracoda @ariel-phet could you please review how it behaves in this version?

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.4/balloons-and-static-electricity_en.html?accessibility

[2017-09-13 19:58] jessegreenberg commented on #225
Closing.  With the current design, we have a description like "Released. {{Balloon color}} {{described movement}} + {{other stuff}}

[2017-09-13 19:58] #225 closed

[2017-09-13 19:59] jessegreenberg commented on #223
I like that idea.  It has been a while, @terracoda can you please review this issue and let me know if this is still something that should be done?

[2017-09-13 20:00] jessegreenberg commented on #222
Described grid has been fully implemented to match design docs. Closing.

[2017-09-13 20:00] #222 closed

[2017-09-13 20:21] jessegreenberg commented on #221
This is no longer a problem, on load balloon is "At center of play area".

[2017-09-13 20:21] #221 closed

[2017-09-13 21:03] jessegreenberg commented on #223
@terracoda and I discussed.  We would like to proceed with this, but decision is dependent on a change in john-travoltage (https://github.com/phetsims/john-travoltage/issues/259), so adding on-hold label.

[2017-09-13 21:04] jessegreenberg commented on #220
Issue is quite stale, items in scene summary are being designed now to reflect new descriptions. Closing.

[2017-09-13 21:04] #220 closed

[2017-09-13 21:06] jessegreenberg commented on #80
This was fixed by #279 and #281.  Closing.

[2017-09-13 21:06] #80 closed

[2017-09-13 21:08] jessegreenberg commented on #205
After work in john-travoltage, we now know why.  VO has a "quick nav" setting that totally changes navigation strategies.  The way to access this is to press left and right arrow keys at the same time. In "quick nav" mode, arrow keys cannot be used in an application.

I think this issue can be closed. We can use the arrow keys to move the balloon on all platforms except JAWS with Firefox, and a bu

[2017-09-13 21:08] #205 closed

[2017-09-13 21:50] jessegreenberg opened #296 "Balloon grab alert incorrect at wall"
While reviewing description document, it looks like the description when grabbing the balloon at the wall is not correct. It is missing charge information about the wall.

[2017-09-13 22:01] jessegreenberg opened #297 "Balloon described locations missing "near" objects"
In described grid, I am never hearing "near sweater" or "near wall".  @terracoda pinging you since this is happening in the version  I just sent you.

[2017-09-13 22:47] arouinfar commented on #279
Looks good to me @jessegreenberg!

[2017-09-14 00:41] jessegreenberg commented on #297
Fixed in the above commit, closing.

[2017-09-14 00:41] #297 closed

[2017-09-14 14:06] terracoda opened #298 "Awkward release string on left side of Sweater."
When I release a balloon at the left edge (close to left side of sweater), the release string, includes "right towards wall", which is technically true, but the the first object to the right is the sweater, and the balloon attracts to the sweater and then stays there.

I think it would be better to use the closest object in the direction of movement in the release string, so a release on the left

[2017-09-14 14:18] jessegreenberg commented on #298
Good point @terracoda.

I like this a lot! But just to clarify, this would be removed in ALL release cases, not just when moving to the right when the balloon is released to the left of the sweater, correct?

[2017-09-14 14:30] terracoda commented on #298
Yes, definitely "all release cases."

[2017-09-14 14:30] jessegreenberg commented on #298
Great, lets do it!

[2017-09-14 14:33] terracoda commented on #298
OK, I will update the Release Alert section in the design documents. And see if there are any ramifications, but I don't think there will be any.

[2017-09-14 14:54] jessegreenberg commented on #298
@terracoda change applied in the above commit, "to object" phrase removed.  Removing my assignment.

[2017-09-14 16:12] terracoda commented on #297
@jessegreenberg, not an issue in latest version.

[2017-09-14 16:36] jessegreenberg commented on #297
Great! I would have expected this to be in the version I sent you.

[2017-09-14 16:37] terracoda commented on #297
hmm, I will check again ;-) I know I heard it, but maybe when I used the JN and JS keys.

[2017-09-14 19:24] terracoda commented on #297
@jessegreenberg, you were right. Using the cursor keys version 1.4.o-dev4 did not have this landmarks, but I heard them with the JS and JN hotkeys. Sorry for the confusion.

Looks like you fixed it.

[2017-09-14 19:33] terracoda commented on #279
Looks good to me, too @jessegreenberg.

[2017-09-14 19:54] terracoda commented on #298
@jessegreenberg, I updated the document.
In more complex alerts, Release Movement Pattern 4, I had to replace the "towards destination" string with the "direction" string.

Have you implemented Release pattern 4 yet? I think without the destination object it is much more general.

[2017-09-14 20:02] terracoda commented on #298
Yes, you have already implemented Release Pattern 4 with direction, so your commit likely takes care of all release. Closing this issue.

[2017-09-15 14:53] terracoda opened #299 "Text for Reset balloon(s) alert and is "uncharged" correct?"
In an email @jessegreenberg noticed we had no alert for when the Reset balloon(s) button is
pressed, and suggested:

"Balloons reset to initial locations and charged state." likely, based on the help text for this button, "Reset balloons to start positions and an uncharged state."

**Two issues:**
1. Is the term “uncharged” state incorrect in the help text? Does no net charge mean "uncharged"?

2.

[2017-09-15 15:47] jessegreenberg commented on #299
I was just brainstorming, wasn't considering the wording too much @terracoda so I'll bet it is OK as is.

Sounds great to me, Ill add this.

[2017-09-15 15:52] terracoda commented on #299
Ok, great! Let's go simple.

[2017-09-15 16:35] jessegreenberg commented on #299
Done in the above commit, closing.

[2017-09-15 16:36] jessegreenberg commented on #298
Awesome, thanks @terracoda!

[2017-09-15 16:36] #298 closed

[2017-09-15 18:41] terracoda opened #300 "Sweater description in the Grab Alert (when depleated of negative charges), not correct"
Just noticed in Version 1.4.0-dev.4 that the sweater's description in the Grab Alert is not correct once negative charges are depleted:

In Grab Alert:
"Sweater has all more positive charges than negative charges."

Grab Alert in this case should be:
"Sweater has no more negative charges, only positive charges."

Full Grab Alert example for this case:
"Grabbed. On right arm of sweater. Has many mo

[2017-09-18 18:54] pixelzoom opened #301 "inconsistent prefix for filenames"
This sim mixes conventions for filename prefix.  Some of the files use the "BASE" abbreviation (e.g BASEConstants.js), others use the full name "BalloonsAndStaticElectricity" (e.g. BalloonsAndStaticElectricityQueryParameters.js).

The choice of which convention to follow is up to the developer, but it should be applied consistently.

[2017-09-20 18:14] ariel-phet commented on #279
Looks good to me.

[2017-09-20 18:14] ariel-phet commented on #279
@terracoda I assume you could close this now?

[2017-09-20 19:38] terracoda commented on #279
Yes, closing. Thanks, @jessegreenberg.

[2017-09-20 19:38] #279 closed

[2017-09-20 19:47] terracoda commented on #82
@jessegreenberg, sorry, I forgot about this issue.

I think moving balloon to the foreground **as it is grabbed** makes the most sense. Nothing changes until the user makes an intentional grab interaction.

On release the balloon still has focus and it should stay in the foreground until the other balloon is grabbed.

[2017-09-20 19:50] terracoda commented on #82
@jessegreenberg the sim is working right now as described above, so can we close this issue?

[2017-09-20 19:59] jessegreenberg commented on #82
I believe so @terracoda thanks!

[2017-09-20 19:59] #82 closed

[2017-09-20 20:59] jessegreenberg commented on #301
Made consistent with the above commits, closing.

[2017-09-20 20:59] #301 closed

[2017-09-20 21:00] jessegreenberg commented on #301
Changed all to use "BASE" prefix instead of "BalloonsAndStaticElectricity".

[2017-09-20 21:50] jessegreenberg commented on #296
Location  of charges when describing induced charge is now incorrect. I am seeing things like "Charges in center of play area..."

[2017-09-20 22:02] jessegreenberg commented on #296
That part fixed in the above commit... Continuing review of grabbed alerts.

[2017-09-21 00:35] jessegreenberg commented on #296
Above commit fixes the 'Grabbed' alerts in "Showing all charges" cases.  I am testing out a new way of assembling long descriptions, instead of having a bunch of string patterns, I have one string pattern and then modify it when I need to pull placeholders out for different cases. I think it makes the code easier to read.

[2017-09-21 01:27] jessegreenberg commented on #296
Above commit makes  the grabbed alert match the design doc. Punctuation  is messed up, once that is fixed this can  be closed.

[2017-09-21 01:31] jessegreenberg commented on #296
We are in line with design doc! Closing.

[2017-09-21 01:31] #296 closed

[2017-09-21 01:32] jessegreenberg commented on #300
Understood, thanks @terracoda haven't quite gotten there yet.

[2017-09-21 19:55] terracoda opened #302 "Grab Balloon buttons missing on-demand help text."
The latest version of BASE seems to be missing the grab button on-demand help text:

"Get ready to move balloon. Once grabbed, press W, A, S, or D key to move up, left, down, or right. Space to release."

This content provides more detail than the interaction in in the grab alert.

The HTML should look similar to other button/help-text patterns:
[code]

[2017-09-22 12:31] jessegreenberg commented on #302
Hmm, sorry @terracoda looking into it.

[2017-09-22 12:43] jessegreenberg commented on #302
Fixed this issue in the above commits, here is what it looks like now.
![capture](https://user-images.githubusercontent.com/6396244/30744903-5c11cf9c-9f61-11e7-8fa4-f8bc4180a715.PNG)

[2017-09-22 12:43] #302 closed

[2017-09-22 13:03] jessegreenberg commented on #299
Reopening. We aren't preventing the other alerts when this happens, so we are hearing too much on balloon reset.

[2017-09-22 13:08] jessegreenberg commented on #299
Fixed in above commit, closing.

[2017-09-22 13:08] #299 closed

[2017-09-22 14:40] jessegreenberg opened #303 ""no net charge" should be changed to "zero net charge" everywhere"
From discussion in design doc, "no net charge" should be changed to "zero  net charge" to avoid repetition of "no" in cases like "Balloon has no net charge, showing no charges."

[2017-09-22 18:32] terracoda commented on #302
@jessegreenberg, thanks! Looks good.
And no need to apologize. Your work is awesome!

[2017-09-22 20:01] jessegreenberg opened #304 "Reconsider way balloon position updates are provided to AT"
With all due respect to @jessegreenberg, the way alerts about how the balloon position changes are sent to screen readers has has become a horrifying mess. It should be updated and improved, and I don't think it should all be in a callback for BalloonModel.positionProperty.

[2017-09-25 18:59] terracoda commented on #304
@jessegreenberg, I'm not sure what the exact issue is here.
However, Ashley had several issues when using JAWS today with both IE 11 and FF (fresh install) with JAWS. I am opening issues for those items.

[2017-09-25 19:15] terracoda opened #305 "Can't pick up charges and too few dragging alerts (JAWS 18 and IE 11)"
Using sim version 1.4.0-dev.4 and JAWS 18 with IE 11, user was not able to pick up charges from sweater when rubbing the balloon on the sweater.

Also, very few dragging alerts fired while moving across the Play Area
-  Only got dragging alerts every 3 or 4 key presses. User found that silent key presses were not reassuring. @jessegreenberg, could this be due to the described grid cell design, i.e

[2017-09-25 19:22] jessegreenberg commented on #304
The issue is that these alerts are sort of working, but they are a house of cards. Thanks for making new issues.

[2017-09-25 19:25] jessegreenberg commented on #305
@terracoda were you able to  see  the  user's  screen? We have  seen JAWS perform quite poorly when the DOM changes frequently, if I were to  guess I  would say this  is caused by #288.

[2017-09-25 19:25] terracoda opened #306 "Dragging alerts not heard unless moving really slowly (JAWS 18 and Firefox)"
Found in the same user session as to https://github.com/phetsims/balloons-and-static-electricity/issues/305

When we switched to Firefox (a fresh install) and JAWS 18
- No alerts fired, only key presses (A, A, A, ) were read out when moving in Play Area.
- Balloon did pick up negative charge, but I don’t think alerts fired.
- When user moved more slowly in the Play Area, the alerts fired. However,

[2017-09-25 19:27] terracoda commented on #305
@jessegreenberg, I was able to see the user's screen, and I could faintly hear the screen reader.

[2017-09-25 19:27] jessegreenberg commented on #306
@terracoda were you able to see the users screen? Was the balloon moving  at all when JAWS said "A, A, A..."?

[2017-09-25 19:31] terracoda commented on #306
Yes, I could see the screen and yes they balloon was moving as I heard A, A, A. The user was good at slowing down to the point where they heard the alert, but at that speed it was not very interactive. It was described as 5 or 10 seconds by the user, but probably more like 4 seconds between key presses.

[2017-09-25 19:34] jessegreenberg commented on #305
@terracoda great! Did the movement seem particularly slow or sluggish?

Possibly, Ill see if I can reproduce the problem. Alerts are limited by progress through a grid cell as well as time. There is a refresh rate of  ~2 seconds, if button was pressed faster than that it might might have been lost.  Maybe we need to  revert to linking alerts to key presses so something is heard every key press but

[2017-09-25 19:36] jessegreenberg commented on #306
Ok, ill see if I can reproduce the problem.

[2017-09-25 19:38] terracoda commented on #305
No, it did not seem too sluggish. It might have been a little sluggish, but I have seen worse. And it was regular movement.

[2017-09-25 19:42] terracoda opened #307 "Radio buttons not operable using Firefox and JAWS 18"
User kind of got stuck on the first radio button.

Arrow keys did not work at accessing or activating the other 2 radio buttons.
User did get to the other 2, but very inconsistently and they were never able to activate the 2nd and 3rd radios.

Sim version 1.4.0-dev.4

[2017-09-25 19:46] jessegreenberg commented on #307
@terracoda was the user used to using JAWS? We noticed that JAWS doesn't switch to forms mode like NVDA and VO for radio buttons in https://github.com/phetsims/a11y-research/issues/54, does it sound like something like that was happening?

[2017-09-26 01:43] terracoda commented on #307
@jessegreenberg, yes, the user typically uses JAWS, and tried several times to activate the radio buttons.

[2017-09-26 01:46] terracoda commented on #307
And, I did not hear the JAWS pop sound that indicates forms mode, so part of the problem may be the lack of forms mode. However, it seemed more than just a forms mode issue. It seemed like it was hard to move from radio button 1 to radio button 2 and 3.

[2017-09-26 20:44] jessegreenberg commented on #307
Ok, thanks @terracoda I will test locally and see if I can reproduce.

[2017-09-28 00:47] terracoda commented on #307
@jessegreenberg, today we tested the sim again with JAWS and FF. The user had the latest update for JAWS 18 professional (just got the update yesterday after our session).

It may be a coincidence, but we were able to activate the radio buttons this time.

You were right, radio buttons do not activate forms mode automatically. The user was able to use the Arrow keys to navigate to the 2nd and 3rd

[2017-09-28 01:06] terracoda opened #308 "Space key doesn't exit forms mode when used to grab the balloon (JAWS)"
As mentioned in #307, during usability testing of BASE version 1.4.0 Dev 4 we found some big difference between Enter and Space key for grabbing and releasing the balloon.

Pressing the Enter key to grab the balloon will exit forms mode and start the application role, thus making the WASD keys available for moving the balloon.

Pressing Space key to grab the balloon does not force JAWS to exit for

[2017-09-28 03:29] jessegreenberg commented on #307
When I submitted a bug report to VFO about this, they responded with

The description in https://github.com/phetsims/balloons-and-static-electricity/issues/307#issuecomment-332695464 does match this behavior though I also find it odd. But since this is as the JAWS devs intended it sounds like this is not really a bug. @terracoda do you agree and can this issue be closed?

[2017-09-28 03:29] jessegreenberg commented on #307
It sounds like performance was worse in the last trial, wondering if JAWS was getting stuck in the previous test for that reason.

[2017-09-28 03:34] jessegreenberg commented on #308
@terracoda yes, this almost sounds like a duplicate of https://github.com/phetsims/balloons-and-static-electricity/issues/293.

[2017-09-28 03:36] jessegreenberg commented on #308
Unfortunately, it looks like  1.4.0-dev.4 includes the workaround that was committed for #293, so it didn't quite fix it.

[2017-09-28 03:44] jessegreenberg commented on #308
Information about JAWS and role=application is here: http://www.freedomscientific.com/Support/TechnicalSupport/Bulletin/1404

That could be the problem, i need to make sure that ```application``` is on the parent container element of the balloon.

[2017-09-28 03:49] jessegreenberg commented on #308
Yes, here is the balloon
[code]
It might behave better like this:
[code]

[2017-09-28 04:14] jessegreenberg commented on #308
I notice that JAWS resists forms mode if I tab to the balloon and very quickly press enter/spacebar to pick it up.  Otherwise, it works consistently whether or not I have application role on the parent element or the balloon div itself.

[2017-09-28 14:40] terracoda commented on #307
Yes, I think we can close this one. I still think there is some weirdness about the radio buttons. We can test some more and see.

Closing for now.

[2017-09-28 14:40] #307 closed

[2017-09-28 14:48] terracoda commented on #308
@jessegreenberg, have you tried entering forms mode before grabbing the balloon with the Space key?

[2017-09-28 14:50] jessegreenberg commented on #308
@terracoda with a key command? How do you force JAWS into forms mode?

[2017-09-28 14:50] terracoda commented on #308
It seemed in our use yesterday that forms mode (launched by activating a radio button) and the launching of appilication role through the grab balloon button are different modes.

[2017-09-28 14:50] terracoda commented on #308
@jessegreenberg, I do not know the key to manually start forms mode, but if you activate the different radio buttons, you should hear a the Jaws forms-mode pop.

[2017-09-28 14:52] terracoda commented on #308
Yesterday, the participant tabbed to the radios and then used the arrow keys to get the 3rd one, and then hit enter to activate the Show charge differences radio button. I heard the JAWS forms-mode pop at that moment, I think.

[2017-09-28 14:54] jessegreenberg commented on #308
Oh for the radio buttons, yes that is what I am observing too.  Pressing "Enter" makes JAWS go into forms mode.  Tabbing away from them makes JAWS leave forms mode.

[2017-09-28 14:56] terracoda commented on #308
But if you try grabbing the balloon with the Space bar after activating a Radio with Enter, JAWS seems to not exit forms mode???

[2017-09-28 14:57] terracoda commented on #308
At least, that seemed to be our experience yesterday. The WASD keys did not work after activating the radio and the grabbing the balloon.

[2017-09-28 15:00] jessegreenberg commented on #308
Hmm, that is not what I am seeing.  Here are my steps with nodes about how JAWS behaves for me, can you please verify I am checking the right thing?

- Tab to Radio Button group
- Arrow key to second radio button (selected with virtual cursor)
- Press "Enter" (Second radio button selected, JAWS enters forms mode)
- Shift tab to balloon (JAWS reverts to  document mode)
- Pick up balloon with spaceb

[2017-09-28 15:07] jessegreenberg commented on #304
I started exploring some cleanup in the  above  branch but it broke too many things to merge into master for now.  Overall, improvements were made by linking things more directly to axon/Properties instead of ```step```, I would like to continue with that.

[2017-09-28 15:08] jessegreenberg opened #309 "new branch: grid-alerts"
For #304

[2017-09-28 15:13] jessegreenberg commented on #306
This and #305 both sound like performance issues to me.  I am not able to reproduce this problem.

[2017-09-28 15:17] jessegreenberg commented on #305
This and #306 sound like performance issues to me, I am not able to reproduce this on my machine.

[2017-09-28 17:13] terracoda commented on #308
Hmm, that's not how it appeared to work for the participant yesterday. JAWS did not seem to revert to document mode when moving to the Grab balloon button, and hitting Space to grab did not enter forms mode. However, it is hard to tell exactly what was going on because I could not see the exact key presses.

I'll have to ask her to try it again.

[2017-09-28 17:16] terracoda commented on #306
I'll find out the system details. It could just be that JAWS an ZOOM (even without screen sharing) just take up too many resources.

[2017-09-28 17:18] jessegreenberg commented on #308
I believe it! AT are highly unpredictable. Thanks.

[2017-09-28 18:32] jessegreenberg commented on #72
I added the new assets, they are looking great.
![capture](https://user-images.githubusercontent.com/6396244/30983893-fdd485f4-a448-11e7-9fd5-c5e32c47baf9.PNG)

[2017-09-28 18:50] jessegreenberg commented on #72
Since we checked in the balloon .ai assets we now have all assets for this sim, There is also an images/license.json.  I think this issue can be closed.

[2017-09-28 18:50] #72 closed

[2017-09-28 20:21] jessegreenberg opened #310 "Background color change"
The background color was recently changed so that it matches the blue background in other sims, but the sweater still has the old blue. The svg asset for the sweater has a transparent background.  @arouinfar would you be able to re-export the original asset with a transparent background?

[2017-09-28 20:21] jessegreenberg commented on #310
![capture](https://user-images.githubusercontent.com/6396244/30988683-553517f0-a458-11e7-9ea1-1058c4c5263c.PNG)

[2017-09-28 20:22] jessegreenberg commented on #310
Here is a link to  the svg file:
https://github.com/phetsims/balloons-and-static-electricity/blob/master/assets/sweater.svg

[2017-09-29 22:02] arouinfar commented on #310
@jessegreenberg I am unable to open the .svg in Illustrator. Do we have an .ai asset for this sweater somewhere?
![image](https://user-images.githubusercontent.com/8419308/31037667-667c4434-a52f-11e7-974e-e818588ec99a.png)

@amanda-phet can you give it a try and see if you run into the same error?

[2017-09-29 23:18] jessegreenberg commented on #310
That is all we have in assets. That is strange, I can open it without error in a browser.

[2017-10-02 21:52] arouinfar commented on #310
After some troubleshooting, I still can't get sweater.svg to open in Illustrator. Opening my local copy in Chrome resulted in:
![image](https://user-images.githubusercontent.com/8419308/31101108-7c3ee928-a789-11e7-83d1-2bb4dd315f75.png)

Line 15 of the code doesn't appear to have any syntactical differences from other similar lines, so I'm at a loss.

Spoke with @jessegreenberg, and it turns out t

[2017-10-02 22:11] jessegreenberg commented on #310
Looking into the svg, it would not be possible to draw this with Path.  I just  installed Illustrator today,  and for whatever reason it is not having any trouble opening the svg, I will see if I can export it without the backround.

[2017-10-02 22:15] jessegreenberg commented on #310
I re-exported with a transparent background,  it looks pretty good:

![capture](https://user-images.githubusercontent.com/6396244/31101874-c8a02e5a-a78c-11e7-8016-0b5c273f1f96.PNG)

[2017-10-02 22:16] jessegreenberg commented on #310
@arouinfar how would you like to proceed with the faulty asset?

[2017-10-02 22:20] jessegreenberg commented on #310
I re-saved the SVG (chose SVG 1.1, but I don't know what I am  doing), the file looks totally changed, maybe it will be valid now?  If it can be opened by @arouinfar Ill check in the changes.

[2017-10-02 22:21] arouinfar commented on #310
@jessegreenberg I can open the updated .svg in Illustrator. Once you check it into GitHub, we should be good to go.

[2017-10-02 22:25] jessegreenberg commented on #310
Great, thanks @arouinfar, closing.

[2017-10-02 22:25] #310 closed

[2017-10-03 00:20] jessegreenberg opened #311 "bayes error"
[code]

Probably from #310

[2017-10-03 00:21] jessegreenberg commented on #311
Fixed with the above commit.

[2017-10-03 00:21] #311 closed

[2017-10-04 16:35] terracoda opened #312 "Remove Grabbed balloon hint after successful interaction"
Screen reader consultant confirmed my idea that removing the long _Grabbed balloon hint_ after successful interaction would be a good thing.

"Once I know how to move the balloon, I don't need that information anymore."

Truncating the Grab Alert in this way also fits with the way we provide visual interaction cues.

Please make it so the _Grabbed balloon hint_ is there on the first grab, and on t

[2017-10-04 18:05] terracoda opened #313 "Not seeing or hearing Near sweater or Near wall landmarks when dragging balloon"
In version 1.4.0-dev.4, I do not see the Near sweater and Near wall landmarks. A crossed landmark should always be spoken when moving the balloon.

I see the landmarks if I use the jump-to hot keys, but during regular moving towards sweater or towards wall.

A user should not have to stop right on these 2 landmarks to hear them, but rather just cross them while going in the right direction. Does t

[2017-10-04 18:53] terracoda commented on #313
These landmarks are described under the heading [Dragging Alert 1: Landmark and Special Landmark Identification](https://docs.google.com/document/d/1WNVq5_-Hc9LSdeZVSn2edlwYwpHtGNT1ThFD9NXpZ5Q/edit#heading=h.h2vv8qkksmr4) in the design document.

[2017-10-04 18:55] terracoda commented on #313
Making sure these 2 landmarks are announced would possibly fill in some of the blank steps that were experienced recently by screen reader users.

[2017-10-04 20:14] terracoda commented on #313
@jessegreenberg, the screen reader users got way more blank/silent steps than I am getting, so I don't know how they are pressing their keyboard.

I can get 3 blank steps and very rarely 4 when using the arrow keys.
When using WASD keys, I generally only get single blank steps.

However, I did notice that while using Voice Over, the left and right arrow keys can get sluggish. The up and down arrow

[2017-10-04 20:26] terracoda commented on #313
Considering previous https://github.com/phetsims/balloons-and-static-electricity/issues/313#issuecomment-334275824 ensuring the "Near sweater" and "Near wall" landmarks are firing will greatly reduce the number of blank steps.

I am trying not to think of using key presses... With that said, I am wondering if the first step just mentions direction, then the second step indicates position, we might

[2017-10-05 14:20] terracoda opened #314 "Balloon is dropped unintentionally while pressing down right arrow key"
When using BASE with the keyboard, my grabbed balloon is dropped unintentionally when holding the right arrow key or down arrow key for distance about the width of the balloon.

It does not happen with WASD keys, or with the the left and up arrow keys.

Using BASE version [1.4.0 dev.4](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.4.0-dev.4/balloons-and-static-ele

[2017-10-05 14:58] terracoda opened #315 "Neutral balloon moves towards sweater when released over charged balloon on sweater"
This is likely an unintentional side effect of https://github.com/phetsims/balloons-and-static-electricity/issues/279. We were trying to visually place the balloons side by side when releasing one on sweater when the balloon that is being released is visually right in front of the un-grabbed balloon.

Should a neutral balloon ever move at all upon release?

Grabbed neutral balloon before release
<

[2017-10-05 17:18] jessegreenberg commented on #315
That is correct @terracoda, this is the behavior that we introduced in https://github.com/phetsims/balloons-and-static-electricity/issues/279 to address occlusion issues, and this movement was not indicative of charge. I think changing the behavior for neutral balloons would negate the reasons we decided to shift the balloon in that issue. @arouinfar @ariel-phet do you think this is an issue?

[2017-10-05 17:19] jessegreenberg commented on #314
I haven't run into this yet, Ill see if I can reproduce.  Was VoiceOver in use (or recently in use and turned off)?

[2017-10-05 17:24] terracoda commented on #314
@jessegreenberg, Voice Over was not on. I was just using the keyboard alone. I do go back and forth between using VO and then the keyboard alone, but I usually reload the sim often.

It seems to happen if two balloons are active or if two balloons have been active recently. Maybe it has something to do with two balloon activation?

[2017-10-05 17:30] jessegreenberg commented on #314
@terracoda how often does this happen?

VoiceOver has a bug where if you close it without restarting Safari, the OS will still  do weird things with keyboard events as if VoiceOver was still on, we saw this in john-travoltage. My initial guess is that this is happening. I am going to grab a OS machine to test now.

[2017-10-05 17:47] terracoda commented on #314
@jessegreenberg, you are absolutely right! It's VoiceOver and Mac OS causing this problem. I had not restarted VO between reloads of the sim.

It only happens after I use VoiceOver.

[2017-10-05 17:50] terracoda commented on #314
Re

I meant to say: I had not restarted Safari in between reloads.

[2017-10-05 17:51] jessegreenberg commented on #314
Great @terracoda, good to know. I also tried without VO on macOS 10.12.1 Safari and i haven't been able to get it to happen yet.

[2017-10-05 17:51] terracoda commented on #314
If this is a know issue, how should we mark this issue?

[2017-10-05 17:53] jessegreenberg commented on #314
With VoiceOver on in 1.4.0-dev.4 the arrow keys aren't working at ALL for me, do they  work  at all for you with VoiceOVer on @terracoda?

[2017-10-05 17:54] terracoda commented on #314
I'm using 10.12.3 and I haven't tried upgrading since the last I tried, I spent 3 days on the phone with AppleCare restoring my system.

It's possible that 10.12.3 might be the problem?

[2017-10-05 17:56] terracoda commented on #314
The left and right arrow keys can get a little sluggish, but they do generally work with VO on. WASD keys work consistently as designed, so they are the better option.

[2017-10-05 17:58] jessegreenberg commented on #314
Possible, it looks like 10.12.1 is also very problematic.

[2017-10-05 18:00] terracoda commented on #314
Why do platform OSs even versions of OSs have to differ so much????

[2017-10-05 19:37] jessegreenberg commented on #314
Arrggh, I had "quick nav" on, and VO was keeping that setting toggled when turning it off. Turning quick  nav off and the arrow keys work again.

[2017-10-05 19:42] terracoda commented on #314
Hmm, with Quick Nav off, it is still broken for me.
Did you still have o reload Safari after turning quick nav off?

[2017-10-05 19:44] jessegreenberg commented on #314
Sorry, what is broken? I thought the arrow keys were generally working for you, do you mean it is releasing after pressing and holding?

[2017-10-05 19:45] jessegreenberg commented on #314
Just verified that pressing and holding is broken for me too when VO is on. :(

[2017-10-05 19:45] jessegreenberg commented on #314
It is happening consistently, every time.

[2017-10-05 19:45] terracoda commented on #314
Yes, releasing after pressing and holding, but still working.

[2017-10-05 22:04] jessegreenberg commented on #314
@terracoda in user settings Accessibility/Keyboard -> Keyboard Preferences -> Key Repeat

If I turn off Key Repeat the problem goes away.  Can you please confirm?

[2017-10-05 22:06] jessegreenberg commented on #314
Similarly, if I slide the "Delay Until Repeat" slider all the way to "short", I cant drag the balloon as far before encountering the problem.

[2017-10-05 22:13] jessegreenberg commented on #314
Watching events, I can see that the balloon is released when a second 'keydown' event comes through because of key repeat. For some reason, VO doesn't like this, but *only for the right arrow key*.

[2017-10-05 22:17] jessegreenberg commented on #314
Aha! The KeyboardDragHandler has this code:

[code]

We need to reverse this order so that ```preventDefault`` can be called always before returning out.

[2017-10-05 22:20] jessegreenberg commented on #314
Should be fixed in the above commit, but @terracoda it would be great for you to verify in a version, Ill paste next dev version here and assign to you once it is ready.

[2017-10-05 22:37] jessegreenberg commented on #313
Thanks @terracoda, verified, Im looking into it now.

In the sim, there is no such thing as one 'step'.  When the balloon moves, it moves *continuously* (maybe a pixel or two with good performance). How far the balloon moves is dependent on how long a key is held down in milliseconds.  I think that thinking in terms of steps would require a change to the entire interaction pattern for the balloon.

[2017-10-05 23:27] jessegreenberg commented on #315
I don't really see this as an unintentional side effect, just the behavior that was decided in #279.

[2017-10-06 00:10] jessegreenberg commented on #313
Alright, landmarks should be in there now, but it would be great for @terracoda  to verify in the next version so makring as "pending testing" and will reassign once next version is ready.

[2017-10-06 00:30] jessegreenberg commented on #312
Sounds good,  applied in the above commit @terracoda.

[2017-10-06 11:57] terracoda commented on #313
@jessegreenberg, thanks! And I agree about not thinking about it the interaction in steps. I am just having trouble understanding how keyboard presses relate to the drag velocity property.

Looking forward to hearing the new version :-)

[2017-10-06 12:17] terracoda commented on #315
@jessegreenberg, my concern is that there is visual movement now for an uncharged balloon. That seems like an incorrect representation of the science.

Would it be difficult to limit the movement to balloons with charge that actually attract to the sweater based on the model?

[2017-10-09 17:45] jessegreenberg commented on #308
This could be a user setting issue, in JAWS you can decide how/when it enters forms mode.

Acrobat, etc. When set to Auto, you will be able to navigate to controls with the ARROW keys where input is needed and JAWS will automatically switch to Forms Mode.
If you continue to arrow past the control, Forms mode will be disabled again automatically. It will make interacting with Forms much more transp

[2017-10-09 19:27] terracoda commented on #308
@jessegreenberg, I will check with the user where their typical setting is.

[2017-10-10 20:43] jessegreenberg opened #316 "Uncaught TypeError: t.phetioValueType.toStateObject is not a function"
[code]

This error is cropping up on continuous testing, looks phet-io related, @zepumph is this related to any recent work?

[2017-10-10 21:12] zepumph commented on #316
Thanks!

[2017-10-10 21:12] #316 closed

[2017-10-11 18:56] terracoda opened #317 "Reconsider aria-role="switch" for two-balloon experiments"
In recent screen reader session, VO user commented that that state and type of the control was not clear.

Note from session:

User agreed that 2 radio buttons would be very verbose and suggested we use a plain checkbox, or a button with a changing label. These are both good options. Wording of the label is most crucial.

[2017-10-11 19:14] jessegreenberg commented on #317
@terracoda could you please elaborate on why radio buttons are too verbose?

[2017-10-11 19:14] terracoda commented on #317
@jessegreenberg, what do you think of representing the two-balloon interaction as a plain checkbox, rather than a toggle or a switch?

It might sound something like this when using a screen reader:
- "Two-balloon experiment, checkbox not checked" and when checked
- "Two-balloon experiment, checkbox checked"

Visually, there is no checkbox, but in the unchecked state the single balloon picture is a